{% extends "global/layout.html" %}
{% block title %}Comparing I2P to other projects{% endblock %}
{% block content %}
<p>
There are a great many other applications and projects working on anonymous 
communication and I2P has been inspired by much of their efforts.  This is not 
a comprehensive list of anonymity resources - both freehaven's 
<a href="http://freehaven.net/anonbib/topic.html">Anonymity Bibliography</a>
and GNUnet's <a href="https://www.gnunet.org/links/">related projects</a>
serve that purpose well.  That said, a few systems stand out for further
comparison. The following have individual comparison pages:
</p>

<ul>
  <li><a href="{{ site_url('about/comparison/tor') }}">Tor / Onion Routing</a></li>
  <li><a href="{{ site_url('about/comparison/freenet') }}">Freenet</a></li>
  {#<li><a href="{{ site_url('about/comparison/gnunet') }}">GNUnet</a></li>#}
</ul>

<p>
The following are discussed on the <a href="{{ site_url('about/comparison/othernetworks') }}">other networks page:</a>
</p>

<ul>
  <li>Morphmix and Tarzan</li>
  <li>Mixminion / Mixmaster</li>
  <li>JAP</li>
  <li>MUTE / AntsP2P</li>
  <li>Haystack</li>
</ul>

<p>
The content of this page is subject to update, discussion and dispute, and we welcome comments and additions.
You may contribute an analysis by entering a <a href="http://{{ i2pconv('trac.i2p2.i2p') }}/report/1">new ticket on Trac</a>.
</p>

{% endblock %}
