{% extends "global/layout.html" %}
{% block title %}I2PCon 2015{% endblock %}
{% block content %}

<p>
{% trans -%}
I2PCon 2015 was the first event of its kind. It had two short term goals.
First, to provide the general public with an event where knowledge about privacy could be obtained.
Second, to further the I2P project and its community with technical discussions
about cryptography, anonymity and I2P-centric topics.
{%- endtrans %}
</p>

<p>
{% trans -%}
A a larger and more long-term goal of this event was to build a
commnutiy of privacy-conscious individuals. By connecting people who recognize
the importance of privacy, we wanted to provide a forum where this community can grow.
{%- endtrans %}
</p>

<p>
{% trans -%}
The idea for this event was first spawned by our wonderful friends at
<a href="https://torontocrypto.org/">Toronto Crypto</a>.
The venue was provided by <a href="https://hacklab.to/">Hacklab.to</a>.
Without them this event would not have been possible.
{%- endtrans %}
</p>

<h3>{% trans %}Slides and Video{% endtrans %}</h3>

<p>{% trans -%}
Slides are also available as an in-I2P torrent.
{%- endtrans %}
(<a href="magnet:?xt=urn:btih:5449d9e20c18d411de1f717a4278e1cc5fd754cf&dn=I2PCon+2015+Slides&tr=http://tracker2.postman.i2p/announce.php">magnet link</a>)
(<a href="http://tracker2.postman.i2p/index.php?view=TorrentDetail&id=33039">tracker page</a>)
</p>

<p>{% trans -%}
Note: Video links will be posted as they become available.
{%- endtrans %}
</p>

<table><tr>
<th>{% trans %}Talk{% endtrans %}</th>
<th>{% trans %}Presenter{% endtrans %}</th>
<th>{% trans %}Video{% endtrans %}</th>
<th>{% trans %}Slides{% endtrans %} (pdf)</th>
<th>{% trans %}Slides{% endtrans %} (odp)</th>

<tr><th colspan="5">{% trans %}Day 1{% endtrans %}</th></tr>

</tr><tr>
<td>Introduction</td>
<td>zzz, Nick D., J</td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-Intro.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-Intro.odp">odp</a></td>

</tr><tr>
<td>TOS and PII - What happens to your data when the company gets bought and sold?</td>
<td>Nick Johnston</td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-NickJohnston-WebsiteTOSvsYourPII.pdf">pdf</a></td>
<td align="center">--</td>

</tr><tr>
<td>Growing the Network, Spreading the Word</td>
<td>zzz</td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-GrowingTheNetwork.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-GrowingTheNetwork.odp">odp</a></td>

</tr><tr>
<td>Roundtable Discussion</td>
<td>Colin, David Dagon, Nick Johnston, zzz</td>
<td align="center"></td>
<td align="center">--</td>
<td align="center">--</td>

</tr><tr>
<td>Cryptoparty Introduction</td>
<td>J</td>
<td align="center"></td>
<td align="center">--</td>
<td align="center">--</td>

<tr><th colspan="5">{% trans %}Day 2{% endtrans %}</th></tr>

</tr><tr>
<td>I2P Monitoring and Filtration</td>
<td>David Dagon</td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-dagon-MonitoringAndFiltration.pdf">pdf</a></td>
<td align="center">--</td>

</tr><tr>
<td>The Connection Limit Challenge</td>
<td>zzz</td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-ConnectionLimitChallenge.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-ConnectionLimitChallenge.odp">odp</a></td>

</tr><tr>
<td>Hello from Lance</td>
<td>Lance James</td>
<td align="center"></td>
<td align="center">--</td>
<td align="center">--</td>

</tr><tr>
<td>I2P Application Development Introduction</td>
<td>psi</td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-psi-AppDevIntro.pdf">pdf</a></td>
<td align="center">--</td>

</tr><tr>
<td>The Agony and the Ecstasy of I2P on Android</td>
<td>str4d</td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-str4d-Android.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-str4d-Android.odp">odp</a></td>

</tr><tr>
<td>HORNET Overview</td>
<td>str4d</td>
<td align="center">--</td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-str4d-HORNET.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-str4d-HORNET.odp">odp</a></td>

</tr><tr>
<td>Roadmap and Organizational Meetings</td>
<td>zzz</td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-RoadmapAndOrganizationMeetings.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-RoadmapAndOrganizationMeetings.odp">odp</a></td>

</table>

{% endblock %}
