{% extends "global/layout.html" %}
{% block title %}I2PCon 2015{% endblock %}
{% block content %}

<p>
{% trans -%}
I2PCon 2015 was the first event of its kind. It had two short term goals.
First, to provide the general public with an event where knowledge about privacy could be obtained.
Second, to further the I2P project and its community with technical discussions
about cryptography, anonymity and I2P-centric topics.
{%- endtrans %}
</p>

<p>
{% trans -%}
A a larger and more long-term goal of this event was to build a
commnutiy of privacy-conscious individuals. By connecting people who recognize
the importance of privacy, we wanted to provide a forum where this community can grow.
{%- endtrans %}
</p>

<p>
{% trans -%}
The idea for this event was first spawned by our wonderful friends at
<a href="https://torontocrypto.org/">Toronto Crypto</a>.
The venue was provided by <a href="https://hacklab.to/">Hacklab.to</a>.
Without them this event would not have been possible.
{%- endtrans %}
</p>

<h3>{% trans %}Slides and Video{% endtrans %}</h3>

<p>{% trans -%}
Slides are also available as an in-I2P torrent.
{%- endtrans %}
(<a href="magnet:?xt=urn:btih:5449d9e20c18d411de1f717a4278e1cc5fd754cf&amp;dn=I2PCon+2015+Slides&amp;tr=http://tracker2.postman.i2p/announce.php">magnet link</a>)
(<a href="http://tracker2.postman.i2p/index.php?view=TorrentDetail&id=33039">tracker page</a>)
</p>

<p>{% trans -%}
Note: Video links will be posted as they become available.
{%- endtrans %}
<p>{% trans -%}
Note that in-I2P torrents may also be available on the clearnet due to bridging by Vuze clients.
{%- endtrans %}
</p>

<table><tr>
<th colspan="5"><h4>{% trans %}Day 1{% endtrans %}</h4></th>

</tr><tr>
<th>{% trans %}Talk{% endtrans %}</th>
<th>{% trans %}Presenter{% endtrans %}</th>
<th colspan="2">{% trans %}Video{% endtrans %}</th>
<th colspan="2">{% trans %}Slides{% endtrans %}</th>

</tr><tr>
<td></td>
<td></td>
<td align="center">720p MP4</td>
<td align="center">480p MP4</td>
<td></td>
<td></td>


</tr><tr>
<td>Introduction</td>
<td>zzz, Nick D., J</td>
<td align="center"><a href="magnet:?xt=urn:btih:6843adf1dd0c2b3902806d81b225932f17fb6780&amp;dn=20150815_01Intro_I2PCon.mp4&amp;tr=http://tracker2.postman.i2p/announce.php">I2P magnet link (339MB)</a><br />
                   <a href="magnet:?xt=urn:btih:6843adf1dd0c2b3902806d81b225932f17fb6780&amp;dn=20150815_01Intro_I2PCon.mp4&amp;tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337&amp;tr=udp%3A%2F%2Ftracker.blackunicorn.xyz%3A6969&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&amp;tr=udp%3A%2F%2Fopen.demonii.com%3A1337">Clearnet magnet link (339MB)</a></td>
<td align="center"><a href="magnet:?xt=urn:btih:5f0396645c3588252ac1e0adfd11eca5da96a1f8&amp;dn=20150815_01Intro_I2PCon480p.mp4&amp;tr=http://tracker2.postman.i2p/announce.php">I2P magnet link (125MB)</a><br />
                   <a href="magnet:?xt=urn:btih:5f0396645c3588252ac1e0adfd11eca5da96a1f8&amp;dn=20150815_01Intro_I2PCon480p.mp4magnet:?xt=urn:btih:e16f0835c5468cfc5dc8142daa6b90cac7847845&amp;dn=20150815_04PanelDiscussion_I2PCon480p.mp4&amp;tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337&amp;tr=udp%3A%2F%2Ftracker.blackunicorn.xyz%3A6969&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&amp;tr=udp%3A%2F%2Fopen.demonii.com%3A1337">Clearnet magnet link (125MB)</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-Intro.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-Intro.odp">odp</a></td>

</tr><tr>
<td>TOS and PII - What happens to your data when the company gets bought and sold?</td>
<td>Nick Johnston</td>
<td align="center"><a href="magnet:?xt=urn:btih:8f5cc016a7674e0ce48deec50bc9dc8f7d45a04b&amp;dn=20150815_02NickJohnston_TOSvsPII_I2PCon.mp4&amp;tr=http://tracker2.postman.i2p/announce.php">I2P magnet link (659MB)</a><br />
                   <a href="magnet:?xt=urn:btih:8f5cc016a7674e0ce48deec50bc9dc8f7d45a04b&amp;dn=20150815_02NickJohnston_TOSvsPII_I2PCon.mp4&amp;tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337&amp;tr=udp%3A%2F%2Ftracker.blackunicorn.xyz%3A6969&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&amp;tr=udp%3A%2F%2Fopen.demonii.com%3A1337">Clearnet magnet link (659MB)</a></td>
<td align="center"><a href="magnet:?xt=urn:btih:a4975953d9c231facbd3c736677243d4f24c812e&amp;dn=20150815_02NickJohnston_TOSvsPII_I2PCon480p.mp4&amp;tr=http://tracker2.postman.i2p/announce.php">I2P magnet link (202MB)</a><br />
                   <a href="magnet:?xt=urn:btih:a4975953d9c231facbd3c736677243d4f24c812e&amp;dn=20150815_02NickJohnston_TOSvsPII_I2PCon480p.mp4magnet:?xt=urn:btih:e16f0835c5468cfc5dc8142daa6b90cac7847845&amp;dn=20150815_04PanelDiscussion_I2PCon480p.mp4&amp;tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337&amp;tr=udp%3A%2F%2Ftracker.blackunicorn.xyz%3A6969&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&amp;tr=udp%3A%2F%2Fopen.demonii.com%3A1337">Clearnet magnet link (202MB)</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-NickJohnston-WebsiteTOSvsYourPII.pdf">pdf</a></td>
<td align="center">--</td>

</tr><tr>
<td>Growing the Network, Spreading the Word</td>
<td>zzz</td>
<td align="center"><a href="magnet:?xt=urn:btih:636fc73ad9d340fae440050a9b972bbab84e0133&amp;dn=20150815_03zzz_GrowingNetworkSpreadingWord_I2PCon.mp4&amp;tr=http://tracker2.postman.i2p/announce.php">I2P magnet link (720p mp4 956MB)</a><br />
                   <a href="magnet:?xt=urn:btih:636fc73ad9d340fae440050a9b972bbab84e0133&amp;dn=20150815_03zzz_GrowingNetworkSpreadingWord_I2PCon.mp4&amp;tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337&amp;tr=udp%3A%2F%2Ftracker.blackunicorn.xyz%3A6969&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&amp;tr=udp%3A%2F%2Fopen.demonii.com%3A1337">Clearnet magnet link (720p mp4 956MB)</a></td>
<td align="center"><a href="magnet:?xt=urn:btih:bc7408733e4a218eba633686aa80ea6eadef9e36&amp;dn=20150815_03zzz_GrowingNetworkSpreadingWord_I2PCon480p.mp4&amp;tr=http://tracker2.postman.i2p/announce.php">I2P magnet link (249MB)</a><br />
                   <a href="magnet:?xt=urn:btih:bc7408733e4a218eba633686aa80ea6eadef9e36&amp;dn=20150815_03zzz_GrowingNetworkSpreadingWord_I2PCon480p.mp4magnet:?xt=urn:btih:e16f0835c5468cfc5dc8142daa6b90cac7847845&amp;dn=20150815_04PanelDiscussion_I2PCon480p.mp4&amp;tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337&amp;tr=udp%3A%2F%2Ftracker.blackunicorn.xyz%3A6969&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&amp;tr=udp%3A%2F%2Fopen.demonii.com%3A1337">Clearnet magnet link (249MB)</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-GrowingTheNetwork.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-GrowingTheNetwork.odp">odp</a></td>

</tr><tr>
<td>Roundtable Discussion</td>
<td>Colin, David Dagon, Nick Johnston, zzz</td>
<td align="center"><a href="magnet:?xt=urn:btih:eb77820d2b201ace227b181e18b9e626457256bd&amp;dn=20150815_04PanelDiscussion_I2PCon.mp4&amp;tr=http://tracker2.postman.i2p/announce.php">I2P magnet link (995MB)</a><br />
                   <a href="magnet:?xt=urn:btih:eb77820d2b201ace227b181e18b9e626457256bd&amp;dn=20150815_04PanelDiscussion_I2PCon.mp4&amp;tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337&amp;tr=udp%3A%2F%2Ftracker.blackunicorn.xyz%3A6969&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&amp;tr=udp%3A%2F%2Fopen.demonii.com%3A1337">Clearnet magnet link (995MB)</a></td>
<td align="center"><a href="magnet:?xt=urn:btih:e16f0835c5468cfc5dc8142daa6b90cac7847845&amp;dn=20150815_04PanelDiscussion_I2PCon480p.mp4&amp;tr=http://tracker2.postman.i2p/announce.php">I2P magnet link (261MB)</a><br />
                   <a href="magnet:?xt=urn:btih:e16f0835c5468cfc5dc8142daa6b90cac7847845&amp;dn=20150815_04PanelDiscussion_I2PCon480p.mp4magnet:?xt=urn:btih:e16f0835c5468cfc5dc8142daa6b90cac7847845&amp;dn=20150815_04PanelDiscussion_I2PCon480p.mp4&amp;tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337&amp;tr=udp%3A%2F%2Ftracker.blackunicorn.xyz%3A6969&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&amp;tr=udp%3A%2F%2Fopen.demonii.com%3A1337">Clearnet  magnet link (261MB)</a></td>
<td align="center">--</td>
<td align="center">--</td>

</tr><tr>
<td>Cryptoparty Introduction</td>
<td>J</td>
<td align="center">--</td>
<td align="center">--</td>
<td align="center">--</td>
<td align="center">--</td>

</tr><tr>
<th colspan="5"><h4>{% trans %}Day 2{% endtrans %}</h4></th>

</tr><tr>
<th>{% trans %}Talk{% endtrans %}</th>
<th>{% trans %}Presenter{% endtrans %}</th>
<th colspan="2">{% trans %}Video{% endtrans %}</th>
<th colspan="2">{% trans %}Slides{% endtrans %}</th>

</tr><tr>
<td></td>
<td></td>
<td align="center">720p MP4</td>
<td align="center">480p MP4</td>
<td></td>
<td></td>

</tr><tr>
<td>I2P Monitoring and Filtration</td>
<td>David Dagon</td>
<td align="center"><a href="magnet:?xt=urn:btih:2acbaca3fbdb61ff604ba518bb8583188308e4c9&amp;tr=http://tracker2.postman.i2p/announce.php">I2P magnet link (885MB)</a><br />
                   <a href="magnet:?xt=urn:btih:2acbaca3fbdb61ff604ba518bb8583188308e4c9&amp;dn=20150815_03zzz_GrowingNetworkSpreadingWord_I2PCon.mp4&amp;tr=udp%3A%2F%2Ftracker.internetwarriors.net%3A1337&amp;tr=udp%3A%2F%2Ftracker.blackunicorn.xyz%3A6969&amp;tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&amp;tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&amp;tr=udp%3A%2F%2Fopen.demonii.com%3A1337">Clearnet magnet link (885MB)</a></td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-dagon-MonitoringAndFiltration.pdf">pdf</a></td>
<td align="center">--</td>

</tr><tr>
<td>The Connection Limit Challenge</td>
<td>zzz</td>
<td align="center"><a href="magnet:?xt=urn:btih:d39247352a6e48688e8fe484518545031b9cc36a&dn=20150816_06ConnectionLimitChallenge_I2PCon.mp4&amp;tr=http://tracker2.postman.i2p/announce.php">I2P magnet link (722MB)</a></td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-ConnectionLimitChallenge.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-ConnectionLimitChallenge.odp">odp</a></td>

</tr><tr>
<td>Hello from Lance</td>
<td>Lance James</td>
<td align="center"></td>
<td align="center"></td>
<td align="center">--</td>
<td align="center">--</td>

</tr><tr>
<td>I2P Application Development Introduction</td>
<td>psi</td>
<td align="center"></td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-psi-AppDevIntro.pdf">pdf</a></td>
<td align="center">--</td>

</tr><tr>
<td>The Agony and the Ecstasy of I2P on Android</td>
<td>str4d</td>
<td align="center"></td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-str4d-Android.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-str4d-Android.odp">odp</a></td>

</tr><tr>
<td>HORNET Overview</td>
<td>str4d</td>
<td align="center">--</td>
<td align="center">--</td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-str4d-HORNET.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-str4d-HORNET.odp">odp</a></td>

</tr><tr>
<td>Roadmap and Organizational Meetings</td>
<td>zzz</td>
<td align="center"></td>
<td align="center"></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-RoadmapAndOrganizationMeetings.pdf">pdf</a></td>
<td align="center"><a href="https://download.i2p2.de/media/i2pcon/2015/slides/I2PCon-2015-zzz-RoadmapAndOrganizationMeetings.odp">odp</a></td>

</table>

{% endblock %}
