{% extends "_layout_de.html" %}
{% block title %}Belohnung I2P IPv6 native{% endblock %}
{% block content %}<p>
Um die Zukunftsf&auml;higkeit von I2P zu erh&ouml;hen habe ich die
Belohnung zum Vuze Plugin zur&uuml;ckgezogen und mit diesem Geld
diese Belohnung auf die volle IPv6 F&auml;higkeit von I2P 
ausgesetzt.
Um diese Belohnung zu bekommen, muss I2P auf einer IPv6 Verbindung
funktionieren wie es derzeitig auf IPv4 funktioniert. 
</p>
<br>
<p>
Hinweis:
Um die Belohnung f&uuml;r die Anwendungen zu reklamieren, wird das Programm
und der Quelltext ben&ouml;tigt.
Der Quelltext muss unter einer freien Lizenz (frei zu verteilen und frei zum
&auml;ndern) stehen.
Der Autor darf nicht von einer anderen Organisation oder Gruppe bezahlt werden
f&uuml;r den Quelltext (z.B. GSoC Studenten sind NICHT erlaubt).</p>


<p><i>Hinweis 2: Die H&ouml;he des Betrags kann durch weitere Spenden steigen.
Findest Du diese Teile wichtig? <a href="donate_de">Spende einen Betrag</a>
f&uuml;r die Belohnung zur Fertigstellung diese Software!</i></p>

{% endblock %}
