{% extends "_layout_el.html" %}
{% block title %}Ληψη{% endblock %}
{% block content %}
<h1>Ληψη I2P</h1>
<h3>Εξάρτηση</h3>
Java Runtime 1.5 ή νεότερο.
(<a href="http://java.com/download/">Oracle/Sun Java Version 6</a>,
<a href="http://openjdk.java.net/install/">OpenJDK 6</a>, ή
<a href="http://icedtea.classpath.org/wiki/Main_Page">IcedTea6</a>
 συνιστάται)
<br />
<a href="http://java.com/en/download/installed.jsp?detect=jre&amp;try=1">Βρείτε την έκδοση Java που έχετε εδώ</a>
ή πληκτρολογήστε <tt>java -version</tt> στη γραμμή εντολών.
<h3>Εγκατάσταση</h3>
<ul class="downloadlist">
<li><b>Εγκατάσταση με γραφικό περιβάλλον για Windows:</b><br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.5_windows.exe">i2pinstall_0.9.5_windows.exe</a>
    (SHA256
d904878f1feb758afb75cae31af52e3504b43b5ff531c060d902145a19eec56e
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.5_windows.exe.sig">sig</a>)<br />
    Κατεβάστε αυτό το αρχείο και εκτελέστε το.
</li>

<li><b>Εγκατάσταση με γραφικό περιβάλλον για Linux / BSD / Solaris:</b><br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.5.jar">i2pinstall_0.9.5.jar</a>
    (SHA256
af251596e034b751dc17b73bd35254b94f92d4a3121a6e96479c45c4d846ab30
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.5.jar.sig">sig</a>)<br />
    Κατεβάστε αυτό το αρχείο και κάντε διπλό "κλικ" (εάν δουλεύει) ή
    πληκτρολογήστε <code>java -jar i2pinstall_0.9.5.jar</code> στη γραμμή εντολών
    για να τρέξετε την εγκατάσταση.
    Σε μερικές πλατφόρμες μπορείτε να κάνετε δεξιό "κλικ" και να επιλέξετε
    &quot;Open with Java&quot;.</li>

<li><b>Εγκατάσταση από γραμμή εντολών (headless) για Linux / BSD / Solaris:</b><br />
    Κατεβάστε την εγκατάσταση με γραφικό περιβάλλον από παραπάνω και εκτελέστε
    <code>java -jar i2pinstall_0.9.5.jar -console</code> στη γραμμή εντολών.
</li>

<li><a href="/debian.html">Πακέτα για Debian &amp; Ubuntu</a></li>

<li><b>OS X Graphical installer:</b><br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.5.jar">i2pinstall_0.9.5.jar</a>
    (SHA256
af251596e034b751dc17b73bd35254b94f92d4a3121a6e96479c45c4d846ab30
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.5.jar.sig">sig</a>)<br />
    Κατεβάστε αυτό το αρχείο και κάντε διπλό "κλικ" (εάν δουλεύει) ή
    πληκτρολογήστε <code>java -jar i2pinstall_0.9.5.jar</code> στη γραμμή εντολών
    για να τρέξετε την εγκατάσταση.
    Σε μερικές πλατφόρμες μπορείτε να κάνετε δεξιό "κλικ" και να επιλέξετε
    &quot;Open with Java&quot;.
</li>

<li><b>Εγκατάσταση από γραμμή εντολών (headless) για OS X:</b><br />
    Κατεβάστε την εγκατάσταση με γραφικό περιβάλλον από παραπάνω και εκτελέστε
    <code>java -jar i2pinstall_0.9.5.jar -console</code> στη γραμμή εντολών.
</li>

<li><b>Εγκατάσταση από πηγαίο κώδικα:</b><br />
    <a href="http://mirror.i2p2.de/i2psource_0.9.5.tar.bz2">i2psource_0.9.5.tar.bz2</a>
    (SHA256
441eac3cb7f25c03e7711c7d516626dc86ba6ad373145ab802d150848262c7c2
     <a href="http://mirror.i2p2.de/i2psource_0.9.5.tar.bz2.sig">sig</a>)<br />
    Εναλλακτικά, μπορείτε να πάρετε τον πηγαίο κώδικα από το <a href="newdevelopers#getting-the-i2p-code">monotone</a>.
    <br />
    Εκτελέστε <code>(tar xjvf i2psource_0.9.5.tar.bz2 ; cd i2p-0.9.5 ; ant pkg)</code> και μετά
    είτε τρέξτε την εγκατάσταση με γραφικό περιβάλλον είτε από τη γραμμή εντολών όπως παραπάνω.
    </li>
</ul>

Τα αρχεία είναι υπογεγραμμένα από τον zzz,
<a href="release-signing-key.html">του οποίου το κλειδί είναι εδώ</a>.
<p>Το I2P μπορείτε επίσης να το κατεβάσετε από τις σελίδες του προγράμματος στο <a href="https://launchpad.net/i2p/trunk">Launchpad</a> 
και στο <a href="http://code.google.com/p/i2p/">Google Code</a>.</p>
<h3>Διαδικασία μετά την εγκατάσταση</h3>

<p>
Αφού τρέξετε την εγκατάσταση στα Windows, απλά κάντε "κλικ" στο κουμπί "Start I2P"
που θα ανοίξει την <a href="http://localhost:7657/index.jsp">κονσόλα</a> (router console),
που έχει επιπλέον πληροφορίες.
</p>

<p>
Σε Unix-like συστήματα, το I2P μπορεί να ξεκινήσει σαν service χρησιμοποιώντας το script
"i2prouter", που βρίσκεται στον κατάλογο που επιλέξατε για το I2P.
Πηγαίνοντας σε αυτό τον κατάλογο και εκτελώντας "sh i2prouter status" θα πρέπει να σας
ενημερώσει για την κατάσταση του router. Με τα ορίσματα "start", "stop" και "restart"
ελέγχετε το service. Στην <a href="http://localhost:7657/index.jsp">κονσόλα</a> έχετε πρόσβαση
από την συνηθισμένη τοποθεσία.
Για τους χρήστες του OpenSolaris και άλλων συστημάτων στα οποία ο wrapper (i2psvc) δεν υποστηρίζεται,
ξεκινήστε το router με "sh runplain.sh".
</p>

<p>
Όταν το εγκαθιστάτε για πρώτη φορά, θυμηθείτε να <b> ρυθμίσετε το NAT/firewall</b>
εάν μπορείτε, έχοντας υπόψη τις δημόσιες θύρες που χρησιμοποιεί το I2P,
<a href="faq#ports">περιγράφονται εδώ</a> μεταξύ άλλων.
Εάν έχετε ανοίξει επιτυχώς τη θύρα σας για εισερχόμενη TCP (inbound TCP) κίνηση, ενεργοποιήστε την
επίσης και στη <a href="http://localhost:7657/confignet.jsp">σελίδα ρυθμίσεων</a>.
</p>

<p>
Επίσης, <b>προσαρμόστε τις ρυθμίσεις για το bandwidth</b> στη
<a href="http://localhost:7657/config.jsp">σελίδα ρυθμίσεων</a>, καθώς οι εξ' ορισμού
ρυθμίσεις για 96 KBps down / 40 KBps up είναι αρκετά αργές.
</p>

<p>
Εάν θέλετε να μπείτε σε eepsites μέσω του browser σας, δείτε στη σελίδα <a href="htproxyports.html">ρυθμίσεις για browser proxy</a>
για ένα εύκολο howto.
</p>

<h3>Ενημερώσεις από παλαιότερες εκδόσεις:</h3>
<p>
Είναι διαθέσιμες αυτόματες και χειροκίνητες ενημερώσεις για την έκδοση.
</p>

<p>
Εάν τρέχετε έκδοση 0.7.5 ή νεότερη, το router σας θα πρέπει να ανιχνεύσει τη νέα έκδοση.
Για να το αναβαθμίσετε, απλά πατήστε στο κουμπί "Download Update" στην κονσόλα όταν εμφανιστεί.
</p>

<p>
Λόγω ενός bug στην έκδοση 0.7.6, αυτών που η πρώτη εγκατάσταση ήταν αυτή η έκδοση και δεν
έχουν αναβαθμίσει χειροκίνητα ίσως λάβουν ένα μήνυμα λάθους "downloaded version is not greater 
than current version", και θα πρέπει να χρησιμοποιήσουν τη χειροκίνητη μέθοδο αναβάθμισης.
</p>

<p>
Εάν τρέχετε έκδοση 0.7.4 ή παλαιότερη, παρακαλούμε δείτε
<a href="release-0.7.5.html">τα release notes για την έκδοση 0.7.5</a>
για σημαντικές πληροφορίες σχετικά με το πως να ρυθμίσετε το router σας να
λαμβάνει αυτόματα νέες εκδόσεις.
</p>

<p>
Εάν τρέχετε έκδοση 0.6.1.30 ή παλαιότερη, παρακαλούμε δείτε τις
<a href="upgrade-0.6.1.30.html">οδηγίες</a> 
για σημαντικές πληροφορίες σχετικά με το πως να ρυθμίσετε το router σας να
λαμβάνει αυτόματα νέες εκδόσεις.
</p>

<ol>
<li>Εάν έχετε ρυθμίσει το router σας ακολουθώντας τις <a href="upgrade-0.6.1.30.html">οδηγίες</a>, θα πρέπει να
    βλέπετε έναν σύνδεσμο στη 
    <a href="http://localhost:7657/index.jsp">κονσόλα</a> που σας επιτρέπει
    να κατεβάσετε και να εγκαταστήσετε τη νέα έκδοση κάνοντας απλά "κλικ" στο σύνδεσμο αυτό.
    </li>
<li>Εναλλακτικά, μπορείτε να χρησιμοποιήσετε την χειροκίνητη μέθοδο που περιγράφεται παρακάτω.</li>
</ol>

<h3>Ενημερώσεις από προηγούμενες εκδόσεις (χειροκίνητη μέθοδος):</h3>
<ol>
<li>Κατεβάστε το <a href="http://mirror.i2p2.de/i2pupdate_0.9.5.zip">i2pupdate_0.9.5.zip</a>
    (SHA256
d20c3f3845c1f4a4cf734dc69cae7de72ff0874cea1382d03d8ac953c50fb139
     <a href="http://mirror.i2p2.de/i2pupdate_0.9.5.zip.sig">sig</a>)
    στον κατάλογο εγκατάστασης του I2P και <b>μετονομάστε το σε i2pupdate.zip</b>.
    (εναλλακτικά, μπορείτε να πάρετε τον πηγαίο κώδικα και να εκτελέσετε "ant updater", έπειτα
    αντιγράψτε το παραγόμενο i2pupdate.zip στον κατάλογο εγκατάστασης του I2P). ΔΕΝ χρειάζεται να
    κάνετε unzip το αρχείο.
    </li>
<li>Κάντε "κλικ" στο <a href="http://localhost:7657/configservice.jsp">"Restart"</a></li>
<li>Φτιάξτε ένα φραπέ και γυρίστε σε 11 λεπτά</li>
</ol>

Το αρχείο είναι υπογεγραμμένο από τον zzz,
<a href="release-signing-key.html">του οποίου το κλειδί είναι εδώ</a>.

<h3>Προηγούμενες Εκδόσεις</h3>
Προηγούμενες εκδόσεις είναι διαθέσιμες στο <a href="http://code.google.com/p/i2p/downloads/list?can=1">Google Code</a>
και στο <a href="https://launchpad.net/i2p/trunk">Launchpad</a>
και στο I2P δίκτυο στο <a href="http://echelon.i2p/">echelon.i2p</a>.


{% endblock %}
