{% extends "_layout_nl.html" %}
{% block title %}I2P Anoniem Netwerk{% endblock %}
{% block content %}
<table cellspacing="10" class="announce"><tr class="announce"><td valign="top" class="announce">
<div class="version">
<b>Laatste versie:</b><div class=underline></div>
2013-10-02 - <strong>I2P 0.9.8.1</strong> - {{ urlify("release-0.9.8.1", "Aankondiging", "html")}}
- <a href="download">Download</a><br /><div class="underline"></div>
2013-02-03 - <strong>Syndie 1.103b</strong> -
<!-- <a href="http://dev.i2p.net/pipermail/i2p/2007-September/001355.html">Announcement</a> -->
- <a href="http://syndie.i2p2.de/download.html">Download</a>
</div>
<div class="news">
<b>Laatste Nieuws:</b><div class=underline></div>
2013-10-02 - I2P 0.9.8.1 <a href="release-0.9.8.1.html">Release</a><br />
2013-09-30 - I2P 0.9.8 <a href="release-0.9.8.html">Release</a><br />
2013-08-10 - I2P 0.9.7.1 <a href="release-0.9.7.1.html">Release</a><br />
2013-07-15 - I2P 0.9.7 <a href="release-0.9.7.html">Release</a><br />
</div>
<!--
<td>
<a href="download"><img src="/_static/images/logo07c.jpg" alt="0.7 logo" border="none"/></a> -->
</table>
<div class="underline"></div>
<p>I2P is een anoniem netwerk, dat identiteits gevoelige applicaties in staat stelt om veilig te
communiceren. Alle data wordt op verschillende niveaus ge&euml;ncrypt en het netwerk is zowel
gedistribueerd als dynamisch, zonder te moeten vertrouwen op een derde partij.</p>

<p>
Diverse applicaties met een koppeling naar I2P zijn beschikbaar, zoals mail, peer-peer, IRC chat en meer.
<!--
</p><p>
I2P groeit snel! Er waren negen releases in 2009 en het verkeer groeide met een factor van 5:
</p>
<center>
<img src="/_static/images/bandwidth2009.png" alt="2009 bandbreedte" />
</center>
-->

<p>
Het I2P project is in 2003 opgericht met als doel om te helpen bij het
bouwen van een vrijere samenleving door middel van niet-censureerbare, anonieme
en beveiligde communicatie.
I2P ontwikkelt een lage latency, volledig gedistribueerd, autonoom, schaalbaar,
anoniem, veerkrachtig en beveiligd netwerk. Het doel is om succesvol te kunnen
opereren in vijandige omgevingen. Zelfs wanneer het onder de aanval is door
een organisatie met aanzienlijke financi&euml;le of politieke middelen.
Alle aspecten van het netwerk zijn open source en gratis beschikbaar,
dit om er zowel voor te zorgen dat gebruikers kunnen zien dat het doet wat het
claimt, alswel anderen in staat stelt om bij te dragen en te verbeteren zodat
het beter bestand is tegen aggresieve aanvallen tegen de vrijheids van meningsuiting.
</p>

<p>
Anonimiteit is geen boolean - we proberen niet iets te maken dat "perfect anoniem" is,
maar in plaats daarvan proberen we aanvallen steeds kostbaarder te maken om uit te voeren.
I2P is een lage latency mix netwerk, en er zijn limieten aan de anonimiteit die door zo'n
network geboden kan worden, maar de applicaties bovenop I2P, zoals
<a href="http://syndie.i2p2.de/">Syndie</a>, I2P mail en I2PSnark breiden dit uit met
zowel toegevoegde functionaliteit en bescherming.</p>

<p>
I2P is nog steeds werk in uitvoering.
Vertrouw er op dit moment niet op dat het "gegarandeerde" anonimiteit biedt,
door de relatief kleine omvang van het netwerk en ontbreken van uitgebreid academisch
onderzoek.
Het is niet immuun voor aanvallen door mensen met onbeperkte middelen, en zat dit mogelijk
nooit zijn, vanwegen de inherente beperkingen van lage latency mix netwerken.
</p>

<p>
I2P werkt door verkeer te routeren door andere peers, zoals getoond in onderstaande afbeelding.
Al het verkeer is van begin tot eind ge&euml;ncrypt.
Voor meer informatie over de werking van I2P zie de
<a href="how_intro">Introductie</a>.
</p>
<div class="box" style="text-align:center;">
<img src="/_static/images/endToEndEncryption.png" alt="van begin tot eind gelaagde encryptie" />
</div>

{% endblock %}
