{% extends "global/layout.html" %}
{% block title %}I2P Specification Documents{% endblock %}
{% block content %}
This page provides the specifications for various components of the I2P network
and router software. These are living documents, and the specifications are
updated as modifications are made to the network and software.

<ul><li>
"Last updated" is the last date when the specification given within a document
was altered in any way, except for changes to the "accurate for" information.
</li><li>
The "accurate for" column gives the version of the I2P network and reference
Java implementation that the document is verified to be valid for. Because the
documents are usually only updated when changes are made, the listed versions
can sometimes be several releases behind. This does not mean that documents with
old listed versions are necessarily inaccurate, but small differences may creep
in during the course of development. Periodic reviews are conducted to update
the "accurate for" information.
</li></ul>

<table>
  <tr>
    <th>Title</th>
    <th>Last updated</th>
    <th>Accurate for</th>
    <th>Link</th>
  </tr>
  {% for spec in specs %}
  <tr>
    <td>{{ spec.title }}</td>
    <td><time>{{ spec.lastupdated }}</time></td>
    <td>{{ spec.accuratefor }}</td>
    <td>
      <a href="{{ get_url('spec_show', name=spec.name) }}">HTML</a> |
      <a href="{{ get_url('spec_show_txt', name=spec.name) }}">TXT</a>
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
