{% extends "global/layout.html" %}
{%- from "global/macros" import render_supercedes with context -%}
{% block title %}{{ title }}{% endblock %}
{% block content_nav %}
{% autoescape false %}
{{ toc }}
{% endautoescape %}
{% endblock %}
{% block content %}
<dl class="meta">
  <dt>Number</dt>
  <dd>{{ meta.num }}</dd>
  <dt>Author</dt>
  <dd>{{ meta.author }}</dd>
  {% if meta.editor -%}
  <dt>Editor</dt>
  <dd>{{ meta.editor }}</dd>
  {%- endif %}
  <dt>Created</dt>
  <dd><time datetime="{{ meta.created }}">{{ meta.created }}</time></dd>
  <dt>Thread</dt>
  <dd><a href="{{ meta.thread }}">{{ meta.thread }}</a></dd>
  <dt>Last updated</dt>
  <dd><time datetime="{{ meta.lastupdated }}">{{ meta.lastupdated }}</time></dd>
  <dt>Status</dt><dd>{{ meta.status }}</dd>
  {% if meta.supercedes -%}
  <dt>Supercedes</dt>
  <dd>{{ render_supercedes(meta.supercedes)|safe }}</dd>
  {%- endif %}
  {% if meta.supercededby -%}
  <dt>Superceded by</dt>
  <dd><a href="{{ proposal_url(meta.supercededby) }}">{{ meta.supercededby }}</a></dd>
  {%- endif %}
</dl>
{% autoescape false %}
{{ body }}
{% endautoescape %}
{% endblock %}
