{% extends "global/layout.html" %}
{% block title %}{% trans bname=browser_name(), bsuff=browser_postname()%}{{ bname }} {{ bsuff }} {% endtrans %}{% endblock %}
{% block content_nav %}
<ol>
<li style="list-style: none; display: inline">
<h4>{{ _('Navigation') }}</h4>
</li>
<li style="list-style: none;">{% trans browser_main=get_url('browser_frontpage') %}<a href="{{ browser_main }}">Back to browser front page</a>{% endtrans %}</li>
<li style="list-style: none;">{% trans bname=browser_name() %}About {{ bname }}{% endtrans %}</li>
<li style="list-style: none;"><a href="#safeguard">{% trans %}Introduction{% endtrans %}</a></li>
<li style="list-style: none;"><a href="#landing">{% trans %}Landing Page{% endtrans %}</a></li>
<li style="list-style: none;"><a href="#browsing">{% trans %}Web Browsing{% endtrans %}</a></li>
<li style="list-style: none;"><a href="#privacy">{% trans %}Privacy{% endtrans %}</a></li>
<li style="list-style: none;"><a href="#bittorrent">{% trans %}File Sharing{% endtrans %}</a></li>
<li style="list-style: none;"><a href="#email">{% trans %}Private E-Mail{% endtrans %}</a></li>
</ol>
{% endblock %}


{% block content %}

<h1>{% trans bname=browser_name(), bsuff=browser_postname() %}{{ bname }} {{ bsuff }}{% endtrans %}</h1>

<h2 id="safeguard">
  <span class="permalink">
    <a href="#safeguard">{% trans bname=browser_name() %}About {{ bname }}{% endtrans %}</a>
  </span>
</h2>
<p>
{% trans bname=browser_name(), bsuff=browser_postname() %}{{ bname }}: {{ bsuff }} is an easy-to-use bundle
that provides a streamlined way to use I2P applications and to browse I2P sites.
Although it can provide access to the regular internet via an outproxy, it also
integrates secure decentralized browsing, file sharing, and e-mail.{% endtrans %}
</p>
<img class="screenshot" src="{{ url_for('static', filename='images/browser/screenshots/2-eepsite.png') }}" />

<h2 id="landing">
  <span class="permalink">
    <a href="#landing">{% trans %}Access Panel{% endtrans %}</a>
  </span>
</h2>
<p>
{% trans bname=browser_name() %}{{ bname }} changes the ways that you access I2P, streamlining the
process for new users. Just the information you need, direct access to
applications, and no configuration.{% endtrans %}
</p>
<img class="screenshot" src="{{ url_for('static', filename='images/browser/screenshots/1-home.png') }}" />

<h2 id="browsing">
  <span class="permalink">
    <a href="#browsing">{% trans %}Web Browsing{% endtrans %}</a>
  </span>
</h2>
<p>
{% trans bname=browser_name() %}Like other browsers, {{ bname }} enables you to browse and search the
internet. {{ bname }} also employs a variety of security enhancements to protect
your privacy while you browse the web.{% endtrans %}
</p>
<img class="screenshot" src="{{ url_for('static', filename='images/browser/screenshots/2-proxy.png') }}" />

<h2 id="privacy">
  <span class="permalink">
    <a href="#privacy">{% trans %}Privacy{% endtrans %}</a>
  </span>
</h2>
<p>
{% trans bname=browser_name() %}Most websites now use numerous third-party trackers, all of which can
link your activity across different sites. Besides blocking third-party
trackers, {{ bname }} avoids caching unnecessary data, enforces boundaries
between sites and applications, and hides your connection from un-authorized
observers.{% endtrans %}
</p>
<img class="screenshot" src="{{ url_for('static', filename='images/browser/screenshots/2-settings.png') }}" />
<img class="screenshot" src="{{ url_for('static', filename='images/browser/screenshots/2-outproxy.png') }}" />

<h2 id="bittorrent">
  <span class="permalink">
    <a href="#bittorrent">{% trans %}File Sharing{% endtrans %}</a>
  </span>
</h2>
<p>
{% trans bname=browser_name() %}I2P has always been capable of Peer-to-Peer file sharing and {{ bname }}
is no exception. By integrating the I2PSnark BitTorrent client,
private, safe Peer-to-Peer filesharing is at the user's fingertips.{% endtrans %}
</p>
<img class="screenshot" src="{{ url_for('static', filename='images/browser/screenshots/3-snark.png') }}" />

<p>
{% trans bname=browser_name() %}By using I2P, a whole world of private file-sharing options will
become available to you.{% endtrans %}
</p>
<img class="screenshot" src="{{ url_for('static', filename='images/browser/screenshots/3-copy.png') }}" />

<p>
{% trans bname=browser_name() %}Using Peer-to-Peer to distribute data means more people can help
you find it, which gets it to you more quickly and reliably.{% endtrans %}
</p>
<img class="screenshot" src="{{ url_for('static', filename='images/browser/screenshots/3-add.png') }}" />
<img class="screenshot" src="{{ url_for('static', filename='images/browser/screenshots/3-proof.png') }}" />

<h2 id="email">
  <span class="permalink">
    <a href="#email">{% trans %}Private E-Mail{% endtrans %}</a>
  </span>
</h2>
<p>
{% trans bname=browser_name() %}E-Mail service is available from providers within the I2P network
that are capable of relaying e-mail to all e-mail addresses. {{ bname }} is
pre-configured to access these services and set you up with an account.{% endtrans %}
</p>
<img class="screenshot" src="{{ url_for('static', filename='images/browser/screenshots/4-email.png') }}" />
{% endblock %}

