html,body,h1,h2,h3,ol,ul,p{margin:0;padding:0}

body {
    font-family: sans-serif;
}

p,ol,ul {margin-bottom:10px}

img {border:0;}

.hide {
      display: none;
}

#header {
	border-bottom:1px solid black;        /* give us a black border underneath */
    margin-bottom: 10px;
}

#logo {
    margin-top: 12px;
    height: 42px;
}

#slogan {
    margin-top: 12px;
    height: 42px;
}

#searchbox {
    margin-top: 18px;
}

#searchbox form{
    float: right;
}

#flags {
    float: right;
}

.content li {
    margin-left: 1.4em;
}

#try_i2p_now {
    margin-top: 6px;
    margin-bottom: 10px;
}

#supported_applications {
    font-size: smaller;
}

#news {
    font-size: smaller;
}

.btn {
	float: left;
	clear: both;
	background: url(../images/btn_left.png) no-repeat;
	padding: 0 0 0 10px;
	margin: 5px 0;
}
.btn a{
	float: left;
	height: 40px;
	background: url(../images/btn_stretch.png) repeat-x left top;
	line-height: 40px;
	padding: 0 10px;
	color: #fff;
	font-size: 1.5em;
    font-weight: bold;
	text-decoration: none;
}
.btn span {
	background: url(../images/btn_right.png) no-repeat;
	float: left;
	width: 10px;
	height: 40px;
}
.btn_download { background-color: red; }
.btn_donate { background-color: green; }
