Options FollowSymLinks Indexes

# Various rewrite rules
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Modify the RewriteBase if you are using this in a subdirectory and the
  # rewrite rules are not working properly:
  # RewriteBase /i2p-www/site/

  # For fixing old /redesign URLs
  RewriteRule ^redesign(/(.*))? /$2 [redirect=302,last]

  # Rewrite URLs of the form 'index.php?page=x':
  RewriteCond %{REQUEST_URI} !^/(images|pages|styles|i2pdb)/
  RewriteCond %{REQUEST_URI} !^/favicon\.ico
  RewriteCond %{REQUEST_URI} !^/robots\.txt
  RewriteCond %{REQUEST_URI} !^/i2pdb
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
</IfModule>
