{% extends "global/layout.html" %}
{% block title %}Jrandom's Announcement{% endblock %}
{% block content %}
{% trans %}The following message was received in mid-November 2007. We have no further information
on jrandom's status.{% endtrans %}
<p>{% trans -%}
Subsequently, in an unrelated incident, the hosting company for
all *.i2p.net servers (except forum.i2p.net) suffered a power outage
on January 13, 2008, and the i2p.net servers did not fully return to service.
As only jrandom has the credentials required to restore service,
and he could not be contacted,
we moved all public services to <a href="http://www.i2p2.de/">www.i2p2.de</a>
and related subdomains.
{%- endtrans %}</p>
<p>{% trans -%}
Approximately two months later, for unrelated reasons,
forum.i2p.net was moved to <a href="http://forum.i2p2.de/">forum.i2p2.de</a>.
{%- endtrans %}</p>
<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

Hi y'all

This will probably come as no suprise, but I unfortunately have to take a
sabbatical from both Syndie and I2P development (of a year or more).  I'll
try to check in on occation, but will not be able to perform any updates on
either effort.

Practically, this means:
 1) Financial support has been much appreciated, but I will no longer be making
    withdrawls from the general fund myself - only the $65USD/mo colo fee will
    be used.
 2) I am taking down the Syndie archive I have been operating, as neither have
    time to ban groups that I do not want to propagate nor have time to
    implement the necessary delegation/ranking code to allow it to operate
    without my oversight.
 3) Those who have been working on improvements to I2P but do not yet have
    CVS commit privs should either forward them to someone with privs (eg
    Complication or zzz) or pgp encrypt a message to me with the info requested
    at the bottom of www.i2p.net/licenses regarding CVS commit privs (if we
    haven't already chatted on IRC before, we'll need to prior to getting CVS
    access)
 4) For the moment, I'll still be the only one with the private key to the
    I2P and Syndie release keys, and will be able to package up new releases
    (when requested via pgp signed email).  If a trusted and respected member
    of the I2P/Syndie dev community would like to take charge of those keys
    however, I'll of course pass those along.

My efforts are still focused on the goals we've been working on for the last
4-5 years, but I won't be hacking on either I2P or Syndie at this time.

Thanks again for your help, inspiration, and support, and good luck fighting
the good fight!

=jr
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v2.0.6 (GNU/Linux)

iD8DBQFHRvXjQuJ0UQZeN+4RAvmgAJ9PYzN3ehOCar6/hm6V8lc2QxcLowCfXVBr
1szUi+vKRQ23+HH8rBy2Hbc=
=Kztj
-----END PGP SIGNATURE-----
</pre>
{% endblock %}
