{% extends "global/layout.html" %}
{% block title %}0.7 Release{% endblock %}
{% block content %}
<pre>
Das I2P-Team gibt die Veröffentlichung der Version 0.7 bekannt!

Das Entwicklerteam der Anonymisierungssoftware I2P hat zum 25. Januar
2009 die Version 0.7 veröffentlicht. Damit ist nach dreieinhalb Jahren
und 44 Versionen nach Erscheinen der Version 0.6 ein neuer
Meilenstein fertig gestellt.

Gegenüber der Vorgängerversion 0.6 gibt es folgende wichtige Neuerungen:
- - Erhöhte Anonymität durch Einführung des "Strict Tunnel Peer Ordering".
  Die teilnehmenden Rechner an einem Tunnel behalten durch das neu
eingeführte
  Prinzip ihre Reihenfolge bei.
- - Erhöhung des Durchsatzes der Tunnel.
  Durch Erhöhung der MTU, Verringerung der Overheads und Beheben einiger
  Fehler wird ein besserer Durchsatz erzielt.
- - Einführung von 52 Zeichen langen Hostnamen.
  Bisher waren die Adressen 512 Bit lang. Durch die Verkürzung sind die
Namen
  besser zu merken.
- - Verbesserung der Stabilität der Software und der Verbindungen.
- - Verbesserung der Erreichbarkeit der I2P-Router.
  In der neuen Version werden beim lokalem Router mehr Prüfungen
durchgeführt.
  Entwicklungsaufwand investierte das Entwicklerteam in Techniken zur
Umgehung
  von Firewallproblemen
- - Verbesserungen zum Finden und Nutzen der Floodfillrouter
- - Einführung von Blocklisten und Möglichkeiten zum Ausschluss von
Routern mit
  Fehlverhalten
- - Optimierung des Ressourcenverbrauchs von I2PSnark, einem eingebauten
  Bittorrent-Client

Eine vollständige Liste der Änderungen kann auf der Webseite des
I2P-Projektes http://www.i2p2.de nachgelesen werden.

Die neue Version 0.7 ist zu den Vorgängerversionen kompatibel und
besitzt nach Meinung unserer Entwickler eine ausgereifte, stabile
Codebasis. Nach dem Verlust des ehemaligen Chefentwicklers Jrandom ist
damit eine stetige Entwicklung der I2P-Software mit den neuen
Entwicklern zzz, welterde und complication sichergestellt.

Die aktuelle Version 0.7 von I2P steht auf der Webseite
http://www.i2p2.de/download.html als Freie Software zur Verfügung.

Was ist I2P?

I2P ist eine Anonymisierungssoftware. Sie baut ein eigenes, nur über die
Software
erreichbares Netzwerk auf und hat keine Verbindungsstellen zum bekannten
Internet. In Verbindung mit der eingesetzten Verschlüsselung, die vom
einem Ende der Verbindung bis zum nächsten reicht, können somit keine
Inhalte der Verbindung mitgelesen werden. Dies stellt den großen
Unterschied und Vorteil zur Anonymisierungslösung Tor dar.

Alle Verbindungen im I2P-Netz werden in ein- und ausgehende geteilt. Die
Software sendet die ein- und ausgehenden Daten über unterschiedliche
Wege in das Netz. Dies soll die Zuordnung der Daten zu einzelnen Nutzern
erschweren und erhöht die Anonymität.

Bei Tor gibt es zentrale Server, die jeden Knoten im Netzwerk kennen.
I2P geht einen anderen Weg. Jeder Knoten ermittelt selbstständig die
Informationen zum Netzwerk. Dazu bedient er sich selbst gewonnener
Statistiken.

Als Konsequenz daraus ergibt sich folgende Beschränkung: I2P ist ein
Netz, welches ausschließlich I2P-interne Verbindungen zulässt. Auch
darauf beruht der hohe Grad an Anonymität in I2P.
Dafür wurden im I2P-Netz Dienste wie Chat, Webseiten, E-Mail sowie
Tausch von Dateien eingebunden und funktionieren somit anonym.
Als Brücke ins übliche Internet existieren einige von
Privatleuten betriebene Proxys - unter anderem für das WWW oder auch für
E-Mail.

Das I2P-Team
</pre>
{% endblock %}
