{% extends "global/layout.html" %}
{% block title %}{{ _('Presentations on I2P') }}{% endblock %}
{% block content %}
<p>{% trans papers=site_url('papers') -%}
Following are links to presentations, videos, and tutorials about I2P. Links to research papers on I2P are available <a href="{{ papers }}">here</a>.
{%- endtrans %}</p>
<p>{% trans email='press ~~~at~~~ i2p2.de' -%}
To request an addition to this page, please send to {{ email }}.
{%- endtrans %}</p>
<p>{% trans %}
Newest links are at the bottom of each section.
{%- endtrans %}</p>
<div class="links">

<h2>{{ _('Presentations') }}</h2>
<ul>

<li>{% trans mp3='http://invisibleip.sourceforge.net/iip/resources/codecon_0x90.mp3',
transcript='http://invisibleip.sourceforge.net/iip/resources/iip_transcript.txt' -%}
IIP Presentation at CodeCon
<a href="{{ mp3 }}">MP3 audio</a>
<a href="{{ transcript }}">transcript</a>
Lance James (0x90), February 2002.
{%- endtrans %}</li>

<li>{% trans mp3='http://invisibleip.sourceforge.net/iip/resources/toorconspeech.mp3',
slides='http://invisibleip.sourceforge.net/iip/resources/toorconspeech/' -%}
IIP Presentation at ToorCon
<a href="{{ mp3 }}">MP3 audio</a>
<a href="{{ slides }}">slides</a>
Lance James (0x90), September 2002.
{%- endtrans %}</li>

<li>{% trans video='http://www.youtube.com/watch?v=TsfdzfGZyu0',
pdf='http://events.ccc.de/congress/2007/Fahrplan/attachments/1017_24c3-i2p.pdf' -%}
<a href="{{ video }}">To Be or I2P</a>
(Youtube Video)
An introduction into anonymous communication with I2P.
<a href="{{ pdf }}">To Be or I2P (PDF presentation)</a>,
Jens Kubieziel, 24C3 Berlin, December 28, 2007.
{%- endtrans %}</li>

<li>{% trans video='http://marge.informatik.tu-chemnitz.de/archiv/CLT2009/V4-Sa1200-Security-Lars_Schimmer.mp4' -%}
<a href="{{ video }}">Video of I2P talk at Chemnitz Linux Tag</a>,
Lars Schimmer,
March 14-15, 2009
{%- endtrans %}</li>

<li>{% trans mp3='http://c2047862.cdn.cloudfiles.rackspacecloud.com/tnhc21.mp3' -%}
HOPE New York July 17, 2010 - Brief overview of I2P by zzz, at the end of Adrian Hong's talk
"Hackers for Human Rights".
<a href="{{ mp3 }}">MP3 audio</a>
{%- endtrans %}</li>

<li>{% trans link='http://www.irongeek.com/i.php?page=videos/shmoocon-firetalks-2011' -%}
<a href="{{ link }}">Into the I2P Darknet: Welcome to Cipherspace</a>
Adrian Crenshaw. Schmoocon Firetalk, January 2011
{%- endtrans %}</li>

<li>{% trans link='http://www.youtube.com/watch?v=TexNr_5J5AU' -%}
<a href="{{ link }}">Using techhnology to advance liberty</a>
(Youtube Video)
Eric Johnson.
<a href="http://agora.io/etienne">Agora I/O Unconference</a>, March 27, 2011.
I2P covered from 10:00 to 20:00 in the video.
{%- endtrans %}</li>

<li>{% trans pdf='http://patras.fosscomm.gr/talks/BSoD_Pub.pdf' -%}
<a href="{{ pdf }}">The Bright side of darknets</a>, FOSSCOMM Patras May 2011
{%- endtrans %}</li>

<li>{% trans link='http://www.youtube.com/watch?v=bI_1qlcwfE0' -%}
<a href="{{ link }}">Common Darknet Weaknesses</a>
(Youtube Video)
Adrian Crenshaw, <a href="http://aide.marshall.edu/">AIDE</a>, July 11-15, 2011.
{%- endtrans %}</li>

<li>{% trans link='http://www.irongeek.com/i.php?page=security/i2p-tor-workshop-notes' -%}
<a href="{{ link }}">I2P / Tor Workshop Notes</a>
Adrian Crenshaw. DEF CON 19, Las Vegas, August 6, 2011.
{%- endtrans %}</li>

<li>{% trans live='http://www.youtube.com/watch?v=xxKXkbohRZM',
studio='http://www.youtube.com/watch?v=xFxJ6Dc5ass',
slides='http://www.irongeek.com/downloads/Adrian-Crenshaw-darknet-weaknesses.pptx' -%}
<a href="{{ live }}">Cipherspaces/Darknets: An Overview Of Attack Strategies -
DEF CON Live version (Youtube Video)</a>,
<a href="{{ studio }}">"Studio" version (Youtube Video)</a>,
<a href="{{ slides }}">Slides (ppt)</a>
Adrian Crenshaw. DEF CON 19, Las Vegas, August 7, 2011.
{%- endtrans %}</li>

<li>{% trans -%}
<a href="http://0x375.org/">Modern cipherspace ecosystems</a>, 0x375 0x06 (Thessaloniki Tech Talk Sessions), November 4, 2011.
{%- endtrans %}</li>

<li>{% trans link='https://www.youtube.com/watch?v=pyeEWaz9z1s' -%}
<a href="{{ link }}">I2P - The Anonymous Network</a>
(Youtube Video)
Blair Dick, University of Abertay, Dundee Ethical Hacking Society, January 25, 2012.
{%- endtrans %}</li>

<li>{% trans link='i2pcon/2015.html' -%}
<a href="{{ link }}">I2PCon 2015</a>
Toronto, August 15-16, 2015
{%- endtrans %}</li>

<li>{% trans link='https://download.i2p2.de/media/ccc/2015/I2P_Still_alive.pdf' -%}
<a href="{{ link }}">I2P - Still alive!</a>
echelon, 32C3 Hamburg, December 28, 2015
{%- endtrans %}</li>

<li>{% trans link='https://download.i2p2.de/media/rwc/2016/rwc2016-str4d-slides.pdf',
link2='https://download.i2p2.de/media/rwc/2016/rwc2016-str4d-slides.odp' -%}
Replacing Weary Crypto: Upgrading the I2P network with stronger primitives
<a href="{{ link }}">(pdf)</a>
<a href="{{ link2 }}">(odp)</a>
str4d, Real World Crypto, Stanford, January 8, 2016
{%- endtrans %}</li>

</ul>

<h2>{{ _('Tutorials') }}</h2>
<ul>

<li>{% trans link='http://www.youtube.com/watch?v=5J3nh1DoRMw' -%}
<a href="{{ link }}">I2P Windows Tutorial</a>
(Youtube Video)
This guide will show you how to install I2P in Windows XP.
By <a href="http://telecomix.org/">Telecomix</a>
{%- endtrans %}</li>

<li>{% trans link='http://www.youtube.com/watch?v=QeRN2G9VW5E' -%}
<a href="{{ link }}">I2P Debian Tutorial</a>
(Youtube Video)
This will guide you through how to install I2P on a Debian Linux System.
By <a href="http://telecomix.org/">Telecomix</a>
{%- endtrans %}</li>

<li>{% trans link='http://www.youtube.com/watch?v=2ylW85vc7SA' -%}
<a href="{{ link }}">How to set up anonymous site in I2P</a>
(Youtube Video)
How to set up an anonymous web site in I2P.
By <a href="http://telecomix.org/">Telecomix</a>
{%- endtrans %}</li>

<li>{% trans link='http://www.youtube.com/watch?v=d8mvGZqVgE4' -%}
<a href="{{ link }}">I2P Tutorial Mac OS X</a>
(Youtube Video)
A tutorial on how to run i2p on Mac OS X and how to connect to irc.telecomix.i2p.
By <a href="http://telecomix.org/">Telecomix</a>
{%- endtrans %}</li>

<li>{% trans link='http://www.youtube.com/watch?v=5jv7tVVJdTQ' -%}
<a href="{{ link }}">Felix Atari explains the basic principles of I2P</a>
(Youtube Video)
Agent Felix Atari of the Telecomix Crypto Munitions Bureau.
By <a href="http://telecomix.org/">Telecomix</a>
{%- endtrans %}</li>

<li>{% trans link='http://www.youtube.com/watch?v=WyN_QK-_3GA' -%}
<a href="{{ link }}">How to get onto I2P, the anonymous P2P Darknet (Windows Install)</a>
(Youtube Video)
This tutorial shows how to install and configure software needed to access I2P.
{%- endtrans %}</li>

<li>{% trans link='http://www.youtube.com/watch?v=q4owyd_CaGc' -%}
<a href="{{ link }}">How to connect to I2P</a>
(Youtube Video)
How to install I2P on Ubuntu.
{%- endtrans %}</li>

<li>{% trans link='http://www.irongeek.com/i.php?page=videos/i2p-darknet-software-in-linux' -%}
<a href="{{ link }}">Installing the I2P darknet software in Linux</a>
(Video)
Adrian Crenshaw.
January 2011
{%- endtrans %}</li>

<li>{% trans link='http://www.youtube.com/watch?v=NV90TRs_pGE' -%}
<a href="{{ link }}">Short garlic routing animation</a>
(Youtube Video)
Adrian Crenshaw.
{% endtrans %}</li>

</ul>

<h2>{{ _('Articles and Interviews') }}</h2>
<ul>

<li>{% trans link1='http://invisibleip.sourceforge.net/iip/mediaDCInterview1.php',
link2='http://invisibleip.sourceforge.net/iip/mediaDCInterview2.php' -%}
Lance James (0x90) Interviewed by DistributedCity
<a href="{{ link1 }}">Part 1</a>
<a href="{{ link2 }}">Part 2</a>
July 26, 2002.
{%- endtrans %}</li>

<li>{% trans link='http://invisibleip.sourceforge.net/iip/resources/elpais-iip.txt' -%}
Lance James (0x90) Interviewed by El País
(original in Spanish)
<a href="{{ link }}">English translation</a>
October 31, 2002.
{%- endtrans %}</li>

<li>{% trans link='http://www.businessweek.com/magazine/content/03_37/b3849089_mz063.htm' -%}
<a href="{{ link }}">2003 Business Week article referencing invisiblenet</a>
{%- endtrans %}</li>

<li>{% trans link='http://www.netzwelt.de/news/75371-i2p-das-anonyme-netz-im.html' -%}
<a href="{{ link }}">Netzwelt.de article about being anonymous in the Internet</a>
(German)
November 2007.
{%- endtrans %}</li>

<li>{% trans link='http://www.gulli.com/news/i2p-an-anonymous-network-2009-03-09/',
german='http://www.gulli.com/news/i2p-anonymes-netzwerk-im-2009-03-09/' -%}
<a href="{{ link }}">zzz interviewed by gulli.com</a>
March 2009
<a href="{{ german }}">German translation</a>
{%- endtrans %}</li>

<li>{% trans mp3='http://www.isdpodcast.com/podcasts/infosec-daily-podcast-episode-454.mp3' -%}
<a href="{{ mp3 }}">zzz interviewed on the InfoSec Daily Podcast Ep. 454 (mp3)</a>
August 18, 2011
{%- endtrans %}</li>

<li>{% trans link='http://how-to.linuxcareer.com/i2p-anonymity-for-the-masses' -%}
<a href="{{ link }}">I2P - Anonymity for the Masses</a>,
Jonathan Cox,
November 11, 2011.
{%- endtrans %}</li>

<li>{% trans mp3='http://www.isdpodcast.com/podcasts/infosec-daily-podcast-episode-596.mp3' -%}
<a href="{{ mp3 }}">zzz and Lance James interviewed on the InfoSec Daily Podcast Ep. 596 (mp3)</a>
February 16, 2012
{%- endtrans %}</li>

</ul>

<h2>{{ _('Other') }}</h2>
<ul>

<li>{% trans -%}
I2P mentioned in Netflix's "House of Cards" Season 2 Episode 2,
February 14, 2014
{%- endtrans %}</li>

</ul>

</div>
{% endblock %}
