img {
   border: 0px;
}

BODY {
  background-color: #FFF;
  color: #000;
  margin: 0px;
}

FORM {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

P, TD {
  font-family: lucida, "Lucida Sans Unicode", Geneva, sans-serif;
}

P.contact {
  text-align: center;  
}

P.contact A {
  font-family: lucida, "Lucida Sans Unicode", Geneva, sans-serif;
  font-weight: normal;  
}

SPAN.email {
  font-family: lucidatypewriter, "Lucida Typewriter", Monaco, "Lucida Sans Unicode", monospace; 
  font-weight: bold;
}

P IMG {
  vertical-align: text-bottom;
}

P.crumbbreadth {
  margin-top: 0.25em;
}

.compact {
  margin-top: -0.5em;
  text-indent: 0em;
}

SPAN.biblio {
  font-style: italic;
}

SPAN.biblio A {
  font-family: lucida, "Lucida Sans Unicode", Geneva, sans-serif;
  font-weight: normal;
  text-decoration: underline;
}

SPAN.availability {
  font-family: lucidatypewriter, "Lucida Typewriter", Monaco, "Lucida Sans Unicode", monospace;
  font-weight: normal;
}

UL {
  list-style: outside;
}

UL.expand {
  margin-bottom: 1em;
}

UL.sections {
  list-style: none;
}

/* Font-level properties */

PRE {
  font-family: lucidatypewriter, "Lucida Typewriter", Monaco, "Lucida Sans Unicode", monospace;
}

STRONG, A {
  font-family: lucidatypewriter, "Lucida Typewriter", Monaco, "Rockwell", "Lucida Sans Unicode", monospace;
  font-weight: bold;
}

A:link {
  color: #B00;
}

A:visited {
  color: #903;
}

H1, H2, H3, H4, H5, H6 {
  font-family: lucidatypewriter, "Lucida Typewriter", "Lucida Console", Monaco, monospace;
}

H1 A, H2 A, H3 A, H4 A, H5 A, H6 A {
  font-family: lucidatypewriter, "Lucida Typewriter", "Lucida Console", Monaco, monospace;
}

H1 {
  color: #00B;
}

H2 {
  color: #006;
}

H3 {
  color: #006;
}
