SPAN.title {
  font-family: lucida, "Lucida Sans Unicode", Geneva, sans-serif;
  font-weight: bold;
}

SPAN.author {
  font-family: lucida, "Lucida Sans Unicode", Geneva, sans-serif;
  font-weight: normal;
}

SPAN.availability {
  font-family: lucidatypewriter, "Lucida Typewriter", Monaco, "Lucida Sans Unicode", monospace;
  font-weight: normal;
}

SPAN.author A {
  font-family: lucida, "Lucida Sans Unicode", Geneva, sans-serif;
  font-weight: normal;
}

SPAN.biblio {
  font-family: lucida, "Lucida Sans Unicode", Geneva, sans-serif;
  font-style: italic;
}

SPAN.biblio A {
  text-decoration: underline;
}

SPAN.bad {
  text-decoration: underline;
  color: #000;
  background-color: #FDF;
}

P.remarks {
  font-family: serif;
  margin-top: 0.3em;
  margin-bottom: 0;
  margin-left: 5em;
  padding-left: 0.5em;
  border-width: 0 0 0 5px;
  border-color: black;
  border-style: solid;
}

P.remarks A {
  text-decoration: underline;
}

P.l1 {
  margin-left: 0.5em;
}

P.l2 {
  margin-left: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

P.entry {
  margin-top: 0.7em;
  margin-bottom: 0;
}

DIV.impEntry {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background-color: #FFE;
  padding: 0.3em;
  margin-top: 0.7em;
  margin-bottom: 0;
}  

P.impEntry {
  background-color: #FFE;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

DIV.draftEntry {
 /*
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 0.3em;
  margin-top: 0.7em;
  margin-bottom: 0;
*/
}  

P.draftEntry {
 color: #555;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

TABLE.sidebar {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  background-color: #CFF;
}

TD.bibtex {
  font-family: lucidatypewriter, "Lucida Typewriter", Monaco, "Lucida Sans Unicode", monospace;  
  border-width: 2px;
  font-weight: normal; 
  border-color: black;
  border-style: solid;
  background-color: #DFF;
}

PRE.bibtex {
  font-family: lucidatypewriter, "Lucida Typewriter", Monaco, "Lucida Sans Unicode", monospace; 
  font-size: smaller;
}

