/** Topbar **/

div#topbar #logo {
    float: right
}

/** Frontpage **/

div#content .feed-icon {
    float: left
}

/** Content **/

div#content .sidebar nav ol {
    padding-left: 0;
    padding-right: 1em;
}

div#content .sidebar nav ul {
    padding-left: 0;
    padding-right: 0.5em;
}
