/** Topbar **/

div#topbar .title {
    text-align: left
}

/** Dropdown menu **/

#cssmenu > ul,
#cssmenu > ul > li {
    float: right
}

#cssmenu > ul > li.right {
    left: 10%;
    right: auto;
}

#cssmenu .has-sub ul {
    left: auto;
    right: 0;
}

#cssmenu .has-sub ul li {
    border-left: 0 none;
    border-right: 1px solid #ffffcc;
}

#cssmenu .has-sub ul li.has-sub > div.menuitem:after {
    content: "◄";
    float: left;
}

#cssmenu .has-sub .has-sub ul {
    left: auto;
    right: 100%;
}

#cssmenu .has-sub .has-sub ul li:first-child {
    border-right: none
}

/** Frontpage **/

div#content .main {
    padding-left: 35%;
    padding-right: 10%;
}

.main .get-i2p {
    left: 10%;
    right: auto;
    transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

/** Downloads list **/

.package .os {
    float: right
}

.package .details {
    float: left
}

.file {
    float: right
}

.details .hash {
    float: left
}