:root {
    --i2poffblack: #070425;
    --i2poffwhite: #f6f6fa;
    --i2ppurple: #222187;
    --i2pmidblue: #265ea7;
    --i2plightblue: #9dabd5;
    --i2pdarkblue: #2d4470;
    --i2plightgreen: #709fa6;
    --i2pctablue: #00ffff;
    --i2pgrey: #333333;
    --i2pbggrey: #9e9e9e;
    --i2pcharcoal: #4c4c4c
}

#topbar .title {
    display: none
}

/* Dropdown menu CSS */

#cssmenu > ul {
    width: 100%;
    float: none;
    background-color: var(--i2pcharcoal); /* change the menu color */
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    display: block;
    /*height: 0;*/
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    z-index: 998;
    clear: both;
}

#cssmenu > ul li {
    /*display: none;*/
    display: block;
    width: 100%;
    font-family: Arial;
}

#cssmenu > ul li div.menuitem {
    display: block;
    width: 90%;
    padding: 10px 5%;
    font-size: 14px;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0,0,0,.15);
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(255,255,255,.1);
}

#cssmenu > ul li div.menuitem:hover {
    background-color: rgba(0,0,0,.5);
    border-top-color: transparent;
}

#cssmenu > ul > li:first-child {
    border-top: 1px solid rgba(0,0,0,.2)
}

/* Toggle the navigation bar open  */

#cssmenu > ul.open {
    height: auto;
    /*padding-top: 50px;*/
}

#cssmenu > ul.open li {
    display: block
}

/* Submenus – .has-sub class indicates dropdowns */

#cssmenu > ul > li:hover > div.menuitem {
    background: rgba(0,0,0,.5);
    border-bottom-color: transparent;
}

#cssmenu > ul li.has-sub > div.menuitem:after {
    content: "▼";
    color: rgba(255,255,255,.5);
    float: right;
}

#cssmenu > ul li.has-sub > div.menuitem:hover {
    background: rgba(0,0,0,.75)
}

#cssmenu > ul li ul {
    display: none;
    background: rgba(0,0,0,.5);
    border-top: 0 none;
    padding: 0;
}

#cssmenu > ul li ul div.menuitem {
    border: 0 none;
    font-size: 12px;
    padding: 10px 5%;
    font-weight: normal;
}

#cssmenu > ul li:hover > ul {
    display: block;
    border-top: 0 none;
}

/* End of dropdown menu CSS */

div#content .main {
    padding: 4em 10%
}

.main img.home_splash_image {
    float: left;
    left: 10%;
    margin-bottom: 1em;
    max-width: 85%;
    top: 10%;
}

.main img.android {
    left: 70%;
    max-height: 60%;
    max-width: 20%;
    position: absolute;
    top: 15%;
}

.main .get-i2p {
    margin-bottom: -1.5em;
    margin-top: .5em;
}

div#content .aside {
    width: 100%
}

div#content > .title {
    margin-top: 0.5em;
    text-align: center;
}

div#content .inner {
    margin-top: 1em
}

#global-footer .aside {
    margin-left: 1%;
    width: 49%;
}

#global-footer .aside.first,
#global-footer .aside.third,
#global-footer .aside.fifth {
    margin-left: 0
}

#footermenu ul {
  list-style: none;
}

#post ul {
    font-size: .68rem;
}

.browser-onboarding .row-text {
  float: right;
  width: 80%;
  font-size: small;
}

.browser-onboarding .row-image {
  float: left;
  width: 20%;
}

.browser-onboarding .row-image > img {
  float: left;
  width: 90%;
  padding-right: 4px;
}
