#topbar .title h1 {
    display: none;
}

div#content .main {
    padding: 4em 10%;
}

.main .get-i2p {
    margin-bottom: -1.5em;
    margin-top: .5em;
    position: relative;
    right: 0;
}

div#content .aside {
    margin-left: 0%;
    width: 100%;
}

.sig {
    display: none;
}

#global-footer .aside {
    width: 49%;
}

#global-footer .aside.third, #global-footer .aside.fifth {
    margin-left: 0;
}
