#topbar .title {
    display: none;
}

/* Dropdown menu CSS */

#cssmenu > ul {
    width: 100%;
    float: none;
    background-color: #abcc71; /* change the menu color */
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    display: block;
    /*height: 0;*/
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    z-index: 998;
    clear: both;
}

#cssmenu > ul li {
    /*display: none;*/
    display: block; 
    width: 100%;
    font-family: Arial;
}

#cssmenu > ul li div.menuitem {
    display: block;
    width: 90%;
    padding: 10px 5%;
    font-size: 14px;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0,0,0,.15);
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(255,255,255,.1); 
}

#cssmenu > ul li div.menuitem:hover {
    background-color: rgba(0,0,0,.5);
    border-top-color: transparent;
}

#cssmenu > ul > li:first-child {
    border-top: 1px solid rgba(0,0,0,.2);
}

/* Toggle the navigation bar open  */

#cssmenu > ul.open { 
    height: auto; 
    /*padding-top: 50px;*/
}

#cssmenu > ul.open li { 
    display: block; 
}

/* Submenus – .has-sub class indicates dropdowns */

#cssmenu > ul > li:hover > div.menuitem {
    background: rgba(0,0,0,.5);
    border-bottom-color: transparent;
}

#cssmenu > ul li.has-sub > div.menuitem:after {
    content: "▼";
    color: rgba(255,255,255,.5);
    float: right;
}

#cssmenu > ul li.has-sub > div.menuitem:hover {
    background: rgba(0,0,0,.75);
}

#cssmenu > ul li ul {
    display: none;
    background: rgba(0,0,0,.5);
    border-top: 0 none;
    padding: 0;
}

#cssmenu > ul li ul div.menuitem {
    border: 0 none;
    font-size: 12px;
    padding: 10px 5%;
    font-weight: normal;
}

#cssmenu > ul li:hover > ul {
    display: block;
    border-top: 0 none;
}

/* End of dropdown menu CSS */

div#content .main {
    padding: 4em 10%;
}

.main .get-i2p {
    margin-bottom: -1.5em;
    margin-top: .5em;
}

div#content .aside {
    width: 100%;
}

div#content .inner {
    margin-top: 1em;
}

div#content .inner .title {
    margin-top: 1em;
}

.details .hash {
    display: none;
}

#global-footer .aside {
    margin-left: 1%;
    width: 49%;
}

#global-footer .aside.first, #global-footer .aside.third, #global-footer .aside.fifth {
    margin-left: 0;
}
