div#content .inner .fluid {
    border-right: 1px solid #abcc71;
    margin-right: 22%;
}

div#content .inner .meta {
    position: absolute;
    left: 80%;
    margin: 1em 0;
    right: 2%;
    text-align: left;
}
