div#content .inner .fluid {
    border-right: 1px solid #4456B7;
    margin-right: 22%;
}

div#content .inner .meta {
    position: absolute;
    left: 80%;
    margin: 1em 0;
    right: 2%;
    text-align: left;
}

@media print { div#content .aside {
    word-wrap: break-word;
    display: !important;
}}

@media print { div#content .inner .fluid {
    margin-right: 3%;
    display: !important;
}}

@media print { div#content .inner .meta {
    position: unset;
    left: unset;
    margin: unset;
    right: unset;
    text-align: unset;
    display: block !important;
}}

@media print { div#content .inner .sidebar {
    word-wrap: break-word;
    margin-right: 2%;
    display: !important;
}}

@media print { div#content .content-inner {
    margin-left: 3%;
    padding-right: 4em;
    display: !important;
}}
