{% extends "global/layout.html" %}
{% block title %}Roadmap{% endblock %}
{% block content %}

<h2 id="v0.9">0.9</h2>
<ul>
<li>Include some seed data in the distribution so a central reseed location isn't required?</li>
<li>Reachability Mapping / handle peers partially reachable / enhanced <a href="{{ site_url('volunteer/todo') }}#fullRestrictedRoutes">restricted routes</a></li>
<li>Improve help pages and website</li>
<li>More translations</li>
<li>SSU disconnect message</li>
<li>Iterative floodfill lookups</li>
</ul>

<h2 id="v1.0">1.0</h2>
<ul>
<li>Full review of anonymity issues and other vulnerabilities</li>
<li>Reduce memory usage, remove debugging overhead, make it run better on slow and embedded machines</li>
<li>Docs</li>
</ul>

<h2 id="v2.0">2.0</h2>
<ul>
<li>Full restricted routes</li>
</ul>

<h2 id="v3.0">3.0</h2>
<ul>
<li>Tunnel mixing and padding</li>
<li>User defined message delays</li>
</ul>

<p>Please see the <a href="{{ site_url('volunteer/todo') }}">TODO</a> list for more detailed info about some of these tasks.</p>
{% endblock %}
