{% extends "global/layout.html" %}
{% block title %}Blog Index{% endblock %}
{% block headextra %}
    <link href="{{ url_for('blog_atom', lang=g.lang) }}" type="application/atom+xml" rel="alternate" title="I2P Blog ATOM Feed" />
{%- endblock %}
{% block content %}
<p>Some descriptive text.</p>
<ul class="infolist">
{% for entry in entries -%}
  <li>{{ entry[1] }} - <a href="{{ url_for('blog_entry', slug=entry[0]) }}">{{ entry[2] }}</a></li>
{%- endfor %}
</ul>
{%- from "global/macros" import render_pagination with context -%}
{{ render_pagination(pagination) | safe }}
{% endblock %}
