@import url('reset.css');

body {
    font-family:Droid Sans, Helvetica, sans-serif; font-size:10px;
    background-color:#ffffdd;
    min-height:800px; width:100%; padding-top:1em;
    background:-moz-radial-gradient(50% 30% , circle , #fffff9, #ffffcc) no-repeat scroll 0 0 #ffffcc;
    background:-webkit-radial-gradient(50% 30% , circle , #fffff9, #ffffcc) no-repeat scroll 0 0 #ffffcc;
}
a {color:#d00e0e; text-decoration:none;}
    a:hover {color:#f00e0e;}

div.hide {display:none;}

div#branding {width:80%; margin:1em auto; position:relative;}
    div#branding .title {
        font-family:"URW Gothic L", "Century Gothic", sans-serif; text-transform:uppercase; font-size:3.5em; 
        font-weight:bold; text-shadow:1px 1px 1px rgba(0,0,0,.2); color:#333333;
        position:absolute; top:0; right:0; line-height:41px; vertical-align:middle;
    }

div.navigation {position:relative;}
    ul.nav li {display:inline-block; *display:inline; *zoom:1;}
ul.languages {width:130px; position:absolute; right:10%; top:0;}
ul.sections {margin:1em 10%; padding-right:130px;}
ul.sections li {
    font-size:2em; font-family:"URW Gothic L", "Century Gothic", sans-serif;
    font-weight:bold; margin:0 1.3em 0 0; text-shadow:1px 1px 1px rgba(100,20,20,.2);
    position:relative;}
    ul.sections li ul {display:none; padding:1px; z-index:1;}
    ul.sections li:hover ul, ul.sections li a:hover ul {
        display:block; position:absolute; margin:0; top:24px; left:-1px; height:auto;
        width:13.5em; background:black;}
    ul.sections li:hover ul li a, u.sections li a:hover ul li a {
        border:0; margin:0; padding:0; height:auto;
        width:13.5em; background:#d8d8d8;}
    ul.sections li:hover ul li:hover a, u.sections li a:hover ul li a:hover {
        background:white;}
    ul.sections li:hover ul li ul, ul.sections li a:hover ul li a ul {visibility:hidden;}
    ul.sections li:hover ul li:hover ul, ul.sections li a:hover ul li a:hover ul {
        visibility:visible; position:absolute; margin-top:-1px; top:0;
        left:8.08333em; width:14em;}
    ul.sections li:hover ul li:hover ul li a, ul.sections li a:hover ul li a:hover ul li a {
        width:14em; background:#d8d8d8;}
    ul.sections li:hover ul li:hover ul li a:hover, ul.sections li a:hover ul li a:hover ul li a:hover {
        width:14em; background:white;}

div#content {display:block;}
    /**
     * The .main class is for content wrapper on the home page (with the big banner)
     */
div#content .main {
    background:url('../images/dots.png') 0 10% no-repeat rgba(171, 204, 113, 0.6); background-size:100% auto; width:auto; padding:4em 35% 4em 10%; position:relative;
    margin:0 auto; text-shadow:1px 1px 1px rgba(255,255,255,.5); font-size:1.6em; line-height:1.5em;
    border:2px solid #abcc71; border-left:none; border-right:none;  box-shadow:0px 2px 8px rgba(0,0,0,.2)}
    div#content .main h1 {font-family:"URW Gothic L", "Century Gothic", sans-serif; font-size:2.5em; 
    text-shadow:1px 1px 2px rgba(0,0,0,.3); color:white; margin-bottom:.5em;}
    .main .get-i2p {
        position:absolute; display:block; top:50%; right: 10%;
        margin-top:-1em; height:1em; padding:.5em; line-height:1em;
        font-size:2em; color:white; font-family:Arial, Helvetica, sans-serif; font-weight:bold; 
        text-transform:uppercase; text-decoration:none; text-align:center; 
        background:green; border-radius:.3em; -moz-transform:rotate(-5deg); 
        text-shadow:1px 1px 1px rgba(0,0,0,.2);
        box-shadow:2px 2px 4px rgba(0, 0, 0, 0.3), 1em 3em 2em 0.5em rgba(255, 255, 255, 0.3) inset, inset -.2em -.5em 1em -0em rgba(0,0,0,.3)}
    .main .get-i2p:hover {box-shadow:2px 2px 2px rgba(0, 0, 0, 0.3), inset 0 -2.2em 2.2em rgba(255, 255, 255, 0.3), inset .2em .5em 1em 0em rgba(0,0,0,.3);}
    div#content .aside-wrap {width:80%; margin:2em auto;}
    div#content .aside {position:relative; width:30.9%; margin-left:3%;    display:inline-block; vertical-align:top; font-size:1.2em}
        div#content .aside:first-child {margin-left:0%;}
        div#content .aside a {font-weight:bold;}
        div#content .aside h1 {padding:1em 0; border-bottom:1px solid rgba(171, 204, 113, 0.6); font-size:1.4em; color:#222200; text-shadow:1px 1px 1px rgba(0,0,0,.3)}
        div#content .aside p {margin:1em 0;}
            div#content .aside ul {margin:1em 0;}
                div#content .aside ul li {list-style-type:none; margin:1em 0; line-height:1.3em;}

    /**
     * The .inner class is for the content wrapper on inner pages (as opposed to the home page)
     */
    div#content .inner {
        width:auto; padding: 4em 10%; position:relative;
        background: rgba(171, 204, 113, 0.6); border-top:2px solid #abcc71;
        color:black; font-size:1.2em; line-height:1.4em;
    }
    div#content .inner h1, div#content .inner h2, div#content .inner h3 {color:white; text-shadow:1px 1px 1px rgba(0,0,0,.3); margin:1em 0 .5em; border-bottom:1px solid white; padding-bottom:.2em;}
    div#content .inner h1 {font-size:2.2em; margin:0em 0 1em;  width:auto;}
    div#content .inner h2 {font-size:1.6em;}
    div#content .inner h3 {font-size:1.4em;}
    div#content .inner ul {margin:1.5em; 1em;}
    div#content .inner p {margin:1em 0;}

div#footer {width:auto; border-top:3px solid #883333; background:#552222; box-shadow:0px -4px 8px rgba(0,0,0,.3); padding:1em 10%; background:-moz-linear-gradient(#883333, #772222);}
    div#footer .aside {display:inline-block; width:15%; margin-left:1%; vertical-align:top;}
        div#footer .aside.first {margin-left:0;}
        div#footer .aside.third, div#footer .aside.fifth {margin-left:2.5%}
        div#footer .aside h1 {color:#ffdd88; font-size:1.2em; text-shadow:-1px -1px 1px rgba(0,0,0,.2); border-bottom:1px solid #ccaa66; margin:1em 0; line-height:1.3em;}
        div#footer .aside ul {margin:0; padding:0;}
        div#footer .aside ul li {list-style-type:none; line-height:1.5em;}
        div#footer .aside ul li a {color:#ccaa66; font-weight:bold;}
        div#footer .aside ul li a:hover {text-decoration:underline;}
        div#footer a.button {padding:.5em 2em; background-color:#cc2222; border:1px solid #bb2222; border-radius:3px; display:inline-block; color:white; margin:1em auto; text-align:center; width:auto; font-weight:bold;}
