body {
  font-family: arial;
  font-size: 12pt;
  color: #fff;
  margin: 1em 0em;
  padding: 0em;
  text-align: center;
  background-color: #000022;
  background: url(/_static/images/darkbluetile.png);
  background-repeat: repeat;
  background-position: top center;
/*  color: black;*/
}

a:link{color:#007}
a:visited{color:#606}
a:hover{color:#ff6600}
a:active{color:#900}

.hide {
  display: none;
}

img {
  border: none
}

div.logo {
  float: left;
/*  left: 1em;
  top: 1em;
  margin: 0em; */
  left: 10px;
  top: 0px;
/*  padding: .5em;*/
  padding: 7px 10px 0px 20px;
  text-align: left;
  font-color: #fff;
}

div#cssmenu {
  width: 8em;
  /* height: 5em; */
  /* position: fixed; */
  float: left;
  /* left: 1em; */
  /* top: 1em; */
  /*margin: 0em;*/
/*  padding: .5em;*/
  margin: 0px 20px 20px 0px;
  padding: 5px 20px 20px 20px;
  text-align: left;
  border: 1px solid #000022;
  border-top: 1px solid #000;
  border-left: 0px;
  background-color: #ddddff;
  color: black;
  font-size: 1em;
  line-height:6px
  clear: left; /* fixes a bug in Opera */
  -moz-border-radius: 0px 0px 4px 0px;
  -moz-box-shadow: inset 0px 0px 2px 0px #55f;
  background: url(/_static/images/tabletile.png);
}

/*
div#cssmenu a:link {
border:1px solid #000022;
border-left: 3px solid #000022;
margin: 10px 0;
padding: 2px 5px;
text-decoration: none;
line-height: 240%;
-moz-border-radius: 3px 3px 3px 3px;
background-color: #9999ff;
}
*/
div.warning {
  margin: 0em 1em 1em 12em;
  padding: .5em 1em;
  background-color: #FEE;
  border: medium solid #FBB;
  text-align: left;
  color: inherit;
}

div#content {
  margin: 0px 0px 0px 0px;
  padding: 25px 40px 20px 190px;
  background-color: #eeeeff;
  text-align: justify;
  color: #000011;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  line-height: 21px;
}

div#content h1 {
  text-align: left;
  color: #000022;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 16pt;
  font-family:"黑体";
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.06em;
  text-shadow: 1px 1px 2px rgba(0, 0, 176, 0.9);
  white-space: normal;
  background-color: #ddddff;
  -moz-box-shadow: 0 2px 2px 1px #ccccff;
  /*background: url(/_static/images/tabletitlelight.png);
  background-repeat:  repeat-x;*/
  border: 1px solid #000022;
  -moz-border-radius: 4px 4px 4px 4px;
}

.links {

}

.links ul {
list-style-image: url(/_static/images/link.png);
margin: 0 5px 0 0px;
padding: 0px 5px;
}

.links ul li {
list-style-image: url(/_static/images/link.png);
margin: 0 5px 0 40px;
padding: 0px 5px;
}

/*
li.gap {
  margin-top: 1em;
  margin-bottom: 1em;
} */

li {
  padding: 5px 0px 5px 0px;
  margin: 0px 10px;
}

li.gap {
  margin: 10px 10px;
}

span.permalink {
  font-size: small;
}

ul {
  margin: 10px 20px 15px 20px;
  padding: 5px 0px 5px 20px;
/*border-bottom: 1px solid #000022;*/
}

.irclog p {
  font-size: small;
  margin: 0 0 0 4em;
  text-indent: -4em;
}

h1 {
  color: #9999ff;
  font-family:"SimHei","黑体";
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
  text-align: right;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-style: italic;
  font-size: 22pt;
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  white-space: nowrap;
/*  border: 1px solid #000022;
  -moz-border-radius: 4px 4px 4px 4px;
  background-color: #000022; */
}


h2{
  color: #000011;
  font-family:"SimSun";
  font-size: 12pt;
  text-shadow: 1px 1px 2px rgba(55,55,55, 0.9);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000022;
  padding-bottom: 5px;
}


h3{
  color: #000011;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000022;
  padding-bottom: 3px;
  font-family:"SimSun";
  font-size: 12pt;
  text-shadow: 1px 1px 2px rgba(55, 55, 55, 0.9);
}


a.fade img {
filter:alpha(opacity=100);
-moz-opacity: 1.0;
opacity: 1.0;
/*padding: 5px 0px;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;*/
}

a.fade:hover img {
filter:alpha(opacity=60);
-moz-opacity: 0.6;
opacity: 0.6;
/*padding: 5px 0px;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;*/
}

.news {
  margin: 0px 5px 0px 10px;
  padding: 10px 15px 15px 15px;
  border: 1px solid #000022;
  background-color: #ffeeaa;
  color: black;
  -moz-border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0 2px 2px 1px #bbbbff;
  float: left;
  width: auto;
}

.version {
  margin: 0px 20px 30px 10px;
  padding: 10px 15px 15px 15px;
  border: 1px solid #000022;
  background-color: #aaffaa;
  color: black;
  -moz-border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0 2px 2px 1px #bbbbff;
  float: left;
  width: auto;
}

.box {
  margin: 30px 0px 5px 0px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #000022;
  background-color: #ffffff;
  color: black;
  font-size: 8pt;
  -moz-border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0 2px 2px 1px #bbbbff;
  width:auto;
  align: center;
  }

  .underline {
   border-bottom: 1px solid #000022;
   padding: 5px 0px 5px 0px;
   margin: 0px 0px 10px 0px;
   -moz-border-radius: 4px 4px 4px 4px;
   }

   pre {
  white-space: pre-wrap;
  font-size: 9pt;
  font-family: "Lucida Console", "Courier New", Courier, mono;

   }

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #000022;
  margin: 10px 0px 10px 0px;
  cell-padding: 1px;
  }

table.invisible {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px 10px 0px;
  }

th {
  padding: 0 10px;
  text-align: left;
  }



tr.invisible td {
  background: #eeeeff;
  border: 1px solid #000022;
  padding: 5px 10px;
  }

tr:nth-child(even)
  {
  border: 1px solid #000022;
  padding: 5px 10px;
  background: #bbf;
  background-image:url('/_static/images/tabletile.png');
  }

tr:nth-child(odd)
  {
  border: 1px solid #000022;
  padding: 5px 10px;
  background: #bbf;
  background-image:url('/_static/images/tabletile_alt.png');
  }

/*
tr:first-child {
  background-color: #ff6600;
  }
*/


td {
  border: 1px solid #000022;
  padding: 5px 10px;
/*  background: #eeeeff;*/
  }

td.invisible {
  border: 0px;
  padding: 5px;
  background: #eeeff;
  }

/*
td:first-child {
background-color: #eeeeff;
  background-color: #ff6600;
  padding: 10px 10px;
  }
*/

/*
td+td {
  border: 1px solid #000022;
  text-align: left;
  background-color: #eeeeff;
  }
*/

tr {
  background-color: #eeeeff;
  border: 0px none #eeeeff;
  }

td.title {
  background-color: #ff6600;
  border: 1px solid #ff6600;
  text-align: left;
  }

table.announce {
  background: #eeeeff;
  border: 0;
  padding: 5px 10px;
  }

  tr.announce {
  background: #eeeeff;
  border: 0;
  padding: 5px 10px;
  }

tr:nth-child(even).announce {
  background: #eeeeff;
  border: 0;
  padding: 5px 10px;
  }

tr:nth-child(odd).announce {
  background: #eeeeff;
  border: 0;
  padding: 5px 10px;
  }
td.announce {
  background: #eeeeff;
  border: 0;
  padding: 5px 10px;
  }

.lang {
  padding: 0 5px 0 5px;
  }

.langbox {
    margin: 10px 0px 10px 0px;
    padding: 7px 0 5px 0;
    border: 1px solid #002;
    background-color: #e4e4ff;
    color: black;
    font-size: 8pt;
    -moz-border-radius: 4px 4px 4px 4px;
/*  -moz-box-shadow: 0 2px 2px 1px #bbbbff; */
    clear: both;
    width:auto;
    align: center;
    background: url(/_static/images/tabletitlelight-tall.png);
    -moz-box-shadow: inset 0px 0px 2px 0px #55f;
  }

    .themebox {
    margin: 4px 0px 10px 0px;
    padding: 5px 0 3px 0;
    border: 1px solid #002;
    background-color: #e4e4ff;
    color: black;
    font-size: 8pt;
    -moz-border-radius: 4px 4px 4px 4px;
/*  -moz-box-shadow: 0 2px 2px 1px #bbbbff; */
    clear: both;
    width:auto;
    align: center;
    background: url(/_static/images/tabletitlelight.png);
    -moz-box-shadow: inset 0px 0px 2px 0px #55f;
  }

.footer {
  font-size: 8pt;
  text-align: center;
  padding: 8px 0 0 0;
  }

.toc {
  border: 1px solid #000022;
  font-size: 8pt;
  background-color: #bbbbff;
  word-wrap: none;
  text-indent: 10px;
  padding: 0px;

}
.contentlist {
  line-height: 40%;
  list-style-type: square;
}

.helplist {
  list-style-image: url(/_static/images/help.png);
}

.infolist {
  list-style-image: url(/_static/images/info.png);
}

.downloadlist {
  list-style-image: url(/_static/images/download.png);
}

.targetlist {
  list-style-image: url(/_static/images/target.png);
margin: -10px -5px 0px -5px;
}

.uhoh {
border: 1px solid #f00;
-moz-border-radius: 8px;
margin: 0 20px 0 0;
padding: 10px 15px;
width: 90%;
text-align: justify;
background: #ffffff;
color: red;
font-weight: bold;
font-size: 9pt;
}
