{% extends "global/layout.html" %}
{% block title %}{{ _('Release Signing Key') }}{% endblock %}
{% block content %}
<p>{% trans -%}
Windows installers for releases 0.9.38 and later are signed by zlatinb.
{%- endtrans %}<br>
<a href="{{ url_for('static', filename='zlatinb.key.crt') }}" >{% trans %}Download code signing certificate{% endtrans %}</a>
</p>

<p>{% trans -%}
Mac OSX installers for releases 0.9.38 and later are signed by mikalv.
{%- endtrans %}<br>
<a href="{{ url_for('static', filename='mikalv.key.crt') }}" >{% trans %}Download code signing certificate{% endtrans %}</a>
</p>

<p>{% trans -%}
Releases 0.7.6 and later are signed by zzz. His current public key is:
{%- endtrans %}</p>
<p>
<a href="{{ url_for('static', filename='zzz.key.asc') }}" >{% trans %}Download PGP public key{% endtrans %}</a>
</p><p>
zzz's GPG subkeys were renewed in March 2019.
Use the link above to download the current public keys,
or download the key 415576BAA76E0BED from a key server.
Following is the original May 2014 announcement of the new keys.
</p><p>
<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

I have created new GPG keys and subkeys and signed the new keys with the old key.

Old keys:
	pub   1024D/A76E0BED 2005-12-16
	      Key fingerprint = 4456 EBBE C805 63FE 57E6  B310 4155 76BA A76E 0BED
	uid                  zzz (zzz) <zzz@mail.i2p>
	sub   2048g/74C8122D 2005-12-16

New keys:
	pub   4096R/EE7256A8 2014-05-08 [expires: 2024-05-05]
	      Key fingerprint = 2D3D 2D03 910C 6504 C121  0C65 EE60 C0C8 EE72 56A8
	uid                  zzz on i2p (key signing) <zzz@mail.i2p>
	uid                  zzz on i2p (key signing) <zzz@i2pmail.org>
	sub   4096R/1AE988AB 2014-05-08 [expires: 2019-05-07]
	sub   4096R/01B5610C 2014-05-08 [expires: 2019-05-07]
	sub   4096R/59683006 2014-05-08 [expires: 2019-05-07]

I will use the new keys as follows:
	EE7256A8: key signing
	1AE988AB: email signing
	01B5610C  email encryption
	59683006  release signing

The release signing key will be used starting with the 0.9.13 release.
This message is signed with my old key.

zzz
May 25, 2014


New keys follow:


- -----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.14 (GNU/Linux)

mQINBFNrjZsBEADMHWiucM8ES5VDfq6n4M9DJhMyG5jVoakzSFHfzVOEpHeDYR1E
eaEIFt5CEx0mbpXWy6UBoj0E7o3se5RvF81VQQ4xO0MyHZLkpotGffZo7D34uKTd
1SFbirosXwnsOxjPGLF+PuwifV+mzSoE66XRmg5UJbOJj0ZitYBn4lDKMxU1Rext
WX7D79qnJW2GXv/HuzTwZ/KV3fOVB782+fNdFBDZt4XHSM32ideXedTtTJ+FXjBv
1/eQ/Ls8PMYKaYUm/j0oTI2A5aNP+6BH8/NrVvF8xQWCibrOILASWFRJE7insciJ
m9eeEPPOp1D4fRDWFyjABcn00fv7T7RDBgIdpuj3gBDvGXgx8SRiWxe9CwV9TcJl
WNPTAKd9XGHT13XWwc1myO/yg+yQoJB6HO1jGjqxQuu3aHCw2i4gTHflq4qZoSDV
oxJWeh+mNsfx4DgmoT1UeEmh2Uq64czMGh8wJC0FqSa+FmgCKa1FxcTnYlfIjR79
qwbEKK3JZ5PPkiK5Lh4hNvkXKLrUXpG1KHm6yNVPNIWCOMd7VCDziEhsbeNPCzQc
6af8dkyI9BUeQD3fGjeHCh/QHLju9Lde77GDddYaShXVI/Wiy4AWgN0KVUk8CnEZ
Uu2JbazpJBLGGiB2CujP44eJzm9VPoBx8Xc9/Pk2RFbz2bN4uQtSD6lAjQARAQAB
tCd6enogb24gaTJwIChrZXkgc2lnbmluZykgPHp6ekBtYWlsLmkycD6JAj4EEwEC
ACgFAlNrjyYCGwMFCRLMAwAGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJEO5g
wMjuclaoxkEP/RQRz7kWfCWcDWtKSxq1zA3HEUKUHLxhBIl1C+tmMtJypyWwiP8Y
hrO/Tuk8nsnVOl9wMMtz2ZxMpUS2gTsuquZ6pIUCNtEP+IAuKsZlCcsNB+yOoi2T
i71cXLBPcN/rbxyoOUMpk+fJgdsustUnSMbXJQ2sLjieurD/YpUMJZw6KoNVrhU1
1nDaJqAq/zouhSvNMvx5+GBodQ41gvtb984xbrNc8B24upCBHSF1olczWYPUtaAi
oMlZTNr5XFS//Q8X3sEKAoRMbAX6UvZVdtgqQajGilMg+HM3HnbPqsHoyPWx4f8O
n134ITgrVwL24y+m9XHfY+JPjcBgg9uGLuLJqMrrjYfz7jVdUJQUsy/R2+yzg1Bm
Ruf3SBhHpG2dSBOTxi9GD4aL/7wXuXj9uIuFtX80EwsT4XifnIaHTdtNNzVO+obF
dJyiIpF1IFmFOTgJ3ba9gcILQIWXGIp1e5C8g2MtuYO/6/jZK1lhFCLbvhpA9C4q
uUp6/WXnavd3beKltkzL1v2dOjC1EkjrsFF50olV4f3d56JdS7JEnFzx7gVeSQfF
uLR/t22CluxzubcYoAk/hdIWM2Ufi6v6ONVWc7D5nYBW9onNRKEquA/qOHZr3C/M
QbRxTYyhaMW4Nrwck9jmpcQBE1EzscX3DAr+3W+rnKDCZL5QuI2Yq5gkiEYEEBEC
AAYFAlNrl+YACgkQQVV2uqduC+1XMwCcC24MIzSxDOEpX7c/ecTKm18bOQkAmwU9
WqqUgT37bQ+U9ME322JPrBsitCp6enogb24gaTJwIChrZXkgc2lnbmluZykgPHp6
ekBpMnBtYWlsLm9yZz6JAj4EEwECACgFAlNrjZsCGwMFCRLMAwAGCwkIBwMCBhUI
AgkKCwQWAgMBAh4BAheAAAoJEO5gwMjuclaobxQP/0oU+/nhTx7NRUZ3Ay/LzD7v
DHqX+A1iPos1Xzmz+vq9a7z/mjjiQn0wfFiMctFc5dRf+hSM+W7BUfcG5rML+416
rEgtCDsQ0KfaFYUPRObxxNRdDv4N0j6uw2hFmAZ+KkOxKf5Z5CV7A2dwpjsO+PSc
Ed0BM1iAjzNbod5b5uAn6r/Z43GSH2omRdhE8Ne5UrH58kLFSg8+iAfnnV5SSEKo
bkP0f5m91esbh+vAgq0nFRsB8PeBYklw20wnAkIy6rmKJngBpiF0KfC/V6NY3g63
NDqf4wbSO8WqnrS9QWqYFzJfDsARQvx3jBqLTcQ4SlpIVWKNeogkeSeuqCVKRgvN
jWBHdfABkf+DHrzlf072PK8RtDZn6wn1D91MeFCvg+Ss6XV2d0JEd+bxdK6Aj1RR
X4XGv0jcH1Ftm9JRNjzXsALzndvwvEKU2xgDA2LATA7ikKbIq19VoTf90uc7i1Os
6cOXZkezZatyuJzJITGeq4llek+PVFxU/5LnRLr6h6K5D0/5F9KlgtPJKgSDOipp
TN1Vof8f+v1/zWmyxpw9jtkNjM9chtOY7xhQfNxQLZuHXjQtDT3+JGo6/gTqj105
Yg+HNTJjkDYl2Y5AHb0WFHUFSn2GiBtot4V/g2ojMeQIiw2a8v17H6HUZSKYBjgR
L7ln7O4oBduvaSSyZE2jiEYEEBECAAYFAlNrl+YACgkQQVV2uqduC+3d7ACgpRpk
13FSAhz/RpPnqYwRSFUiQTsAoIewgMNIxgbPQGUVDO3FpzChAfUruQINBFNrj7YB
EAC8GDV5JcAcktMYnUbPxpydlWSDzzBaDUvbOAtWbrmkwQUXyij0O4ZW1W81e0R+
APT26TLuqc6Q+v6b0rWlVoZkSKYaqzm0S3mtLWUvEgPjHfYXT7VaHtzu6QUPwmVa
w+o8dxkbajl5C1i9CZyr8ACziD23FSPA5nd/WQ18EAbnIjnT4cV9dP7lLqZAWtzE
Cp3ze4ZHt6kg5i6rhJBJWbycHAZK2SMclC37S6MtZAwW0pJJwn/qdj7UvmL72QoV
qXNHe8dfKfnxzo0/HoCKn4rlIW0W3xHgqy6VQUnyigL0blrVmxzcH5bgttXr94yh
MVV1Kg9ie1GfhPf1ui86NnGHczbZB2TmTc/d2Nl1/L3TwxiWX2fv9BF+mVczRiXc
9FZRTF5JsBN0BAyxIE9vDXK/yygiWRSD1ND/0eTmKJRqOplpXoCBSDCsfvFN6/63
mx70wP92bNMmDZ/zbjFApmbMCjf+0wCZljiBtkNgT4k2nOYjb6Kt+vOeEg1XBTqo
WREHEUA23xsu2DMH5Ra0OA0NwA9jrp1dg4t7fKIkSlBLNlIsZ73lNV21uuA8lVFR
KHRX7y394c5/T9c8zPtJSmIZnAY52KXBFfsM3h+ExaQIWclyU375kYi0IBE9tCfF
7VuX1JgvA/9SjjtgfEWWLkhkPUAUl82e8SYQRx5Ki3RIvQARAQABiQREBBgBAgAP
BQJTa4+2AhsCBQkJZgGAAikJEO5gwMjuclaowV0gBBkBAgAGBQJTa4+2AAoJEA6+
gRoa6YirbtsQAKheBU6M3oAfyAJ7i13mPEY2EvZFXdY41ct89ebdLCe4revG5Tao
Fj/OmD0W+eBvRbJvOglw+0wYjpjAsnl95kYCBRL/BAr9xWt/g9SCcQqxOaYI9gM0
pFAcPjicEF44xdSMDSWGpN0PT5M6omlz5EObxuU3vaZ8y2XWYdvW8p1AwST66y/M
AoACZqJUsIo7HIsz607XzNa3evIkCuGGNbTrD0OCTNUxOhwtqMIt3bHE2h4I8Hwp
hptTf2eDf2z587/32gs3yp/VAeP6dCeQF3+Wduc41aRsCru7HnE2w/BiW1nzePyK
6b3RA56bZcbANIS8k/+EVOakS4uRDnweqkwBVgkWsCk17+XNeIaRaY0pWJaFs+hO
f7cdp/XK+z2eFO1brEJa3BmnHHMx/lUv5YS8MgD+CcdvHvb2dirthzvyb6yDKFNn
ZkMz3/Z1wnlDkMp/fjJAwXfmKT7IOqPVN5fpLcXp27Jh2BSrafvLupkIzZhrGL7R
hTg8X83rLuQ0ZSn8k9cFju1pECI1atXC/kPMlSC4VffoViqwSZDLFsniFSNTaBOw
EfKCLxv4s0BNovaUQfY2DUkL2BHrU18HbpGkaD3Gmb6TnzBYRTWSz15/9w8cjOc9
rr9d5SZaUeMZkGmlUdEG5q43b0MwQxYSA4Y3ZZGMgbjzEa83YN2njV7U07MP/1C2
D/tpWM2SliCGQ9ioPZVnwB43sme7J0GWjLRR085Q8+4V3/buWNG0UBc+l3MNlO0m
N/zPp8ZqKCe6tLIXiExgiMSfcv9/7G3AgKxfzY+t3wFC6ISZiG5JFQIx/NI6zR+F
RPUXUf8ZWH+i49p3UY564wULQMLobMuxhO2+BkjZKPkHAiXB0FTdP9WW/Gt2vWgZ
L6ogdmo2bo2BQCU0VOOlCp8MxL9MlQ0FGURT/2kGoFzNFUo63UGvJc2iFmICI//9
OGBkpEMuPGrZI9W/4NTh+yMYj1b176IssWU2PWvhpempaXbcgXnlZQ5x6qcszzrw
m403O814RLkIljRdtjHWOJKygXpjj8qTbDFfLXWDZ6MTtZOgFOPHFpc+Drbyzgu0
Z3dpXBeoyXQaZGOtClVJTCUYMjE6AaWZrnvsjT2TSxK+oy4XXzI4vVvDMJh2Ibfs
YKiRahGQnBiYEMIrefoj/wu2GaZ71y8P6tCfdvlv9DikIVTHajdG4G2K7Sr4glgk
cB9M2IsSy7bw2OGrGFvkpqriL1aYvIF5Wf4KIsxpMZ2FIUeGP4YfT3ec7zfSC5bp
/yBP8J/XXaCV8NkhLF4bD9tU+XRRK54LZkoDrJwmTreHknluF6hFuJl8d0+oHyjp
kHpGGVpi+TDayW7RDiko0E56L05VFDc4BkUCG2CnuQINBFNrkIwBEADXMc/4hU5K
lUF1QCIxMCqUD5oBasQXaVMI1zHfUrfj6qankhj0GiJbaXT9Hymr+c7so86EmXCi
6oevuRfGqn4O1DYTOr1514Ftub9c+NiBY1pmgQfmf1slOAyhPtc8Hgbxtn9smYqp
4zPgpZTl+mxRC8+EmPYH23GNL8DoCBBx+kg4+sAAeN05mb6I3nZBoBdQ/wIgwjYQ
TYfb9tYCKpJTzhlm2J1y1rZZiYBmF9C6abKoDDar7cH2C4pxBU955GV01g7CHJi5
mKGUM441h5mkc54DmsrJlxMUdZiJdTIjdbXTiMUozgrUKiIc8o6GYeSs+ceIDevS
Q8JyQ3NbPCQffizCWH+/98A9W804+FTpkgUYYSiFuYWOUuEL8dc6EJyKrQpB1cQp
PYzzP0xJZ+BEI0qOf8eSoHaoFn2sGjCwcbPYb8i64ssZmToDU+fXBZsnruK2NiYy
dNnHr/QJewN3WIxpZAixQaBTquSOAr4+yAUXwnyx8ZGaCmA2smf82FdN0+nKHqRN
+Z+EXhQ8DcMQroZu5dHRbg9EkLq3a1bM5hcAc6v5YfwRhRAFVJmIVCei5DmqmEj9
1DoCTWxsfzMb0yvREvq3hlo6+f57XIfIy6/iNrlcdr1y2M1ZPwnNYNd/8zbRcfH8
SHpHtsjLOvSGLJsQcB84/0FngJ5j7+PnvwARAQABiQIlBBgBAgAPBQJTa5CMAhsM
BQkJZgGAAAoJEO5gwMjuclaojRIP/3WT7zq2+YQ77EWX3yTmy3gVxA19j9W5zLhV
vOC4vJEyxkrm8jEQrgUABvN5aplZstLyhzYYf4PFr2nwpfS9kPwu3CKHSLht8qw1
in47pHNK4jKBK30rv7oRoz5CLeasPtEaJwBYruSc+AOTk1+Ql65gOW/uQHlS7oHE
Fst21YCp810YK+FN+50i5sxzkjdRfjN8Ns6egEOmHEJv+yJxp5wlf4AY158mY3CH
EfUBf9+8wxwvHFuzdsTuMF9TogzErPTGbxCwrD4v4gTxWcb65UjQtEtIgid406gn
kQ6DrNrSNIv765AeClPwysYaIBBxO6captkoQDt2ef7x3ntnlHoOrx9C95xi2DZh
XqemfQc4XR2nEu+ocoUX8/2yl24Bp+lg1lS1lYtrbXiVZMbrv3DLoPyAkmJAhkww
FLGPSSahYT2Ee3MRbbTRecpBuYY9UwDA3rXrSWg95U/o+r8ythjy68Mxhb+qnLtX
O8IZNUW1y4M3+ZSccelua94njRyJKRHxoCpwhSNaBLSa9K972impje3tdBvSILUi
uBI2jaoog6RBgwNaBfDr2f7oTk+RKhSDrqNcP7B3ufKX7kWAavmq5g/VeAotR62K
ie1RxXEaW5esIBcp7wv1IS0x8CrZVMQDi9kRVqUSX6W3lbp6mN3ia1QUCZd9Gyif
E8hpmtTguQINBFNrktABEADet5BeKv8Jlbp1BjlCR6Vsp505hEV0Cvy2QP1Tj66o
00Io1HW+Pm9RAzXSxaHeG0YkG01Nn/8RCGTaPCWaHFJfty2Hxt+YCyHXx6f9pkU7
9ABFd8W09zx/gyjFS/8Sg/1nz84sy4ROb5RmqoUhVztexfbj/YnVAlLUE1ph8b3C
g3Ugjr3IW5oNSKQW0KCJNACvHdHBqfEs+D5Y0F1atoBpoVao2v8pS5b39l77pzzB
bx9K3gB4vmk8ebN08JCEdBFyDr+pLVJmiB3nuof6okz7S4UTL9CH0M1sXyv8VY5H
JoS3xQO07bvjpvseL5bCdniOS8Kh9CNEcGfqsbYQ3RpVpOjqtEbeKXIJncOF/CQJ
XYIdeBXClVkLMdYWLnrzisOCne2iRN9a9G/g3XFOb7WPaXPDb+K5mJjm/BCcPlJH
sjt7cBVW+N+qdakaXSN/IOG8nWDdiUOlOkS2CS5sh+LsO1zynS55REWy5FWn/RWK
aMLv8iUeCLhIk76WuOAp9hgZ2SIbUrQqaodq9nXFbGSyZI1+7IaE3NiChL+91Uf8
cBQIR5P5Z1qsInetc0aWHWirgdwFHQthXr/cKhqHcDEo2z9J7szjAUv2uwGdvY0u
Qrld79Rmb9SA4q75PhWQrNMxFJikX4y8hwkWCDoXFN5WPu8NuK51qTe6UdSLWQeU
OQARAQABiQREBBgBAgAPBQJTa5LQAhsCBQkJZgGAAikJEO5gwMjuclaowV0gBBkB
AgAGBQJTa5LQAAoJEIXzRd1ZaDAGph0QAK8q+L/n4O+q0BvMilIrTAxL7eWOVtLI
3bh8Q7cKg9Eeo4CAD05oDkhj6mHdml8ADXZv6AZU1C6/B2W1egnE/L7egON3PGeW
kexUrTejZexx/n6jMqybiXA7Oz8kdp40m6eQLZahHNzjr1RJjT7H/MlSbXFje4aB
1XlXfIOr8D2nx1RATvEZzXjHDp+4Y4SncYiwSD5FJ/YDiKY2tZZPNtkZHuWq/Y5Q
X/JlrMNNvYD9EQQwRvEvPm8OfA1GF49ZU8eOlz1lDqfHOAz4dKVqlDTbb+PQtQ7d
70QKoeuCwk5nAn4vNrJqmC7bwa4wfZP2f0daT0QsIh7u3oyXCPcMrkW7wy8YcVIb
A12dkdMX0laoBlay0zL+myNadF7mtQTHmsURfEEW+dPs8y8sKPTrn2tqQBxpDfU4
GJYxkzWKdkrjwRvCsyyAEMYOEo1DCrx447lNLKYa16NQJRLQtJy3QHPWwhSAb8XN
FxdGbi6p2PZDBOjdC8qHu/LPVDbhjQYQ31RyQHYW0AJWfln25+p582Vg0I0jTZ4h
e4znmKisPqzKZAtOzlUsKbqBAK/vXDvBvTlGM3pF3KQG1JUN7ttTRz2/6guS6Q1v
3TyM6RjxciXBFre31CO+ZGdwmSizmMVbpuQI0iyRfsUgu/dvzkBy7/swt7ku5Fpc
AP10EyJ4xJI/Ro4P/3AdLJB0lpSvxSxpGqPL3MAYWmqQK1TrasJy4ObMqi7KHj9V
lF7DqQM+1qpgMbX/MzNfSKU1U0c3dufgnnPvu2ZBAPCrOwQhdrtc4/kN94MjfwSJ
YKifvL30u+F8/61pOSwbzoMwT+jkA19B+rmJpObmIfMNb2bFO45GeuwnxXpxN7Rb
uro6QcwO1Cw4W04Lbdd0urZ0EYvMyJQ7494Al1NmrOfk1nMmgWwHjjhxa/t0wJae
qHZPMu9ZU42GRp+8YuEIz7CQRwu7tgLG4thLNP0AxKwTLoPE5XMcqrp5WpEEyuuh
9DrZ7BFq79ZJIy+d0AifDb+XAR3chA7xOPbIDnz0MuJhIBXeFnKWPA49J/Vh7kvD
IUCMjPZJQONULfdFxYycNDl9g4/v5ik+1S+oLqHyBoXNu0n/KtJGeejW6IwFOwRn
UDYnhUxVrGqf0gHV5IFqDnZZAJgWI3A7BR8i1FUgxsS8DeoTHkgLDXGN1U5ncw1F
MtwzIk0uDK3Z0Swe8NO9jlkA7UKCboGV08PwmpAZBqZvMxEtzVTceV/NWN2aeGEw
C9RzgXCrXXNwYRkV8yHIBlrfAfx8QeGeOTtiTP7oYrMI2xrsNpC++i6Hgo3In3FM
ZinrYEOuBATZHB2bWODz/GVsKXpCQrdH88li2aIXEeOUI9rZymcJqTpTskdr
=iP9a
- -----END PGP PUBLIC KEY BLOCK-----
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1

iEYEARECAAYFAlOB3xkACgkQQVV2uqduC+3+UgCfYZiUtx7FDGdQDhdVP8MyRf0D
ANIAn2YHOQh4yv84u2Kuars1gC0j3Nr2
=Zu9F
-----END PGP SIGNATURE-----
</pre>


<p>{% trans -%}
Releases from 0.9.9 could be signed by str4d. His current public key is:
{%- endtrans %}</p>
<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

My current public keys are as follows:

pub   4096R/0EC51FCDA94FB53E 2014-03-11 [expires: 2019-03-10]
uid               [  full  ] str4d (http://str4d.i2p) <str4d@mail.i2p>
uid               [  full  ] str4d <str4d@i2pmail.org>
sub   4096R/1CC61D9B33C3241B 2014-03-11 [expired: 2015-03-11]
sub   4096R/803DEE491A3473E7 2014-03-12 [expired: 2015-03-12]
sub   4096R/A1B84C9B733AAC82 2015-04-05 [expires: 2016-04-04]
sub   4096R/13B5EE58C09FB3E0 2015-04-05 [expires: 2016-04-04]

I currently use the keys as follows:
        A94FB53E: key signing
        733AAC82: email encryption
        C09FB3E0: email and release signing

I generate new encryption and signing subkeys yearly. Any I2P release signed by
me will always be signed with the latest signing subkey at release time.

str4d
Nov 20, 2015


Current keys (as of above date) follow:


- -----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBFMfofkBEADlyw6v1hGBtnIISujt/18RJcVTLAxYtfe3DsGhWqYZN3iKGGWb
NJ5vZcV65FVH/70NFnmKlvYp+tVNJcoRtEYpfwiNG7nIyOC4GgaSLwkNVgLcFZhV
mNj2RIJphjN5qsWm6ut9p9CyhWkVNJYDP65gqwShZQ2lPboo9s0XjUF78SrSshy2
iVij0xu6oqdjwqn1B7L3lXVYCwxReCvSdFnBMpjGUEgGnbt7euhrViFk8FrUkAje
2tZA5FAUA/t2Mnc9JREe6WlbZ44mLApOjFdw0g415FdcnS2GGaYuXNG1lJ1yOA33
n9JXT7A31wPyiw5yz7fxgl7ZNYZr2TsRjBlqEhf2SCPfqU9UlhJ9NqApaPyCEr+8
oZQfZ9r6stc98MlnmdQ7p4SmKRwCLiBtgmrB8mbgYV+iOwaKztqEoma3FoO2EJ+j
Gx+UrJ0bIFVr6sL0ulfneYlY76wWWRpB/pLLgIMmZw83uB+JDBQyZFXcAHj9jMQ7
ZNn0MNQ/I+qcmX+CRAyl2+cQHUVbbQWDjB3crZlpK5TGw/x7w0YxBYAH8Us5JqJH
QOsact8ADnE4IiKm5gVefFmNX6vsljkNESdpAMxnB7Ckl2XV/r5sKwrdxxUbFSxp
IKGx2uKGUs4oUffOzpKULhGBWypN+3fVwvP+q896Il9hgyx6SCQ8AgPHRwARAQAB
tClzdHI0ZCAoaHR0cDovL3N0cjRkLmkycCkgPHN0cjRkQG1haWwuaTJwPokCQAQT
AQoAKgIbAwUJCWYBgAULCgkIBwYVCgkIAwIEFgMCAQIeAQIXgAUCUx/ZQgIZAQAK
CRAOxR/NqU+1Pk9EEADHdpsmrA6ZKU4EmBZNbw62D7tAo00Fh25m8OuIkXtOqEbF
/guTZiZM4nbhZpPFG9sCN1bXS8VslA7isOedbznkKnSK0BJcrzldwKzW25cwptoQ
CCqTUarYbhcIzEOKNetYqICWrVTy2Yuc37maA66PnRLphV7pP3Fj7eN6aMtqwtpJ
YukIU4LAjKOMJ6gwy7tjsZYbAqgSE8wRJm7i1MfO1W864a1l2a68Gooz03NC6mfY
J8aW0y1F87xMJIgZeN7OyHf2AC4/Tp/cL+Gd3HcUuoRjmWBgaxH8tVNgfxSIUMNH
5pTdDs5VlRolwlOEcTW5VxOSu5C7ZbuKyFmbI0DSevDVGS0rxSSizjlyGmnxkLU1
ozpeIwTbwTUzvd26+k8cidGodKqoNoyAXzjaiBXYKgIrVeXBMHxCGeQtGeEhQR+L
OXs8cEX6xpt9g7nKbNki0Cfv/lx9Byn+0v9RvMJKDa1mOSKbNOx3NJ8+ewdTVkTs
iYFTZwpJexbfovPYqTdisiO7dv0i5teE8sEj25icdPtKYvn/55JCT67E8MVZaeyU
YOaMPtgsiOX0v68NtrC1L37UuBykQlm7FdobN4Sg5FnLTt4IWktf0/vsaLdhRozD
KsbTmsumCrScAwZfa0H3S8WqK6yCEKjPi+J4xG1OZP1WptlV41wLnFKkeFaZRIkB
HAQTAQoABgUCUx/Y+AAKCRDV3jiWlKRlsmU0B/96eiPHIIvapoXKoZSt23OFjXG+
3xp/Zzf2Ug0384FYZJ1eX/R2IWsh64CVvOR0LMFvHvPU7SCMu2OreNHfPx/B/kn8
MmusGy6JHP25A4BWzs1eeyKgYQTFz7vSCeAnytmcdBot1s099upIRw4usCLhdxzv
Qyx6TogAacGC3YFj7o0agz+ApPnCQZ68kZpDOCDrtOe/DRted1LLXM661Cp15d5R
d+91ZSKfQ9xjK1d2k8iMYJqWYll50DalGtzPGDB335gX7agliI5dYiu2XSLyynhw
/7f8d0Bz8KVj7pgCroAVjTSdHvZfVcZJU4HST/jHx5hilVUzkr9NK5YONJ8SiQQc
BBABCgAGBQJTKlm2AAoJEPvivaOtdGgqmGAgALl0eAcUSF7IuloPT4VyJeNGMuOb
7aN4yYrGBM+y7Ij/dTWSS1yjlcixsqd+s0dqGse6RtJkyhkisEmNdS7Sf62okGDl
ZbmhjvMQteUO1zw+CREdfx5oMpW/eCHq/Pzw8KRdp6qY0wBRj10GFMAaMX8XCNOh
6B6Ti0AQ/424yEvcPpA0zXwvLGylFozRxjK6qWEHEmW/+knxYYN/W+8TERuwVJSN
F3jBYl73DTVBZ4bzpu5jMSydhRD02nV2LbnolhbCzGllLkhQw6iFW36br8600Tba
loQhcJU+cmuCId/B6xXcF+fyWqmMmm+b0UFoHGRBnXCf4gBcjCK0UwJ1lUOTY5qg
IYJTrBpCrGAoGTd9s+1CtnnZFlIcwFJB7NwMZEsTWvOvO6sZPYP33ktcUwWAKqNj
3sSjy43kdfUeVip0jzV0K5uStC+DiVq8VwH7uNIH2UbkQZato67WgShUCCaSvf2p
HapSRdrmwIaoANQuEluhytdafX7yqJXGkhYI0Ylh2FH3oZyTnz1XoB5y5T1OpFpi
I7CgjRO677aieRsf6HACHPX5mWcq8zJQ8fuxoHZ5GJ8FEyk6ULUgFJ3u9SgG5k5I
vP4pK8+lP/d90Zf98Uaq4aMgAoIlrtwz68Bv/KUlpwVWhiIgo89C5UwcTUNQOmi3
0PxCpamM81NwGPxjZAqr/+0YP3NBtJOITL0oqRCxcHCJ9N8gmqUmUEgEffP+glsJ
p/mQeJEacmR9loz6WAB6GT9mu5TvX6bZ5EawnluQ1mI6Tn+v6ltjhKzPzaVhOo6d
iKriQFZhcelX1qDnE3zs7driBeacuKGt4URV8A+UDGJBeIAEfrlszor3FQ0qOUPs
plbcbB4YudUOhlH1REtGx7zWVFefuy80ZC7abHsPhWkJow2axWlvPqjSsd/KgpjG
IAHIZxiYAozNJqDNluGx1+qa1d7/YINthZKefhkG3XDLuhgxvD8rAovyAFW/8Vy0
S+GpzUVtC8HY9FZf2gRkVtZQGboZck2uFyIaU/Ni4ahX8Z9IvtsU9JPLzp0HRgAv
9kz9EyRZt1viueeIVcmadHirUe1IKqndeslcXOX4dUF0nrqP1+shYhebgq93rMPR
yH3EsoXtAP1KCN8tWPdnlDnMY0Zpy32mfCL0hMMnH+CY5rARssSbiFP9HeWk/CN+
yES7FY705QmV/2SV4rEngqnIcrcqEJFp49JPihC1pSikHCItzSVFaODbUl4qhTjn
Tjtl0pdFQc9ksA/6IEOH/bufDwtxCLwAjUpqyNGEH/8FnxtwotsTmhmTWMe9vxYe
YStdTLkAvJFMVEU0W+H2ZZG481P5/8tqFS9cHEU++3VvuYxfipwjpIQhm5WJARwE
EAEKAAYFAlMuEVwACgkQq+DDGd8KChpPGwf/QL66k12OzqI40KQL+UbzW25vxbmE
OyZ1MT9SuUVt6Th9zdoNm9Cosi9kOiq+DPLFFT751Lmm1hcM0rDDNeN+l8wpLwX9
EifD/bQ7Q5esM8NJmGVyhA/Cd3wkp5yYNdZPOu9/0xpe/Px4YgficRErhgyVh2Vs
svQRQ0WcTYbgbmQFpOUsjNVOchJMFERSJaQxWgN3olYd5DTDxPDLztt3vdBCIkz0
4OAotZqbqdnmvlkjKjzrJylfCkyo9bOU471v6Hs3mfUQXo9nXC9zGETFWsvB4WCC
QdWEyj+2K+PcdZU0FEPonfTouVcsR9oTqQqqfg21M7HUHSmlrOyCLqNnZ4kCHAQQ
AQIABgUCU2vk5AAKCRDuYMDI7nJWqGIzD/9vdI3uUUYGCaURAprGEo4kk6JP2TcS
AmyO9Pr8bBdpmt/DVFK0zWllQ+69QAWLFoCmgjOgWUPRNWA+ldG5lzExjuuP38P1
4HupPMh0yOd+QUod4Gdi+hqPCuFT4/oErWZcOGGXAw4ZcvdEGKY9E975D+3yd7sG
HGskvGB/UmLIBQ2XfQOoqk0A9eXz55wLN1ia1imHd/0NkPkQOHkjTdOtHhcBhuoc
ttex9HcmYy2g5oorG+7wx0EtHxIhuCcRq1wQgXm2JtbiFHXiH0MpLfBr29kpzH7y
8jompGgAJsK8uRwTC8UFWHnx0VxnFQ+4vinqlgj7/O+WMZ/siDlOZDo2RC3ts+Ct
91kYNFHsycrkJYuoPzNcMy7mmixQFj5L2VIG1Ne3OTdEPVWE5jIQ/w5IX0aYxNt4
ANIZJA/r1AqDqDEhto6gdnkrVZSJN+Mvd7yj7XTbrErpTmQeNkGgb9ult4XaEOdm
bjAjE6rTQqFD3Tn8SeXNgkJFr0Zb8lZypmOL6cxU4vTG66blJPLZGuaH3yCrtA1i
ynZPrV2TYiET+fhg2TBEXbjLkWHQnA+7sFFOTgK5WOqc6vK29h5ssEQKIFodDh4a
e88tiGLW9lSc+YWRpKHgEc8QDXIuBrV18hZEvbITvLZnnf5uIFXJV5ZCHG+o6I+Y
jQrPY4oC2HGrMIkBIgQQAQoADAUCVRRYygWDB4YfgAAKCRCFZ1M6Yr7+XbxwB/42
Kbk6DpZueEK0qtdoLUh7H+dWfwA0Gsh/vCoS6RM9iXjKPBoQGlbCBpsBpqCJkGd/
iXH+tnkU2dq4BvGc/igSHadNYmYq077l1vu3pJjDjxfQ2qZSF9D27EUzlXLd4Q6s
hysZ18HoTehxr3AG33N1tEm9kBUfZjeMZxk7zbty3Lo7tK/UYN+4mIgYqLc97XIe
40Z3IyFcb4A23kLi7AjFVFto+JdEBQzS4KIdU3ZjhOlg2uGQdqGpjSeCN9MjkYYD
lhepjGEQzFU76x5yynruV+U/Wn+TvGhGMJhcNrebNRCZbNsvTCPMA0UlSoxusbYR
HX1Fcy6qzYt/Ax9ehAItiQIcBBABAgAGBQJUI6eeAAoJEBCd1EKVjp1/eucP/2eA
4jDnQcd2Hv1i43XXcXjUIAhggr4dGuXzQqUzjpzxyh02pJuCxf/VEjug0kE94xrB
ZEKpHyDyo1IlFUnnoz+LT51iiUMmM0IAadMKl4cuvFzO6BH8bPnybEaw8b/fXBkX
R/n+t6TQJMqkjR6gWX71HLHwy+8Z6+ospDq2IKnZuwX811rd5u/H18vgHpJ5x26G
MoyucHrduEyec9E8GVZnkwwBK6pi4srvr9qLTd67djr3y2snhkAyAu0ehox9YBEH
zsgM4WI4K8AujiFLxBe7qrNAQeWRWUbLw7zHo3gYRzu4Sv/1rKGSB+wVZpgYIgm9
Lhdtd9kd42XrV9yRgnDb8OvG8IW9KI5kLln9v0QHOR/ctuqnn5oBCTqpk6bkGidt
k/vFePyhQkVn7pxcomxeyPTXmakuTXG76S4z3AgXfY5nq33i7Xs0nxGE0Ak4MXnD
GoNYsFnmuQL0x53m3BI6jVoLa6hmm2q1NNDhcnXVr4vW2mzRBTnu4Efgg25GJZcp
SAKLbf3+tMnbfoilo0LbPoQXBY5oDV24rv9lU012J7ryyGgetSWDX4Kq51tl+kMK
bUtoC7Ew+xTkghr/MrAAL/SmJN+qJI/upHcPaRHpkvyb2vHNuAqpkKZP7Woq1AP4
cSNHCTuGqLoCU3WV7DJK9IYY6Nx0lcGaVoMpeXzciQQiBBIBAgAMBQJUtIPWBYMH
hh+AAAoJELQxtndw5Ko4p6UgAKS53UyHIDowFgBQC19Iae//3p6W2MP3JuKUSd2K
SpydYNsKKq6sTQnUrSJqDS198ozqrLbAZCoV+3PkDDQrshXCOjyyKvGpe0kys7RD
PakQbtytthoqMXShFwUox6t7l1Fcu/PPgePV/IGsnRxcH/2GeMCnPzUafS3j1QXN
R5c2NoDDMVVeyEOaIz9kn9R0BB8L3AzLpPAkm0VM+hEt3My6ySKK+ZFMvnZ6hEDa
G+0Jr+GUKCDuQoNjXiaFMW0RzvAdRysU7Sa6wQ4QqLmNo4yuMS0VP54y5OAJjIIk
vvaYmc4NmbSmUDBW/0g5DS0tvWBDKkFre6WRBCgBG3zNZRw/HAxXiYvAIVdugTtS
X38cwNZVTD04w1hgbHRSAKX37/Xbiz5+CMi/LZtyKVLUVIxmXGd8LD720QXnENOx
RnNIfcQmaAB8/nLutGxyiWMEchhbGkh1LOS9dknb00i/0+vIIhJHYDW0hbWZ7AQN
UFBHLqXGjf+ozwiMeeCHGkfrnN3fG+s0vy9fH0Nnx1d9v2fjzKkr0qEFpbPOl8p5
g37B0bFRtIJkYtuYXJhfZv/3g635MC00jKNM5qlC4EwTlt4xk9RNwkuMcwYstSG/
1RG6SxCxJefG/KJFCwDXG8Ts13OdgS5pwD4yE+3MDdFBTAXMBs3kNos6r1qcS4fX
wyWR9r3ZgBI/ZNJ6miDMWlI4knN/m0uneqGfu8t7rlDg1Jl5l3vmiWgc89TirReT
nucGlonAn+J5PKr+pR1bRYlA6orX15B0/jJ2iy15n8YxTf4yRtgMpkcCvxSyIqYb
07XNk3RcWGU0YU9XhSE4iwp1k+hmCNMdpwN5sLHDdJfx/lIcNUYNzrhgvbAGJp33
SmwfQoeD+zKUZudOGS7YxGxIUL2gAOdtpMCzHGFWFL+r66QRh284mXqOUq8bUFd0
vWgG+zD2espSk2tKZI3LVY5ib6kXr/ThGWenm0wE4KIzcRRD6FCHB/aWDpCap4Sy
+yT7mxZ1yhTvU5nNdwsZZjvfHigdcD6YP1lriIKo71qqS+TYu0yoBxMrH3Jovlj8
l2reohJ4ayfYNJM5foSlJEPOCTPmrfGiXV+e6qC5RmLJjEQUlQ4jYkPeACXESLMY
MEQiYsZQMZl4j081hsKsVbZo9087PkU7AR72kUn/YEfFkd7cQbmkXMP20SDt5MHK
DGsXJYdQTSedwUJQe4gd23CguuHQ9rOvdHgSKqQjHhSmv3HFhi2Hfjw28RVM/AU0
+uOUYOFcyzbLhDONa2/ku9p7CxAfkKVGtaRavNvntKwi74R+kvwfwsSmxAQGb4a7
5R7t923xTHXQJDmw4fPg7Nzk3EWkVpIO5bbONoihLl6Sm0C0GXN0cjRkIDxzdHI0
ZEBpMnBtYWlsLm9yZz6JAj0EEwEKACcFAlMfuxICGwMFCQlmAYAFCwoJCAcGFQoJ
CAMCBBYDAgECHgECF4AACgkQDsUfzalPtT4HTBAAgiQkCYL7bQRxO1lSdBWM/qRl
IvL7OWruPjLVFXLaHS3LB0F1BGyL3zQXofCnrU0KqSybTdE9bnPe+lBgNZBxhl8U
ipZdau7opbol5z4UYGTTuwsRwiqfp0PJf1tdnrVK5CBUroOGM277/4Fja2gw5/nJ
v7OZ3zU4DPhG3wB5q+f22rUrrIXTTCZ+crFJ+6ii93QQJ0ey1ruNkpCP3zrReEzs
EMKDVj477O9tq9l8Jyra3om195/cb3li3nCCx5n9Tu5VIt+GBpXXWByWKdU+P1uI
MGXbqrZ4rHDBxDpxarhGm1CqC1ets6WlmuSiKbhaLcb2joypHUpa9UwemxHTkdzS
Tq/eq5FXcc6hIcYmZXj5W0APTRdUS7AFqxNMEeLeamexCgFeYYX1TIZDDjQlL9xM
BYrYsmNae3H49uXTGuBIw5Shy+ncnuTkzNUNBiH4nS9vMrDzJ9SPRHpfWu0d+9rl
ZDl3wK77g4dAZpcwpmIpNBlA2BUVW8veEmQdkMwAexi93xJqZskkbpZfPUbmAWRL
xOczZ+z+65wg7bHaK0n6fay19/MO5hYU2BQcCcdHbWnT+vzw5ybbJ2Us1M1FlZpP
acaLUEIsBxvnkKzZbm33g/h2W36kUh+2VARK+sEBe8kOKSuvgL9A/aHWuosyBIDv
QuTluo4/5iffXBIsctGJARwEEwEKAAYFAlMf2PgACgkQ1d44lpSkZbKzMwf+OLgL
EqCgLrZLTC9EeztmRQOXCKRLYpvoMBtF4UZ8vxXR6gtU4nMRWmvKZ3u5aYhT7722
U3+3Om60JQutP3+rjyHmdgEAYkg2GMjJLU5/tWIWqrrV3gskmRiuPWrOJtC2L7Km
VP0mKK/C+gmA3LqXbcAx7ilE7zCob1rKr3BARJXhuI/zBt7EYveBKwKW47S71YrG
95Y3YiYj/LIyHbUfRwA6NtDMbpF11xH9jweZgaCx7W+kDtr4YunPI7dCEMpRADMA
snAaUhrgjscKvUKI+2sUHEy9fgQ6+n49u8jkIDgb9dLc+4hyGsmkYMagu+DW/EGv
i88hpuGzpk5EeRoxgYkEHAQQAQoABgUCUypZvAAKCRD74r2jrXRoKhGpIAC7v88N
a6w17UteB3JRIpK8XQlqBtR8kqOGFqDTlMhPORQY9HxutGuw2hCIRaAI/NEvsgOW
W6F8GxBAqEqh4m5Y9+39tZCAFJFeA36GidQNbDrQoL54xbGB4botZUrArmSBB+Bn
wZzzOoGfzEnI22MaR8k7QACYp8XR1pJIFeIEJCl/8XTRldUbutSqE/3KmOLI2EGg
06wKUoEeQZtiN+ZINLz84m+8+qX81+URUNEApcCHXjgRGa+xB7PBA4Y/YtwGcaJA
qF7Ap1wD+z0i1WJuyrjDb6TQMvUiqNoFy2mk5IcNkdu1a9Z+/++JHEEIhLrxWGIl
05nSnHZ4a0jPh68V7tz1febEgcJc2Dqx3b7b1pHOSEbvwz9clPjNm9yeQu0G/UpS
Ug3uHRcWHD6nc3U56EXW3t1m1ChebtXnITV9LJFQ76h7E1YRp3yIYblnNOd8MHVW
hiH5YQKN8u5Pzy4w2a+CmYJ1YSLcZketo++/qh0i2gilt0Ox66ARy83LzTU5J1Ii
jxkcXMuqLd3tTyTSXpTHEVmWaf1cbWOeONTb3PgjFhUA/OtLFWGzIteLZUVdT+L5
U8LzUS03amrf1h0S/jTiXNg9YP0DwLs8ptcQtI9i4Kug2dYYxlXpI0NQbeaafbCD
/tOLORdCbeXO3MFGPsRaQOmoPN30VhiR5CsJmiaiTggMauRZY4NseofTvqAKabAH
+uZPnBmyFfK0/5LmeZsH9bwYn8dgzfxnmd/oAKqiZbqnmsykpw61N997T8DA8Dyn
Rpb3og7aBDuJtIMgOOZazhBnAMmlKwIO2f2UR1Sh8jYSvfp2S+xGL7mTqimZbaLv
A0tMepXXTNyPfFR0Hvb2Icps1dfXIo2q8tiSwn043fUF4ZYegFTQ+pZLGUEaaYnp
NQk4ytyhLsOm1mCZf/qWh2nM33ClZN+Xf6RioujabWcMqVeB4ns9MrdXBfO3jYjm
4SyfpTk13v0oEPstd8esZAwelaMSGTg6w3xrm7fLq9ERI2bZrOlkblT1NmEfwRg+
kbQsu88Dmxkrrkt6KbMsvDLIkPbLEP4rntcCCbcs7TulnBw8IxusJuHE/Lqok3D5
poofD+fIesQ811Ms9vOOjp2Qn51DbzGyoBJBtGXywlTAPReRcceKLChFXtAw5zBw
f0whxd9ZytVVvkPGwM2KWbtfdB461JNpeZFOYUWnURtTtBqbDGfB5+4SFiC7qpr5
n70I61hAiY1QewT9MYUnAJzmsGGArqd4oto4xVswvKzV7MkolgydzO12evPZrjIL
1/PKDgNTZYVkIar91r/TDsqLpEvOitUxSEBsr4KoI/a01BfZBr3iVF2L9GKRFwE+
tdGtGXHOrOp44qeaiQEcBBABCgAGBQJTLhFcAAoJEKvgwxnfCgoaCQEH/0qjOxiM
30i4Bxg73QH9MWMsLwX6vdnhb3qlxPBqRZwXz2rBKlWcOmrw9SGoVShlRW5xZ9sW
pN0xfe/1LumpBZuJB+G3o8Y3oKZ6qLcfb2mC1WnMEai7nOR2t03+Z8RZXIYK7GUW
L272EZ36vf4Dc2JbHEVCS56VE1pEjFBfC9rZxbkUODGr84DrBqJwJNrJ6x+dssmX
9zzm4vcrIe3rGJ2ExM6eFcVB5DwrhHEWHzmpZGYV1PvO/38AbJ9OLhkJKNMuFNah
FDA5x68/Ki3uWOLJRRI5nHvt2GF8kZ/0oi7YAhd1PiWmJF5pwfFlhekQfJBjTBXk
QwgD52VCqdBdTbGJAhwEEAECAAYFAlNr5OQACgkQ7mDAyO5yVqi6mg//XHuH/fXw
MMoTqiNbKl4anXPjiuNe6VvI+e/NS8PR4T7CGcgxKlThRhM2J1psPzYtQfGfULLD
cHT4Axg1xgVvhMKDBCF2Oe4+ZR6KopwUenOH7CN2oneLDoh+gJWONaYpcp/CNvS0
46cyk2fxeAWIAD4XKKhYy4SQOijaF8F86kSAe1oitDq+F+UXvuOKOeF82gp8g6tk
vcT4J1CMEyMzqeyh9MuM17fagTLR8UtRAsWrf6iJRO/rvGTM409yigydsB6ZKvmt
4HR/S+/hLiEpGp4qEMpTIivUz44oZoXz1OXnPKfwLTBzJx5nQHQ0wPYxktZnzYaT
bzZKA+v/Vi2C7/0y+hIzXV+OVPgUhvM1OhM77TLSR1014GsgrGrrrJxGPAiGKMUb
4CT3M4CLLaB68+8An3hJEXs/MifPiRXEbzh0/HHxxClfwV481a2A5Xf9KALW7PLZ
ly8eXbtqGg+ZereUWsr4x9vkWXir06dtMtN5ck3hlx4ItGL8OmjHXoNXkO0HVvsD
qB88vVxMftwBNpDLU0r6iZ6HBWBXAMD30wWRkikmHlSztERBBYopmagJ9sdLrUIo
as98jm/CIJ6AttbJf4hyATo4cTR9Owp9mRPfOE21BD+Nmm7QEoz7B/WmcgBKGVwZ
nUcqUSOCJzh9fyNaXDY2GfwGVfKLGO3lC4CJASIEEAEKAAwFAlUUWNEFgweGH4AA
CgkQhWdTOmK+/l3Q0Qf9Ge9s1wn7X9l4YV3bsCk0bklXye3FznNx2vf544Ft3NbP
O9oFy0cSN9fBwTsR67M1LNWyuRV5xBpzVka9xW8KB9/dAvbqru8lwyOh7ztZ3NRL
SAtl41XemAstLY3wWt36VFZNgiuloA/tAQjGZnmf/AkuMJK7MI17lAqSmKTJTcwG
KZcLLCeF3aYLjUThfNZdGgs/+TSrS85g/UTIrcnnig+vTCKfUBDK+q2ocxyNMA44
gMgthR5+jAhhnm5XBudCGMy6TZ1dgBga3qgXMjVXJe+wwjYSW9flk6AemmBmHsnu
53lPPdulhRIeGtzGpsLpK47GycE7JzEfNKkZJWaw/IkCHAQQAQIABgUCVCOnngAK
CRAQndRClY6df5u3D/9rIpwvfe7kjQshFNm1sxVuBCVXtslDtHuXyNI+rrRyLxVd
cFWF6CFE9OWCIuGMl8FPnIzoR/p4sp/HzMDCALgUsBgn9j+4906CkoyjHiPTQRy6
uhQZDj6OfDcEZV3ZW7oZECuYND3R1686ESnoB56KJL4gxeQy6JSFoW/3+weS3swb
XOpupZYa+52rU8d5pLOCsFXdulWhxSdjRBfSUYvf8M2ZZLlV9GvHvBGxBlzQPHhs
CKdPlviPXvEa2zP93xKleN6/8woL0VAAN2Ru5yyoDDGXNj+T+99zCMAvXEjpw1/S
/UI/+y8GFTIRMWzciQtl9Xd9PO+0NXWV/y1jW/PKZEVQv/TFrSDeNPtRd1AMVa5y
jTaY1+mha33w6k9e/2Ib9VbZ9jWOOA8gpevhfXQ/Jzj1aCFvZLJB5+Ho1/VlBpv5
LjgffGxGJbcCP8WXDrBJL/TYKEF+h/dYzby9icvXtT5/7e9YZn0n81OqXdFHoVka
eMAQ+DpHWDNWP748TEKHqFWu4/MfMRtduZFsRAmWBB7aA4+SyTSkTXWWCTB4JAtJ
0A7ARsrfqddSvfQDF0ePSpsJxN0jM9dkvj+w/YJNn5uyiUY7fDtUpPcm7UIc0xNI
hsAUlra0v/ajvDeb9SR2EieddwkbpqioonfwpKwrIKRha5rpyzaEkwSL6kHDH4kE
IgQSAQIADAUCVLSD1gWDB4YfgAAKCRC0MbZ3cOSqOKBOH/9eHeFpvQbwaA6N34y7
dAmac7bav4dDjhgBHCS1uocjYDBGCFzH06MxXS9z18CYL94/5YJzgXfKNykIf61l
53Cqbo5ywLBo4QC4M7eHx/QdKVJSS1Y6yHXcxDEo2UvHOqivqRuXoAQErcNDCsKp
fzGuIfWkNxxM7w84ZL7hhGGnqDy878TGE9EOAwoEmO3nrNMNgZM3ThSIFB0V2ral
D7rJimFlWWS3Zg9RJtittruyogw7wo7ofl2z19LjozeN0/knaKv5GUHGqRRUEXIk
a3TJX+66VN53FY15h+ZDzCUakl4zepR9BvuLdTTbdzoN7iF0TBQn9bTrmD3grC6i
FYupxswRvK3/8Gx4V2dlxo7S3XqxwIIPDkOdMTW/6lCuXQt8tkaUbStwhzLnxSKV
H1HUILD/H38zSnuwe11XMFZg6ZahzC0kjEQ9v3DN1I8djZGYAvQfP0y/+E2OMptj
//7zIh/eDfV3ruLQh/583laMGwFxbj4g6GPILou7DZ1dbofF8WftxALMfNDXHsvs
0zBNlqSZNzSinTiz3JoszeWGmRX0KuyZDaCoQ/gMBjbDxorJ+a0NUgRYwJgUJW45
pTI1X3MI+qCbCgTRgvINNzopjJNXr4MHXuLD/Sh8sGRWj0YD0nqA8foFl3h0+Ft/
9TNbc2CeNlmQPxKC5pHu3h3lRhZYR2k5ljEFnOVi1w55OQ0TlJrrtR+khqWFf33h
BNCe0UlnBVBcnywAxAhfnls90S2XvaoeEj9PUSdpgeG4TcpSpknNQ/kNLw0Qv52b
Se9yWdRQNyAe3xZ12RjfQ3sGXwC7vg9DA0ER9eSSJb32f4pDtUbbl3PmD+2Xg4tl
d2NpDeAy0bridAlBXHVkNNY/sfovCxCRv+QKfvh5WMm3QTaoKN3ip3+pHsVocwwG
rhgqszAk4itbKS+0NG4mAavqhQV27waoQ9JbimCvZii+0pDvg2HpD0hUfVGOpvA8
gRiszXuJo2OlrF65o4PChS1gUmepatruO+LlL4eApSjfGk7StlPXv1BXHi9OzGXI
8RVtIjEkct0pxIDolkYuXIQXQ/e14Yedntw7t/vHMtQr9TSCYDFmCLpezB1msoat
vGePfFPODxVWqpwHTeWzhLaXVJH1v9Xf6kkCFUzjrVapVsom/F2yC4Z313vQeyER
yPOlPUrvSqHXJwM8WI9LgYjsiro1oz42aTqNHFE7bcnFvQ9DaLob3UfsppkN03Da
bxUdOEgYrcdbO61D3BELW0TeZUUexH5D162JTsw8dRwIXI38VwZlGii4wuyrLWCG
M2VZ8d7wrZ+6dpqoPSYAx4thPSF9XgMbSWahz+JcRaxQFFExzCKhUE7AXk5GARzA
IiRDuQINBFMfo0EBEAC+nzaOz0FYik2T2zNxc0AMtFySaM+44LBmhl7i9bm5Kc2K
YqwSzCQZUJSXL4OdrRH3ta2zIR5IOtzcUHc0k/gDGPI1ptOyT1744C/MuYt/yIpF
Iw5AVvYlrU7BIYh4DBUfWr+2843wRnwaNlINgWuK+LRVtE70WaWYsPKhO6g765Fl
5eIX7Ia4w33EiZeWXeV6abGlfEgrBcbCYs2fIXztvZ5Swhn/+0SxPsAB8rIOfHSY
kB/+143DvrquumpmRlh1J5p4EfsaV35DueIt8aJyJUFp1G/v7+nYtbR9n00mx6q1
bfM02cQUMBZIwBJRDNJh5Y2NITM82dc3W4mrzVZggjkTiv/3FLmYsD4o2mWWe5zK
S85bAfbgNeQ9bWXxJK20TNbnKvyBuu+gjTlDlj83I2m4U4eMlqTc8hjZg0XBH/eK
a8KIZG//iIhXyHerQviJPd+OJl3xIoVHvaTnMn06US6CKVn25wcXXC4RyEk/iU1M
3SW6GpUwoWemIHAFQoZBeSGue0uutZR5DrrKUwCB9DXtAS3IdkYblc77WWBSPZEw
23spbxmiEma9WuSxZH6bJpBpAO6E5GlMDUIcqY9VTxcvxHAe5fXIMd3EsmosN34/
ghqytIrxgdruyr92fF0qgZwfpD72MMDRBzgSHTw3m1kwPSBbdPIhWXkOrvaCowAR
AQABiQIlBBgBCgAPBQJTH6NBAhsMBQkB4TOAAAoJEA7FH82pT7U+MXkP/jHAevVm
3KDdkehU9m9x8NmESCDlE83AwqKAoLLwfs/yqhxX4NZuaLMP6LQTNn99VP4xpph/
HLP0TUDEVUXd7WZqRR8RRWjgZZBECtX7PaGUKxia8DZ6aq+Lwpx6u28rlmjajmsi
TOsZHb5e3SGad3v8fblFd2OBh4UMvHkuehc0vu8HeimX/Ra4KMRPQOu4cRpjs1oO
ikRXht8/qO3nIEBpACxv8/KdB+YzQuDK83jA8sxKFQRfJ5qeK7EPNUxyFESyZjsd
fLvBhlg0BFlEvsO22NanorSpy5DgeAkTbEqjg0qQnFH3ICH0G06hRqJueaOKQhqN
GsvfDUJdSMVTSrRalJI27oDtZt1Y7b32AWAWOaumnQRp2a421IMl6W9z5bR/dSTZ
lU4uZfdjsDE3ys2plOkTuLPlnnlO2cIgixA5OJmQ3zPiu6yWuZuXLYPMEQ18zGTv
Q53uJXAA2tdur86PqWlmMIUyhtiRXUAu2PJCXa4XuNtxKPgyMdy6+ge/3jeXdzlD
/lhsIyH8maV0XFhVTcy5KO3iDch9fApFhNa/gQ/LNv9wM+aE0Ts5a2/+Rllqwyz8
QoWZZHOXN89Oh8Aig9TToQX+Yaf2gcn/UmrqIkTnd2j+/b3OrMoPqBcZzZveyrqX
Xs4yxwkJsLoIqyNOKNntue4Na++/q9dC7GgTuQINBFMfpAoBEACumUCKKAzbKA55
QiPlDOBlbn0fuL0l+J26IUTSPLGnxO/guP36sHnjvmtIHmqMJHqruDrXJ+hil3Ue
d10HLtzbzuHIP0EuUyh6u3YuHiLEGjCZPDPFe3mNxaVSDsQ/rGzDhMicRpBZZRP3
spdDxfY7hmBwcFSNKFyPciIQutk2Jer30dpoa9C0CtE2ndlrU91WqoDF/wd9JxVJ
5koFM1I11cmIxToMi9Sx3+V0trHkJJzQMhjtC7S+Ct0qazzy1vMXDkpEnH9atiee
IE8RpO1E1dKIQ+gUSmHQg7DlkgzYQ2iFitWlwgbY7h7c45ZsTLzAthOpeFf3Zlvk
/XtRyBFPrqcK9yKYfad2oyR5wHSRV4o+rFSFlEb5fGT8bYvWrkqq0E2p1Mz2DMJ4
HqJF9LnqMn3ZlnkwRe/AqQLcFn9fnITc1gxL7ZTWAdLYeACsFg7HotTsWoFA1ENu
6dAqk/Op0zXCRUxhMuSei88Hiur2Il/V6QlLdqb1oUv1Ra0dVrybZRsPyR6cHI53
Pr98ya6j8+aJky9eZcFUa6evQ+hxyvLMuQtCmrAqJ3piria5R8CVbs3ABRtApyru
Dy2yJvt2KLwtcpStp1BupR5YK50rBCgaFlC5ou7+Ym8QJfe5zygQRl78fELAbQFj
7zyterTIaWFtKvsL7QxZ/sHb75bt7wARAQABiQREBBgBCgAPBQJTH6QKAhsCBQkB
4TOAAikJEA7FH82pT7U+wV0gBBkBCgAGBQJTH6QKAAoJEIA97kkaNHPnKkEP/ifZ
IkCH7V1WeS5Mls8oiplwRYzSezuDYeqOH8toyT/2/1DLNCn8gKILEow8mfVtJbbB
yG+MMhUoXCZ+gzTJ+dGQWu/hnctA9YhvsL0YJjcCEuJwl7kZFlb6IbsUJpty6ltL
qdVunvcFFIUQythpwFdNYB9F9aNNPszSDegwdkkGST6+7au+Odq2OJYtbXLECHE6
8+10uKClix18vM9XuUZOp8nQQrYReT6h7dMX9uePuODKTxX/7O1w1JlCE5lVS02C
RxEvv0cDfkBq1uKHrqF2hx6cZxRCIi7v3poeF8Yconvxva18IbOzwjZW6b50FkF+
yHuxNIb+AEiyELK5ijeJ6uemBifQBgRQq/RfmRLE0Vi+KxlmEdFK/TQnZSsR1jjH
MvVWUcB1sHMgPLzJUuNJQXBw/Pvu3snY2V1fVUwRPjRJ+XWEsAWbvMtWYSY+oNGR
NdwNz8u/csKq0U6WLmLj9rYs1xvHtfnXCSCvIjKLVX439bM7TBdk4tzZuNiI81Aw
Rr1hu6vdKjbAm1HbxSyqki+6/b/uJcx+mXN6SNG49DYzTI7NwFGFFEhGbyTeo2xx
Hiwvbkmue0AwzUH7yYLPGbZBhmboyWLXTdeAuaqSUK31l3PDNncwmp/Ay0Qy9kJe
Cp621tM6L7lFhQ4yM0W4uXI/hAJZzZfiqcyCf7MATrMQALeumUhVN+XOl/u7WscA
nHi5KQhhTLezfRLsGOp8cUSluY+hw18eppbJziiYNKzMg2EOROuLgE9gmI7Sg6Uv
AzOmlr98BcAWcTkkYunYKxNXbmze2N/0+creQCdpLi6fTS37+CPlPHO+nDqRe+Nl
Tubw+rpdxeOuuGgMX3uWkPF3zvshoXRIUjmNMiLidDtstGkpCX9XOxAwGbawENxM
uP29jmetHG/IeKPqtqHG40PmF49hbV3HmNenmd+TNbg2x7i20w4yPfdg3R6rQMlc
Ei+3uHXj4QKOb3tz1FXnyC649/qg2+CXjIYZIDocjqwsjEd9niUUeNntXyv7WWhe
EiNhb8bxSB+ZoAEHjugHdst0/dZAjgq2G4cO0o+7d/Y4GcWvhhQ1eB8GKPRIDMMD
d192MaloUrXxu9ZZgjJfJsRHErJ/BflaAZpICA/2LVCpsF4qG4bQZkZJt4Zn0mcb
L2KUzO9Z+7RxvNKfU3szM0Dpp9I9bTrhBcN8UodkDSYBKicrvhfodPYFNREjpSio
qd0gQydcdXG15JWftgAwR0HruT+mc5TBprD+CurSu1z4We6VvcnmH+hFYdu5HE+C
H3RVcdhubnte1QKVs81VF5nY0Q7tXsq4Gp0AclppPd8Mo2X0evvld4uw5pTMnF8+
ak60UQqG4WP6T3flNr8s5uZxuQINBFUhuxYBEADcD2Mzt15AKdFhqxOO4Clgy4XS
BO+m2gV0cQczkX7P+LblqgEXOL7W+HwFi9ML7y/us5Dx40fTNxgZQSbDlesbSwB0
e+uyI0aNDVgezAAm8b1OIj3hg9eiMpG+3Fmtx7xFxnCoIgjunsB6j2HruMd7nxo/
GVpbsBZUshJ2wBCPzyTT4NVthaWIiY6YRAlLOS/lsXBZ+YsgiQlrGOxNPDPSgRMG
R/DXojdz0LnIi/0NBdKM8wBeqUvhNtxJdISOqkZ5Eo7msTSMYh36hRcrlAekSHcc
JZR5/kxvcnlDLYem3sOx2tv+hupX2olDcb84OpfyOSruuDix/rkG0pQyVSiJUuTy
Z13bejlEtXA70cD32BAdFKfDOGkpDApnOngTtXPIga8pYgb/uOdtKna0Kq+y9HIO
POdaVpQkfj3cPP4RbhX9pel4+XRJRqG2ueXpKgofMLHPVhXBsaWijEFuM1LZjyGL
ij5norqMcU5x53SLnDWb7YIg+4yMRHKq7xNQI66qGn4OdFWFBLui39vIVUXijjnY
SWecptCwagXaQyKvowBlt3gUx9kvb08lBP4xzGK4Lf9Vulnx22AZjDM2cgm926pn
YH6tFafUc/R3UZ/KKNyqaU8BTxP0wGW7BKwZp9KscNQX5HPCIYwR+MsNNxhe+ik+
msXjkJkliFOJhRYyfwARAQABiQIlBBgBCgAPBQJVIbsWAhsMBQkB4TOAAAoJEA7F
H82pT7U+XrUQALjGShUI1df0Pl5hq81nXY6juNt8/aJ0DXF4ZJ1d/bvccxthssoM
Jjp389+WfHIyYOwE1j5gyiePuFtr5XEdSgOPiwi97v3gzZ6QWED3dwQYVxH9kbGw
qyUGfDVGEK6KwtQ95Shyb1xmIOolooShLWo376Y2N8SyJ72q57YuFTbDz/QPfTHw
zGJX9CkGDViTL1pdWJI/Onv3DFn3dYNyvG5N3xCfjA81a/j7ZkSS1wFjmWqMUw6v
Hy23uDSa818bK5Marqc6SbSJebAYAC4ujY4LIC+v57TlNbhV6MdpF758nP1q1L/S
5eXh3aZFpFyYWcMn83XUv/ewcew3tXLeRK7UBmm/QZGnz97bgkRYpr29EJA0s2Wa
LRhSTCrBuUeqzQ2GIfNBaWC/d2ilpH+DTTxr73siZ67y7EyVq7sOzmkfJtAHYDiO
MeHClVwxPXBHUTpnB3j1TBq/gRGqHPd+a8UscP96jAUjU8oBD4c2JltcUGnDbIUC
rJyLGxR4NNL2/bCPDDbx6LG3DthgiLXjB5GKMhCWRoT1kb3Yr7UJi/kTIOdsOVNr
mLBqRlZZebdCUO69uQuhM5wWdK4M0psXqrUPYznapGnED6ospzFN45uj9uALn+/7
NB5sJYfAbGevamkV+lss7SAnXxd6/x34znvcRLL+SRgX4fw5ATZBKnxNuQINBFUh
vAYBEACo7iPCytu2SytGXmI9qRGizI+QulF8NISLmCN+9ITSk24dQAtDcnck5rIa
b1dRuKoFu2JnCRuIlHA1WuLL7NFhmOgxX4WSTVws6lYSnTii490JL7BQOTrnfMZW
S1/Mcuj5CvX51hsmNm2I2pAQ/9X26Rqpnd3YzjdpGBMHybF/s0V8CXLBlQTRKY7l
5HEg8t9nS9eIm+qyEDmXbIJXsEr3i2tYt3eevuDkLBz86/zGGExJtOJZqHVlZtV8
6btYPOo3R9f73IB80dML2eWz50i6NcKLPKJcMXwfJahjfeG0Wdo3Sv6tB9q4D/f0
iFnlLlXZpdjbouUNMZhWeeDZvLB4jDFrlRTD20lHba61P8W0B6ZWErRp5zSUl1R3
5Z+EdlroiXbsSOCq0IXO93N19iFRQPq75oIoEyGU0u5ktM/dAFKTMQ/ngbP2/jVu
+gfwpBN5MqVsuEgf7FEf7rDB7ermqq7VJJgU9CRd2MxQcw1PKwAQfb51mkoAniwq
WQPlfJd/GnfasshWe0L2vnwVvWftoBQA3JnY3+A+lsdYvUkU4EUHQXuOvC9znLAi
WWVvSpB/86nCadJd7nwVNXcFS9luzy81O3TXui8Ns2Fd3Ze3KwcLDJ9Z1zxt0yMA
rRSFcNXXrUTy/I0KM/BWVTkm+u25I0tLgKiPMuAimjCD5hH82QARAQABiQREBBgB
CgAPAhsCBQJVIcIpBQkB4TmjAinBXSAEGQEKAAYFAlUhvAYACgkQE7XuWMCfs+Df
vg//VNWTSJMcC6GN4EhTIhWnaPWUHobWcgdJSJDVlgK8Z/H5SIoa0YSlWRb0F6oi
SARsOoqI6tiuctmbDGRGboY4+TJ4n9k7sRk4sX5yDFmrjRzXhS3RLQtb1/09N1Iw
AOvmhE4oAuhjGbVjYGeYuHqOTRLllWyGShkiZDtz1J8j7pJ8azPnVR/ZfB2zq041
l9vazzkSFXFY6Ku1NuKGQgx68MGzUuzfx++FK+jDOt5l6V5VVg+atW8tCnpvm2C7
gp4ZbhiSNC1FgkIvCMSIjvfeysFs0Hl2jplBHearu42os+8YUuA1of1cEMyLRR7W
2nLKNZNZE+bz9/Nd101QBOW5gH2ELmHVpzEsNL0ZCoFGbNdTpYKvyW5TLbHy71qK
n5jtelQ+wij1Nw7PnwjDuVQpwTk0kM7OmTpdcYfiHD/edXJ5IY5GlewgE2GSgi6S
uVNC4RsOKcu6djzwEiZrESMCYbVQMlvcevO1RH8oMyGojPi/R6PwO60Ti/XNufww
ZVzAdW0SFQtyOSAVgAyTCAGbwVRzkl2mZA2emzLIijT7RdU/uAA5i1jrJJR0E60j
rMCDPs3JEU7G4m+G16BXJasVuU4sAi7gyiOEgRUSruBk/U7XRz1x0PheZMaDZstb
WKc4ARGrv8kkXBEnwRD2J5gNdFSexUERy5uAslO3bAStBdgJEA7FH82pT7U+H0gQ
AJgI95bmTC46gMH8mNlYu2zEZLHjHEMsA0E08pHLB3EXNjBdNgQhB7WU78rvkDjv
wTPe/SNRC5Zk8UQnzxg3L+bNJRcRiuFP17OlPkxZxbeGp9Jl2sTYoq5yTyBj7WYE
Ph09tfjn3qlSY9LwdX699DKzg4l2kIh4sgYEDmaS408gTRsykPsb/shxbXf1xXfE
ByN3Uqm5cfekQ06YA06VbX2DLuBLbU/ToDnRlpytEUW8Is3pSa/zjXlNVfqhei0I
Jy2KSCFIigBuSgW2n4KnadqrJgOW6ZyZswXqixgLEryuFuHYh45eAoyv4Q9Ds/Dc
hoc31wzOO7w0Rx710REj+3ukAjZRBnYv0euiQe6SE4Jd4HaYndOzjrcbZ7KTbj5S
ylOSUx6cPo1xr9MvtMISPfwUE7nVPsUcd0sdDMSpGdK9RDwGbM/NccsovtsebLGm
IzX+8XQQ5WNrfq3AcmytQkc9ZdMFz69LeL2qEKCT3LCB7jFt4jEL4q5QcKQ9DtHO
h9fjrvGH/JWMFwUGRPk2wj9fzg+zrTQ7xSEO31sybhk0b6165jVf1FwNFLf9V24f
wmRI0QoYzYeLT8jg+6+S9u1SRgLG56JWvHnEQ42B7m+07XsBhwRTouJVfwA+yfnj
4YV3JAnV9sLAi15pITsi2N694aA2nyO/14e4Dz9ceYJh
=8Jpe
- -----END PGP PUBLIC KEY BLOCK-----
-----BEGIN PGP SIGNATURE-----

iQIcBAEBCgAGBQJWT6iBAAoJEBO17ljAn7PgnxIP/RevbXaCm2Q3ildI0YLjQFDr
vSIGKsCjD9nZY3ETk+CNFGOL4aYWp96HWuQoMq7B6qlb/sLejN/Ssu3M0sxf2hNK
pCIagZClqRchSBK+0UpAEIs98sf0sPakqKg0FlOJhuCsKHMUOxpQJ4qCDh6f24b2
cqKR8GjyUAgSeiiyN+DkDyqRYingQGAU5vzKepYzX+DMHC/izqQhrwQLVImv20wr
5pKZJDjfOpYUZRTuScV5Qwcgc0JYcMOjfgA93ZUA2zDrGIpw3dcCSMrpNQcvM6Cg
1mfiLZzkvPH3UkUOWhHCn/N2XaAF58joCaS+/bVUaXx02IbxJ1TTjqtCiH9491mE
aaHeRCFYbkKCXWjuxCx1+VZN2yRk24rSkis/+LFgZm850fXgYfrqiyPRDlCMApdo
5JDUBTioyZz24vhqWpe0OZueu11DXtpU1G0BiheGrweXAAx0Yki8dRiPTXkavAMj
oMBND9G7a1564KOe+t6V2qUyH50+3NaANvIiDJZbspX7yl8eVzPbwcGvtHzmHdnV
pDh+38XUQEID5YJ/mdZh6evzmmTnQR1HVqPVrzs8SwIDO++tqj8DXTjID47c3VIl
YhCMNlucciFxVn/sYI5qiJzCEMLMbvG+EhnoLNU4JGjfzo6I0RCpPfbrDfOsWJNi
zYMz9htqusCQsGwUZSTZ
=XBC5
-----END PGP SIGNATURE-----
</pre>

<p>{% trans -%}
str4d has signed the following releases:
{%- endtrans %}</p>
<ul>
<li>0.9.23</li>
</ul>


<p>{% trans -%}
Releases 0.7.6 through 0.9.12 were signed by zzz with the following key:
{%- endtrans %}</p>
<p>
<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.6 (GNU/Linux)

mQGiBEOjTnURBADegKKrIP6pz4+n57dqo3l9QrKhIklCtIxgJkL06ZJq5fKAnMLv
GPaGXmn5vRrbo6QzHs/lGLG+ySWFWr9SsVstNKrwk+F1yGIERutl0BqMwX1esfN2
ugiZ3wB1yRu0PIrkm5cuDAFASFE+2lBjr1lfOrhw/dV+lLTcWx4NzkMzlwCgxgIk
4cqQMGaVkmtuICQdYmmMicUD/AmNSVJEm2XUvaS5fYWsHJG3+oNkdNGcx5SOMUdk
PFwcSozqvT9FeIP76OVHAshQKeftE3utOFANQ/YomXEnypmwMxLLR+GPw5pMbKlK
6p+87aJZz+SA95E3ekmh7MmndvRd5RJDboUZy2H0FKX+FgaBlpsLl0uhT6uDuM/s
7nb0A/9nEAgICOU5SeXtO3jKY+RQvKyE0AblK7xVaU+Sn8ly0zauOJD13rycVGhu
vLcAUVR3FKEjxafpvZ0ZPBo7AACjSDqAoCw/s/vt9gmrhHKiqN31PhYYLhKdfKTs
4LzWKTWKIAOwErkbYsMAXWKFT3LXsrEYvxq5j5m/6zMOwz2N7rQYenp6ICh6enop
IDx6enpAbWFpbC5pMnA+iF8EExECAB8FAkOjTnUCGwMGCwkIBwMCBBUCCAMDFgIB
Ah4BAheAAAoJEEFVdrqnbgvtxGsAn39SvQ3+ey87WDDG+TWArN6oU8gnAJ4zeAsA
LUK37WZIt8OImZSxk37uQbkCDQRDo06VEAgAy2UeqsM5a+U6ZOWS9NQiILb3KbTL
FeeAd2rn9oLSLpn5gDWycwUS0Q62JmbSMWy6m9aczpnxvwaBYXz6aCIvZmTNtaU6
vyR/6wfJDyiUWSHtCyjpyFFYJimANd8Y8dDCimvceI/ihEDVyBX0kkgUGRAn8t3e
unaLXqhbfiLiFw/GG1MNxUMzHt55/+9AqLOfRZg0riZvDoV79K+1sYSs8n1WeaVc
T3wTb+Cb7fKNN7GT1MUhcXIoYYY6FGwsy5EWFsxYBRervqHtBJog2SoNUa/6BFGr
zX+LDjK9L3xMTr3+fHIt4gPR/Lt4nnfEzL+rjClz/Fazmv38BRwPuKahFwADBQgA
nD/AvZCnbWSB6khAVMqva5ROaD0gV0/UejCelZdYfgfHeCmrcMNQ+wCyww2NPsih
9vB1w+AUE0pdH37k65VZN+2falUdzN+PFugJGuH2pmlVOprH2SuC5gKpGRvzUqV5
U0nJmT2okDpW/52asUDJJLu1g//A3qBP83WGvSKUZg/ZisZA0qTiHH4QpjklopXi
sSxR2hT8Fr9gF9WmDa09wbxE2xh/EL7gvVg/vk0gwOJcsFd67bNC+KUMOnjhOP0T
K0/Ah4TEEs/hHNe9RsyyWlMoIUsF8AhG71ISOrJ5lLSXNe151XEb5FzZRM8sD9Zq
0E3PjmLbdVhanYvsPnWK6YhJBBgRAgAJBQJDo06VAhsMAAoJEEFVdrqnbgvtXTwA
njMu9ueCFbsjme7nwsz96PdazJcHAKCce17hGI25QNXDZyHohrjha6IxDg==
=fAfi
-----END PGP PUBLIC KEY BLOCK-----

</pre>
<p>{% trans -%}
Releases 0.6.1.31 through 0.7.5 were signed by Complication. His public key is:
{%- endtrans %}</p>
<p>
<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

Hello,

I certify that below is my new public key, issued on 2007-11-24,
valid until 2009-11-23, and its key fingerprint is:

73CF 2862 87A7 E7D2 19FF DB66 FA1D FC6B 79FC CE33

If you have my old public key, and use it to verify this,
you will notice that my old key expired on 2007-11-15.
Apologies for being late with this update.

For people who want to copy the key directly from this message,
but aren't reading this using an e-mail program, please remember
to delete the "- " escape sequences from the start and end marker
of the public key block. Otherwise it won't be recognized.

Complication.

- -----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.7 (GNU/Linux)

mQGiBEdH5SYRBACzCum9jIjq+/G7ckuZ/TcFmaVYeBRE6OXPQozyrmTYtoCM2qGj
DmvMJvKYiNiQVM42KiwlnqvaNtlgnXIZ6rcyLyn+bCI5cdX1SD5Rr5tgsgcXYA6Z
l7usiFv1bTjD67piBehF130o+LZAJnVzI7JdpbA9SBY0mUwgKXLi0DAo8wCgiKOV
UXC8+9X9vU1Mh/GyIrD4c3kD/iQOkYH4ajNaehTHNB31K+61ltpK9tMmcWtUY30A
Z3q38jg/nmqqup/MYCtkvOqY4X9kujKzu01eSWSNZIE+BQSSd1cSsVD17OY3TL6B
EvE+UFxh8OnDKs3tzJ0COnT/2zbgTavbWwqovoUE0P0PSYOFm2Co0BEQiCt9Tabc
CxU3BACRWDvq7LFMRnHT+/OOJS6M442CYzy3+tIuc3ZAmZ8QwGsh4r1kd+5P1JTN
YJCun6MPQEllJbRyHRBby76vFkWearRgnkpAmk2l1T2SXw3lip/SdmI0GgIzPSfQ
8WyNbMjQXyH8/3k2Y9rgrC0DttrJPYOcTFMNKPpeTR+HN3ZnibQ+Q29tcGxpY2F0
aW9uIChodHRwOi8vY29tcGxpY2F0aW9uLmkycCkgPGNvbXBsaWNhdGlvbkBtYWls
LmkycD6IZQQTEQIAJQUCR0flJgIbAwUJA8JnAAYLCQgHAwIEFQIIAwMWAgECHgEC
F4AACgkQ+h38a3n8zjP1yACfWkF1zjmlD0EzLaJRnefW5OHr10MAn0fgMyElK6ee
AoPl2mTfxQQYOophuQQNBEdH5SYQEACTcoMJQBhyrr+EunLmEGNMO7D6RSBAtEKZ
i5ctmhr/TCXMV9qjXkWISLZ9AS6z88rKozeOOK+QPBnc2FcEf77N04O5hwSdAyPH
Qt7+umhiNQFQpZycJ5W87Y0ryERJygA5XyU47g7CGvuuOLgKGk0dDGCNFZGSblwI
xtSh1CsrjWp23grFiBS0xvlU2VyuYUyrBuH5ip04pxmOyeRcaelkQerFhEXSRIR7
XFxl6JpfqWt2oWHmYbYD3RT6WHU+rpSF1Hyey+zoF2zXfRb+JD90MpBL1xIkpieQ
Y69Cj5U5VRjEppJJowSmwgz+UyMnT2KLl45vJesPrMUaSgduHiIQo4LM5BcbbV+2
SC5i9xqbSJ+rc19Ftt9IEUZVMLole9PJC5Ff/h1qsabyueFuMIQkbiaUiNLOKl31
I+JAiDt0Xku2PEVCERg7Jq5AsTLB9D+zKqxbvFu+JvqSdlaCvlas2BYU5rBosszH
TStK2XW/+poTKnjnbJl6nGC06BNQPhRFAwuXboyUC5fyiuG1HohvPmPIi6IejLUY
G8A5nZ+7um/XpKlt2i5rdVRfN1BX3+aKHQeLmrc+EIORZUU32TrP4ceLtSDf+JOW
8N3vwzqKIPu42Y5KB8vnXEFSOkyt36OfEd6CcPKmncDyA4wJmfC+X3eoKcj+Yrh7
UMr0elyw4wADBg/9F7g+bTpT4wPXj5ax1i+4BdedjVlO3YBdhc4LP6MXipNU6yLl
l63TJ8q/l8pvSkUWZXrO3a7OibM/MHp0Te/7sTmKib2/3MFwHTrtjgcZBF6wx8LD
T3oa6O0IK8IRnRwNqeu83SxojvVY0wLz/hpUbnIrOcHMZjWLMJEfHkNBHn+1HhT5
tk9LRGu3j1oTpGh+DpdoPF5fggNu48YJ6n7etJJGW2MXQ++33aKeQSFrx+KlMtFW
DSzg3KKSroB8Ex9wiKKWybagaed0YoP9BW3vIAaOeDpqK92UuTFz1Bte1DYiYU1e
Rqq1xoBVhJXE5xzGmvS4/PIZMOL/bpKcuNxAgmwOVoaYoWZuIgePUaBbNvNg84HE
RBjFMyfpzRCdPlWPZ18KcLUki3T58KzXEZ7WS5hC5lezwC6ET+wJusAt0A+Ik146
igayKfVnvhedQdqufWhQWNr+hDc5Fb/az8nTyNOflAhD3yHldjxgkCOV8wjqyS+4
iO33P5wW7o2QkZNWq8pyjsKRRJCtZ/PJ7FRGkUOjoC/gwhnGvBi0KoDcyBmfnPXp
3MAgrzk9LwiA7PlS7PyhyMx5mYpa90xlXzszweCIXzGfbm6ciCUAM3G3Qb+qa2dW
0u1X5L6bVtHVpYnr+5JOxCS4qwQvoK0QnHu6ezu4+rFutUJN35z6rFquejiITwQY
EQIADwUCR0flJgIbDAUJA8JnAAAKCRD6HfxrefzOMzSZAJ9PmYNkW4Ia1qPqowg9
z4Ja+hJ3dgCeL3mqvOEHG7AcUQrSlc6xlC1vbNY=
=rGxK
- -----END PGP PUBLIC KEY BLOCK-----
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1.4.7 (GNU/Linux)

iD8DBQFHR/zm4tLxqYRsGn0RAtCfAJ9rz+tsyEbeUAHcogdzgSPfuiWOAwCfWaVn
Aiib6V5wOPbYTy13ADmxhfE=
=mPFq
-----END PGP SIGNATURE-----
</pre>
{% endblock %}
