{% extends "global/layout.html" %}
{% block title %}{{ _('Security GPG Key') }}{% endblock %}
{% block content %}
<p>{% trans -%}
Following is the GPG key for the security@geti2p.net email address:
{%- endtrans %}</p>
<p>
<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1

mQINBFNEfucBEADUM3gOH0ibWi8ByAQPa6XhkpCxdVuxFqQLf+JUpF89IcQFWEtk
FIgAne7mwEu9gEV+rLvv47CnK+/Oia5B4IIxWma4xIbQ3GWEufeTq5RQtC6nJRJE
ze3ps08A/tXgVqS0d0Rk+1ae2a5s9Bs4v+ojaSlrdj9lI2MlyPebZvDcFPnIhq7i
F+0aVhhGHiJOyO54iHePpYm25bXd13T4FpqZZHRyKvtARFH/RYK9lbQVSS046OXl
HZOQOFsqMSciiIe42VwkqWP/4bBCAv6CLej4FYxXfgxnLQW4DLcWkVpJ6/0ohtGS
9ZwOFkreEDOD35p+R056V4BdGJAVp5se+fN3VzMB81HV36AX+MqJoRp0RxOLpOkr
RgRypMRWAybEz/WyoYXyjj2HrRetkb/n7pa6ME8WiqBaGjrH+vebW31yeYgxwwcY
2rNnottuDxx14QTuBp0B0lDdw4iDHbNZztVjsbVOHwklqVOuiDd0Q8FQhBcth1zC
fyC8Ov2mpnpYB8EcqWqQzFtssHw4X8HfCe/wo72b/m5h2m9ic3pZaqQBeNaTayHj
dtWxcfGqLdxhETW5xX+uxx8VZkptjPTDQ9pyz9AoCQh09+kDoUJkkcei7OO96Mdm
lYXqJJ8Brjv71FGj52pqZDO8XZp16UEVK9SIwsDga/TwEjd24Pnij6TItQARAQAB
tCJJMlAgU2VjdXJpdHkgPHNlY3VyaXR5QGdldGkycC5uZXQ+iQI9BBMBCgAnBQJT
RH7nAhsDBQkJZgGABQsJCAcDBRUKCQgLBRYDAgEAAh4BAheAAAoJEM/NxGF15mlK
3/gP/3Hrbxr/pFBRl7vEb8jrmHK3iYf6i9Ql78MNkEcxvwUZB1E5qpCed5LOgnr2
sOIyqoVTZjF/rNwM0+OJTLiroV6j8Aq7sCyTXx6OJpSMKJzufJS6VO4IFWbRlnDA
/lSOs7FPORDV8U9SlfaqS3J2ayLhsGRnTsG+6Szyd3TvufrAlgxJA0ddX29aysVl
95m7d6a5BmKPd/QdpOZjc29QBOLbjW3ds1WrA2dzQP527F/ABk0z4ayiGXCMUGzA
gPh/gHNICZx7nQdXIG9BH4AW81XRi9w/SFYbqG6ERbApbDmfGcEthfsGjfN7xBgu
IT07FrgQwiVuffijlptKahCBPXFMlMZzl5b9m1cHBTNxZ8sau216C4KSpagpB9Kh
I0nV6yRuwH7nxsRbjx0ZFptnotg+Q0NJ7jZmNTbyFoZugGdPgN2EWRLFbvcPyb+6
cmLl639g9Mm9+ovyGrDt/s1b9UlXW3x9djLALfpXGYpUFW8vv66Q+faD4qsGVKeK
Jy8GuvFX5apm7FmjiSCUv+ZAOdKhbuXisGYLrTCkhQer/ACRsxf+kjwS7NCORswy
lP4RW6vLZnAi5ZEraLJ5d5v3S+pPZ6JdLFti85fcLfCfrvfjRs0Dz1ThlZHBtAqE
Tkta3W1ZFWnGIxJ+MYnIz3JO5lzwVwPHOrUPNaGSVU9N2k3AuQINBFNEfucBEAC/
aQapE10nwvm7WlHk5biTQC+EKh/zTmCHYymuXtzImiDHfo9i2Yz4RhqpIPxDMNRx
QX4JsfSoN7IM0MtazDImzK+kjxKjTSbvgxtgLPhgjgY+K3lZI6w/4wLcYArv3BPj
EkX0HOdu+wIuX0nCk6/U3EH7Ih8IeAn28dOS6Z5isNKpir+8q7jM6fGunKSRSnC0
xdiIpq8VNHTzHtGlguUPbBsBUy+8xcU7fAj1Tu4j31Dcpyv/1O5qIy6T8REGTINT
lKxJG9aawwlpMhAWVVjrwGsj2MsaUFJNTN/TsRDw7xIr4nTP7K9/Lyy0Bvqb0bGH
jtCpH1k5qnOfz2/9NcyUpwe1SdQojiqpE1wO2BVUMw2DbjqE/cG+nDtyX55gH3kn
c3iBcIqRynFBY4TnmnzVP4wDj0l/bnJj7yb2hQJ9odG6Sx3l52y7g3C2mhlts/oH
DDv/3zpW5Lt9weYxPKqIqyHUmy21h0Ca4z0jK15k8v5OioDJgUftztBipkbcALVJ
HXxASW7zGpas00st7AbAOUVfnUVd8WkriZMqqTTSUBAXKEpejse1gj4I2iA61YlB
Ri6VYK71cMpuCWAZGd2RIsPVkv7vZvAGZhTefynB3011UWORDUPY2ra+p0xQFiYl
ZTDVvB1FG4aCfeVYldI3sjfa2WMGpmQ4gbpbG6A0swARAQABiQIlBBgBCgAPBQJT
RH7nAhsMBQkJZgGAAAoJEM/NxGF15mlKEtkQAI0vaKgZz8k1nbAJDluy4L1QbOd3
UAvyAcyOhNbhhrcXEnhbsw7js2+nJYMK67aHlFFUi4TiVVsPkcXJ9cMUMardnd4n
DLtZQsLKOPcUxjDgp0JsJkarXAZ2smRm7cEgZYJtuOXXIECD60D4PgTAkOP1hW/4
ZoXRZT/Rx4C5iZDqw72yjXeY9Vu0XWohxOw9zgW+wxM44xfoeRxAdB5rjAf6C5Tk
Bw1opinZ2oQ0sLWyGRIqiVQTt09wVcWVCh4CpXQSNLWqm9xMVjZ0QiEZvQ/ZjRhf
HTA8vobapV/Yp9EuYvf7GINeKt5JFkoVjZs16ZLO3ZqgPaSC6j+b21cyRl+1fGgE
g56uYhxaJ09ur/vYddMxqQKnqLynNYaHUpIEEFMMsBmQURg9VT7EmXB6cwOAcy1i
aJs5ezj4IHxUAyq3JizA5p6DQKIH/1eKBy8wrXP+hRxxnKp7iVwrXG5GRwAYyaTt
NmXA/1YFHYK+VZkAXbVCz3Jtfxr/K+WFlw5Bj/YN9rbT7ETiazgE9QvzBwPP13+Y
v90vJ2btyn2VYcsYZI2YdsyhemKYEjogqzApwryE+7S6Bno44GhW/MYXCqoKJTP2
k+GDJQL1xibdU5s6LeEQz+zYPFxy2ZCaq0MTSlBD97qGwtIlczIYa29blSoPh1lT
JXcjuCvmMO912m2g
=DsPr
-----END PGP PUBLIC KEY BLOCK-----
</pre>
{% endblock %}
