{% extends "global/layout.html" %}
{% block title %}{{ _('Donate') }}{% endblock %}
{% block content %}
<p>{% trans -%}
Thank you for your interest in contributing to I2P!<br>
<br>
For nearly two decades the I2P network has provided protected communication
platforms and access to information and resources to individuals who are
concerned about online privacy. Designed with security and privacy first,
peer-to-peer and decentralized, it continues to provide the opportunity for
access to the free flow of information on its network and resist internet
filtering and blocks. I2P has done this with the support of its community
through volunteers and donations.
{%- endtrans %}</p>

<p>{% trans %}Your donations help I2P continue to be an alternative option for
online communication for everyone and create a space to resist the persistence
of surveillance and monitoring of our digital lives. Your donations facilitate
research and development to create applications that will increase access to I2P
services, and its outreach in at-risk communities.{% endtrans %}</p>

<p>{% trans %}I2P accepts donations in cryptocurrencies and via Paypal. Android
users may also support the project through the Google Play Store by choosing
the "Donate" edition. I2P funding is handled by meeh.{% endtrans %}<br>

<br>
{% trans %}The following addresses are valid as of June 10th, 2019. Please note
that any other addresses not listed here are no longer valid. Please note that
addresses may update and more coins may be added.{% endtrans %}
<br></p>
<b>{% trans %}BTC Address{% endtrans %}: 3AtDiRUiyDHTSALRxsEZ7yqmB7piwaowaY</b><br>
<img width="250px" src="{{ url_for('static', filename='images/donate/cur-btc-addr.png') }}" /><br>
<b>{% trans %}LTC Address{% endtrans %}: MN55tu4y7UtdPXUk9WvCSfy4nGUW79DZpN</b><br>
<img width="250px" src="{{ url_for('static', filename='images/donate/cur-ltc-addr.png') }}" /><br>
<b>{% trans %}ETH Address{% endtrans %}: 0xfC35D2225bA2739eCC5a1e50676a8DbC03569C27</b><br>
<img width="250px" src="{{ url_for('static', filename='images/donate/cur-eth-addr.png') }}" /><br>
<b>{% trans %}ANC Address{% endtrans %}: ANi2pB8RTeuWFf9wki6Ffiv9RJqioQydrH</b><br>
<img width="250px" src="{{ url_for('static', filename='images/donate/cur-anc-addr.png') }}" /><br>
<b>{% trans %}XMR Address{% endtrans %}: 447kucUDzM21jDxdmx7h2jFT4UT4PprD8EMjDk4Bc471gRGkbeZSfSPHcB7JtiumR7gNRJgKqf1dHa2T49nQ7jsfSZSfoLA</b><br>
<img width="250px" src="{{ url_for('static', filename='images/donate/cur-xmr-addr.png') }}" /><br>

<p>{% trans %}We now also accept paypal donations!{% endtrans %}</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="WJA7BJTH89JKN" />
<input type="image" src="https://www.paypalobjects.com/en_US/NO/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_NO/i/scr/pixel.gif" width="1" height="1" />
</form>


<h2>{% trans %}Tax Status{% endtrans %}</h2>
<p>{% trans -%}
I2P itself is not incorporated and donations are not tax deductible.
{%- endtrans %}</p>

<h2>{% trans %}Stickers{% endtrans %}</h2>
<p>{% trans -%}
I2P makes stickers available at conferences - please refer to the official I2P
Twitter and Masdodon  accounts to contact the I2P team. Stickers can also be
sent by post with your donation while supplies last.
{%- endtrans %}</p>
{% endblock %}
