{% extends "global/layout.html" %}
{% block title %}{{ _('Donate') }}{% endblock %}
{% block content %}
<p>{% trans -%}
Thank you for your interest in contributing to I2P!

At the current time we do not accept donations.
{%- endtrans %}</p>

<h2>{% trans %}Tax Status{% endtrans %}</h2>
<p>{% trans -%}
I2P is not incorporated.
{%- endtrans %}</p>

<h2>{% trans %}Stickers{% endtrans %}</h2>
<p>{% trans -%}
While supplies last, we provide I2P stickers on different conferences and events we do visit.
These events are noted in our official Twitter feed, please do have a look.
Attend those events, do talk to us, ask for stickers!
{%- endtrans %}</p>
{% endblock %}
