{% extends "global/layout.html" %}
{% block title %}{{ _('Donate') }}{% endblock %}
{% block content %}
<p>{% trans -%}
Thank you for your interest in contributing to I2P!

At the current time we do not accept donations in form of fiat, this will soon be back.
{%- endtrans %}</p>

<p>{% trans %}Luckly the cryptocurrency donations are back!{% endtrans %}</p>

<b>BTC Address: 3AtDiRUiyDHTSALRxsEZ7yqmB7piwaowaY</b><br>
<b>LTC Address: MN55tu4y7UtdPXUk9WvCSfy4nGUW79DZpN</b><br>
<b>ETH Address: 0xfC35D2225bA2739eCC5a1e50676a8DbC03569C27</b><br>

<p><b>{% trans %}Note:{% endtrans %}</b> {% trans %}Addresses might update once in a while and we might also add more coins. Sending to old addresses is OK, but not recommended.{% endtrans %}</p>

<h2>{% trans %}Tax Status{% endtrans %}</h2>
<p>{% trans -%}
I2P is not incorporated.
{%- endtrans %}</p>

<h2>{% trans %}Stickers{% endtrans %}</h2>
<p>{% trans -%}
While supplies last, we provide I2P stickers on different conferences and events we do visit.
These events are noted in our official Twitter feed, please do have a look.
Attend those events, do talk to us, ask for stickers!
{%- endtrans %}</p>
{% endblock %}
