{% extends "global/layout.html" %}
{% block title %}{{ bib.title }}{% endblock %}
{% block headextra %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/pubs.css') }}" />
{% endblock %}
{% block content %}
<h1 align="center">{{ bib.short_title }}</h1>
<p align="center">{{ bib.otherbibs }}</p>
<p align="center">{{ bib.choices }}</p>

<!-- Table 1: contains the sidebar and the body. -->
<table cellspacing="3" cellpadding="0" border="0" align="center" width="100%%">
<tr valign="top">
<td>

<!-- Table 2: The sidebar-->
<table align="right" cellspacing="0" cellpadding="5" width="100"
     class="sidebar">
<tr valign="top"><td><p class="l1"><strong>{{ bib.sectiontypes }}:</strong><br /></p>
{% for section in bib.sections %}
<p class="l2"><a href="#{{ section.slug }}">{{ section.name }}</a></p>
{% endfor %}
</td>
</tr>
</table><!-- End of table 2 -->
</td>

<td width="85%%">

<h2>Publications by {{ bib.field }}</h2>

<ul class="sections">
{% for section in bib.sections %}
<li><h3><a name="{{ section.slug }}">{{ section.name }}</a></h3>
<ul class="expand">
{% for entry in section.entries %}
{{ entry.to_html()|safe }}
{% endfor %}
</ul></li>
{% endfor %}
</ul>

</td>

<td width="5%%"><br /></td>

</tr>
</table><!-- End of table 1 -->

<p class="contact">{% trans email="press&#64;i2<!-- -->p2.de"|safe,
bibtex = '',
citeseer = 'http://citeseer.ist.psu.edu/online-nature01/' -%}
Please send new or corrected entries to
<a name="contact"><span class="email">{{ email }}</span></a>.<br />
If you can, please format them as BibTeX; see our
<a href="{{ bibtex }}">BibTeX source page</a> for examples.<br />
Remember to include URLs if possible:
<a href="{{ citeseer }}">offline papers are less useful</a>.
{%- endtrans %}</p>
{% endblock %}
