{% extends "global/layout.html" %}
{% block title -%}
{% if g.lang == 'de' %}
Nicht gefunden
{% elif g.lang == 'zh' %}
未找到
{% else %}
Not found
{% endif %}
{%- endblock %}

{% block content %}
{% if g.lang == 'de' %}
Yep... die Information nach der du suchst, nennt sich anders, existiert nicht oder wurde entfernt.
{% elif g.lang == 'zh' %}
您搜索的页面或资源的名称不正确或不存在或已被删除。
{% else %}
Yep... the resource, you were searching for, is named differently, doesn't exist or was removed.
{% endif %}

{% endblock %}
