{% extends "global/bounty.html" %}
{% block title %}{{ _('Bounty Arabic translation of webpage and router console') }}{% endblock %}
{% block donatename %}{{ _('Arabic translation') }}{% endblock %}

{% block bountydetails %}
<p>{% trans -%}
To improve I2P usage and attract more people
into I2P echelon set out this bounty for translation
of the I2P web page and I2P router console into Arabic.
{%- endtrans %}</p>
<p>
{{ _('This bounty is set into 2 subparts:') }}
<br>
{{ _('Part 1 is translation of the webpage.') }}<br>
</p>
<p>
{{ _('For collecting the bounty of 20 BTC you need to translate the following pages:') }}<br>
http://www.i2p2.de/index.html<br>
http://www.i2p2.de/download.html<br>
http://www.i2p2.de/intro.html<br>
http://www.i2p2.de/faq.html<br>
http://www.i2p2.de/bounties.html<br>
http://www.i2p2.de/getinvolved.html<br>
http://www.i2p2.de/donate.html<br>
{{ _('This job was done by hamada and the bounty of 20 BTC was paid to hamada.') }}<br>
</p>
<p>{% trans -%}
Part 2 is the translation of the router console. The router console was
partly translated and the bounty of 80 BTC was paid to hamada.
{%- endtrans %}</p>
{% endblock %}

{% block bountyjudge %}
<p>{% trans -%}
Judge is echelon.
{%- endtrans %}</p>
{% endblock %}

{% block bountynotesouter %}{% endblock %}
