{% extends "global/bounty.html" %}
{% block title %}{{ _('Bounty creating a I2P native Bitcoin client') }}{% endblock %}
{% block donatename %}{{ _('BTC I2P native client') }}{% endblock %}

{% block bountydetails %}
<p>{% trans -%}
For a future of I2P and attract more people
into I2P this bounty is to create a I2P native Bitcoin client. 
It should integrate with other client via the I2P network and via gateways to
the existant bitcoin network.
{%- endtrans %}</p>
{% endblock %}

{% block bountyjudge %}
<p>{% trans -%}
Judge is psychonaut who donated the first 30 &euro; to this bounty.
{%- endtrans %}</p>
{% endblock %}
