{% extends "global/bounty.html" %}
{% block title %}{{ _('Bounty russian translation of webpage and router console') }}{% endblock %}
{% block donatename %}{{ _('Russian translation') }}{% endblock %}

{% block bountydetails %}
<p>{% trans -%}
To improve I2P usage and attract more people
into I2P a anonymous donator set out the bounty for translation
of the I2P web page and I2P router console into russian language.
{%- endtrans %}</p>
<p>
{{ _('This bounty is set into 2 subparts:') }}
<br>
{{ _('Part 1 is translation of the webpage.') }}<br>
</p>
<p>
{{ _('For collecting the bounty of $115 USD you need to translate the following pages:') }}<br>
http://www.i2p2.de/index.html<br>
http://www.i2p2.de/download.html<br>
http://www.i2p2.de/intro.html<br>
http://www.i2p2.de/faq.html<br>
http://www.i2p2.de/bounties.html<br>
http://www.i2p2.de/bounty_datastore<br>
http://www.i2p2.de/bounty_i2phex<br>
http://www.i2p2.de/bounty_vuzeplugin<br>
http://www.i2p2.de/getinvolved.html<br>
http://www.i2p2.de/donate.html<br>

</p>
<p>{% trans -%}
Part 2 is the translation of the router console. The whole router console needs
to be translated to collect the bounty of $115 USD.
{%- endtrans %}</p>
{% endblock %}

{% block bountyjudge %}
<p>{% trans -%}
Judge is the russian donor.
{%- endtrans %}</p>
{% endblock %}

{% block bountynotesouter %}{% endblock %}
