{% extends "global/layout.html" %}
{% block title %}Meetings{% endblock %}
{% block content %}
<h1>Logs of past I2P meetings</h1>
<p>Regularly scheduled meetings are not being held at this time.
If you have something to discuss, please find the developers on IRC in #i2p-dev.
<a href="statusnotes.html">Status updates</a> from developers are also available.
</p><div class="underline"></div>
<ul class="infolist">
{% for meeting in meetings -%}
  <li><a href="{{ url_for('meetings_show', lang=g.lang, id=meeting) }}">Meeting {{ meeting }}</a></li>
{%- endfor %}
</ul>
{% endblock %}
