{% extends "_layout.html" %}
{% block title %}API{% endblock %}
{% block content %}
<h1>API for I2P</h1>
<p>Application developers should review the <a href="applications">application 
development guide</a> for ideas about the four basic protocols for writing an
application to run over I2P:</p>
<ul class="helplist">
<li><a href="sam">SAM</a>, <a href="samv2.html">SAM V2</a> and <a href="samv3.html">SAM V3</a></li>
<li><a href="ministreaming">ministreaming</a></li>
<li><a href="i2cp">I2CP</a></li>
<li><a href="datagrams">Datagrams</a></li>
</ul>
{% endblock %}
