{% extends "_layout.html" %}
{% block title %}Bounty I2P package in Debian and Ubuntu mirrors{% endblock %}
{% block content %}<p>For a future of I2P and attract more people
into I2P this bounty is for including a I2P package into the Ubuntu and debian 
archive mirrors.
To claim this bounty, the I2P router package needs to be available from
Ubuntu and debian archive mirrors and debian bug 
<a href="http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=448638">448638</a> 
needs to be closed successful.
</p>
<br>
<p>
Note:
To claim the bounty the author must not be paid by other organizations or teams 
for this work (e.g. GSoC students are not valid).</p>


<p><i>Note 2: bounty amounts may be increased by further donations.  Do
you think these are important?  <a href="donate">Add in your donation</a>, 
marking the amount for the I2P Ubuntu/debian package bounty!</i></p>
{% endblock %}
                                             