{% extends "_layout.html" %}
{% block title %}Bounty for translation into russian{% endblock %}
{% block content %}<p>To improve I2P usage and attract more people
into I2P a anonymous donator set out the bounty for translation
of the I2P web page and I2P router console into russian language.
</p>

BOUNTY I2P ??????? ???????

?? ????? ????? ???-??, ? ???? ?????? ??????? ???? ? ??? ?????? ????? ?????????? ????, ????????? I2P ???-???? ? ??????? I2P ?????????????? ?? ??????? ????? ???? ??????? ??????? ?? ??????? ????? ????? ???????????? I2P. ???????? ???????? ?????? I2P ??????????????? ????? ??? ????? ??????? ??? ?? ????????. ????? ???????? ??? ??????, ??? ???? ????????? ????????? ??????? ? I2P ??????? ?????????? ????????, monotone.

?????????? ??? ????????? ????????? ??????? ??????? I2P ?????????????? ? monotone.
??? ???? ?????????? ??? ??????? I2P ?????????????? ????? ???????? ?????? ???????.

?????????? ??? ????????? ????????? ??????? I2P ???-????? ? monotone.
??? ???? ?????????? ????????? ???????? ????? ???????? ?????? ???????.
http://www.i2p2.de/index.html
http://www.i2p2.de/download.html
http://www.i2p2.de/intro.html
http://www.i2p2.de/faq.html
http://www.i2p2.de/bounties.html
http://www.i2p2.de/bounty_datastore
http://www.i2p2.de/bounty_i2phex
http://www.i2p2.de/bounty_vuzeplugin
http://www.i2p2.de/getinvolved.html
http://www.i2p2.de/donate.html

?????: ????????

<p>
</p>
<p><i>bounty amounts may be increased by further donations.  Do
you think these are important?  <a href="donate">Add in your donation</a>, 
marking the amount for the datastore bounty!</i></p>

{% endblock %}
