{% extends "_layout_ru.html" %}
{% block title %}Премии{% endblock %}
{% block content %}

<h1>Премии за работу над полезными для I2P проектами</h1>      

<p>Хотя мы всегда с радостью принимаем помощь проекту в виде кода, документации и т.п., но есть другие способы помочь развитию I2P. Как любой проект с открытым исходным кодом, мы могли бы достичь наших целей гораздо быстрее, при наличии возможности материально мотивировать всех участников проекта работать над I2P в полную нагрузку. Однако, как и у любого проекта с открытым исходным кодом, такой возможности у нас нет. Вместо этого мы прибегли к системе премий, при помощи которой любой разработчик может получить денежную поддержку за работу над чем-нибудь, что пользователям хотелось бы увидеть реализованным в I2P, а любой желающий внести пожертвования может гарантированно направить взнос на что-то конкретно его интересующее.</p>

<p>Мы также открыты для денежных пожертвований со стороны всех, кто желает материально поддержать I2P, но не может определиться, какому именно из заявленных проектов нужно помочь. В таком случае Вы можете сделать пожертвование в фонд общего назначения и довериться выбору команды I2P — деньги из фонда идут на вознаграждения за разнообразные проекты, на оплату хостинга и тому подобные расходы.</p>

<h2>Текущие проекты</h2>

<table border="1">
 <tr><td><p><b>Название</b></p></td><td><p><b>Статус</b></p></td><td><p><b>Судья</b></p></td><td><p><b>Разработчик <sup>*</sup></b></p></td><td><p><b>Премия</b></p></td></tr>
 <tr>
  <td><p><b><a href="bounty_arabic_ru">Перевод на arabic</a></b></p></td>
  <td><p>Предложение на стадии разработки</p></td>
  <td><p>echelon</p></td>
  <td><p>[вакантно]</p></td>
  <td><p>100 BTC</p></td>
 </tr>
 <tr>
  <td><p><b><a href="bounty_datastore_ru">Frost для децентрализованного хранилища</a></b></p></td>
  <td><p>Предложение на стадии разработки</p></td>
  <td><p>echelon</p></td>
  <td><p>[вакантно]</p></td>
  <td><p>&euro;50 EUR</p></td>
 </tr>
 <tr>
  <td><p><b><a href="bounty_datastore_ru">Хостинг I2P-сайтов из децентрализованного хранилища</a></b></p></td>
  <td><p>Предложение на стадии разработки</p></td>
  <td><p>echelon</p></td>
  <td><p>[вакантно]</p></td>
  <td><p>&euro;50 EUR</p></td>
 </tr>
 <tr>
  <td><p><b><a href="bounty_i2phex_ru">Бэкпорт кода Phex в I2PHex</a></b></p></td>
  <td><p>Предложение на стадии разработки</p></td>
  <td><p>Arne Bab</p></td>
  <td><p>[вакантно]</p></td>
  <td><p>&euro;60 EUR</p></td>
 </tr> 
 <tr>
  <td><p><b><a href="bounty_ipv6_ru">Встроенная поддержка IPv6</a></b></p></td>
  <td><p>Предложение на стадии разработки</p></td>
  <td><p>Amiga4000</p></td>
  <td><p>[вакантно]</p></td>
  <td><p>&euro;50 EUR</p></td>
 </tr>
</table>

<h2>Замороженные проекты (из-за исчезновения jrandom и отсутствия финансирования)</h2>

<table border="1">
 <tr><td><p><b>Название</b></p></td><td><p><b>Статус</b></p></td><td><p><b>Судья</b></p></td><td><p><b>Разработчик <sup>*</sup></b></p></td><td><p><b>Премия</b></p></td></tr>
 <tr>
  <td><p><b><a href="bounty_unittests">Модульные тесты</a></b></p></td>
  <td><p>Частично выполнено</p></td>
  <td><p>jrandom</p></td>
  <td><p>Comwiz</p></td>
  <td><p>$0.0 USD</p></td>
 </tr>
 <tr>
  <td><p><b><a href="http://forum.i2p2.de/viewtopic.php?t=1136">Кроссплатформенные I2P-комплекты</a></b></p></td>
  <td><p>Предложено</p></td>
  <td><p>jrandom</p></td>
  <td><p>[vacant]</p></td>
  <td><p>$0 USD за каждый, либо $0 за все</p></td>
 </tr>
</table>

<h2>Выплаченные премии</h2>
<table border="1">
 <tr><td><p><b>Название</b></p></td><td><p><b>Статус</b></p></td><td><p><b>Разработчики<sup>*</sup></b></p></td></tr>
 <tr>
  <td><p><b><a href="bounty_datastore_ru">Децентрализованное хранилище данных поверх I2P</a></b></p></td>
  <td><p><a href="http://duck.i2p/tahoe-lafs/">Востребована</a>, &euro;70 EUR</p></td>
  <td><p>duck, smeghead</p></td>
 </tr>
 <tr>
  <td><p><b><a href="bounty_rutrans_ru">Перевод на русский</a></b></p></td>
  <td><p>Востребована, $230 USD пожертвованные russian sponsor</p></td>
  <td><p>4get</p></td>
 </tr>
 <tr>
  <td><p><b>Swarming file transfer</b></p></td>
  <td><p><a href="http://duck.i2p/i2p-bt/">Востребована</a>, &euro;250 EUR</p></td>
  <td><p>duck, ragnarok, dinoman, connelly, drwoo</p></td>
 </tr>
 <tr>
  <td><p><b>Streaming library window size</b></p></td>
  <td><p><a href="http://dev.i2p.net/pipermail/i2p/2004-November/000491.html">Востребована</a></p></td>
  <td><p>jrandom</p></td>
 </tr>
 <tr>
  <td><p><b>IRC connect time monitor</b></p></td>
  <td>Востребована, $10 USD</td>
  <td><p>hypercubus</p></td>
 </tr>
 <tr>
  <td><p><b>Модульные тесты (1 часть)</b></p></td>
  <td>Востребована, $300 USD</td>
  <td><p>Comwiz</p></td>
 </tr>
 <tr>
  <td><p><b>Поддержка <a href="http://gcc.gnu.org/java/">GCJ</a></b></p></td>
  <td><p><a href="http://dev.i2p.net/cgi-bin/cvsweb.cgi/i2p/Makefile.gcj">Востребована</a></p></td>
  <td><p>jrandom</p></td>
 </tr>
</table>

<p><i><sup>*</sup> В графе «Разработчики» перечислены все, кто уже заявил желание и работает над соответствующим проектом. Предпочтительна совместная работа, поэтому, если Вы хотите подключиться к уже активному проекту, пожалуйста, сначала свяжитесь с указанными людьми!</i></p>

{% endblock %}
