{% extends "_layout_it.html" %}
{% block title %}Premi{% endblock %}
{% block content %}
<h1>Premi per I2P</h1>      
<p>Accettiamo sempre con gratitudine eventuali contributi di codice,
documentazione, e simili, ma ci sono altri modi per aiutare I2P ha
migliorare. Come per qualsiasi progetto open source, i nostri obiettivi sarebbero raggiunti più
rapidamente se tutti i nostri collaboratori avrebbero la  possibilità di lavorare su
I2P a tempo pieno. Tuttavia, come con qualsiasi progetto open source, questo è non 
possibile. Per ovviare al problema, stiamo facendo uso di un sistema di premiazioni, per cui
chiunque può ottenere il supporto per lavorare su qualcosa che la gente vuole
ultimata, dando così la possibilità alle persone che vogliono contribuire al progertto di I2P sono certi che
il loro sostegno vada a ciò che interessa a loro.</p>

<p>Stiamo anche tenendo aperte le possibilità per chi vuole sostenere I2P
ma non è attirato dal sistema dei premi attualmente disponibili. Quelle persone
possono semplicemente dare la loro fiducia nella squadra di I2P, e anche una donazione (anonima o non),
destinata ad un fondo generale che verrà utilizzato come sostituto del
necessario - assegnazione dei vari premi, coprire spese extra come hosting,
etc e simili.</p>

<h2>Premi Attualmente Disponibili</h2>

<p>
<table border="1">
 <tr><td><p><b>Name</b></p></td><td><p><b>Status</b></p></td><td><p><b>Judge</b></p></td><td><p><b>Dev <sup>*</sup></b></p></td><td><p><b>Bounty</b></p></td></tr>
 <tr>
  <td><p><b><a href="bounty_datastore">Datastore over I2P</a></b></p></td>
  <td><p>work in progress</p></td>
  <td><p>echelon</p></td>
  <td><p>duck, smeghead</p></td>
  <td><p>&euro;500 EUR</p></td>
 </tr>
 <tr>
  <td><p><b><a href="bounty_datastore">Frost for I2P datastorage</a></b></p></td>
  <td><p>Proposal in development</p></td>
  <td><p>echelon</p></td>
  <td><p>[vacant]</p></td>
  <td><p>&euro;100 EUR</p></td>
 </tr>
 <tr>
  <td><p><b><a href="bounty_datastore">Eepsites served out of I2P datastorage</a></b></p></td>
  <td><p>Proposal in development</p></td>
  <td><p>echelon</p></td>
  <td><p>[vacant]</p></td>
  <td><p>&euro;100 EUR</p></td>
 </tr>
 <tr>
  <td><p><b><a href="bounty_i2phex">Backporting Phex code onto I2PHex</a></b></p></td>
  <td><p>Proposal in development</p></td>
  <td><p>Arne Bab</p></td>
  <td><p>[vacant]</p></td>
  <td><p>&euro;60 EUR</p></td>
 </tr> 
 <tr>
  <td><p><b><a href="bounty_ipv6">make I2P IPv6 native</a></b></p></td>
  <td><p>Proposal in development</p></td>
  <td><p>Amiga4000</p></td>
  <td><p>[vacant]</p></td>
  <td><p>&euro;50 EUR</p></td>
 </tr>
 </table>

<h2>I premi potrbbero essere assegnati in ritardo, causa mancaza fondi o assenza dell'adetto jrandom</h2>

<p>
<table border="1">
 <tr><td><p><b>Name</b></p></td><td><p><b>Status</b></p></td><td><p><b>Judge</b></p></td><td><p><b>Dev <sup>*</sup></b></p></td><td><p><b>Bounty</b></p></td></tr>
 <tr>
  <td><p><b><a href="bounty_unittests">Unit tests</a></b></p></td>
  <td><p>Partly completed</p></td>
  <td><p>jrandom</p></td>
  <td><p>Comwiz</p></td>
  <td><p>$0.0 USD</p></td>
 </tr>
 <tr>
  <td><p><b><a href="http://forum.i2p2.de/viewtopic.php?t=1136">Bundling bounties</a></b></p></td>
  <td><p>Proposed</p></td>
  <td><p>jrandom</p></td>
  <td><p>[vacant]</p></td>
  <td><p>$0 USD each, or $0 for all</p></td>
 </tr>
</table>

<h2>Claimed bounties</h2>
<p>
<table border="1">
 <tr><td><p><b>Name</b></p></td><td><p><b>Status</b></p></td><td><p><b>Dev team<sup>*</sup></b></p></td></tr>
 <tr>
  <td>  <p><b><a href="bounty_rutrans">translation into Russian</a></b></td>
  <td><p>claimed for $230 USD sponsored by russian sponsor</p></td>
  <td><p>_4get</p></td>
 </tr>
 <tr>
  <td><p><b>Swarming file transfer</b></p></td>
  <td><p><a href="http://duck.i2p/i2p-bt/">CLAIMED</a> for &euro;250 EUR</p></td>
  <td><p>duck, ragnarok, dinoman, connelly, drwoo</p></td>
 </tr>
 <tr>
  <td><p><b>Streaming library window size</b></p></td>
  <td><p><a href="http://dev.i2p.net/pipermail/i2p/2004-November/000491.html">Claimed</a></p></td>
  <td><p>jrandom</p></td>
 </tr>
 <tr>
  <td><p><b>IRC connect time monitor</b></p></td>
  <td>CLAIMED for $10 USD</td>
  <td><p>hypercubus</p></td>
 </tr>
 <tr>
  <td><p><b>Unit tests (part 1)</b></p></td>
  <td>CLAIMED for $300 USD</td>
  <td><p>Comwiz</p></td>
 </tr>
 <tr>
  <td><p><b><a href="http://gcc.gnu.org/java/">GCJ</a> support</b></p></td>
  <td><p><a href="http://dev.i2p.net/cgi-bin/cvsweb.cgi/i2p/Makefile.gcj">Claimed</a></p></td>
  <td><p>jrandom</p></td>
 </tr>
</table>
</p>

<p><i><sup>*</sup> Se siete interessati ad uno dei premi, fatelo presente alla persona che se ne occupa!</i></p>

{% endblock %}
