{% extends "_layout_de.html" %}
{% block title %}Bounty Unittests{% endblock %}
{% block content %}<p>Um die Wartung von I2P zu vereinfachen ben&ouml;tigen
wir einen stabilen und umfassenden Satz an automatischen Unittests f&uuml;r den
wichtigsten Quelltext. Die wenigen derzeitigen Unittets sind nur zus&auml;tzlich
zum Quelltext. Diese Bounty wird f&uuml;r das migrieren der Tests au jUnit, deren
automatische Ausf&uuml;hrung, Ausbau der Uniettests zum testen von mehr 
Quelltexten und &ouml;ffentlichem publizieren der Ergebnisse ausgezahlt.
Es ist eine grosse Aufgabe, die jedoch in kleinere Phasen heruntergebrochen 
werden kann. Diese Phasen sind folgende (Phase 1 muss zuerst erledigt sein, der 
Rest kann in beliebiger Reihenfolge erfolgen):</p>

<p>
HINWEIS: dieses ist der alte Status der Unittest-Belohnung. Eine neue Seite ist
in Arbeit!
</p>

<h2>Phase 1: <a name="sdk">SDK Test Umsetzung</a></h2>
<b>Bounty: $300</b> <i>Ausgezahlt!  An ComWiz</i><br />

<p>Um diese Bounty zu bekommen m&uuml;ssen die existierenden SDK Tests
auf jUnit migriert werden und in Ant build Skripte ("ant test") integriert
werden. Auch m&uuml;ssen sie mit einem Werkzeug, das den Quelltext
&uuml;berwacht (z.B. <a href="http://www.cenqua.com/clover/">Clover</a>)
verbunden werden. Das Ant Skript muss das Ergebnis der Tests
als eine Webseite generieren k&ouml;nnen, die im Netz publiziert wird. </p>

<h2>Phase 2: <a name="sdk_coverage">Umfang der SDK Tests </a></h2>
<b>Bounty: $300</b><br />

<p>Um diese Bounty zu bekomment, m&uuml;ssen die automatischen 
Unittests mindestens 90% des SDK Quelltextes (i2p/core/java/src) 
&uuml;berpr&uuml;fen.</p>

<h2>Phase 3: <a name="router">Router Test Umsetzung</a></h2>
<b>Bounty: $300</b><br />

<p>Wie in Phase 1 m&uuml;ssen die existierenden Unittests f&uuml;r den Router
auf ein automatisches System umgesetzt werden..</p>

<h2>Phase 4: <a name="router_coverage">Umfang der Router Tests</a></h2>
<b>Bounty: $300</b><br />

<p>F&uuml;r diese Bounty m&uuml;ssen die automatischen Unittests 
mindestens 90% des router Quelltextes (i2p/router/java/src) umfassen.</p>

<h2>Phase 5: <a name="streaming">Streaming Bibliothek Tests</a></h2>
<b>Bounty: $300</b><br />

<p>F&uuml;r diese Bounty muss ein neues Set an automatischen Tests
mindestens 90% des Quelltextes der Streaming Bibliothek 
(i2p/apps/ministreaming/ und i2p/apps/streaming/) umfassen.</p>

<p><i>Hinweis: Die H&ouml;he des Betrags kann durch weitere Spenden steigen.
Findest Du diese Teile wichtig? <a href="donate_de">Spende einen Betrag</a>
f&uuml;r diese Unittests Bounties!</i></p>
{% endblock %}
