{% extends "_layout_de.html" %}
{% block title %}Belohnung I2PHex Code R&uuml;ckf&uuml;hrung{% endblock %}
{% block content %}<p>Um die Benutzbarkeit von I2P zu verbessern und
um mehr Nutzer zu I2PHex zu begeistern, hat Arne Bab eine Belohnung
auf das Implementieren aktuellen Codes von Phex auf I2Phex ausgesetzt.

<br>
<p>
Hinweis:
Der Autor darf nicht von einer anderen Organisation oder Gruppe bezahlt werden
f&uuml;r den Quelltext (z.B. GSoC Studenten sind NICHT erlaubt).</p>


<p><i>Die H&ouml;he des Betrags kann durch weitere Spenden steigen.
Findest Du diese Teile wichtig? <a href="donate_de">Spende einen Betrag</a>
f&uuml;r die Belohnung zur Fertigstellung diese Software!</i></p>

{% endblock %}
