{% extends "_layout.html" %}
{% block title %}Bounty datastorage{% endblock %}
{% block content %}<p>To improve I2P's userage and to be independant of routers 
online status we want a datastorage as a extension to I2P.
Like in freenet the datastorage should be distributed and every
participating node should be able to configure his options.
The files should be saved in chunks and at least 2-3 times to
obtain redundancy. Usage of storage space should be auto balanced.
As it is a extra application, it should work flawless within I2P and
cooperate nice with the I2P router. Maybe a integration within the
webpage/router could be done.</p>
<br>
<p>This bounty cooperates with the 2 other bounties "frost for I2P" and 
"eepsites in datastorage".</p>
<br>
<p>The frost for I2P datastorage bounty is paid for a frost like program 
with which files/messages are stored into database and got from database.
It needs to work with a GUI.</p>
<br>
<p>The eepsite served out of I2P datastorage extends a I2P router to send
out eepsites out of the I2P datastorage. All files for eepsites need to be
saved inside of datastorage and are taken from it.
Extension:
For better integration all datastorage participants could serve that eepsite.
</p>
<br>
<p>
Note:
For bounties to be declared done and paid, we need the program AND the source.
Source and code need to be licenced under a free licence (free to change and 
free to distribute)</p>


<p><i>Note 2: bounty amounts may be increased by further donations.  Do
you think these are important?  <a href="donate">Add in your donation</a>, 
marking the amount for the unit test bounty!</i></p>
{% endblock %}
