{% extends "_layout.html" %}
{% block title %}Syndie development{% endblock %}
{% block content %}
<!-- file version 2013.02.24.01 -->
<p>Beside of I2P we want to encourage users
to care more about anonymity and security. As I2P is a low 
latency network with its natural limits, the software SYNDIE
can overcome some of these limits and provide better anonymity
for people who really need it. </p>
<p>
For our bad sake the syndie project is out of development for 
quite a long time yet (5 years). To get a fresh and new built 
with needed bugfixes we set out this bounty. Also syndie needs
some enhancements and a better GUI for users to work with it.
Current bounty sum is 50 Bitcoin.
</p>
<p>
The latest syndie coding rallye did improve the situation of the
synide package dramatically. A new syndie package with bugfixes
was created and made available on different webpages.
As of this work been done, the bounty sum was reduced and
the withdrawn money moved to the IPv6 bounty.
</p>
<p>
Note:

<p><i>bounty amounts may be increased by further donations.  Do
you think these are important?  <a href="donate">Add in your donation</a>, 
marking the amount for the syndie development bounty!</i></p>

{% endblock %}
                                                          
