{% extends "_layout.html" %}
{% block title %}I2P at CLT and PetCon 2009.1{% endblock %}
{% block content %}<p>Members of I2P will held a talk at CLT and PetCon 2009.1</p>
Two members of the I2P team will be at two forthcoming Linux day and security convention. </ br>
On 14th march of 2009 there will be a short talk about general introduction to I2P at the <a href="http://chemnitzer.linux-tage.de/2009/info/">Chemnitz Linux Tag 2009</a> hold by echelon.</br>
Echelon and some other members of the I2P family will attend to the Linux meeting the whole two days (Saturday and Sunday) and will be recognizable as I2P family members. Meet them, ask them your questions, show them your props!</br>
Show your support!</br>
</br>
Just 10 days later the <a href="http://www.pet-con.org/index.php/PET_Convention_2009.1">Privacy and Data Security convention</a> in Dresden will take place.</br>
Again, echelon will attend this event and hold a short talk about general introduction to I2P. Another talk about the profiling by the I2P clients will be held.
</br>

{% endblock %}
