{% extends "_layout.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>IRC</h1>
<p>
  Our primary IRC network is the Irc2P network within I2P; a default tunnel to this network is set up with new router installs.
  We are also present on multiple standard networks like <a href="https://www.oftc.net/oftc/">OFTC</a>,
  <a href="http://www.einirc.de/">EIN</a> and <a href="http://freenode.net/">Freenode</a>.
  All I2P-related channels on all these network are linked to the main channels on Irc2P via relay bots.
</p>
<pre>
{% filter escape %}
Channel list:

#i2p       General i2p discussion
#i2p-chat  Offtopic
#i2p-dev   Development talk
#i2p-help  Help channel
{% endfilter %}
</pre>

<h1>Forums</h1>
<p>
  Most of the discussion about I2P's development happens on the <a href="http://{{ i2pconv('zzz.i2p') }}">I2P developer forum</a>. This is usually the best place to start with inquiries, if the dev IRC channel is inactive.
</p>

<h1>Mailing lists</h1>
<p>
  I2P does have a mailing list, but it is rarely used as the current small team of developers prefer to communicate via IRC or the developer forum. This may change in future.
</p>


<h2>Subscribing</h2>
<p>
  To subscribe to a mailing list, go to the list information page (linked below) and fill out the form. I2P-internal email addresses (foobar@mail.i2p) can be used.
</p>

<h2>Unsubscribing</h2>
<p>
  To unsubscribe from a mailing list or edit your subscription options, go to the list information page (linked below) and enter your subscription email address.
</p>

<h2>Lists</h2>
<ul>
  <li>
    <a href="https://lists.welterde.de/mailman/listinfo/i2p-general">i2p-general</a>(<a href="https://lists.welterde.de/pipermail/i2p-general/">Archive</a>)<br/>
    General I2P discussion - anything that doesn't fit in a different list goes here.
  </li>
</ul>


<h1>NNTP</h1>
<p>
  You don't like mailing lists? Then this is for you. All mailing lists are available via NNTP as well.
</p>
<pre>
{% filter escape %}
Group-List-mapping:

i2p.general          i2p-general

Servers:

news.welterde.de     news.welterde.i2p
{% endfilter %}
</pre>

{% endblock %}
