{% extends "_layout_de.html" %}
{% block title %}CVS{% endblock %}
{% block content %}<p>Der I2P Quelltex wurde in einem CVS Verzeichnis gehalten. Jetzt ist er
jedoch in einem <a href="monotone_de.html">Monotone</a> Verzeichnis. Aus Gr&uuml;nden der
Historie bleibt dieses Dokument auf der Webseite. F&uuml;r diejenigen, die nicht mit CVS
vertraut sind, gibt ein fantastisches, englisches, <a href="http://cvsbook.red-bean.com/cvsbook.html">Buch</a>
&uuml;ber das Thema (Entwickler brauchen nur das erste Kapitel beachten - "An Overview of
CVS", da die weiteren Kapitel so tief in die Detaisl gehen, die kaum jemand jemals 
brauchen wird).</p>

<h2>Unix CVS</h2>
<p><code>cvs -d:pserver:anoncvs@cvs.i2p.net:/cvsroot login</code><br />
Passwort: anoncvs<br />
<code>cvs -d:pserver:anoncvs@cvs.i2p.net:/cvsroot co i2p</code></p>

<h2>WinCVS</h2>
<p>WinCVS CVSRoot (erst einloggen, dann checkout):<br />
<code>anoncvs@cvs.i2p.net:/cvsroot</code><br />
Passwort: anoncvs</p>

<h2>CVSWeb</h2>
<p><a href="http://dev.i2p.net/cgi-bin/cvsweb.cgi/i2p/?f=H">I2P CVSWeb (inaktiv)</a>
</p>

<h2>CVS history</h2>
<p>Commits are sent to the <a href="http://dev.i2p.net/pipermail/i2p-cvs/">CVS Mailingliste (inaktiv)</a>
</p>

<p>Humorvoller Auszug aus dem WinCVS: "Wussten Sie schon... Nie mit ihrer Arbeitskopie
mit neuem CVS Kommandos experimentieren, immer eine Testkopie benutzen!"</p>
{% endblock %}