
{% extends "_layout.html" %}
{% block title %}Debian/Ubuntu{% endblock %}
{% block content %}
<h1>Debian I2P Packages
</h1>
The packages hosted on <a href="https://launchpad.net/%7Ei2p-maintainers/+archive/i2p">the I2P Launchpad site</a>
have been tested and confirmed to work on x86/x86_64 platforms running
<ul>
  <li><a href="#Debian">Debian Linux</a> (Lenny and newer) &amp; <a href="#nonlinux">kFreeBSD</a> (Wheezy) </li>
  <li><a href="#Debian">gNewSense</a> <span style="font-style: italic;">2.3</span>
  </li>
  <li><a href="#Debian">Knoppix</a> </li>
  <li><a href="#ubuntu">Mint</a> <span style="font-style: italic;">11</span>
  </li>
  <li><a href="#nonlinux">Nexenta</a> <span style="font-style: italic;">3.0.1</span>
  </li>
  <li><a href="#Debian">Simply MEPIS</a> <span style="font-style: italic;">8.5.03-rel1</span> </li>
  <li><a href="#ubuntu">Trisque</a>l <span style="font-style: italic;">4.5.1</span>
  </li>
  <li><a href="#ubuntu">Ubuntu</a> (Hardy <span style="font-style: italic;">8.04</span> and
newer)</li>
</ul>
Although untested, the I2P packages may work on systems not listed
above.
<ul>
  <li>Option 1: <a href="#ubuntu">Recent versions</a> of Ubuntu and
its derivatives (<span style="font-style: italic;">Try this if you're
not using Debian)</span><br />
  </li>
  <li>Option 2: <a href="#Debian">Debian</a> (including systems based
on Debian and older
versions of Ubuntu)</li>
  <li>Option 3: <a href="#nonlinux">Non-Linux</a> (and possibly
Non-x86
architectures)<br />
  </li>
</ul>
<h2>Instructions for Linux Mint, Trisquel, &amp; <a name="ubuntu"></a>Ubuntu (Lucid and
later)</h2>
<ol>
  <li>Open a terminal and enter: <br />
    <code>&nbsp;&nbsp;&nbsp; sudo apt-add-repository
ppa:i2p-maintainers/i2p</code><br />
This command will add the PPA to /etc/apt/sources.list.d and fetch the
gpg key that the repository has been signed with. The GPG key ensures
that the packages have not been tampered with since being built.</li>
  <li>Notify your package manager of the new PPA by entering<br />
    <code>&nbsp;&nbsp;&nbsp; sudo apt-get update</code><br />
This command will retrieve the latest list of software from each
repository that is enabled on your system, including the I2P PPA that
was added with the earlier command.</li>
  <li>You are now ready to install I2P! <br />
    <code>&nbsp;&nbsp;&nbsp;&nbsp;sudo apt-get install i2p</code></li>
</ol>
After the installation process completes you can move on to the next
part of <a href="#Post-install_work">starting
I2P</a> and configuring it for your system.
<h2>Instructions for <a name="Debian"></a>Debian (Lenny and newer)<br />
</h2>
The steps below should be performed with root access (i.e., switching
user to root with "su" or by prefixing each command with "sudo").<br />
<ol>
  <li>Add the following entries to <code>/etc/apt/sources.list.d/i2p.list</code>
    <br />
    <code>&nbsp;&nbsp;&nbsp; deb
http://ppa.launchpad.net/i2p-maintainers/i2p/ubuntu natty
main <br />
&nbsp;&nbsp;&nbsp; deb-src
http://ppa.launchpad.net/i2p-maintainers/i2p/ubuntu natty
main </code><br />
These two lines should work regardless of the Debian version installed.</li>
  <li>Add the GPG key that signs the repository with the following
command:<br />
&nbsp;&nbsp;&nbsp; apt-key adv --keyserver keyserver.ubuntu.com
--recv-keys <a href="http://keyserver.ubuntu.com:11371/pks/lookup?search=0x474BC46576FAE76E97C1A1A1AB9660B9EB2CC88B&amp;op=index"><code>EB2CC88B</code>
    </a> <br />
You'll have output like the following if the command was successful: <br />
&nbsp;&nbsp;&nbsp;&nbsp;<img src="_static/images/add-key-terminal.png" alt="" /></li>
  <li>Notify your package manager of the new PPA by entering<br />
    <code>&nbsp;&nbsp;&nbsp; apt-get update</code><br />
This command will retrieve the latest list of software from every
repository enabled on your system, including the I2P PPA added in step
1.</li>
  <li>You are now ready to install I2P! <br />
    <code>&nbsp;&nbsp;&nbsp; apt-get install i2p</code></li>
</ol>
After the installation process completes you can move on to the next
part of <a href="#Post-install_work">starting
I2P</a> and configuring it for your system.
<h2>Instructions for <a name="nonlinux"></a>Non-Linux / Non-x86 <br />
</h2>
The steps below should be performed with root access (i.e., switching
user to root with "su" or by prefixing each command with "sudo").<br />
<ol>
  <li>Download the <a href="http://ppa.launchpad.net/i2p-maintainers/i2p/ubuntu/pool/main/i/i2p/">i2p-router</a>
package from the <a href="http://ppa.launchpad.net/i2p-maintainers/i2p/ubuntu/pool/main/i/i2p/">PPA</a>.
    <br />
  </li>
  <li>Make sure you have Java installed. Running <span style="font-style: italic;">apt-get install default-jvm</span> should
be sufficient.<br />
You are now ready to install I2P! <br />
    <code>&nbsp;&nbsp;&nbsp; dpkg -i i2p-router_*.deb</code></li>
  <li>It is recommended to compile <a href="/jbigi">jbigi</a> for
your system to acheive better performance. Instructions are available <a href="/jbigi">here</a>.</li>
</ol>
After the installation process completes you can move on to the next
part of <a href="#Post-install_work">starting
I2P</a> and configuring it for your system.<br />
<h3><a name="Post-install_work"></a>Post-install work</h3>
Using these I2P packages the I2P router can be started in the following
three ways:<br />
<ul>
  <li>"on demand" using the i2prouter script. Simply run "i2prouter
start" from a command prompt. (Note: Do <span style="font-weight: bold; text-decoration: underline;">not</span> use
sudo or run it as root!)</li>
  <li>"on demand" without the <a href="http://wrapper.tanukisoftware.com/">java service wrapper</a>
(needed on non-Linux/non-x86 systems) by running "i2prouter-nowrapper".
(Note: Do <span style="font-weight: bold; text-decoration: underline;">not</span>
use sudo or run it as root!)</li>
  <li>as a service that automatically runs when your system boots, even
before logging in. The service can be enabled with "dpkg-reconfigure
i2p" as root or using sudo. This is the recommended means of operation.<br />
  </li>
</ul>
<p>When installing for the first time, please remember to <b>adjust
your NAT/firewall</b>
if you can, bearing in mind the Internet-facing ports I2P uses,
<a href="faq#ports">described here</a> among other ports.
If you have successfully opened your port to inbound TCP, also enable
inbound TCP on the
<a href="http://localhost:7657/config.jsp">configuration page</a>.
</p>
<p>Also, please review and <b>adjust the bandwidth settings</b> on the
<a href="http://localhost:7657/config.jsp">configuration page</a>,
as the default settings of 96 KBps down / 40 KBps up are fairly slow.
</p>
<p>
If you want to reach eepsites via your browser, have a look on the <a href="htproxyports.html">browser proxy setup</a> page for a easy
howto.
</p>
{% endblock %}
