{% extends "_layout_fr.html" %}
{% block title %}Faire un don{% endblock %}
{% block content %}<p>Merci pour votre participation à I2P!
Vous trouverez ci-dessous les détails sur la façon dont vous pouvez contribuer.</p>


<h2><a href="http://www.paypal.fr/" target="_new">PayPal</a></h2>
<br />
vous pouvez faire un don directement via PayPal pour le compte "echelon@i2pmail.org".<br />
<br />
<table>
<tr>
<td>Simple don (une seule fois):</td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="3031758">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="no_shipping" value="1">
<input type="image" src="https://www.paypal.com/fr_FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="">
<img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr>

<tr>
<td>Don régulier de 10 &euro;/mois pendant un an: </td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="3031934">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="no_shipping" value="1">
<input type="image" src="https://www.paypal.com/fr_FR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="I2P donation">
<img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr>
<tr>
<td>Don régulier de 20 &euro;/mois pendant un an: </td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="KALQ2V9SQF348">
<input type="image" src="https://www.paypal.com/fr_FR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="I2P donation">
<img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr>
<tr>
<td>Don régulier de 30 &euro;/mois pendant un an: </td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="QSU89XWKB7N3U">
<input type="image" src="https://www.paypal.com/fr_FR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="I2P donation">
<img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr>
<tr>
<td>Don régulier de 50 &euro;/mois pendant un an: </td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8ENENJMVN6TL8">
<input type="image" src="https://www.paypal.com/fr_FR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="I2P donation">
<img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr>
</table>
<br>
<h2><a href="http://www.flattr.com/" target="_new">Flattr</a></h2>
<a href="http://flattr.com/thing/13523/Invisible-Internet-Project-I2P" target="_blank">
<img src="http://api.flattr.com/button/button-static-50x60.png" title="Flattr this" border="0" /></a>
<br>
<br>
<h2><a href="http://www.bitcoin.org/fr/home" target="_new">Bitcoin</a></h2>
Depuis décembre 2010 j'ai un compte <a href="http://www.bitcoin.org/fr/home">Bitcoin</a> pour le projet I2P. 
Si vous voulez faire un don via Bitcoin, transférez simplement le montant des pièces vers le compte 
<b>1HkJCceXf7of1sTNRVJbXiZHfDTLL71Siy</b> et laissez moi un petit mot si vous voulez être listés sur la page I2P 
 des donateurs.<br>
<br>
Si vous voulez rester plus ou moins anonyme, l'option d'envoi d'argent par mail est également disponible. 
Mais elle est moins sécurisée car l'enveloppe pourrait se perdre en route. <br />
Mais si vous voulez donner par les services postaux classiques, contactez-nous à <a href="mailto:echelon@i2pmail.org?subject=information about snailmail donation">echelon@i2pmail.org</a>
 et nous vous enverrons les informations sur la façon de vous y prendre.<br />
<br />
<br />
Entre temps, jettez un coup d'œil sur la page des généreux donateurs qui ont dépensé 
des sommes conséquentes pour faire vivre I2P sur le <a href="halloffame.html">temple des héros</a>.<br />


<br /><br />
{% endblock %}
