{% extends "_layout_ru.html" %}
{% block title %}Donate!{% endblock %}
{% block content %}


<p>Спасибо за то, что Вы хотите помочь проекту I2P! Ниже читайте подробности от том, как можно передать нам деньги.</p>

<p>ВНИМАНИЕ: Прямые ссылки на перевод денег пока работают только через обычный интернет, поскольку созданием и поддержкой глобального https-outproxy ещё никто не занимался. <br />
А пока что просматривайте эту страницу в браузере, который не настроен на работу через I2P: <a href="http://www.i2p2.de/donate.html">http://www.i2p2.de/donate_ru.html</a> <br />

<h2><a href="http://www.paypal.com/" target="_new">PayPal</a></h2> <br />

Вы можете переводить пожертвования через PayPal на адрес echelon@i2pmail.org.<br />
<br />

<table>
<tr>
<td>Разовое пожертвование:</td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="3031758">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="no_shipping" value="1">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="">
<img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr>

<tr>
<td>Переводить по 10 &euro; ежемесячно в течении 12 месяцев: </td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="3031934">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="no_shipping" value="1">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="">
<img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr></table>

<br />
<p>Если Вы хотите оставаться более-менее анонимным, можете попробовать перевести деньги обычной (бумажной) почтой. Впрочем, этот способ ненадежен, так как конверт может затеряться по пути к нам. Если Вам все же удобнее этот способ, свяжитесь с нами по адресу <a href="mailto:echelon@i2pmail.org?subject=information about snailmail donation">echelon@i2pmail.org</a>, мы вышлем Вам инструкцию.</p>
<br />

<p>Ну и взгляните на список список дарителей, которые уже помогают проекту I2P держаться на плаву: <a href="halloffame.html">Зал Славы</a>. </p>

<br />
<br />

{% endblock %}
