{% extends "_layout_de.html" %}
{% block title %}Download{% endblock %}
{% block content %}
<h1>Download I2P</h1>      
<h3>Abh&auml;ngigkeiten</h3>
<a href="http://java.com/de/download/">Sun Java</a> 1.5 oder neuer, oder equivalent JRE.
(<a href="http://java.com/de/download/">Sun Java 1.6</a> recommended)
<br>
<a href="http://java.com/de/download/installed.jsp?detect=jre&try=1">Determine your installed Java version here</a>
or type <tt>java -version</tt> at your command prompt.
<h3>Frische Installation</h3>
<ul class="downloadlist">
<li>Graphischer Installer:<br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.7.11.exe">i2pinstall_0.7.11.exe</a>
    (SHA256
72e11e4b9f582b7e74f2f7b094e6154a2cf1deef318138b1aa07dfb8fb20cff7
     <a href="http://mirror.i2p2.de/i2pinstall_0.7.11.exe.sig">sig</a>)<br /> 
    Downloade die Datei und f&uuml;hre sie aus. Wenn du nicht Windows nutzt, kannst Du 
    <code>java -jar i2pinstall_0.7.11.exe</code> eingeben (ja, wirklich)</li>
<li>Command line (headless) Installation:<br />
    Downloade die normale Installationsdatei von oben und rufe
    <code>java -jar i2pinstall_0.7.11.exe -console</code> auf der Kommandozeile auf.
    Dieses funktioniert auf Windows, Linux und Mac OS X (ja, wirklich).
</li>
<li>Quelltext Installation:<br />
    <a href="http://mirror.i2p2.de/i2psource_0.7.11.tar.bz2">i2psource_0.7.11.tar.bz2</a>
    (SHA256
19390692708479ebb172dccb0865aa7d64df5610c6176f161f45d60c31b0e291
     <a href="http://mirror.i2p2.de/i2psource_0.7.11.tar.bz2.sig">sig</a>)<br />
    Alternativ kannst Du den Quelltext aus <a href="newdevelopers_de">Monotone</a> kopieren.
    <br/>
    F&uuml;hre aus: <code>(tar xjvf i2psource_0.7.11.tar.bz2 ; cd i2p_0.7.11 ; ant pkg)</code> und dann
    starte den GUI installer oder die headless Installation wie oben</li>
</ul>

Die Dateien sind von zzz signiert,
<a href="release-signing-key.html">wessen Schl&uuml;ssel hier ist</a>.

<h3>Hinweis an alle Vista Nutzer!</h3>
Vista hat einige &Auml;nderungen mit den Rechten auf Programmen gebracht. 
Bitte auf dem deutschen Vista I2P NICHT in den vorgesehenen Pfad installieren!</br>
Stattdessen I2P am besten in C:\I2P\ installieren (jedenfalls NICHT in C:\Programme\).
</br>
</br>
<h3>Arbeit nach dem Installieren</h3>

<p>Nachdem Du den graphischen Installer auf Windows beendet hast, klicke einfach den
"Start I2P" Knopf, was die <a href="http://localhost:7657/index.jsp">Router Konsole</a>,
mit weiteren Tips und Anweisungen anzeigt.</p>

<p>Auf Unixiden Systemen kann I2P als Service mit dem "i2prouter" Skript gestartet
werden. Dieses Skript liegt in dem I2P Verzeichnis.
Wechsel in das Verzeichnis und gebe  "sh i2prouter status" ein, welches
dir den aktuellen Router Status anzeigt. Die Argumente  "start", "stop" und "restart"
kontrollieren den Service. Die <a href="http://localhost:7657/index.jsp">Router Konsole</a>
kann auf der &uuml;blichen Adresse erreicht werden.
F&uuml;r Benutzer auf OpenSolaris und anderen Systemen, auf denen der Wrapper (i2psvc)
nicht unterst&uuml;tzt ist, startest Du den Router stattdessen mit "runplain.sh".
</p>

<p>Bei der Erstinstallation bitte nicht vergessen, die <b>Firewall und ggf das NAT</b>
anzupassen. Bitte beachte dabei die Ports, die I2P nutzt, <a href="faq#ports">hier beschrieben</a>.
Nachdem Du deinen Port f&uuml;r eingehenden TCP Verkehr ge&ouml;ffnet hast, aktiviere
auch den eigehenden TCP Verkehr auf der <a href="http://localhost:7657/config.jsp">Konfigurations Seite</a>.
</p>

<p>Ebenso kontrolliere und <b>passe bitte die Bandbreiten Einstellungen</b> auf der
<a href="http://localhost:7657/config.jsp">Konfigurations Seite</a> an,
da die Anfangs Einstellungen von 96 KBps down / 40 KBps up konservativ gering sind.
</p>

<h3>Aktualisierungen von fr&uuml;heren Versionen:</h3>
<p>
Es existieren automatische und manuelle Aktualsierungen f&uuml;r die aktuelle Version.
</p><p>
Falls Du versionen 0.7.5 oder h&ouml;her, sollte dein I2P automatisch das Update
erkennen. Um zu aktualisieren, klicke einfach auf dsen "Update available" Verweis in der
Router konsole, nachdem er aufgeschienen ist.
</p><p>
Falls Du eine Version 0.7.4 oder &auml;lter nutzt, schaue bitte auf der 
<a href=release-0.7.5.html>0.7.5 release notes</a> Seite nach.
Dort gibt es die notwendigen Hinweise, damit deine Version auch automatisch aktualisiert
werden kann.
</p><p>
Falls Du eine Version 0.6.1.30 oder &auml;lter nutzt, schaue bitte auf der 
<a href=upgrade-0.6.1.30.html>Instruktionen f&uuml;r &auml;ltere Versionen</a> Seite nach.
Dort gibt es die notwendigen Hinweise, damit deine Version auch automatisch aktualisiert
werden kann.
</p>

<ol>
<li>Hast du diese Anweisungen befolgt, solltest du einen Verweis auf deiner 
    <a href="http://localhost:7657/index.jsp">Router Konsole</a> sehen, der dir erlaubt
    die neue Version zu downloaden und zu installieren, einfach durch klicken des Verweises.</li>
<li>Alternativ kannst Du die manuelle Methode wie unten beschrieben nutzen.</li>
</ol>

<h3>Aktualisieren von &auml;lteren Versionen (Manuelle Methode):</h3>
<ol>
<li>Downloade <a href="http://mirror.i2p2.de/i2pupdate_0.7.11.zip">i2pupdate_0.7.11.zip</a>
    (SHA256
cdfe59145158c63af6f19efea6868b3d0f64efe58b5c27123cdaddad22ba5406
     <a href="http://mirror.i2p2.de/i2pupdate_0.7.11.zip.sig">sig</a>) in dein I2P 
    Installationsverzeichnis und <b>bennene es i2pupdate.zip</b>.
    (alternativ kannst den Quelltest besorgen und "ant updater" laufen lassen, kopiere dann
    das erstellte i2pupdate.zip in dein I2P Installationsverzeichnis). Du brauchst
    das ZIP Archive NICHT entpacken, I2P macht das von alleine.</li>
<li>Klicke auf  <a href="http://localhost:7657/configservice.jsp">"Graceful restart"</a></li>
<li>Hole dir eine Tasse Kaffee und schaue in 11 Minuten wieder nach.</li>
</ol>

Diese Datei ist signiert von zzz, wessen Schl&uuml;ssel <a href="release-signing-key.html">hier ist</a>.

{% endblock %}
