{% extends "_layout_ru.html" %}
{% block title %}Скачать{% endblock %}
{% block content %}
<h1>Скачивание I2P</h1>      
<h3>Зависимости</h3>
<a href="http://java.com/download/">Sun Java</a> 1.5 или выше, или эквивалентный JRE.
(<a href="http://java.com/download/">Sun Java 1.6</a> рекомендуется)
<br>
Определение установленной версии Java <a href="http://java.com/ru/download/installed.jsp?detect=jre&try=1">здесь</a>
или введите <tt>java -version</tt> в вашей командной строке.
<h3>Способы установки</h3>
<ul class="downloadlist">
<li>Графическая установка:<br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.7.8.exe">i2pinstall_0.7.8.exe</a>
    (SHA256 e0a3efbcba2e58aed97e7246fe3a604809ebf90ecdc3b274e000401fd743adc0
    <a href="http://mirror.i2p2.de/i2pinstall_0.7.8.exe.sig">sig</a>)<br /> 
    Скачайте этот файл и запустите его.  Если вы не в Windows, вы можете ввести<br />
    <code>java -jar i2pinstall_0.7.8.exe</code> </li>
<li>Установка из командной строки:<br />
    Загрузите файл графического установщика, указанного выше и введите<br />
    <code>java -jar i2pinstall_0.7.8.exe -console</code> из командной строки.
    Это будет работать на windows, linux, и mac.
</li>
<li>Установка из исходников:<br />
    <a href="http://mirror.i2p2.de/i2psource_0.7.8.tar.bz2">i2psource_0.7.8.tar.bz2</a>
    (SHA256 12df213cc9602f646d81f66103aed9e5d7123373d90302611fc29711c2e81cec
     <a href="http://mirror.i2p2.de/i2psource_0.7.8.tar.bz2.sig">sig</a>)<br />
    Кроме того, вы можете взять исходный код из <a href="newdevelopers">monotone</a>.
    <br/>
    Выполните <code>(tar xjvf i2psource_0.7.8.tar.bz2 ; cd i2p_0.7.8 ; ant pkg)</code> затем
    запустите программу графического(GUI) установщика или консольного установщика как указано выше</li>
</ul>

Эти файлы подписаны zzz,
<a href="release-signing-key.html">его ключи здесь</a>.

<h3>Действия после установки</h3>

<p>После запуска установщика в Windows, просто кликните по кнопке "Start I2P"
после этого откроется <a href="http://localhost:7657/index.jsp">Консоль роутера</a>,
которая укажет дальнейшие действия.</p>

<p>На Linux подобных системах, I2P может быть запущен как сервис используя скрипт "i2prouter",
находящийся в директории выбранной вами при установке I2P.
Перейдите в эту директорию и напишите "sh i2prouter status"
это должно отобразить статус роутера. Аргументы "start", "stop" и "restart"
управляют запуском сервиса.<br /> <a href="http://localhost:7657/index.jsp">Консоль роутера</a> 
может быть доступна на месте выбранном при установке.
Для пользователей OpenSolaris и других систем в которых не поддерживается (i2psvc),
вместо этого запуск осуществляется так "sh runplain.sh" .
</p>

<p>При установке в первый раз, пожалуйста запомните для <b>настройки вашего NAT/firewall</b>
Если можете, держите в памяти использование внешних (Internet-facing) портов I2P,
<a href="faq#ports">описанных здесь</a> в отличие от других портов.
Если у вас имеются открытые порты для входящих TCP соединений, также включите входящие TCP на
<a href="http://localhost:7657/config.jsp">странице конфигурации</a>.
</p>

<p>Кроме того, пересмотрите настройки <b>bandwidth settings</b> на 
<a href="http://localhost:7657/config.jsp">странице конфигурации</a>,
по умолчанию настройки такие 96KBps загрузка(down) / 40KBps отдача(up), что довольно медленно.
</p>

<h3>Обновления с предыдущих релизов:</h3>
<p>
Доступно два метода обновления для этого релиза автоматический и ручной.
</p><p>
Если у вас работает 0.7.5 или больше, ваш роутер должен определить наличие нового релиза автоматически.
Для обновления просто кликните кнопку 'Download Update' в вашей консоли роутера, когда она появится.
</p><p>
В связи с ошибкой в релизе 0.7.6, для тех у кого это первая инсталляция I2P этой версии
и для тех, кто не обновлял в ручную, 
могут увидеть ошибку "downloaded version is not greater than current version",
и должны использовать ручной метод обновления описанный ниже.
</p><p>
Если у вас работает версия 0.7.4 или более ранняя, пожалуйста, посмотрите
<a href=release-0.7.5.html>0.7.5 release notes</a>
для получения важной информации о способе конфигурации вашего роутера для автоматического
получения последнего релиза.
</p><p>
Если вы используете 0.6.1.30 или более древнюю, пожалуйста, посмотрите
<a href=upgrade-0.6.1.30.html>инструкции</a>
с важной информацией о том как настроить ваш роутер, для автоматического получения новой версии.
</p>

<ol>
<li>Если у вас перенастроенный роутер по следующим <a href=upgrade-0.6.1.30.html>инструкциям</a>,
	вы должны увидеть ссылку в вашей <a href="http://localhost:7657/index.jsp">консоли роутера</a> позволяющей
    скачивать и устанавливать новую версию кликнув по этой ссылке.</li>
<li>Кроме того, можно воспользоваться ручным методом, указанным ниже.</li>
</ol>

<h3>Обновление устаревших версий (ручной метод):</h3>
<ol>
<li>Скачайте <a href="http://mirror.i2p2.de/i2pupdate_0.7.8.zip">i2pupdate_0.7.8.zip</a>
    (SHA256 13f5659f59f3f6bd3a8fcd803c39074583ef169454d28e10665285af1adfb445
    <a href="http://mirror.i2p2.de/i2pupdate_0.7.8.zip.sig">sig</a>) в директорию, куда у вас установлен
    I2P и <b>переименуйте i2pupdate.zip</b>.
    (также вы можете получить исходники, как указано выше и выполнить "ant updater", затем скопировать
    полученный файл i2pupdate.zip в директорию установленного I2P). Вам не нужно распаковывать этот файл.</li>
<li>Кликнете <a href="http://localhost:7657/configservice.jsp">"Graceful restart"</a></li>
<li>Выпейте чашечку кофе, расслабьтесь и возвращайтесь через 11 минут ;)</li>
</ol>

файлы подписаны zzz,
<a href="release-signing-key.html">его ключи здесь</a>.

{% endblock %}
