{% extends "_layout.html" %}
{% block title %}Download{% endblock %}
{% block content %}
<h3>Dependency</h3>
<a href="http://java.com/download/">Sun Java</a> 1.5 or higher, or equivalent JRE.
(<a href="http://java.com/download/">Sun Java 1.6</a> recommended)
<br>
<a href="http://java.com/en/download/installed.jsp?detect=jre&try=1">Determine your installed Java version here</a>
or type <tt>java -version</tt> at your command prompt.
<h3>Clean installs</h3>
<ul>
<li>Graphical installer:<br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.7.1.exe">i2pinstall-0.7.1.exe</a>
    (SHA1
e06edca6391eba5bfac31bfd1cd4b9155a82d4b5
     <a href="http://mirror.i2p2.de/i2pinstall_0.7.1.exe.sig">sig</a>)<br /> 
    Download that file and run it.  If you're not on windows, you can 
    type <code>java -jar i2pinstall_0.7.1.exe</code> (yes, really)</li>
<li>Command line (headless) install:<br />
    <a href="http://mirror.i2p2.de/i2pheadless_0.7.1.tar.bz2">i2pheadless_0.7.1.tar.bz2</a>
    (SHA1
16fd61d0d00f96af43b02e81234f56c648d41a1e
     <a href="http://mirror.i2p2.de/i2pheadless_0.7.1.tar.bz2.sig">sig</a>)<br />
    Run <code>(tar xjvf i2pheadless_0.7.1.tar.bz2 ; cd i2p ; vi install-headless.txt)</code></li>
<li>Source install:<br />
    <a href="http://mirror.i2p2.de/i2psource_0.7.1.tar.bz2">i2psource_0.7.1.tar.bz2</a>
    (SHA1
cabb2725ccd666d0bbbf344823ff9f62cb9e477d
     <a href="http://mirror.i2p2.de/i2psource_0.7.1.tar.bz2.sig">sig</a>)<br />
    Alternately, you can fetch the source from <a href="newdevelopers">monotone</a>.
    <br/>
    Run <code>(tar xjvf i2psource_0.7.1.tar.bz2 ; cd i2p-0.7.1 ; ant pkg)</code> then either
    run the GUI installer or headless install as above</li>
</ul>

The files are signed by Complication,
<a href="release-signing-key.html">whose key is here</a>.

<h3>Post-install work</h3>

<p>After running the installer on windows, simply click on the "Start I2P" button
which will bring up the <a href="http://localhost:7657/index.jsp">router console</a>,
which has further instructions.</p>

<p>On Unix-like systems, I2P can be started as a service
using the "i2prouter" script, located in the directory you selected for I2P.
Changing to that directory in a console and issuing "sh i2prouter status"
should tell you the router's status. The arguments "start", "stop" and "restart"
control the service. The <a href="http://localhost:7657/index.jsp">router console</a>
can be accessed at its usual location.
For users on OpenSolaris and other systems for which the wrapper (i2psvc) is not supported,
start the router with "sh runplain.sh" instead.
</p>

<p>When installing for the first time, please remember to <b>adjust your NAT/firewall</b>
if you can, bearing in mind the Internet-facing ports I2P uses,
<a href="faq#ports">described here</a> among other ports.
If you have successfully opened your port to inbound TCP, also enable inbound TCP on the
<a href="http://localhost:7657/config.jsp">configuration page</a>.
</p>

<p>Also, please review and <b>adjust the bandwidth settings</b> on the
<a href="http://localhost:7657/config.jsp">configuration page</a>,
as the default settings of 32 KBps down / 16 KBps up are fairly slow.
</p>

<h3>Updates from earlier releases:</h3>
<p>
Both automatic and manual upgrades are available for the release.
</p><p>
If you are running 0.6.1.31 or later, your router should detect the
new release. To upgrade simply click the 'Update Available' link on your router console
when it appears.
</p><p>
If you are running 0.6.1.30 or earlier, please see
<a href=upgrade-0.6.1.30.html>instructions</a>
for important information about how to configure your router to automatically
receive the release.
</p>

<ol>
<li>If you have reconfigured your router following the <a href=upgrade-0.6.1.30.html>instructions</a>, you should see a link on your 
    <a href="http://localhost:7657/index.jsp">router console</a> allowing
    you to download and install the new release by just clicking on that
    link.</li>
<li>Alternately, you can use the manual method specified below.</li>
</ol>

<h3>Updates from earlier releases (manual method):</h3>
<ol>
<li>Download <a href="http://mirror.i2p2.de/i2pupdate_0.7.1.zip">i2pupdate_0.7.1.zip</a>
    (SHA1
94e7678442aa37e2297830950c63e9e26f77de1f
     <a href="http://mirror.i2p2.de/i2pupdate_0.7.1.zip.sig">sig</a>) to your I2P 
    installation directory and <b>rename as i2pupdate.zip</b>.
    (alternately, you can get the source as above and run "ant updater", then copy the
    resulting i2pupdate.zip to your I2P installation directory).  You do 
    NOT need to unzip that file.</li>
<li>Click <a href="http://localhost:7657/configservice.jsp">"Graceful restart"</a></li>
<li>Grab a cup of coffee and come back in 11 minutes</li>
</ol>

The file is signed by Complication,
<a href="release-signing-key.html">whose key is here</a>.

{% endblock %}
