{% extends "_layout_zh.html" %} 
{% block title %}下载{% endblock %} 
{% block content %}
<h1>下载 I2P</h1>      
<h3>依赖关系</h3>
<a href="http://java.com/zh_CN/download/">Sun Java</a> 1.5 或更高版本，或等效的 JRE。
(推荐使用 <a href="http://java.com/zh_CN/download/">Sun Java 1.6</a>) 
<br>
确定您安装的 Java 版本可以<a href="http://java.com/zh_CN/download/installed.jsp?detect=jre&try=1">点这里</a> 
或在命令行中输入 <tt>java -version</tt> 。
<h3>全新安装</h3>
<ul class="downloadlist">
<li><b>Windows</b> 图形安装程序:<br />
   <a href="http://mirror.i2p2.de/i2pinstall_0.9.1_windows.exe">i2pinstall_0.9.1_windows.exe</a>
   <br/>(SHA256
0727af83988e82f32e0972a9e12c72ac14c3c0da0815c5902193d6b13d356371
   <a href="http://mirror.i2p2.de/i2pinstall_0.9.1_windows.exe.sig">sig</a>)
</li>

<li><b>Linux / OS X / BSD / Solaris</b> 图形安装程序:<br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.1.jar">i2pinstall_0.9.1.jar</a>
    (SHA256
6175c50a306cbd6ebe6eba40965408bd3f87f3ecd0f6199d7a9270.9.1c21d73c0
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.1.jar.sig">sig</a>)<br />
    Download that file and double-click it (if that works) or
    type <code>java -jar i2pinstall_0.9.1.jar</code> in a terminal to run the
    installer.
    On some platforms you may be able to right-click and select
    &quot;Open with Java&quot;.
   <br />下载以上文件并运行如果你不是 windows 用户，可以输入 <code>java -jar i2pinstall_0.9.1.jar</code>
</li>

<li><b>Linux / OS X / BSD / Solaris</b> 命令行安装(即无头安装):<br />
   下载上面的图形安装程序并在命令行状态下运行 <code>java -jar i2pinstall_0.9.1.jar -console</code>。
</li>

<li><a href="/debian.html">Packages for Debian &amp; Ubuntu</a></li>

<li>用源码安装:<br />
   <a href="http://mirror.i2p2.de/i2psource_0.9.1.tar.bz2">i2psource_0.9.1.tar.bz2</a>
    <br/>(SHA256
8603c928a210ced77b6498bf8ee07cb000be9641adc389b34c3c8a10ac4f0677
    <a href="http://mirror.i2p2.de/i2psource_0.9.1.tar.bz2.sig">sig</a>)<br />此外，你也可以从 <a href="newdevelopers">monotone</a> 中下载源码。<br/>执行 <code>(tar xjvf i2psource_0.9.1.tar.bz2 ; cd i2p_0.9.1 ; ant pkg)</code>
    ，然后运行图形安装程序或进行命令行安装。</li>
</ul>

以上文件的签名由 zzz 发布。
<a href="release-signing-key.html">这里有他的公钥</a>。

<h3>完成安装</h3>

<p>在 Windows 系统中，安装程序运行后，点击 "启动 I2P" 按钮即可启动 <a href="http://localhost:7657/index.jsp">路由控制台</a>，里面有进一步的说明。</p>

<p>在类 Unix 系统中，使用 "i2prouter"  脚本可以将 I2P 以服务方式运行。该脚本位于 I2P 文件夹中。在命令行控制台中切换到以上目录，执行 "sh i2prouter status" 可以显示路由器的状态。 "start", "stop" 和 "restart" 参数可以控制服务状态。路由控制台总可以通过<a href="http://localhost:7657/index.jsp">这个地址</a>访问。如果用户使用 OpenSolaris 及其它不支持封装 (i2psvc) 的系统，可以通过执行 "sh runplain.sh" 启动i2p路由器。</p>

<p>第一次安装时，如果可能请记得 <b>调整您的 NAT/防火墙 </b> 。 记住 I2P 所使用的公网端口(可以自定义)，它与相关端口的<a href="faq#ports">描述在这里</a> 。如果您在防火墙/路由器里成功的打开了TCP的入站端口，请在I2P路由的 <a href="http://localhost:7657/confignet.jsp">配置</a> 页面同时打开入站TCP功能。</p>

<p>同时，查看并调整<a href="http://localhost:7657/config.jsp">设置</a>页面中的 <b>带宽设置</b> 。默认的 96 KBps 下载 / 40 KBps 上传速度很缓慢。</p>

<h3>旧版升级：</h3>
<p>I2P新版发布时，通过自动和手动方式都可以更新。</p>
<p>如果你使用 0.7.5 及以后的版本，有新版发布时，路由器会自动检测到。 升级只需点一下路由控制台中新出现的 'Download Update'(下载更新) 按钮。</p>
<p>如果你还在运行 0.7.4 及更老的版本，请看 <a href=release-0.7.5.html> 0.7.5 发布说明</a> 了解如何设置您的路由器自动接收更新。</p>
<p>如果你还在运行 0.6.1.30 或更原始的版本, 请看有关如何设置路由器接收更新的 <a href=upgrade-0.6.1.30.html>操作说明</a>。</p>

<ol>
 <li>如果你已经按 <a href=upgrade-0.6.1.30.html>操作说明</a>重新设置好， <a href="http://localhost:7657/index.jsp">路由控制台</a> 中会出现下载和安装新版用的链接。你只需要点一下这个链接。</li>
 <li>此外，你可以通过下面的方法手动更新。</li>
</ol>

<h3>旧版升级 (手动方法)：</h3>
<ol>
<li>下载 <a href="http://mirror.i2p2.de/i2pupdate_0.9.1.zip">i2pupdate_0.9.1.zip</a> <br/>(SHA256
136b74435b93aededef5884d39cfbc513f57184b74c8481580bcd5324aa23b1a
   <a href="http://mirror.i2p2.de/i2pupdate_0.9.1.zip.sig">sig</a>) 放入 I2P 安装文件夹并 <b>改名为 i2pupdate.zip</b>. (此外，您还可以在得到前述的源码包后运行 "ant updater"，将生成的 i2pupdate.zip 复制到您的 I2P 安装目录中)。<b>不要</b>将此文件解压缩。</li>
<li>点击  <a href="http://localhost:7657/configservice.jsp">"Restart"</a>(平滑重启)</li>
<li>去喝杯咖啡，11分钟后就完成了。</li>
</ol>

本文件已由 zzz 签名，
<a href="release-signing-key.html">签名公钥</a>。

<h3>Previous Releases</h3>
Previous releases are available on <a href="http://code.google.com/p/i2p/downloads/list?can=1">Google Code</a>
and within the I2P network on <a href="http://echelon.i2p/">echelon.i2p</a>.



{% endblock %}
