{% extends "_layout_es.html" %}
{% block title %}Descarga{% endblock %}
{% block content %}
<h1>Descargar I2P</h1>      
<h3>Dependencias</h3>
Java Runtime 1.5 o superior.
(<a href="http://java.com/download/">Oracle Java Versión 6/7</a>,
<a href="http://openjdk.java.net/install/">OpenJDK 6/7</a>, o
<a href="http://icedtea.classpath.org/wiki/Main_Page">IcedTea6/7</a>
 recomendado)
<br>
<a href="http://java.com/en/download/installed.jsp?detect=jre&try=1">Determina aquí tu versión instalada de Java</a>
o teclea <tt>java -version</tt> en tu línea de comandos.
<h3>Instalaciones limpias</h3>
<ul class="downloadlist">
<li><b>Windows Instalador gráfico:</b><br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.6_windows.exe">i2pinstall_0.9.6_windows.exe</a>
    (SHA256
bf7d11f0a36acff9cd51ad3ef89d66975b0b0de344ca72719a5576159ec965d1
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.6_windows.exe.sig">sig</a>)
</li>

<li><b>Linux / BSD / Solaris Instalador gráfico:</b><br />
  <a href="http://mirror.i2p2.de/i2pinstall_0.9.6.jar">i2pinstall_0.9.6.jar</a>
    (SHA256
2dd5b67920723dd94202a408de31671b1e9543fcd5611bbe79385cc14f93b371
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.6.jar.sig">sig</a>)<br />
    Download that file and double-click it (if that works) or
    type <code>java -jar i2pinstall_0.9.6.jar</code> in a terminal to run the
    installer.
    On some platforms you may be able to right-click and select
    &quot;Open with Java&quot;.</li>

<li><b>Linux / BSD / Solaris Instalación desde la línea de comandos (headless):</b><br />
    Descarga el archivo del instalador gráfico  y
    arranca <code>java -jar i2pinstall_0.9.6.jar -console</code> desde la línea de comandos.
</li>

<li><a href="/debian.html">Packages for Debian &amp; Ubuntu</a></li>

<li><b>OS X Graphical installer:</b><br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.6.jar">i2pinstall_0.9.6.jar</a>
    (SHA256
2dd5b67920723dd94202a408de31671b1e9543fcd5611bbe79385cc14f93b371
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.6.jar.sig">sig</a>)<br />
    Download that file and double-click it (if that works) or
    type <code>java -jar i2pinstall_0.9.6.jar</code> in a terminal to run the
    installer.
    You may be able to right-click and select
    &quot;Open with Java&quot;.
</li>

<li><b>OS X Instalación desde la línea de comandos (headless):</b><br />
    Descarga el archivo del instalador gráfico  y
    arranca <code>java -jar i2pinstall_0.9.6.jar -console</code> desde la línea de comandos.
</li>

<li><b>Instalación desde el código fuente:</b><br />
    <a href="http://mirror.i2p2.de/i2psource_0.9.6.tar.bz2">i2psource_0.9.6.tar.bz2</a>
    (SHA256
fd2aa881d68b3164c43de9d91dcb04a93a36228d416582ada14ae40031436d18
     <a href="http://mirror.i2p2.de/i2psource_0.9.6.tar.bz2.sig">sig</a>)<br />
    De forma alternativa, puedes obtener las fuentes usando <a href="newdevelopers#getting-the-i2p-code">monotone</a>
     <a href="https://github.com/i2p/i2p.i2p">github</a>.
    <br/>
    Ejecuta <code>tar xjvf i2psource_0.9.6.tar.bz2 ; cd i2p-0.9.6 ; ant pkg ;</code> después puedes arrancar el instalador gráfico o bien hacer la instalación desde la línea de comandos descritas anteriormente.</li>
</ul>

Los archivos están firmados por zzz,
<a href="release-signing-key.html">cuya clave está aquí</a>.

<h3>Trabajo post-instalación</h3>

<p>Tras ejecutar el instalador en Windows, simplemente haz click en el botón "Start I2P", el cual hará emerger la <a href="http://localhost:7657/index.jsp">consola del router</a> , que tiene más instrucciones.</p>

<p>En sistemas estilo Unix se puede iniciar I2P como un servicio
utilizando el script "i2prouter", ubicado en el directorio que seleccionaste para I2P.
Cambiando a ese directorio en la consola y tecleando "sh i2prouter status"
debería decirte el estado del router. Las opciones "start", "stop" y "restart"
controlan el servicio. Se puede acceder a la <a href="http://localhost:7657/index.jsp"> consola del router</a> en su localización habitual.
Los usuarios de OpenSolaris y otros sistemas donde no está soportado el envoltorio (i2psvc) deberán arrancar el router con "sh runplain.sh".
</p>

<p> Si se trata de la primera instalación de I2P, por favor recuerda <b>ajustar tu NAT/cortafuegos</b> si puedes, teniendo en cuenta los puertos que I2P usa de cara a Internet, <a href="faq#ports">descritos aquí</a> entre otros puertos.
Si tienes abierto correctamente tu puerto TCP entrante activa también el puerto entrante en la <a href="http://localhost:7657/confignet.jsp">página de configuración</a>.
</p>

<p>Revisa también y <b>ajusta la configuración del ancho de banda</b>
en la <a href="http://localhost:7657/config.jsp">página de configuración</a>,
ya que la configuración por defecto de 96 KBps de bajada / 40 KBps de subida
es bastante lenta.
</p>

<p>
Si deseas navegar por eepsites con tu navegador, echa un vistazo a la página
<a href="htproxyports.html">configuración del proxy en el navegador</a> para
un howto fácil.
</p>

<h3>Actualizar desde versiones anteriores:</h3>
<p>
Hay dos opciones de actualizaciones, manual y automática.
</p><p>
Si estás usando la 0.7.5 o posterior, tu router debería detectar las nuevas versiones. Para actualizar, simplemente haz click en el botón "Descargar Actualización"
cuando aparezca en la consola de tu router.
</p><p>
Debido a un fallo en la versión 0.7.6, aquellos que usaron dicha versión como primera instalación de I2P y no hayan actualizado manualmente, obtendrán un error
"downloaded version is not greater than current version" y deberán usar el método manual de actualización descrito a continuación.
</p><p>
Si estás usando la 0.7.4 o anterior, por favor lee 
<a href=release-0.7.5.html>the 0.7.5 release notes</a> que contiene información importante acerca de cómo configurar tu router para recibir la actualización automáticamente.
</p><p>
Si estás usando 0.6.1.30 o anteriores, por favor mira las
<a href=upgrade-0.6.1.30.html>instrucciones</a>
para información importante acerca de cómo configurar tu router para obterner
la actualización automáticamente.
</p>

<ol>
<li>Si has reconfigurado tu router siguiendo las  <a href=upgrade-0.6.1.30.html>instrucciones</a>, deberías ver un enlace en la 
    <a href="http://localhost:7657/index.jsp">consola de tu router</a> permitiéndote descargar e instalar la nueva versión simplemente haciendo click en ese enlace.
</li>
<li>De forma alternativa, puedes usar el método manual como se especifica seguidamente.</li>
</ol>

<h3>Actualizar desde versiones anteriores (método manual):</h3>
<ol>
<li>Descarga <a href="http://mirror.i2p2.de/i2pupdate_0.9.6.zip">i2pupdate_0.9.6.zip</a>
    (SHA256
f322de7a9e3e89411d072d983a6577494981da488bb08f839c521ed340d77b92
     <a href="http://mirror.i2p2.de/i2pupdate_0.9.6.zip.sig">sig</a>) 
a tu directorio de instalación I2P y <b>renómbralo como i2pupdate.zip</b>.
	(Como alternativa, puedes obtener el código fuente tal y como se explicó anteriormente y ejecutar "ant updater", después copia el i2pupdate.zip resultante en tu directorio de instalación I2P). NO es necesario descomprimir ese archivo.</li>
<li>Click <a href="http://localhost:7657/configservice.jsp">"Restart"</a></li>
<li>Tómate una taza de café y vuelve en 11 minutos</li>
</ol>

El archivo está firmado por zzz,
<a href="release-signing-key.html">cuya clave está aquí</a>.

<h3>Previous Releases</h3>
Previous releases are available on <a href="http://code.google.com/p/i2p/downloads/list?can=1">Google Code</a>
and <a href="https://launchpad.net/i2p/trunk">Launchpad</a>
and within the I2P network on <a href="http://echelon.i2p/">echelon.i2p</a>.



{% endblock %}
