{% extends "_layout_es.html" %}
{% block title %}Descarga{% endblock %}
{% block content %}
<h1>Descargar I2P</h1>      
<h3>Dependencias</h3>
Java Runtime 1.5 o superior.
(<a href="http://java.com/download/">Oracle/Sun Java Versión 6</a>,
<a href="http://openjdk.java.net/install/">OpenJDK 6</a>, o
<a href="http://icedtea.classpath.org/wiki/Main_Page">IcedTea6</a>
 recomendado)
<br>
<a href="http://java.com/en/download/installed.jsp?detect=jre&try=1">Determina aquí tu versión instalada de Java</a>
o teclea <tt>java -version</tt> en tu línea de comandos.
<h3>Instalaciones limpias</h3>
<ul class="downloadlist">
<li>Instalador gráfico:<br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.8.7.exe">i2pinstall_0.8.7.exe</a>
    (SHA256
9f0b1d565e0250cefe3998e1ccabda062d057f794ccb976c147608f005a022c4
    <a href="http://mirror.i2p2.de/i2pinstall_0.8.7.exe.sig">sig</a>)<br /> 
    Descarga ese archivo y ejecútalo. Si no estás en Windows, puedes teclear 
    <code>java -jar i2pinstall_0.8.7.exe</code></li>
<li>Instalación desde la línea de comandos (headless):<br />
    Descarga el archivo del instalador gráfico  y
    arranca <code>java -jar i2pinstall_0.8.7.exe -console</code> desde la línea de comandos.
    Esto funciona en Windows, Linux, y Mac (sí, en serio).
</li>
<li><a href="/debian.html">Packages for Debian &amp; Ubuntu</a></li>
<li>Instalación desde el código fuente:<br />
    <a href="http://mirror.i2p2.de/i2psource_0.8.7.tar.bz2">i2psource_0.8.7.tar.bz2</a>
    (SHA256
31acef3fcd1a5839edc3b931f108944222c833d218bd427fe89a57b4acd92ece
     <a href="http://mirror.i2p2.de/i2psource_0.8.7.tar.bz2.sig">sig</a>)<br />
    De forma alternativa, puedes obtener las fuentes usando <a href="newdevelopers">monotone</a>.
    <br/>
    Ejecuta <code>tar xjvf i2psource_0.8.7.tar.bz2 ; cd i2p-0.8.7 ; ant pkg ;</code> después puedes arrancar el instalador gráfico o bien hacer la instalación desde la línea de comandos descritas anteriormente.</li>
</ul>

Los archivos están firmados por zzz,
<a href="release-signing-key.html">cuya clave está aquí</a>.

<h3>Trabajo post-instalación</h3>

<p>Tras ejecutar el instalador en Windows, simplemente haz click en el botón "Start I2P", el cual hará emerger la <a href="http://localhost:7657/index.jsp">consola del router</a> , que tiene más instrucciones.</p>

<p>En sistemas estilo Unix se puede iniciar I2P como un servicio
utilizando el script "i2prouter", ubicado en el directorio que seleccionaste para I2P.
Cambiando a ese directorio en la consola y tecleando "sh i2prouter status"
debería decirte el estado del router. Las opciones "start", "stop" y "restart"
controlan el servicio. Se puede acceder a la <a href="http://localhost:7657/index.jsp"> consola del router</a> en su localización habitual.
Los usuarios de OpenSolaris y otros sistemas donde no está soportado el envoltorio (i2psvc) deberán arrancar el router con "sh runplain.sh".
</p>

<p> Si se trata de la primera instalación de I2P, por favor recuerda <b>ajustar tu NAT/cortafuegos</b> si puedes, teniendo en cuenta los puertos que I2P usa de cara a Internet, <a href="faq#ports">descritos aquí</a> entre otros puertos.
Si tienes abierto correctamente tu puerto TCP entrante activa también el puerto entrante en la <a href="http://localhost:7657/config.jsp">página de configuración</a>.
</p>

<p>Revisa también y <b>ajusta la configuración del ancho de banda</b>
en la <a href="http://localhost:7657/config.jsp">página de configuración</a>,
ya que la configuración por defecto de 96 KBps de bajada / 40 KBps de subida
es bastante lenta.
</p>

<p>
Si deseas navegar por eepsites con tu navegador, echa un vistazo a la página
<a href="htproxyports.html">configuración del proxy en el navegador</a> para
un howto fácil.
</p>

<h3>Actualizar desde versiones anteriores:</h3>
<p>
Hay dos opciones de actualizaciones, manual y automática.
</p><p>
Si estás usando la 0.7.5 o posterior, tu router debería detectar las nuevas versiones. Para actualizar, simplemente haz click en el botón "Descargar Actualización"
cuando aparezca en la consola de tu router.
</p><p>
Debido a un fallo en la versión 0.7.6, aquellos que usaron dicha versión como primera instalación de I2P y no hayan actualizado manualmente, obtendrán un error
"downloaded version is not greater than current version" y deberán usar el método manual de actualización descrito a continuación.
</p><p>
Si estás usando la 0.7.4 o anterior, por favor lee 
<a href=release-0.7.5.html>the 0.7.5 release notes</a> que contiene información importante acerca de cómo configurar tu router para recibir la actualización automáticamente.
</p><p>
Si estás usando 0.6.1.30 o anteriores, por favor mira las
<a href=upgrade-0.6.1.30.html>instrucciones</a>
para información importante acerca de cómo configurar tu router para obterner
la actualización automáticamente.
</p>

<ol>
<li>Si has reconfigurado tu router siguiendo las  <a href=upgrade-0.6.1.30.html>instrucciones</a>, deberías ver un enlace en la 
    <a href="http://localhost:7657/index.jsp">consola de tu router</a> permitiéndote descargar e instalar la nueva versión simplemente haciendo click en ese enlace.
</li>
<li>De forma alternativa, puedes usar el método manual como se especifica seguidamente.</li>
</ol>

<h3>Actualizar desde versiones anteriores (método manual):</h3>
<ol>
<li>Descarga <a href="http://mirror.i2p2.de/i2pupdate_0.8.7.zip">i2pupdate_0.8.7.zip</a>
    (SHA256
637d9c73fde3c8756dc04a13691a812940169e66445ba3c1c5c46829991bca8f
     <a href="http://mirror.i2p2.de/i2pupdate_0.8.7.zip.sig">sig</a>) 
a tu directorio de instalación I2P y <b>renómbralo como i2pupdate.zip</b>.
	(Como alternativa, puedes obtener el código fuente tal y como se explicó anteriormente y ejecutar "ant updater", después copia el i2pupdate.zip resultante en tu directorio de instalación I2P). NO es necesario descomprimir ese archivo.</li>
<li>Click <a href="http://localhost:7657/configservice.jsp">"Graceful restart"</a></li>
<li>Tómate una taza de café y vuelve en 11 minutos</li>
</ol>

El archivo está firmado por zzz,
<a href="release-signing-key.html">cuya clave está aquí</a>.

{% endblock %}
