{% extends "_layout_cs.html" %}
{% block title %}Stáhnout{% endblock %}
{% block content %}
<h1>Stáhnout I2P</h1>      
<h3>Požadavky pro instalaci</h3>
<a href="http://java.com/download/">Sun Java</a> 1.5 nebo novější (doporučená verze <a href="http://java.com/download/">Sun Java 1.6</a>), nebo ekvivalentní JRE.
<br>
Svou aktuální nainstalovanou verzi Javy si můžete ověřit <a href="http://java.com/en/download/installed.jsp?detect=jre&try=1">na této stránce</a>
nebo z příkazové řádky pomocí příkazu <tt>java -version</tt>
<h3>Nová instalace</h3>
<ul class="downloadlist">
<li><b>Windows Grafický instalační program:</b><br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.2_windows.exe">i2pinstall_0.9.2_windows.exe</a>
    (SHA256
4cc506d74bea772d304a8fc1d4adee900e5d7d38cbf896bd8aa9de31002b4f43
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.2_windows.exe.sig">sig</a>) <br />
    Pod Windows: stáhněte soubor a spusťte ho.
</li>

<li><b>Linux / OS X / BSD / Solaris Grafický instalační program:</b><br />
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.2.jar">i2pinstall_0.9.2.jar</a>
    (SHA256
7eb1b62bdb955691dfd645acc2172fe7947266e35f201273f702272d57b80a70
    <a href="http://mirror.i2p2.de/i2pinstall_0.9.2.jar.sig">sig</a>)<br />
    Download that file and double-click it (if that works) or
    type <code>java -jar i2pinstall_0.9.2.jar</code> in a terminal to run the
    installer.
    On some platforms you may be able to right-click and select
    &quot;Open with Java&quot;.</li>

<li><b>Linux / OS X / BSD / Solaris Instalace z příkazové řádky:</b><br />
    Stáhněte si grafický instalační program (viz výše) a spusťte ho příkazem <code>java -jar i2pinstall_0.9.2.jar -console</code>
</li>

<li><a href="/debian.html">Packages for Debian &amp; Ubuntu</a></li>

<li><b>Instalace ze zdrojového kódu:</b><br />
    <a href="http://mirror.i2p2.de/i2psource_0.9.2.tar.bz2">i2psource_0.9.2.tar.bz2</a>
    (SHA256
ac0262120868a01d11b27ce56a7fea5ea243e261d0d7ff6e6dd59e18987a1be5
     <a href="http://mirror.i2p2.de/i2psource_0.9.2.tar.bz2.sig">sig</a>)<br />
    Alternativně lze zdrojový kód stáhnout <a href="newdevelopers">z repozitáře monotone</a>.<br/>
    Spusťte sestavení programu příkazem <code>(tar xjvf i2psource_0.9.2.tar.bz2 ; cd i2p-0.9.2 ; ant pkg)</code> a potom 
    spusťte grafický instalační program nebo instalaci z příkazové řádky (viz výše).</li>
</ul>

Tyto soubory jsou podepsány uživatelem zzz,
<a href="release-signing-key.html">jehož klíč je k dispozici zde</a>.

<h3>Po dokončení instalace</h3>

<p>Windows: Klikněte na ikonu "Start I2P". Otevře se nové okno s 
<a href="http://localhost:7657/index.jsp">ovládacím panelem</a>,
které obsahuje další pokyny.</p>

<p>Unix a kompatibilní systémy: I2P lze spustit jako službu skriptem "i2prouter". 
Naleznete ho ve složce, kde jste nainstalovali I2P. Stav služby lze zjistit příkazem 
"sh i2prouter status". Službu lze ovládat pomocí argumentů "start", "stop" a "restart". 
Po jejím spuštění je k dispozici <a href="http://localhost:7657/index.jsp">ovládací panel</a>.

OpenSolaris a další systémy, pro které není podporován wrapper (i2psvc) mohou proces 
spustit pomocí příkazu "sh runplain.sh"
</p>

<p>Při první instalaci prosím nezapomeňte <b>nastavit NAT/firewall</b>. Je-li to možné, 
otevřete Internetové porty I2P <a href="faq#ports">popsané zde</a>. Pokud jste úspěšně 
otevřeli TCP port pro příchozí spojení, nastavte jej i na 
<a href="http://localhost:7657/confignet.jsp">konfigurační stránce</a>.
</p>

<p>Na <a href="http://localhost:7657/config.jsp">konfigurační stránce</a>
také prosím nastavte <b>povolenou přenosovou kapacitu</b>. Počáteční nastavení
96 kB/s pro příchozí a 40 kB/s pro odchozí data je poměrně pomalé.
</p>

<h3>Aktualizace z předchozích verzí:</h3>
<p>
K dispozici je buď automatická nebo manuální aktualizace.
</p><p>
Provozujete-li verzi 0.7.5 nebo novější, váš router by měl detekovat novou verzi.
Klikněte na odkaz 'Download Update' (Stáhnout aktualizaci) v ovládacím panelu, když se zobrazí.
</p><p>
Zvláštní případy
<ul>
<li>Vzhledem k závadě ve verzi 0.7.6 můžete za jistých podmínek obdržet chybové hlášení
"downloaded version is not greater than current version" (stažená verze není novější než
aktuální verze). V takovém případě použijte manuální aktualizaci popsanou níže.
</li>
<li>Provozujete-li verzi 0.7.4 nebo starší, přečtěte si prosím 
<a href=release-0.7.5.html>poznámky k verzi 0.7.5</a>, které popisují jak nastavit router 
pro automatickou detekci nových verzí.
</li>
<li>Provozujete-li verzi 0.6.1.30 nebo starší, přečtěte si prosím 
<a href=upgrade-0.6.1.30.html>tyto instrukce</a> jak nastavit router pro automatickou detekci 
nových verzí.
</li>
</ul>
</p>

<h3>Aktualizace z předchozích verzí (manuální postup):</h3>
<ol>
<li>Stáhněte si <a href="http://mirror.i2p2.de/i2pupdate_0.9.2.zip">i2pupdate_0.9.2.zip</a>
    (SHA256
c547b81822ff642e52a9196e847466b5613219fc695bc26485930c7a855e0cee
    <a href="http://mirror.i2p2.de/i2pupdate_0.9.2.zip.sig">sig</a>) a uložte jej do 
    instalační složky I2P. <b>Přejmenujte tento soubor na i2pupdate.zip</b>.
    (Alternativně si můžete stáhnout zdrojový kód jak je popsáno výše a spustit 
    "ant updater", výsledný soubor i2pupdate.zip pak nakopírovat do instalační složky
    I2P.) Tento soubor nerozbalujte.</li>
<li>Klikněte na tlačítko "Restart" (hladký restart) na stránce 
    <a href="http://localhost:7657/configservice.jsp">konfigurace služby I2P</a>.</li>
<li>Dejte si šálek kávy a vraťte se za 11 minut.</li>
</ol>

<p>Soubor je podepsán uživatelem zzz,
<a href="release-signing-key.html">jehož klíč je k dispozici zde</a>.
</p>

<h3>Previous Releases</h3>
Previous releases are available on <a href="http://code.google.com/p/i2p/downloads/list?can=1">Google Code</a>
and <a href="https://launchpad.net/i2p/trunk">Launchpad</a>
and within the I2P network on <a href="http://echelon.i2p/">echelon.i2p</a>.


{% endblock %}
