{% extends "_layout_ar.html" %}
{% block title %}اسئلة شائعة{% endblock %}
{% block content %}
<h1>I2P اسئلة شائعة حول</h1>
<h3 id="index"> الفهرس </h3>
<p><ol>
<h4>اسئلة عامة</h4>
<li><a href="#eepsite">؟"eepsite" ماهو
</a></li><li><a href="#peers">موجه لايجد سوى عدد قليل من النظائر، هل هذا طبيعي؟
</a></li><li><a href="#active">ماذا تعني ارقام المفعلة في شاشة الموجه؟
</a></li><li><a href="#vary">الانفاق المشاركة / الاتصالات/ السرعة تتفير طوال الوقت. هل هناك مشكلة؟
</a></li><li><a href="#proxy_safe">هل استعمال بروكسي خارجي آمن؟
</a></li><li><a href="#down">لاتعمل؟ eepsite  لماذا غالبية 
</a></li><li><a href="#ports">؟ I2P ماهي المنافذ التي يستعملها
</a></li><li><a href="#bug">أظن انني وجدت مشكل في البرنامج أين يمكنني التبليغ عنه؟
</a></li><li><a href="#jrandom">؟*.i2p.net   ماذا وقع لموقع 
</a></li><li><a href="#question">لدي سؤال آخر!
</a></li>
<h4>اعدادات</h4>
<li><a href="#reseed">موجهي يشتغل منذ عدة دقائق ولديه صفر نظير او عدد قليل من الاتصالات
</a></li><li><a href="#slow">  لماذا الشبكة ثقيلة؟
</a></li><li><a href="#subscriptions">انا بحاجة لعناوين لاضافتها في دفتر عناويني. ماهي الاشتراكات التي يمكنني اضافتها؟
</a></li><li><a href="#myeepsite">كيف يمكنني انشاء موقعي الخاص
</a></li><li><a href="#snark">Bittorrent / I2PSnark / Azureus I2P اسئلة حول
</a></li><li><a href="#irc">IRCكيف يمكنني الاتصال ب  
</a></li><li><a href="#outproxy"> I2P  لايمكني الاتصال بمواقع انترنت عادية خارج الشبكة المجهولة
</a></li><li><a href="#https">لايمكن الاتصال https:// أو ftp:// بمواقع I2P.
</a></li><li><a href="#socks">هل يمكن استعمال؟ I2P كبروكسي SOCKS 
</a></li><li><a href="#browserproxy">كيف يمكن تغيير اعدادات المتصفح؟
</a></li><li><a href="#remote_webconsole">كيف يمكنني الوصول الى الطرفية من أجهزة أخرى او حمايتها بكلمة سر؟
</a></li><li><a href="#remote_i2cp">كيف يمكنني استعمال البرامج عن طريق جهاز آخر؟
</a></li><li><a href="#manual_reseed">كيف يمكنني اعادة التوجيه يدويا؟
</a></li><li><a href="#cpu">الموجه يستعمل قدر كبير من سرعة الجهاز
</a></li>
<h4>أفكار خاطئة</h4>
<li><a href="#proxy_other">كيف يمكنني الاتصال بـ IRC، BitTorrent، وباقي الخدمات على الانترنت العادية؟
</a></li><li><a href="#exit">هل موجهي عبارة عن بروكسي خارجي للأنترنت العادية؟ انا لا اريد ذلك.
</a></li><li><a href="#content">انا ضد بعض انواع البيانات. كيف يمكنني منع نشرها او تخزينها او الوصول اليها؟
</a></li>
</ol></p>
<h3 id="bug">أظن انني وجدت مشكلة في البرنامج، اين يمكنني التبليغ عنها؟
<span class="permalink">(<a href="#bug">وصلة</a>)</span></h3>
<p>
هناك عدة مواقع اختر أحدها.
<ul>
<li><a href="http://trac.i2p2.de/report/1">trac.i2p2.de</a> ticket (طريقة مفضلة)
</li><li><a href="http://pastethis.i2p/">pastethis.i2p</a> ثم انضم على القناة IRC #i2p
</li><li>تكلم مع المطورين IRC #i2p-dev
</li></ul>
</p>


<h3 id="subscriptions">انا بحاجة لعناوين لاضافتها في دفتر عناويني. ماهي الاشتراكات التي يمكنني اضافتها؟
<span class="permalink">(<a href="#subscriptions">link</a>)</span></h3>
<p>
الاشتراك العادي هو http://www.i2p2.i2p/hosts.txt الذي نادرا ما يتم تحديثه. اذا لم تضف عنوان اشتراك جديد يمكنك الضغط
على وصلة "jump".
</p><p>
هذه بعض الوصلات التي يمكنك اضافتها الى  
 <a href="http://localhost:7657/susidns/subscriptions.jsp">susidns قائمة الاشتراك</a>.
لست بحاجة الى ان تضيف جميع العناوين حيث يتم تبادل العناوين الجديدة فيما بينها. 

<div class="links">
<ul>
<li><a href="http://i2host.i2p/cgi-bin/i2hostetag">http://i2host.i2p/cgi-bin/i2hostetag</a>
</li><li><a href="http://stats.i2p/cgi-bin/newhosts.txt">http://stats.i2p/cgi-bin/newhosts.txt</a>
</li><li><a href="http://tino.i2p/hosts.txt">http://tino.i2p/hosts.txt</a>
</li></ul>
</div>
</p>

<h3 id="jrandom">؟*.i2p.net   ماذا وقع لموقع 
<span class="permalink">(<a href="#jrandom">وصلة</a>)</span></h3>
<p>
 Jrandom كان المطور الرئيسي للمشروع 
   
<a href="http://syndie.i2p2.de/">Syndie</a> لعدة سنوات
نتوقع ان يستمر غياب jrandom ابتداء من 2008. كما ان i2p.net  اصيب بعطب تقني لشركة المستضيفة للموقع.

</p><p>
أنظر <a href="jrandom-awol.html">هذه الصفحة</a>للمزيد من المعلومات
</p><p>
مشروع I2P لو يمت ولا يزال قيد تطوير مستمر ونتوقع اصدارات جديدة في 2010.
</p>

<h3 id="cpu">لماذا الشبكة ثقيلة؟
<span class="permalink">(<a href="#cpu">link</a>)</span></h3>
<p>
هناك عدة اسباب لاستخدام البرنامج لقدر كبير من سرعة الجهاز هذه قائمة:
</p><ul>
<li>
هل تستعمل Sun Java او اصدار آخر (قم بكتابة  java -version في سطر الأوامر).
</li><li>
هل تستخدم BitTorrent فوق شبكة I2P؟ حاول تقليل من عدد تورنت، تقليل السرعة مشاركة الملفات، لو توقيف البرنامج.
</li><li>
هل تشارك بقدر كبير من من سرعة الشبكة؟ ربما الكثير من البيانات تمر عبر جهازك مما يقوم بتأخيره. حاول تقليل نسبة المشاركة في ملف config.jsp.
</li><li>
هل تستعمل آخر اصدار من I2P؟ الاصدارات الجديدة اكثر سرعة.
</li><li>
هل قمت بتخصيص قدر كافي من الذاكرة لـI2P؟ انظر الى استعمال الذاكرة في graphs.jsp لرؤية حجم الذاكرة المستخدمة.

 قم بزيادة wrapper.java.maxmemory في wrapper.config.

</ul>

<h3 id="content">انا ضد بعض انواع البيانات. كيف يمكنني منع نشرها او تخزينها او الوصول اليها؟
<span class="permalink">(<a href="#content">link</a>)</span></h3>
<p>
شبكة I2P مصممة لتكون شبكة مجهولة، فمن الصعب التحكم في محتواها.
شبكة I2P مصممة لاتاحة الجميع التعبير بحرية وتجاوز الحجب ومراقبة اي نوع من البيانات.
أفضل طريقة اذا كنت لا تتفق مع هذه الأفكار هي ان لا تستعمل الشبكة.
حرية التعبير لها ثمن.
يمكن الجواب عن هذا السؤال عبر ثلاثة محاور:
<ul>
<li><b>التوزيع</b>
جميع البيانات في شبكة I2P مشفرة على عدة مستويات. لايمكنك معرفة محتوى البيانات، مصدرها، او اتجاهها.
كل البيانات التي تقوم بتمريرها هي داخلية وخاصة بالشبكة، انت لست 
 <a href="#exit">بروكسي خارجي</a> 
انت تقوم بمساعدة الشبكة عبر تمرير البيانات للآخرين وبالتالي جعلها اكثر أمانا.

</li><li><b>التخزين</b>
انت لا تقوم بتخزين البيانات لمستخدمين آخرين 
فهذا المشروع يختلف عن طريقة اشتغال<a href="http://freenetproject.org/">Freenet</a>.

</li><li><b>التصفح</b> اذا لم تعجبك بعض المواقع، ببساطة لا تدخلها.
</li></ul>
</p>

<h3 id="vary">الانفاق المشاركة / الاتصالات/ السرعة تتفير طوال الوقت. هل هناك مشكلة؟
<span class="permalink">(<a href="#vary">link</a>)</span></h3>
<p>
هذا طبيعي.
الموجه يتغير ليتلائم مع حالة الشبكة.
</p>

<h3 id="reseed">موجهي يشتغل منذ عدة دقائق ولديه صفر نظير او عدد قليل من الاتصالات
<span class="permalink">(<a href="#reseed">link</a>)</span></h3>
<p>
تم نغيير العنوان. اذا قمت بتثبيث اول مرة او قمت بتثبيت اصدار قديم  (0.6.1.30 او ماقبل) عليك تغيير العنوان.
 

   انقر "Reseed" في الموجه للحصول على عنوان جديد. ثم اذهب الى 
  
    <a href="http://localhost:7657/configadvanced.jsp">configadvanced.jsp</a>,
  ثم اضف السطر <tt>i2p.reseedURL=http://netdb.i2p2.de/</tt>
   او <tt>i2p.reseedURL=http://i2pdb.tin0.de/netDb/</tt> (either should work),
   ثم انقر "فعل", ثم انقر "reseed" .

<h3 id="peers">موجه لايجد سوى عدد قليل من النظائر، هل هذا طبيعي؟
<span class="permalink">(<a href="#peers">link</a>)</span></h3>
<p>
اذا كان لديه 10 او اكثر.هذا طبيعي. تغييرات في اصدار 0.6.1.31 و 0.6.1.32 تم زيادة فعالية العثور على النظاشر المفعلة.
الموجه يستعمل عدد قليل من النظائر لاتمام الاتصال.
</p>

<h3 id="exit">هل موجهي عبارة عن بروكسي خارجي للأنترنت العادية؟ انا لا اريد ذلك.
<span class="permalink">(<a href="#exit">link</a>)</span></h3>
<p>
   لا. بخلاف <a href="http://www.torproject.org/">Tor</a>
البروكسي الخارجي ليس جزئ من تصميم الشبكة. فقط المتطوعين الذين يثبتون برامج خاصة لربط بشبكة انترنت خارجية وهم قلائل جدا.
</p>

<h3 id="outproxy">I2P  لايمكني الاتصال بمواقع انترنت عادية خارج الشبكة المجهولة
<span class="permalink">(<a href="#outproxy">link</a>)</span></h3>
<p>
انظر اعلاه. هناك عدد قليل من بروكسي HTTP خارجي زيادة على ان البروكسي الخارجي الوحيد الذي يشتغل الآن هو  false.i2p.
لاستعماله حرر <a href="http://localhost:7657/i2ptunnel/edit.jsp?tunnel=0">i2ptunnel settings for eepProxy</a> ثم ضع في القائمة 'false.i2p' (فقط).
ثم اوقف وأعد التشغيل
اذا كانت رغبتك الأساسية من استعمال شبكة مجهولية هو الوصول الى مواقع انترنت عادية، ننصحك بستعمال 
<a href="http://www.torproject.org/">Tor</a>.
</p>

<h3 id="https">لا استطيع الوصول الى مواقع https:// او ftp://  عبر I2P.
<span class="permalink">(<a href="#https">link</a>)</span></h3>
<p>
داخل شبكة I2P لاتوجد حاجة لـ HTTPS لأن جميع الاتصالات مشفرة.  FTP غير مدعوم لأسباب تقنية.

</p><p>
<h3 id="proxy_safe">هل استعمال بروكسي خارجي آمن؟
<span class="permalink">(<a href="#proxy_safe">link</a>)</span></h3>
<p>
عليك أن تقرر بنفسك.
هذا يعتمد على ما تقوم به، 
  
   <a href="how_threatmodel.html">و درجة المخاطرة</a>وقدر التقة لمزود البروكسي الخارجي
</p><p>
مثل تور I2P لا يقوم بتشفير كل الانترنت بطريقة سحرية. انت معرض لتجسس من طرف مزود البروكسي الخارجي.

   موقع <a href="https://wiki.torproject.org/noreply/TheOnionRouter/TorFAQ#ExitEavesdroppers">Tor FAQ</a>
 يقدم المزيد من الشروح.
</p><p>
زيادة على ذلك يمكن ان يعرضك الى مشاكل امنية، للمزيدمن التفاصيل في هذه الصفحة
   <a href="http://zzz.i2p/topics/217">zzz.i2p</a>.
</p>

<h3 id="proxy_other">   كيف يمكنني الوصول الى تورنت والدردشة وباقي الخدمات؟
<span class="permalink">(<a href="#proxy_other">link</a>)</span></h3>
<p>
لا يمكنك.
احدهم يجب ان يقوم بانشاء بروكسي لكل خدمة.
هناك نوعين فقط من بروكسي مستخدمة الآن: HTTP والبريد الالكتروني.
لايوجد بروكسي خارجي SOCKS.
اذا كنت بحاجة لهذا زر موقع تور<a href="http://www.torproject.org/">Tor</a>.
</p>

<h3 id="down">لاتعمل؟ eepsite  لماذا غالبية 
<span class="permalink">(<a href="#down">link</a>)</span></h3>
<p>
يمكن التحقق من المواقع eepsite الموجودة بزيارة

   <a href="http://inproxy.tino.i2p/status.php">inproxy.tino.i2p</a> و
   <a href="http://perv.i2p/stats.cgi">perv.i2p</a> track active eepsites.
</p>

<h3 id="myeepsite">؟eepsites كيف يمكنني انشاء موقعي الخاص 
<span class="permalink">(<a href="#myeepsite">link</a>)</span></h3>
<p>
   انقر على<a href="http://localhost:7658/"> Eepsite وصلة</a>
في اعلى الموجه لتفاصيل.
</p>

<h3 id="slow">لماذا الشبكة ثقيلة؟
<span class="permalink">(<a href="#slow">link</a>)</span></h3>
<p>
لماذا التحميل وتورنت وتصفح الويب ثقيل في شبكة I2P؟
التشفير ونقل البيانات يستهلك سرعة الاتصال. الحرية والمجهولية لها ثمن. 
</p>
<p>
زيادة على ذلك انت والجميع عليكم زيادة القدر المشارك مع الآخرين من سرعة الاتصال. في 
 
<a href="http://localhost:7657/config.jsp">صفحة الاعدادات</a>.

الشبكة لازالت قيد التطوير. والعديد من التعديلات هي قيد الانجاز، وعموما استخدام آخر اصدار يساهم في تجنب المشاكل.
اذا لم تقم بذلك <a href="download.html">تبث آخر اصدار</a>.
</p>

<h3 id="snark">؟ Bittorrent / I2PSnark / Azureus I2P Plugin اسئلة حول
<span class="permalink">(<a href="#snark">link</a>)</span></h3>
<p>
أنظر 
<a href="http://forum.i2p/viewtopic.php?t=2068">I2P Bittorrent اسئلة</a>
<a href="http://forum.i2p2.de/viewtopic.php?t=2068">( I2P خارج شبكة)</a>

<h3 id="irc">؟I2P  داخل IRC كيف اتصل بـ  
<span class="permalink">(<a href="#irc">link</a>)</span></h3>
<p>
On the
<a href="http://localhost:7657/i2ptunnel/index.jsp">I2PTunnel اعدادات صفحة</a>
شغل ircProxy.
ثم ضع في اعدادات برنامج IRC localhost ومنفذ 6668.

<h3 id="remote_webconsole">  كيف اتصل بالطرفية من جهاز آخر
<span class="permalink">(<a href="#remote_webconsole">link</a>)</span></h3>
<p>
لأسباب أمنية لا يمكن الوصول الى شاشة الموجه من أجهزة أخرى. لكن يمكن تعديله للاتصال عن بعد.

</p>

<ol>
<li>افتح clients.config وغير<br />
    <code>clientApp.0.args=7657 ::1,127.0.0.1 ./webapps/</code><br />
    الى <br />
    <code>clientApp.0.args=7657 0.0.0.0 ./webapps/</code></li>
<li>اذهب الى <a href="http://localhost:7657/configadvanced.jsp">http://localhost:7657/configadvanced.jsp</a>
    ثم اضف <code>consolePassword=foo</code> (اختر كلمة السر التي ترغبها)</li>
<li>Go to <a href="http://localhost:7657/index.jsp">http://localhost:7657/index.jsp</a>
    and hit "Graceful restart", which restarts the JVM and reloads the client applications</li>
</ol>

<p>
عندما يشتغل، يمكنك الوصول الى الطرفية عن بعد.سيطلب منك كلمة المستخدم وكلمة السر - كلمة المستخدم هي "admin"
وكلمة السر هي التي استخدمتها في المرحلة السابقة. لاحظ: 
   
    <code>0.0.0.0</code>يدل على <i>interface</i>وليس الشبكة  or netmask.  0.0.0.0
    means "bind to all interfaces", so it can be reachable on 127.0.0.1:7657 as well as
    any LAN/WAN IP.
</p>

<h3 id="remote_i2cp">كيف يمكنني استعمال برامج من أجهزة أخرى؟
<span class="permalink">(<a href="#remote_i2cp">link</a>)</span></h3>
<p>
By default, the router I2CP interface (port 7654) binds to address 127.0.0.1. To bind to 0.0.0.0, set the
router advanced configuration option <tt>i2cp.tcp.bindAllInterfaces=true</tt> and restart.
</p>

<h3 id="eepsite">؟ "eepsite" ماهو
<span class="permalink">(<a href="#eepsite">link</a>)</span></h3>
<p>
موقع مجهول eepsite هو موقع يمكن الوصول اليه فقط عبر بروكسي بالمتصفح ويب (عادة على 127.0.0.1 و منفذ 4444 )
</p>

<h3 id="active">ماذا تعني ارقام المفعلة في شاشة الموجه؟
<span class="permalink">(<a href="#active">link</a>)</span></h3>
<p>
عدد الاتصالات المستقبلة يمثلها الرقم الأول و الرقم الثاني يمثل عدد النظائر المتصلة. 
    
</p>

<h3 id="socks">هل يمكن استعمال؟ I2P كبروكسي SOCKS 
<span class="permalink">(<a href="#socks">link</a>)</span></h3>
<p>
بروكسي SOCKS 4/4a/5 مدعم ابتداء من اصدار  0.7.1، بروكسي SOCKS خارجي غير مدعم لاهميته القليلة زيادة على ان العديد من البرامج ترسل معلومات يمكن ان تكشف عن هويتك في الانترنت.
    
</p><p>
زيادة على ذلك العديد من البرامد ترسل بيانات حساسة عن المستخدم التي يمكن ان تؤدي الى التعرف على هويتك على الانترنت.  I2P يقوم فقط بفلترة بيانات الاتصال، لكن اذا كان البرنامج يرسلها ضمن بياناته ف I2P لن يستطيع القيام بشئ لضمان مجهوليتك.
 على سبيل المثال، فإن بعض تطبيقات البريد تقوم بإرسال عنوان IP لجهازك
     .و لا توجد وسيلة لتصفية I2P
      وبالتالي استخدام I2P  'socksify' لتطبيقات الموجودة هو ممكن ، ولكن
     في غاية الخطورة.
    </p><p>
اذا رغبت في المزيد من المعلومات حول بروكسي socks

  <a href="socks.html">socks صفحة</a>.
</p>

<h3 id="browserproxy">كيف يمكن اعداد المتصفح؟
<span class="permalink">(<a href="#browserproxy">link</a>)</span></h3>
<p>
 
 اعدادات بروكسي لعدة متصفحات <a href="htproxyports.html">
 في صفحة مستقلة</a> مع صور واعدادات متقدمة.
 </p>

<h3 id="ports">ماهي المنافذ التي يستعملها؟
<span class="permalink">(<a href="#ports">link</a>)</span></h3>
<p>
	هذه قائمة بالمنافذ المستخدمة
</p>

<p>
	<ul><p>
		<li><b>المنافذ المتصلة بالأنترنت</b>
ملاحظة: الاصدارات الجديدة ابتداء من 0.7.8 لا تستعمل منفذ 8887، تختار منفذ عشوائي بين 9000 و32000 عندما يشتغل البرنامج لأول مرة.
		               المنفذ المختار محدد <a href="http://127.0.0.1:7657/config.jsp">صفحة الاعدادات.</a>
		<ul>
		<li><b>UDP المنفذ الخارجي  <a href="http://127.0.0.1:7657/config.jsp">صفحة الاعدادات</a> to arbitrary remote UDP ports, allowing replies</b></li>
		<li><b> TCP منفذ خارجي</b></li>
		<li><b>(optional, but recommended) Inbound UDP to the port noted on <a href="http://127.0.0.1:7657/config.jsp">صفحة الاعدادات</a> from arbitrary locations</b></li>
		<li><b>(optional, but recommended) Inbound TCP to the port noted on <a href="http://127.0.0.1:7657/config.jsp">صفحة الاعدادات</a> من عدة اماكن</b><br />
			Inbound TCP may be disabled on the <a href="http://127.0.0.1:7657/config.jsp">صفحة الاعدادات</a></li>
		<li><b>Outbound UDP on port 123, allowing replies</b><br />
			This is necessary for I2P's internal time sync (via SNTP - 
			querying a random SNTP host in pool.ntp.org or another
			server you specify)</li>
		</ul>
		</li>
	</p></ul>

	<ul><p>
		<li><b>المنافذ المحلية</b>, listening only to local connections by default,
                       except where noted:
		<ul>
			<li><b>1900:</b> UPnP SSDP UDP multicast listener.
                            <i>Cannot be changed. Binds to all interfaces.
                            May be disabled on <a href="http://localhost:7657/config.jsp">config.jsp</a>.
                            </i></li>
			<li><b>2827:</b> BOB bridge, a higher level socket API for clients
                            <i>Disabled by default.
                               May be enabled/disabled on <a href="http://localhost:7657/configclients.jsp">configclients.jsp</a>.
                               May be changed in the bob.config file.
                            </i></li>
			<li><b>4444:</b> HTTP proxy
                            <i>May be disabled or changed on the i2ptunnel page in the router console.
			    May also be configured to be bound to a specific interface or all interfaces.
                            </i></li>
			<li><b>4445:</b> HTTPS proxy
                            <i>May be disabled or changed on the i2ptunnel page in the router console.
			    May also be configured to be bound to a specific interface or all interfaces.
                            </i></li>
			<li><b>6668:</b> IRC proxy
                            <i>May be disabled or changed on the i2ptunnel page in the router console.
			    May also be configured to be bound to a specific interface or all interfaces.
                            </i></li>
			<li><b>7652:</b> UPnP HTTP TCP event listener.
                            <i>Binds to the LAN address.
                            May be changed with advanced config i2np.upnp.HTTPPort=nnnn.
                            May be disabled on <a href="http://localhost:7657/config.jsp">config.jsp</a>.
                            </i></li>
			<li><b>7653:</b> UPnP SSDP UDP search response listener.
                            <i>Binds to all interfaces.
                            May be changed with advanced config i2np.upnp.SSDPPort=nnnn.
                            May be disabled on <a href="http://localhost:7657/config.jsp">config.jsp</a>.
                            </i></li>
			<li><b>7654:</b> I2P Client Protocol port, used by client apps.
                            <i>May be changed to a different port on
                            <a href="http://localhost:7657/configclients.jsp">configclients.jsp</a>
                               but this is not recommended.
			    May be to bind to a different interface or all interfaces, or disabled, on
                            <a href="http://localhost:7657/configclients.jsp">configclients.jsp</a>.
                            </i></li>
			<li><b>7655:</b> UDP for SAM bridge, a higher level socket API for clients
                            <i>Only opened when a SAM V3 client requests a UDP session.
                               May be enabled/disabled on <a href="http://localhost:7657/configclients.jsp">configclients.jsp</a>.
                               May be changed in the clients.config file with the SAM command line option sam.udp.port=nnnn.
                            </i></li>
			<li><b>7656:</b> SAM bridge, a higher level socket API for clients
                            <i>Disabled by default for new installs as of release 0.6.5.
                               May be enabled/disabled on <a href="http://localhost:7657/configclients.jsp">configclients.jsp</a>.
                               May be changed in the clients.config file.
                            </i></li>
			<li><b>7657:</b> Your router console
                            <i>May be disabled in the clients.config file.
			    May also be configured to be bound to a specific interface or all interfaces in that file.
			    </i></li>
			<li><b>7658:</b> Your eepsite
                            <i>May be disabled in the clients.config file.
			    May also be configured to be bound to a specific interface or all interfaces in the jetty.xml file.
			    </i></li>
			<li><b>7659:</b> Outgoing mail to smtp.postman.i2p
                            <i>May be disabled or changed on the i2ptunnel page in the router console.
			    May also be configured to be bound to a specific interface or all interfaces.
                            </i></li>
			<li><b>7660:</b> Incoming mail from pop.postman.i2p
                            <i>May be disabled or changed on the i2ptunnel page in the router console.
			    May also be configured to be bound to a specific interface or all interfaces.
                            </i></li>
			<li><b>8998:</b> mtn.i2p2.i2p (Monotone - disabled by default)
                            <i>May be disabled or changed on the i2ptunnel page in the router console.
			    May also be configured to be bound to a specific interface or all interfaces.
                            </i></li>
			<li><b>32000:</b> local control channel for the service wrapper</li>
		</ul>
		</li>
	</p></ul>
</p>

<p>
المنافذ المحلية لI2P لا تحتاج الاتصال بها من الخارج، لكن يجب ان يمكن الاتصال الداخلي. 
يمكنك انشاء انفاق I2PTunnel جديدة عبر http://localhost:7657/i2ptunnel وعليك اعداد الجدار الناري لتمكين الاتصال.
  </p>



<h3 id="manual_reseed">How do I reseed manually?
<span class="permalink">(<a href="#manual_reseed">link</a>)</span></h3>
<p>
شبكة I2P تحتاج فقط الاتصال للمرة الأولى، للوصول الى الشبكة. اعادة الاتصال تقوم فقط بارسال امر HTTP GET لتحميل
مجلد للعديد من معلومات حول الموجه لاتمام الاتصال.
	
</p>

<p>
	A typical symptom of a failed reseed is the "Known" indicator
	(on the left sidebar of the router console) displaying a very small value
	(often less than 5) which does not increase. This can occur, among other things,
	if your firewall limits outbound traffic, and blocked the reseed request.
</p>

<p>
	لاعادة الاتصال بالشبكة يدويا، قم بالتالي:
	<ul>
	<li> I2P اوقف الموجه
	</li><li>فتح <a href="http://i2pdb.tin0.de/netDb/">http://i2pdb.tin0.de/netDb/</a> or
	    <a href="http://netdb.i2p2.de/">http://netdb.i2p2.de/</a> using a web browser
	</li><li>Save a dozen "routerInfo" files to your I2P "netDb" directory (ignore the "leaseSet" files)
	</li><li>طريقة أخرى: تحميل <a href="http://i2pdb.tin0.de/latest.zip">http://i2pdb.tin0.de/latest.zip</a>
            and unzip it into your I2P "netDb" directory.
	</li><li>I2P  شغل الموجه
	</li></ul>
</p>

<hr />
<h3 id="question">!لدي سؤال
<span class="permalink">(<a href="#question">link</a>)</span></h3>
<p>
    عظيم!  يمكنك التحدث معنا على IRC irc.freenode.net #i2p او كتابة في
     <a href="http://forum.i2p2.de/">المنتدى</a> وسنجيب عنه هنا
</p>
{% endblock %}
