{% extends "_layout_fr.html" %}
{% block title %}Impliquez-vous!{% endblock %}
{% block content %}
Traduction de mars 2011. <a href="getinvolved.html">Version anglaise actuelle</a>
<h1>Nous avons besoin de votre aide!</h1>
<p>Pour participer, rejoignez-nous sur le canal IRC #i2p (sur le serveur irc.freenode.net, ou depuis I2P, sur 
   irc.freshcoffee.i2p ou irc.postman.i2p).
<p>Si vous avez envie de rejoindre notre <a href="team_fr">équipe</a>, contactez-nous car nous avons toujours besoin 
   de contributeurs enthousiastes!</p>    
<p>
Nous avons besoin d'aide dans plusieurs domaines, et vous n'avez pas forcément besoin de connaître Java!
Voici la liste qui vous donne quelques façons de vous y prendre:
<ul>
<li><b>Passez le mot!</b> -
Parlez d'I2P sur les forums, les blogs, et commentaires d'articles.
Corrigez ou améliorez l'article <a href="http://fr.wikipedia.org/wiki/I2p">I2P sur Wikipedia</a> dans votre langue.
Parlez-en à vos amis.
</li><li><b>Du test</b> -
Essayez les dernières version à partir de <a href="monotone.html">monotone</a> et donnez vos résultats ou remarques sur 
#i2p ou en tant que bogues sur <a href="http://trac.i2p2.de/report/1">Trac</a>.
</li><li><b>Documentation</b> -
Aidez-nous à corriger les parties du site obsolètes ou incomplètes.
Traduisez les pages dans d'autres langues.
</li><li><b>images</b> -
Créez des illustrations, corrigez les anciennes.
</li><li><b>Content</b> -
Créez votre site eep! Ajoutez des contenus! Participez à la communauté!
</li><li><b>Services</b> -
Proposez un service sur un site eep. Ça pourrait être un proxy, un forum, un tracker, un service de nommage, un moteur 
de recherches, un superviseur de site eep... ça n'est pas si difficile pour la plupart d'entre eux.
</li><li><b>Applications</b> -
Écrivez ou portez des applications pour I2P! Il y a quelques guides et une liste d'idées sur 
la <a href="applications.html">page applications</a>.
</li><li><b>Programmation</b> -
Il y a beaucoup à faire si vous connaissez Java ou si vous êtes prêts à vous y mettre.
Vérifiez les tickets ouverts sur <a href="http://trac.i2p2.de/report/1">Trac</a>
ou la liste de <a href="http://zzz.i2p/">zzz.i2p</a> pour avoir des idées sur un point de départ.
Voyez le <a href="newdevelopers.html">Guide du nouveau développeur</a>.
</li><li><b>Traduction</b> -
Participez en traduisant le site et le logiciel dans votre langue.
Voyez le <a href="newtranslators_fr.html">Guide du nouveau traducteur</a>.
</li><li><b>Analyse</b> -
Étudiez ou testez le code pour y chercher des vulnérabilités. Toutes les vulnérabilités des divers 
<a href="how_threatmodel_fr.html">modèles de sécurité</a>, les dénis de service et autres faiblesses dues à des failles de 
sécurité demandent une surveillance permanente.
</li><li><b><a href="donate_fr.html">Faites un petit geste pécuniaire</a></b>

</li></ul>
{% endblock %}
