{% extends "_layout.html" %}
{% block title %}How Does It Work{% endblock %}
{% block content %}
Warning - many of the following documents are out of date and
need to be fixed up to correctly document the current network.
<ul class="helplist">
<li><a href="how_intro">Intro</a></li>
<li><a href="how_threatmodel">Threat model</a></li>
<li><a href="how_tunnelrouting">Tunnel routing</a></li>
<li><a href="how_garlicrouting">Garlic routing</a></li>
<li><a href="how_networkdatabase">Network database</a></li>
<li><a href="how_peerselection">Peer selection</a></li>
<li>
<a href="how_cryptography.html">Cryptography</a>&nbsp;&raquo;&nbsp;<a href="how_elgamalaes.html">ElGamal / AES+SessionTag</a>
</li>
<li><a href="how_networkcomparisons">Network comparisons</a></li>
</ul>
{% endblock %}
