{% extends "_layout.html" %}
{% block title %}Licenses{% endblock %}
{% block content %}
<h1>I2PControl - Remote Control Service</h1>
<p>I2P enables a <a href="http://en.wikipedia.org/wiki/JSON-RPC">JSONRPC2</a> interface via the plugin I2PControl. 
The aim of the interface is to provide simple way to interface with a running I2P node. A client, itoopie, has been developed in parallel.
The JSONRPC2 implementation for the client as well as the plugin is provided by the java libraries <a href="http://software.dzhuvinov.com/json-rpc-2.0.html">JSON-RPC 2.0</a>.  
A list of implementations of JSON-RPC for various languages can be found at <a href="http://json-rpc.org/wiki/implementations">the JSON-RPC wiki</a>.
</p>

<h2>API</h2>
<p>
Parameters are only provided in a named way (maps).

<h4>JSON-RPC 2 format</h4>
<div class="box"><pre>
Request:
{"id":"id","method":"method-name","params":{"param-key-1": "param-value-1","param-key-2": "param-value-2"},"jsonrpc":"2.0"}
Response:
{"id":"id","result":{"result-key-1":"result-value-1","result-key-2":"result-value-2"},"jsonrpc":"2.0"}

</pre></div>
</p>
<ul>method-name &ndash; Description
	<ul>Request
		<li>param-key-1 &ndash; Description</li>
		<li>param-key-2 &ndash; Description</li>
	</ul>
	<ul>Response
		<li>result-key-1 &ndash; Description</li>
		<li>result-key-2 &ndash; Description</li>
	</ul>
</ul>

<h4>Implemented methods</h4>
<ul>echo &ndash; Echoes the value of the echo key, used for debugging and testing.
	<ul>Request
		<li>echo &ndash; Value will be returned in response.</li>
	</ul>
	<ul>Response
		<li>result &ndash; Value of the key 'echo' in the request.</li>
	</ul>
</ul>
<ul>getRate &ndash; Fetches rateStat from router statManager. Creates stat if not already created.
	<ul>Request
		<li>rateStat &ndash; Determines which rateStat to fetch, see <a href="TODO">TODO</a>.</li>
		<li>period &ndash; [double] Determines which period a stat is fetched for.</li>
	</ul>
	<ul>Response
		<li>result &ndash; [double] Returns the average value for the reuested rateStat and period.</li>
	</ul>
</ul>

{% endblock %}
