{% extends "_layout_fr.html" %}
{% block title %}I2P Anonymous Network{% endblock %}
{% block content %}
<table cellspacing="10" class="announce"><tr class="announce"><td valign="top" class="announce">
<div class="version">
<b>Latest version:</b><div class=underline></div>
2010-07-12 - <strong>I2P 0.8</strong> - {{ urlify("release-0.8", "Announcement", "html")}}
- <a href="download">T&eacute;l&eacute;chargements</a><br /><div class="underline"></div>
2007-09-28 - <strong>Syndie 1.101a</strong> -
<!-- <a href="http://dev.i2p.net/pipermail/i2p/2007-September/001355.html">Announcement</a> -->
- <a href="http://syndie.i2p2.de/download.html">Download</a>
</div>
<div class="news">
<b>Derni&egrave;re nouvelles :</b><div class=underline></div>
2010-07-12 - I2P 0.8
<a href="release-0.8.html">Released</a>
<br />
2010-06-07 - I2P 0.7.14
<a href="release-0.7.14.html">Released</a>
<br />
2010-04-27 - I2P 0.7.13
<a href="release-0.7.13.html">Released</a>
<br />
2010-03-15 - I2P 0.7.12
<a href="release-0.7.12.html">Released</a>
<br />
</div>
<!--
<td>
<a href="download"><img src="/_static/images/logo07c.jpg" alt="0.7 logo" border="none"/></a> -->
</table>
<div class="sanderling"></div>
<p>I2P est un réseau anonyme qui fournit une couche logicielle qui peut être utilisée par les applications pour communiquer 
de manière sécutisée entre elles. Toutes les données sont enveloppées dans plusieurs couches de cryptage. Le réseau est
distribué et dynamique, les données transitent par plusieurs noeuds, qui sont agencées de manière dynamique.
Aucun serveur n'est requis ce qui renforme l'anonymat. 
</p>

<p>
Beaucoup d'applications sont disponibles et s'interfacent avec I2P.
Logiciel de mail, p2p, IRC et d'autres.
</p>

<p>
Le projet I2P s'est formé en 2003 pour apporter un soutient aux personnes qui tentent 
de créer une société plus libre en offrant un moyen de communication sécutisé et non censurable.
I2P essaye d'apporter un réseau à faible latence, complétement distribué, autonome, anonyme, évolutif, souple et sécurisé.
Son but est d'être efficace dans des environnements hostiles, même si certaines organisations
avec de gros moyens financiers et/ou politique tentent de l'attaquer.

Tous les aspects du réseau sont "open source" et disponible gratuitement.
Ce qui assure deux choses aux utilisateurs: 
1 _ Ce logiciel fait ce qu'il dit faire, et rien d'autre.
2 _ Tout le monde peux y contribuer et l'améliorer en vue de combattre les tentatives
d'étouffement de la liberté d'expression.
</p>

<p>L'anonymat n'est pas quelque chose que l'on peut activer ou désactiver.
Nous n'essayons pas de faire quelque chose de parfaitement anonyme, à la place, nous travaillons
à rendre les attaques de plus en plus compliquées et chères à mettre en place.
I2P est un réseau mixé à faible latence (Low latency mix network), il y a des limites à l'anonymat offert par
ce type de système, mais les applications qui utilisent I2P, comme <a href="http://syndie.i2p2.de/">Syndie</a>, I2P mail
et I2Psnark offrent des fonctionnalités et de la protection supplémentaires</p>

<p>I2P est toujours en développement.
Il ne devrait pas encore être mise en avant pour garantir l'anonymat, car le réseau est encore petit
et il nécessite encore un gros travail de test en profondeur et de relecture du code.
Il n'est pas immunisé contre les attaques des gens qui ont toutes les ressources, et ne le sera
peut être jamais à cause des limitations de ce type de réseau. (Low latency miwed network).
</p>

<p>
I2P fonctionne en routant le traffic à travers les autres pairs connectés au réseau, comme le montre l'image ci-dessous.
Tous le traffic est crypté du début à la fin.
Pour plus d'informations sur le fonctionnement d'I2P, regardez 
l'<a href="how_intro">introduction</a>.
</p>
<center>
<div class="box">
<img src="/_static/images/endToEndEncryption.png" alt="end to end layered encryption" />
</div>
</center>

{% endblock %}
