{% extends "_layout_de.html" %}
{% block title %}I2P Anonymes Netzwerk{% endblock %}
{% block content %}
<table cellspacing="10" class="announce"><tr class="announce"><td valign="top" class="announce">
<div class="version">
<b>Aktuellste Version:</b>
<div class="underline"></div>
2011-06-27 - <strong>I2P 0.8.7</strong> - {{ urlify("release-0.8.7", "Ank&uuml;ndigung", "html")}}
- <a href="download_de.html">Download</a>
<div class="underline"></div>
2007-09-28 - <strong>Syndie 1.101a</strong> -
<!-- <a href="http://dev.i2p.net/pipermail/i2p/2007-September/001355.html">Announcement</a> -->
- <a href="http://syndie.i2p2.de/download.html">Download</a>
</div>
<div class="news"><strong>Letzte Neuigkeiten:</strong><div class="underline"></div>
2011-06-27 - I2P 0.8.7 <a href="release-0.8.7.html">veröffentlicht</a><br />
2011-05-16 - I2P 0.8.6 <a href="release-0.8.6.html">veröffentlicht</a><br />
2011-04-18 - I2P 0.8.5 <a href="release-0.8.5.html">veröffentlicht</a><br />
2011-03-02 - I2P 0.8.4 <a href="release-0.8.4.html">veröffentlicht</a><br />
</div>
<!-- 
<td>
<a href="download"><img src="/_static/images/logo07c.jpg" alt="0.7 logo" border="none"/></a> -->
</table>
<div class="underline"></div>
<p>I2P ist ein anonymisierendes Netzwerk, welches identit&auml;tskritischen Anwendungen eine einfache
Schicht zur sicheren Kommunikation bietet. Alle Daten sind in mehreren Schritten verschl&uuml;sselt 
und das Netzwerk ist sowohl verteilt als auch dynamisch, ohne vertraute Parteien.</p>

<p>
Es existieren viele Anwendungen, die mit über I2P laufen, unter anderem EMail, P2P
und IRC.
</p>

<p>Anonymit&auml;t ist nicht bin&auml;r - wir versuchen nicht, etwas absolut anonymes zu erstellen. Stattdessen
arbeiten wir daran, Angriffe auf das Netz immer schwerer zu machen. I2P an sich ist
das, was man ein "Mixnetzwerk mit geringer Latenz" nennen kann, und es gibt Grenzen f&uuml;r die Anonymit&auml;t,
die ein solches System bieten kann. Jedoch versuchen die darauf aufbauenden Applikationen wie <a href="http://syndie.i2p2.de/">Syndie</a>, die beiden EMail-Systeme in I2P und 
I2PSnark, es zu erweitern, um mehr Funktionalit&auml;t und Sicherheit zu bieten.</p>

<p>I2P ist noch nicht fertig und sollte vor der Version 1.0 nur zum Testen oder zum Entwicklen 
genutzt werden.
</p>

<p>
I2P basiert darauf, dass es Daten &uuml;ber andere Knoten leitet, wie es in folgendem Bild dargestellt
ist. Dabei sind alle Daten Ende-zu-Ende-verschlüsselt. F&uuml;r weitere Informationen zur Arbeitsweise von I2P, schau bitte in die <a href="how_intro_de">Einleitung</a>.
</p>
<center>
<div class="box">
<img src="/_static/images/endToEndEncryption.png" alt="end to end layered encryption" />
</div>
</center>
{% endblock %}
