{% extends "_layout_fr.html" %}
{% block title %}I2P : Réseau anonyme{% endblock %}
{% block content %}
<table cellspacing="10" class="announce"><tr class="announce"><td valign="top" class="announce">
<div class="version">
<b>Dernière version:</b><div class=underline></div>
2011-11-08 - <strong>I2P 0.8.11</strong> - {{ urlify("release-0.8.11_fr.html", "Annonce", "html")}}
- <a href="download_fr.html">Téléchargements</a><br /><div class="underline"></div>
2007-09-28 - <strong>Syndie 1.101a</strong> -
<!-- <a href="http://dev.i2p.net/pipermail/i2p/2007-September/001355.html">Announcement</a> -->
- <a href="http://syndie.i2p2.de/download.html">Téléchargements</a>
</div>
<div class="news">
<b>Dernières nouvelles :</b><div class=underline></div>
2011-11-08 - I2P 0.8.11 <a href="release-0.8.11_fr.html">Publiée</a><br />
2011-10-20 - I2P 0.8.10 <a href="release-0.8.10_fr.html">Publiée</a><br />
2011-10-11 - I2P 0.8.9 <a href="release-0.8.9_fr.html">Publiée</a><br />
2011-08-23 - I2P 0.8.8 <a href="release-0.8.8_fr.html">Publiée</a><br />
</div>
<!--
<td>
<a href="download"><img src="/_static/images/logo07c.jpg" alt="0.7 logo" border="none"/></a> -->
</table>
<div class="sanderling"></div>
Traduction de mai 2011. <a href="index.html">Version anglaise actuelle</a>
<p>I2P est un réseau anonyme qui fournit une couche logicielle qui peut être utilisée par les applications pour 
communiquer de manière sécurisée entre elles. Toutes les données sont enveloppées dans plusieurs couches de cryptage. 
Le réseau est décentralisé et dynamique, les données transitent par plusieurs nœuds qui sont agencés de manière 
dynamique. Aucun serveur n'est requis ce qui renforme l'anonymat. 
</p>

<p>
Beaucoup d'applications sont disponibles et s'interfacent avec I2P: logiciel de mail, p2p, IRC etc...
</p>

<p>
Le projet I2P s'est formé en 2003 pour apporter un soutient aux personnes qui tentent de créer une société plus libre, 
en offrant un moyen de communication sécurisé et non censurable.
I2P essaye d'apporter un réseau à faible latence, complétement décentralisé, autonome, anonyme, évolutif, souple et 
sécurisé. Son but est d'être efficace dans des environnements hostiles, même si certaines organisations avec de gros 
moyens financiers et/ou politiques tentaient de l'attaquer. Tous les aspects du réseau sont "open source" et 
disponibles gratuitement. Ceci assure deux choses aux utilisateurs: 
1 _ Ce logiciel fait ce qu'il dit qu'il fait, et rien d'autre.
2 _ Tout le monde peux y contribuer et l'améliorer en vue de combattre les tentatives d'étouffement de la liberté 
d'expression.
</p>

<p>L'anonymat n'est pas une notion tout-ou-rien, quelque chose que l'on peut activer ou désactiver. Nous n'essayons pas 
de faire quelque chose de parfaitement anonyme, mais au lieu de ça, nous travaillons à rendre les attaques de plus en 
plus compliquées et coûteuse à mettre en œuvre. I2P est un réseau croisé à faible latence (Low latency mix network): il 
y a des limites à l'anonymat offert par ce type de systèmes, mais les applications qui utilisent I2P, comme 
<a href="http://syndie.i2p2.de/">Syndie</a>, I2P mail et I2Psnark offrent des fonctionnalités et des protections 
supplémentaires.</p> 
<p>I2P est toujours en développement. Il ne devrait pas encore être mise en avant pour garantir l'anonymat, parce que le 
réseau est encore petit et qu'il nécessite encore un gros travail de test en profondeur et de relecture du code. Il 
n'est pas immunisé contre les attaques des gens qui ont toutes les ressources, et ne le sera peut être jamais à cause 
des limitations de ce type de réseau (réseau croisé à faible latence).
</p>

<p>
I2P fonctionne en routant le traffic à travers les autres pairs connectés au réseau, comme le montre l'image ci-dessous.
Tout le trafic est crypté de bout en bout. Pour plus d'informations sur le fonctionnement d'I2P, regardez 
l'<a href="how_intro_fr">introduction</a>.
</p>
<div class="box" style="text-align:center;">
<img src="/_static/images/endToEndEncryption_fr.png" alt="Cryptage en couches de bout en bout" />
</div>

{% endblock %}
