{% extends "_layout.html" %}
{% block title %}Links{% endblock %}
{% block content %}
<h1>Recommended Links & Resources</h1>
<p>
See also the page with
<a href="papers.html">links to papers, presentations, videos, and tutorials about I2P</a>.
</p>

<div class="links">
<ul>
<h4>Friends of I2P</h4>
<li><a href="http://anomos.info/">Anomos Pseudonymous Encrypted Bittorrent</a></li>
<li><a href="http://www.eff.org/">EFF</a></li>
<li><a href="https://gnunet.org/">GNUnet</a></li>
<li><a href="https://www.ipredator.se/?lang=en">Ipredator</a></li>
<li><a href="http://www.isdpodcast.com/">InfoSec Daily Podcast</a></li>
<li><a href="http://www.abenteuerland.at/onioncat/">Onioncat</a></li>
<li><a href="https://www.relakks.com/?cid=gb">Relakks</a></li>
<li><a href="http://www.pegasusnk.org/">The Pegasus Project</a></li>
<li><a href="http://www.thepegasuspress.com/">The Pegasus Press</a></li>
<li><a href="http://telecomix.org/">Telecomix</a></li>
<li><a href="http://www.torproject.org/">Tor</a></li>
<h4>More Projects and Documentation</h4>
<li><a href="http://freehaven.net/anonbib/topic.html">Freehaven's Anonymity Bibliography</a></li>
<li><a href="http://gnunet.org/links.php3">GNUNet's related projects</a></li>
<li><a href="http://www.tik.ee.ethz.ch/~morphmix/">Morphmix</a></li>
<li><a href="http://www.pdos.lcs.mit.edu/tarzan/">Tarzan</a></li>
<li><a href="http://www.onion-router.net/">Onion Routing</a></li>
<li><a href="http://mixmaster.sourceforge.net/">Mixmaster</a></li>
<li><a href="http://mixminion.net/">Mixminion</a></li>
<li><a href="http://freenetproject.org/">Freenet</a></li>
<li><a href="http://anon.inf.tu-dresden.de/index_en.html">JAP</a></li>
<h4>Press</h4>
<li><a href="http://www.isdpodcast.com/podpress_trac/web/2719/0/infosec-daily-podcast-episode-454.mp3">zzz interviewed on the InfoSec Daily Podcast (mp3)</a> (August 18, 2011)</li>
<li><a href="http://www.gulli.com/news/i2p-an-anonymous-network-2009-03-09/">zzz interviewed by gulli.com</a> (March '09)</li>
<li><a href="http://www.netzwelt.de/news/75371-i2p-das-anonyme-netz-im.html">Netzwelt.de article about being anonymous in the Internet</a></li>
<h4>Boards, newssite, others</h4>
<li><a href="http://twitter.com/i2p">i2p (zzz) on twitter</a></li>
<li><a href="http://board.planetpeer.de/index.php?board=80.0">Planet Peer Board (English)</a></li>
<li><a href="http://board.planetpeer.de/index.php?board=18.0">Planet Peer Board (Deutsch)</a></li>
<h4>Very Old Stuff</h4>
<li><a href="http://invisibleip.sourceforge.net/iip/index.php">Invisible IRC Project</a> - the distant predecessor of I2P</li>
<li><a href="http://news.gmane.org/gmane.network.i2p">The ancient I2P mailing list</a> 2004-07 to 2006-10 (gmane)
<li><a href="http://news.gmane.org/gmane.comp.security.invisiblenet.iip.devel">The even more ancient invisiblenet mailing list</a> 2002-10 to 2004-01 (gmane)
<li><a href="http://www.businessweek.com/magazine/content/03_37/b3849089_mz063.htm">2003 Business Week article referencing invisiblenet</a>
</ul></div>
{% endblock %}
