{% extends "_layout_de.html" %}
{% block title %}Verweise{% endblock %}
{% block content %}<ul>
<h4>Friends of I2P</h4>
<li><a href="http://anomos.info/">Anomos Pseudonymous Encrypted Bittorrent</a></li>
<li><a href="http://www.abenteuerland.at/onioncat/">Onioncat</a></li>
<h4>More Projects and Documentation</h4>
<li><a href="http://freehaven.net/anonbib/topic.html">Freehavens Anonymity Bibliography</a></li>
<li><a href="http://gnunet.org/links.php3">GNUNet bezogne Projekte</a></li>
<li><a href="http://www.tik.ee.ethz.ch/~morphmix/">Morphmix</a></li>
<li><a href="http://www.pdos.lcs.mit.edu/tarzan/">Tarzan</a></li>
<li><a href="http://www.torproject.org/">TOR</a></li>
<li><a href="http://www.onion-router.net/">Onion Routing</a></li>
<li><a href="http://mixmaster.sourceforge.net/">Mixmaster</a></li>
<li><a href="http://mixminion.net/">Mixminion</a></li>
<li><a href="http://freenetproject.org/">Freenet</a></li>
<li><a href="http://anon.inf.tu-dresden.de/index_de.html">JAP</a></li>
<h4>Boards, Newsseiten, anderes</h4>
<li><a href="http://board.planetpeer.de/index.php?board=18.0">Planet Peer Board (Deutsch)</a></li>
<li><a href="http://board.planetpeer.de/index.php?board=80.0">Planet Peer Board (English)</a></li>
<li><a href="http://www.netzwelt.de/news/75371-i2p-das-anonyme-netz-im.html">Netzwelt.de Artikel &uuml;ber anoym im Internet</a></li>
</ul>
{% endblock %}
