{% extends "_layout.html" %}
{% block title %}Manually Installing the Java Wrapper{% endblock %}
{% block content %}
<h1>Manually Installing the Java Wrapper</h1>

<p>The installation package for the <a href="download">I2P router</a> comes
with a Java wrapper for the most common architectures. If your system is not
supported by our installer&mdash;or if you want to update the wrapper to a
newer version&mdash;the following steps describe installing the wrapper manually.
</p>

<ul>
  <li> Check Tanuki Software's <a href="http://wrapper.tanukisoftware.com/doc/english/download.jsp#stable">download page</a>
       for your platform. Is your platform listed? If so, you're in
       luck! Download the most recent version of the Community Edition for your OS and
       CPU and move to <a href="#packaged">the next step</a></li>
  <li>If your platform does not have an already compiled wrapper available, you
      may be able to compile it yourself. If you are willing to have a go at it, move
      on to <a href="#compiling">compiling</a> the wrapper for your system.</li>
</ul>
<h2 id="packaged">Using existing binaries</h2>
In the steps below, $I2P means <em>the location I2P was installed to</em>.
<ol>
  <li><code>tar xzf wrapper-*.tar.gz</code></li>
  <li><code>cp wrapper*/bin/wrapper $I2P/i2psvc</code></li>
  <li><code>cp wrapper*/lib/wrapper.jar $I2P/lib</code></li>
  <li><code>cp wrapper*/lib/libwrapper.so $I2P/lib</code></li>
  <li>Try to start I2P using <code>$I2P/i2prouter start</code></li>
  <li><code>tail -f /tmp/wrapper.log</code> and look for any problems.</li></ol>
If this did not work you'll need to use <code>runplain.sh</code> to start I2P.
<h2 id="compiling">Compiling from source</h2>
These steps worked to compile the wrapper for use on a mipsel system running Debian. The steps <strong>will</strong> need to be altered for your system.
<ol>
  <li>Download the source archive for the community version of the wrapper from <a href="http://wrapper.tanukisoftware.com/downloads">wrapper download page</a>.</li>
  <li>Extract the tarball<br />
&nbsp;&nbsp;&nbsp;&nbsp;<code>tar xzf wrapper_3.5.13_src.tar.gz</code></li>
  <li>Set environment variables ANT_HOME and JAVA_HOME. In Debian, one can<br />
&nbsp;&nbsp;&nbsp;&nbsp;<code>export ANT_HOME=/usr/share/ant</code><br />
&nbsp;&nbsp;&nbsp;&nbsp;<code>export JAVA_HOME=/usr/lib/jvm/default-java</code></li>
  <li>Since there isn't a Makefile for Mipsel, we'll make a copy of an already existing makefile<br />
&nbsp;&nbsp;&nbsp;&nbsp;<code>cp src/c/Makefile-linux-x86-32.make src/c/Makefile-linux-mipsel-32.make</code></li>
  <li>Now we can attempt to compile the wrapper<br />
&nbsp;&nbsp;&nbsp;&nbsp;<code>./build32.sh</code>   (use <code>./build64.sh</code> if you have a 64bit CPU and JVM)</li>
  <li>Copy the wrapper into its proper place:
  <ul>
    <li><code>cp bin/wrapper $I2P/i2psvc</code></li>
    <li><code>cp lib/wrapper.jar $I2P/lib</code></li>
    <li><code>cp lib/libwrapper.so $I2P/lib</code></li>
  </ul></li>
  <li>Try to start I2P using <code>$I2P/i2prouter start</code></li>
  <li><code>tail -f /tmp/wrapper.log</code> and look for any problems.</li>
</ol>
If this did not work you'll need to use <code>runplain.sh</code> to start I2P.
{% endblock %}
