{% extends "_layout.html" %}
{% block title %}Pages/meeting168.html{% endblock %}
{% block content %}<h3>I2P dev meeting, February 14, 2006</h3>
<div class="irclog">
<p>15:39 &lt; jrandom&gt; 0) hi</p>
<p>15:39 &lt; jrandom&gt; 1) Net status</p>
<p>15:39 &lt; jrandom&gt; 2) 0.6.1.10</p>
<p>15:39 &lt; jrandom&gt; 3) Syndie activity</p>
<p>15:39 &lt; jrandom&gt; 4) ???</p>
<p>15:39 &lt; jrandom&gt; 0) hi</p>
<p>15:39  * jrandom waves</p>
<p>15:39 &lt; jrandom&gt; weekly status notes posted up at http://dev.i2p.net/pipermail/i2p/2006-February/001260.html</p>
<p>15:39 &lt; jrandom&gt; (I'm a lil late with that, so I'll give y'all a minute to skim through those brief notes)</p>
<p>15:40 &lt;+Complication&gt; hello</p>
<p>15:40 &lt;@cervantes&gt; 'lo</p>
<p>15:41 &lt; jrandom&gt; well, its brief enough, so lets just jump on in to 1) Net status</p>
<p>15:41 &lt; jrandom&gt; I don't have anything to add to this one, anyone have something on it to discuss?</p>
<p>15:41 &lt;@cervantes&gt; &lt;jrandom&gt; (damn flakey net connection)</p>
<p>15:41 &lt;+Complication&gt; A bit congested occasionally, but graphs suggest it's nothing new</p>
<p>15:42 &lt; jrandom&gt; heh cervantes, well, thats due to one of my roommates using limewire, not i2p ;)</p>
<p>15:43 &lt;@cervantes&gt; we've had various server problems too with irc and postman's tracker over the past couple of weeks - postman has done a lot of migrations, so things should be more stable for folk</p>
<p>15:43 &lt;+Complication&gt; It must be hard letting them do that, but I guess... such is life :O</p>
<p>15:43 &lt;+Complication&gt; do that=use limewire</p>
<p>15:44 &lt;+Complication&gt; This morning, tracker.postman.i2p was refusing connections, though</p>
<p>15:44 &lt; jrandom&gt; Complication: disk was full, fixed now</p>
<p>15:44 &lt; jrandom&gt; (new machines have their new quirks)</p>
<p>15:46 &lt; jrandom&gt; ok, anyone have anything else on 1) Net status?</p>
<p>15:46 &lt; jrandom&gt; otherwise, lets shimmy on over to 2) 0.6.1.10</p>
<p>15:47 &lt; jrandom&gt; As mentioned, we're going to have a new backwards incompatible release in a few days</p>
<p>15:48 &lt; jrandom&gt; while it alone won't revolutionize our performance, it will improve a few key metrics to get us on our way</p>
<p>15:48 &lt; jrandom&gt; there are also a whole bunch of bug fixes in there too</p>
<p>15:49 &lt;@cervantes&gt; will zzz's server tunnel improvements make the fold?</p>
<p>15:49 &lt; jrandom&gt; oh, and there's that whole improved anonymity thing... ya know, sine qua non</p>
<p>15:50 &lt; jrandom&gt; cervantes: probably not, haven't heard much since that post to zzz.i2p last week.  i did do some minor bugfixes in cvs though (to should support lighttpd, etc), but we won't have zzz's persistent connections</p>
<p>15:50 &lt; jrandom&gt; (yet)</p>
<p>15:51 &lt;@frosk&gt; what DH key size/etc did you land on?</p>
<p>15:51 &lt;@cervantes&gt; yeah, I saw those newline issues a few weeks ago, but I held off changing them because of zzz's impending improvements</p>
<p>15:51 &lt; jrandom&gt; ah, for the moment we'll be sticking with 2048bit crypto with small exponents</p>
<p>15:52 &lt;@frosk&gt; so some lower cpu consumption can be expected?</p>
<p>15:52 &lt; jrandom&gt; aye</p>
<p>15:53 &lt;@frosk&gt; excellente</p>
<p>15:53 &lt; jrandom&gt; switching to 1024bit would cut another order of magnitude to the CPU load, but would require some reworking of the tunnel creation structures (1024bit asym isn't large enough to convey the data we need to convey).  </p>
<p>15:54 &lt; jrandom&gt; we may explore that in the future though, but this next release should substantially cut down cpu overhead</p>
<p>15:54 &lt; jrandom&gt; I've also disabled the TCP transport, because I'm a mean and vicious person</p>
<p>15:55 &lt;@frosk&gt; do you expect any more incompatible upgrades before 1.0?</p>
<p>15:55 &lt; jrandom&gt; hope not</p>
<p>15:55  * cervantes must be a danish cartoonist</p>
<p>15:55 &lt;@frosk&gt; i don't think we'll miss tcp :)</p>
<p>15:55 &lt;@cervantes&gt; I mean jrandom must be</p>
<p>15:55 &lt;@cervantes&gt; ;-)</p>
<p>15:55  * jrandom watches the embassy burn</p>
<p>15:56 &lt; jrandom&gt; ok, anyone have anything else on 2) 0.6.1.10?</p>
<p>15:56 &lt; void&gt; why wouldn't it support lighttpd earlier?</p>
<p>15:56 &lt; jrandom&gt; (ah, as an aside, there have also been some interesting improvements to the streaming lib for 0.6.1.10, such as tcp-style fast retransmit, etc, so we'll see how that helps)</p>
<p>15:57 &lt;@cervantes&gt; void: malformed headers</p>
<p>15:57 &lt; jrandom&gt; void: bug where we weren't standards compliant</p>
<p>15:57 &lt; void&gt; ah, are these inconsistent newline bugs also fixed?</p>
<p>15:58 &lt; void&gt; and what about the null character one? are you waiting for zzz's persistent connection patch?</p>
<p>15:58 &lt; jrandom&gt; the newline bug is the malformed header, and is fixed</p>
<p>15:58 &lt; jrandom&gt; no news on the null character one</p>
<p>15:59 &lt; void&gt; ok</p>
<p>16:00 &lt; jrandom&gt; ok, if there's nothing else on 2, lets swing on by 3) Syndie activity briefly</p>
<p>16:00 &lt; jrandom&gt; well, I don't really have much to add...</p>
<p>16:01 &lt; jrandom&gt; (I /did/ say briefly)</p>
<p>16:01 &lt; jrandom&gt; so lets jump on to 4) ???</p>
<p>16:01 &lt; jrandom&gt; anyone have anything else they want to bring up for the meeting?</p>
<p>16:01 &lt;+fox&gt; &lt;duck&gt; too busy reading Syndie to comment</p>
<p>16:01 &lt; jrandom&gt; ;)</p>
<p>16:02  * Complication is too busy issuing meaningless signatures to comment :D</p>
<p>16:05 &lt; jrandom&gt; ok cool.  just another reminder for people to stay away from CVS for the next day or two until the release, as CVS HEAD is going to get the _PRE branch's changes, and the _PRE branch is going to be retired</p>
<p>16:05  * jrandom winds up</p>
<p>16:05  * jrandom *baf*s the meeting closed</p>
</div>
{% endblock %}