{% extends "_layout.html" %}
{% block title %}I2P Development Meeting 78{% endblock %}
{% block content %}<p>
<p>Considering we did not have a very official meeting do to Jrand0m not</p>
<p>feeling very well, here are my logs of the meeting from slightly</p>
<p>before it started to sometime after it ended.  I have edited out the</p>
<p>kick offs and start screens from iip restarting at least twice during</p>
<p>that period.  If someone else has better logs feel free to replace</p>
<p>these. (baffled)</p>
<p>
<p>&lt;human&gt; baffled: we're experimenting a psychic communication towards jrand0m, to ask him to be here for the meeting</p>
<p>&lt;human&gt; baffled: just focus your mind on him, and help us</p>
<p>&gt; Don't we have to hold hands or something like that?</p>
<p>&lt;human&gt; baffled: if it helps you focusing your mind... well, yes</p>
<p>&gt; Cool, gimme your hand I'm commensing to focus!</p>
<p><UL ></p>
<p><li> human gives his hand to baffled </p>
<p></UL></p>
<p>human has changed the topic on channel #i2p to I2P meeting: hold the hand of your neighbour, focus your mind on jrand0m, and ask him to come here</p>
<p>thecrypto (~thecrypto@anon.iip) has joined channel #i2p</p>
<p><UL ></p>
<p><li> baffled whipes the sacred potato-chip oil off his fingers and takes humans hand.</p>
<p></UL></p>
<p>&lt;DrWoo<a href="iip-wiki?action=edit&id=DrWoo" class=wikipageedit>?</a>&gt; human: doesn't he make up a pre meeting agenda, you can grab that and direct the meeting</p>
<p>&lt;human&gt; DrWoo<a href="iip-wiki?action=edit&id=DrWoo" class=wikipageedit>?</a>: er... why me?</p>
<p>Rain (Rain@anon.iip) has joined channel #i2p</p>
<p>&lt;human&gt; DrWoo<a href="iip-wiki?action=edit&id=DrWoo" class=wikipageedit>?</a>: (i didn't see any meeting agenda, though)</p>
<p>&lt;DrWoo<a href="iip-wiki?action=edit&id=DrWoo" class=wikipageedit>?</a>&gt; human: why not, you're sober</p>
<p>&lt;wilde&gt; let's make an agenda ourselves</p>
<p>&lt;DrWoo<a href="iip-wiki?action=edit&id=DrWoo" class=wikipageedit>?</a>&gt; yeah you guys know the general issues</p>
<p>&lt;wilde&gt; there are many topics to discuss</p>
<p><UL ></p>
<p><li> human will direct the meeting in exchange of the sacrifice of the first daughter of every participant</p>
<p></UL></p>
<p>&lt;wilde&gt; funding, strategy, marketing, website, recruiting more developers and powerusers, etc</p>
<p>&lt;human&gt; wilde: i agree, we could informally talk about the recent history of I2P</p>
<p>&lt;DrWoo<a href="iip-wiki?action=edit&id=DrWoo" class=wikipageedit>?</a>&gt; wilde: open a text window and quickly make a numbered agenda</p>
<p><UL ></p>
<p><li> human agrees with wilde </p>
<p></UL></p>
<p>&gt; As the first item don't we need to add massive responsibilites to jrandom in absentia?</p>
<p>Signoff: wilde (Ping timeout)</p>
<p>Signoff: ion (Ping timeout)</p>
<p><UL ></p>
<p><li> human agrees with baffled, too</p>
<p></UL></p>
<p>wilde (~anon@anon.iip) has joined channel #i2p</p>
<p>&lt;wilde&gt; back</p>
<p>&gt; you're the first to say anything your in charge.</p>
<p>&lt;wilde&gt; who? me?</p>
<p>jar (jar@anon.iip) has joined channel #i2p</p>
<p>&gt; quit looking surprised.</p>
<p>&lt;DrWoo<a href="iip-wiki?action=edit&id=DrWoo" class=wikipageedit>?</a>&gt; you guys are funny :)</p>
<p>&gt; hey jar.</p>
<p>&lt;jar&gt; 'lo baffled :)</p>
<p>&lt;jar&gt; 'lo i2p !</p>
<p>ion (ion@anon.iip) has joined channel #i2p</p>
<p><UL ></p>
<p><li> human started logging the meeting (or whatever it will be)</p>
<p></UL></p>
<p>&gt; We elected wild to run the meeting because he was the first to say anything after meeting time.</p>
<p>&lt;wilde&gt; ok</p>
<p>jrand0m (jrand0m@anon.iip) has joined channel #i2p</p>
<p>&lt;wilde&gt; 1. Hello</p>
<p>&lt;wilde&gt; 2. Status I2P</p>
<p>&lt;wilde&gt; 3. How to help I2P Project</p>
<p>&lt;wilde&gt; 4. Recruiting more developers</p>
<p>&lt;wilde&gt; 5. Raising money (donations, selling t-shirts)</p>
<p>&lt;wilde&gt; 6. General discussion</p>
<p>&lt;human&gt; jrand0m: has appeared!!!</p>
<p>&lt;wilde&gt; hey jrand0m!</p>
<p>&gt; I'll take a t-shirt.</p>
<p>&lt;human&gt; our experiment succeeded!!!</p>
<p>&lt;jrand0m&gt; shit thought I missed it :)</p>
<p><UL ></p>
<p><li> jrand0m leaves the floor to wilde ;)</p>
<p></UL></p>
<p>&gt; You better look back through the log jrandom.</p>
<p>&lt;wilde&gt; ok boss you could modify the agenda as you like</p>
<p>&lt;jrand0m&gt; <a href="http://i2p.dnsalias.net/pipermail/i2p/2004-February/000144.html">http://i2p.dnsalias.net/pipermail/i2p/2004-February/000144.html</a></p>
<p><UL ></p>
<p><li> jrand0m just posted</p>
<p></UL></p>
<p>&gt; Are the t-shirts good?</p>
<p>&lt;jrand0m&gt; they had better be</p>
<p><UL ></p>
<p><li> jrand0m apologizes for being late, been avoiding looking at the monitor today (killer headache)</p>
<p></UL></p>
<p>&gt; No apology necessary or expected.</p>
<p>&lt;wilde&gt; np, we prepared an emergency plan</p>
<p>&lt;wilde&gt; everyone taking a job at McDonalds<a href="iip-wiki?action=edit&id=McDonalds" class=wikipageedit>?</a> and hiring indian programmers for the money</p>
<p>Signoff: ion (Ping timeout)</p>
<p>&lt;jrand0m&gt; hah nice</p>
<p>&lt;jrand0m&gt; perhaps we can jump into that agenda, or are we on 1, 2, 3, 6?</p>
<p>&lt;wilde&gt; 0.</p>
<p>&lt;wilde&gt; 1. Hello</p>
<p>&lt;wilde&gt; Hello I2P</p>
<p>&lt;fidd&gt; hi</p>
<p>&lt;jrand0m&gt; hi</p>
<p>&lt;jar&gt; hi</p>
<p>&lt;kaji&gt; ah, i made it</p>
<p>&lt;wilde&gt; last hellos? going once, going twice...</p>
<p>&lt;kaji&gt; hi</p>
<p>&gt; Which agenda the one you posted or the oone wild posted?</p>
<p>&lt;jrand0m&gt; perhaps I can help out with agenda 2) status</p>
<p>&lt;wilde&gt; 2. Status I2P</p>
<p>&lt;jrand0m&gt; the router, as is, is nonfunctional</p>
<p>&lt;wilde&gt; so how are we post-testnet?</p>
<p>&gt; can we cote on that?</p>
<p>&lt;jrand0m&gt; post testnet, yes, but I introduced two bugs in the process</p>
<p>&gt; vote.</p>
<p>&lt;jrand0m&gt; vote on whether its nonfunctional?</p>
<p>&gt; Right.</p>
<p><UL ></p>
<p><li> jrand0m wonders if we vote hard enough it'll be functional again</p>
<p></UL></p>
<p>&lt;kaji&gt; its dead for me</p>
<p>&gt; oh, nevermind.</p>
<p>&gt; well, we held hands and you appeared.</p>
<p>&lt;jrand0m&gt; hey, worth a shot ;)</p>
<p><UL ></p>
<p><li> jrand0m starts a bug-excorcism seance</p>
<p></UL></p>
<p>&gt; does that make them bogobugs?</p>
<p><UL ></p>
<p><li> DrWoo<a href="iip-wiki?action=edit&id=DrWoo" class=wikipageedit>?</a> sprinkles dried blood on the floor</p>
<p><li> jrand0m senses that this chant will cause the bugs to dissapear in the next day or two, with an email going out to i2p@ once its ready</p>
<p></UL></p>
<p>&gt; oh wooooow!</p>
<p>&lt;kaji&gt; i switched to j2sdk1.4.2_03 to get ant to work on XP, i wonder how much of and effect it has on the router not working</p>
<p>&lt;wilde&gt; so there's a short i2p vacation</p>
<p>&lt;jrand0m&gt; none, I use that build on xp</p>
<p>&lt;jrand0m&gt; the bug is programmer error, probably a trivial one too</p>
<p>&lt;jrand0m&gt; (but quite fatal)</p>
<p>&lt;jrand0m&gt; right wilde</p>
<p>&lt;jrand0m&gt; but after that, I've been making a bunch of progress on the docs for 0.2.5 and 0.3</p>
<p>&lt;jrand0m&gt; so I don't think they'll be a full two weeks out</p>
<p>&lt;jrand0m&gt; but we'll cross that bridge when we come to it.</p>
<p>&lt;wilde&gt; nice, any application improvments anyone?</p>
<p>&lt;jrand0m&gt; one idea - on the testnet, we focused a lot on irc and echo, more than eepsites</p>
<p><UL ></p>
<p><li> wilde notes in the black book who hasn't done todays homework, a cool I2P application</p>
<p></UL></p>
<p>&gt; Do you think they suffered for that? I certainly do.</p>
<p>&lt;jrand0m&gt; having lots of clients (aka destinations) on a single router increases the load, and we may want to think about trimming down our test scope, perhaps</p>
<p>&lt;jrand0m&gt; there's also a discussion wrt perhaps revisiting the keysize of the crypto to reduce the load (for another day after we have more metrics, etc) </p>
<p>Signoff: Robert (Ping timeout)</p>
<p>&gt; What do you consider a lot of clients on one router?</p>
<p>&lt;jrand0m&gt; I dont know, I would like once 0.2.4.x is out and usable that we can use both IRC and eepsites</p>
<p>&lt;jrand0m&gt; that depends on the computer</p>
<p>&lt;wilde&gt; so what's best for now? eepsites or irc?</p>
<p><UL ></p>
<p><li> jrand0m wants both, and we will have both functional in the mid and long run</p>
<p></UL></p>
<p>&lt;jrand0m&gt; anyway, we can see as 0.2.4.x comes out.  perhaps both will be fine again.</p>
<p>&lt;wilde&gt; yeah but what's most useful for debugging? continous connections or sporadic ones?</p>
<p>&lt;jrand0m&gt; both ;)</p>
<p>&lt;wilde&gt; lighweight irc, or eep graphics?</p>
<p>&lt;jrand0m&gt; i2p needs to support long term streaming connections and short term bursty ones</p>
<p>&lt;kaji&gt; what about heavy long downloads?</p>
<p>&lt;jrand0m&gt; right, long term streaming connections</p>
<p>&lt;jrand0m&gt; (though I do think filesharing over i2p would best be served with i2psnark via messages, ala udp)</p>
<p>&lt;wilde&gt; the question really is: you suggested narrowing the test scope, was that to IRC or EEP?</p>
<p>&lt;wilde&gt; (or something else)</p>
<p>&lt;jrand0m&gt; two or three clients will be fine, I just know that running 4+ services may be a bit of an overload for the time being (depending on people's computer)</p>
<p>lucky (~lucky@anon.iip) has joined channel #i2p</p>
<p>&lt;wilde&gt; ok, that's probably wise</p>
<p>&lt;jrand0m&gt; anyone have any dev status for client apps?</p>
<p>&lt;wilde&gt; so the focus should be on services that can us some statistics, like the irc scripts</p>
<p>&lt;jrand0m&gt; that is definitely key.</p>
<p>Newsbyte (~fredisdea@anon.iip) has joined channel #i2p</p>
<p>&lt;jrand0m&gt; woah</p>
<p>&lt;jrand0m&gt; hi Newsbyte</p>
<p>&lt;Newsbyte&gt; ah, jran</p>
<p><UL ></p>
<p><li> wilde looks at the clock and at Newsbyte, late arrival, that will cost you an apple</p>
<p></UL></p>
<p>&lt;Newsbyte&gt; huh?</p>
<p>&lt;Newsbyte&gt; I never come here</p>
<p>&lt;jrand0m&gt; also, the echo server and client app is great at gathering stats, and doesn't have any irc-specific dependencies. </p>
<p>&lt;wilde&gt; nothing</p>
<p>&lt;Newsbyte&gt; besides, what's an I2P meeting without nop? ;-)</p>
<p>&lt;DrWoo<a href="iip-wiki?action=edit&id=DrWoo" class=wikipageedit>?</a>&gt; wilde: heh somehow I dont think hes here for the meeting :)</p>
<p>&lt;human&gt; would an eepsite monitoring tool be useful?</p>
<p>&lt;Newsbyte&gt; no nop, no meeting</p>
<p><UL ></p>
<p><li> Newsbyte can summarise</p>
<p></UL></p>
<p>&lt;wilde&gt; jrand0m: is there something else you'd like to have statistics in the network?</p>
<p>&lt;jrand0m&gt; human&gt; certainly - perhaps some way to do periodic pings of eepsites, maybe keeping track of changes even?</p>
<p>&lt;human&gt; jrand0m: keeping track of what changes?</p>
<p>&lt;jrand0m&gt; I think with the irc scripts giving us long term disconnect / reliability stats, plus the echo app giving us latency, the only thing left is really throughput</p>
<p>&lt;jrand0m&gt; content on the page changing </p>
<p>&lt;Newsbyte&gt; yes, and use more then one server</p>
<p>&lt;wilde&gt; a kb/s meter, I2P Pirate Radio someone?</p>
<p>&lt;jrand0m&gt; hmm?  right, when the net is up we usually have between 4-10 servers</p>
<p>&lt;human&gt; jrand0m: it's doable but... how would you use the content change information?</p>
<p>&lt;kaji&gt; i ran a shoutcast stream for a while</p>
<p>&lt;jrand0m&gt; human&gt; that particular aspect wouldn't help me, but would let users use the test (which would tell them whats changed, as well as get them to run the test more [generate more traffic])</p>
<p>&lt;jrand0m&gt; nice kaji</p>
<p>&lt;jrand0m&gt; yeah, aum's streams were up periodically as well</p>
<p>&lt;human&gt; jrand0m: oh, ok, now i understand</p>
<p>&lt;mihi&gt; jrand0m: a chargen service? ;)</p>
<p>&lt;madman2003&gt; bye everyone, good luck with i2p</p>
<p>&lt;wilde&gt; so throuhput is one stat that would be interesting/useful</p>
<p>&lt;jrand0m&gt; later madman2003</p>
<p>&lt;wilde&gt; cya madman2003</p>
<p>Signoff: madman2003 (..12(. www...nnscript...de .12.::. .N.o.N.ame.S.cript 3...8 .12.::. www...XLhost...de. .12.).)</p>
<p>&gt; Well, I have another meeting at five as usual so I'll bbl.  Remember to put me down for a t-shirt.</p>
<p>&lt;jrand0m&gt; yes mihi, that'd work (but streaming .ogg sounds cooler)</p>
<p>baffled (~kirk@anon.iip) has joined channel #i2p</p>
<p>mrflibble (mrflibble@anon.iip) has joined channel #i2p</p>
<p>-Trent@anon.iip- The nickname baffled is not registered</p>
<p>Ocelot (~Ocelot@anon.iip) has joined channel #i2p</p>
<p>Rain (~Rain@anon.iip) has joined channel #i2p</p>
<p>nickthief61599 (~chatzilla@anon.iip) has joined channel #i2p</p>
<p>lucky (~lucky@anon.iip) has joined channel #i2p</p>
<p>backup (~ypo@anon.iip) has joined channel #i2p</p>
<p>Sonax (~Sonax@anon.iip) has joined channel #i2p</p>
<p>jar (jar@anon.iip) has joined channel #i2p</p>
<p>wilde (~anon@anon.iip) has joined channel #i2p</p>
<p>Signoff: backup (Ping timeout)</p>
<p>&lt;wilde&gt; hey</p>
<p>&lt;wilde&gt; is the network unstable?</p>
<p>&lt;wilde&gt; I just couldn't get back on</p>
<p>Signoff: thecrypto (Leaving)</p>
<p>&lt;lucky&gt; yea</p>
<p>&lt;lucky&gt; its a bit... ugh.</p>
<p>&lt;lucky&gt; recently.</p>
<p>&lt;wilde&gt; what happened to the meeting?</p>
<p>&lt;lucky&gt; probably got decimated</p>
<p>&lt;wilde&gt; ok lucky what was the last thing you saw from the meeting? (msg me)</p>
<p>&lt;lucky&gt; &lt;wilde&gt; cya madman2003</p>
<p>&lt;lucky&gt; &lt;-- madman2003 has quit (( www.nnscript.de :: NoNameScript<a href="iip-wiki?action=edit&id=NoNameScript" class=wikipageedit>?</a> 3.8 :: www.XLhost.de ))</p>
<p>&lt;lucky&gt; &lt;jrand0m&gt; yes mihi, that'd work (but streaming .ogg sounds cooler)</p>
<p>Galaxy (yogi@anon.iip) has joined channel #i2p</p>
<p>&lt;wilde&gt; ok that's where it ended for me too</p>
<p>&lt;fidd&gt; me2</p>
<p>Signoff: Sonax (EOF From client)</p>
<p>Sonax (~Sonax@anon.iip) has joined channel #i2p</p>
<p>&lt;kaji&gt; the meeting got nuked</p>
<p>kaji has changed the topic on channel #i2p to nuked</p>
<p>&lt;kaji&gt; ping?</p>
<p>&lt;jar&gt; pong!</p>
<p>&lt;kaji&gt; ok</p>
<p>&lt;kaji&gt; ithough it crashed again</p>
<p>&lt;jar&gt; yep :(</p>
<p>Signoff: wilde ()</p>
<p>&lt;kaji&gt; so... meeting?</p>
<p>&lt;jar&gt; ending brutaly ...</p>
<p>&lt;jar&gt; more signs of jrandom, it seems it's all for the moment</p>
<p>&lt;jar&gt; next move on 0.2.4.2 in few days ....</p>
<p>&lt;jar&gt; (one or two as said jr)</p>
<p>mihi_backup (~mihi@anon.iip) has joined channel #i2p</p>
<p>jar is now known as jar_</p>
<p>sheer (sheer@anon.iip) has joined channel #i2p</p>
<p>&lt;kaji&gt; wilde said something about funding, but last time i asked jran he said i2p wasnt in a position to need money atm</p>
<p>Signoff: Ranma ()</p>
<p>Robert (~chatzilla@anon.iip) has joined channel #i2p</p>
<p>Sonax is now known as JaSiger<a href="iip-wiki?action=edit&id=JaSiger" class=wikipageedit>?</a></p>
<p>JaSiger<a href="iip-wiki?action=edit&id=JaSiger" class=wikipageedit>?</a> is now known as Sonax</p>
<p>Signoff: Rain (I Quit)</p>
<p>zathras (~zathras@anon.iip) has joined channel #i2p</p>
<p>Ranma (ranma@anon.iip) has joined channel #i2p</p>
<p>mihi (mihi@anon.iip) has joined channel #i2p</p>
<p>&lt;mihi&gt; hmm, what happened to the meeting?</p>
<p><UL ></p>
<p><li> mihi has an idea</p>
<p></UL></p>
<p>&lt;mihi&gt; ;)</p>
<p>Mode change "+o mihi" on channel #i2p by Trent@anon.iip</p>
<p>Mode change "-o duck" on channel #i2p by mihi</p>
<p>&lt;mihi&gt; no one knowing anything about the meeting?</p>
<p><UL ></p>
<p><li> mihi notices that no one fears ops any longer ;)</p>
<p></UL></p>
<p>Signoff: zathras (Ping timeout)</p>
<p>mihi_backup has been kicked off channel #i2p by mihi (mihi)</p>
<p>zathras (~zathras@anon.iip) has joined channel #i2p</p>
<p>Signoff: Sonax (Client exiting)</p>
<p>&lt;lucky&gt; mihi, we lall got kicked for the meoeting</p>
<p>hacktic4ever (~hacktic4e@anon.iip) has joined channel #i2p</p>
<p>Signoff: hacktic4ever ()</p>
<p>&lt;mihi&gt; ok, nite</p>
<p>&lt;duck&gt; hello</p>
<p>Signoff: sheer (EOF From client)</p>
<p>Signoff: mihi (let's have more luck next week...)</p>
<p>&lt;duck&gt; did I miss anything?</p>
<p>Signoff: jnk (Ping timeout)</p>
{% endblock %}