{% extends "_layout.html" %}
{% block title %}Pages/meeting109.html{% endblock %}
{% block content %}<h3>I2P dev meeting, September 28, 2004</h3>
<div class="irclog">
<p>14:08 &lt; jrandom&gt; 0) hi</p>
<p>14:08 &lt; jrandom&gt; 1) New transport</p>
<p>14:08 &lt; jrandom&gt; 2) 0.4.1 status</p>
<p>14:08 &lt; jrandom&gt; 3) ???</p>
<p>14:08 &lt; jrandom&gt; 0) hi</p>
<p>14:08 &lt; duck&gt; hi</p>
<p>14:09 &lt; jrandom&gt; heya</p>
<p>14:09 &lt; deer&gt; &lt;ugha2p&gt; Hi.</p>
<p>14:09 &lt; deer&gt; &lt;pseudonym&gt; hi</p>
<p>14:09 &lt; jrandom&gt; weekly status notes posted up @ http://dev.i2p.net/pipermail/i2p/2004-September/000454.html</p>
<p>14:09 &lt; deer&gt; * ugha2p is looking for the weekly status notes.</p>
<p>14:09 &lt; jrandom&gt; (hey, i'm psychic)</p>
<p>14:10 &lt; jrandom&gt; ok, jumping in to 1) New transport</p>
<p>14:10 &lt; jrandom&gt; the message pretty much covers the main bits</p>
<p>14:11 &lt; jrandom&gt; its all working atm, but obviously wont talk to anyone else until the new release is out</p>
<p>14:12 &lt; jrandom&gt; i've kicked the tires on it a bit, but its pretty hard to simulate all the possible kooky network problems that occur at the transport level</p>
<p>14:12 &lt; deer&gt; &lt;pseudonym&gt; does it include windowsize?</p>
<p>14:12 &lt; deer&gt; &lt;ugha2p&gt; However, if you leave that blank, your router will let the first peer it contacts tell it what its IP address is, which it will then start listening on (after adding that to its own RouterInfo and placing that in the network database).</p>
<p>14:12 &lt; deer&gt; &lt;ugha2p&gt; Sounds like a potential security hole.</p>
<p>14:12 &lt; jrandom&gt; oh, no, this is just the inter-router transport, not the streaming lib, unfortunately</p>
<p>14:12 &lt; deer&gt; &lt;pseudonym&gt; ok</p>
<p>14:12 &lt; jrandom&gt; in a way ugha, yes</p>
<p>14:12 &lt; jrandom&gt; (which is why if people *can* set their IP, they should)</p>
<p>14:13 &lt; jrandom&gt; ugha: however, it only 'believes' someone if they have NO connections that work</p>
<p>14:13 &lt; deer&gt; &lt;ugha2p&gt; Shouldn't the router listen on 0.0.0.0 in any case?</p>
<p>14:13 &lt; jrandom&gt; but someone pretty smart could probabalistically do some evil things</p>
<p>14:14 &lt; jrandom&gt; ugha: it does that (almost always)</p>
<p>14:14 &lt; jrandom&gt; however, we need to know our IP address so we can put it in our RouterInfo</p>
<p>14:14 &lt; jrandom&gt; (since our RouterInfo is verified whenever we contact someone)</p>
<p>14:14 &lt; deer&gt; &lt;ugha2p&gt; Ah, ok.</p>
<p>14:15 &lt; deer&gt; &lt;ugha2p&gt; I'm sure there are ways to make this more secure (rely on more routers for detecting the IP), but I'm not sure if this is feasible.</p>
<p>14:15 &lt; jrandom&gt; yeah ugha, there's trouble down that path, but its a numbers game</p>
<p>14:16 &lt; deer&gt; &lt;ugha2p&gt; Anyhow, that was just a suggestion. We can move on.</p>
<p>14:16 &lt; jrandom&gt; (however, they could just sybil you and mess up whatever #s you're trying)</p>
<p>14:16 &lt; deer&gt; &lt;ugha2p&gt; Right.</p>
<p>14:17 &lt; deer&gt; &lt;ugha2p&gt; What if the router loses all connections (eg, network failure)?</p>
<p>14:17 &lt; deer&gt; &lt;ugha2p&gt; Does it redetect its IP?</p>
<p>14:18 &lt; jrandom&gt; the IP is transmitted as part of the protocol on all connection attempts, the peer just decides to honor it if 1) no ip was explicitly set 2) there are no active TCP connections</p>
<p>14:18 &lt; deer&gt; &lt;ugha2p&gt; (This would be the case with dynamic IPs)</p>
<p>14:18 &lt; jrandom&gt; right, it'll work fine with that</p>
<p>14:18 &lt; deer&gt; &lt;ugha2p&gt; Ah, ok.</p>
<p>14:19 &lt; jrandom&gt; (see ourAddressReceived(String addr) in TCPTransport.java for the details)</p>
<p>14:19 &lt; deer&gt; &lt;pseudonym&gt; what happens when reported IPs don't match?</p>
<p>14:19 &lt; jrandom&gt; pseudonym: if you already have active TCP connections, you ignore what other people tell you</p>
<p>14:20 &lt; jrandom&gt; if you dont have active TCP connections, you tear down the old listener and start up a new one with the new address given</p>
<p>14:20 &lt; jrandom&gt; (updating your routerInfo)</p>
<p>14:22 &lt; deer&gt; &lt;pseudonym&gt; if there are active conns, it seems like a mismatch should be a red flag</p>
<p>14:22 &lt; deer&gt; &lt;pseudonym&gt; (I'm not sure what to do with it)</p>
<p>14:22 &lt; jrandom&gt; if someone gives us the wrong IP address (and we *know* its the wrong IP address, since we already have the right one - that *works*) we ignore it</p>
<p>14:23 &lt; deer&gt; &lt;ugha2p&gt; Too bad we can no longer reduce the router's reliability ranking.</p>
<p>14:23 &lt; jrandom&gt; we can add that to the list of connection errors though</p>
<p>14:24 &lt; jrandom&gt; ugha: but we can shitlist 'em ;)</p>
<p>14:24 &lt; jrandom&gt; (and we do)</p>
<p>14:24 &lt; deer&gt; &lt;pseudonym&gt; how do we know the one we already have is "right"?  maybe the existing conns are from black hats</p>
<p>14:24 &lt; deer&gt; &lt;pseudonym&gt; especially if we have few or only recent conns</p>
<p>14:24 &lt; jrandom&gt; pseudonym: the existing connections are "right" in that they can send and receive data</p>
<p>14:24 &lt; deer&gt; &lt;ugha2p&gt; pseudonym: We can be sure when we get new inbound connections, although those can be spoofed as well.</p>
<p>14:25 &lt; jrandom&gt; right, if we're talking about someone concerned with an active IP spoofing attack in addition to sybil...</p>
<p>14:25 &lt; jrandom&gt; well, that person can simply set their IP address ;)</p>
<p>14:25 &lt; deer&gt; &lt;ugha2p&gt; :)</p>
<p>14:26 &lt; deer&gt; &lt;pseudonym&gt; but what's the likelyhood that the operator will even know what's happening</p>
<p>14:26 &lt; deer&gt; &lt;pseudonym&gt; if we get a lot of mismatches there should be some active alert</p>
<p>14:27 &lt; deer&gt; &lt;pseudonym&gt; (this may be something to worry about in a later release, but since it came up...)</p>
<p>14:27 &lt; jrandom&gt; we can add an explicit message to the list of connection errors</p>
<p>14:27 &lt; jrandom&gt; the only real concern here is that we're trying to prevent a restricted route from being formed</p>
<p>14:27 &lt; jrandom&gt; (and the extreme of that being a full network partition)</p>
<p>14:30 &lt; jrandom&gt; thats about all i can see us working to deal with for now, at least until the 2.0 rev when we need to worry beyond the restricted route</p>
<p>14:30 &lt; jrandom&gt; ok, anyone else have anything wrt the new transport?</p>
<p>14:31 &lt; jrandom&gt; if not, moving on to 2) 0.4.1 status</p>
<p>14:31 &lt; jrandom&gt; all the "necessary" stuff is done, but theres still some debugging and minor updates to get in</p>
<p>14:32 &lt; jrandom&gt; current target is a thursday release, but we'll see what gets added or removed from the rev ;)</p>
<p>14:33 &lt; jrandom&gt; one thing that would be cool is if someone could download a jetty install, check out the jetty.xml config file, and could write up some docs on how to run a jetty instance (for an eepsite/etc) with what is shipped with i2p</p>
<p>14:33 &lt; deer&gt; &lt;ugha2p&gt; Does 0.4.1 include other updates than the new TCP transport?</p>
<p>14:33 &lt; jrandom&gt; not really ugha :)</p>
<p>14:34 &lt; deer&gt; &lt;pseudonym&gt; is it backward compatible?</p>
<p>14:34 &lt; jrandom&gt; (see: www.i2p.net/roadmap )</p>
<p>14:34 &lt; jrandom&gt; no, it is not backwards compatible</p>
<p>14:34 &lt; deer&gt; &lt;ugha2p&gt; :)</p>
<p>14:36 &lt; jrandom&gt; ok, thats all ive got to mention wrt 0.4.1.. anything else on that?</p>
<p>14:36 &lt; jrandom&gt; if not, we're on to ol' faithful: 3) ???</p>
<p>14:36 &lt; deer&gt; &lt;ugha2p&gt; *silence*</p>
<p>14:37 &lt; jrandom&gt; anyone have anything else (i2p related) they want to bring up?</p>
<p>14:37 &lt; jrandom&gt; we're already twice as long as last week's meeting ;)</p>
<p>14:37 &lt; deer&gt; &lt;ugha2p&gt; Well, I could mention that thanks to cervantes, my Wiki now has an outproxy to the real world, through http://ugha.ath.cx/</p>
<p>14:38 &lt; deer&gt; * pseudonym is a troublemaker</p>
<p>14:38 &lt; jrandom&gt; ooh right, v.cool</p>
<p>14:38 &lt; jrandom&gt; s/outproxy/inproxy/ :)</p>
<p>14:38  * jrandom sends the troublemaker to the corner</p>
<p>14:38 &lt; deer&gt; &lt;ugha2p&gt; Right, inproxy. :)</p>
<p>14:40 &lt; jrandom&gt; ok, if there's nothing else</p>
<p>14:40 &lt; deer&gt; &lt;pseudonym&gt; I think the new mail service from the postmaster is pretty cool</p>
<p>14:40 &lt; jrandom&gt; oh, definitely agreed</p>
<p>14:40 &lt; deer&gt; &lt;pseudonym&gt; er, postman</p>
<p>14:41 &lt; deer&gt; * ugha2p has yet to sign up.</p>
<p>14:41 &lt; deer&gt; &lt;baffled&gt; has anyone heard anything of stasher recently?</p>
<p>14:41 &lt; jrandom&gt; its nice that it works with both telnet and kmail:)</p>
<p>14:41 &lt; jrandom&gt; naw baffled, havent heard a peep</p>
<p>14:42 &lt; deer&gt; &lt;baffled&gt; I guess aum needs a boot to the head.</p>
<p>14:42 &lt; deer&gt; &lt;ugha2p&gt; I would probably write a page about EepMailAnonymity, but I don't know too much about SMTP/POP3/IMAP/other e-mail-related stuff.</p>
<p>14:42 &lt; jrandom&gt; not the head, the butt ;)</p>
<p>14:43 &lt; jrandom&gt; ugha: www.postman.i2p has a few pages about that</p>
<p>14:43 &lt; deer&gt; &lt;ugha2p&gt; Ah.</p>
<p>14:43 &lt; deer&gt; &lt;baffled&gt; they may be the same.</p>
<p>14:45 &lt; deer&gt; * ugha2p taps his fingers waiting for the baf.</p>
<p>14:45 &lt; jrandom&gt; sorry, nearly passed out here (loong day)</p>
<p>14:46 &lt; jrandom&gt; anything else?  if not, we've got the forum and the list</p>
<p>14:46 &lt; duck&gt; thanks to Mi-Go we have an updated i2ptunnel page</p>
<p>14:46 &lt; duck&gt; it is almost perfect</p>
<p>14:46 &lt; jrandom&gt; ooh nice</p>
<p>14:46 &lt; duck&gt; but if someone has some improvements, you know where to find me</p>
<p>14:47  * jrandom traceroutes</p>
<p>14:47  * jrandom winds up</p>
<p>14:47  * jrandom *baf*s the meeting closed</p>
</div>
{% endblock %}