{% extends "_layout.html" %}
{% block title %}Pages/meeting100.html{% endblock %}
{% block content %}<h3>I2P dev meeting, July 27 @ 21:00 GMT</h3>
<div class="irclog">
<p>14:02 &lt; jrandom&gt; 0) hi</p>
<p>14:02 &lt; jrandom&gt; 1) 0.3.3 &amp; current updates</p>
<p>14:02 &lt; jrandom&gt; 2) NativeBigInteger</p>
<p>14:03 &lt; jrandom&gt; 3) ???</p>
<p>14:03 &lt; jrandom&gt; 0) hi</p>
<p>14:03  * jrandom waves</p>
<p>14:03 &lt; jrandom&gt; weekly status notes up @ http://dev.i2p.net/pipermail/i2p/2004-July/000372.html</p>
<p>14:03 &lt; jrandom&gt; (thanks to hypercubus' prodding i got it out before the meeting :)</p>
<p>14:04 &lt; jrandom&gt; ok, jumping on in</p>
<p>14:04 &lt; jrandom&gt; 1) 0.3.3 &amp; current updates</p>
<p>14:06 &lt; jrandom&gt; there's a truckload of info in the email describing whats going on, and there should be a substantial reduction in bandwidth usage coming up</p>
<p>14:07 &lt; jrandom&gt; it won't be backwards compatible because it changes a lot of things, so the next release will be a bumpy upgrade as well, but c'est la vie</p>
<p>14:08 &lt; jrandom&gt; anyone have any questions wrt the 0.3.3 rev or the things posted in the status notes?</p>
<p>14:08  * dm waves</p>
<p>14:08  * jrandom is seeing 23s lag here @ freenode</p>
<p>14:09  * hypercubus sees 0.10 secs lag</p>
<p>14:09 &lt; jrandom&gt; ah back to normal</p>
<p>14:09 &lt; jrandom&gt; ok, if there's nthing, we can just jump in to 2) NativeBigInteger</p>
<p>14:10 &lt; jrandom&gt; Iakin3 has modified some things so it'll be simpler to deploy the crypto code out of the box, which is Good</p>
<p>14:10 &lt; jrandom&gt; every once in a while i look in the netDb and see some people with 2-400ms delays when doing ElGamal encryption, which means some people aren't using jbigi</p>
<p>14:11 &lt; jrandom&gt; (and everyone should use jbigi)</p>
<p>14:12 &lt; deer&gt; &lt;Nightblade&gt; how do you know they are not just on slow computers</p>
<p>14:12 &lt; Sonium&gt; why isn't it use automaticaly?</p>
<p>14:12 &lt; hypercubus&gt; because it must be custom compiled for each platform</p>
<p>14:12 &lt; jrandom&gt; we might be able to get that deployed in this next rev, but we'll see</p>
<p>14:12 &lt; deer&gt; &lt;oOo&gt; If the DLL is not present, the program continue using java-only code (needed for cross-platform support)</p>
<p>14:12 &lt; hypercubus&gt; and currently the platform is not detected</p>
<p>14:12 &lt; jrandom&gt; Nightblade: thats possible, of course</p>
<p>14:13 &lt; jrandom&gt; oOo right, we definitely will keep that functionality</p>
<p>14:13 &lt; deer&gt; &lt;oOo&gt; Nope, force the existence of the dll an .so files, even if empty or useless</p>
<p>14:13 &lt; jrandom&gt; actually, thats another one of the things we're gaining with some of the current mods i'm working on - we only need to do half as many elGamal encryptions (since the sourceRouteBlock is gone)</p>
<p>14:14 &lt; jrandom&gt; hmm oOo?</p>
<p>14:14 &lt; jrandom&gt; why would we want to do that?</p>
<p>14:15 &lt; deer&gt; &lt;oOo&gt; Force a check of the _existence_ of the library files. If they are not use, you most likely aren't on a x86 Win/Linux platform and are forced to use the Java code. Anyway you did your best to force the use of native stuff</p>
<p>14:15 &lt; jrandom&gt; oh, right, we have always checked for libjbigi.so / jbigi.dll, the thing Iakin's code adds is the ability to package up a whole bunch of DLL and .so files into a jar and choose the *right* one at runtime</p>
<p>14:16 &lt; hypercubus&gt; &lt;/obvious&gt;</p>
<p>14:16 &lt; jrandom&gt; (falling back on pure java if none match)</p>
<p>14:17 &lt; jrandom&gt; anyway, thats some good stuff that'll hopefully help new users out a bunch</p>
<p>14:17 &lt; jrandom&gt; (and saves me the time of doing some ugly drop down boxes on the admin interface :)</p>
<p>14:18 &lt; jrandom&gt; ok, if there's nothing more on that, i think thats all i've got</p>
<p>14:18 &lt; jrandom&gt; so moving on to 3) ???</p>
<p>14:18 &lt; jrandom&gt; anyone else have anything they want to bring up?</p>
<p>14:18 &lt; hypercubus&gt; someone should run a spellchecker on the new website ;-)</p>
<p>14:19 &lt; jrandom&gt; you've got cvs access now... :)</p>
<p>14:19 &lt; jrandom&gt; (module: i2pwww)</p>
<p>14:19 &lt; hypercubus&gt; damn</p>
<p>14:19 &lt; deer&gt; &lt;oOo&gt; The corruption on big transfer, even local one, is under investigation (like grabbing several Mb from your own eepsite) ?</p>
<p>14:20 &lt; hypercubus&gt; i've had many interrupted downloads of big files, but never a corruption</p>
<p>14:20 &lt; jrandom&gt; hmm, most instances of that issue have been resolved, but i've heard reports recently about it.  i haven't gone through the app layer and audited things yet again</p>
<p>14:21 &lt; jrandom&gt; i consider interrupted downloads corrupted</p>
<p>14:21 &lt; jrandom&gt; it must work first time, all the way through</p>
<p>14:21 &lt; hypercubus&gt; well you can't help it, because that's what happens on the real WWW too ;-)</p>
<p>14:21 &lt; deer&gt; &lt;oOo&gt; Not when the grabber is on the same computer then the server ^^</p>
<p>14:22 &lt; jrandom&gt; oOo: can you reproduce that?</p>
<p>14:22 &lt; jrandom&gt; (or is it intermittent?)</p>
<p>14:22 &lt; deer&gt; &lt;oOo&gt; jrandom: Did twice, was thinking it was knowed, will try again</p>
<p>14:23 &lt; jrandom&gt; thanks.  if you can reproduce it, please let me know the details of the test and i'll dig further into it.  </p>
<p>14:23 &lt; jrandom&gt; (i've got to audit the app layer again anyway soo)</p>
<p>14:23 &lt; deer&gt; &lt;oOo&gt; jrandom: No problem, thanks</p>
<p>14:24 &lt; jrandom&gt; ok, anyone else have anything they want to ask/bring up?</p>
<p>14:25 &lt; cat-a-puss&gt; I'm still interested in talking about how to do myI2P</p>
<p>14:25 &lt; cat-a-puss&gt; I may be able to bring a few people in in a few months</p>
<p>14:25 &lt; jrandom&gt; awesome!</p>
<p>14:26 &lt; hypercubus&gt; a class project? ;-)</p>
<p>14:26 &lt; cat-a-puss&gt; something like that ;-)</p>
<p>14:27 &lt; jrandom&gt; i think once we get 0.4 out there with the new web interface, it should be much easier to put together apps (like myi2p) w/ a web frontend</p>
<p>14:27 &lt; cat-a-puss&gt; so you think that can be done on the purely application layer?</p>
<p>14:27 &lt; jrandom&gt; absolutely</p>
<p>14:28 &lt; jrandom&gt; what else did you have in mind?</p>
<p>14:28 &lt; cat-a-puss&gt; well the network DB could be used to store metadata</p>
<p>14:28 &lt; jrandom&gt; ahh</p>
<p>14:28 &lt; cat-a-puss&gt; would it have access to that?</p>
<p>14:28 &lt; hypercubus&gt; *cough*</p>
<p>14:28 &lt; jrandom&gt; no, nothing has access to the netDb</p>
<p>14:29 &lt; jrandom&gt; we're able to work some magic in the netDb because its quite focused just on serving as our distributed routing table</p>
<p>14:29 &lt; hypercubus&gt; cat-a-puss: what you want is the DHT that Nightblade is working on</p>
<p>14:29 &lt; jrandom&gt; myi2p (et al) could certainly use a DHT on top of i2p though</p>
<p>14:30 &lt; hypercubus&gt; (enclave)</p>
<p>14:30 &lt; jrandom&gt; what sort of metadata were you thinking about?</p>
<p>14:31 &lt; cat-a-puss&gt; well I invesioned doing something like chanels in Frost which runs off of an ssk in freenet</p>
<p>14:31 &lt; cat-a-puss&gt; so you run the ssks on the DHT on top of I2p</p>
<p>14:31 &lt; jrandom&gt; right</p>
<p>14:31 &lt; jrandom&gt; that might be a bit of an overkill for some things though</p>
<p>14:31 &lt; cat-a-puss&gt; but you still need a metakey that lists all the people's ssks that are subscribed to the channel</p>
<p>14:32 &lt; dm&gt; dht over i2p... </p>
<p>14:32  * dm doesn't see that working reliable any time soon.</p>
<p>14:32 &lt; Connelly&gt; a generic DHT library would be nice</p>
<p>14:32 &lt; dm&gt; reliably</p>
<p>14:32 &lt; deer&gt; &lt;Nightblade&gt; what's a dht library</p>
<p>14:32 &lt; cat-a-puss&gt; that needs to work diferently ...</p>
<p>14:33 &lt; jrandom&gt; cat-a-puss: i suppose it depends on what sort of activity would go on, but while frost style boards might be good for some things, fmb style boards might be good for others, and blog aggregators might be good for still others</p>
<p>14:34 &lt; Connelly&gt; well a kademlia implementation or somesuch</p>
<p>14:34 &lt; Connelly&gt; I assume enclave would be something like it</p>
<p>14:34 &lt; deer&gt; &lt;Nightblade&gt; i think i'm going to do some changes on LibSAM first</p>
<p>14:34 &lt; deer&gt; &lt;Nightblade&gt; only two weeks of classes left, for me, counting this week</p>
<p>14:34 &lt; deer&gt; &lt;Nightblade&gt; then I will be able to do some stuff I hope</p>
<p>14:35 &lt; jrandom&gt; w00t!  :)</p>
<p>14:37 &lt; cat-a-puss&gt; jrandom: basicly the goal is to be all things to all people. If the network does not do everything, people will use something else. (and it needs to be better at it to attract cover traffic)</p>
<p>14:38 &lt; jrandom&gt; i've worked on too many projects that try to do the 'swiss army knife' style - if you build it, they will come</p>
<p>14:38 &lt; hypercubus&gt; the network is a transport layer, not the application layer ;-)</p>
<p>14:38 &lt; jrandom&gt; it very, very, very rarely works out.</p>
<p>14:38 &lt; jrandom&gt; the i2p transport layer should support all possible point to point comm, definitely</p>
<p>14:38 &lt; jrandom&gt; but applications on top of i2p should be user friendly - meaning they address a specific user need and help them with it</p>
<p>14:39 &lt; jrandom&gt; the masses don't want a comm layer, they want a way to talk to people, to read what people say, and to explore</p>
<p>14:39 &lt; Connelly&gt; naw, we should create an XUL, and all new Gecko system</p>
<p>14:39 &lt; Connelly&gt; then build a conglomerate of Mozilla programs on top of that</p>
<p>14:39 &lt; Connelly&gt; then integrate collaborative systems into Mozilla ;)</p>
<p>14:40 &lt; cat-a-puss&gt; great provided the app has enough control over the comm layer to make it do what it wants.</p>
<p>14:40 &lt; dm&gt; Maxthon &gt; Mozilla</p>
<p>14:40 &lt; jrandom&gt; cat-a-puss: absolutely.  all apps using SAM, I2CP, or the SDK can do what every other app can do</p>
<p>14:41 &lt; jrandom&gt; (which should be sufficient [the functionality / API is modelled after JMS and MOMs, which has been battle tested for well over a decade in industry])</p>
<p>14:43 &lt; cat-a-puss&gt; ok, so I've essencialy got: Tcp, datagram, both of those + anonymity if I want it, and a DHT that operates above all that.</p>
<p>14:44 &lt; hypercubus&gt; you have some anonymity, whether you like it or not ;-)</p>
<p>14:44 &lt; cat-a-puss&gt; so the app cannot set the tunnel lenth to 0 even if it wants to?</p>
<p>14:44 &lt; jrandom&gt; right - i2p itself is the TCP/datagram stuff, and the enclave DHT app could be used as a base for the data store</p>
<p>14:44 &lt; jrandom&gt; absolutely</p>
<p>14:45 &lt; jrandom&gt; in fact, with 0 hop tunnels and the defense Connelly outlined last week, it can be pretty anon vs some attackers</p>
<p>14:45 &lt; jrandom&gt; er, i misread what you said.  yes the app can set the tunnel length to 0, but in fact, that still provides some degree of anonymity</p>
<p>14:46 &lt; cat-a-puss&gt; ok</p>
<p>14:46 &lt; jrandom&gt; (sufficient for some people, but insufficient vs some statistical attacks)</p>
<p>14:46 &lt; hypercubus&gt; if you wanted no anonymity, you shouldn't be running your traffic over i2p</p>
<p>14:47 &lt; cat-a-puss&gt; and different apps on the same host/port I assume are just handled with seperate keys?</p>
<p>14:47 &lt; jrandom&gt; exactly</p>
<p>14:47 &lt; deer&gt; &lt;DrWoo&gt; low anonymity could be popular for running p2p over I2P ?</p>
<p>14:47 &lt; cat-a-puss&gt; then the only question I have left is some sort of an "answering service"</p>
<p>14:47 &lt; jrandom&gt; right DrWoo - filesharing / etc would probably be able to use 0 hop tunnels</p>
<p>14:48 &lt; deer&gt; &lt;DrWoo&gt; hey soros!</p>
<p>14:48 &lt; hypercubus&gt; i'm thinking BitTorrent-style apps on i2p would likely need 0-1 hop tunnels</p>
<p>14:48 &lt; Connelly&gt; jrandom: which defense for 0 hop tunnels?</p>
<p>14:48 &lt; deer&gt; &lt;soros&gt; hey woo :D</p>
<p>14:48 &lt; deer&gt; &lt;DrWoo&gt; soros: you were hiding hehe</p>
<p>14:48 &lt; cat-a-puss&gt; IE: set something up in the i2p database where my traffic goes to someone else while I am offline, and then when I come back up I contact them and they fill me in on what I missed?</p>
<p>14:48 &lt; cat-a-puss&gt; they needn't be able to decrypt it</p>
<p>14:48 &lt; deer&gt; &lt;soros&gt; gave up on iip for a few months</p>
<p>14:48 &lt; dm&gt; soros and drwoo reunion...</p>
<p>14:48 &lt; dm&gt; TEAR</p>
<p>14:48 &lt; hypercubus&gt; cat-a-puss: again, app layer stuff</p>
<p>14:49 &lt; jrandom&gt; cat-a-puss: i don't know, that sort of functionality i hadn't really envisioned w/ myi2p, but there are a few ways to do it</p>
<p>14:49 &lt; deer&gt; &lt;soros&gt; is this going to freenode automatically ?</p>
<p>14:49 &lt; deer&gt; &lt;soros&gt; oops.. this is i2p sorry</p>
<p>14:49 &lt; jrandom&gt; Connelly: using strict ordering for the peers in the tunnel</p>
<p>14:49 &lt; deer&gt; &lt;DrWoo&gt; soros: it's a little confusing lol</p>
<p>14:50 &lt; Connelly&gt; ok</p>
<p>14:50 &lt; hypercubus&gt; we need to run a poll on the forum to vote for a new name for myI2P ;-)</p>
<p>14:51 &lt; jrandom&gt; betty</p>
<p>14:51 &lt; hypercubus&gt; MyBetty?</p>
<p>14:51 &lt; dm&gt; MY TOOPIE</p>
<p>14:51 &lt; jrandom&gt; heh</p>
<p>14:51 &lt; deer&gt; &lt;Nightblade&gt; how about acropolis....... was that it?</p>
<p>14:51 &lt; hypercubus&gt; Betty Toop?</p>
<p>14:51 &lt; deer&gt; &lt;soros&gt; MOAP2P</p>
<p>14:51 &lt; deer&gt; &lt;DrWoo&gt; I2P H@ME</p>
<p>14:51 &lt; deer&gt; &lt;soros&gt; Mother of all P2P</p>
<p>14:52 &lt; hypercubus&gt; nightblade: yeah, acropolis</p>
<p>14:52 &lt; hypercubus&gt; i like it</p>
<p>14:53 &lt; dm&gt; How about: Pipi in your face</p>
<p>14:53 &lt; hypercubus&gt; dm: you do know this is all going in the meeting log right? ;-)</p>
<p>14:53 &lt; Connelly&gt; man, I got a great idea</p>
<p>14:53 &lt; deer&gt; &lt;DrWoo&gt; Center of the Known I2P</p>
<p>14:53 &lt; dm&gt; hypercubus: pipi in your face</p>
<p>14:53 &lt; Connelly&gt; let's integrate a 3D user-programmable RPG into I2P H@ME</p>
<p>14:53 &lt; deer&gt; &lt;soros&gt; call it HyperCube.</p>
<p>14:54 &lt; Connelly&gt; and use Mozilla technology to do it :)</p>
<p>14:54 &lt; dm&gt; Maxthon pipi on mozilla</p>
<p>14:54 &lt; Connelly&gt; fine, Maxthon</p>
<p>14:54 &lt; hypercubus&gt; you on a xul kick connelly? ;-)</p>
<p>14:54 &lt; Connelly&gt; yeah!</p>
<p>14:55 &lt; Connelly&gt; but we should create a whole XML-based programming language</p>
<p>14:55 &lt; Connelly&gt; it would be more flexible that way</p>
<p>14:55 &lt; jrandom&gt; and then lets build our own hardware too</p>
<p>14:55 &lt; hypercubus&gt; i2p custom wireless mesh routers</p>
<p>14:55 &lt; jrandom&gt; and put together a distribution company with ships and trains to get 'em out there! :)</p>
<p>14:55 &lt; dm&gt; I know CPUs</p>
<p>14:55 &lt; dm&gt; I build one</p>
<p>14:56 &lt; deer&gt; &lt;mule&gt; plus build the chip production facilities ...</p>
<p>14:56 &lt; Connelly&gt; yeah, an anonymous shipping corporation</p>
<p>14:56 &lt; hypercubus&gt; call it WhoEx</p>
<p>14:56 &lt; Connelly&gt; and use reflectors on the moon to beam laser internet traffic to each other!</p>
<p>14:57 &lt; hypercubus&gt; time to boof the meeting i sense</p>
<p>14:57 &lt; jrandom&gt; on that not..</p>
<p>14:57 &lt; jrandom&gt; er, note</p>
<p>14:57 &lt; jrandom&gt; anything else people want to bring up?  if not, we've got the forums and the mailing list</p>
<p>14:57 &lt; jrandom&gt; (and we're here all the time ;)</p>
<p>14:57  * jrandom winds up</p>
<p>14:57 &lt; dm&gt; not me, I have a life.</p>
<p>14:57 &lt; dm&gt; LOSERS</p>
<p>14:57 &lt; dm&gt; NEEEEEEEEEEEEEEEERRRRRRRRRDDDDDDDSSSSS</p>
<p>14:57  * jrandom *baf*s dm on the head</p>
<p>14:58 &lt; jrandom&gt; (closing the meeting)</p>
</div>
{% endblock %}