{% extends "_layout.html" %}
{% block title %}Pages/meeting140.html{% endblock %}
{% block content %}<h3>I2P dev meeting, May 3, 2005</h3>
<div class="irclog">
<p>14:08 &lt; jrandom&gt; 0) hi</p>
<p>14:08 &lt; jrandom&gt; 1) Net status</p>
<p>14:08 &lt; jrandom&gt; 2) SSU status</p>
<p>14:08 &lt; jrandom&gt; 3) i2phex</p>
<p>14:08 &lt; jrandom&gt; 4) awol</p>
<p>14:08 &lt; jrandom&gt; 5) ???</p>
<p>14:08 &lt; jrandom&gt; 0) hi</p>
<p>14:08  * jrandom waves</p>
<p>14:08 &lt; jrandom&gt; weekly status notes posted nearly an hour early @ http://dev.i2p.net/pipermail/i2p/2005-May/000738.html</p>
<p>14:09  * Masterboy waves back:P</p>
<p>14:10 &lt; jrandom&gt; ok, jumping into 1) Net status</p>
<p>14:10 &lt; jrandom&gt; i don't really have too much more to add, though it does appear that we may be up for some turbulance from the azureus influx</p>
<p>14:11 &lt; jrandom&gt; hopefully it'll hold up well enough though, we'll see</p>
<p>14:11 &lt; Masterboy&gt; no big probs for me and i can't remember the little ones.</p>
<p>14:11 &lt; jrandom&gt; heh cool</p>
<p>14:11 &lt; jrandom&gt; anyone else have any questions/comments/concerns wrt the current net status?  </p>
<p>14:11 &lt; sirup&gt; is azureus using out proxies?</p>
<p>14:12 &lt; jrandom&gt; heh i hope not</p>
<p>14:12 &lt; jrandom&gt; its probably just people trying it out after seeing the option listed</p>
<p>14:12 &lt;@smeghead&gt; most will bugger off in a week or so</p>
<p>14:13 &lt; Masterboy&gt; :D</p>
<p>14:13 &lt;+DrWoo&gt; smeghead: that's not good</p>
<p>14:13 &lt; sirup&gt; so they wrap two different networks under one hood</p>
<p>14:13 &lt;+cervantes&gt; it's not mentioned in the az release notes</p>
<p>14:13 &lt;+cervantes&gt; although it is listed in the plugins section</p>
<p>14:14 &lt; ant&gt; &lt;cat-a-puss&gt; There is a link that mentions it on the left of their main page</p>
<p>14:14 &lt; jrandom&gt; it'll be great once 0.6 is out and we can handle the increased user load</p>
<p>14:14 &lt;+DrWoo&gt; jrandom: what is the current status of getting out a build to cope with more users?</p>
<p>14:14 &lt; jrandom&gt; yeah, azureus is currently our largest referrer to the website, well more than even the /. references</p>
<p>14:15 &lt; jrandom&gt; DrWoo: no chance.  </p>
<p>14:15 &lt; sirup&gt; don't let that stress you and put out 0.6 too early</p>
<p>14:15  * eAi sets unreasonable bandwidth limit to stop people haxoring my download speed</p>
<p>14:15 &lt; ant&gt; &lt;cat-a-puss&gt; how big of a network will .6 support?</p>
<p>14:15 &lt; jrandom&gt; DrWoo: 0.6 is the solution, and that'll be ready when its ready :)</p>
<p>14:15 &lt;+cervantes&gt; there are 445 google hits for "i2p" and "azureus"</p>
<p>14:15 &lt; jrandom&gt; heh eAi </p>
<p>14:16 &lt;+cervantes&gt; I must say I was impressed with the throughput of the test SSU net</p>
<p>14:16 &lt; Masterboy&gt; w00t cervantes:)</p>
<p>14:16 &lt;+DrWoo&gt; jrandom: you know I love ya but your shedule is slipping like a $5 hooker's panties ;)</p>
<p>14:16 &lt; jrandom&gt; cat-a-puss: it removes our current bottleneck to the point that i don't see the next bottleneck clearly.  i hope it'll handle into the thousands.</p>
<p>14:16 &lt;+cervantes&gt; managed to max out my DSL connection with a straight http file transfer</p>
<p>14:17 &lt; jrandom&gt; damn straight DrWoo ;)  if it could be done faster, that'd be great, but i've got to move next week, so there really isn't any alternative</p>
<p>14:17 &lt; sirup&gt; cervantes: 0 hops both ends ;)</p>
<p>14:18 &lt; jrandom&gt; sirup: sure, but the point is the SSU transport was able to handle it</p>
<p>14:18 &lt;+DrWoo&gt; jrandom: yikes that sux, good luck :)</p>
<p>14:18 &lt; Teal`c__&gt; there is an alternative.  I'm calling toad, he'll finish it up while you're in tahiti</p>
<p>14:18 &lt;@smeghead&gt; movin' on up, to the east side, to a deluxe apartment in the skyyyyy</p>
<p>14:18 &lt; shendaras&gt; You have a place in mind, jrandom, or is it up in the air where you end up?</p>
<p>14:19 &lt;+cervantes&gt; *mute*</p>
<p>14:19 &lt; jrandom&gt; heh</p>
<p>14:19 &lt; jrandom&gt; i think i know what country i'll end up in.  beyond that, not really</p>
<p>14:19 &lt; jrandom&gt; ok, anyway, back onto the agenda</p>
<p>14:19 &lt; jrandom&gt; anything else on 1) Net status, or shall we move on to 2) SSU status?</p>
<p>14:20 &lt; Masterboy&gt; move</p>
<p>14:20 &lt; jrandom&gt; consider us moved</p>
<p>14:21 &lt; jrandom&gt; ok, as described in the status notes and as cervantes said a minute ago, things are looking promising</p>
<p>14:22 &lt; jrandom&gt; this first round of live net tests caught a few bugs but also helped expose some of the tradeoffs in bandwidth, latency, and tcp-friendliness</p>
<p>14:23 &lt; Masterboy&gt; how can one join a test net?:P</p>
<p>14:23 &lt; jrandom&gt; thats the thing - the ssu testing is done on the live net</p>
<p>14:24 &lt; jrandom&gt; if you look in the netDb, you'll see that some peers have both TCP and SSU addresses, while almost everyone else has just a TCP address.  </p>
<p>14:24 &lt; jrandom&gt; peers who know how to talk via SSU try that first, but fall back on TCP if the SSU port isn't reachable.</p>
<p>14:25 &lt; jrandom&gt; still, and i can't emphesize this enough, ssu is not production ready.  it will break, and it will cause problems, so people should not use it except as part of explicit tests</p>
<p>14:25 &lt; Masterboy&gt; thanks:)</p>
<p>14:26 &lt; jrandom&gt; for now, everyone should disable ssu, but in the next day or so there'll be more info made available on my blog for the second round of tests</p>
<p>14:27 &lt; jrandom&gt; ok, i think that and the email covered pretty much what i have to bring up wrt ssu.  anyone have any questions/comments/concerns?</p>
<p>14:27 &lt; Teal`c__&gt; jrandom: can we use ssu while your gone ?</p>
<p>14:28 &lt; jrandom&gt; probably, but people may want to talk to other users to see if it acts up, and if it does, just disable it</p>
<p>14:29 &lt; shendaras&gt; What's your new SACK technique? =)</p>
<p>14:29 &lt; jrandom&gt; i've still got almost a week of hacking time left, so there's going to be more improvement</p>
<p>14:30 &lt;+bla&gt; jrandom: I was just thinking... When there is a SSU connection between two nodes, do they drop the TCP connection between them (since that's not necessary then)?</p>
<p>14:30 &lt; jrandom&gt; heh shendaras, its just exploiting the small message size and fixed fragmentation to let the receiver transmit explicit ACKs/NACKs for a full message in a bitfield, rather than ACKing or NACKing each fragment separately</p>
<p>14:31 &lt; jrandom&gt; bla: correct, they never establish a TCP connection if SSU is available</p>
<p>14:31 &lt; jrandom&gt; the two transports 'bid' on each message being sent, and the SSU transport is configured to bid 'lower' than the TCP transport</p>
<p>14:31 &lt;+bla&gt; jrandom: That's good, but it means I'll have to update my theland.i2p scripts :(... ;)</p>
<p>14:32 &lt; jrandom&gt; heh well, yeah too bad ;)</p>
<p>14:32 &lt; jrandom&gt; (the new peers.jsp may be what you're after though)</p>
<p>14:33 &lt;+bla&gt; jrandom: I'll have a look. But I don't plan on using SSU until it is ready, though</p>
<p>14:33 &lt;+cervantes&gt; perhaps we should all stay on TCP so bla doesn't have to do any coding</p>
<p>14:34 &lt; jrandom&gt; heh </p>
<p>14:34 &lt; jrandom&gt; cool bla, yeah, no rush</p>
<p>14:34 &lt;+cervantes&gt; ;)</p>
<p>14:34 &lt;+bla&gt; cervantes: ;) </p>
<p>14:35 &lt;+cervantes&gt; will there be any situations where an SSU connection is not appropriate and a TCP one would be preferred?</p>
<p>14:36  * Masterboy pokes jr</p>
<p>14:36 &lt; jrandom&gt; the current default setup prefers an established TCP connection to an unestablished SSU connection</p>
<p>14:36 &lt; jrandom&gt; (you can override that with a config flag, i think its documented in the history.txt)</p>
<p>14:37 &lt;@smeghead&gt; there are some people who've claimed their ISPs block UDP altogether</p>
<p>14:37 &lt; jrandom&gt; but in general, no i can't think of why you'd want to go TCP when SSU is available</p>
<p>14:37 &lt;+cervantes&gt; yup I know about the config option...but I mean are there circumstances where it would be better to use TCP instead of UDP packets</p>
<p>14:37 &lt; jrandom&gt; smeghead: there are some people who've claimed elvis was a martian</p>
<p>14:38 &lt;+cervantes&gt; so it's good just as a fallback</p>
<p>14:38 &lt; jrandom&gt; cervantes: none i can think of, as long as ssu is available by both peers</p>
<p>14:39 &lt; jrandom&gt; perhaps as a fallback, though it does raise issues of restricted routes, as all peers must be able to contact all peers.</p>
<p>14:40 &lt; jrandom&gt; if we allow TCP only nodes, that means everyone must be reachable through TCP and UDP</p>
<p>14:41 &lt; Teal`c__&gt; :~(</p>
<p>14:41 &lt; jrandom&gt; for this summer, we'll probably support both, but i'm inclined to lean towards udp only</p>
<p>14:41 &lt; entroy&gt; Hi, can any one tell me where I can go to ask a q about setting up 12p and Azureus?</p>
<p>14:41 &lt; jrandom&gt; (until 2.0)</p>
<p>14:42 &lt; jrandom&gt; hi entroy, #i2p-chat may be able to help, or forum.i2p.net.  we're in our weekly dev meeting at the moment, but can help you out afterwards if you're still having trouble</p>
<p>14:42 &lt;+cervantes&gt; here they come, repel borders :)</p>
<p>14:42 &lt; jrandom&gt; cervantes: anyone who can make it onto irc is one of us :)</p>
<p>14:42 &lt;@smeghead&gt; better call the Minutemen</p>
<p>14:43 &lt; Teal`c__&gt; liverpool or chelsea ?!</p>
<p>14:43 &lt; entroy&gt; ok, thx</p>
<p>14:43 &lt; ant&gt; &lt;cat-a-puss&gt; jrandom: WRT bitfields, if we assume most of the packets are going to be successfully received, then the bitfields would be almost all 1's. Wouldn't it be more efficent to list the number of NACKS and then encode them ECC style.</p>
<p>14:43 &lt;+cervantes&gt; jrandom: are you sure about that...someone mentioned an mschat client earlier</p>
<p>14:43 &lt;+cervantes&gt; ;-)</p>
<p>14:45 &lt; jrandom&gt; cat-a-puss: there are a few options, but when you look at the actual message size, its pretty hard to beat- tunnel messages, which are 4x as common as every other message, will require at *most* two fragments - only two bits</p>
<p>14:45 &lt; Teal`c__&gt; &lt;steve&gt; # Appears as TIKI</p>
<p>14:45 &lt; jrandom&gt; streaming lib messages between the endpoint and gateway is only 4KB - up to 8 bits, or 2 bytes wiwth the bitfields</p>
<p>14:45 &lt; jrandom&gt; that is, assuming the absolute smallest MTU</p>
<p>14:46 &lt; jrandom&gt; with 1492 (or 1472, depending on who is counting), you can handle most anything in a single bitfield byte</p>
<p>14:46 &lt; ant&gt; &lt;cat-a-puss&gt; jrandom: ah, so the bitfields are only for fragments, not for each packet then?</p>
<p>14:47 &lt; jrandom&gt; right, if a message is partially received, you send back the bitfield for the received fragments of that message</p>
<p>14:47 &lt; ant&gt; &lt;cat-a-puss&gt; ok</p>
<p>14:47 &lt; jrandom&gt; message ids are unfortunately completely random and unordered, so we can't use tcp style sequence numbers</p>
<p>14:48 &lt; jrandom&gt; (and, well, we dont want that overhead either)</p>
<p>14:49 &lt; jrandom&gt; ok, if there's nothing else on 2) SSU, lets move on to 3) i2phex</p>
<p>14:49 &lt; jrandom&gt; sirup: you 'round?</p>
<p>14:49 &lt; ant&gt; &lt;cat-a-puss&gt; quickly:why random?</p>
<p>14:50  * sirup is lurking</p>
<p>14:50 &lt; jrandom&gt; cat-a-puss: message ids are exposed to peers - we don't want them to know that one message is related to another message (the one with an earlier sequence #)</p>
<p>14:50 &lt; ant&gt; &lt;cat-a-puss&gt; ok</p>
<p>14:51 &lt; jrandom&gt; heya sirup, i posted up some general info to the list, but if you could give us an update, that'd be great</p>
<p>14:52 &lt; sirup&gt; well. first tests were successfull</p>
<p>14:52 &lt; jrandom&gt; [w3wt]</p>
<p>14:52 &lt; sirup&gt; but it also seems that we need tweaking with the time out settings. connections between peers don't hold up for some reason</p>
<p>14:53 &lt; sirup&gt; so it's not run and gun right now :)</p>
<p>14:53 &lt; sirup&gt; but i also expected that, cause i didn't change anything concerning timeouts and such</p>
<p>14:54 &lt; sirup&gt; generally, i would be happy if some people would be ready to help me test it until a bearable state is reached</p>
<p>14:55 &lt; sirup&gt; several instances on the same machine only get you so far...</p>
<p>14:55 &lt; sirup&gt; oh. and any experience/input is welcome. best done wiht mail to sirup@mail.i2p</p>
<p>14:56 &lt; sirup&gt; a forum would be great too (i can't have any at my destination, 'cause i'm not 24/7)</p>
<p>14:56 &lt; sirup&gt; that's it :)</p>
<p>14:56 &lt; jrandom&gt; wikked</p>
<p>14:56 &lt; jrandom&gt; cervantes: any way we could get an i2phex section added in there?</p>
<p>14:57 &lt;+cervantes&gt; sure could</p>
<p>14:57  * sirup wonders who's downloading that crappy commons licensed music from me :)</p>
<p>14:58 &lt;@smeghead&gt; hey, you can build more crap on top of that crap at least :)</p>
<p>14:58 &lt;+cervantes&gt; sirup: I take it "sirup" is your moniker on the forum</p>
<p>14:58 &lt; sirup&gt; that would be neat</p>
<p>14:58 &lt; sirup&gt; yes</p>
<p>14:59 &lt; ant&gt; &lt;BS314159&gt; status notes?</p>
<p>15:00 &lt; jrandom&gt; ok great.  its looking really quite promising, sirup has done some great work, so people should swing over to sirup.i2p and read up on whats goin' on :)</p>
<p>15:00 &lt;@smeghead&gt; mailing list?</p>
<p>15:00 &lt; RevDuck&gt; or www.i2phex.tk</p>
<p>15:01 &lt; sirup&gt; mailing list would also be nice, of course</p>
<p>15:01 &lt; sirup&gt; lol. i2phex.tk is fake. get your dialers there :)</p>
<p>15:01 &lt;+cervantes&gt; I2Phex forum added</p>
<p>15:01 &lt; jrandom&gt; !stab duck</p>
<p>15:02 &lt;+cervantes&gt; sirup is moderator</p>
<p>15:02 &lt; Masterboy&gt; :D</p>
<p>15:02 &lt;+cervantes&gt; sirup: let me know if you want to change the description text</p>
<p>15:02 &lt; jrandom&gt; sirup: if you'd like an i2phex and i2phex-cvs list, lemmie know, they're easy enough to add</p>
<p>15:02 &lt; jrandom&gt; (though at the moment, it may be simpler to just use the i2p list)</p>
<p>15:02 &lt; sirup&gt; cervantes, thanks a bunch </p>
<p>15:03 &lt; sirup&gt; yeah. forum will do atm</p>
<p>15:04 &lt; jrandom&gt; ok cool.  anyone have anything else on 3) i2phex?</p>
<p>15:05 &lt; jrandom&gt; if not, moving on briefly to 4) awol</p>
<p>15:05 &lt; jrandom&gt; i know y'all are chomping at the bit, looking for ways to contribute code to i2p, so the status notes have a few suggestions</p>
<p>15:05 &lt;+bla&gt; jrandom: You're finally being canceled by Operations?</p>
<p>15:06 &lt; jrandom&gt; nah, the CIA is just reassigning me^Ula la la</p>
<p>15:06 &lt;@smeghead&gt; no the black budget was increased this quarter</p>
<p>15:07 &lt;+cervantes&gt; *the elephant has flown the nest* repeat *the elephant has flown the nest* over</p>
<p>15:07 &lt; jrandom&gt; i dont really have much more to add to 4) than what was in the mail, though i'm sure y'all have plenty of other neat ideas </p>
<p>15:07  * smeghead supresses elephantitis joke</p>
<p>15:08 &lt; jrandom&gt; so your homework assignment while i'm gone is to pick something neat that you want to build, and build it ;)</p>
<p>15:08  * cervantes staunches smeghead's bleeding temples</p>
<p>15:08 &lt; jrandom&gt; (be it a webpage or a flying pony)</p>
<p>15:09 &lt; jrandom&gt; ok, moving on to 5) ???</p>
<p>15:09 &lt; jrandom&gt; anyone else have anything they want to bring up for the meeting?</p>
<p>15:09 &lt; shendaras&gt; We'll miss you...</p>
<p>15:09 &lt;@smeghead&gt; yeah who's chairing the meetings while you're gone?</p>
<p>15:09 &lt;+mancom&gt; has aum shown up during the last week?</p>
<p>15:09 &lt;@smeghead&gt; mancom: negative</p>
<p>15:10 &lt; Masterboy&gt; brother duck?:P</p>
<p>15:11 &lt; jrandom&gt; our beloved operations manager will hopefully fill in, or y'all can draw straws for who has to write up status notes at the last minute :)</p>
<p>15:11 &lt; jrandom&gt; mancom: he was by #i2p-chat the other day briefly</p>
<p>15:12 &lt; RevDuck&gt; maybe only hold meetings when there is actually something to report though</p>
<p>15:12 &lt;+cervantes&gt; it's ok I'm writing a jrandom simulation script</p>
<p>15:12 &lt;+cervantes&gt; * w3wt</p>
<p>15:12 &lt; jrandom&gt; nothing wrong with 5 minute meeting ;)</p>
<p>15:13 &lt;+cervantes&gt; * jrandom flings a mud at his flying pony</p>
<p>15:13  * smeghead writes a cervantes simulation script that writes a jrandom simulation script</p>
<p>15:13  * jrandom writes a smeghead simu[CRASH]</p>
<p>15:13 &lt;+cervantes&gt; oop gotta work on that grammar</p>
<p>15:14 &lt;@smeghead&gt; haha</p>
<p>15:14 &lt; jrandom&gt; ok, anyone else have anything to bring up for the meeting?</p>
<p>15:14  * cervantes writes an aum simula.........</p>
<p>15:14 &lt;@smeghead&gt; java.util.RecursiveIdiocyException</p>
<p>15:15 &lt; jrandom&gt; speaking of which.. ;)</p>
<p>15:15  * jrandom winds up</p>
<p>15:15  * jrandom *baf*s the meeting closed</p>
</div>
{% endblock %}