{% extends "_layout.html" %}
{% block title %}I2P Development Meeting 92{% endblock %}
{% block content %}<div class="irclog">
<p>[22:59] &#60;duck&#62; Tue Jun  1 21:00:00 UTC 2004</p>
<p>[23:00] &#60;duck&#62; hi folks!</p>
<p>[23:00] &#60;mihi&#62; hi duck</p>
<p>[23:00] &#60;duck&#62; http://dev.i2p.net/pipermail/i2p/2004-June/000250.html</p>
<p>[23:00] &#60;duck&#62; my proposal:</p>
<p>[23:00] * Masterboy has joined #i2p</p>

<p>[23:00] &#60;duck&#62; 1) code progress</p>
<p>[23:00] &#60;duck&#62; 2) featured content</p>
<p>[23:00] &#60;duck&#62; 3) testnet status</p>
<p>[23:00] &#60;duck&#62; 4) bounties</p>
<p>[23:00] &#60;duck&#62; 5) ???</p>
<p>[23:00] &#60;Masterboy&#62; hi:)</p>
<p>[23:00] &#60;duck&#62; .</p>
<p>[23:01] &#60;duck&#62; since jrandom is off we'll have to do it ourself</p>
<p>[23:01] &#60;duck&#62; (I know that he is logging and verifying our independency)</p>
<p>[23:01] &#60;Masterboy&#62; no problem:P</p>
<p>[23:02] &#60;duck&#62; unless there are problems with the agenda I propose that we stick to it</p>
<p>[23:02] &#60;duck&#62; though there aint much that I can do if you dont :)</p>
<p>[23:02] &#60;duck&#62; .</p>
<p>[23:02] &#60;mihi&#62; ;)</p>
<p>[23:02] &#60;duck&#62; 1) code progress</p>
<p>[23:02] &#60;duck&#62; not much code submitted to cvs</p>
<p>[23:02] &#60;duck&#62; I did win the trophy this week: http://duck.i2p/duck_trophy.jpg</p>
<p>[23:03] * hypercubus has no cvs account yet</p>
<p>[23:03] &#60;Masterboy&#62; and who did submit something?</p>
<p>[23:03] &#60;duck&#62; anybody doing any secret coding?</p>
<p>[23:03] * Nightblade has joined #I2P</p>

<p>[23:03] &#60;hypercubus&#62; BrianR was working on some stuff</p>
<p>[23:04] &#60;hypercubus&#62; i've got maybe 20% of the 0.4 installer hacked out</p>
<p>[23:04] &#60;duck&#62; hypercubus: if you have stuff then provide diffs and $dev will commit for you</p>
<p>[23:04] &#60;duck&#62; ofcourse the strict license agreements apply</p>
<p>[23:05] &#60;duck&#62; hypercubus: cool, any issues / things worth mentioning?</p>
<p>[23:06] &#60;hypercubus&#62; not yet, but i'll probably need a couple of BSD people to test the preinstaller shell scripts</p>
<p>[23:06] * duck turns some stones</p>
<p>[23:06] &#60;Nightblade&#62; is it text-only</p>
<p>[23:07] &#60;mihi&#62; duck: which one is you on duck_trophy.jpg?</p>
<p>[23:07] &#60;mihi&#62; ;)</p>
<p>[23:07] &#60;Nightblade&#62; luckypunk has freebsd, also my isp has freebsd but their config is kind of screwed up</p>
<p>[23:07] &#60;Nightblade&#62; my web host isp that is, not comcast</p>
<p>[23:08] &#60;duck&#62; mihi: left one with the glasses. wilde is the right guy handing me the trophy</p>
<p>[23:08] * wilde waves</p>
<p>[23:08] &#60;hypercubus&#62; you have a choice... if you have java installed, you can skip the preinstaller altogether... </p>
<p>  if you don't have java installed you can run the linux binary or win32 binary preinstaller (console mode), or a </p>
<p>  generic *nix script preinstaller (console mode)</p>
<p>[23:08] &#60;hypercubus&#62; the main installer gives you the choice of using console mode or spiffy GUI mode</p>
<p>[23:08] &#60;Masterboy&#62; i will install freebsd soon so in the future i will give a try to the installer too</p>
<p>[23:09] &#60;hypercubus&#62; ok good... didn't know if anyone else besides jrandom was using it</p>
<p>[23:09] &#60;Nightblade&#62; freebsd java is invoked as "javavm" rather than "java"</p>
<p>[23:09] &#60;hypercubus&#62; as built from sun sources?</p>
<p>[23:09] &#60;mihi&#62; freebsd supports symlinks ;)</p>
<p>[23:10] &#60;hypercubus&#62; anyhow the binary preinstaller is 100% complete</p>
<p>[23:10] &#60;hypercubus&#62; compiles with gcj to native</p>
<p>[23:11] &#60;hypercubus&#62; it just asks you for the install dir, and it grabs a JRE for you</p>
<p>[23:11] &#60;duck&#62; w00t</p>
<p>[23:11] &#60;Nightblade&#62; cool</p>
<p>[23:11] &#60;hypercubus&#62; jrandom's packaging a custom JRE for i2p</p>

<p>[23:12] &#60;deer&#62; &#60;j&#62; .</p>
<p>[23:12] &#60;Nightblade&#62; if you install java from the freebsd ports collection you use some wrapper script called </p>
<p>  javavm</p>
<p>[23:12] &#60;deer&#62; &#60;r&#62; .</p>
<p>[23:12] &#60;hypercubus&#62; anyhow this puppy will be almost completely automated</p>
<p>[23:12] &#60;deer&#62; &#60;r&#62; .</p>
<p>[23:12] &#60;deer&#62; &#60;r&#62; .</p>
<p>[23:12] &#60;deer&#62; &#60;r&#62; .</p>
<p>[23:12] &#60;deer&#62; &#60;duck&#62; r: cut it</p>
<p>[23:12] &#60;deer&#62; &#60;r&#62; .</p>
<p>[23:12] &#60;deer&#62; &#60;m&#62; .</p>
<p>[23:13] &#60;deer&#62; &#60;m&#62; stoopid irc server, does not support pipelining :(</p>
<p>[23:13] &#60;duck&#62; hypercubus: got any ETA for us?</p>
<p>[23:14] &#60;deer&#62; &#60;m&#62; oops, the problem is "Nick change too fast" :(</p>
<p>[23:14] &#60;hypercubus&#62; i still expect to be finished in under a month, before 0.4 is ripe for release</p>
<p>[23:14] &#60;hypercubus&#62; though at present i'm compiling a new OS for my dev system, so it'll be a couple of days </p>
<p>  before i get back to the installer ;-)</p>
<p>[23:14] &#60;hypercubus&#62; no worries though</p>
<p>[23:15] &#60;duck&#62; ok. so more news next week :)</p>
<p>[23:15] &#60;duck&#62; any other coding done?</p>
<p>[23:15] &#60;hypercubus&#62; hopefully... unless the power company screws me again</p>
<p>[23:16] * duck moves to #2</p>
<p>[23:16] &#60;duck&#62; * 2) featured content</p>
<p>[23:16] &#60;duck&#62; lots of streaming audio (ogg/vorbis) done this week</p>
<p>[23:16] &#60;duck&#62; baffled is running his egoplay stream and I am running a stream too</p>
<p>[23:16] &#60;Masterboy&#62; and it works quite good</p>
<p>[23:17] &#60;duck&#62; on our site you can get info how to use it</p>
<p>[23:17] &#60;hypercubus&#62; got any rough stats for us?</p>
<p>[23:17] &#60;duck&#62; if you use a player not listed there and figure out how to use it, please send them to me and I'll </p>
<p>  add</p>
<p>[23:17] &#60;Masterboy&#62; duck where is the link to baffleds stream on your site?</p>
<p>[23:17] &#60;Masterboy&#62; :P</p>
<p>[23:17] &#60;duck&#62; hypercubus: 4kB/s goes pretty well</p>
<p>[23:18] &#60;duck&#62; and with ogg it aint tooooo bad</p>
<p>[23:18] &#60;hypercubus&#62; but that still seems to be the avg. speed?</p>
<p>[23:18] &#60;duck&#62; my observation is that is the max</p>
<p>[23:18] &#60;duck&#62; but it is all config tweaking</p>
<p>[23:19] &#60;hypercubus&#62; any idea why that seems to be the max?</p>
<p>[23:19] &#60;hypercubus&#62; and i'm not just talking streaming here</p>
<p>[23:19] &#60;hypercubus&#62; but downloads too</p>
<p>[23:20] &#60;Nightblade&#62; i was downloading some big files yesterday (a couple megabytes) off of duck's hosting </p>
<p>  service and i was getting about 4kb-5kb as well</p>
<p>[23:20] &#60;duck&#62; I think that it is the rtt</p>
<p>[23:20] &#60;Nightblade&#62; those Chips movies</p>
<p>[23:20] &#60;hypercubus&#62; 4-5 seems an improvement over the ~3 that i've gotten consistently since i started using i2p</p>

<p>[23:20] &#60;Masterboy&#62; 4-5kb is not bad..</p>
<p>[23:20] &#60;duck&#62; with a windowsize of 1 you dont get much faster..</p>
<p>[23:20] &#60;duck&#62; windowsize &#62;1 bounty: http://www.i2p.net/node/view/224</p>
<p>[23:21] &#60;duck&#62; mihi: maybe you can comment?</p>
<p>[23:21] &#60;hypercubus&#62; but it is a remarkably consistent 3 kbps</p>
<p>[23:21] &#60;mihi&#62; on what? windowsize&#62;1 with ministreaming: you are a wizard if you manage that ;)</p>
<p>[23:21] &#60;hypercubus&#62; no hiccups on the bandwidth meter... a fairly smooth line</p>
<p>[23:21] &#60;duck&#62; mihi: on why it is so stable at 4kb/s</p>
<p>[23:21] &#60;mihi&#62; no idea. i don't hear any sound :(</p>
<p>[23:22] &#60;duck&#62; mihi: for all i2ptunnel transfers</p>
<p>[23:22] &#60;Masterboy&#62; mihi you need to config the ogg streaming plugin..</p>
<p>[23:22] &#60;mihi&#62; Masterboy:?</p>
<p>[23:23] &#60;mihi&#62; no, there is no limit inside i2ptunnel regarding speed. it must be in the router...</p>
<p>[23:23] &#60;duck&#62; my thinking: max packet size: 32kB, 5 second rtt: 32kB/5s =~ 6.5kb/s</p>
<p>[23:24] &#60;hypercubus&#62; sounds plausible</p>
<p>[23:25] &#60;duck&#62; ok..</p>
<p>[23:25] &#60;duck&#62; other content:</p>
<p>[23:25] * hirvox has joined #i2p</p>

<p>[23:25] &#60;duck&#62; there is a new eepsite from Naughtious</p>
<p>[23:25] &#60;duck&#62; anonynanny.i2p</p>
<p>[23:25] &#60;duck&#62; key is commited to cvs and he did put it on ugha's wiki</p>
<p>[23:25] * mihi is hearing "sitting in the ..." - duck++</p>
<p>[23:25] &#60;Nightblade&#62; see if you can open two or three streams at a 4kb speed then you will be able to tell if it </p>
<p>  is in the router or the streaming lib</p>
<p>[23:26] &#60;duck&#62; Naughtious: you there? tell something about your plan :)</p>
<p>[23:26] &#60;Masterboy&#62; i have read that he provides hosting</p>
<p>[23:26] &#60;duck&#62; Nightblade: I did try 3 parallel downloads from baffled and I got 3-4kB each</p>
<p>[23:26] &#60;Nightblade&#62; i c</p>
<p>[23:27] &#60;mihi&#62; Nightblade: how can you tell that then?</p>
<p>[23:27] * mihi likes listening in "stop&go" mode ;)</p>
<p>[23:27] &#60;Nightblade&#62; well if there is some kind of limitation in the router that only lets it handle 4kb at once</p>
<p>[23:27] &#60;Nightblade&#62; or if it is something else</p>
<p>[23:28] &#60;hypercubus&#62; can someone explain this anonynanny site? i don't have a running i2p router atm</p>
<p>[23:28] &#60;mihi&#62; hypercubus: just a wiki or some sort of it</p>
<p>[23:28] &#60;duck&#62; plone CMS setup, open account creation</p>
<p>[23:28] &#60;duck&#62; allows file upload and website stuff</p>
<p>[23:28] &#60;duck&#62; through web interface</p>
<p>[23:28] &#60;Nightblade&#62; another thing to do would be to test the throughput of the "repliable datagram" which afaik </p>
<p>  is the same as the streams but without acks</p>
<p>[23:28] &#60;duck&#62; likely a lot like drupal</p>
<p>[23:28] &#60;hypercubus&#62; yeah i've run plone before</p>
<p>[23:29] &#60;duck&#62; Nightblade: I have been thinking about using airhook to manage those</p>
<p>[23:29] &#60;duck&#62; but so far only some basic thought</p>
<p>[23:29] &#60;hypercubus&#62; anything goes for the wiki content, or does it center on something in particular?</p>
<p>[23:29] &#60;Nightblade&#62; i think airhook is GPLed</p>
<p>[23:29] &#60;duck&#62; the protocol</p>
<p>[23:29] &#60;duck&#62; not the code</p>
<p>[23:29] &#60;Nightblade&#62; ah :)</p>
<p>[23:30] &#60;duck&#62; hypercubus: he wants quality content, and lets you provide that :)</p>
<p>[23:30] &#60;Masterboy&#62; upload the best pr0n of yourself you have got hyper;P</p>
<p>[23:30] &#60;duck&#62; ok</p>
<p>[23:30] * Masterboy will try to do that too</p>
<p>[23:30] &#60;hypercubus&#62; yeah, anyone running an open wiki is just asking for quality content ;-)</p>
<p>[23:31] &#60;duck&#62; ok</p>
<p>[23:31] * duck moves to #3</p>
<p>[23:31] &#60;duck&#62; * 3) testnet status</p>
<p>[23:31] &#60;Nightblade&#62; Airhook gracefully handles intermittent, unreliable, or delayed networks  &#60;-- hehe not an </p>
<p>  optimistic description of I2P!</p>
<p>[23:31] &#60;duck&#62; how has it been going?</p>
<p>[23:32] &#60;duck&#62; lets put the datagram over i2p discussion to the end</p>
<p>[23:32] &#60;tessier&#62; I love to run around to open wiki's and link to this: http://www.fissure.org/humour/pics/squirre</p>
<p>  l.jpg</p>
<p>[23:32] &#60;tessier&#62; airhook rocks</p>
<p>[23:32] &#60;tessier&#62; I've been looking at it for building a p2p network also.</p>
<p>[23:32] &#60;Nightblade&#62; it seems to be reliable to me (#3)</p>
<p>[23:32] &#60;Nightblade&#62; best i've seen so far</p>
<p>[23:33] &#60;duck&#62; yeah</p>
<p>[23:33] &#60;mihi&#62; works well - at least for stop&go audio streaming</p>
<p>[23:33] &#60;duck&#62; I see quite impressive uptimes on irc</p>
<p>[23:33] &#60;hypercubus&#62; agreed... seeing lots more blue guys in my router console</p>
<p>[23:33] &#60;Nightblade&#62; mihi: are you listening to techno ? :)</p>
<p>[23:33] &#60;duck&#62; but hard to tell since bogobot doesnt seem to handle connections that go over 00:00</p>
<p>[23:33] &#60;tessier&#62; audio streaming works great for me but loading websites often takes a number of tries</p>
<p>[23:33] &#60;Masterboy&#62; i have an opinion that i2p runs very good after 6 hours of use in the 6th hour i used the irc </p>
<p>  for 7 hours and so my router was running for 13hours</p>
<p>[23:33] &#60;duck&#62; (*hint*)</p>
<p>[23:34] &#60;hypercubus&#62; duck: er... heheh</p>
<p>[23:34] &#60;hypercubus&#62; i could fix that i guess</p>
<p>[23:34] &#60;hypercubus&#62; do you have the logging set for daily?</p>
<p>[23:34] &#60;duck&#62; hypercubus++</p>
<p>[23:34] &#60;hypercubus&#62; log rotation that is</p>
<p>[23:34] &#60;duck&#62; oh yes</p>
<p>[23:34] &#60;duck&#62; duck--</p>
<p>[23:34] &#60;hypercubus&#62; that's why</p>
<p>[23:34] &#60;Nightblade&#62; I was at work all day and turned on my computer and started i2p and was on duck's irc server </p>
<p>  in just a few minutes</p>
<p>[23:35] &#60;duck&#62; I have been seeing some weird DNFs</p>
<p>[23:35] &#60;duck&#62; even when connecting to my own eepsites</p>
<p>[23:35] &#60;duck&#62; (http://dev.i2p.net/bugzilla/show_bug.cgi?id=74)</p>
<p>[23:35] &#60;duck&#62; I think that is what causes most problems now</p>
<p>[23:35] &#60;hypercubus&#62; bogoparser will only analyze uptimes that occur wholly within a single logfile... so if the </p>
<p>  logfile encompasses only 24 hours, nobody will show up as connected longer than 24 hours</p>
<p>[23:35] &#60;duck&#62; Masterboy and ughabugha did also have it I think...</p>
<p>[23:36] &#60;Masterboy&#62; yup</p>
<p>[23:36] &#60;duck&#62; (fix it and you will win next weeks trophy for sure!)</p>
<p>[23:37] &#60;deer&#62; &#60;mihi&#62; bogobot is excited? ;)</p>
<p>[23:37] &#60;Masterboy&#62; i tried my web site and sometimes when i hit refresh it takes the other route? and i have to </p>
<p>  wait for it to load but i never wait;P i hit it again and it shows instantly</p>
<p>[23:37] &#60;deer&#62; &#60;mihi&#62; oops, sry. forgot that this is gated...</p>
<p>[23:38] &#60;duck&#62; Masterboy: do the timeouts take 61 seconds?</p>
<p>[23:39] &#60;duck&#62; mihi: bogobot set to weekly rotations now</p>
<p>[23:39] * mihi has quit IRC ("bye, and have a nice meeting")</p>
<p>[23:40] &#60;Masterboy&#62; sorry i didn't check it on my web site when i can't reatch it instantly i just hit refresh </p>
<p>  and it loads instantly..</p>
<p>[23:40] &#60;duck&#62; hm</p>
<p>[23:40] &#60;duck&#62; well, it needs to be fixed</p>
<p>[23:41] &#60;duck&#62; .... #4</p>
<p>[23:41] &#60;Masterboy&#62; i think the route is given not the same eatch time</p>
<p>[23:41] &#60;duck&#62; * 4) bounties</p>
<p>[23:41] &#60;duck&#62; Masterboy: local connections should be cutted short</p>
<p>[23:42] &#60;duck&#62; wilde had some bounty thoughts... you there?</p>
<p>[23:42] &#60;Masterboy&#62; maybe it is a peer selection bug</p>
<p>[23:42] &#60;wilde&#62; I'm not sure that was for the agenda really</p>
<p>[23:42] &#60;duck&#62; oh</p>
<p>[23:42] &#60;wilde&#62; ok but the thoughts were something like:</p>
<p>[23:42] &#60;Masterboy&#62; i think then we go public the bounty system will work better</p>
<p>[23:43] &#60;Nightblade&#62; masterboy: yes there are two tunnels for each connection, or that is how i understand it </p>
<p>  from reading the router.config</p>
<p>[23:43] &#60;wilde&#62; we could use this month to do some small advertising of i2p and increase the bounty pool a bit</p>
<p>[23:43] &#60;Masterboy&#62; i can see that the Mute project is going good - they got 600$ and they didn't code a lot yet;P</p>
<p>[23:44] &#60;wilde&#62; target against freedom communities, crypto people, etc</p>
<p>[23:44] &#60;Nightblade&#62; I don't think jrandom wants advertising</p>
<p>[23:44] &#60;wilde&#62; not public slashdot attention, no</p>
<p>[23:44] &#60;hypercubus&#62; that's what i've observed as well</p>
<p>[23:44] &#60;Masterboy&#62; i want to push it again - when we go public the system will work a lot better;P</p>
<p>[23:45] &#60;wilde&#62; Masterboy: bounties could speed up myi2p development for example</p>
<p>[23:45] &#60;Masterboy&#62; and as jr said no public till 1.0 and only some attention after 0.4</p>
<p>[23:45] &#60;Masterboy&#62; *wrote</p>
<p>[23:45] &#60;wilde&#62; when we have like $500+ for a bounty people could actually survive for some weeks</p>
<p>[23:46] &#60;hypercubus&#62; the tricky part is, even if we target a small dev community, like *cough* Mute devs, those </p>
<p>  guys might spread the word about i2p further than we'd like</p>
<p>[23:46] &#60;Nightblade&#62; someone could make a career out of fixing i2p bugs</p>
<p>[23:46] &#60;hypercubus&#62; and too soon</p>
<p>[23:46] &#60;wilde&#62; i2p links are already in many public places</p>
<p>[23:46] &#60;Masterboy&#62; you google and you can find i2p</p>

<p>[23:47] &#60;hypercubus&#62; obscure public places ;-) (i saw the i2p link on a freesite... i'm lucky the damn freesite </p>
<p>  even loaded!)</p>
<p>[23:47] &#60;wilde&#62; http://en.wikipedia.org/wiki/I2p</p>
<p>[23:47] &#60;Masterboy&#62; but i agree that no advertising till 0.4 is done</p>
<p>[23:47] &#60;Masterboy&#62; wha???????</p>
<p>[23:47] &#60;wilde&#62; http://www.ovmj.org/GNUnet/links.php3?xlang=English</p>
<p>[23:48] &#60;Masterboy&#62; protol0l does a great job;P</p>
<p>[23:48] &#60;Masterboy&#62; ;))))))</p>
<p>[23:48] &#60;hypercubus&#62; nice typo ;-)</p>
<p>[23:48] &#60;wilde&#62; ok anyway, I agree we should still keep I2P private (jr read this log ;)</p>
<p>[23:49] &#60;Masterboy&#62; who did that?</p>
<p>[23:49] &#60;Masterboy&#62; i think the Freenet crew discussion gave more attention..</p>
<p>[23:50] &#60;Masterboy&#62; and jr discussing with toad give a lot info to the big public..</p>
<p>[23:50] &#60;Masterboy&#62; so as in ughas wiki - we can all blame jr for that;P</p>
<p>[23:50] &#60;wilde&#62; ok anyway, we'll see if we can bring in some $ without bringing in /.</p>
<p>[23:50] &#60;Masterboy&#62; agreed</p>
<p>[23:50] &#60;hypercubus&#62; the freenet dev list is hardly what i call the "big public" ;-)</p>
<p>[23:50] &#60;wilde&#62; .</p>
<p>[23:51] &#60;hypercubus&#62; wilde: you'll have a lot of $ sooner than you think ;-)</p>
<p>[23:51] &#60;wilde&#62; oh come on, even my mum subscribe to freenet-devl</p>
<p>[23:51] &#60;duck&#62; my mum reads through gmame</p>
<p>[23:51] &#60;deer&#62; &#60;clayboy&#62; freenet-devl is being taught in schools here</p>
<p>[23:52] &#60;wilde&#62; .</p>
<p>[23:52] &#60;Masterboy&#62; so we will see more bounties after we go 0.4 stable..</p>
<p>[23:53] &#60;Masterboy&#62; that is after 2 months;P</p>
<p>[23:53] &#60;wilde&#62; where did that duck go?</p>
<p>[23:53] &#60;duck&#62; thanks wilde </p>
<p>[23:53] &#60;hypercubus&#62; though as the only bounty claimant thus far, i have to say that the bounty money had no </p>
<p>  bearing on my decision to take up the challenge</p>
<p>[23:54] &#60;wilde&#62; hehe, it would if it been 100x</p>
<p>[23:54] &#60;duck&#62; wyou are too good for the world</p>
<p>[23:54] &#60;Nightblade&#62; haha</p>
<p>[23:54] * duck moves to #5</p>
<p>[23:54] &#60;hypercubus&#62; wilde, $100 doesn't mean shit to me ;-)</p>
<p>[23:54] &#60;duck&#62; 100 * 10 = 1000</p>
<p>[23:55] * duck pops("5 airhook")</p>
<p>[23:55] &#60;duck&#62; tessier: got any real-world experience with it</p>
<p>[23:55] &#60;duck&#62; (http://www.airhook.org/)</p>
<p>[23:55] * Masterboy will try dis out:P</p>
<p>[23:56] &#60;duck&#62; java implementation (dunno if it even works) http://cvs.ofb.net/airhook-j/</p>
<p>[23:56] &#60;duck&#62; python implementation (a mess, did work in the past) http://cvs.sourceforge.net/viewcvs.py/khashmir</p>
<p>  /khashmir/airhook.py</p>
<p>[23:58] * duck opens the rant-valve</p>
<p>[23:58] &#60;Nightblade&#62; j one is also gpl</p>
<p>[23:58] &#60;duck&#62; port it to pubdomain</p>
<p>[23:58] &#60;hypercubus&#62; amen</p>
<p>[23:58] &#60;Nightblade&#62; the entire protocol doc is only about 3 pages - it can't be that hard</p>
<p>[23:59] &#60;Masterboy&#62; nothing is hard</p>
<p>[23:59] &#60;Masterboy&#62; it's just not easy</p>
<p>[23:59] &#60;duck&#62; I dont think that it is fully specced though</p>
<p>[23:59] * hypercubus takes away masterboy's fortune cookies</p>
<p>[23:59] &#60;duck&#62; you might need to dive into the C code for a reference implementation</p>
<p>[00:00] &#60;Nightblade&#62; I would do it myself but I am busy with other i2p stuff right now</p>
<p>[00:00] &#60;Nightblade&#62; (and also my full-time job)</p>
<p>[00:00] &#60;hypercubus&#62; duck: maybe a bounty for it?</p>
<p>[00:00] &#60;Nightblade&#62; there already is</p>
<p>[00:00] &#60;Masterboy&#62; ?</p>
<p>[00:00] &#60;Masterboy&#62; ahh Pseudonyms</p>
<p>[00:00] &#60;duck&#62; it could be used at 2 levels</p>
<p>[00:00] &#60;duck&#62; 1) as a transport besides TCP</p>
<p>[00:01] &#60;duck&#62; 2) as a protocol to handle datagrams inside i2cp/sam</p>
<p>[00:01] &#60;hypercubus&#62; that's worth serious consideration then</p>
<p>[00:01] &#60;hypercubus&#62; &#60;/obvious&#62;</p>

<p>[00:02] &#60;Nightblade&#62; duck: i noticed that the repliable datagram in SAM has a maximum size of 31kb, whereas the </p>
<p>  stream has a maximum size of 32kb - making me think that the sender's destination is sent with each packet in </p>
<p>  repliable datagram mode, and only at the beginning for a stream mode -</p>
<p>[00:02] &#60;Masterboy&#62; well airhook cvs is not very updated..</p>
<p>[00:03] &#60;Nightblade&#62; making me think that it would be inefficient to make a protocol on top of the repliable </p>
<p>  datagrams through sam</p>
<p>[00:03] &#60;duck&#62; airhooks message size is 256 bytes, i2cp's is 32kb, so you need to atleast change a bit</p>
<p>[00:04] &#60;Nightblade&#62; actually if you wanted to do the protocol in SAM you could just use the anoymous datagram </p>
<p>  and have the first packet contain the sender's destination.... blah blah blah - i have lots of ideas but not </p>
<p>  enough time to code them</p>
<p>[00:06] &#60;duck&#62; then again you have to problems to verify signatures</p>
<p>[00:06] &#60;duck&#62; so someone could send fake packages to you</p>
<p>[00:06] &#60;Masterboy&#62; topic:::: SAM</p>
<p>[00:06] &#60;Masterboy&#62; ;P</p>
<p>[00:07] &#60;Nightblade&#62; true</p>
<p>[00:08] &#60;Nightblade&#62; but if you sent back to that destination and there was no acknowledgement you'd know it was </p>
<p>  a faker</p>
<p>[00:08] &#60;Nightblade&#62; there woudl have to be a handshake</p>
<p>[00:08] &#60;duck&#62; but you'll need aapplication level handshakes for that</p>
<p>[00:08] &#60;Nightblade&#62; no not really</p>
<p>[00:09] &#60;Nightblade&#62; just put it in a library for accessing SAM</p>
<p>[00:09] &#60;Nightblade&#62; that is a bad way of doing though</p>
<p>[00:09] &#60;Nightblade&#62; doing it though</p>
<p>[00:09] &#60;duck&#62; you could also use seperated tunnels</p>
<p>[00:09] &#60;Nightblade&#62; it shuold be in the streaming lib</p>
<p>[00:11] &#60;duck&#62; yup. makes sense</p>
<p>[00:12] &#60;duck&#62; ok</p>
<p>[00:12] &#60;duck&#62; I am feeling *baff*-y</p>
<p>[00:13] &#60;Nightblade&#62; ja</p>
<p>[00:13] * duck *baffs*</p>
</div>
{% endblock %}