{% extends "_layout.html" %}
{% block title %}Pages/meeting80.html{% endblock %}
{% block content %}<h3>Tuesday, Mar 2, 2004 13:00:00 PST</h3>
<div class="irclog">
<p>13:07 &lt; jrandom&gt; 0) hi</p>
<p>13:07 &lt; jrandom&gt; 1) Dev status</p>
<p>13:07 &lt; jrandom&gt; 2) Cascades</p>
<p>13:07 &lt; duck&gt; I'll stop</p>
<p>13:07 &lt; jrandom&gt; 3) Roadmap</p>
<p>13:07 &lt; jrandom&gt; 4) Website</p>
<p>13:07 &lt; jrandom&gt; 5) ???</p>
<p>13:07 &lt; jrandom&gt; 0) hi</p>
<p>13:07  * jrandom waves to the first over-i2p i2p dev meeting :)</p>
<p>13:07 &lt; ughabugha&gt; nick is Janonymous.</p>
<p>13:08 &lt; ughabugha&gt; Ok.</p>
<p>13:08 &lt; duck&gt; hi</p>
<p>13:08 &lt; jrandom&gt; weekly status notes are posted to the mailing list (online at http://i2p.net/pipermail/i2p/2004-March/000155.html)</p>
<p>13:08 &lt; ughabugha&gt; hi.</p>
<p>13:08 &lt; jrandom&gt; as usual, we'll be following that as a guide</p>
<p>13:08 &lt; nick&gt; hello</p>
<p>13:09 &lt; jrandom&gt; jumping into 1) Dev status</p>
<p>13:09  * jrandom repeats mantra of "Progress is being made"</p>
<p>13:10 &lt; jrandom&gt; 0.2.5 has some Good Stuff, and we're finding long hidden bugs</p>
<p>13:10 &lt; jrandom&gt; latest one is db related, but thats not fixed up yet, so no need to track CVS HEAD</p>
<p>13:11 &lt; jrandom&gt; echo tests show pretty good results, but there's still issues to be worked out wrt irc and snark</p>
<p>13:12 &lt; jrandom&gt; how has eepsite retrieval been for people?</p>
<p>13:12 &lt; jrandom&gt; (and/or squid?)</p>
<p>13:12 &lt; nick&gt; here and there</p>
<p>13:12 &lt; duck&gt; generally okay with janonymous or ugha</p>
<p>13:13 &lt; duck&gt; sometimes janonymous goes down etc</p>
<p>13:13 &lt; ughabugha&gt; Yeah.</p>
<p>13:13 &lt; duck&gt; &lt;mihi_backup&gt; jrandom: you *really* know how to make me angry...</p>
<p>13:13 &lt; jrandom&gt; d'oh</p>
<p>13:13 &lt; nick&gt; I've been putting new content</p>
<p>13:13 &lt; jrandom&gt; whats up mihi?</p>
<p>13:13 &lt; jrandom&gt; nice nick</p>
<p>13:14 &lt; jrandom&gt; er janonymous</p>
<p>13:15 &lt; nick&gt; eh?</p>
<p>13:15 &lt; nick&gt; :)</p>
<p>13:15 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; I started a two-way relay now.</p>
<p>13:15 &lt; jrandom&gt; ah cool</p>
<p>13:15 -!- nick [~Janonym@localhost] has quit [Client closed connection]</p>
<p>13:15 &lt; jrandom&gt; whats up mihi?</p>
<p>13:15 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; Automatic.</p>
<p>13:16 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; :)</p>
<p>13:16 &lt; ughabugha&gt; :)</p>
<p>13:16 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; Oops, a bug.</p>
<p>13:16 &lt; ughabugha&gt; Oops, a bug.</p>
<p>13:16 &lt; jrandom&gt; heh is he still there or is there anything else wrt dev status?</p>
<p>13:17 &lt; duck&gt; lets go on</p>
<p>13:17 &lt; jrandom&gt; 'k</p>
<p>13:17 &lt; jrandom&gt; jumping to 2) Cascades</p>
<p>13:17 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; * mihi_backup is now known as mihi_away</p>
<p>13:17 &lt; ughabugha&gt; * mihi_backup is now known as mihi_away</p>
<p>13:17 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; Argh, relaying for my own text doesn't work.</p>
<p>13:17 &lt; ughabugha&gt; Argh, relaying for my own text doesn't work.</p>
<p>13:17 &lt; jrandom&gt; ;)</p>
<p>13:18 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; No, wait.</p>
<p>13:18 &lt; ughabugha&gt; No, wait.</p>
<p>13:18 &lt; madman&gt; then don't speak :)</p>
<p>13:18 &lt; jrandom&gt; mix cascades are one of the two big styles of low latency mix nets, and while we don't use them in i2p, if some people think they're useful, they can tweak their router to get the same effect</p>
<p>13:19 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; Test</p>
<p>13:19 &lt; ughabugha&gt; Test</p>
<p>13:19 &lt; ughabugha&gt; IIP &lt;jrandom&gt; mix cascades are one of the two big styles of low latency mix nets, and while we don't use them in i2p, if some people think they're useful, they can tweak their router to get the same effect</p>
<p>13:19  * jrandom senses an incoming recursive echo...</p>
<p>13:19 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; Damn!</p>
<p>13:19 &lt; ughabugha&gt; Damn!</p>
<p>13:20 &lt; jrandom&gt; anyway, I think its always good to ask fundamental design questions, to poke at i2p and see why we do things the way we do</p>
<p>13:21 &lt; jrandom&gt; i've got the feeling we'll be hearing more about cascade-like systems in the future, so hopefully the description in the email will help explain i2p's relation to cascades</p>
<p>13:21 &lt; ughabugha&gt; Ok, it should work _now_.</p>
<p>13:21 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; Say something.</p>
<p>13:21 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; I move to not go after a mix net implementation within the current roadmap, and leave that for later</p>
<p>13:21 &lt; ughabugha&gt; Yeah, it works now.</p>
<p>13:21 -!- wilde [~anon@localhost] has joined #i2p</p>
<p>13:22 &lt; jrandom&gt; janymous&gt; well, i2p /is/ a mixnet, just not a mix cascade</p>
<p>13:22 &lt; madman&gt; i'm going offline</p>
<p>13:22 &lt; jrandom&gt; 'k, ttyl madman</p>
<p>13:22 &lt; jrandom&gt; heya wilde</p>
<p>13:22 &lt; madman&gt; so bye</p>
<p>13:22 &lt; ughabugha&gt; IIP &lt;wilde&gt; finally</p>
<p>13:22 &lt; ughabugha&gt; IIP &lt;wilde&gt; hello meeting</p>
<p>13:22 &lt; jrandom&gt; but I concur, I don't think mix cascade functionality needs to be on the roadmap</p>
<p>13:23 &lt; ughabugha&gt; IIP &lt;madman2003&gt; bye everyone</p>
<p>13:24 &lt; jrandom&gt; ok, anything else on cascades, or should we move to 3) Roadmap?</p>
<p>13:26 &lt; ughabugha&gt; Hi, wilde@IIP</p>
<p>13:26 &lt; ughabugha&gt; Bye, madman@IIP</p>
<p>13:26 -!- madman [~a@localhost] has quit [( www.nnscript.de :: NoNameScript 3.8 :: www.XLhost.de )]</p>
<p>13:26 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; Just seems like it could be implemented later, like a DHT might be. High Wilde</p>
<p>13:26 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; bye Madman</p>
<p>--- Log closed Tue Mar 02 13:27:07 2004</p>
<p>--- Log opened Tue Mar 02 13:27:52 2004</p>
<p>13:27 -!- jrandom [~jrandom@localhost] has joined #i2p</p>
<p>13:27 -!- Irssi: #i2p: Total of 3 nicks [0 ops, 0 halfops, 0 voices, 3 normal]</p>
<p>13:27 -!- wilde [~anon@localhost] has joined #i2p</p>
<p>13:27 &lt; jrandom&gt; back</p>
<p>13:28 &lt; ughabugha&gt; Uhoh, jrandom quitted.</p>
<p>13:28 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; bah</p>
<p>13:28 &lt; jrandom&gt; ok last I saw was 13:26:08 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; bye Madman</p>
<p>13:28 -!- Irssi: Join to #i2p was synced in 36 secs</p>
<p>13:28 &lt; jrandom&gt; (irssi missed a ping so it dropped it)</p>
<p>13:29 &lt; ughabugha&gt; You missed IIP &lt;Janonymous&gt; Roadmap</p>
<p>13:29 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; ah.. We all agreed to go onto the roadmap ;)</p>
<p>13:29 &lt; jrandom&gt; w3rd</p>
<p>13:29 &lt; jrandom&gt; ok, the roadmap change is likely why mihi hates me now</p>
<p>13:30 &lt; ughabugha&gt; Uh, then you missed alot more than that.</p>
<p>13:30 &lt; ughabugha&gt; Just a second.</p>
<p>13:30 &lt; ughabugha&gt; [23:23 39] &lt;ughabugha&gt; IIP &lt;wilde&gt; oh we have to camps now, the iip gang and the I2P hood</p>
<p>13:30 &lt; ughabugha&gt; [23:23 47] &lt;ughabugha&gt; IIP &lt;wilde&gt; two</p>
<p>13:30 &lt; ughabugha&gt; [23:23 50] &lt;ughabugha&gt; Hehe.</p>
<p>13:30 &lt; ughabugha&gt; [23:23 54] &lt;ughabugha&gt; IIP &lt;Janonymous&gt; :) got a relay going</p>
<p>13:30 &lt; ughabugha&gt; [23:24 22] &lt;ughabugha&gt; This is a temporary script I hacked together quickly. For future meetings we should think of something better.</p>
<p>13:30 &lt; ughabugha&gt; [23:24 44] &lt;ughabugha&gt; IIP &lt;Janonymous&gt; It works</p>
<p>13:30 &lt; ughabugha&gt; [23:25 18] &lt;ughabugha&gt; Ok, concentrate on I2P now, not the relay.</p>
<p>13:30 &lt; ughabugha&gt; [23:25 39] &lt;ughabugha&gt; IIP &lt;Janonymous&gt; So, mix cascades could feasably implemented quite well over i2p</p>
<p>13:30 &lt; ughabugha&gt; Sorry for the flood.</p>
<p>13:30 &lt; duck&gt; this is chaos</p>
<p>13:31 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; but i think we can emphasize /over/</p>
<p>13:31 &lt; ughabugha&gt; Ok, 3) Roadmap</p>
<p>13:31 &lt; ughabugha&gt; duck: Pretty much.</p>
<p>13:31 &lt; jrandom&gt; this aint nothing compared to meeting 67 ;)</p>
<p>13:31 &lt; jrandom&gt; ok, on to 3</p>
<p>13:31 &lt; jrandom&gt; anyone have any thoughts wrt the roadmap?</p>
<p>13:32 &lt; jrandom&gt; the changes / views / concerns?</p>
<p>13:32 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; Multi-tunneling</p>
<p>13:32 &lt; jrandom&gt; janonymous&gt; we've already got that</p>
<p>13:32 &lt; jrandom&gt; (as of 0.2.5)</p>
<p>13:32 &lt; jrandom&gt; if I understand you correctly</p>
<p>13:33 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; but, as in, sending one file over two tunnels to accelerate transmission?</p>
<p>13:33 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; at the same time</p>
<p>13:34 &lt; jrandom&gt; i2p doesn't deal with files, but yes, each individual i2p message can now go down multiple tunnels</p>
<p>13:34 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; I think that would be a great addition for the 2.0 area</p>
<p>13:34 &lt; jrandom&gt; e.g. first 32kb sent down tunnel X, next 32kb sent down tunnel Y</p>
<p>13:35 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; right.. thats what I'm getting at.. that seems very necessary to me</p>
<p>13:35 &lt; jrandom&gt; but i2psnark with i2cp support would be able to maximize things</p>
<p>13:35 &lt; jrandom&gt; janonymous&gt; we do that now</p>
<p>13:36 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; oh. I2PSnark will utilize multiple tunnels for point to point communication?</p>
<p>13:36 &lt; jrandom&gt; all messages can go down multiple tunnels.</p>
<p>13:36 &lt; duck&gt; theoretically</p>
<p>13:37 &lt; jrandom&gt; not just theoretically - if a message takes &gt; 15s, its sent down the other available lease</p>
<p>13:37 &lt; jrandom&gt; and if it takes &gt; 30s, the leaseSet is dropped and refetched, with subsequent messages going down found leases</p>
<p>13:37 &lt; jrandom&gt; BUT</p>
<p>13:38 &lt; jrandom&gt; i2ptunnel (any anything else that uses i2p's mode=guaranteed) waits until each message is delivered before sending the next one</p>
<p>13:38 &lt; jrandom&gt; native i2cp apps don't need to do that</p>
<p>13:38 &lt; jrandom&gt; (nor will any apps that use the socket library, once the socket library is both implemented and supports SACK)</p>
<p>13:38 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; ok.. I just think that will be a great method for these tunnels in the future.. for speed and anomymity</p>
<p>13:38 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; and keeping strain off individual tunnels</p>
<p>13:39 &lt; jrandom&gt; agreed</p>
<p>13:39 &lt; jrandom&gt; ok, anything else on the roadmap?</p>
<p>13:40 &lt; jrandom&gt; (anyone going to bitch me out for dropping the socket lib?  mihi?  :)</p>
<p>13:41 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; I used an analogy earlier today to describe multi-tunneling to someone.. and I said it was like adding lanes to a road</p>
<p>13:42 &lt; jrandom&gt; pretty much</p>
<p>13:42 &lt; jrandom&gt; (though one's on-ramp is always the same number of lanes ;)</p>
<p>13:42 &lt; duck&gt; if mihi is angry he can do the socket api cant he?</p>
<p>13:43 &lt; jrandom&gt; sure, and/or anyone else.  the socket lib is Good</p>
<p>13:43 &lt; jrandom&gt; (but hard, and imho not functionally essential to the operation / security of the network)</p>
<p>13:44 &lt; jrandom&gt; i just wish i had the time to do it and keep moving on the core i2p code</p>
<p>13:44 &lt; jrandom&gt; but, c'est la vie</p>
<p>13:45 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; looks like mihis not here</p>
<p>13:45 &lt; ughabugha&gt; Ok, i'm back now.</p>
<p>13:45 &lt; jrandom&gt; coo'</p>
<p>13:45 &lt; jrandom&gt; ok, moving on to 4) website</p>
<p>13:46 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; big on ramp == cable / small on ramp == dialup ??</p>
<p>13:46 &lt; ughabugha&gt; Hmm</p>
<p>13:46 &lt; ughabugha&gt; What was the socket library going to do?</p>
<p>13:46 -!- nick [~Janonym@localhost] has joined #i2p</p>
<p>13:46 &lt; jrandom&gt; right nanonymous</p>
<p>13:46 &lt; jrandom&gt; er, janonymous</p>
<p>13:46 &lt; jrandom&gt; (no matter what, i2p cant make your local net connection faster)</p>
<p>13:46 &lt; jrandom&gt; ughabugha: http://wiki.invisiblenet.net/iip-wiki?I2PSocketLibrary</p>
<p>13:47 &lt; ughabugha&gt; I mean a socket library for Java? Don't you already have one?</p>
<p>13:47 &lt; jrandom&gt; the socket lib factors out the TCP-esque code out of i2p, letting i2p specialize in IP-like messages</p>
<p>13:47 &lt; nick&gt; yup</p>
<p>13:47 -!- nick [~Janonym@localhost] has quit [Client closed connection]</p>
<p>13:48 &lt; jrandom&gt; ah, right, yes, but this would let applications stream data over i2p much more efficiently (if/when the socket library supports selective ACK, rather than requiring an ACK after each message like it does now)</p>
<p>13:49 &lt; jrandom&gt; i'm not comfortable with implementing SACK within the router, since it can safely go outside of it (into the socket lib)</p>
<p>13:49 &lt; ughabugha&gt; But why drop it? Does it really take that much work?</p>
<p>13:49 &lt; jrandom&gt; yes, to get right</p>
<p>13:49 &lt; jrandom&gt; there's some code thats part way implemented, but i dont have time to maintain and test it</p>
<p>13:49 &lt; ughabugha&gt; Ok. You're the man.</p>
<p>13:50 &lt; jrandom&gt; well, $devWhoImplements it is the man ;)</p>
<p>13:50 &lt; jrandom&gt; anyway, moving on to 4) website</p>
<p>13:50 &lt; ughabugha&gt; :)</p>
<p>13:51 &lt; ughabugha&gt; Any volunteers?</p>
<p>13:51 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; research on implementations of anonymous p2p</p>
<p>13:51  * jrandom echoes ughabugha's question :)</p>
<p>13:51 &lt; jrandom&gt; hmm janonymous?</p>
<p>13:51 &lt; ughabugha&gt; Janonymous: This will be covered under 5) ???</p>
<p>13:51 &lt; jrandom&gt; :)</p>
<p>13:52 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; wll its content that goes on the site</p>
<p>13:52 &lt; jrandom&gt; ah, yeah, I agree</p>
<p>13:52 &lt; jrandom&gt; (see item 7 on http://i2p.net/pipermail/i2p/2004-February/000133.html)</p>
<p>13:53 &lt; jrandom&gt; and item 8</p>
<p>13:53 &lt; jrandom&gt; or is that not what you mean?</p>
<p>13:53 &lt; jrandom&gt; I'll probably post up the truckload of papers i dug through last summer when researching and designing i2p</p>
<p>13:53 &lt; jrandom&gt; (or at least pointers to their citeseer entries)</p>
<p>13:54 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; Ok. Were we going to discuss the next CMS for I2P?</p>
<p>13:54 &lt; ughabugha&gt; jrandom allready chose the CMS.</p>
<p>13:55 &lt; jrandom&gt; yes/no - rather than researching the pros and cons of CMSes for another month or two, we'll just go with drupal for now</p>
<p>13:55 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; /topic #i2p</p>
<p>13:55 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; Ok.. well, as far as what to put there.. We need a presentation</p>
<p>13:55 &lt; jrandom&gt; if we need to migrate to another one, wilde assures me its simple enough to export content</p>
<p>13:55 &lt; jrandom&gt; a presentation?</p>
<p>13:56 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; with lots of illustrations and a step by step introduction to I2P</p>
<p>13:56 &lt; jrandom&gt; we do need the graphic design implemented</p>
<p>13:56 &lt; jrandom&gt; ah right</p>
<p>13:56 &lt; jrandom&gt; a user's intro</p>
<p>13:56 &lt; jrandom&gt; the wiki intro is generally a technie intro</p>
<p>13:56 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; Almost like a multimedia presentation</p>
<p>13:56 &lt; ughabugha&gt; IIP &lt;jrand0m&gt; w0ah</p>
<p>13:56 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; right</p>
<p>13:57 &lt; ughabugha&gt; IIP &lt;ughabugha&gt; Yay!</p>
<p>13:57 &lt; jrandom&gt; ok, i think we can get that together, but we'll probably want to wait on producing that content until we have both a Real installer, and a GUI control system</p>
<p>13:57 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; In it, there should be more pictures, than words. :)</p>
<p>13:57 &lt; jrandom&gt; right</p>
<p>13:58 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; righto</p>
<p>13:58 &lt; jrandom&gt; but we don't have a real installer yet, and (as much as i2pmgr and i2pmole are great) i think there's still work to be done on a control panel</p>
<p>13:58 &lt; ughabugha&gt; This is not the top priority right now.</p>
<p>13:58 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; certainly not. but for those of us not programming...</p>
<p>13:59 &lt; jrandom&gt; right.  so we need volunteers to work on 1) designing what content needs to be on the i2p website 2) designing the graphics / css / layout for the i2p website 3) people to work on creating content for the i2p website</p>
<p>14:00 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; I've got a month to spare. Think it would be time well spent.</p>
<p>14:00 &lt; jrandom&gt; w00t :)</p>
<p>14:00  * jrandom marks Janonymous down as a volunteer... for content design &amp; content creation?</p>
<p>14:00 &lt; wilde&gt; back</p>
<p>14:00 &lt; ughabugha&gt; Well, I could do HTML, CSS and the technical stuff, but I'm not much of a writer, nor a designer.</p>
<p>14:01 &lt; jrandom&gt; r0x0r</p>
<p>14:01 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; right.. I'm not so good at the designing part yet</p>
<p>14:01 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; I could try to write, but not without some good critique.. I've never writen editorial type things</p>
<p>14:01 &lt; ughabugha&gt; I can also use Photoshop and other tools as long as I'm given specific instructions on what to do. ;)</p>
<p>14:01 &lt; wilde&gt; I'll take care of drupal and features</p>
<p>14:02 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; I've got some good ideas for you ughabugha</p>
<p>14:02 &lt; jrandom&gt; right, by content design i don't mean layout, but more "ok, we need a user intro page, a tech intro page, a faq" etc</p>
<p>14:02 &lt; ughabugha&gt; Heh, ok. :)</p>
<p>14:02 &lt; jrandom&gt; r0x0r0r</p>
<p>14:02  * jrandom marks down wilde and ughabugha as volunteers :)</p>
<p>14:02 &lt; ughabugha&gt; Looking forward to them.</p>
<p>14:02 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; there's a shaby picture I made that can be found linked to the new I2POverview doc on I2p</p>
<p>14:03 &lt; jrandom&gt; word, yeah janonymous, that pic is pretty good, some minor tech issues with it, but quite useful</p>
<p>14:03 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; It would look alot nicer in photoshop I'm sure</p>
<p>14:04 &lt; ughabugha&gt; Heh.</p>
<p>14:04 &lt; ughabugha&gt; Janonymous: Let's discuss that privately tomorrow.</p>
<p>14:04 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; eh, actually I may have accidentally deleted it :/</p>
<p>14:04 &lt; jrandom&gt; ok, anything else for the website, or can we move on to 5) ???</p>
<p>14:04 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; ok</p>
<p>14:07 &lt; wilde&gt; ok one thing:</p>
<p>14:07 &lt; ughabugha&gt; Anything else on website?</p>
<p>14:07 &lt; wilde&gt; what is the first feeling you should get on the site?</p>
<p>14:07 &lt; wilde&gt; keywords please</p>
<p>14:07 &lt; jrandom&gt; wilde&gt; see http://i2p.net/pipermail/i2p/2004-February/000133.html (the "rom a branding perspective" paragraph :)</p>
<p>14:08 &lt; jrandom&gt; i do like the anonymous bit by bit thing</p>
<p>14:08 &lt; ughabugha&gt; I suppose not. Should we go on to 5) ??? ?</p>
<p>14:08 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; should we make a more detailed user roadmap?</p>
<p>14:08 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; one describing the long term goals in more detail</p>
<p>14:08 &lt; ughabugha&gt; wilde: Only positive emotions.</p>
<p>14:09 &lt; jrandom&gt; janonymous&gt; agreed, the current roadmap is really just tech notes for tech tasks ;)</p>
<p>14:09 &lt; jrandom&gt; ok, 5) ??</p>
<p>14:09 &lt; jrandom&gt; anything y'all want to bring up?</p>
<p>14:10 &lt; wilde&gt; itoopie isn't really in line with simple and secure</p>
<p>14:10 &lt; wilde&gt; it's more of a cartoon feeling</p>
<p>14:10 &lt; wilde&gt; that's why i asked</p>
<p>14:10 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; yea, might want to build some more anticipation</p>
<p>14:10 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; for the users to get involved</p>
<p>14:10 -!- kaji [~booky5@localhost] has joined #i2p</p>
<p>--- Log closed Tue Mar 02 14:11:08 2004</p>
<p>--- Log opened Tue Mar 02 14:12:12 2004</p>
<p>14:12 -!- jrandom_ [~jrandom@localhost] has joined #i2p</p>
<p>14:12 -!- Irssi: #i2p: Total of 6 nicks [0 ops, 0 halfops, 0 voices, 6 normal]</p>
<p>14:12 &lt; jrandom_&gt; back</p>
<p>14:12 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; like, it should work for them without them even knowing its there</p>
<p>14:12 &lt; jrandom_&gt; wilde&gt; I'm open to suggestions</p>
<p>14:12 &lt; ughabugha&gt; * jrandom_ (~jrandom@localhost) has joined #i2p</p>
<p>14:12 &lt; jrandom_&gt;  &lt;Janonymous&gt; yea, might want to build some more anticipation</p>
<p>14:12 &lt; jrandom_&gt; hmm?</p>
<p>14:14 &lt; ughabugha&gt; You missed these:</p>
<p>14:14 &lt; ughabugha&gt; [00:11 43] &lt;ughabugha&gt; IIP &lt;Janonymous&gt; I'd just like to reemphasize.. I just think all multi-tunneling methods should be transparent and available to all client apps</p>
<p>14:14 &lt; ughabugha&gt; [00:12 07] &lt;ughabugha&gt; IIP &lt;Janonymous&gt; like, it should work for them without them even knowing its there</p>
<p>14:14 &lt; jrandom_&gt; janonymous&gt; already implemented.</p>
<p>14:14 &lt; jrandom_&gt; i2p already transparently balances end to end communication over multiple tunnels</p>
<p>14:15  * jrandom_ kicks jrandom</p>
<p>14:15 -!- jrandom [~jrandom@localhost] has quit [Ping timeout]</p>
<p>14:15 -!- Irssi: Join to #i2p was synced in 231 secs</p>
<p>14:15 &lt; wilde&gt; participation?</p>
<p>14:15 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; even if we profile the fastest most stable tunnels.. we can still use the other slow tunnels for extra throughput if we need it</p>
<p>14:15 &lt; kaji&gt; is iip up?</p>
<p>14:15 -!- kaji [~booky5@localhost] has quit [Client closed connection]</p>
<p>14:15 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; And we may want to distribute the load anyway.. and that should all be transparent to the client apps</p>
<p>14:15 -!- You're now known as jrandom</p>
<p>14:16 -!- protocol [~iip@localhost] has joined #i2p</p>
<p>14:16 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; ok</p>
<p>14:16 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; cool</p>
<p>14:16 &lt; jrandom&gt; :)</p>
<p>14:17 &lt; ughabugha&gt; jrandom: Don't use ACTION, it's not relayed ;)</p>
<p>14:17 &lt; jrandom&gt; hah ok sorry</p>
<p>14:17  * jrandom says something they cant see</p>
<p>14:17 &lt; jrandom&gt; ;)</p>
<p>14:17 &lt; jrandom&gt; ok, anyone else have anything else?</p>
<p>14:18 &lt; jrandom&gt; i think after the current netDb bugs are fixed we may want to try the i2psnark tests again</p>
<p>14:20 -!- kaji [~booky5@localhost] has joined #i2p</p>
<p>14:20 -!- wilde [~anon@localhost] has quit [Ping timeout]</p>
<p>14:20 &lt; ughabugha&gt; But does the 15-second wait really distribute the load?</p>
<p>14:20 &lt; ughabugha&gt; That's not how I see it.</p>
<p>14:20  * protocol says iip is for lusers</p>
<p>14:20 &lt; ughabugha&gt; The way I see it, it should be 100% simultaneous, the node should put packets through the tunnel as fast as the destination can handle them.</p>
<p>14:20 &lt; ughabugha&gt; Through all the tunnels, I mean.</p>
<p>14:20 -!- nick [~Janonym@localhost] has joined #i2p</p>
<p>14:20 -!- kaji [~booky5@localhost] has quit [Client closed connection]</p>
<p>14:21 &lt; jrandom&gt; ughabugha: each message is ideally only sent over one tunnel, but each individual message is balanced over all of them</p>
<p>14:21 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; me and duck ran a test over I2PSnark</p>
<p>14:21 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; earlier today.</p>
<p>14:21 &lt; jrandom&gt; ughabugha: if we sent it over all tunnels always, that'd be a significant amount of wasted traffic</p>
<p>14:21 -!- nick [~Janonym@localhost] has quit [Client closed connection]</p>
<p>14:21 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; Is everyone happy with the "I2P" name?</p>
<p>14:21 -!- kaji [~booky5@localhost] has joined #i2p</p>
<p>14:21 -!- wilde [~anon@localhost] has joined #i2p</p>
<p>14:22 &lt; jrandom&gt; janonymous&gt; i2p is the name.</p>
<p>14:22 &lt; jrandom&gt; you can call it betty, but i2p is the name ;)</p>
<p>14:22 &lt; ughabugha&gt; kaji: Why are you blinking like this?</p>
<p>14:22 &lt; jrandom&gt; ughabugha: kaji likes messing with us</p>
<p>14:22 &lt; ughabugha&gt; jrandom: Yeah, I understand that. I guess it works just as I imagine it.</p>
<p>14:23 &lt; kaji&gt; i dont know</p>
<p>14:23 &lt; kaji&gt; is iip up?</p>
<p>14:23 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; cool</p>
<p>14:23 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; is for me</p>
<p>14:23 &lt; ughabugha&gt; It is for some people, and it's not for others.</p>
<p>14:23 &lt; ughabugha&gt; So I'm running a relay.</p>
<p>14:24 &lt; jrandom&gt; ughabugha++</p>
<p>14:24 &lt; ughabugha&gt; To connect the networks.</p>
<p>14:24 &lt; kaji&gt; cool</p>
<p>14:24 &lt; jrandom&gt; the details of the parallel/serial sending is in net.invisiblenet.i2p.router.message.OutboundClientMessageJob</p>
<p>14:24 &lt; ughabugha&gt; :)</p>
<p>14:24 &lt; jrandom&gt; (for anyone who wants to know more details of how it works)</p>
<p>14:25 &lt; jrandom&gt; ok, anything else people want to bring up?</p>
<p>14:25 &lt; kaji&gt; so how is i2p dev? :) (Mirc sez 'lag=30 seconds')</p>
<p>14:25 &lt; jrandom&gt; kaji&gt; we're making progress ;)</p>
<p>14:26 &lt; jrandom&gt; irssi here has bounced between 80s and 1s lag</p>
<p>14:26 &lt; jrandom&gt; (two disconnects in the last 90 minutes)</p>
<p>14:26 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; is there any more ideas on content for the new site?</p>
<p>14:27 &lt; ughabugha&gt; IIP &lt;kaji&gt; sweet</p>
<p>14:27 &lt; jrandom&gt; beyond http://i2p.net/pipermail/i2p/2004-February/000133.html I think we'll want to go with one of drupal's forum modules</p>
<p>14:27 &lt; ughabugha&gt; No disconnects for me for 80 minutes.</p>
<p>14:27 &lt; jrandom&gt; nice ughabugha </p>
<p>14:27 &lt; kaji&gt; hmm now the lag is down to a few seconds</p>
<p>14:27 &lt; jrandom&gt; yeah, it varies kaji</p>
<p>14:28 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; oh, me and ugha talked on my chat room over eep today :)</p>
<p>14:28 &lt; jrandom&gt; nice1!</p>
<p>14:28 &lt; ughabugha&gt; Janonymous: I wouldn't call that talking. ;)</p>
<p>14:28 &lt; ughabugha&gt; It was more like shouting over a distance of a few kilometers.</p>
<p>14:28 &lt; jrandom&gt; wait, y'all did voice?</p>
<p>14:29 &lt; ughabugha&gt; IIP &lt;Janonymous&gt; :) it was one message</p>
<p>14:29 &lt; ughabugha&gt; :)</p>
<p>14:29 &lt; ughabugha&gt; Well, I caused all the lag.</p>
<p>14:30 &lt; ughabugha&gt; Anyway, if somebody has a proposition for discussion, do it now, because I have to go.</p>
<p>14:30 &lt; jrandom&gt; word, 90m is a good meeting length to end at too...</p>
<p>14:30 &lt; jrandom&gt; anything else can be taken up on the mailing list</p>
<p>14:30 &lt; jrandom&gt; (and/or iip/i2p later)</p>
<p>14:31  * jrandom winds up the *baf*er...</p>
<p>14:31  * jrandom *baf*s the meeting closed</p>
</div>
{% endblock %}