{% extends "_layout.html" %}
{% block title %}Meetings{% endblock %}
{% block content %}
<h1>Journaux des rencontres I2P pass&eacute;es</h1>
<p>Les rencontres r&eacute;guli&egrave;res ne sont plus maintenues en ce moment.
Si vous voulez discuter avec l'&eacute;quipe vous trouverez les d&eacute;veloppeurs sur l'IRC, canal #i2p,
et #i2p-fr pour les discutions en français.
Vous pouvez aussi consulter les notes des <a href="statusnotes.html">anciennes r&eacute;unions h&eacute;bdomadaires</a>.
</p><div class="underline"></div>
<ul class="infolist">
<li><a href="meeting207">Rencontre 207</a> - F&acute;vrier 10, 2009</li>
<li><a href="meeting206">Rencontre 206</a> - Avril 10, 2007</li>
<li><a href="meeting205">Rencontre 205</a> - Avril 3, 2007</li>
<li><a href="meeting204">Rencontre 204</a> - Mars 27, 2007</li>
<li><a href="meeting203">Rencontre 203</a> - Mars 20, 2007</li>
<li><a href="meeting202">Rencontre 202</a> - Mars 13, 2007</li>
<li><a href="meeting201">Rencontre 201</a> - F&acute;vrier 20, 2007</li>
<li><a href="meeting200">Rencontre 200</a> - F&acute;vrier 13, 2007</li>
<li><a href="meeting199">Rencontre 199</a> - F&acute;vrier 6, 2007</li>
<li><a href="meeting198">Rencontre 198</a> - Janvier 30, 2007</li>
<li><a href="meeting197">Rencontre 197</a> - Janvier 16, 2007</li>
<li><a href="meeting196">Rencontre 196</a> - Janvier 9, 2007</li>
<li><a href="meeting195">Rencontre 195</a> - Janvier 2, 2007</li>
<li><a href="meeting194">Rencontre 194</a> - D&eacute;cembre 26, 2006</li>
<li><a href="meeting193">Rencontre 193</a> - D&eacute;cembre 12, 2006</li>
<li><a href="meeting192">Rencontre 192</a> - D&eacute;cembre 05, 2006</li>
<li><a href="meeting191">Rencontre 191</a> - Novembre 28, 2006</li>
<li><a href="meeting190">Rencontre 190</a> - Novembre 21, 2006</li>
<li><a href="meeting189">Rencontre 189</a> - Novembre 14, 2006</li>
<li><a href="meeting188">Rencontre 188</a> - Novembre 7, 2006</li>
<li><a href="meeting187">Rencontre 187</a> - Octobre 31, 2006</li>
<li><a href="meeting186">Rencontre 186</a> - Octobre 24, 2006</li>
<li><a href="meeting185">Rencontre 185</a> - Octobre 17, 2006</li>
<li><a href="meeting184">Rencontre 184</a> - S&eacute;ptembre 12, 2006</li>
<li><a href="meeting183">Rencontre 183</a> - Ao&ucirc;t 1, 2006</li>
<li><a href="meeting182">Rencontre 182</a> - Juin 13, 2006</li>
<li><a href="meeting181">Rencontre 181</a> - Mai 30, 2006</li>
<li><a href="meeting180">Rencontre 180</a> - Mai 16, 2006</li>
<li><a href="meeting179">Rencontre 179</a> - Mai 9, 2006</li>
<li><a href="meeting178">Rencontre 178</a> - Mai 2, 2006</li>
<li><a href="meeting177">Rencontre 177</a> - Avril 25, 2006</li>
<li><a href="meeting176">Rencontre 176</a> - Avril 18, 2006</li>
<li><a href="meeting175">Rencontre 175</a> - Avril 4, 2006</li>
<li><a href="meeting174">Rencontre 174</a> - Mars 28, 2006</li>
<li><a href="meeting173">Rencontre 173</a> - Mars 21, 2006</li>
<li><a href="meeting172">Rencontre 172</a> - Mars 14, 2006</li>
<li><a href="meeting171">Rencontre 171</a> - Mars 7, 2006</li>
<li><a href="meeting170">Rencontre 170</a> - F&acute;vrier 28, 2006</li>
<li><a href="meeting169">Rencontre 169</a> - F&acute;vrier 21, 2006</li>
<li><a href="meeting168">Rencontre 168</a> - F&acute;vrier 14, 2006</li>
<li><a href="meeting167">Rencontre 167</a> - F&acute;vrier 7, 2006</li>
<li><a href="meeting166">Rencontre 166</a> - Janvier 31, 2006</li>
<li><a href="meeting165">Rencontre 165</a> - Janvier 24, 2006</li>
<li><a href="meeting164">Rencontre 164</a> - Janvier 17, 2006</li>
<li><a href="meeting163">Rencontre 163</a> - Janvier 10, 2006</li>
<li><a href="meeting162">Rencontre 162</a> - Janvier 4, 2006</li>
<li><a href="meeting161">Rencontre 161</a> - D&eacute;cembre 20, 2005</li>
<li><a href="meeting160">Rencontre 160</a> - D&eacute;cembre 13, 2005</li>
<li><a href="meeting159">Rencontre 159</a> - D&eacute;cembre 6, 2005</li>
<li><a href="meeting158">Rencontre 158</a> - Novembre 29, 2005</li>
<li><a href="meeting157">Rencontre 157</a> - Novembre 22, 2005</li>
<li><a href="meeting156">Rencontre 156</a> - Novembre 15, 2005</li>
<li><a href="meeting155">Rencontre 155</a> - Novembre 8, 2005</li>
<li><a href="meeting154">Rencontre 154</a> - Novembre 1, 2005</li>
<li><a href="meeting153">Rencontre 153</a> - Octobre 25, 2005</li>
<li><a href="meeting152">Rencontre 152</a> - Octobre 18, 2005</li>
<li><a href="meeting151">Rencontre 151</a> - Octobre 11, 2005</li>
<li><a href="meeting150">Rencontre 150</a> - Octobre 4, 2005</li>
<li><a href="meeting149">Rencontre 149</a> - S&eacute;ptembre 27, 2005</li>
<li><a href="meeting148">Rencontre 148</a> - S&eacute;ptembre 20, 2005</li>
<li><a href="meeting147">Rencontre 147</a> - S&eacute;ptembre 13, 2005</li>
<li><a href="meeting146">Rencontre 146</a> - S&eacute;ptembre 6, 2005</li>
<li><a href="meeting145">Rencontre 145</a> - Ao&ucirc;t 30, 2005</li>
<li><a href="meeting144">Rencontre 144</a> - Ao&ucirc;t 23, 2005</li>
<li><a href="meeting143">Rencontre 143</a> - Ao&ucirc;t 16, 2005</li>
<li><a href="meeting142">Rencontre 142</a> - Ao&ucirc;t 9, 2005</li>
<li><a href="meeting141">Rencontre 141</a> - Ao&ucirc;t 2, 2005</li>
<li><a href="meeting140">Rencontre 140</a> - Mai 3, 2005</li>
<li><a href="meeting139">Rencontre 139</a> - Avril 26, 2005</li>
<li><a href="meeting138">Rencontre 138</a> - Avril 19, 2005</li>
<li><a href="meeting137">Rencontre 137</a> - Avril 12, 2005</li>
<li><a href="meeting136">Rencontre 136</a> - Avril 5, 2005</li>
<li><a href="meeting135">Rencontre 135</a> - Mars 28, 2005</li>
<li><a href="meeting134">Rencontre 134</a> - Mars 22, 2005</li>
<li><a href="meeting133">Rencontre 133</a> - Mars 15, 2005</li>
<li><a href="meeting132">Rencontre 132</a> - Mars 8, 2005</li>
<li><a href="meeting131">Rencontre 131</a> - Mars 1, 2005</li>
<li><a href="meeting130">Rencontre 130</a> - F&acute;vrier 22, 2005</li>
<li><a href="meeting129">Rencontre 129</a> - F&acute;vrier 15, 2005</li>
<li><a href="meeting128">Rencontre 128</a> - F&acute;vrier 8, 2005</li>
<li><a href="meeting127">Rencontre 127</a> - F&acute;vrier 1, 2005</li>
<li><a href="meeting126">Rencontre 126</a> - Janvier 25, 2005</li>
<li><a href="meeting125">Rencontre 125</a> - Janvier 18, 2005</li>
<li><a href="meeting124">Rencontre 124</a> - Janvier 11, 2005</li>
<li><a href="meeting123">Rencontre 123</a> - Janvier 4, 2005</li>
<li><a href="meeting122">Rencontre 122</a> - D&eacute;cembre 28, 2004</li>
<li><a href="meeting121">Rencontre 121</a> - D&eacute;cembre 21, 2004</li>
<li><a href="meeting120">Rencontre 120</a> - D&eacute;cembre 14, 2004</li>
<li><a href="meeting119">Rencontre 119</a> - D&eacute;cembre 7, 2004</li>
<li><a href="meeting118">Rencontre 118</a> - Novembre 30, 2004</li>
<li><a href="meeting117">Rencontre 117</a> - Novembre 23, 2004</li>
<li><a href="meeting116">Rencontre 116</a> - Novembre 16, 2004</li>
<li><a href="meeting115">Rencontre 115</a> - Novembre 9, 2004</li>
<li><a href="meeting114">Rencontre 114</a> - Novembre 2, 2004</li>
<li><a href="meeting113">Rencontre 113</a> - Octobre 26, 2004</li>
<li><a href="meeting112">Rencontre 112</a> - Octobre 19, 2004</li>
<li><a href="meeting111">Rencontre 111</a> - Octobre 12, 2004</li>
<li><a href="meeting110">Rencontre 110</a> - Octobre 5, 2004</li>
<li><a href="meeting109">Rencontre 109</a> - S&eacute;ptembre 28, 2004</li>
<li><a href="meeting108">Rencontre 108</a> - S&eacute;ptembre 21, 2004</li>
<li><a href="meeting107">Rencontre 107</a> - S&eacute;ptembre 14, 2004</li>
<li><a href="meeting106">Rencontre 106</a> - S&eacute;ptembre 7, 2004</li>
<li><a href="meeting105">Rencontre 105</a> - Ao&ucirc;t 31, 2004</li>
<li><a href="meeting104">Rencontre 104</a> - Ao&ucirc;t 24, 2004</li>
<li><a href="meeting103">Rencontre 103</a> - Ao&ucirc;t 17, 2004</li>
<li><a href="meeting102">Rencontre 102</a> - Ao&ucirc;t 10, 2004</li>
<li><a href="meeting101">Rencontre 101</a> - Ao&ucirc;t 3, 2004</li>
<li><a href="meeting100">Rencontre 100</a> - Juillet 27, 2004</li>
<li><a href="meeting99">Rencontre 99</a> - Juillet 20, 2004</li>
<li><a href="meeting95">Rencontre 95</a></li>
<li><a href="meeting93">Rencontre 93</a></li>
<li><a href="meeting92">Rencontre 92</a></li>
<li><a href="meeting90">Rencontre 90</a></li>
<li><a href="meeting82">Rencontre 82</a></li>
<li><a href="meeting81">Rencontre 81</a></li>
<li><a href="meeting80">Rencontre 80</a></li>
<li><a href="meeting79">Rencontre 79</a></li>
<li><a href="meeting78">Rencontre 78</a></li>
<li><a href="meeting77">Rencontre 77</a></li>
<li><a href="meeting76">Rencontre 76</a></li>
<li><a href="meeting75">Rencontre 75</a></li>
<li><a href="meeting74">Rencontre 74</a></li>
<li><a href="meeting73">Rencontre 73</a></li>
<li><a href="meeting72">Rencontre 72</a></li>
<li><a href="meeting71">Rencontre 71</a></li>
<li><a href="meeting70">Rencontre 70</a></li>
<li><a href="meeting69">Rencontre 69</a></li>
<li><a href="meeting68">Rencontre 68</a></li>
<li><a href="meeting66">Rencontre 66</a></li>
<li><a href="meeting65">Rencontre 65</a></li>
<li><a href="meeting64">Rencontre 64</a></li>
<li><a href="meeting63">Rencontre 63</a></li>
<li><a href="meeting62">Rencontre 62</a></li>
<li><a href="meeting61">Rencontre 61</a></li>
<li><a href="meeting60">Rencontre 60</a></li>
<li><a href="meeting59">Rencontre 59</a></li>
<li><a href="meeting58">Rencontre 58</a></li>
<li><a href="meeting57">Rencontre 57</a></li>
<li><a href="meeting56">Rencontre 56</a></li>
<li><a href="meeting55">Rencontre 55</a></li>
<li><a href="meeting54">Rencontre 54</a></li>
<li><a href="meeting53">Rencontre 53</a></li>
<li><a href="meeting52">Rencontre 52</a></li>
<li><a href="meeting51">Rencontre 51</a></li>
<li><a href="meeting50">Rencontre 50</a></li>
<li><a href="meeting49">Rencontre 49</a></li>
<li><a href="meeting48">Rencontre 48</a></li>
<li><a href="meeting47">Rencontre 47</a></li>
<li><a href="meeting35">Rencontre 35</a></li>
<li><a href="meeting34">Rencontre 34</a></li>
<li><a href="meeting33">Rencontre 33</a></li>
<li><a href="meeting32">Rencontre 32</a></li>
<li><a href="meeting31">Rencontre 31</a></li>
<li><a href="meeting30">Rencontre 30</a></li>
<li><a href="meeting29">Rencontre 29</a></li>
<li><a href="meeting28">Rencontre 28</a></li>
<li><a href="meeting26">Rencontre 26</a></li>
<li><a href="meeting25">Rencontre 25</a></li>
<li><a href="meeting23">Rencontre 23</a></li>
<li><a href="meeting22">Rencontre 22</a></li>
<li><a href="meeting21">Rencontre 21</a></li>
<li><a href="meeting20">Rencontre 20</a></li>
<li><a href="meeting18">Rencontre 18</a></li>
<li><a href="meeting15">Rencontre 15</a></li>
<li><a href="meeting12">Rencontre 12</a></li>
<li><a href="meeting11">Rencontre 11</a></li>
<li><a href="meeting10">Rencontre 10</a></li>
<li><a href="meeting9">Rencontre 9</a></li>
<li><a href="meeting8">Rencontre 8</a></li>
<li><a href="meeting7">Rencontre 7</a></li>
<li><a href="meeting4">Rencontre 4</a></li>
<li><a href="meeting3">Rencontre 3</a></li>
<li><a href="meeting2">Rencontre 2</a></li>
<li><a href="meeting1">Rencontre 1</a></li>

</ul>
{% endblock %}
