{% extends "_layout_fr.html" %}
{% block title %}Rencontres{% endblock %}
{% block content %}
Traduction de février 2011. <a href="meetings.html">Version anglaise actuelle</a>
<h1>Journaux des rencontres I2P pass&eacute;es</h1>
<p>Les rencontres r&eacute;guli&egrave;res ne sont plus maintenues en ce moment.
Si vous voulez discuter avec l'&eacute;quipe vous trouverez les d&eacute;veloppeurs sur l'IRC, canal #i2p-dev,
et #i2p-fr pour les discutions en fran&ccedil;ais.
Vous pouvez aussi consulter les notes des <a href="statusnotes.html">anciennes r&eacute;unions hebdomadaires</a>.
</p><div class="underline"></div>
<ul class="infolist">
<li><a href="meeting208">Rencontre 208</a> -  8 septembre 2010</li>
<li><a href="meeting207">Rencontre 207</a> - 10 f&eacute;vrier 2009</li>
<li><a href="meeting206">Rencontre 206</a> - 10 avril 2007</li>
<li><a href="meeting205">Rencontre 205</a> -  3 avril 2007</li>
<li><a href="meeting204">Rencontre 204</a> - 27 mars 2007</li>
<li><a href="meeting203">Rencontre 203</a> - 20 mars 2007</li>
<li><a href="meeting202">Rencontre 202</a> - 13 mars 2007</li>
<li><a href="meeting201">Rencontre 201</a> - 20 f&eacute;vrier 2007</li>
<li><a href="meeting200">Rencontre 200</a> - 13 f&eacute;vrier 2007</li>
<li><a href="meeting199">Rencontre 199</a> -  6 f&eacute;vrier 2007</li>
<li><a href="meeting198">Rencontre 198</a> - 30 janvier 2007</li>
<li><a href="meeting197">Rencontre 197</a> - 16 janvier 2007</li>
<li><a href="meeting196">Rencontre 196</a> -  9 janvier 2007</li>
<li><a href="meeting195">Rencontre 195</a> -  2 janvier 2007</li>
<li><a href="meeting194">Rencontre 194</a> - 26 d&eacute;cembre 2006</li>
<li><a href="meeting193">Rencontre 193</a> - 12 d&eacute;cembre 2006</li>
<li><a href="meeting192">Rencontre 192</a> -  5 d&eacute;cembre 2006</li>
<li><a href="meeting191">Rencontre 191</a> - 28 novembre 2006</li>
<li><a href="meeting190">Rencontre 190</a> - 21 novembre 2006</li>
<li><a href="meeting189">Rencontre 189</a> - 14 novembre 2006</li>
<li><a href="meeting188">Rencontre 188</a> -  7 novembre 2006</li>
<li><a href="meeting187">Rencontre 187</a> - 31 octobre 2006</li>
<li><a href="meeting186">Rencontre 186</a> - 24 octobre 2006</li>
<li><a href="meeting185">Rencontre 185</a> - 17 octobre 2006</li>
<li><a href="meeting184">Rencontre 184</a> - 12 septembre 2006</li>
<li><a href="meeting183">Rencontre 183</a> -  1er ao&ucirc;t 2006</li>
<li><a href="meeting182">Rencontre 182</a> - 13 Juin 2006</li>
<li><a href="meeting181">Rencontre 181</a> - 30 mai 2006</li>
<li><a href="meeting180">Rencontre 180</a> - 16 mai 2006</li>
<li><a href="meeting179">Rencontre 179</a> -  9 mai 2006</li>
<li><a href="meeting178">Rencontre 178</a> -  2 mai 2006</li>
<li><a href="meeting177">Rencontre 177</a> - 25 avril 2006</li>
<li><a href="meeting176">Rencontre 176</a> - 18 avril 2006</li>
<li><a href="meeting175">Rencontre 175</a> -  4 avril 2006</li>
<li><a href="meeting174">Rencontre 174</a> - 28 mars 2006</li>
<li><a href="meeting173">Rencontre 173</a> - 21 mars 2006</li>
<li><a href="meeting172">Rencontre 172</a> - 14 mars 2006</li>
<li><a href="meeting171">Rencontre 171</a> -  7 mars 2006</li>
<li><a href="meeting170">Rencontre 170</a> - 28 f&eacute;vrier 2006</li>
<li><a href="meeting169">Rencontre 169</a> - 21 f&eacute;vrier 2006</li>
<li><a href="meeting168">Rencontre 168</a> - 14 f&eacute;vrier 2006</li>
<li><a href="meeting167">Rencontre 167</a> -  7 f&eacute;vrier 2006</li>
<li><a href="meeting166">Rencontre 166</a> - 31 janvier 2006</li>
<li><a href="meeting165">Rencontre 165</a> - 24 janvier 2006</li>
<li><a href="meeting164">Rencontre 164</a> - 17 janvier 2006</li>
<li><a href="meeting163">Rencontre 163</a> - 10 janvier 2006</li>
<li><a href="meeting162">Rencontre 162</a> -  4 janvier 2006</li>
<li><a href="meeting161">Rencontre 161</a> - 20 d&eacute;cembre 2005</li>
<li><a href="meeting160">Rencontre 160</a> - 13 d&eacute;cembre 2005</li>
<li><a href="meeting159">Rencontre 159</a> -  6 d&eacute;cembre 2005</li>
<li><a href="meeting158">Rencontre 158</a> - 29 novembre 2005</li>
<li><a href="meeting157">Rencontre 157</a> - 22 novembre 2005</li>
<li><a href="meeting156">Rencontre 156</a> - 15 novembre 2005</li>
<li><a href="meeting155">Rencontre 155</a> -  8 novembre 2005</li>
<li><a href="meeting154">Rencontre 154</a> -  1er novembre 2005</li>
<li><a href="meeting153">Rencontre 153</a> - 25 octobre 2005</li>
<li><a href="meeting152">Rencontre 152</a> - 18 octobre 2005</li>
<li><a href="meeting151">Rencontre 151</a> - 11 octobre 2005</li>
<li><a href="meeting150">Rencontre 150</a> -  4 octobre 2005</li>
<li><a href="meeting149">Rencontre 149</a> - 27 septembre 2005</li>
<li><a href="meeting148">Rencontre 148</a> - 20 septembre 2005</li>
<li><a href="meeting147">Rencontre 147</a> - 13 septembre 2005</li>
<li><a href="meeting146">Rencontre 146</a> -  6 septembre 2005</li>
<li><a href="meeting145">Rencontre 145</a> - 30 ao&ucirc;t 2005</li>
<li><a href="meeting144">Rencontre 144</a> - 23 ao&ucirc;t 2005</li>
<li><a href="meeting143">Rencontre 143</a> - 16 ao&ucirc;t 2005</li>
<li><a href="meeting142">Rencontre 142</a> -  9 ao&ucirc;t 2005</li>
<li><a href="meeting141">Rencontre 141</a> -  2 ao&ucirc;t 2005</li>
<li><a href="meeting140">Rencontre 140</a> -  3 mai 2005</li>
<li><a href="meeting139">Rencontre 139</a> - 26 avril 2005</li>
<li><a href="meeting138">Rencontre 138</a> - 19 avril 2005</li>
<li><a href="meeting137">Rencontre 137</a> - 12 avril 2005</li>
<li><a href="meeting136">Rencontre 136</a> -  5 avril 2005</li>
<li><a href="meeting135">Rencontre 135</a> - 28 mars 2005</li>
<li><a href="meeting134">Rencontre 134</a> - 22 mars 2005</li>
<li><a href="meeting133">Rencontre 133</a> - 15 mars 2005</li>
<li><a href="meeting132">Rencontre 132</a> -  8 mars 2005</li>
<li><a href="meeting131">Rencontre 131</a> -  1er mars 2005</li>
<li><a href="meeting130">Rencontre 130</a> - 22 f&eacute;vrier 2005</li>
<li><a href="meeting129">Rencontre 129</a> - 15 f&eacute;vrier 2005</li>
<li><a href="meeting128">Rencontre 128</a> -  8 f&eacute;vrier 2005</li>
<li><a href="meeting127">Rencontre 127</a> -  1er f&eacute;vrier 2005</li>
<li><a href="meeting126">Rencontre 126</a> - 25 janvier 2005</li>
<li><a href="meeting125">Rencontre 125</a> - 18 janvier 2005</li>
<li><a href="meeting124">Rencontre 124</a> - 11 janvier 2005</li>
<li><a href="meeting123">Rencontre 123</a> -  5 janvier 2005</li>
<li><a href="meeting122">Rencontre 122</a> - 28 d&eacute;cembre 2004</li>
<li><a href="meeting121">Rencontre 121</a> - 21 d&eacute;cembre 2004</li>
<li><a href="meeting120">Rencontre 120</a> - 14 d&eacute;cembre 2004</li>
<li><a href="meeting119">Rencontre 119</a> -  7 d&eacute;cembre 2004</li>
<li><a href="meeting118">Rencontre 118</a> - 30 novembre 2004</li>
<li><a href="meeting117">Rencontre 117</a> - 23 novembre 2004</li>
<li><a href="meeting116">Rencontre 116</a> - 16 novembre 2004</li>
<li><a href="meeting115">Rencontre 115</a> -  9 novembre 2004</li>
<li><a href="meeting114">Rencontre 114</a> -  2 novembre 2004</li>
<li><a href="meeting113">Rencontre 113</a> - 26 octobre 2004</li>
<li><a href="meeting112">Rencontre 112</a> - 19 octobre 2004</li>
<li><a href="meeting111">Rencontre 111</a> - 12 octobre 2004</li>
<li><a href="meeting110">Rencontre 110</a> -  5 octobre 2004</li>
<li><a href="meeting109">Rencontre 109</a> - 28 septembre 2004</li>
<li><a href="meeting108">Rencontre 108</a> - 21 septembre 2004</li>
<li><a href="meeting107">Rencontre 107</a> - 14 septembre 2004</li>
<li><a href="meeting106">Rencontre 106</a> -  7 septembre 2004</li>
<li><a href="meeting105">Rencontre 105</a> - 31 ao&ucirc;t 2004</li>
<li><a href="meeting104">Rencontre 104</a> - 24 ao&ucirc;t 2004</li>
<li><a href="meeting103">Rencontre 103</a> - 17 ao&ucirc;t 2004</li>
<li><a href="meeting102">Rencontre 102</a> - 10 ao&ucirc;t 2004</li>
<li><a href="meeting101">Rencontre 101</a> -  3 ao&ucirc;t 2004</li>
<li><a href="meeting100">Rencontre 100</a> - 27 juillet 2004</li>
<li><a href="meeting99">Rencontre 99</a>  - 20 juillet 2004</li>
<li><a href="meeting95">Rencontre 95</a></li>
<li><a href="meeting93">Rencontre 93</a></li>
<li><a href="meeting92">Rencontre 92</a></li>
<li><a href="meeting90">Rencontre 90</a></li>
<li><a href="meeting82">Rencontre 82</a></li>
<li><a href="meeting81">Rencontre 81</a></li>
<li><a href="meeting80">Rencontre 80</a></li>
<li><a href="meeting79">Rencontre 79</a></li>
<li><a href="meeting78">Rencontre 78</a></li>
<li><a href="meeting77">Rencontre 77</a></li>
<li><a href="meeting76">Rencontre 76</a></li>
<li><a href="meeting75">Rencontre 75</a></li>
<li><a href="meeting74">Rencontre 74</a></li>
<li><a href="meeting73">Rencontre 73</a></li>
<li><a href="meeting72">Rencontre 72</a></li>
<li><a href="meeting71">Rencontre 71</a></li>
<li><a href="meeting70">Rencontre 70</a></li>
<li><a href="meeting69">Rencontre 69</a></li>
<li><a href="meeting68">Rencontre 68</a></li>
<li><a href="meeting66">Rencontre 66</a></li>
<li><a href="meeting65">Rencontre 65</a></li>
<li><a href="meeting64">Rencontre 64</a></li>
<li><a href="meeting63">Rencontre 63</a></li>
<li><a href="meeting62">Rencontre 62</a></li>
<li><a href="meeting61">Rencontre 61</a></li>
<li><a href="meeting60">Rencontre 60</a></li>
<li><a href="meeting59">Rencontre 59</a></li>
<li><a href="meeting58">Rencontre 58</a></li>
<li><a href="meeting57">Rencontre 57</a></li>
<li><a href="meeting56">Rencontre 56</a></li>
<li><a href="meeting55">Rencontre 55</a></li>
<li><a href="meeting54">Rencontre 54</a></li>
<li><a href="meeting53">Rencontre 53</a></li>
<li><a href="meeting52">Rencontre 52</a></li>
<li><a href="meeting51">Rencontre 51</a></li>
<li><a href="meeting50">Rencontre 50</a></li>
<li><a href="meeting49">Rencontre 49</a></li>
<li><a href="meeting47">Rencontre 47</a></li>
<li><a href="meeting35">Rencontre 35</a></li>
<li><a href="meeting34">Rencontre 34</a></li>
<li><a href="meeting33">Rencontre 33</a></li>
<li><a href="meeting32">Rencontre 32</a></li>
<li><a href="meeting31">Rencontre 31</a></li>
<li><a href="meeting30">Rencontre 30</a></li>
<li><a href="meeting29">Rencontre 29</a></li>
<li><a href="meeting28">Rencontre 28</a></li>
<li><a href="meeting26">Rencontre 26</a></li>
<li><a href="meeting25">Rencontre 25</a></li>
<li><a href="meeting23">Rencontre 23</a></li>
<li><a href="meeting22">Rencontre 22</a></li>
<li><a href="meeting21">Rencontre 21</a></li>
<li><a href="meeting20">Rencontre 20</a></li>
<li><a href="meeting18">Rencontre 18</a></li>
<li><a href="meeting15">Rencontre 15</a></li>
<li><a href="meeting12">Rencontre 12</a></li>
<li><a href="meeting11">Rencontre 11</a></li>
<li><a href="meeting10">Rencontre 10</a></li>
<li><a href="meeting9">Rencontre 9</a></li>
<li><a href="meeting8">Rencontre 8</a></li>
<li><a href="meeting7">Rencontre 7</a></li>
<li><a href="meeting4">Rencontre 4</a></li>
<li><a href="meeting3">Rencontre 3</a></li>
<li><a href="meeting2">Rencontre 2</a></li>
<li><a href="meeting1">Rencontre 1</a></li>

</ul>
{% endblock %}
