{% extends "_layout.html" %}
{% block title %}Pages/meeting95.html{% endblock %}
{% block content %}<div class="irclog">
<p>14:00 &lt; jrandom&gt; 0) hi</p>
<p>14:00 &lt; jrandom&gt; 1) status update</p>
<p>14:00 &lt; jrandom&gt; 2) cvs HEAD</p>
<p>14:00 &lt; jrandom&gt; 3) 0.4</p>
<p>14:00 &lt; jrandom&gt; 4) 1.0</p>
<p>14:00 &lt; jrandom&gt; 5) other activities</p>
<p>14:00 &lt; jrandom&gt; 6) ???</p>
<p>14:00 &lt; jrandom&gt; 0) hi</p>
<p>14:00 &lt; dm&gt; 7) Profit!!</p>
<p>14:00 &lt; mihi&gt; hi</p>
<p>14:00 &lt; cervantes&gt; hello</p>
<p>14:00 &lt; dm&gt; hi</p>
<p>14:00 &lt; fvw&gt; hi dr nick</p>
<p>14:01 &lt; jrandom&gt; for all those playing at home, we've got the status notes up @ http://dev.i2p.net/pipermail/i2p/2004-June/000286.html</p>
<p>14:01 &lt; jrandom&gt; as we've done in the past, that contains the actual content - we get all meta here and discuss stuff</p>
<p>14:01  * dm is playing at home. WINK WINK WINK.</p>
<p>14:01 &lt; jrandom&gt; BrianR: this is where the LART comes in handy</p>
<p>14:02 &lt; jrandom&gt; anyway, jumping into 1) status update</p>
<p>14:02 &lt; thecrypto&gt; let's see if i can connect to an eepsite</p>
<p>14:03 &lt; jrandom&gt; the other day we had a larger than usual # of routers jumping off the network, which i'm hoping is because a lot of the services on the network were b0rked due to my stupid bugs</p>
<p>14:03  * mihi fires up his router</p>
<p>14:03 &lt; thecrypto&gt; yah!</p>
<p>14:03 &lt; jrandom&gt; if people are taking down their router for another reason (bugs, cpu/memory usage, etc) i'd really love to hear about it</p>
<p>14:04 &lt; dm&gt; ok</p>
<p>14:05 &lt; BrianR&gt; I must say, i2p is currently more well behaved than freenet on my machine... Both in bandwidth hogging and cpu/ram hogging.</p>
<p>14:05 &lt; jrandom&gt; there's a really bad bug in cvs at the moment, but fixed locally - i'll have that committed later tonight (not sure if i'll do so before or after getting my new machine together)</p>
<p>14:05 &lt; jrandom&gt; ah wikked</p>
<p>14:06 &lt; jrandom&gt; well, to be fair, i2p does a lot less than freenet - once we have thousands of routers we'll see how it goes</p>
<p>14:06 &lt; dm&gt; Why don't operating system's have per-application bandwidth limiting built-in? Is it a hard task?</p>
<p>14:06 &lt; BrianR&gt; I'd like to do some stress testing with i2p's built in bandwidth limiting stuff though. How far along is that?</p>
<p>14:06 &lt; dm&gt; All these projects wasting time implementing their own bandwidth limiting, seems silly.</p>
<p>14:06 &lt; fvw&gt; dm: Linux does it, as does freebsd no doubt.</p>
<p>14:07 &lt; dm&gt; Do they?</p>
<p>14:07 &lt; cervantes&gt; netlimiter on windoze does it</p>
<p>14:07 &lt; BrianR&gt; dm: It's not a hard task. There's lots of system level bandwidth limiting stuff available, for 'doze, linux, *bsd...</p>
<p>14:07 &lt; dm&gt; Makes sense to put it in the OS if you ask me.</p>
<p>14:07 &lt; fvw&gt; dm iptables marking + tc under linux; Using it right now, works like a charm.</p>
<p>14:07 &lt; jrandom&gt; BrianR: its in pretty good shape - it'll be in the next 0.3.1.5 release (which i'm hoping to have out this week)</p>
<p>14:07 &lt; dm&gt; But anyway...</p>
<p>14:07 &lt; BrianR&gt; thing is, it often makes more sense to do limiting at the application level so you can make intelligent decisions about where to spend bandwidth first</p>
<p>14:08 &lt; jrandom&gt; exactly</p>
<p>14:08 &lt; dm&gt; That's a different problem.</p>
<p>14:08 &lt; jrandom&gt; with bandwidth limiting within i2p, we know when we're saturating our limit and can refuse to participate in tunnels (etc)</p>
<p>14:08 &lt; BrianR&gt; At the application level you have no idea which one of your TCP connections is going to lose a packet when you're above the system imposed TX limit.</p>
<p>14:08 &lt; fvw&gt; actually, best would be to have the OS give proper feedback; But that's not relevant for i2p right now.</p>
<p>14:09 &lt; jrandom&gt; true fvw, once we integrate i2p with tun/tap ;)</p>
<p>14:09 &lt; BrianR&gt; fvw: You do get some feedback in terms of backpressure.. But it's hard to tell if backpressure is due to the remote side's link being slow or the local side..</p>
<p>14:09 &lt; dm&gt; Put a bounty on patching windows to have per-application bandwidth limiting. Thanks.</p>
<p>14:09 &lt; jrandom&gt; heh</p>
<p>14:09 &lt; fvw&gt; "my stuff isn't arriving" and "this connection is being throttled now" are two entirely different things.</p>
<p>14:09 &lt; fvw&gt; they sometimes overlap ofcourse.</p>
<p>14:10 &lt; dm&gt; (extra $20 for having a small graph with bandwidth usage of each window in the window title bar... Next to the minimize buttons, etc)</p>
<p>14:11 &lt; jrandom&gt; ok does anyone else have any network status related things to bring up?</p>
<p>14:12 &lt; BrianR&gt; Oh.. That IRC connection monitoring thing..</p>
<p>14:12 &lt; duckie&gt; I appologize for updating to cvs</p>
<p>14:12 &lt; jrandom&gt; hehe</p>
<p>14:12 &lt; BrianR&gt; Is there a MRTG graph of that or logs or something somewhere?</p>
<p>14:12 &lt; jrandom&gt; bogobot right?  duck.i2p/bogo/ iirc?</p>
<p>14:13 &lt; duckie&gt; something like that</p>
<p>14:13 &lt; jrandom&gt; (its linked to off duck.i2p, my routers are down atm so i cant check)</p>
<p>14:13 &lt; duckie&gt; linked to on http://duck.i2p/ uder the stats section</p>
<p>14:13 &lt; duckie&gt; http://duck.i2p/bogobotlogs/</p>
<p>14:14 &lt; BrianR&gt; it might be useful to extend that thing to act as a general reachability survey tool..</p>
<p>14:15 &lt; dm&gt; You guys type reaaaaaaaaaaaaaaaally slowly.</p>
<p>14:15 &lt; deer&gt; &lt;cervantes&gt; hypercubus has some enhancements on the backburner, but he's pretty busy with installer stuff atm</p>
<p>14:16 &lt; jrandom&gt; BrianR: bogobot is just for passive irc tracking, but someone could modify i2ptunnel's ping command to support periodic checking?</p>
<p>14:16 &lt; jrandom&gt; or someone could whip up a perl/SAM script ;)</p>
<p>14:16 &lt; BrianR&gt; maybe some sort of script that produces a MRTG graph of endpoint reachability....</p>
<p>14:16 &lt; BrianR&gt; jrandom: speaking of perl/sam, bring that up again when we get to the appropriate number in the agenda</p>
<p>14:16 &lt; duckie&gt; doesnt the heartbeat thing do that?</p>
<p>14:17 &lt; BrianR&gt; If it does, I couldn't make it work :(</p>
<p>14:17 &lt; jrandom&gt; kind of - heartbeat tests heartbeat servers, not generic apps</p>
<p>14:18 &lt; BrianR&gt; Yes... Like I want to see if I can successfully do a "GET /" on duck.i2p, and how long it took.</p>
<p>14:18 &lt; jrandom&gt; but yes, once the net is in good shape, lots of people can run a heartbeat server and people can ping each other to measure network performance</p>
<p>14:18 &lt; Nightblade&gt; pingflood too</p>
<p>14:18 &lt; dm&gt; Is there a limit on GET strings?</p>
<p>14:18 &lt; dm&gt; like if you have a really long URL, because of cgi parameters?</p>
<p>14:19 &lt; cervantes&gt; 2047 characters iirc</p>
<p>14:19 &lt; jrandom&gt; that wouldnt be too hard to put together</p>
<p>14:19 &lt; BrianR&gt; dm: Depends on the web server... I think the RFC also specifies a minimum which must be suported.</p>
<p>14:19 &lt; jrandom&gt; (er, an http tester)</p>
<p>14:19 &lt; dm&gt; cervantes: thanks</p>
<p>14:19 &lt; dm&gt; (just realized it might affect something I've been working on)</p>
<p>14:20 &lt; cervantes&gt; you run into 2 problems, webserver support and client support</p>
<p>14:20 &lt; BrianR&gt; have we stumbled off topic?</p>
<p>14:20 &lt; cervantes&gt; both IE and Mozilla are 2047</p>
<p>14:20 &lt; cervantes&gt; eer yep :)</p>
<p>14:21 &lt; dm&gt; I got my answer, we can move on :)</p>
<p>14:21 &lt; jrandom&gt; ok, i think that covers 1), now briefly to 2) cvs HEAD</p>
<p>14:21 &lt; jrandom&gt; there's a nasty bug in there currently, and i apologize for not fixing it sooner</p>
<p>14:22 &lt; jrandom&gt; in general, if you try out cvs HEAD and it doesnt work well, just roll back (download jars / pull from the tag)</p>
<p>14:22 &lt; jrandom&gt; anyway, 'nuff 'bout that</p>
<p>14:23 &lt; jrandom&gt; jumping forward to 3) 0.4</p>
<p>14:23 &lt; jrandom&gt; the email has my viewpoint / rational for the release - anyone have any concerns / questions / ideas / suggestions?</p>
<p>14:24 &lt; Nightblade&gt; looks good to me</p>
<p>14:24 &lt; duckie&gt; how does it change the time estimates?</p>
<p>14:24  * fvw nods. Sane and everything.</p>
<p>14:25 &lt; jrandom&gt; it actually moves 0.4 closer, as we're pushing the scary parts of 0.3.3 into 0.4.1 and 0.4.2</p>
<p>14:25 &lt; jrandom&gt; i dont think it'll change the 1.0 dates, just moving things around before it</p>
<p>14:26 &lt; jrandom&gt; the sim has shown our main problem with tunnel diversification can be easily remedied by active peer testing</p>
<p>14:26 &lt; jrandom&gt; we had some of this in the pre 0.2.3 revs, but stopped that since it seemed to add too much overhead</p>
<p>14:27 &lt; jrandom&gt; (when in fact lots of shit was just plain broken, causing the overhead)</p>
<p>14:27 &lt; deer&gt; &lt;cervantes&gt; what does active peer testing involve?</p>
<p>14:29 &lt; jrandom&gt; it just means we'll build some secondary tunnels through peers we wouldnt normally use - specifically, i'm going to have it pull random peers from the 'reliable' set who arent in the 'fast+reliable' set</p>
<p>14:29 &lt; jrandom&gt; (and if that intersection is too small, extend it to the 'not failing' set)</p>
<p>14:29 &lt; jrandom&gt; i dont know how many tunnels or peers to test yet, we'll probably keep that as a tunable parameter</p>
<p>14:30 &lt; jrandom&gt; the issue manifests itself in the peer profiles - you'll see lots of values for your favorite peers, but lots of 0s or other low numbers for other peers</p>
<p>14:30 &lt; jrandom&gt; (which may be due to them being shitty, or more likely due to them not being tested)</p>
<p>14:31 &lt; jrandom&gt; ok, anything else on 0.4?  or should we move on to 4) 1.0?</p>
<p>14:32 &lt; duckie&gt; yes</p>
<p>14:33 &lt; jrandom&gt; 4) 1.0</p>
<p>14:33 &lt; jrandom&gt; i dont see 1.0 as a big scary asymptotically approached release.  its just a release where things work and people can use it</p>
<p>14:34 &lt; jrandom&gt; that said, anyone have any concerns / ideas / suggestions/ questions wrt whats in the mail?</p>
<p>14:35 &lt; dm&gt; The rate at which the versioning is increasing would indeed indicate that it is an asymptotically approached 1.0</p>
<p>14:36 &lt; dm&gt; We're gonna need some big jumps!</p>
<p>14:36 &lt; jrandom&gt; 0.4--&gt; 1.0</p>
<p>14:36 &lt; dm&gt; Sweeeeeeeet....</p>
<p>14:36 &lt; jrandom&gt; and we're only a few weeks from 0.4</p>
<p>14:37 &lt; jrandom&gt; but, of course, we could use some help to get things moving faster :)</p>
<p>14:37 &lt; dm&gt; Are we happy with stability then?</p>
<p>14:37 &lt; jrandom&gt; no, stability right now sucks</p>
<p>14:37 &lt; cervantes&gt; myi2p could be a fairly hefty bit of development to get implemented properly, since it ideally relies on other projects coming to fruition</p>
<p>14:37 &lt; dm&gt; Okay, haven't been following closely.</p>
<p>14:38 &lt; cervantes&gt; such as DHT and datagrams etc</p>
<p>14:38 &lt; jrandom&gt; agreed cervantes, but if we just have it with the address book and distributed blogging, that'll be good enough for me.</p>
<p>14:38 &lt; cervantes&gt; right</p>
<p>14:38 &lt; jrandom&gt; nightblade is working on a dht that we can plug in whenever its ready, or we could add hooks for referencing freenet:CHK@ or SSK@</p>
<p>14:39 &lt; cervantes&gt; private messaging is just a small hop from the syndicated address book too</p>
<p>14:39 &lt; jrandom&gt; right, its all doable</p>
<p>14:40 &lt; cervantes&gt; live streaming cam girl desktop might take longer...</p>
<p>14:40 -!- Irssi: #i2p: Total of 21 nicks [0 ops, 0 halfops, 0 voices, 21 normal]</p>
<p>14:40 &lt; jrandom&gt; heh</p>
<p>14:40 &lt; jrandom&gt; actually, as I mentioned to Sonium before the meeting, one of the things people can help out with is the documentation front -</p>
<p>14:41 &lt; jrandom&gt; defining what docs we will need, starting to do some outlines of how those docs will fit together, and perhaps even tossing open an editor and writing 'em</p>
<p>14:42 &lt; cervantes&gt; ah I meant to enquire earlier about enhancing the console GUI too</p>
<p>14:42 &lt; jrandom&gt; docs are an essential part of the releases, both for tech docs (since without good tech docs, no devs will get involved) and for user docs (since without good user docs, users will leave)</p>
<p>14:42 &lt; jrandom&gt; that we'll want for the 0.4 release, and will be jsp/servlet driven</p>
<p>14:43 &lt; jrandom&gt; i havent done any mockups or workflows for that even, so if someone wants to jump on that, we could use the help</p>
<p>14:43 &lt; Nightblade&gt; console GUI?  what is that - SVGALIB? :)</p>
<p>14:43 &lt; jrandom&gt; heh</p>
<p>14:43 &lt; mihi&gt; Nightblade: TWIN / curses</p>
<p>14:43 &lt; cervantes&gt; is the data set the same or are there new and improved stats for 0.4</p>
<p>14:44 &lt; dm&gt; I want a console gui in WIN32/MFC</p>
<p>14:44 &lt; Nightblade&gt; the http console on 7655 right</p>
<p>14:44 &lt; cervantes&gt; ie the duration that elephants stay on the moon, and whether they return freuqently</p>
<p>14:44 &lt; cervantes&gt; yup</p>
<p>14:44 &lt; jrandom&gt; all of the things on the console now reflect data that can be made available to a 0.4 console, but we should totally throw out its existing design</p>
<p>14:45 &lt; jrandom&gt; (e.g. no one cares what the base64 of a routerIdentity's public key is)</p>
<p>14:45 &lt; cervantes&gt; although I suggest that info should still be available</p>
<p>14:46 &lt; jrandom&gt; yeah, i think we may keep the existing console as an option - no need to throw it away</p>
<p>14:46 &lt; jrandom&gt; (but it'd be something like http://localhost:7655/uglyConsole/)</p>
<p>14:46 &lt; cervantes&gt; ./forlynxusers/</p>
<p>14:47 &lt; jrandom&gt; the new admin console should work for lynx users too</p>
<p>14:47 &lt; dm&gt; Does anyone really use lynx?</p>
<p>14:47 &lt; cervantes&gt; eeew cross browser compatibility</p>
<p>14:47 &lt; jrandom&gt; i do</p>
<p>14:47 &lt; jrandom&gt; (at times)</p>
<p>14:47 &lt; dm&gt; but.... why?</p>
<p>14:47 &lt; fvw&gt; for things like brief config edits, definately.</p>
<p>14:47 &lt; cervantes&gt; dm: if you're stuck at a command prompt you don't have much choice</p>
<p>14:47 &lt; fvw&gt; it's quick and you don't need X</p>
<p>14:48 &lt; Nightblade&gt; i use it for web browsing on headless servers</p>
<p>14:48 &lt; deer&gt; &lt;Pseudonym&gt; I use links browser</p>
<p>14:48 &lt; jrandom&gt; well, yeah, links is preferable to lynx</p>
<p>14:48 &lt; mihi&gt; anyone using w3m?</p>
<p>14:48 &lt; dm&gt; I use INTERNET EXPLORER FROM MICROSOFT</p>
<p>14:48 &lt; dm&gt; It's quite cool.</p>
<p>14:48 &lt; jrandom&gt; good point - anything else wrt i2p 1.0?</p>
<p>14:49 &lt; dm&gt; Won the browser war of 1992-1998</p>
<p>14:49 &lt; jrandom&gt; or moving on to 5) other activites?</p>
<p>14:49 &lt; dm&gt; 3 medals of honor.</p>
<p>14:49 &lt; Nightblade&gt; yes</p>
<p>14:49 &lt; Nightblade&gt; I am hoping to release a new version of libsam tomorrow but my home computer is broke so I don't know</p>
<p>14:49 &lt; Nightblade&gt; I am going to also upload Nickster's threading library</p>
<p>14:49 &lt; jrandom&gt; awesome!/doh!</p>
<p>14:50 &lt; jrandom&gt; nice!</p>
<p>14:50 &lt; Nightblade&gt; which he said was public domain - i am just going to upload it exactly as he sent it - i haven't had time to do much with it</p>
<p>14:50 &lt; jrandom&gt; once 0.3.1.5 is out, i'll start running the cvs server on i2p as well</p>
<p>14:50 &lt; jrandom&gt; cool</p>
<p>14:51 &lt; jrandom&gt; (so nickster will be able to make edits/updates to his code in cvs without exposing his ip)</p>
<p>14:51 &lt; jrandom&gt; whats new in the next rev of libsam?</p>
<p>14:51 &lt; Nightblade&gt; some fixes to datagram send/receive which were broken</p>
<p>14:51 &lt; Nightblade&gt; and some other stuff i don't remember</p>
<p>14:51 &lt; Nightblade&gt; it iwll be in the changelog</p>
<p>14:51 &lt; jrandom&gt; cool, sounds good</p>
<p>14:52 &lt; jrandom&gt; btw, if you want a mailing list for libsam (-announce,-dev,-users,etc) lemmie know</p>
<p>14:52 &lt; jrandom&gt; (but posting on i2p@i2p is fine too)</p>
<p>14:52 &lt; Nightblade&gt; overkill</p>
<p>14:52 &lt; jrandom&gt; hehe</p>
<p>14:53 &lt; jrandom&gt; yeah prolly</p>
<p>14:53 &lt; cervantes&gt; he can have a section in i2pforum</p>
<p>14:53  * cervantes moves smoothly onto his agenda</p>
<p>14:53 &lt; Nightblade&gt; maybe once I get that DHT working - but that is a long way off, and today and yesterday I hvane't had time to do much with it</p>
<p>14:53 &lt; Nightblade&gt; cervantes: there is already an application development forum or somethihng like that iirc</p>
<p>14:53 &lt; Nightblade&gt; also Connelly needs an account on i2p.net if someone has gotten him one yet</p>
<p>14:53 &lt; cervantes&gt; specifically in relation to i2p?</p>
<p>14:54 &lt; Nightblade&gt; http://www.i2p.net/forum/3</p>
<p>14:54 &lt; jrandom&gt; oh, i havent added an account for connelly, i'll chat with 'im next time i see him</p>
<p>14:54 &lt; fvw&gt; dang, got to run. See you all next week, keep up the good work.</p>
<p>14:54 &lt; jrandom&gt; ugh, yeah, i dont know about the www.i2p.net/forum/s</p>
<p>14:54 &lt; cervantes&gt; ah...drupal...</p>
<p>14:55 &lt; jrandom&gt; cool fvw, glad you could make it</p>
<p>14:56 &lt; cervantes&gt; the i2pforum is pretty much set up</p>
<p>14:56 &lt; cervantes&gt; it basically just needs content/users to fill it :)</p>
<p>14:56 &lt; jrandom&gt; i'm not sure about the drupal forums, or whether they really fit with what i see the website being.  i kind of like the idea of a seperate site thats dedicated to being a user/dev forum</p>
<p>14:57 &lt; jrandom&gt; cool cervantes - is that as an eepsite, website, or both?</p>
<p>14:57 &lt; cervantes&gt; I've picked arbitrary forum topics/sections so if people have any ideas or want to write stuff for FAQs etc them that would be appreciated</p>
<p>14:57 &lt; cervantes&gt; it's both</p>
<p>14:58 &lt; cervantes&gt; currently I have the i2p tunnel offline while my router is so unstable</p>
<p>14:58 &lt; jrandom&gt; cant say i blame you :)</p>
<p>14:58 &lt; Nightblade&gt; what is the url</p>
<p>14:58 &lt; cervantes&gt; but people can start playing on outweb</p>
<p>14:59 &lt; cervantes&gt; currenlty you'll have to add an entry to /etc/hosts c:/windows/system32/drivers/etc/hosts</p>
<p>14:59 &lt; cervantes&gt; 212.113.22.104 i2pforum.cervantes.not2p</p>
<p>14:59 &lt; jrandom&gt; heh</p>
<p>15:00 &lt; cervantes&gt; I'll configure it with a proper hostname soon</p>
<p>15:00 &lt; cervantes&gt; or if someone wants to add a subdomain pointer to the php.net domain record...that would be better</p>
<p>15:00 &lt; jrandom&gt; lemmie know if you want something under the i2p.net domain or if you're going with another domain thats cool</p>
<p>15:00 &lt; cervantes&gt; blah</p>
<p>15:00 &lt; cervantes&gt; i2p.net</p>
<p>15:00 &lt; cervantes&gt; &lt;-- php on the brain</p>
<p>15:01 &lt; jrandom&gt; do you want that to be e.g. forum.i2p.net?</p>
<p>15:01 &lt; cervantes&gt; that would be cool ;-)</p>
<p>15:01 &lt; jrandom&gt; w3rd, i'll update the records tonight</p>
<p>15:01 &lt; cervantes&gt; I've tweaked standard phpbb2 code so it doesn't require a valid email to become a member</p>
<p>15:01 &lt; dm&gt; "The site you requested is no longer hosted here"</p>
<p>15:02 &lt; cervantes&gt; if you forget your pass then you have to contact an admin</p>
<p>15:02 &lt; cervantes&gt; dm: did you enter that into your hosts file or are you just browsing to the IP</p>
<p>15:03 &lt; dm&gt;                                   Invalid URI in request GET i2pforum.cervantes.</p>
<p>15:03 &lt; dm&gt; not2p/&lt;P&gt;</p>

<p>15:03 &lt; dm&gt; I don't use browsers, I'm using telnet.</p>
<p>15:04 &lt; jrandom&gt; i did it through telnet just now.  works fine.</p>
<p>15:04 &lt; dm&gt; hmm forgot the HTTP 1.1 I think.</p>
<p>15:04 &lt; jrandom&gt; GET / HTTP/1.1\nHost: i2pforum.cervantes.not2p\n\n</p>
<p>15:04 &lt; jrandom&gt; anyway</p>
<p>15:04 &lt; jrandom&gt; BrianR: ping</p>
<p>15:05 &lt; dm&gt; That worked. Your telnetting skills are sharp, young one.</p>
<p>15:07 -!- Irssi: #i2p: Total of 19 nicks [0 ops, 0 halfops, 0 voices, 19 normal]</p>
<p>15:07 &lt; jrandom&gt; ok, anyone else working on i2p related projects they want to discuss?</p>
<p>15:07 &lt; jrandom&gt; if not, 6) ???</p>
<p>15:07 &lt; dm&gt; cum!</p>
<p>15:07  * wern put a hand in the air</p>
<p>15:07 &lt; jrandom&gt; hi^2, que tal?</p>
<p>15:08  * jrandom calls on wilde</p>
<p>15:08 -!- wern is now known as wilde</p>
<p>15:08 &lt; wilde&gt; I just want to thank our new sponsors, cervantes and hypercubus</p>
<p>15:08 &lt; wilde&gt; :)</p>
<p>15:09 &lt; wilde&gt; we got two generous donations to the general fund</p>
<p>15:09 &lt; cervantes&gt; wilde: did they convert ok?</p>
<p>15:09 &lt; dm&gt; how much?</p>
<p>15:09 &lt; wilde&gt; cervantes: will exchange them tomorrow</p>
<p>15:09 &lt; cervantes&gt; ah</p>
<p>15:09 &lt; wilde&gt; (hopefully)</p>
<p>15:10 &lt; cervantes&gt; so there still might be a runner-up prize ;-)</p>
<p>15:10 &lt; jrandom&gt; awesome, thanks cervantes &amp; hypercubus :)</p>
<p>15:10 &lt; cervantes&gt; heh...well save praise until the money is in the bank I think ;-)</p>
<p>15:11 &lt; dm&gt; twas a good meeting. I'm off to bed.</p>
<p>15:11 &lt; dm&gt; Nite!</p>
<p>15:11 &lt; jrandom&gt; 'night dm</p>
<p>15:11 &lt; wilde&gt; yeah, I'll do the full praising next time</p>
<p>15:11 &lt; jrandom&gt; ok, anything else to add wilde, or someone else?</p>
<p>15:11 &lt; wilde&gt; yeah</p>
<p>15:12 &lt; wilde&gt; I'll take the i2p.net site down tomorrow for a while (intentionally this time ;)</p>
<p>15:12 &lt; wilde&gt; to switch servers</p>
<p>15:12 &lt; jrandom&gt; heh ok cool</p>
<p>15:12 &lt; wilde&gt; hold on to your posts, they may disappear</p>
<p>15:12 &lt; jrandom&gt; will we have the same IP, or should I update the records?</p>
<p>15:12 &lt; dm&gt; can you make it seamless?</p>
<p>15:12 &lt; wilde&gt; if you post tomorrow that is</p>
<p>15:13 &lt; wilde&gt; dm: no way ;)</p>
<p>15:13 &lt; wilde&gt; not me</p>
<p>15:13 &lt; dm&gt; okay.</p>
<p>15:13 &lt; wilde&gt; jrandom: same IP</p>
<p>15:13 &lt; jrandom&gt; ok cool</p>
<p>15:13 &lt; jrandom&gt; wilde++</p>
<p>15:13 &lt; wilde&gt; over and out</p>
<p>15:14 &lt; jrandom&gt; ok, anyone else have something they'd like to discuss?</p>
<p>15:14  * cervantes puts on his metal "ming the merciless" skullcap</p>
<p>15:14 &lt; jrandom&gt; in that case</p>
<p>15:15  * jrandom winds up</p>
<p>15:15  * jrandom *baf*s cervantes on the head, closing the meeting</p>
</div>
{% endblock %}