{% extends "_layout.html" %}
{% block title %}Pages/meeting191.html{% endblock %}
{% block content %}<h3>I2P dev meeting, November 28, 2006</h3>
<div class="irclog">
<p>15:14 &lt; jrandom&gt; 0) hi</p>
<p>15:14 &lt; jrandom&gt; 1) Net status</p>
<p>15:14 &lt; jrandom&gt; 2) Syndie dev status</p>
<p>15:14 &lt; jrandom&gt; 3) ???</p>
<p>15:14 &lt; jrandom&gt; 0) hi</p>
<p>15:14  * jrandom waves</p>
<p>15:14 &lt; jrandom&gt; weekly status notes posted up at http://dev.i2p.net/pipermail/i2p/2006-November/001320.html</p>
<p>15:14 &lt; jrandom&gt; (sorry for the delay, small kitchen emergency)</p>
<p>15:14 &lt; gott&gt; Hello, jrandom.</p>
<p>15:15 &lt; jrandom&gt; heya gott</p>
<p>15:15 &lt; jrandom&gt; ok, lets jump in to 1) net status</p>
<p>15:15  * jrandom has nothing more to add for 1) net status, beyond mentioning that i've been connected to irc for 13 days now w/out discon)</p>
<p>15:16 &lt; gott&gt; I have been able to download my favourite modernist movie Metroland from the Frenchmen in #fr via i2psnark</p>
<p>15:16 &lt; gott&gt; Going at download rate of 4400 kb/s; upload around the same.</p>
<p>15:16 &lt; gott&gt; 6 peers.</p>
<p>15:16 &lt; gott&gt; Very good for the propagation of European modernist fiction.</p>
<p>15:16 &lt; jrandom&gt; !thwap</p>
<p>15:17 &lt; jrandom&gt; (or, if you are actually getting 4Mbps, both sides are using 0hop tunnels)</p>
<p>15:17 &lt; gott&gt; bytes a second.</p>
<p>15:18 &lt; jrandom&gt; anyone have anything else to bring up for 1) net status?</p>
<p>15:20 &lt; jrandom&gt; ok, lets jump on over to 2) syndie dev status</p>
<p>15:20 &lt; gott&gt; Is it possible to make i2p better somehow in this regard?</p>
<p>15:20 &lt; jrandom&gt; gott: oh, you mean 4400 Bps, not kbps?</p>
<p>15:20 &lt; jrandom&gt; then i take back the 0hop tunnel thing</p>
<p>15:21 &lt; jrandom&gt; 4KBps is typical atm, and can be improved with better peer selection and congestion management</p>
<p>15:22 &lt; jrandom&gt; ok, for syndie dev status, lots of progress going on, as mentioned in the notes</p>
<p>15:23 &lt; jrandom&gt; there's still a bunch of gaps to fill, but they're largely just filling gaps, not writing new components</p>
<p>15:24 &lt; jrandom&gt; ok, anyone have anything else on 2) syndie dev status?</p>
<p>15:25 &lt; jrandom&gt; ok, lets jump on over to 3) ??? then</p>
<p>15:26 &lt; jrandom&gt; anyone have anything else to bring up in this short meeting?</p>
<p>15:26 &lt; JosephLeBlanc&gt; Do you need any money?</p>
<p>15:26 &lt; JosephLeBlanc&gt; oh for fuck sake</p>
<p>15:26 &lt; JosephLeBlanc&gt; well, do you need any money?</p>
<p>15:27 &lt; JosephLeBlanc&gt; Do you want a computer?</p>
<p>15:27 &lt; JosephLeBlanc&gt; Do you want beer?</p>
<p>15:27 &lt; JosephLeBlanc&gt; What?</p>
<p>15:27 &lt; jrandom&gt; atm, finances are in pretty good shape, though contributions are always appreciated, of course</p>
<p>15:27 &lt; JosephLeBlanc&gt; Out with it</p>
<p>15:27 &lt; JosephLeBlanc&gt; Alright, then</p>
<p>15:27 &lt;+zzz&gt; post a bounty for emule client :)</p>
<p>15:28 &lt; jrandom&gt; (but if you've got money burning a hole in your poket, it'd be great to snag a mac mini for osx gui testing ;)</p>
<p>15:28 &lt; jrandom&gt; lol zzz</p>
<p>15:28 &lt; JosephLeBlanc&gt; Not everyone is a lesbian snob who has a 40 thousand dollar student loan that needs paying off</p>
<p>15:28 &lt;+zzz&gt; keep up the good work jr</p>
<p>15:28 &lt; jrandom&gt; just in case that wasn't closedshop: i appreciate the interest and support, but i won't have any time to work on a file sharing app in the future</p>
<p>15:29 &lt; JosephLeBlanc&gt; Can you implement modulus' lovesoc</p>
<p>15:29 &lt; JosephLeBlanc&gt; ?</p>
<p>15:29 &lt; jrandom&gt; thanks zzz, you as well (your services and code definitely help tons!)</p>
<p>15:29 &lt;+zzz&gt; get the baf lol</p>
<p>15:30  * jrandom runs to the corner</p>
<p>15:30  * jrandom winds up</p>
<p>15:30  * jrandom *baf*s the meeting closed</p>
</div>
{% endblock %}