{% extends "_layout.html" %}
{% block title %}Pages/meeting76.html{% endblock %}
{% block content %}<h3>Tuesday, Feb 3, 2004 22:00:00 CET</h3>
<div class="irclog">
<p>[22:01] &lt;jrand0m&gt; 0) hi</p>
<p>[22:01] &lt;jrand0m&gt; 1) testnet</p>
<p>[22:01] &lt;jrand0m&gt; 2) updated roadmap</p>
<p>[22:01] &lt;jrand0m&gt; 3) updated application list</p>
<p>[22:01] &lt;jrand0m&gt; 4) volunteers needed</p>
<p>[22:01] &lt;jrand0m&gt; 5) ???</p>
<p>[22:01] &lt;jrand0m&gt; 0) hi</p>
<p>[22:01] * jrand0m waves</p>
<p>[22:01] * mihi waves back</p>
<p>[22:02] * jrand0m has to warn that i've been up for too long, so may be a little out of it</p>
<p>[22:02] &lt;jrand0m&gt; but anyway, as we proceed, everyone should read (or have read) http://i2p.dnsalias.net/pipermail/i2p/2004-February/000132.html</p>
<p>[22:02] &lt;jrand0m&gt; lets jump right into 1) testnet</p>
<p>[22:03] &lt;mihi&gt; you should change the subject for each mail... they all get sorted into one thread here</p>
<p>[22:03] &lt;jrand0m&gt; hah nice</p>
<p>[22:03] * jrand0m tried for consistency (for ease of filtering)</p>
<p>[22:03] &lt;jrand0m&gt; would you like me to add the date to it?</p>
<p>[22:03] &lt;madman2003&gt; how is the testent really doing?(pessimistic opnion please)</p>
<p>[22:03] &lt;jrand0m&gt; madman2003&gt; poorly, but better than before</p>
<p>[22:04] &lt;mihi&gt; jrand0m: date (or meeting number) would be great</p>
<p>[22:04] &lt;jrand0m&gt; 'k mihi, consider it done</p>
<p>[22:04] &lt;jrand0m&gt; (anyone other than me want to give some feedback to madman2003's question?)</p>
<p>[22:04] &lt;duck&gt; madman2004: baffled and me have been connected for 4h now</p>
<p>[22:04] &lt;baffled&gt; Really that long?</p>
<p>[22:04] &lt;duck&gt; before test3 the maximum time was 10 min</p>
<p>[22:05] &lt;jrand0m&gt; w00t</p>
<p>[22:05] &lt;duck&gt; baffled: since 18:15:07 CET</p>
<p>[22:05] &lt;jrand0m&gt; yeah i had a 90m session the other day too</p>
<p>[22:05] &lt;duck&gt; but maybe we are directly hopped</p>
<p>[22:05] &lt;madman2003&gt; and you're sure the link is intact?</p>
<p>[22:05] &lt;jrand0m&gt; duck&gt; all tunnels are 2 hop (unless your router is failing, in which case your tunnels will break at least once)</p>
<p>[22:06] &lt;jrand0m&gt; madman2003&gt; when the tunnels fail, they fail hard</p>
<p>[22:06] &lt;madman2003&gt; how's general latency on the testnet?</p>
<p>[22:06] * Ophite1 has joined #i2p</p>
<p>[22:06] * jrand0m usually gets 2-10s latency through the squid</p>
<p>[22:06] * lucky has joined #i2p</p>
<p>[22:06] &lt;jrand0m&gt; 5-20s latency through irc</p>
<p>[22:07] &lt;madman2003&gt; is the 30 secs delay on local sites fixed yet?</p>
<p>[22:07] &lt;jrand0m&gt; duck&gt; can you /ping duck on your ircd?  how long does it take to reply with a CTCP refused error?</p>
<p>[22:07] &lt;jrand0m&gt; (or baffled&gt;)</p>
<p>[22:08] &lt;jrand0m&gt; madman2003&gt; there have been significant bugfixes that would account for 30s+ delays locally</p>
<p>[22:08] &lt;jrand0m&gt; (jobs got locked up causing insane delays)</p>
<p>[22:08] &lt;duck&gt; response to admin request to baffleds ircd is ~8s</p>
<p>[22:08] &lt;jrand0m&gt; duck&gt; to local?</p>
<p>[22:09] &lt;duck&gt; fido ping/pong is 3 seconds, which is local</p>
<p>[22:09] &lt;jrand0m&gt; coo'</p>
<p>[22:09] &lt;duck&gt; for local eepsites it also seems to be ~3s</p>
<p>[22:09] &lt;jrand0m&gt; (still much higher than i'd like, but &lt;&lt;30s)</p>
<p>[22:09] &lt;duck&gt; initial request longer, might be ~30s</p>
<p>[22:10] &lt;jrand0m&gt; interesting</p>
<p>[22:10] &lt;duck&gt; ,</p>
<p>[22:10] &lt;jrand0m&gt; ok, so there's definitely still work to be done on the testnet, but there's been progress</p>
<p>[22:10] &lt;madman2003&gt; is the testnet going to run until poor performance becomes perfect, what is the exact requirement of succes?</p>
<p>[22:11] &lt;madman2003&gt; (i know about 3 days of working good)</p>
<p>[22:11] &lt;jrand0m&gt; success == 3 consecutive days of things that should succeed succeeding.</p>
<p>[22:11] &lt;jrand0m&gt; human has volunteered to help out and implement something along the lines of what I posted in the email</p>
<p>[22:11] * mihi floods the testnet with pings ;)</p>
<p>[22:11] * leenookx has quit IRC (Ping timeout)</p>
<p>[22:11] &lt;jrand0m&gt; basically a way we can just leave a pair of bots connected to the two ircds and measure our progress and failures</p>
<p>[22:12] &lt;jrand0m&gt; (yay human!)</p>
<p>[22:12] &lt;mihi&gt; hmm, if there is no netsplit, i2p is working, but you cannot make the other way conclusion...</p>
<p>[22:13] &lt;jrand0m&gt; the i2p roadmap [http://wiki.invisiblenet.net/iip-wiki?I2PRoadmap] has the 0.2.4 release (~= testnet completion) in a week and a half</p>
<p>[22:13] &lt;madman2003&gt; why don't you focus on making local delay &lt;1s?</p>
<p>[22:13] &lt;jrand0m&gt; that i will.</p>
<p>[22:13] &lt;madman2003&gt; good chance that will solve some other problems too</p>
<p>[22:13] &lt;jrand0m&gt; the cause of &gt;1s delay is likely the load</p>
<p>[22:14] &lt;jrand0m&gt; for routers with no peers, local only requests are near instantaneous</p>
<p>[22:14] &lt;jrand0m&gt; (but as the testnet is actually showing some load, we're stressing different things)</p>
<p>[22:15] &lt;duck&gt; baffled and me also had a little chat about making statsbots, but if human wants to do it; cool for me</p>
<p>[22:15] &lt;madman2003&gt; maybe delays have to do with requests being send to other routers</p>
<p>[22:15] &lt;madman2003&gt; before it see that it's local</p>
<p>[22:15] &lt;jrand0m&gt; oh word duck</p>
<p>[22:15] &lt;jrand0m&gt; naw, doesn't work that way madman2003</p>
<p>[22:16] &lt;jrand0m&gt; (it gets pumped to the client manager first, which checks if its local, and only if it isn't does it get placed in the router's net pool)</p>
<p>[22:16] * madman2003 wonders where all that load is coming from</p>
<p>[22:16] &lt;jrand0m&gt; france.</p>
<p>[22:16] &lt;jrand0m&gt; er, germany.</p>
<p>[22:16] &lt;jrand0m&gt; (since *someone* is pinging everyone ;)</p>
<p>[22:17] &lt;duck&gt; kuala lumpur</p>
<p>[22:17] * duck hopes nobody gets that joke</p>
<p>[22:17] * jrand0m is pleased to meet duck's hopes</p>
<p>[22:17] &lt;mihi&gt; all that pings made my local box thrashing as well... (with no router!)</p>
<p>[22:18] &lt;jrand0m&gt; mihi&gt; the i2cp lib does the crypto ;)</p>
<p>[22:18] * wiht has joined #i2p</p>
<p>[22:18] &lt;madman2003&gt; doesn't i2p protect from ping floods?</p>
<p>[22:19] &lt;jrand0m&gt; madman2003&gt; the load isn't that significant, its just the code currently has very course grain synchronization (and during the testnet thats being adjusted to more fine grained sync)</p>
<p>[22:19] &lt;madman2003&gt; grain sync?</p>
<p>[22:19] &lt;mihi&gt; jrand0m: congrats: seems that ping -ns does not only produce - - - now</p>
<p>[22:20] &lt;jrand0m&gt; lol mihi :)</p>
<p>[22:20] &lt;mihi&gt; why lol? ping -ns never worked for me. (only the synchronized one)</p>
<p>[22:20] &lt;duck&gt; synchronized one never worked for me...</p>
<p>[22:20] &lt;jrand0m&gt; oh really?  word, -ns has been working well for me</p>
<p>[22:21] &lt;jrand0m&gt; madman2003&gt; its a tradeoff of memory and CPU vs concurrency</p>
<p>[22:22] &lt;jrand0m&gt; (course grained synchronization minimizes CPU and memory usage, while fine grained synchronization uses more CPU and memory in exchange for higher concurrency)</p>
<p>[22:22] * TrueSeeker has quit IRC (Leaving)</p>
<p>[22:22] * mihi will post ping stats in #flood in a few secs</p>
<p>[22:22] * ion has quit IRC (Ping timeout)</p>
<p>[22:23] &lt;lucky&gt; bah.</p>
<p>[22:23] &lt;jrand0m&gt; but yeah, the plan is to have the testnet wrap up once it passes the 3 day test.  my current estimate is the 14th, but we'll see.</p>
<p>[22:23] &lt;lucky&gt; miserably day.</p>
<p>[22:23] &lt;lucky&gt; stupid capitalist pigs</p>
<p>[22:23] &lt;lucky&gt; taking all my money..</p>
<p>[22:24] &lt;baffled&gt; looks like there a are new goodies in cvs, how long before test4?</p>
<p>[22:24] &lt;jrand0m&gt; not today, hopefully tomorrow</p>
<p>[22:24] * jrand0m is going to bed after the meeting :)</p>
<p>[22:25] &lt;baffled&gt; cool.</p>
<p>[22:26] &lt;madman2003&gt; bye everyone</p>
<p>[22:26] &lt;jrand0m&gt; later madman2003</p>
<p>[22:26] &lt;madman2003&gt; don't forget the other points of the meeting :)</p>
<p>[22:26] &lt;jrand0m&gt; ok, so thats testnet.  anything else on that, or shall we move to 2) updated roadmap?</p>
<p>[22:26] &lt;jrand0m&gt; hehe</p>
<p>[22:26] &lt;baffled&gt; Are there other stressers we need on the test net?</p>
<p>[22:26] * madman2003 has quit IRC (12( www.nnscript.de 12:: NoNameScript 3.8 12:: www.XLhost.de 12))</p>
<p>[22:26] &lt;duck&gt; what date is it?</p>
<p>[22:27] &lt;jrand0m&gt; Feb 3</p>
<p>[22:27] &lt;baffled&gt; 3rd here.</p>
<p>[22:27] &lt;mihi&gt; 2004-02-03</p>
<p>[22:27] * leenookx has joined #i2p</p>
<p>[22:27] &lt;duck&gt; ah, thanks</p>
<p>[22:27] &lt;jrand0m&gt; baffled&gt; actually, has anyone tried out i2psnark on testnet?</p>
<p>[22:27] &lt;wiht&gt; baffled: What do you mean by stressers?</p>
<p>[22:28] &lt;mihi&gt; wiht: i guess people stressing the testnet</p>
<p>[22:28] &lt;baffled&gt; Well, the other day you asked aum and I to siess and desist on nntp I was kinda thinking about setting up a 128kbps ogg stream.</p>
<p>[22:28] * mihi 'd like a public echo service set up by anyone - would allow good latency checks</p>
<p>[22:28] &lt;baffled&gt; so those two items I guess.</p>
<p>[22:28] &lt;jrand0m&gt; we've had a good crew hitting the squid</p>
<p>[22:28] &lt;jrand0m&gt; oh, nntp would rule, as would an ogg stream!</p>
<p>[22:29] * jrand0m doesn't recall asking y'all to stop (except maybe temporarily during an update?)</p>
<p>[22:29] &lt;jrand0m&gt; agreed mihi</p>
<p>[22:29] * jrand0m checks what port 'echo' is</p>
<p>[22:29] &lt;jrand0m&gt; 7</p>
<p>[22:29] &lt;mihi&gt; afaik 9</p>
<p>[22:29] &lt;mihi&gt; oops ;)</p>
<p>[22:29] &lt;baffled&gt; You may been frazelled about something else at the time.</p>
<p>[22:30] &lt;wiht&gt; Port 7.</p>
<p>[22:30] &lt;duck&gt; 4</p>
<p>[22:30] * ion has joined #i2p</p>
<p>[22:30] &lt;jrand0m&gt; prolly baffled ;)</p>
<p>[22:30] &lt;duck&gt; echo            4/ddp                           # AppleTalk Echo Protocol</p>
<p>[22:30] &lt;jrand0m&gt; echo            7/tcp</p>
<p>[22:30] &lt;jrand0m&gt; echo            7/udp</p>
<p>[22:30] &lt;jrand0m&gt; echo            4/ddp                           # AppleTalk Echo Protocol</p>
<p>[22:30] &lt;wiht&gt; Port 7 for TCP and UDP.</p>
<p>[22:30] &lt;mihi&gt; duck: we want [0-9]*/tcp</p>
<p>[22:30] * duck ducks</p>
<p>[22:31] * Synonymous has joined #i2p</p>
<p>[22:31] &lt;jrand0m&gt; so, anyone want to wrap up human's test app (the echo server and client)?</p>
<p>[22:32] &lt;jrand0m&gt; (though running twisted does seem a bit much for that ;)</p>
<p>[22:32] &lt;duck&gt; the non-twisted one would work</p>
<p>[22:33] &lt;duck&gt; .</p>
<p>[22:33] * jrand0m didn't realize his i2p code could work w/out twisted</p>
<p>[22:33] &lt;jrand0m&gt; but anyway, anyone wnat to volunteer to run point on getting an echo service up?</p>
<p>[22:33] * duck sits on his hands</p>
<p>[22:33] &lt;wiht&gt; Reachable through I2P, or reachable through regular Internet?</p>
<p>[22:34] &lt;jrand0m&gt; through i2p</p>
<p>[22:34] &lt;baffled&gt; I can look into it with some specific specs.</p>
<p>[22:34] &lt;mihi&gt; duck: do ducks have hands? i thougt wings ;)</p>
<p>[22:34] &lt;jrand0m&gt; spec: receive a line of text and echo it back :)</p>
<p>[22:34] &lt;baffled&gt; oh, okay no prob.</p>
<p>[22:34] &lt;lucky&gt; bah... i have to start filing taxes next year!</p>
<p>[22:34] &lt;mihi&gt; jrand0m: s/line/byte chunk/</p>
<p>[22:34] &lt;lucky&gt; Stupid, damn government...</p>
<p>[22:35] &lt;jrand0m&gt; mihi&gt; line is so much easier to parse ;)</p>
<p>[22:35] &lt;duck&gt; lucky: hush</p>
<p>[22:35] &lt;jrand0m&gt; baffled++</p>
<p>[22:35] &lt;jrand0m&gt; ok, moving on to 2) updated roadmap</p>
<p>[22:35] * jrand0m directs people's attention to http://wiki.invisiblenet.net/iip-wiki?I2PRoadmap</p>
<p>[22:36] &lt;mihi&gt; jrand0m: why? while (len=in.read(b) != -1) {o.write(b,0,len);}</p>
<p>[22:36] &lt;jrand0m&gt; (which, of course, y'all have already read)</p>
<p>[22:36] * MrEcho has joined #i2p</p>
<p>[22:36] &lt;jrand0m&gt; mihi&gt; single byte messages vs nagle, etc</p>
<p>[22:37] &lt;jrand0m&gt; but anyway, whatever baffled implements to do echoing to support testing is Good </p>
<p>[22:37] &lt;jrand0m&gt; (or you and he can work out what works best for you)</p>
<p>[22:37] * wiht has quit IRC (Ping timeout)</p>
<p>[22:37] &lt;baffled&gt; If you have requirements write them down and let me know later mihi and I'll try.</p>
<p>[22:38] * ion has quit IRC (Ping timeout)</p>
<p>[22:38] &lt;mihi_backup&gt; baffled: not really. if needed adding a newline after a timestamp is no problem at all.</p>
<p>[22:38] * jar_ has quit IRC (Ping timeout)</p>
<p>[22:38] &lt;duck&gt; (netsplit after 4:20)</p>
<p>[22:38] &lt;jrand0m&gt; heh</p>
<p>[22:39] &lt;jrand0m&gt; not good :/</p>
<p>[22:39] &lt;jrand0m&gt; well, iterative and incremental.</p>
<p>[22:39] &lt;mihi&gt; 22:38:09.430 ERROR [WrC1-&gt;Pz83  ] .i2p.i2ptunnel.I2PTunnelRunner: Error sending</p>
<p>[22:39] &lt;mihi&gt; message to peer.  Killing tunnel runner</p>
<p>[22:39] &lt;jrand0m&gt; are all 9/10 routers up atm?</p>
<p>[22:39] &lt;jrand0m&gt; (or did one go down?)</p>
<p>[22:40] &lt;jrand0m&gt; i only see 8</p>
<p>[22:40] &lt;jrand0m&gt; 22:41:02.758 ERROR [TCP Read [9]] er.transport.tcp.TCPConnection: Error reading from stream to [RouterIdentity:</p>
<p>[22:40] &lt;jrand0m&gt;         Hash: 4Sb3aJoFusrhpHgYA2xCZCkn0P5jBo822qu9C0wsE1w=</p>
<p>[22:40] * duck did just update</p>
<p>[22:40] &lt;duck&gt; where goes the i2cp admin stuff fit in the roadmap?</p>
<p>[22:41] &lt;duck&gt; afaik that isnt implemented, but 0.2.5 talks about finalizing the spec</p>
<p>[22:41] &lt;jrand0m&gt; current plan is to make I2CP the plain client protocol, leaving admin functionality seperate</p>
<p>[22:41] &lt;jrand0m&gt; (e.g. through the :7655 admin web port)</p>
<p>[22:41] &lt;duck&gt; ok</p>
<p>[22:42] &lt;jrand0m&gt; (and rip out all that other crap)</p>
<p>[22:42] * jar_ has joined #i2p</p>
<p>[22:42] * ion has joined #i2p</p>
<p>[22:42] &lt;jrand0m&gt; ((shrinkingCodebase)++)</p>
<p>[22:43] &lt;jrand0m&gt; does anyone have any thoughts on the two Big Issues?</p>
<p>[22:43] &lt;jrand0m&gt; = aborting the current PHTTP transport (until 2.0)</p>
<p>[22:43] &lt;jrand0m&gt; = keeping support for a restricted route topology at 2.0</p>
<p>[22:43] &lt;baffled&gt; Well gang, gotta boogie so I'll have to read the logs later.</p>
<p>[22:43] &lt;jrand0m&gt; cool, glad you could make it, l8r</p>
<p>[22:43] * baffled has quit IRC (Leaving)</p>
<p>[22:44] &lt;duck&gt; secure i2cp would lower the direct need for restricted route topology a bit</p>
<p>[22:44] &lt;duck&gt; so thats fine</p>
<p>[22:45] &lt;jrand0m&gt; agreed, though the 'secured' in this sense won't be ideal (all i2cp payloads will of course be encrypted, but sniffers can detect that $client is sending a $n byte message to $destination)</p>
<p>[22:46] &lt;jrand0m&gt; the only difference from the current i2cp is a little update to the authentication protocol / structure</p>
<p>[22:46] &lt;jrand0m&gt; ((well, the $client can't detect $n, since messages are padded randomly.  nm)</p>
<p>[22:46] &lt;jrand0m&gt; er, $sniffer, not $client</p>
<p>[22:47] * wiht has joined #i2p</p>
<p>[22:47] &lt;jrand0m&gt; (of course that doesn't defeat a global passive adversary)</p>
<p>[22:48] &lt;jrand0m&gt; anyone have any other concerns / suggestions / ideas / comments?</p>
<p>[22:48] &lt;jrand0m&gt; (on the roadmap)</p>
<p>[22:49] &lt;duck&gt; no</p>
<p>[22:49] &lt;jrand0m&gt; nor do i</p>
<p>[22:49] * jrand0m hops on to 3) updated application list</p>
<p>[22:49] &lt;jrand0m&gt; [insert "mihi rules" rant here]</p>
<p>[22:50] &lt;duck&gt; help jrand0m to say no!</p>
<p>[22:50] &lt;jrand0m&gt; mihi&gt; any thoughts on the muffin thing?  http://wiki.invisiblenet.net/iip-wiki?I2PApplications</p>
<p>[22:50] &lt;jrand0m&gt; heh</p>
<p>[22:51] &lt;mihi&gt; jrand0m: you know what i think about that...</p>
<p>[22:51] &lt;jrand0m&gt; (i'm not specifically asking you to integrate it, i'm just seeing what your thoughts are as to whether it would be good)</p>
<p>[22:52] &lt;mihi&gt; httpclient has to get out of i2ptunnel, since i2ptunnel is for stream forwarding and httpclient does content forwarding</p>
<p>[22:52] &lt;mihi&gt; hacking that into i2ptunnel would be just more hackish.</p>
<p>[22:52] &lt;jrand0m&gt; word, so the app down below [Scalable web proxies]</p>
<p>[22:52] &lt;jrand0m&gt; that makes sense</p>
<p>[22:53] &lt;jrand0m&gt; (apps that do One Thing and One Thing Well)++</p>
<p>[22:53] &lt;mihi&gt; jrand0m: you misunderstood me...</p>
<p>[22:53] &lt;jrand0m&gt; whaddimiss?</p>
<p>[22:54] &lt;mihi&gt; i don't have anything against an app that reads a http request, parses it, sends it over i2p, reads the answer, parses it, sends it back (maybe with filtering) - just not do it as httptunnel does.</p>
<p>[22:54] &lt;mihi&gt; httptunnel forwards everything except the first few lines.</p>
<p>[22:54] &lt;jrand0m&gt; ah you're right</p>
<p>[22:55] * jrand0m doesn't quite have head screwed on correctly</p>
<p>[22:55] &lt;mihi&gt; it would be hard to build effective filtering into it (if it should filter html and not text or sth like that)</p>
<p>[22:55] &lt;jrand0m&gt; right - perhaps just have MUFFIN as a standalone </p>
<p>[22:55] &lt;jrand0m&gt; (filtering whatever comes out of the httpclient)</p>
<p>[22:55] &lt;mihi&gt; so i'd say, an extra app for that. but that would require streaming lib... (or sth like that)</p>
<p>[22:56] * duck likes how you can do proxies xmlrpc/soap with httpclient though</p>
<p>[22:56] &lt;wiht&gt; jrand0m: I did not see an entry for "muffin" on the list of applications.</p>
<p>[22:56] &lt;jrand0m&gt; wiht&gt; http://muffin.doit.org/</p>
<p>[22:56] &lt;mihi&gt; muffin is a http content filter</p>
<p>[22:57] &lt;mihi&gt; if we have a content filter, we could drop that shitty "proxy" thingy.</p>
<p>[22:57] &lt;jrand0m&gt; duck&gt; hopefully the muffin filter would be set to pass through xmlrpc/soap, only filtering things like VBScript / etc</p>
<p>[22:57] &lt;wiht&gt; I see.</p>
<p>[22:57] &lt;jrand0m&gt; hm, mihi?</p>
<p>[22:57] &lt;duck&gt; ah wait, xmlrpc/soap would be content type xml</p>
<p>[22:57] &lt;jrand0m&gt; mihi&gt; wouldn't it still need to do the name translation, at the least?</p>
<p>[22:58] &lt;mihi&gt; sure, but not as a proxy. http://localhost:12345/duck.i2p/ would work much better.</p>
<p>[22:58] &lt;Synonymous&gt; muffin is gpl, u have to be careful in a public domain project to use gpl code, its still copyrighted ;)</p>
<p>[22:58] &lt;mihi&gt; since you can link to that from the regular web</p>
<p>[22:58] &lt;jrand0m&gt; hrm mihi.</p>
<p>[22:58] &lt;mihi&gt; Synonymous: i2ptunnel is gpl anyway</p>
<p>[22:58] &lt;jrand0m&gt; Synonymous&gt; I2PTunnel is GPL</p>
<p>[22:58] &lt;Synonymous&gt; ya</p>
<p>[22:59] * jrand0m is well aware of the fact that some people consider copyrights valid, and tries to accomodate them.</p>
<p>[22:59] &lt;Synonymous&gt; make sure to put that up where it is visible (if you use muffin) it already says that iptunnel is gpl</p>
<p>[22:59] &lt;jrand0m&gt; of course, if we use muffin it'd get attributed and marked as gpl.</p>
<p>[22:59] &lt;Synonymous&gt; ya thats what i said, becareful about it</p>
<p>[23:00] &lt;jrand0m&gt; (we're not going to get into the copyright discussion here)</p>
<p>[23:00] &lt;jrand0m&gt; ok, any other thoughts on the apps listed?</p>
<p>[23:00] &lt;Synonymous&gt; then don't, and my comment was not intended to start one</p>
<p>[23:00] * duck laughts at http://muffin.doit.org/demo/evil/</p>
<p>[23:01] &lt;jrand0m&gt; what do y'all think will be necessary app functionality for 1.0?</p>
<p>[23:01] &lt;jrand0m&gt; heh duck</p>
<p>[23:01] &lt;jrand0m&gt; (or are we already there, and 1.0 app functionality == things proxied through i2ptunnel :)</p>
<p>[23:02] &lt;Synonymous&gt; ppl would want functional chat, and maybe a freenet like ap for 1.0 if thats what you are asking, maybe a set of tools so ppl can easily set up their own services on it</p>
<p>[23:02] &lt;mihi&gt; an IM and a naming service are still missing</p>
<p>[23:02] &lt;jrand0m&gt; mihi&gt; irc over i2p?</p>
<p>[23:02] &lt;wiht&gt; Yes, naming service should be in place by 1.0 version of I2P.</p>
<p>[23:03] &lt;duck&gt; eep</p>
<p>[23:03] &lt;mihi&gt; jrand0m: irc over i2p would be okay as well, but a naming service ;)</p>
<p>[23:03] &lt;jrand0m&gt; wiht&gt; do you have any thoughts on whether a naming service will be implemented and ready to go live by April?</p>
<p>[23:03] * jrand0m really doesn't think a naming service is necessary. useful, yes</p>
<p>[23:04] &lt;jrand0m&gt; (all we *need* is a way to easily update a hosts.txt file)</p>
<p>[23:04] &lt;kaji&gt; or a distributed vpn layer</p>
<p>[23:04] &lt;jrand0m&gt; heh</p>
<p>[23:04] &lt;mihi&gt; jrand0m: for me even that (if automated) is a naming service</p>
<p>[23:04] &lt;wiht&gt; jrand0m: Probably by the middle of April.</p>
<p>[23:05] &lt;jrand0m&gt; kaji&gt; a distributed vpn layer is a solid month of 1-2 devs ;)</p>
<p>[23:05] &lt;wiht&gt; I want to make it scalable for accomodating many more entries than we have in hosts.txt now.</p>
<p>[23:05] &lt;jrand0m&gt; 1.0--&gt;3.0 wont have millions of entries</p>
<p>[23:05] &lt;wiht&gt; MrEcho: Do you have any thoughts on this?</p>
<p>[23:05] &lt;jrand0m&gt; thousands, yeah</p>
<p>[23:06] &lt;jrand0m&gt; Synonymous&gt; freenet like app would be cool, but then we need to recruit someone to implement :)</p>
<p>[23:07] &lt;jrand0m&gt; Synonymous&gt; tools to set up services - definitely.  hopefully i2pmanager or i2pmole will do</p>
<p>[23:07] &lt;Synonymous&gt; that might be hard, esp since freenet doesnt work hehe</p>
<p>[23:07] &lt;wiht&gt; Speaking of which, what is the progress of I2PManager?</p>
<p>[23:07] &lt;jrand0m&gt; aparently its coming along, the console / cli mode is making progress (aum now uses it to manage his services via init scripts)</p>
<p>[23:08] &lt;jrand0m&gt; i've used the gui, and aum's logged a few bugs on the tunnelmanager that are still outstanding</p>
<p>[23:08] &lt;jrand0m&gt; (due to large #s of tunnels being created, not due to a small #)</p>
<p>[23:08] &lt;wiht&gt; I think I2PManager should be an application for 1.0.</p>
<p>[23:09] &lt;jrand0m&gt; i hope so too</p>
<p>[23:09] &lt;jrand0m&gt; (especially since that would mean we can throw out the kludged installer, since i2pmanager has that built in)</p>
<p>[23:09] &lt;jrand0m&gt; so, people with python experience should get in touch with aum to see how they can help :)</p>
<p>[23:09] &lt;human&gt; re</p>
<p>[23:09] &lt;jrand0m&gt; wb human</p>
<p>[23:10] * human read about the muffin proxy</p>
<p>[23:10] &lt;human&gt; i know about another privacy-oriented personal proxy called privoxy</p>
<p>[23:11] &lt;jrand0m&gt; yeah, privoxy was another one i had been looking at.  good potential as well</p>
<p>[23:11] &lt;jrand0m&gt; (reason i leaned towards muffin was the ease of integration, since its java)</p>
<p>[23:12] * jrand0m won't be the one who implements / integrates it, so my view is only a suggestion</p>
<p>[23:12] &lt;@Nightblade&gt; i think a group chat (or irc) would be a good program because if you can get chat to work reliably then you know i2p's latency and stability are good</p>
<p>[23:13] &lt;jrand0m&gt; agreed</p>
<p>[23:13] &lt;Synonymous&gt; how would trent work on such a system though, is it possible to do it with a system of public and private keys (like frost)</p>
<p>[23:13] &lt;Synonymous&gt; the channel would be the 'board' ?</p>
<p>[23:13] &lt;jrand0m&gt; Synonymous&gt; duck has actually done some neat stuff</p>
<p>[23:13] &lt;Synonymous&gt; kool</p>
<p>[23:14] &lt;duck&gt; which is: users login with a secret password to the ircd, the ircd publishes the sha1 of the password</p>
<p>[23:14] &lt;jrand0m&gt; Synonymous&gt; in his modified ircd, you can provide a password that has its hash shown in the ident </p>
<p>[23:14] &lt;Synonymous&gt; it would also be like waste i guess, even though I didnt usei t</p>
<p>[23:14] &lt;jrand0m&gt; duck&gt; though if anyone else creates their own ircd, they can spoof that :/</p>
<p>[23:14] &lt;duck&gt; so others can check the sha1 against a local list, without requiring a centralized database</p>
<p>[23:15] &lt;duck&gt; sure</p>
<p>[23:15] &lt;jrand0m&gt; but people could just remember what ircd someone usually connects from, i suppose</p>
<p>[23:15] &lt;jrand0m&gt; would it be possible to have a nickserv?</p>
<p>[23:15] * jrand0m doesn't know much about how irc nets work</p>
<p>[23:16] &lt;duck&gt; yes, but I didnt want that</p>
<p>[23:16] &lt;duck&gt; because Trent was made as a temporary hack</p>
<p>[23:16] &lt;jrand0m&gt; right, it'd be Good if we could do without</p>
<p>[23:16] &lt;jrand0m&gt; hehe</p>
<p>[23:16] &lt;jrand0m&gt; until iip 2.0, right?  ;)</p>
<p>[23:16] &lt;duck&gt; now it is the longest running joke in the world</p>
<p>[23:17] &lt;duck&gt; .</p>
<p>[23:18] &lt;jrand0m&gt; ok, so if we go 1.0 with: irc, eepsites (and a way to set up your own), squid, and cvs, thats reasonable?</p>
<p>[23:18] &lt;@Nightblade&gt; yeah</p>
<p>[23:18] &lt;jrand0m&gt; (obviously it'd be fantastic if we could include i2psnark, naming, I2PIM, and the other apps)</p>
<p>[23:19] &lt;duck&gt; with irc you mean native i2pirc?</p>
<p>[23:19] &lt;duck&gt; or if not, why not nntp etc too</p>
<p>[23:19] &lt;jrand0m&gt; oh, right</p>
<p>[23:19] &lt;jrand0m&gt; of course</p>
<p>[23:20] * jrand0m !thwaps self.</p>
<p>[23:20] &lt;duck&gt; not too much ofcourse</p>
<p>[23:20] * duck thinks that the pgp keyserver is silly</p>
<p>[23:20] &lt;jrand0m&gt; i just meant that its easy to overwhelm people with options</p>
<p>[23:20] &lt;duck&gt; ah, sure</p>
<p>[23:20] &lt;duck&gt; as in officially bundeled stuff</p>
<p>[23:20] &lt;jrand0m&gt; "why should I use I2P" "well you can [.............]"</p>
<p>[23:20] &lt;jrand0m&gt; right</p>
<p>[23:20] * duck agrees</p>
<p>[23:21] &lt;jrand0m&gt; with i2ptunnel, we can support all that we've seen (and more :)</p>
<p>[23:21] &lt;jrand0m&gt; ok, in that case, I don't think we need to worry too much about the i2papps</p>
<p>[23:21] &lt;mihi&gt; btw: we should deprecate the -nogui option of I2PTunnel...</p>
<p>[23:22] &lt;jrand0m&gt; to default to -nogui?</p>
<p>[23:22] &lt;jrand0m&gt; (or you trying to get us all to use awt?  ;)</p>
<p>[23:22] &lt;mihi&gt; no. not to use -nogui at all. -cli and -nocli are more "transparent"</p>
<p>[23:22] &lt;Synonymous&gt; you should also package all these options in 1 distro if you can</p>
<p>[23:22] &lt;jrand0m&gt; ah ok mihi</p>
<p>[23:22] &lt;Synonymous&gt; unlike freenet, which mentions no otehr utilities and its up to you to go find them out</p>
<p>[23:22] &lt;jrand0m&gt; Synonymous&gt; definitely</p>
<p>[23:22] &lt;jrand0m&gt; Synonymous&gt; have you used i2pmgr yet?</p>
<p>[23:23] &lt;mihi&gt; -nogui acts differently whether you use -e "run configfile" or use "configfile"</p>
<p>[23:23] &lt;Synonymous&gt; no, i couldnt get it working :)</p>
<p>[23:23] &lt;jrand0m&gt; (its still pre-alpha, but functional)</p>
<p>[23:23] &lt;jrand0m&gt; ah ok</p>
<p>[23:23] &lt;Synonymous&gt; from before but it didnt try the gui</p>
<p>[23:23] &lt;Synonymous&gt; i might try now that it has one</p>
<p>[23:23] &lt;Synonymous&gt; :)</p>
<p>[23:23] &lt;jrand0m&gt; word, its been makin progress</p>
<p>[23:23] * duck suppresses a yawn</p>
<p>[23:24] &lt;jrand0m&gt; yeah yeah yeah duck, ok ;)</p>
<p>[23:24] &lt;jrand0m&gt; i think thats it for apps - unless someone else has something?</p>
<p>[23:24] &lt;jrand0m&gt; moving on to 4) Volunteers needed</p>
<p>[23:25] &lt;jrand0m&gt; we're making good progress, and the pace is fine and imho sustainable</p>
<p>[23:25] &lt;jrand0m&gt; but we've all been talking about some really neat things that we'd like added on</p>
<p>[23:25] &lt;jrand0m&gt; if there were another N hours in the day, yadda yadda yadda</p>
<p>[23:26] &lt;duck&gt; what do you mean with 'development bandwidth'?</p>
<p>[23:26] &lt;jrand0m&gt; more hours of developer activity</p>
<p>[23:26] &lt;duck&gt; aye</p>
<p>[23:27] &lt;jrand0m&gt; (e.g. 2 developers == 16/20 hours/day)</p>
<p>[23:27] &lt;jrand0m&gt; my gut feeling is of the 'if you build it, they will come' variety</p>
<p>[23:28] &lt;jrand0m&gt; (but i've also worked at companies that thought they had a kickass product, made it more kickass, released it, and didn't see much market activity)</p>
<p>[23:28] * duck doesnt think that hiring cheap indians will work</p>
<p>[23:28] &lt;jrand0m&gt; heh</p>
<p>[23:29] &lt;duck&gt; product marketing != developer marketing</p>
<p>[23:29] &lt;jrand0m&gt; right, i agree</p>
<p>[23:29] &lt;jrand0m&gt; i just meant as an analogy</p>
<p>[23:30] &lt;jrand0m&gt; we'll see how things progress.  i just wanted to throw that stuff out there</p>
<p>[23:30] &lt;@Nightblade&gt; it is a complex program which makes it harder to find people who can figure it out</p>
<p>[23:31] &lt;jrand0m&gt; agreed Nightblade</p>
<p>[23:31] * greasyaxelsex__ has joined #I2P</p>
<p>[23:31] &lt;jrand0m&gt; Nightblade&gt; thats what 1.0 release criteria #3 on the roadmap is for: " Javadoc and code walkthrough / guidebook updated"</p>
<p>[23:32] * dm has joined #i2p</p>
<p>[23:32] * wiht has quit IRC (EOF From client)</p>
<p>[23:32] &lt;jrand0m&gt; we currently have a generally up to date wiki providing an overview of the java impl</p>
<p>[23:32] &lt;mihi&gt; hi dm</p>
<p>[23:32] &lt;jrand0m&gt; but i will definintely need help with the documentation</p>
<p>[23:32] &lt;dm&gt; hello mihi.</p>
<p>[23:33] &lt;jrand0m&gt; (since what makes sense to me != what makes sense to people learning the code)</p>
<p>[23:33] * dm accuses jrand0m of using terms he's invented when explaining things.</p>
<p>[23:34] &lt;jrand0m&gt; occationally ;)</p>
<p>[23:34] &lt;Synonymous&gt; i will help wtih the webpage if u want</p>
<p>[23:34] &lt;jrand0m&gt; (though the only thing i knowingly have coined wrt i2p is 'militant grade anonymity' ;)</p>
<p>[23:34] &lt;Synonymous&gt; i already have a template</p>
<p>[23:34] &lt;dm&gt; How far are we from a bugless 0.2.x? I get my broadband in less than a week's time.</p>
<p>[23:34] * wiht has joined #i2p</p>
<p>[23:34] &lt;Synonymous&gt; the website needs major owkr</p>
<p>[23:34] &lt;Synonymous&gt; im working on my own anonymous p2p website, but you can borrow mine :)</p>
<p>[23:35] &lt;jrand0m&gt; hehe</p>
<p>[23:35] &lt;Synonymous&gt; its modeled after freenet's</p>
<p>[23:35] &lt;Synonymous&gt; but better</p>
<p>[23:35] &lt;Synonymous&gt; :P</p>
<p>[23:35] &lt;jrand0m&gt; actually, yeah, perhaps we can start a thread on the i2p list describing goals of the website and seeing how it fits together?</p>
<p>[23:35] &lt;dm&gt; Synonymous: are you building a p2p app, or just the website?</p>
<p>[23:35] &lt;Synonymous&gt; just the website</p>
<p>[23:35] &lt;jrand0m&gt; (and if that traffic grows, we'll move to something like i2p-www@)</p>
<p>[23:36] &lt;duck&gt; ROFL at anonymous p2p website boilerplates</p>
<p>[23:36] &lt;jrand0m&gt; dm&gt; roadmap updated at http://wiki.invisiblenet.net/iip-wiki?I2PRoadmap with 0.2.4 slated for February 14</p>
<p>[23:36] &lt;Synonymous&gt; explaing anonymous p2p, the different topologies of networks, the philosophy of it, cypherpunkdom, digital imprimature, links to projects, a mailing list for ppl to discuss it</p>
<p>[23:36] &lt;mihi&gt; dm&gt; bugless sw does not exist</p>
<p>[23:36] &lt;jrand0m&gt; duck&gt; gotta keep the anonymity set large ;)</p>
<p>[23:36] &lt;Synonymous&gt; also links to the other website that does that</p>
<p>[23:37] &lt;dm&gt; mihi: does too!</p>
<p>[23:37] &lt;jrand0m&gt; mihi&gt; i worked on one project a few years ago that actually shipped with 0 bugs.  no p1 or even p5s</p>
<p>[23:37] &lt;dm&gt; func addints(int a, int b) { return a + b; }</p>
<p>[23:37] &lt;mihi&gt; jrand0m: they just did not find them...</p>
<p>[23:37] &lt;mihi&gt; dm: which language?</p>
<p>[23:37] &lt;jrand0m&gt; mihi&gt; then its not a bug ;)</p>
<p>[23:37] * greasyaxelsex__ has left #I2P (greasyaxelsex__)</p>
<p>[23:37] &lt;dm&gt; pseudo-language</p>
<p>[23:38] &lt;mihi&gt; and how does this pseudo-language react on an overflow?</p>
<p>[23:38] &lt;wiht&gt; dm: In a project with thousands of lines of code, having no bugs is much less likely.</p>
<p>[23:38] &lt;duck&gt; .</p>
<p>[23:38] &lt;Synonymous&gt; so April is the deadline for something for public release?  Why not try to recruit some devls, or would it take to long for you to explain to them how it works etc.</p>
<p>[23:39] &lt;dm&gt; input is never over max_value /2</p>
<p>[23:39] &lt;jrand0m&gt; (we're currently ~20KLOC, using the "grep \; | wc -l" algorithm)</p>
<p>[23:39] &lt;jrand0m&gt; Synonymous&gt; I don't think we want to just go around posting on lists "hey, we're doing a kickass thing, come code on it" (thats essentially a 1.0 announcement)</p>
<p>[23:40] &lt;dm&gt; that's a lotta lines.</p>
<p>[23:40] &lt;dm&gt; Java bloat!</p>
<p>[23:40] &lt;jrand0m&gt; but if there are people who are interested in helping out, i'll most definitely go out of my way to find out how i can get them involved</p>
<p>[23:40] * jrand0m kicks dm</p>
<p>[23:40] &lt;jrand0m&gt; java bloat is when the jvm uses ram.  you're suggesting OO bloat</p>
<p>[23:40] &lt;dm&gt; What a project leader jrand0m is.</p>
<p>[23:40] &lt;Synonymous&gt; well, how will u know if ppl are interested if there is no knowledge of it, thats a contradiction</p>
<p>[23:41] &lt;Synonymous&gt; and by 'recruit' i mean email them, not pubically anounce on say, zeropaid, about i2p</p>
<p>[23:41] &lt;Synonymous&gt; like someone did ;)</p>
<p>[23:41] &lt;jrand0m&gt; Synonymous&gt; what are your thoughts on the explanation of that issue from the email?</p>
<p>[23:41] &lt;dm&gt; Right OO bloat.</p>
<p>[23:41] &lt;jrand0m&gt; yeah, I was pissed when someone told me about that zp article</p>
<p>[23:41] &lt;Synonymous&gt; ya your the one that did the interview</p>
<p>[23:41] &lt;jrand0m&gt; (you can read the august iip-dev messages)</p>
<p>[23:41] &lt;Synonymous&gt; they just quoted you?</p>
<p>[23:41] &lt;jrand0m&gt; "interview"?  more like some random person on iip asking me questions</p>
<p>[23:42] &lt;dm&gt; mihi: are you working on the streaming lib?</p>
<p>[23:42] &lt;Synonymous&gt; ah :)</p>
<p>[23:42] &lt;mihi&gt; dm:no</p>
<p>[23:42] &lt;mihi&gt; Standard@laptop /cygdrive/c/eigenes/notback/cvsprojects/i2p/i2p/code</p>
<p>[23:42] &lt;mihi&gt; $ grep \; `find . -name "*.java"` | wc -l</p>
<p>[23:42] &lt;mihi&gt;   30593</p>
<p>[23:42] &lt;jrand0m&gt; ah.</p>
<p>[23:42] &lt;Synonymous&gt; well, make get a list of project leaders for anonymous p2p and say "here is a project you might be interested in looking at, if you have any ideas on code or projects that might help it please let me know"</p>
<p>[23:42] &lt;mihi&gt; 30kLOC ;)</p>
<p>[23:42] &lt;jrand0m&gt; grep -v \^import</p>
<p>[23:43] &lt;jrand0m&gt; Synonymous&gt; stealing project leads == bad form ;)</p>
<p>[23:43] &lt;jrand0m&gt; (there are many good projects, and while I obviously think i2p is important, others are too)</p>
<p>[23:44] &lt;Synonymous&gt; not stealing, and i dont think the 'leader' can be stolen, he would just desolve the project</p>
<p>[23:44] * jrand0m cant believe we're at 30kloc</p>
<p>[23:44] &lt;jrand0m&gt; heh</p>
<p>[23:46] &lt;jrand0m&gt; ok, moving on to 5) ???</p>
<p>[23:46] &lt;duck&gt; 2 eepsite proposals, for those who dont know what to do: 1) meshmx FE tunnel (with stunnel) 2) pastebin.de site</p>
<p>[23:46] &lt;jrand0m&gt; anyone have anything else to discuss / bring up?</p>
<p>[23:46] &lt;jrand0m&gt; oh word duck</p>
<p>[23:46] &lt;jrand0m&gt; whats pastebin.de?</p>
<p>[23:46] &lt;jrand0m&gt; (similar?)</p>
<p>[23:47] &lt;duck&gt; site where you can paste code/logs/stuff publically</p>
<p>[23:47] &lt;duck&gt; for irc debugging</p>
<p>[23:47] &lt;duck&gt; http://pastebin.de/</p>
<p>[23:47] &lt;jrand0m&gt; interesting</p>
<p>[23:47] * @Nightblade just prefers flooding channels with code</p>
<p>[23:48] &lt;jrand0m&gt; wow that is one hell of an innovative idea</p>
<p>[23:48] &lt;jrand0m&gt; insanely simple.</p>
<p>[23:48] &lt;jrand0m&gt; focused.</p>
<p>[23:48] &lt;jrand0m&gt; practical.</p>
<p>[23:48] &lt;dm&gt; Only python though?</p>
<p>[23:48] &lt;jrand0m&gt; oh reall?</p>
<p>[23:48] &lt;jrand0m&gt; :/</p>
<p>[23:48] &lt;duck&gt; I think this one has python highlighting</p>
<p>[23:48] * jrand0m takes back 'practical' ;)</p>
<p>[23:48] &lt;duck&gt; but I have also seen php ones etc</p>
<p>[23:48] &lt;duck&gt; and you might have a general approach</p>
<p>[23:48] &lt;dm&gt; I think I've seen one which accepts any language.</p>
<p>[23:49] &lt;dm&gt; Good idea, mind you.</p>
<p>[23:49] &lt;duck&gt; anyway, just something simple</p>
<p>[23:49] &lt;duck&gt; you dont need highlighting at all</p>
<p>[23:49] &lt;duck&gt; online linenrs would be useful</p>
<p>[23:49] * dm looks at python code.</p>
<p>[23:49] &lt;dm&gt; What's so special about this again?</p>
<p>[23:50] &lt;jrand0m&gt; its got a y</p>
<p>[23:50] * Nightblade sets mode: +o jrand0m</p>
<p>[23:50] &lt;@jrand0m&gt; w00t</p>
<p>[23:50] * Trent@anon.iip sets mode: +o mihi</p>
<p>[23:50] &lt;duck&gt; there is nothing special about it,</p>
<p>[23:51] &lt;dm&gt; A lot of people really like it, I think.</p>
<p>[23:51] &lt;duck&gt; oh, you mean about python</p>
<p>[23:51] &lt;dm&gt; yes, sorry.</p>
<p>[23:52] * duck moves that to 6) offtopic</p>
<p>[23:52] &lt;duck&gt; :)</p>
<p>[23:52] &lt;@jrand0m&gt; heh</p>
<p>[23:52] &lt;@jrand0m&gt; [beuler, beuler]</p>
<p>[23:52] &lt;dm&gt; Sorry, didn't realize you guys were having a meeting.</p>
<p>[23:52] &lt;@jrand0m&gt; every tuesday 9p gmt :)</p>
<p>[23:53] &lt;duck&gt; ok, php stuff: http://pastebin.com/pastebin.php?showsource=php</p>
<p>[23:53] &lt;@jrand0m&gt; anyone have anything else they want to bring up wrt i2p, etc?</p>
<p>[23:54] &lt;@mihi&gt; i2p rocks!</p>
<p>[23:54] &lt;@jrand0m&gt; (if only it were more reliable..)</p>
<p>[23:55] &lt;@mihi&gt; it is more reliable than freenet for me ;)</p>
<p>[23:55] &lt;@jrand0m&gt; heh :)</p>
<p>[23:55] &lt;@jrand0m&gt; if i just hadn't fucked with your i2ptunnel to set the retry count to 0 we'd be fine ;)</p>
<p>[23:56] &lt;@jrand0m&gt; (corrupt a lil data here and there, but that never hurt no one...er......)</p>
<p>[23:56] &lt;@jrand0m&gt; ok</p>
<p>[23:56] &lt;dm&gt; don't baf</p>
<p>[23:56] * @jrand0m isn't going to try to drag it out 4 more minutes to reach 2 hours</p>
<p>[23:57] &lt;dm&gt; do not baf</p>
<p>[23:57] * @jrand0m denies dm and *baf*'s the meeting closed</p>
</div>
{% endblock %}