{% extends "_layout.html" %}
{% block title %}Pages/meeting115.html{% endblock %}
{% block content %}<h3>I2P dev meeting, November 9, 2004</h3>
<div class="irclog">
<p>13:26 &lt; jrandom&gt; 0) hi</p>
<p>13:26 &lt; cervantes&gt; lets see the menu before we order :P</p>
<p>13:26 &lt; jrandom&gt; 1) 0.4.1.4</p>
<p>13:26 &lt; jrandom&gt; 2) Streaming lib</p>
<p>13:26 &lt; jrandom&gt; 3) BT progress</p>
<p>13:26 &lt; jrandom&gt; 4) addressbook.py</p>
<p>13:26 &lt; jrandom&gt; 5) ???</p>
<p>13:26 &lt; jrandom&gt; 0) hi</p>
<p>13:27  * jrandom waves</p>
<p>13:27 &lt; Ragnarok&gt; hi</p>
<p>13:27  * cervantes waves</p>
<p>13:27 &lt; jrandom&gt; status notes up @ http://dev.i2p.net/pipermail/i2p/2004-November/000485.html</p>
<p>13:27 &lt; keysersoze&gt; hi</p>
<p>13:27 &lt;+polecat&gt; 5) can be DHTs, like that bamboo thing?</p>
<p>13:27 &lt; jrandom&gt; (yeah, i'm late)</p>
<p>13:27 &lt; jrandom&gt; cool polecat </p>
<p>13:27  * polecat nips at fingers again!</p>
<p>13:27 &lt; jrandom&gt; ok, jumping into 1) 0.4.1.4</p>
<p>13:28 &lt;+Ch0Hag&gt; 0.4.1.4 seems to die more than it should</p>
<p>13:28 &lt;+Ch0Hag&gt; like - at all</p>
<p>13:28 &lt; jrandom&gt; die?</p>
<p>13:28 &lt;+Ch0Hag&gt; Though there's a chance that's kaffe's fault.</p>
<p>13:28 &lt; jrandom&gt; drop your irc connection, or restart the router?</p>
<p>13:28 &lt; jrandom&gt; ah, you're on kaffe?</p>
<p>13:29 &lt;+Ch0Hag&gt; the router</p>
<p>13:29 &lt;+Ch0Hag&gt; I am.</p>
<p>13:29 &lt;+Ch0Hag&gt; Someone has to be :)</p>
<p>13:29 &lt; jrandom&gt; on kaffe i've had to double the defaul mem usage (give 'er a -mx128m on startup)</p>
<p>13:29 &lt;+polecat&gt; GAH!  No wonder!  I had hawk on ignore.</p>
<p>13:29 &lt; jrandom&gt; well, we've got at least 3 people on kaffe these days</p>
<p>13:30 &lt; jrandom&gt; other than that, though, how is 0.4.1.4 going for y'all?</p>
<p>13:30  * polecat is on kaffe... doesn't know of a better JVM at the moment.</p>
<p>13:30 &lt; jrandom&gt; early reports were good, but i havent heard much lately</p>
<p>13:30 &lt;+Ch0Hag&gt; I had 64, shall try 128</p>
<p>13:30 &lt; Ragnarok&gt; seems good</p>
<p>13:30 &lt; keysersoze&gt; jrandom: No major problems here</p>
<p>13:30 &lt;@duck&gt; latest major irc outage was mine</p>
<p>13:30 &lt;+Ch0Hag&gt; And yes, much of it was OOMing</p>
<p>13:31 &lt;@duck&gt; otherwise I think it is a bit unstable (since my bw enabling), but I dont have proof</p>
<p>13:31 &lt; jrandom&gt; the throttling on your machine is a bit of a choke point, as e.g. each message you receive is something like 20+ messages that have to be sent out</p>
<p>13:32 &lt;@duck&gt; ah</p>
<p>13:32 &lt; jrandom&gt; but i agree, irc has been bumpy </p>
<p>13:32 &lt; cervantes&gt; 0.4.1.3 has always been rock solid on my ibm jvm, so I've avoided upgrading at this stage</p>
<p>13:32 &lt; cervantes&gt; (22 days uptime)</p>
<p>13:32 &lt; jrandom&gt; nice cervantes </p>
<p>13:32 &lt; jrandom&gt; duck: [insert comment describing hopes for new streaming lib here]</p>
<p>13:33 &lt; cervantes&gt; baffled's irc server has been a little less bumpy</p>
<p>13:33 &lt; jrandom&gt; word, thats a good metric</p>
<p>13:33 &lt; keysersoze&gt; cervantes:  What version does he run? (Do you know?)</p>
<p>13:33 &lt; ant&gt; &lt;dm&gt; will streaming lib have an effect on IRC, or are the messages too small anyway?</p>
<p>13:33 &lt;@duck&gt; I have been a good duck this week, so I'll up the limit a bit</p>
<p>13:33 &lt; jrandom&gt; lemmie check keysersoze </p>
<p>13:33 &lt; jrandom&gt; :)</p>
<p>13:33 &lt;+polecat&gt; I've got 11 hours uptime.  ;.;</p>
<p>13:34 &lt; jrandom&gt; keysersoze: 0.4.1.4</p>
<p>13:34 &lt; keysersoze&gt; jrandom: ;) But one could ask him here when he's around</p>
<p>13:34 &lt; keysersoze&gt; ok</p>
<p>13:34 &lt; jrandom&gt; dm: the new streaming lib will improve resiliance and address failures, but obviously won't improve irc throughput</p>
<p>13:34 &lt; jrandom&gt; (router versions are published in the netDb, and i know which routers are his)</p>
<p>13:34 &lt; ant&gt; &lt;dm&gt; that's good</p>
<p>13:35 &lt; jrandom&gt; ok, do we have anythingelse for 0.4.1.4?</p>
<p>13:35 &lt; jrandom&gt; if not, swinging briefly over to 2) streaming lib progress</p>
<p>13:36 &lt; keysersoze&gt; no</p>
<p>13:36 &lt; jrandom&gt; as mentioned in the notes, more news when its available :)</p>
<p>13:36 &lt;+polecat&gt; What would we be able to do with the streaming lib that we would not be able to do before it exists?</p>
<p>13:36 &lt; Ragnarok&gt; download large files quickly</p>
<p>13:36 &lt; Ragnarok&gt; and DOS the network :)</p>
<p>13:36 &lt; jrandom&gt; polecat: transfer arbitrarily large files, transfer at &gt; 4KBps</p>
<p>13:37 &lt;+Ch0Hag&gt; and/or reliably?</p>
<p>13:37 &lt; jrandom&gt; Ragnarok: *not* dos'ing the network is what i'm working on now ;)</p>
<p>13:37 &lt;+protokol&gt; i've noticed over time that if i lose a connection on eepIRC, the reconnects always fail, but if i stop it for a few minutes it connects just fine</p>
<p>13:37 &lt;+polecat&gt; It would increase the transfer rate?  o.O</p>
<p>13:37 &lt; jrandom&gt; polecat: yes.  the current streaming lib uses a fixed 1 packet window size - waiting for an ack before sending the next message</p>
<p>13:37  * polecat nods to protokol, seems so.</p>
<p>13:38 &lt; ant&gt; &lt;dm&gt; The streaming lib will allow a new class of TCP-based applications to be usable on I2P. </p>
<p>13:38 &lt; Ragnarok&gt; jrandom: ah, good.  I've been a little concerned about that :)</p>
<p>13:38 &lt; ant&gt; &lt;dm&gt; That's the marketing version.</p>
<p>13:38 &lt; jrandom&gt; let me just say that throughput looks promising with the new lib.</p>
<p>13:39 &lt; jrandom&gt; heh dm</p>
<p>13:39 &lt; keysersoze&gt; jrandom: Like the extension to normal TCP, where the sending machine will keep sending even if it hasn't receivved an ACK yet, up to a certain number?</p>
<p>13:39 &lt;+polecat&gt; jrandom: Ah, I see how that could be compromising...</p>
<p>13:39 &lt; jrandom&gt; right keysersoze, up to a (sliding) window size</p>
<p>13:39 &lt; jrandom&gt; (doing all that congestion control / avoidance stuff) [/arm waving]</p>
<p>13:40 &lt;+polecat&gt; I also see how it might have congestion problems.  If many packets are sent after a connection is dropped.</p>
<p>13:40 &lt; cervantes&gt; will be interesting to see some benchmarks comparisions for i2p BT over the new streaming lib and the old not-so-streaming lib</p>
<p>13:40 &lt; jrandom&gt; aye cervantes </p>
<p>13:41 &lt; jrandom&gt; polecat: thats the biggest danger, preventing a network flood, which is why we're deploying cautiously</p>
<p>13:41 &lt; ant&gt; &lt;dm&gt; I have a bug to report. Someone remind me when we hit 5.</p>
<p>13:41 &lt; cervantes&gt; jrandom: from an application point of view, how transparent will the switch over be?</p>
<p>13:42 &lt; keysersoze&gt; polecat: Do the current plans implement a "slow-start" idea, where the window will be 1 first, and then cautiously increased to 2, and ONLY if that works well, to 3, etc. Up to a certain maximum?</p>
<p>13:42 &lt;+polecat&gt; Does 0.4.1.4 use the streaming lib, or has it not yet been deployed?</p>
<p>13:42 &lt; jrandom&gt; cervantes when 0.4.2 is out, no code changes.  you can even use the streaming lib now if you want, if you specify a magic flag in the environment :)</p>
<p>13:42 &lt; cervantes&gt; polecat: that will be with us on 0.4.2</p>
<p>13:42 &lt; ant&gt; * dm everyone rushes towards jrandom.</p>
<p>13:42 &lt; jrandom&gt; its with you now - see streaming.jar</p>
<p>13:42 &lt; jrandom&gt; but disabled by default</p>
<p>13:42 &lt; ant&gt; &lt;dm&gt; "flag! flag! flag!"</p>
<p>13:43 &lt; keysersoze&gt; jrandom: Ow come on, spoil us and tell which env var ;)</p>
<p>13:43 &lt; jrandom&gt; however, the streaming lib is *NOT BACKWARDS COMPATIBLE*</p>
<p>13:43 &lt; jrandom&gt; aka you can't use IRC with it</p>
<p>13:43 &lt; cervantes&gt; I have an early .1.3 remember ;-)</p>
<p>13:43 &lt; jrandom&gt; unless duck runs a seperate newStreamingLib destination</p>
<p>13:43 &lt;+polecat&gt; Yeah... probably best to switch in sync then, not individually.</p>
<p>13:43 &lt; jrandom&gt; yup</p>
<p>13:43 &lt;+Ch0Hag&gt; I think this flag is one of those "if you can't find it, you don't need it" ones.</p>
<p>13:43 &lt; ant&gt; &lt;dm&gt; duck: for the love of god, do as you're told!!!</p>
<p>13:43 &lt;+Ch0Hag&gt; Like most of GCCs...</p>
<p>13:43 &lt; jrandom&gt; right Ch0Hag :)</p>
<p>13:44 &lt; jrandom&gt; dm: still some other things to be tested</p>
<p>13:44 &lt; jrandom&gt; e.g. this morning mule was helping out test with FUQID</p>
<p>13:44 &lt; keysersoze&gt; jrandom: Does that influence any of the hosts.txt keys for existing I2P destinations?</p>
<p>13:44 &lt; mule&gt; missed the meeting. end of daylight savings :(.</p>
<p>13:44 &lt; jrandom&gt; (and FUQID does eeevil things :)</p>
<p>13:45 &lt; jrandom&gt; heya mule, me too :)  you're just in time</p>
<p>13:45 &lt; ant&gt; &lt;dm&gt; mule: you haven't missed section 5) ?????</p>
<p>13:45 &lt;+Ch0Hag&gt; Oh speaking of fuqid, is there news on stasher?</p>
<p>13:45 &lt; ant&gt; &lt;dm&gt; for all you know, ???? might be: GOTO 1</p>
<p>13:45 &lt; jrandom&gt; keysersoze: no, the streaming lib isn't involved in that part of things</p>
<p>13:45 &lt;+Ch0Hag&gt; Or is  that a big enough topic to wait until 5?</p>
<p>13:45 &lt; jrandom&gt; Ch0Hag: no one has heard anything from aum since september, and no one else is doing anything on stasher.</p>
<p>13:46 &lt; jrandom&gt; (but there is other DHT stuff to discuss in 5)??? i hear)</p>
<p>13:46 &lt;+Ch0Hag&gt; Oh.</p>
<p>13:46 &lt;+Ch0Hag&gt; Bummer.</p>
<p>13:46 &lt;+Ch0Hag&gt; The freenet devs didn't have their competition ... removed did they?</p>
<p>13:46 &lt;+Ch0Hag&gt; :)</p>
<p>13:46 &lt; jrandom&gt; heh</p>
<p>13:47 &lt;+polecat&gt; The first application of assassination politics.   x3</p>
<p>13:47 &lt;+Ch0Hag&gt; Anyway I have nothing else, so I shan't butt in again until 5</p>
<p>13:47 &lt; jrandom&gt; ok, there's lots going on in the streaming lib, but discussion will have to wait for later</p>
<p>13:47 &lt; jrandom&gt; unless there's somethingelse, we can move to 3) BT progress</p>
<p>13:47 &lt; cervantes&gt; &lt;/evasion&gt;</p>
<p>13:48 &lt; ant&gt; &lt;dm&gt; Doesn't everyone wish jrandom adopted the toad deployment process?</p>
<p>13:48 &lt; ant&gt; &lt;dm&gt; Build 3435: streaming lib attempt</p>
<p>13:48 &lt; jrandom&gt; duck: ping?</p>
<p>13:48 &lt; ant&gt; &lt;dm&gt; Build 3436: streaming lib attempt 2</p>
<p>13:48 &lt;@duck&gt; pong</p>
<p>13:48 &lt; ant&gt; &lt;dm&gt; Build 3436: streaming lib attempt 3</p>
<p>13:48 &lt; jrandom&gt; be nice</p>
<p>13:48  * duck takes the mike</p>
<p>13:48 &lt; Ragnarok&gt; no, no we don't</p>
<p>13:48 &lt;@duck&gt; dinoman, Ragnarok and me have been working on the BT client.</p>
<p>13:48 &lt;@duck&gt; - BT protocol analysed and changes specified on http://duck.i2p/i2p-bt/txt/i2p-bt_protocol.txt</p>
<p>13:48 &lt;@duck&gt; - dino modified phpbt, info at http://duck.i2p/i2p-bt/txt/tracker.txt</p>
<p>13:48 &lt;@duck&gt; dino got the client to talk with the tracker, R and me have improved it a bit.</p>
<p>13:48 &lt;@duck&gt; the whole tracker &lt;-&gt; client stuff worked</p>
<p>13:48 &lt;@duck&gt; but we got stuck at the python sam library...</p>
<p>13:49 &lt;@duck&gt; Connelly has been helping, but also busy</p>
<p>13:49 &lt;@duck&gt; and aum is missing</p>
<p>13:49 &lt;+polecat&gt; I'm still stunned BT can work at all on i2p...</p>
<p>13:49 &lt;@duck&gt; so I threw out pysam, reimplemented BT's RawServer.py and now it kinda works.</p>
<p>13:49 &lt; jrandom&gt; (w00t!)</p>
<p>13:49 &lt;@duck&gt; hot news: channel #i2p-bt (especially topic with latest release info)</p>
<p>13:49 &lt;@duck&gt; now I am working at adding a lot of logging support, to catch some little flaws</p>
<p>13:50 &lt; Ragnarok&gt; it's much nicer than the original RawServer.py</p>
<p>13:50 &lt; peer&gt; duck: so is it ready for beta testing?</p>
<p>13:50 &lt;@duck&gt; (for example during the EndGame it has to timeout and retry to get the last bits)</p>
<p>13:50 &lt;@duck&gt; peer: yup</p>
<p>13:50 &lt;@duck&gt; a little point of discussion:</p>
<p>13:51 &lt;@duck&gt; so far it is python 2.2 (and up) compatible</p>
<p>13:51 &lt;@duck&gt; (seems to be the same for bittorrent itself)</p>
<p>13:51 &lt;@duck&gt; the logging stuff needs 2.3 though...</p>
<p>13:51 &lt; cervantes&gt; yus indeed</p>
<p>13:51 &lt;@duck&gt; how bad do you think that is?</p>
<p>13:51 &lt; jrandom&gt; my freebsd and linux boxen have 2.3</p>
<p>13:51 &lt; ant&gt; &lt;dm&gt; bad?</p>
<p>13:52 &lt; jrandom&gt; (though they were installed within the last year)</p>
<p>13:52 &lt; Ragnarok&gt; are there any major distros still shipping 2.2?</p>
<p>13:52 &lt;@duck&gt; debian-stable still seems to ship 2.2, last time I checked</p>
<p>13:52 &lt; jrandom&gt; ah, i'm on debian unstable</p>
<p>13:52 &lt;@duck&gt; but then again that is hardly a surprise</p>
<p>13:52 &lt;+Ch0Hag&gt; Debian ships 2.3, 2.2, 2.1 and possibly 2.0</p>
<p>13:52 &lt;+Ch0Hag&gt; Together.</p>
<p>13:52 &lt; Ragnarok&gt; except Debian stable, I think...</p>
<p>13:53 &lt;+Ch0Hag&gt; That's what I'm unsure about.</p>
<p>13:53 &lt; jrandom&gt; it'd be nice to have 2.2 support - are there no good logging libs for it?</p>
<p>13:53 &lt; Ragnarok&gt; silly debian</p>
<p>13:53 &lt;@duck&gt; jrandom: you could bundle the 2.3 lib</p>
<p>13:54 &lt; Ragnarok&gt; can logging simply be made optional?</p>
<p>13:54 &lt;@duck&gt; I guess</p>
<p>13:55 &lt; jrandom&gt; well, its really a coder-productivity-tool, so whatever works best for the people coding</p>
<p>13:55 &lt; ant&gt; &lt;dm&gt; we can worry about this when I2P + BT becomes popular.</p>
<p>13:55 &lt; keysersoze&gt; For whom is this logging necessary? Not for the end-user, I guess, so when deploying, it shouldn't matter that logging isn't possible on some platforms, no?</p>
<p>13:55 &lt; ant&gt; &lt;dm&gt; by then maybe 2.3 is standard</p>
<p>13:55 &lt; jrandom&gt; 2.2 support would be nice, but i dont think it'd be that bad if 2.3 were required</p>
<p>13:55 &lt; cervantes&gt; duck: so the tracker's peer announce list can be made to spew out i2p destinations instead of machine ips?</p>
<p>13:56 &lt;@duck&gt; ok, we'll try to abstract the logging lib, with 2.2 use stdout</p>
<p>13:56 &lt;@duck&gt; cervantes: http://duck.i2p/i2p-bt/diffs/phpbt-i2p.diff</p>
<p>13:56 &lt; jrandom&gt; keysersoze: you want logging deployed on the clients machines so that if/when bugs arise, the dev can get detailed logs</p>
<p>13:56 &lt; jrandom&gt; word duck</p>
<p>13:56 &lt; cervantes&gt; ta</p>
<p>13:56 &lt;+Ch0Hag&gt; heh if anyone's still interested, Woody has python 1.5, 2.0 and 2.1</p>
<p>13:56 &lt;+Ch0Hag&gt; :)</p>
<p>13:57 &lt;@duck&gt; heh</p>
<p>13:57 &lt;@duck&gt; ok, in that case I say require 2.3</p>
<p>13:57 &lt;@duck&gt; and fuck woody</p>
<p>13:57 &lt; cervantes&gt; think mine is tuck on 1.5 and 2.2</p>
<p>13:57 &lt; jrandom&gt; yeah, no need to deal with 2.1</p>
<p>13:57 &lt; cervantes&gt; (upgrade time)</p>
<p>13:57 &lt; jrandom&gt; heh</p>
<p>13:57 &lt;+Ch0Hag&gt; That's the opinion of most Debian users, too</p>
<p>13:58 &lt; Ragnarok&gt; addressbook.py requires 2.3</p>
<p>13:58 &lt;@duck&gt; there are some interesting sub projects:</p>
<p>13:58 &lt; jrandom&gt; ah ok cool Ragnarok </p>
<p>13:58 &lt;@duck&gt; researching the optimal settings for i2p</p>
<p>13:58 &lt;+polecat&gt; That little thing requires 2.3?</p>
<p>13:58 &lt; keysersoze&gt; jrandom: I agree, but on a small net like now (~100 peers), it's not a problem to have some beta-testers upgrade to 2.2 or 2.3. And once the most blatant bugs are stamped out, the new "real" endd-users shouldn't really need logging. So what I'm saying is: The logging is no problem at this stage, so we agree ;)</p>
<p>13:58 &lt; cervantes&gt; when I was pulling apart BT a year or so back, this machine was pushing 6mb/sec through the tracker at times...</p>
<p>13:58 &lt;+polecat&gt; Weird... 2.2 must be practically crippled then.</p>
<p>13:58 &lt; Ragnarok&gt; 2.3 has better urllib proxy support</p>
<p>13:58 &lt;@duck&gt; porting the standard bt tracker too</p>
<p>13:58 &lt; cervantes&gt; I mean the seed</p>
<p>13:59 &lt; Ragnarok&gt; it could work on 2.2, but it'd be too much effort :)</p>
<p>13:59 &lt;+polecat&gt; Ah that would be important, right.</p>
<p>13:59 &lt; jrandom&gt; duck: researching the optimal settings will be tough until 0.4.2 comes out</p>
<p>13:59 &lt;@duck&gt; right</p>
<p>14:00 &lt; jrandom&gt; porting the tracker would be great though. do you have the tools for creating the .torrent implemented, or did you do that manually?</p>
<p>14:00 &lt;@duck&gt; whut?</p>
<p>14:00 &lt; cervantes&gt; the client has tons of nice tweaks for peer takeup rates, timeouts, min/max peers etc</p>
<p>14:01 &lt; cervantes&gt; jrandom: that shouldn't need any modification I think</p>
<p>14:01 &lt; jrandom&gt; duck: the .torrent references the i2p destination of the tracker, right?</p>
<p>14:01 &lt;@duck&gt; right now we ship: btdownloadheadless.py + btmakemetafile.py + btshowmetainfo.py</p>
<p>14:01 &lt; jrandom&gt; or does it reference the name?</p>
<p>14:01 &lt; cervantes&gt; it's just a url and a bunch of sha1 hashes</p>
<p>14:01 &lt;@duck&gt; though btmakemetafile.py and btshowmetainfo.py are not modified</p>
<p>14:01 &lt; jrandom&gt; "a url" is the tough part :)</p>
<p>14:02 &lt;@duck&gt; so you can use other tools</p>
<p>14:02 &lt;@duck&gt; its http://duck.i2p/phpbt/announce.php now</p>
<p>14:02 &lt; jrandom&gt; ok, cool</p>
<p>14:02 &lt;@duck&gt; guess you can use http://i2p/bigbase64/announce.php</p>
<p>14:02 &lt;+protokol&gt; are their plans for other clients to support eepTorrent? i like azureus</p>
<p>14:02 &lt;@duck&gt; plenty</p>
<p>14:02 &lt; cervantes&gt; jrandom: the early version I looked at did no url validation on the announce string</p>
<p>14:03 &lt; ant&gt; &lt;dm&gt; what does eep stand for again?</p>
<p>14:03 &lt; cervantes&gt; you could put anything in there</p>
<p>14:03 &lt; jrandom&gt; hmm, worth checking to see if that works duck ( in case phpbt does stupid url rewriting, etc)</p>
<p>14:03 &lt; cervantes&gt; dm: look in the forum glossary</p>
<p>14:03 &lt;@duck&gt; maybe its time for an i2p-bt forum?</p>
<p>14:03 &lt; keysersoze&gt; duck: Especially once new users, that don't have a "registration" in hosts.txt, want to host trackers, it _must_ be possible to have a base64 iin theer</p>
<p>14:03 &lt;+Ch0Hag&gt; Eye Eye Pee?</p>
<p>14:03 &lt; jrandom&gt; that'd be cool duck</p>
<p>14:03 &lt;@duck&gt; (forum section on forum.i2p)</p>
<p>14:04 &lt; ant&gt; &lt;dm&gt; cervantes: that was helpful!</p>
<p>14:04 &lt; cervantes&gt; duck: yeah no probs</p>
<p>14:04 &lt;@duck&gt; keysersoze: it will be investigated</p>
<p>14:04 &lt; jrandom&gt; still, as is its pretty bloody cool</p>
<p>14:05 &lt; jrandom&gt; the 4KBps per peer isn't really that much of a problem either</p>
<p>14:05 &lt; ant&gt; &lt;dm&gt; what time is it? "There's a clock just two blocks down the road"</p>
<p>14:05 &lt; cervantes&gt; moving forward oerhaps we should set up a seperate forum space so people can publish files alla suprnova</p>
<p>14:05 &lt;@duck&gt; eeprnova</p>
<p>14:05 &lt; jrandom&gt; cervantes: with reviews, etc :)</p>
<p>14:05 &lt; keysersoze&gt; jrandom: Will the transition to streaminglib require large changes to the current python I2P-BT code?</p>
<p>14:05 &lt;+polecat&gt; I sure never get more than 4KBps even on IPv4 bittorrent streams...</p>
<p>14:05 &lt; peer&gt; would be good if there were a command line argument for setting the i2p server address, so you can run it from other machines on a network</p>
<p>14:05 &lt; jrandom&gt; (but i think that'd be best left outside of the forum.i2p, perhaps)</p>
<p>14:06 &lt; jrandom&gt; keysersoze: 0 changes</p>
<p>14:06 &lt;@duck&gt; mind you that i2p-bt trackers will scale a lot worse</p>
<p>14:06 &lt;@duck&gt; since they have to send bloaty big keys</p>
<p>14:06 &lt; Ragnarok&gt; polecat: you must be natted</p>
<p>14:06 &lt; keysersoze&gt; polecat: ((OT) try the firefox torrent of today ;))</p>
<p>14:06 &lt; cervantes&gt; jrandom: yup.</p>
<p>14:06 &lt;@duck&gt; where the normal trackers are recently modified to only send 6 bytes / peer</p>
<p>14:06 &lt; jrandom&gt; peer: i2p server address?</p>
<p>14:07 &lt; jrandom&gt; peer: i use the i2p-bt with my SAM bridge locally accessing a remote router</p>
<p>14:07 &lt; jrandom&gt; oh, but it'd be nice if there were flags to set the SAM bridge location & eep proxy location in the CLI, yeah</p>
<p>14:07 &lt; peer&gt; jrandom: yep</p>
<p>14:07 &lt; keysersoze&gt; duck: Can we compress the host-key? (Just asking...)</p>
<p>14:08 &lt; peer&gt; with one cli arg</p>
<p>14:08 &lt; jrandom&gt; (rather than remodifying the code after every release :)</p>
<p>14:08 &lt;@duck&gt; keysersoze: using binary instead of base64 will shrink it a bit</p>
<p>14:08 &lt;@duck&gt; like 15% </p>
<p>14:08 &lt;@duck&gt; no worth it</p>
<p>14:08 &lt; keysersoze&gt; duck: I agree.</p>
<p>14:09 &lt; ant&gt; &lt;dm&gt; cervantes: where is this forum glossary? I don't see anything at http://forum.i2p.net/</p>
<p>14:09 &lt; Ragnarok&gt; could hostnames be used?</p>
<p>14:09 &lt; jrandom&gt; Ragnarok: hostnames are not globally unique</p>
<p>14:09 &lt;@duck&gt; Ragnarok: dont want to go there</p>
<p>14:09 &lt; cervantes&gt; dm: only shows up for reg'd users</p>
<p>14:10 &lt; ant&gt; &lt;dm&gt; cervantes: oh excellent! I'll look for eep on google then!</p>
<p>14:10 &lt; Ragnarok&gt; fair enough</p>
<p>14:11 &lt; cervantes&gt; dm: it's a phoneme for IIP</p>
<p>14:11 &lt; cervantes&gt; is the word on the street</p>
<p>14:11 &lt; jrandom&gt; ok, y'all are doing tremendous work on the bt side of things, and i look forward to hearing (and using) more :)</p>
<p>14:11 &lt; ant&gt; &lt;dm&gt; cervantes: not an acronym?</p>
<p>14:12  * cervantes has 1/2 of a terabyte of movies and tv shows to share</p>
<p>14:12 &lt; jrandom&gt; do we have anything else wrt i2p-bt to discuss?</p>
<p>14:12 &lt; cervantes&gt; dm: not that I've heard</p>
<p>14:12 &lt;@duck&gt; (dont forget #i2p-bt)</p>
<p>14:12 &lt; jrandom&gt; yeah, #i2p-bt, finally an incentive for people to move from freenode :)</p>
<p>14:12 &lt; ant&gt; &lt;dm&gt; alrighty. Thank you sir.</p>
<p>14:13 &lt;+Ch0Hag&gt; As if this Great network wasn't incentive enough already...</p>
<p>14:13 &lt; jrandom&gt; ok if not, shall we move on to 4) addressbook.py</p>
<p>14:13 &lt; jrandom&gt; Ragnarok: wanna give us the run down?</p>
<p>14:13 &lt; Ragnarok&gt; whee</p>
<p>14:14 &lt; Ragnarok&gt; hm, ok.  addressbook.py is a first stab at a subscribable address book system.</p>
<p>14:14 &lt; Ragnarok&gt; It's pretty ugly at the moment, but it works</p>
<p>14:14 &lt; Ragnarok&gt; you can get it at ragnarok.i2p</p>
<p>14:14 &lt; peer&gt; can i just make a suggestion re: naming? i think the best method would be for the links between eepsites to use base64, but let people create their own bookmark names for sites, rather than having any centralised naming system</p>
<p>14:14 &lt; Ragnarok&gt; um...</p>
<p>14:14 &lt; Ragnarok&gt; any questions?</p>
<p>14:15 &lt;+postman&gt; Ragnarok: define ugly :)</p>
<p>14:15 &lt; jrandom&gt; Ragnarok: kickass</p>
<p>14:15 &lt; ant&gt; &lt;dm&gt; jrandom: not a question</p>
<p>14:15 &lt;+polecat&gt; What were we talking about again?  @.@</p>
<p>14:15 &lt; peer&gt; sort of like the bookmarks on the front page of the freenet web interface, but instead with urls</p>
<p>14:15 &lt; cervantes&gt; Ragnarok: is it all command line, or is there a gui?</p>
<p>14:15 &lt; Ragnarok&gt; read it, it's ugly :)</p>
<p>14:15 &lt; jrandom&gt; peer: agreed, though we need author tools</p>
<p>14:15 &lt; cervantes&gt; there weren't any screenies so I lost interest and went away ;-)</p>
<p>14:15 &lt; jrandom&gt; peer: though the ?i2paddresshelper helps</p>
<p>14:15 &lt;+postman&gt; Ragnarok: ok, thanks - i will check it out</p>
<p>14:16 &lt;+polecat&gt; Bah, GUIs are for soccer moms!</p>
<p>14:16 &lt; Ragnarok&gt; it's all command line.  It's designed to be run as a daemon.  It doesn't run as a daemon on windows yet, but that's my next project.</p>
<p>14:16 &lt; Ragnarok&gt; aside from the cli tool, all interactions are through config files.</p>
<p>14:17 &lt; jrandom&gt; perhaps the next step in the namign field is a web interface for managing the entries and subscriptions?</p>
<p>14:17 &lt; cervantes&gt; are you basically syndicating your hosts file then?</p>
<p>14:17 &lt; Ragnarok&gt; yes</p>
<p>14:17 &lt; cervantes&gt; right...cool</p>
<p>14:17 &lt; Ragnarok&gt; web interface would be great.  I'm not writing it, though :)</p>
<p>14:17 &lt; jrandom&gt; with merges and conflict management</p>
<p>14:18 &lt;+polecat&gt; What is the conflict management, besides yelping about it in the log?</p>
<p>14:18 &lt; jrandom&gt; yeah, the engine itself is Good Stuff, maybe we can get someone else to jump on the web side of it :)</p>
<p>14:19 &lt; Ragnarok&gt; none.  If you want to resolve a conflict, you do it by hand :).  Though, it is a bit easier now.</p>
<p>14:19 &lt; jrandom&gt; polecat: yelp & never overwrite an existing entry afaik</p>
<p>14:19 &lt; jrandom&gt; (er, what he said)</p>
<p>14:19 &lt; cervantes&gt; it would be nice as a sidebar plugin for firefox...</p>
<p>14:19 &lt;+polecat&gt; Yes, that's what I had thought.</p>
<p>14:19 &lt; cervantes&gt; that's something I could work into my i2p toolbar</p>
<p>14:20 &lt; Ragnarok&gt; user changes are never overwritten, so it's reasonably secure against attack</p>
<p>14:20 &lt; jrandom&gt; and you should only subscribe to relatively trustworthy peers</p>
<p>14:20 &lt; Ragnarok&gt; indeed</p>
<p>14:20 &lt; cervantes&gt; maybe a feature to lock entries?</p>
<p>14:20 &lt; cervantes&gt; (ie move them to userhosts)</p>
<p>14:21 &lt; Ragnarok&gt; entries are are never modified</p>
<p>14:21 &lt;+polecat&gt; I like the concept of a myhosts.txt file for entries you want to endorse yourself.</p>
<p>14:21 &lt; cervantes&gt; Ragnarok: ah sorry, so you said</p>
<p>14:22 &lt; Ragnarok&gt; myhosts.txt is a dirty hack to get around a race condition, but for some reason everyone likes it as an interface thing :)</p>
<p>14:22 &lt; jrandom&gt; if people are interested, there are ways to get the i2ptunnel / sam / etc to read from more than just hosts.txt and userhosts.txt</p>
<p>14:22 &lt; jrandom&gt; (but only if there's a good solid reason to do so)</p>
<p>14:22 &lt; cervantes&gt; Ragnarok: you were meant to pretend that was intentional ;-)</p>
<p>14:23  * duck suggest abstracting away from hosts.txt / userhosts.txt</p>
<p>14:23 &lt;+polecat&gt; My perl version of addressbook.pl supports the myhosts.txt thing.</p>
<p>14:23 &lt; Ragnarok&gt; yeah, that will be part of the big rewrite :)</p>
<p>14:23  * polecat notes to duck, you'd have to modify i2ptunnel and sam to do that.</p>
<p>14:23 &lt; Ragnarok&gt; first, I want to get feature parity on windows, though.</p>
<p>14:24 &lt; jrandom&gt; right duck, as it would have been nice for 0.4.2 if we could flag different destinations as "oldLib" and "newLib" (etc)</p>
<p>14:24 &lt;@duck&gt; polecat: you could write the final result to something called 'hosts.txt'</p>
<p>14:24 &lt; cervantes&gt; ideally you want a hierachical mini-database of local addresses you can catagorise </p>
<p>14:24 &lt;@duck&gt; but use some other structure towards the user</p>
<p>14:24 &lt;+polecat&gt; The final result goes to userhosts.txt</p>
<p>14:24 &lt;+polecat&gt; And also a file called "hosts.txt" on the eepsite that is not the system hosts.txt.</p>
<p>14:24 &lt;@duck&gt; which is confusing :)</p>
<p>14:25 &lt; Ragnarok&gt; I like to be as confusing as possible :)</p>
<p>14:25 &lt; MrEcho&gt; hope to have the dns done by the end of the month</p>
<p>14:25 &lt;@duck&gt; ok, then let the name depend on the checksum of the content</p>
<p>14:25 &lt; cervantes&gt; addressbook.txt? :)</p>
<p>14:25 &lt; Ragnarok&gt; the published address book is just called hosts.txt, because that's what it is on dev.i2p</p>
<p>14:25 &lt;+polecat&gt; It's possible to call Ragnarok's hosts.txt file something else.  People just have to subscribe to that other filename.</p>
<p>14:26 &lt; Ragnarok&gt; true, it's a configuration option</p>
<p>14:26 &lt;+polecat&gt; i.e. like going http://polecat.i2p/addressbook instead of http://polecat.i2p/hosts.txt</p>
<p>14:26 &lt; MrEcho&gt; fyi, my dns doesnt touch the hosts file .. just like a real dns</p>
<p>14:27 &lt;+polecat&gt; Oh yeah, there's that too.  &gt;.&lt;</p>
<p>14:27 &lt;@duck&gt; my dns causes world peace</p>
<p>14:27 &lt; jrandom&gt; MrEcho: it might be worthwhile to explore interoperability</p>
<p>14:27 &lt;+polecat&gt; There's /etc/hosts, jrandom's hosts.txt that i2ptunnel and sam use, and now the hosts.txt published by Ragnarok.</p>
<p>14:28 &lt; Ragnarok&gt; I don't think anything that doesn't resolve names locally will ever perform acceptably over i2p, but you're welcome to prove me wrong :) </p>
<p>14:28 &lt; mule&gt; hostile environment :)</p>
<p>14:28 &lt; MrEcho&gt; i could make it update the hosts text, but i was hoping to add something in other code</p>
<p>14:28 &lt; jrandom&gt; there is some code in cvs (under apps/myi2p) for loading/storing address book entries with the data posted to that feb email, if anyone is interested ;)</p>
<p>14:29 &lt;+polecat&gt; ?</p>
<p>14:29 &lt; MrEcho&gt; already took a look jr</p>
<p>14:30 &lt; jrandom&gt; polecat: http://forum.i2p.net/viewtopic.php?t=141#419</p>
<p>14:30 &lt;+polecat&gt; You mean under apps/myi2p/java/src/net/i2p/myi2p</p>
<p>14:30 &lt; jrandom&gt; well, yeah, if you want to get specific ;)</p>
<p>14:30 &lt;+polecat&gt; More like hideously redundant.  ;3</p>
<p>14:31 &lt; jrandom&gt; cool MrEcho, though i'm suggesting that sort of file format for other naming systems too, if people are going to consider replacing hosts.txt</p>
<p>14:31 &lt; jrandom&gt; polecat: with good reason (and imho there's no redundancy in that pathname ;)</p>
<p>14:31 &lt; Ragnarok&gt; cool.  I'll have a look</p>
<p>14:32 &lt; ant&gt; &lt;dm&gt; at least it doesn't say internet three times in there anymore</p>
<p>14:33 &lt; jrandom&gt; it'd have to be implemented as a net.i2p.client.naming.NamingService as well - something to load from that local db, but that shouldn't be too hard</p>
<p>14:33 &lt;+polecat&gt; Eek!  No, no noo MX records... no CNAME... </p>
<p>14:33 &lt; jrandom&gt; having multiple destinations per name is a good idea though</p>
<p>14:33 &lt; ant&gt; &lt;janonymous2&gt; Im partial to an address book/ dns hybrid</p>
<p>14:34 &lt; jrandom&gt; an address book is a domain name system :)</p>
<p>14:34 &lt;+polecat&gt; jrandom: How many times did you have to call it myi2p?  And how necessary is it to call it i2p if it's already called myi2p?  And is there any question whether or not that mess is a thing of java?</p>
<p>14:34 &lt; jrandom&gt; polecat: not all myi2p code will be in java.</p>
<p>14:34 &lt;@duck&gt; go back to your cave you perl troll :)</p>
<p>14:34 &lt;+polecat&gt; I agree that it's all necessary, not blaming you jrandom, but blaming java and ant.</p>
<p>14:35 &lt; jrandom&gt; polecat: and i2p's codebase is unique under the net.i2p namespace, as we don't control the net.myi2p namespace :)</p>
<p>14:35  * polecat grunts and crouches under the bridge.</p>
<p>14:35 &lt; ant&gt; &lt;dm&gt; polecat: it's called OCD</p>
<p>14:35 &lt; jrandom&gt; heh</p>
<p>14:35 &lt; jrandom&gt; its called software engineering ;)</p>
<p>14:36 &lt;+polecat&gt; Yes, but why put everything in a directory structure parroting the namespace?</p>
<p>14:36 &lt;+polecat&gt; Just specify like... in the file "This file is namespace net.i2p"</p>
<p>14:36 &lt; jrandom&gt; but anyway, anything else on Ragnarok's kickass naming system?  :)</p>
<p>14:36 &lt;@duck&gt; it kicks ass</p>
<p>14:36 &lt; Ragnarok&gt; thank you :)</p>
<p>14:36 &lt;+polecat&gt; Asseth Kickius.</p>
<p>14:36 &lt; jrandom&gt; polecat: there are 1340 java files in i2p</p>
<p>14:37 &lt;@duck&gt; I was _shocked_ when I wanted to visit an eepsite and the host was already propagated</p>
<p>14:37 &lt; Ragnarok&gt; hehe</p>
<p>14:37 &lt; jrandom&gt; :)</p>
<p>14:37 &lt;+polecat&gt; Well, not saying it needs to be squashed all in one place.  1340 files seems an awful lot though, isn't there any redundant code in there?  o.O</p>
<p>14:38 &lt; Ragnarok&gt; does anyone know a command to kill a windows process by pid?</p>
<p>14:38 &lt;@duck&gt; like TCP stack reimplementations? :)</p>
<p>14:38 &lt;+polecat&gt; Not to mention fully functional web servers.  c.c</p>
<p>14:38 &lt; jrandom&gt; heh</p>
<p>14:38 &lt; jrandom&gt; oh, lemmie skip the jetty code..</p>
<p>14:39 &lt; keysersoze&gt; (91 peers on the net now!)</p>
<p>14:39 &lt; ant&gt; &lt;dm&gt; ragnarok: kill</p>
<p>14:39 &lt; jrandom&gt; ok, 389 in router/ and core/ </p>
<p>14:39 &lt; Ragnarok&gt; what versions does that exist on?</p>
<p>14:39 &lt;+polecat&gt; That's still a lot for a lousy router... but considering the all and everything not too bad.</p>
<p>14:39 &lt; ant&gt; &lt;dm&gt; not sure... Running XP here.</p>
<p>14:39 &lt; cervantes&gt; Ragnarook: only if you have the support cd files installed</p>
<p>14:40 &lt; Ragnarok&gt; ah</p>
<p>14:40  * duck refocuses</p>
<p>14:40 &lt; cervantes&gt; Ragnarok: otherwise download sysinternals pskill</p>
<p>14:40 &lt; jrandom&gt; ok, anything else for 4) addressbook.py, or shall we move on to 5) ???</p>
<p>14:41 &lt; cervantes&gt; Ragnarok: http://www.sysinternals.com/ntw2k/freeware/pstools.shtml</p>
<p>14:41 &lt; jrandom&gt; ok, 5) it is</p>
<p>14:41 &lt; Ragnarok&gt; neat, thanks :)</p>
<p>14:41 &lt; jrandom&gt; polecat: iirc you wanted to bring up bamboo-dht?</p>
<p>14:41 &lt; MrEcho&gt; ? meeting right now</p>
<p>14:41 &lt;+polecat&gt; :chants: DHT DHT USA USA~/o</p>
<p>14:42 &lt;+polecat&gt; Yes indeed.  I'm just looking something up...</p>
<p>14:42 &lt; jrandom&gt; yes MrEcho </p>
<p>14:43 &lt;+Ch0Hag&gt; 5?</p>
<p>14:43 &lt; jrandom&gt; 5) ???</p>
<p>14:43 &lt; MrEcho&gt; heh</p>
<p>14:43 &lt;+Ch0Hag&gt; ooh yes, I've found an irrelevant semantic bug</p>
<p>14:43 &lt; jrandom&gt; sup Ch0Hag?</p>
<p>14:43 &lt;+polecat&gt; There are 79 java files in bamboo source.  There are 253 files total.</p>
<p>14:44 &lt;+polecat&gt; The entire project takes 4.6 megabytes in source and support files, before building.</p>
<p>14:44 &lt; jrandom&gt; yikes</p>
<p>14:44 &lt;+Ch0Hag&gt; in /netdb.jsp, 'our' information is given port first, whereas other peers are given host first</p>
<p>14:44 &lt;+Ch0Hag&gt; On the Addresses line</p>
<p>14:44 &lt; jrandom&gt; have  you played around with it polecat?</p>
<p>14:44 &lt; jrandom&gt; Ch0Hag: the ordering is arbitrary</p>
<p>14:45 &lt;+Ch0Hag&gt; And 0.4.1.4 has been up for an hour with 128MB under Kaffe</p>
<p>14:45 &lt;+polecat&gt; I haven't had much of a chance.  I played around with circle, and got a nifty graphical representation of a PGP public key, but not bamboo yet.</p>
<p>14:45 &lt; ant&gt; &lt;dm&gt; ah yes, ch0hag's insignificant bug report reminded me!</p>
<p>14:45 &lt; ant&gt; &lt;dm&gt; on the config page it says "you should either use a service like dyndns or leave the hostname blank. If you leave it blank, your router will autodetect the 'correct' IP address by asking a peer"</p>
<p>14:45 &lt;+Ch0Hag&gt; It seems to be host/port on all of them</p>
<p>14:45 &lt; MrEcho&gt; Uptime: 54h Memory: 23,506KB</p>
<p>14:45 &lt;+Ch0Hag&gt; But hey</p>
<p>14:45 &lt;+Ch0Hag&gt; It's not like it really matters.</p>
<p>14:46 &lt; ant&gt; &lt;dm&gt; which is great for me, since I have a dynamic IP address and have been waiting for this feature for some time, but when I blank and hit save, it automatically fills the box again with an (incorrect) IP</p>
<p>14:46 &lt; cervantes&gt; polecat: do you have a url?</p>
<p>14:46 &lt; ant&gt; &lt;dm&gt; Cheers!</p>
<p>14:47 &lt; jrandom&gt; hmm dm, it doesnt honor you setting it to empty?  </p>
<p>14:47 &lt; jrandom&gt; thats definitely a substantial bug</p>
<p>14:47 &lt;+polecat&gt; Yes, moment please.</p>
<p>14:47 &lt; Ragnarok&gt; it would be nice if it only recommended filling in the box if you have a real, static hostname.  Or if the box wasn't there...</p>
<p>14:47 &lt; jrandom&gt; Ch0Hag: kaffe typically keeps a steady size</p>
<p>14:47 &lt;+polecat&gt; http://bamboo-dht.org/</p>
<p>14:48 &lt; jrandom&gt; Ragnarok: i'm considering removing that box altogether, leaving it for the hackers to add on /configadvanced.jsp</p>
<p>14:48 &lt; ant&gt; &lt;dm&gt; I only care because the instruction paragraph makes me feel like na idiot when I can't get it to blank ;)</p>
<p>14:48 &lt; cervantes&gt; polecat: ta</p>
<p>14:48 &lt;+Ch0Hag&gt; dm: It's clearly an intelligence test.</p>
<p>14:48 &lt;+Ch0Hag&gt; If you can make it stay blank, you pass.</p>
<p>14:48 &lt;+polecat&gt; I also notice bamboo seems to compile with jikes and the kaffe jar in approximately 30 seconds.</p>
<p>14:48 &lt;+polecat&gt; Uses some weird variables though, JAVAC and JAVAHOME instead of JAVA_HOME</p>
<p>14:49 &lt; Ragnarok&gt; jr: I think that's a great idea.  At this point, it's a bit like a newbie trap.</p>
<p>14:50 &lt; cervantes&gt; dm: do you click the save button, or hit enter?</p>
<p>14:50 &lt; ant&gt; &lt;dm&gt; click save</p>
<p>14:50 &lt; ant&gt; &lt;dm&gt;     * Updated bandwidth limits</p>
<p>14:50 &lt; ant&gt; &lt;dm&gt;     * Configuration saved successfully</p>
<p>14:50 &lt;@duck&gt; polecat: do you plan to take a closer look at it?</p>
<p>14:51 &lt;+polecat&gt; I do indeed.  bamboo seems like the best candidate for porting over i2p, and the most "together" DHT project I see out there.</p>
<p>14:52 &lt;+polecat&gt; The important thing is whether it "works" or not of course.</p>
<p>14:52 &lt; jrandom&gt; bah, who needs functionality, its all about buzzword compatability!</p>
<p>14:53 &lt; jrandom&gt; please keep us updated on how it goes</p>
<p>14:53 &lt; jrandom&gt; (as i agree, the project does look promising)</p>
<p>14:53 &lt;@duck&gt; probably most important is what it offers for transport level modifications</p>
<p>14:54 &lt; ant&gt; &lt;janonymous2&gt; Whats the shtick on bamboo?</p>
<p>14:54 &lt; jrandom&gt; aye, whether it requires NIO channels or uses plain sockets</p>
<p>14:54 &lt; cervantes&gt; heh... bamboo news: "5 Aug Bamboo Now 100% Pure Java...uses Berkely DB Java Edition"   "4 Nov Bamboo No Longer 100% Pure Java...BDB Java sucked..back to C""</p>
<p>14:54 &lt; jrandom&gt; (though we /could/ write NIO channels for i2psocket, it'd take some work)</p>
<p>14:54 &lt;+polecat&gt; jrandom: Go back to your cathedral, java gargoyle!  X3</p>
<p>14:54 &lt;+polecat&gt; Indeed.  If it requires TCP or UDP, or worse... DNS, then we might be hosed.</p>
<p>14:54 &lt;+polecat&gt; NIO/</p>
<p>14:54 &lt;+polecat&gt; NIO?</p>
<p>14:55 &lt;+polecat&gt; All I know is ni'o means change the subject in lojban.</p>
<p>14:55 &lt; jrandom&gt; NIO is a New I/O library in java, added in 1.4</p>
<p>14:55 &lt;+polecat&gt; I see.  Even plain sockets though, doesn't SAM have analog objects for sockets, and analog read() and write() functions?</p>
<p>14:55 &lt; jrandom&gt; yes</p>
<p>14:56 &lt; jrandom&gt; if they use plain sockets, its easy as shit</p>
<p>14:56 &lt; jrandom&gt; (...whatever that means)</p>
<p>14:56 &lt; ant&gt; &lt;janonymous2&gt; Whats bamboo?</p>
<p>14:56 &lt; jrandom&gt; bamboo-dht.org</p>
<p>14:57 &lt; cervantes&gt; what were the problems with pysam btw?</p>
<p>14:57  * polecat nods.</p>
<p>14:58 &lt;@duck&gt; cervantes: sending / receiving data</p>
<p>14:58 &lt; cervantes&gt; duck: oh is that all? :)</p>
<p>14:58 &lt; ant&gt; * janonymous2 /me coweres on his inadequate phone</p>
<p>14:58 &lt;@duck&gt; and making / detecting connections</p>
<p>14:58 &lt;+Nightblade&gt; it didn't send?</p>
<p>14:59 &lt; Ragnarok&gt; oy</p>
<p>14:59 &lt;@duck&gt; Nightblade: it probably did something</p>
<p>14:59 &lt;+Nightblade&gt; does it work at all?</p>
<p>15:00 &lt; cervantes&gt; duck: any thoughts on i2p-bt forum section naming?</p>
<p>15:00 &lt; cervantes&gt; d'you want you're own top level, with some subs?</p>
<p>15:01 &lt; Ragnarok&gt; hm, I've got to hit the road.  Have a good rest-of-meeting :)</p>
<p>15:01 &lt; jrandom&gt; Nightblade: aum was using it, so i'm sure it worked</p>
<p>15:01 &lt; jrandom&gt; l8r Ragnarok </p>
<p>15:01 &lt; cervantes&gt; you're = your</p>
<p>15:01 &lt; cervantes&gt; cya ragnarok</p>
<p>15:02 &lt; ant&gt; &lt;janonymous2&gt; Status on bt?</p>
<p>15:02 &lt; jrandom&gt; janonymous: see the meeting logs (once they come out)</p>
<p>15:03 &lt; jrandom&gt; speaking of which, is there anything else people would like to bring up in the meeting?</p>
<p>15:03 &lt; ant&gt; &lt;janonymous2&gt; Oh, my bad</p>
<p>15:04  * cervantes hands jr the egold plated baffer</p>
<p>15:04  * jrandom winds up</p>
<p>15:04 &lt; jrandom&gt; ...</p>
<p>15:04 &lt; jrandom&gt; ...</p>
<p>15:04  * jrandom *baf*s the meeting closed</p>
</div>
{% endblock %}