{% extends "_layout.html" %}
{% block title %}Pages/meeting173.html{% endblock %}
{% block content %}<h3>I2P dev meeting, March 21, 2006</h3>
<div class="irclog">
<p>15:09 &lt;@jrandom&gt; 0) hi</p>
<p>15:09 &lt;@jrandom&gt; 1) Net status</p>
<p>15:09 &lt;@jrandom&gt; 2) jrobin</p>
<p>15:09 &lt;@jrandom&gt; 3) biff and toopie</p>
<p>15:09 &lt;@jrandom&gt; 4) new key</p>
<p>15:09 &lt;@jrandom&gt; 5) ???</p>
<p>15:09 &lt;@jrandom&gt; 0) hi</p>
<p>15:09  * jrandom waves</p>
<p>15:09 &lt;@jrandom&gt; weekly status notes posted up at http://dev.i2p.net/pipermail/i2p/2006-March/001271.html</p>
<p>15:11 &lt;@jrandom&gt; lets jump briefly on in to 1) Net status</p>
<p>15:12 &lt;@jrandom&gt; we've been a while since a release, but things still seem fairly stable.  there are some improvements coming down the pipe though, and I hope to get us a new 0.6.1.13 this week</p>
<p>15:13 &lt;@jrandom&gt; anyone have any questions/comments/concerns regarding the status of the network?</p>
<p>15:13 &lt;+Complication&gt; About the periodism I noticed yesterday on a freshly started node: it desynchronized itself in a few hours</p>
<p>15:14 &lt;@jrandom&gt; ah cool</p>
<p>15:14 &lt;+Complication&gt; Meaning, the highs and lows became a lot more random</p>
<p>15:14 &lt;@jrandom&gt; I think it still may be worthwhile to jumpstart that at the beginning though</p>
<p>15:14 &lt;@jrandom&gt; (for those playing at home, we're talking about the implications of the 10m rebuild period)</p>
<p>15:15 &lt;+Complication&gt; Probably helps prevent tunnel failures</p>
<p>15:15 &lt;+Complication&gt; I'm still observing a healthy amount of those, but haven't counted</p>
<p>15:15 &lt;+tethra&gt; (thanks for the translation :)</p>
<p>15:15 &lt;+Complication&gt; Aside from that, working decently here</p>
<p>15:16 &lt;+Complication&gt; I think I get "as there are no inbound/outbound tunnels available" about once per 2 hours</p>
<p>15:17 &lt;@jrandom&gt; hmm, on an i2phex / i2psnark / eepproxy / ircproxy / eepsite destination?</p>
<p>15:17 &lt;@jrandom&gt; (its possible for clients to overload their own tunnels, which is why I ask which)</p>
<p>15:18 &lt;+Complication&gt; Checking if there's a trend</p>
<p>15:19 &lt;+Complication&gt; Bit of shared clients and Pycache, more of I2Phex</p>
<p>15:20 &lt;@jrandom&gt; hmm ok cool, thanks</p>
<p>15:20 &lt;+Complication&gt; Significantly more of I2Phex</p>
<p>15:20 &lt;+Complication&gt; Might have to limit its bandwidth</p>
<p>15:21 &lt;+Complication&gt; (was at default 16K)</p>
<p>15:23 &lt;@jrandom&gt; ok cool, anyone have anything else for 1) Net status?</p>
<p>15:25 &lt;@jrandom&gt; if not, lets shimmy on over to 2) JRobin</p>
<p>15:26 &lt;@jrandom&gt; jrobin is neat.  I like it.  it was dirt easy to integrate, fairly small (177KB), fast, has a low memory overhead, and provides visualizations that are easy to understand</p>
<p>15:27 &lt;+Complication&gt; Quite agreed :)</p>
<p>15:29 &lt;+Complication&gt; Convenient graphs, with high enough resolution, help find oddities and help ask about them :)</p>
<p>15:29 &lt;@jrandom&gt; if there are any rrdtool gurus out there, if you want to give the latest cvs a glance and see what we're doing and/or see if there are easier ways to accomplish these tasks, I'd love some advice</p>
<p>15:30 &lt;@jrandom&gt; (rrdtool &lt;--&gt;jrobin info @ http://www.jrobin.org/api/jrobinandrrdtoolcompared.html)</p>
<p>15:31 &lt;@jrandom&gt; (and, if someone wants, they could write a fairly small app to read netDb/routerInfo-*.dat, feed them into jrobin databases, and essentially run your own stats.i2p)</p>
<p>15:32 &lt;@jrandom&gt; the in-console jrobin integration is different from the stats.i2p functionality though, as it summarizes *your* router, not all routers.  both are useful</p>
<p>15:34 &lt;@jrandom&gt; ok, if there's nothing else on 2) JRobin, lets swing on over to 3) biff and toopie</p>
<p>15:34 &lt;@jrandom&gt; postman: wanna give us the rundown?</p>
<p>15:34 &lt; postman&gt; aah yes</p>
<p>15:35 &lt; postman&gt; years ago the mailservice had an irc bot called biff could notify you about new mails</p>
<p>15:35 &lt;+Complication&gt; Postman's AI foundry ;P</p>
<p>15:35 &lt; postman&gt; with the migration to a new platform biff became unusauble and i had no time to revamp it</p>
<p>15:35 &lt; postman&gt; now it's back online again</p>
<p>15:35 &lt;@jrandom&gt; (yay!)</p>
<p>15:36 &lt; postman&gt; if you wish to monitor your mailbox over irc just /msg biff .help for a list of commands</p>
<p>15:36 &lt; postman&gt; usage is straightforward</p>
<p>15:36 &lt; postman&gt; question/errors/rants/flames -&gt; postman@mail.i2p</p>
<p>15:36 &lt; postman&gt; 2.</p>
<p>15:37 &lt; postman&gt; in order to cope with the (hopefully) increasing stream of newbies jr, cervantes and me thougt of a Q&A bot that can be asked for helkp on the usual daily topics and problems</p>
<p>15:38 &lt; postman&gt; first draft is named toopie and will soon reside on #i2p (i2p-chat maybe too)</p>
<p>15:38 &lt; postman&gt; it will hold a list of topics, and Q&A sorted by topics and indexed by keywords</p>
<p>15:38 &lt; postman&gt; toopie can speak to the channel as well as privmsg with a user</p>
<p>15:38 &lt;+Complication&gt; Sounds neat, though I've never seen one before :)</p>
<p>15:39 &lt; postman&gt; we hope to fill its brain asap</p>
<p>15:39 &lt; postman&gt; Complication: you can play with it in #irc2p (in private if you wish :))</p>
<p>15:39 &lt;@jrandom&gt; and one of the good parts about it is that we can fill it up with messages on irc :)</p>
<p>15:39 &lt; postman&gt; yes</p>
<p>15:40 &lt; postman&gt; admins can add some lines straight from irc and make it a new q&a</p>
<p>15:40  * tethra suggests an entry purely for the sake of TheJudge/closedshop to the effect of "No, predecessor attacks don't work."</p>
<p>15:40 &lt;+tethra&gt; ;)</p>
<p>15:40 &lt; postman&gt; hee</p>
<p>15:41 &lt; postman&gt; there is still room for the way of structuring the informationm</p>
<p>15:41 &lt;@jrandom&gt; (but they do.  though they're not a particular program you "run" to attack someone)</p>
<p>15:41 &lt; postman&gt; more to come soon</p>
<p>15:41  * postman hand back the mike</p>
<p>15:41 &lt;@jrandom&gt; word, thanks postman</p>
<p>15:42 &lt; ashter&gt; postman; will toopie speak in other langages too ?</p>
<p>15:42 &lt; postman&gt; ashter: not (yet)</p>
<p>15:42 &lt;+fox&gt; &lt;mihi&gt; igpay atinlay? *g*</p>
<p>15:42 &lt; ashter&gt; ok</p>
<p>15:42 &lt; postman&gt; ashter: the infrastructure is there ( /me planned this )</p>
<p>15:42 &lt;@jrandom&gt; word</p>
<p>15:42 &lt; postman&gt; ashter: it will be a version 2 feature </p>
<p>15:42 &lt; ashter&gt; great, really nice thank you</p>
<p>15:44 &lt; postman&gt; (thejudge makes alone 50% of alle irc disconnects today)</p>
<p>15:45 &lt; postman&gt; jrandom: ok next topic</p>
<p>15:46 &lt;@jrandom&gt; ok cool, anyone have anything else on 3) biff and toopie?</p>
<p>15:46 &lt;@jrandom&gt; if not, lets swing on by to 4) new key</p>
<p>15:47 &lt;@jrandom&gt; well, there's not really anything to add to what I posted.  new key, yadda yadda</p>
<p>15:47 &lt;@jrandom&gt; ok, lets jump on over to 5) ???</p>
<p>15:47 &lt;+tethra&gt; erm</p>
<p>15:47 &lt;@jrandom&gt; anyone have anything else to bring up?</p>
<p>15:48 &lt;+tethra&gt; how does biff know you are you? :/</p>
<p>15:48 &lt;+fox&gt; &lt;mihi&gt; tethra: you have to register</p>
<p>15:48 &lt;+fox&gt; &lt;mihi&gt; just read what is referenced in the weekly notes :)</p>
<p>15:48 &lt; postman&gt; tethra: 1.) you know your mailboxes credentials, 2. you register with an identified nick@biff</p>
<p>15:48 &lt;+fox&gt; &lt;mihi&gt; yes :)</p>
<p>15:48 &lt;+fox&gt; &lt;mihi&gt; what is the point to have expiring keys when you could have expiring subkeys instead?</p>
<p>15:48 &lt;+tethra&gt; postman: ah, ok. thanks.</p>
<p>15:49 &lt;@jrandom&gt; mihi: to compartmentalize compromise.</p>
<p>15:50 &lt;+fox&gt; &lt;mihi&gt; you can delete expired secret subkeys from your keyring if you wish</p>
<p>15:51 &lt;+fox&gt; &lt;mihi&gt; but I guess it is much nicer to have ppl lsign your key every year :)</p>
<p>15:51 &lt;+fox&gt; &lt;mihi&gt; nicer in some sadistic point of view :-&gt;</p>
<p>15:51 &lt; postman&gt; jrandom: now, riddle mihi this :)</p>
<p>15:52 &lt;@jrandom&gt; (assuming only the subkey could be compromised)</p>
<p>15:54 &lt;@jrandom&gt; in any case, anyone have anything else to bring up for the meeting?</p>
<p>15:54 &lt;+fox&gt; &lt;mihi&gt; assume someone compromised your key yesterday. now he can have played a mitm and replaced the new key.</p>
<p>15:54 &lt;+fox&gt; &lt;mihi&gt; i.e. compromise one key -&gt; compromise all future keys, isn't it</p>
<p>15:55 &lt;+Complication&gt; Unless the owner uses a revocation certificate</p>
<p>15:55 &lt;+Complication&gt; invalidate compromised key -&gt; invalidate future ones</p>
<p>15:55 &lt;@jrandom&gt; mihi: and I could revoke the compromised key and tell you not to trust new keys</p>
<p>15:55 &lt;@jrandom&gt; you now have the choice whether to trust the key change or not</p>
<p>15:56 &lt;+fox&gt; &lt;mihi&gt; whom to believe then? :)</p>
<p>15:56 &lt;@jrandom&gt; good question.  if you hear a signed revocation in the next day or two, you should discard the new key</p>
<p>15:57 &lt;+fox&gt; &lt;mihi&gt; and if it was a subkey, you'd revoked the amin key and the subkey is automatically discarded :)</p>
<p>15:57 &lt;+fox&gt; &lt;mihi&gt; s/amin/main/</p>
<p>15:58 &lt;+fox&gt; &lt;mihi&gt; agree to disagree?</p>
<p>15:58 &lt;@jrandom&gt; aye, that we can agree to ;)</p>
<p>15:58 &lt;@jrandom&gt; ok, if there's nothing else for the meeting...</p>
<p>15:58 &lt;+fox&gt; * mihi hands jrandom the *baf*er (after years, just like in good old times...)</p>
<p>16:00 &lt;@jrandom&gt; hehe</p>
<p>16:00  * jrandom winds up</p>
<p>16:00  * jrandom *baf*s the meeting closed</p>
</div>
{% endblock %}