{% extends "_layout.html" %}
{% block title %}Pages/meeting123.html{% endblock %}
{% block content %}<h3>I2P dev meeting, January 4, 2005</h3>
<div class="irclog">
<p>13:09 &lt;@jrandom&gt; 0) hi</p>
<p>13:09 &lt;@jrandom&gt; 1) Net status</p>
<p>13:09 &lt;@jrandom&gt; 2) 0.4.2.6</p>
<p>13:09 &lt; ant&gt; &lt;DrVince&gt; It says that it can't find tools.jar but doesn't stop</p>
<p>13:10 &lt;@jrandom&gt; 3) 0.5</p>
<p>13:10 &lt;@jrandom&gt; 4) jabber @ chat.i2p</p>
<p>13:10 &lt;@jrandom&gt; 5) ???</p>
<p>13:10 &lt;@jrandom&gt; 0) hi</p>
<p>13:10  * jrandom waves</p>
<p>13:10 &lt; eco&gt; hi</p>
<p>13:10 &lt;@jrandom&gt; weekly status notes posted up @ http://dev.i2p.net/pipermail/i2p/2005-January/000541.html</p>
<p>13:10 &lt;@jrandom&gt; DrVince: if you can hang around, we can hack through that after the meeting</p>
<p>13:10 &lt; ant&gt; &lt;DrVince&gt; Cool</p>
<p>13:11 &lt;@jrandom&gt; jumping on into 1) Net status</p>
<p>13:11 &lt;@jrandom&gt; (as i'm sure y'all have read the weekly status notes already *cough*)</p>
<p>13:11 &lt;@jrandom&gt; basically, the net seems to be working well</p>
<p>13:11 &lt;@jrandom&gt; we still do have more irc disconnects than usual though, but not a horrid amount</p>
<p>13:12 &lt;@jrandom&gt; hopefully the next release (with the streaming lib improvements) will help out, as will further load balancing off duck's server</p>
<p>13:12 &lt;@jrandom&gt; (since remember, every message we send to any irc channel is sent to the irc server and echoed out again several times)</p>
<p>13:13 &lt;+protokol&gt; yeah</p>
<p>13:13 &lt;@jrandom&gt; a fully distributed chat system would be neat, but i'm not holding my breath.  plus, irc works good enough</p>
<p>13:14 &lt;@jrandom&gt; ok, thats all i have wrt 1) net status</p>
<p>13:14 &lt;@jrandom&gt; does anyone have anything to add, comment, etc?</p>
<p>13:14  * eco has been away for a while (what's new)</p>
<p>13:15 &lt; eco&gt; and was happily surprised by the state of things. very good progress</p>
<p>13:15 &lt; Myo9&gt; Wasn't the meeting at 10?</p>
<p>13:15 &lt; eco&gt; both performance and usability wise</p>
<p>13:15 &lt; eco&gt; Myo9 10GMT (general meeting time)</p>
<p>13:16 &lt;@jrandom&gt; 9p GMT</p>
<p>13:16 &lt;@jrandom&gt; the last year has definitely brought a lot of progress</p>
<p>13:17  * eco hands out cookies to all devs and then shuts up</p>
<p>13:17 &lt;@jrandom&gt; *munch*</p>
<p>13:17 &lt;@jrandom&gt; ok, jumping on to 2) 0.4.2.6</p>
<p>13:18 &lt;@jrandom&gt; new release coming with bugfixes, improvements, and the addressbook bundled in</p>
<p>13:18 &lt;@jrandom&gt; i dont know exactly when it'll be out, maybe end of the week</p>
<p>13:18 &lt;@jrandom&gt; it'll be announced on the list and in the channels, of course</p>
<p>13:19 &lt;@jrandom&gt; thats all i have to say on that - anyone have any questions/comments/concerns wrt 0.4.2.6?</p>
<p>13:19  * eco recalls someone mentioning Debian packages</p>
<p>13:20 &lt;@jrandom&gt; os/distro-specific packaging is probably premature at the moment</p>
<p>13:20 &lt; eco&gt; Burton is willing to give that a try, but that won't be this week i guess</p>
<p>13:20 &lt;@jrandom&gt; ah cool, i hadn't heard that</p>
<p>13:21 &lt; eco&gt; agree, though it would be handy</p>
<p>13:21 &lt;+protokol&gt; hold on, im pretty high</p>
<p>13:21 &lt;+protokol&gt; oops</p>
<p>13:21 &lt;+protokol&gt; that was supposed to be a PM</p>
<p>13:21 &lt;@jrandom&gt; distro-specific packaging will be nice, but we probably need to have the auto-updater in place for that to be viable</p>
<p>13:21 &lt;+protokol&gt; i can look into making an ebuild</p>
<p>13:21 &lt;@jrandom&gt; protokol: if you're nice, i'll cut that out of the logs ;)</p>
<p>13:21 &lt;+protokol&gt; no guarentees</p>
<p>13:21 &lt;+protokol&gt; lol</p>
<p>13:22 &lt;@jrandom&gt; yeah, i wouldn't worry about packages until 0.5, if not 1.0</p>
<p>13:22 &lt;@jrandom&gt; (i hope to have the auto-updater in 0.5)</p>
<p>13:22 &lt;+protokol&gt; awesomecore</p>
<p>13:23 &lt;@jrandom&gt; actually, if someone wants to work on the updater, that'd be a pretty kick-ass low-hanging-fruit.  just write a servlet to download and verify from dev.i2p/i2p/i2pupdate.zip, then call the router's restart method</p>
<p>13:23 &lt; Myo9&gt; Auto-updater, sounds like a threat.</p>
<p>13:23 &lt;+protokol&gt; modulus: welsome</p>
<p>13:23 &lt;+protokol&gt; $200 bounty for it</p>
<p>13:24 &lt;@jrandom&gt; heh true myo9, the update would want to allow both manual controls (one click update) and would want to verify a signature on the update</p>
<p>13:24 &lt; ant&gt; * DrVince had a problem with i2pupdate.zip</p>
<p>13:24 &lt; ant&gt; &lt;cervantes&gt; something that can be enabled or disabled would be nice ;)</p>
<p>13:24  * protokol makes it offical</p>
<p>13:24 &lt; Myo9&gt; So, all of a sudden, the router restarts and one notices Jr. has teamed with the IP ppl and DRM is enabled.</p>
<p>13:24 &lt;@jrandom&gt; protokol: oh cool, send in the $200 and i'll add that to the bounty page </p>
<p>13:24 &lt; Myo9&gt; ;)</p>
<p>13:24 &lt; Myo9&gt; I want auto-update turned off by default.</p>
<p>13:24 &lt;@jrandom&gt; agreed myo9</p>
<p>13:25 &lt; ant&gt; &lt;cervantes&gt; perhaps the routerconsole can be ammended to notify if a new version is available</p>
<p>13:25 &lt;@jrandom&gt; right cervantes</p>
<p>13:25 &lt; Myo9&gt; Great!</p>
<p>13:25 &lt;@jrandom&gt; it would want to display whether there is a new release, and give the user a one click option to upgrade</p>
<p>13:25 &lt;@jrandom&gt; (it'd be easy enough to add a web page @ www.i2p/ that contains the current version, so the router could check that periodically)</p>
<p>13:26 &lt;@jrandom&gt; ((or on demand))</p>
<p>13:26 &lt; Hybrid&gt; yes jrandom. that would be cool.   also on the button a link to 'whats new' html page</p>
<p>13:26 &lt;@jrandom&gt; Hybrid: http://dev.i2p.net/cgi-bin/cvsweb.cgi/i2p/history.txt?rev=HEAD</p>
<p>13:26 &lt; ant&gt; &lt;cervantes&gt; yeah...I've got a page on the forum that lets my firefox toolbar know of latest "events"/news</p>
<p>13:27 &lt;@jrandom&gt; but yeah, a link there too would be nice</p>
<p>13:27 &lt;@jrandom&gt; ah cool cervantes</p>
<p>13:27 &lt; Hybrid&gt; don't forget to put the version the user is currently running and the new version number available.   (I like the way dvd decrypter does this)</p>
<p>13:27 &lt; ant&gt; &lt;cervantes&gt; don't count on me releasing anything yet though....</p>
<p>13:28 &lt;@jrandom&gt; right right Hybrid, the current version the user is running is visible on the top left corner of the router console, so it shouldnt be a problem</p>
<p>13:28 &lt; ant&gt; &lt;cervantes&gt; wanted to spend the holidays working on it and have so far done absolutely nothing...</p>
<p>13:28 &lt;@jrandom&gt; but this won't be bundled into the 0.4.2.6 release, because i havent written any of this code :)</p>
<p>13:28 &lt;@jrandom&gt; heh cervantes, i hear you.  i do look forward to the xul though!</p>
<p>13:29 &lt;@jrandom&gt; ok, anyone have anything else wrt 2) 0.4.2.6, or shall we move on to 3) 0.5?</p>
<p>13:29 &lt; Hybrid&gt; is it a problem for i2p to shutdown, new version install, and restart... would other applications irc need restarting??.. any other complications in  a 'click n update' feature</p>
<p>13:30 &lt; Hybrid&gt; (sorry interrupting dev meeting lol)</p>
<p>13:30 &lt;@jrandom&gt; Hybrid: not a problem at all - thats what the "graceful restart" button on http://localhost:7657/configservice.jsp does</p>
<p>13:30 &lt; Hybrid&gt; k</p>
<p>13:31 &lt; ant&gt; &lt;cervantes&gt; jrandom: does the wrapper re-read the wrapper.config on a restart?</p>
<p>13:31 &lt;@jrandom&gt; cervantes: no :(</p>
<p>13:31 &lt;@jrandom&gt; i wish it did</p>
<p>13:31 &lt; ant&gt; &lt;cervantes&gt; guess we need a wrapper service wrapper</p>
<p>13:32 &lt;@jrandom&gt; perhaps someone could get a patch in to the java service wrapper folks</p>
<p>13:32 &lt;@jrandom&gt; heh</p>
<p>13:32 &lt;@jrandom&gt; ok, jumping to 3) 0.5</p>
<p>13:32 &lt;@jrandom&gt; well, i dont really have much to say about this beyond whats in the email</p>
<p>13:33 &lt;@jrandom&gt; lots of progress, many sheets of paper, and some code.  nothing committed or ready for show yet though</p>
<p>13:33 &lt;@jrandom&gt; thats 'bout all i have to say on that front, unless someone has any questions</p>
<p>13:34 &lt;@jrandom&gt; if not, we can mosey on over to 4) jabber @ chat.i2p</p>
<p>13:35 &lt;@jrandom&gt; new jabber server (w00t!).  see the email & the forum for details</p>
<p>13:35 &lt;@jrandom&gt; aparently it was dirt easy to set up the server too, so hopefully we can get some docs out there so that other people can run their own</p>
<p>13:35 &lt; frosk&gt; i think it's the third i2p has had. i hope this one sticks around :)</p>
<p>13:36 &lt; jdot&gt; docs are coming.  its easy a heck w/ Jive Messenger.  Just tunnel the ports properly.</p>
<p>13:36 &lt;@jrandom&gt; personally, i'm fine with irc for one on one and group chat, but having the option for jabber is cool</p>
<p>13:36 &lt;@jrandom&gt; ah word jdot</p>
<p>13:36 &lt;@jrandom&gt; no rush, whenever is great</p>
<p>13:37 &lt;@jrandom&gt; it'd just be great to be able to tell people that if they dont like how things are on one particular irc srever, they can go run their own :)</p>
<p>13:37 &lt; jdot&gt; also will be looking to changate it with the irc channels .. in the future</p>
<p>13:37 &lt;@jrandom&gt; nice</p>
<p>13:38 &lt;@jrandom&gt; ok, thats all i have to say on that.  you have anything you want to add jdot?</p>
<p>13:39 &lt;+protokol&gt; how does one get on chat.i2p</p>
<p>13:39 &lt;+protokol&gt; tis not resolve for me</p>
<p>13:39 &lt;@jrandom&gt; http://forum.i2p.net/viewtopic.php?t=229</p>
<p>13:40 &lt; jdot&gt; nothing to add.  </p>
<p>13:40  * eco has peeked at java service wrapper in the mean time</p>
<p>13:40 &lt; eco&gt; re-reading the config file has been implemented for the upcoming 3.20 release</p>
<p>13:40 &lt; eco&gt; see http://sourceforge.net/tracker/index.php?func=detail&aid=981060&group_id=39428&atid=425190</p>
<p>13:41 &lt;@jrandom&gt; ah wikked</p>
<p>13:41  * eco doesn't know when that's due though</p>
<p>13:41 &lt;@jrandom&gt; perhaps with 0.5 we'll do a big external-app-upgrade, replacing our aging jetty and java service wrapper code</p>
<p>13:42 &lt;@jrandom&gt; oh, before i go on, i suppose we should officially move to 5) ???</p>
<p>13:42 &lt;@jrandom&gt; protokol: i think i remember you saying you got jetty working with CGI?  any docs / info on that?</p>
<p>13:43 &lt;@jrandom&gt; someone else out there was able to get jetty to do symlinks too, though i dont know who</p>
<p>13:43 &lt;@jrandom&gt; (you out there, whoever you are?  how'd you do it?  :)</p>
<p>13:44 &lt;@jrandom&gt; or, i suppose, anyone else have anything they want to bring up?</p>
<p>13:45  * eco has a public service announcement</p>
<p>13:45 &lt; eco&gt; there's a bounty for succesfully pulling i2p through gcj</p>
<p>13:45 &lt; eco&gt; according to jr this will be dead simple, so go get it! :-)</p>
<p>13:45 &lt;@jrandom&gt; heh, not dead simple, that was just wishful thinking ;)</p>
<p>13:46 &lt;@jrandom&gt; but it might be</p>
<p>13:46 &lt;@jrandom&gt; (so go get it :)</p>
<p>13:46 &lt; cervantes&gt; think I posted links concering jetty symlinks somewhere either in chat or on the forum...can't remember which</p>
<p>13:46 &lt; cervantes&gt; was a while back now</p>
<p>13:46 &lt;+protokol&gt; jrandom: it was for the more recent version, i just crashed my jetty</p>
<p>13:46 &lt; slart&gt; any news on the azureus plugin?</p>
<p>13:46 &lt;+protokol&gt; i think jetty should be borught up-to-date so the docs on their website are useful</p>
<p>13:46 &lt; Hybrid&gt; gcj?</p>
<p>13:46 &lt;+protokol&gt; makes java into a binary</p>
<p>13:46 &lt;@jrandom&gt; ah cool cervantes, i'll dig around for it</p>
<p>13:47 &lt; cervantes&gt; I've looked at jetty with php...but it's a very hit an miss affair... php comes with a servlet .jar executable for use with tomcat..., I've seen reports that it can be made to work with jetty...but I have no idea how</p>
<p>13:47 &lt;@jrandom&gt; protokol: ah</p>
<p>13:47 &lt;+protokol&gt; and it needs cgi and symling support as well</p>
<p>13:47 &lt;@jrandom&gt; slart: the azureus devs are hacking away and making progress, but its not ready yet</p>
<p>13:47 &lt;+protokol&gt; cervantes: DO IT!</p>
<p>13:48 &lt;+protokol&gt; it would be like apache built into i2p</p>
<p>13:48 &lt; frosk&gt; Hybrid: The GNU Compiler for Java, or sumthing</p>
<p>13:48 &lt;@jrandom&gt; cervantes: yeah, .jar support would be neat, but if its flakey, not worth it.  having cgi support in jetty would be best, sicne we could then use normal php</p>
<p>13:48 &lt; slaw&gt; excellent</p>
<p>13:48 &lt; frosk&gt; mod_i2p :)</p>
<p>13:49 &lt;@jrandom&gt; heh</p>
<p>13:50 &lt;@jrandom&gt; ok, anyone else have anything they want to bring up for the meeting?</p>
<p>13:51 &lt;@jrandom&gt; if not...</p>
<p>13:51  * jrandom winds up</p>
<p>13:51  * jrandom *baf*s the meeting closed</p>
</div>
{% endblock %}