{% extends "_layout.html" %}
{% block title %}Pages/meeting111.html{% endblock %}
{% block content %}<h3>I2P dev meeting, October 12, 2004</h3>
<div class="irclog">
<p>14:04 &lt; jrandom&gt; 0) hi</p>
<p>14:04 &lt; jrandom&gt; 1) 0.4.1.2</p>
<p>14:04 &lt; jrandom&gt; 2) 0.4.1.3</p>
<p>14:05 &lt; jrandom&gt; 3) 0.4.2</p>
<p>14:05 &lt; jrandom&gt; 4) mail discussions</p>
<p>14:05 &lt; jrandom&gt; 5) ???</p>
<p>14:05 &lt; jrandom&gt; 0) hi</p>
<p>14:05  * jrandom waves</p>
<p>14:05 &lt; Janonymous&gt; hello</p>
<p>14:05 &lt; jrandom&gt; lots of #s in our agenda this week</p>
<p>14:05 &lt; jrandom&gt; weekly status notes up @ http://i2p.net/pipermail/i2p/2004-October/000466.html</p>
<p>14:05 &lt; jrandom&gt; (posted a min or three ago)</p>
<p>14:05 &lt; deer&gt; * cervantes has brought a pillow</p>
<p>14:06 &lt; jrandom&gt; oh i hope it won't be that boring ;)</p>
<p>14:06 &lt; jrandom&gt; anyway, jumping on in to the good stuff: 1) 0.4.1.2</p>
<p>14:06 &lt; deer&gt; &lt;cervantes&gt; make me up after the statistal analysis section</p>
<p>14:06 &lt; jrandom&gt; the release is out and everyone should upgrade</p>
<p>14:06 &lt; jrandom&gt; heh</p>
<p>14:06 &lt; deer&gt; &lt;cervantes&gt; eerm wake</p>
<p>14:07 &lt; jrandom&gt; there are some bugs with the watchdog code, which will kill your router poorly (rather than restart it when bad stuff happens)</p>
<p>14:07 &lt; jrandom&gt; but hopefully those situations are few and far between</p>
<p>14:07 &lt; deer&gt; &lt;mule_iip&gt; nope :(</p>
<p>14:08 &lt; jrandom&gt; well, it varies by the user</p>
<p>14:08 &lt; jrandom&gt; i'm trying to find the cause, as its been around forever and its pretty annoying</p>
<p>14:08 &lt; jrandom&gt; (the actual hang, not the watchdog code that detects the hang)</p>
<p>14:09 &lt; jrandom&gt; the current CVS rev (0.4.1.2-1) has the 'meat' of the watchdog disabled - it monitors, but oesn't shut down the router</p>
<p>14:10 &lt; jrandom&gt; but 0.4.1.2 should be fine for everyone (except mule ;)</p>
<p>14:10 &lt; jrandom&gt; oh, as mentioned before, start up some logging and send me some data, per http://dev.i2p.net/pipermail/i2p/2004-October/000465.html</p>
<p>14:11 &lt; jrandom&gt; the more data the better - if you can leave it running overnight, that'd be great (a 20h run on duck's box generated ~60MB of data)</p>
<p>14:11 &lt; jrandom&gt; ok, moving on to 2) 0.4.1.3</p>
<p>14:12 &lt; jrandom&gt; well, there's not really anything i want to mention beyond wahts in the email</p>
<p>14:12 &lt; jrandom&gt; anyone have anything they want to say re: 0.4.1.3?</p>
<p>14:12 &lt; Janonymous&gt; nah</p>
<p>14:13 &lt; deer&gt; &lt;postman&gt; no</p>
<p>14:13 &lt; Janonymous&gt; backwards compatable?</p>
<p>14:13 &lt; jrandom&gt; certainly</p>
<p>14:13 &lt; jrandom&gt; ok, moving on to * 3) 0.4.2</p>
<p>14:14 &lt; jrandom&gt; again, another "see the email" :)</p>
<p>14:14 &lt; Janonymous&gt; xpc vs. tcp ??</p>
<p>14:14 &lt; jrandom&gt; i've never implemented a tcp stack before, so any guidance would be appreciated</p>
<p>14:15 &lt; jrandom&gt; xcp has better handling in networks with high delays</p>
<p>14:15 &lt; jrandom&gt; (for congestion control)</p>
<p>14:15 &lt; Janonymous&gt; does that include fec?</p>
<p>14:15 &lt; jrandom&gt; no</p>
<p>14:16 &lt; Janonymous&gt; k, cause I've been researching that some</p>
<p>14:17 &lt; jrandom&gt; cool</p>
<p>14:17 &lt; jrandom&gt; anything good you've found?</p>
<p>14:17 &lt; deer&gt; &lt;cervantes&gt; most GET requests are sub 32kb...and your average html page should be around that size...so I'd imagine eepsurfing will be much improved... - I wouldn't mind seeing an improvement in per-tunnel throughput though...will the new stack improve upon that?</p>
<p>14:17 &lt; Janonymous&gt; fec is used a lot for high latency/high throughput networks</p>
<p>14:18 &lt; deer&gt; &lt;mule_iip&gt; jrandom: nor have i, but i could tell a folk here to support you</p>
<p>14:18 &lt; Janonymous&gt; jrandom: some.. I'll report back</p>
<p>14:18 &lt; deer&gt; &lt;mule_iip&gt; at least it would be a good learning experience for him and another pair of eyes</p>
<p>14:18 &lt; jrandom&gt; great Janonymous </p>
<p>14:18 &lt; jrandom&gt; oh kickass mule</p>
<p>14:18 &lt; jrandom&gt; cervantes: per-tunnel throughput would improve with &gt;1 message windows</p>
<p>14:19 &lt; jrandom&gt; (i expect we'll be able to even start with &gt;1 as a window size, depending upon what we can gleam from the router)</p>
<p>14:19 &lt; jrandom&gt; ((ecn++))</p>
<p>14:19 &lt; deer&gt; &lt;cervantes&gt; grand</p>
<p>14:20 &lt; jrandom&gt; ok, anything else on 0.4.2 stuff?</p>
<p>14:20 &lt; Janonymous&gt; fresh stack.. fresh laptop.. *drools*</p>
<p>14:21 &lt; jrandom&gt; heh</p>
<p>14:21 &lt; Janonymous&gt; yea</p>
<p>14:21 &lt; Janonymous&gt; one thing</p>
<p>14:22 &lt; Janonymous&gt; this will implement the new short handshake?</p>
<p>14:22 &lt; jrandom&gt; hmm?</p>
<p>14:22 &lt; jrandom&gt; we have the low-cpu TCP reconnection code in the 0.4.1 transport</p>
<p>14:22 &lt; Janonymous&gt; ah, in the email, you mention the alice-&gt; bob handshake</p>
<p>14:23 &lt; Janonymous&gt; ah</p>
<p>14:23 &lt; Janonymous&gt; still catching up</p>
<p>14:23 &lt; jrandom&gt; oh.  yeah, whatever 0.4.2 comes up with, it'll support a packet sequence like the one in the email</p>
<p>14:24 &lt; Janonymous&gt; k</p>
<p>14:24 &lt; jrandom&gt; we'll probably control it largely through socket options (e.g. set the stream to interactive and it sends asap, set the stream to bulk and it only sends when the buffer is full or itsflushed [or it needs to ack])</p>
<p>14:25 &lt; jrandom&gt; ok, swinging on to 4) mail discussion</p>
<p>14:25 &lt; jrandom&gt; postman - you 'round?</p>
<p>14:26 &lt; deer&gt; &lt;postman&gt; ya</p>
<p>14:26 &lt; jrandom&gt; word, wanna give us a run down / update wrt the mail stuff?</p>
<p>14:27 &lt; deer&gt; &lt;postman&gt; hmm, ok tho i am quite shy talking in front of that many ppl :)</p>
<p>14:27 &lt; jrandom&gt; heh just imagine we're all nak^H^H^Her... nm</p>
<p>14:28  * Janonymous gets popcorn out</p>
<p>14:28 &lt; deer&gt; &lt;postman&gt; since the 20th od september there is a SMTP/POP Service running - accessible with normal smtp/pop3 MUAs</p>
<p>14:29 &lt; deer&gt; &lt;postman&gt; i put quite some efforts in it in a way that i analyzed the potential risks that normal mail clients bear</p>
<p>14:29 &lt; Janonymous&gt; what about inproxies/outproxies?</p>
<p>14:29 &lt; deer&gt; &lt;postman&gt; put it all together on a website </p>
<p>14:29 &lt; deer&gt; &lt;postman&gt; for those who haven't done so: www.postman.i2p</p>
<p>14:29  * Janonymous has not access to the network currently</p>
<p>14:30 &lt; deer&gt; &lt;postman&gt; there's a proposal on the website that tries to comprehend all the common problems dealing with anonymity and reliability of a mailservice when doing a bridging between i2p and internet</p>
<p>14:30 &lt; deer&gt; &lt;postman&gt; out/inproxy does not run yet but is in the planning</p>
<p>14:30 &lt; Janonymous&gt; I think I caught some of the discussion on the maillist or the forum</p>
<p>14:30 &lt; Janonymous&gt; out would be more dangerous than in, right?</p>
<p>14:31 &lt; deer&gt; &lt;postman&gt; first i want a commonly accepted concept</p>
<p>14:31 &lt; deer&gt; &lt;postman&gt; generally YES, but i think we found a way that spam and the likes won't be sent outward</p>
<p>14:31 &lt; jrandom&gt; what'd be neat is if the mx.postman.i2p in/outproxy could dispatch to different (or multiple redundant) pop3 accts</p>
<p>14:31 &lt; deer&gt; &lt;postman&gt; simply by putting a quota on every user trying to send mails out</p>
<p>14:32 &lt; jrandom&gt; (that way it wouldn't be tied to a particular mailhost)</p>
<p>14:32 &lt; deer&gt; &lt;postman&gt; jrandom2p: please explain further</p>
<p>14:33 &lt; Janonymous&gt; could the seperate mailhosts be syncronized too?</p>
<p>14:33 &lt; deer&gt; &lt;postman&gt; jrandom2p: it's a question of account based routing</p>
<p>14:33 &lt; jrandom&gt; right postman</p>
<p>14:33 &lt; jrandom&gt; probably lots of work, i dont know much about the MTAs you're working on</p>
<p>14:33 &lt; deer&gt; &lt;postman&gt; jrandom2p: the out/in proxy could easily handle more than one internal mailsystem - even could arrange a fallback kind of delivery </p>
<p>14:34 &lt; jrandom&gt; 'k, great</p>
<p>14:34 &lt; Janonymous&gt; Q wrt in/out</p>
<p>14:34 &lt; deer&gt; &lt;postman&gt; janonymous: i did not understand your question - please explain</p>
<p>14:34  * jrandom dreams up uucp-style offline fetch from mx.postman :)</p>
<p>14:35 &lt; Janonymous&gt; would mandatory mailbox to mailbox encryption make in/out sending less dangerous?</p>
<p>14:35 &lt; deer&gt; &lt;postman&gt; jrandom: haha, uucp is not needed i think - maybe ETRN is sexier :)</p>
<p>14:35 &lt; deer&gt; &lt;postman&gt; janonymous: right now the system works only internaly - everyone is free to apply PGP or sth similiar</p>
<p>14:36 &lt; jrandom&gt; Janonymous: you should swing by www.postman.i2p - he's put up a chunk of ideas / issues on there</p>
<p>14:36 &lt; Janonymous&gt; mandatory encryption/signatures is also an antispam method I believe</p>
<p>14:36 &lt; deer&gt; &lt;Ragnarok&gt; would it be possible to serve the postman.i2p address book using LDAP?</p>
<p>14:36 &lt; Janonymous&gt; I will once my laptop comes in</p>
<p>14:37 &lt; deer&gt; &lt;postman&gt; rag: there's an addressbook already - it is based on SQL tho - a transfer to LDAP os possible</p>
<p>14:38 &lt; Janonymous&gt; = server hosted address book?</p>
<p>14:38 &lt; deer&gt; * postman invites everybody to contribute own ideas to the ideas/concepts html document</p>
<p>14:38 &lt; Janonymous&gt; will do postman</p>
<p>14:38 &lt; deer&gt; * cervantes spiders the address book and starts writing penis enlargement pharmacutical mails </p>
<p>14:39 &lt; deer&gt; &lt;postman&gt; janonymous: well, ALL mailusers are SQL based - thus the "addressbook" is just a view on that table</p>
<p>14:39 &lt; deer&gt; &lt;postman&gt; cervantes: btw, every user can chose whether he wants to be visible or not</p>
<p>14:39 &lt; Janonymous&gt; ah</p>
<p>14:40 &lt; Janonymous&gt; how about selective groups ;)</p>
<p>14:40 &lt; deer&gt; &lt;cervantes&gt; postman: yup I've signed up already ;-)</p>
<p>14:40 &lt; deer&gt; &lt;postman&gt; cervantes: and since we HAVE a mailidentidy system , you cannot forge your senderaddress - we know it has been YOU :)</p>
<p>14:40 &lt; deer&gt; &lt;postman&gt; janonymous: yeah, it's planned for version 2.0 :)</p>
<p>14:41 &lt; deer&gt; &lt;cervantes&gt; postman: but I'll just spam every ircnym@postman.i2p ;-)</p>
<p>14:41 &lt; deer&gt; &lt;postman&gt; cervantes: this is technically possible, yes :)</p>
<p>14:42 &lt; deer&gt; &lt;postman&gt; cervantes: i hope you're able to deliver those pills too :)</p>
<p>14:42 &lt; Janonymous&gt; sounds like a much needed and long expected development for i2p</p>
<p>14:42 &lt; Janonymous&gt; the new email system</p>
<p>14:42 &lt; deer&gt; &lt;cervantes&gt; postman: and on the sender thing..the "Cervantes' penis enlargement elixir" would indicate the sender too :)</p>
<p>14:42 &lt; deer&gt; &lt;postman&gt; janonyous: i cannot tell about every detail implemented</p>
<p>14:43 &lt; deer&gt; &lt;postman&gt; jan: the website is best suited for this</p>
<p>14:43 &lt; deer&gt; &lt;postman&gt; cervantes: indeed - but this could be forged :)</p>
<p>14:43 &lt; Janonymous&gt; alrighty.. I'll get there asap</p>
<p>14:43 &lt; jrandom&gt; ok, great.  so, yeah, y'all should review whats up on www.postman.i2p and send in your ideas/comments</p>
<p>14:43 &lt; deer&gt; * postman nods and sits down again</p>
<p>14:44 &lt; jrandom&gt; (postman++)</p>
<p>14:44 &lt; jrandom&gt; ok that brings us to 5) ???</p>
<p>14:44 &lt; jrandom&gt; anyone have anything else they want to bring up?</p>
<p>14:44 &lt; jrandom&gt; (i2p related)</p>
<p>14:44 &lt; deer&gt; &lt;postman&gt; :)</p>
<p>14:44 &lt; Janonymous&gt; just a thought</p>
<p>14:45 &lt; Janonymous&gt; possible uses for I2P.. we know its a "distributed anonymous network layer"</p>
<p>14:45 &lt; deer&gt; &lt;Jake&gt; my node is down :( moving equipment to a different part of the house</p>
<p>14:46 &lt; Janonymous&gt; but what can that be used for.. particularly, those "common good" issues</p>
<p>14:46 &lt; Janonymous&gt; Oppressive third world countries, freedom of speech.. etc.. thats one of the primary things that got me so interested in i2p to start with</p>
<p>14:47 &lt; Janonymous&gt; and freenet for that matter</p>
<p>14:47 &lt; deer&gt; &lt;Jake&gt; oppressed 1st world countries like the u.s.</p>
<p>14:47 &lt; Janonymous&gt; so, I thought maybe some extrapolation on those issues, maybe starting on the forum, then some words on the site</p>
<p>14:48 &lt; jrandom&gt; we've got a lot of work to do before we can claim any relevence for people in china</p>
<p>14:48 &lt; Janonymous&gt; heh, yea, wouldn't want to make any false promises, but..</p>
<p>14:48  * jrandom will not say we're safe when there has been so little peer review (and there are still so many outstanding issues)</p>
<p>14:49 &lt; deer&gt; &lt;fidd&gt; how hard will it be for china to censor i2p?</p>
<p>14:49 &lt; deer&gt; &lt;cervantes&gt; I think applications will begin to surface more readily once the underlying network has stopped "shapeshifting"</p>
<p>14:49 &lt; Janonymous&gt; but those issues to me are one of the main things that makes i2p so exciting</p>
<p>14:49 &lt; jrandom&gt; fidd: censor has many definitions.  in the sense "stop specific content from being transferred", pretty much impossible, short of making i2p illegal</p>
<p>14:50 &lt; Janonymous&gt; how about, "detect i2p on networks in china"</p>
<p>14:50 &lt; Janonymous&gt; stego?</p>
<p>14:51 &lt; jrandom&gt; exciting, yes.  important?  yes.  necessary?  yes.  but since there's so much work to do before we're relevent, its just depressing to talk about it.</p>
<p>14:51 &lt; Janonymous&gt; my bad :) </p>
<p>14:51 &lt; deer&gt; &lt;cervantes&gt; once the base network is solid, then we could probably do with some nice toys to play with  - eg filesharing apps, IM systems etc. Hopefully the userbase will swell at that point....before this happens there just won't be enough peers to guarantee anonymity for people who live in oppressive systems</p>
<p>14:52 &lt; jrandom&gt; its always important to keep your eyes on the real goals Janonymous, and i appreciate that</p>
<p>14:52 &lt; Janonymous&gt; yea, numbers of nodes has a lot to do with it</p>
<p>14:52 &lt; modulus&gt; imo until there is stego and things like random noise to defeat traffic analysis people in oppressive countries should stay away for a while.</p>
<p>14:53 &lt; deer&gt; &lt;cervantes&gt; no..they should stay here and help :)</p>
<p>14:53 &lt; modulus&gt; :-)</p>
<p>14:53  * jrandom will not describe in detail why those aspects won't be necessary, as the 3.0 rev will take care of 'em :)</p>
<p>14:53 &lt; modulus&gt; 3.0? sounds long-term ;-)</p>
<p>14:53 &lt; jrandom&gt; i have ~= 0 faith in stego transports for public networks</p>
<p>14:54 &lt; jrandom&gt; it aint tomorrow, thats for sure.</p>
<p>14:54 &lt; Janonymous&gt; word? huh</p>
<p>14:54 &lt; Janonymous&gt; jrandom: whys that (wrt stego)?</p>
<p>14:55 &lt; jrandom&gt; how to defeat stego on public networks with open source software: download the source, review the stego generation code, write detection code, deploy.</p>
<p>14:56 &lt; jrandom&gt; how to defeat stego on public networks with closed source software: kidnap the dev's family, subvert the code.  deploy.</p>
<p>14:56 &lt; Janonymous&gt; ah.. yea.. random inputs? eh.. I just read this article talking like it was the future or something</p>
<p>14:56 &lt; jrandom&gt; how to defeat stego on private networks:  laugh at the 5 people using it, and arrest 'em all.</p>
<p>14:56 &lt; modulus&gt; well, what about anonymous closed-source software? of course it could be a trojan ;-)</p>
<p>14:57 &lt; deer&gt; &lt;Jake&gt; jrandom: if you're ever kidnapped, you can let us know by telling us "my dog fido is really upset about the food he's eating today"</p>
<p>14:57 &lt; deer&gt; &lt;Jake&gt; that will be the giveaway and we'll know</p>
<p>14:57 &lt; deer&gt; &lt;cervantes&gt; %s!dev's family!jrandom</p>
<p>14:57 &lt; jrandom&gt; heh jake</p>
<p>14:58 &lt; Janonymous&gt; whens the eta for 4.2?</p>
<p>14:58 &lt; jrandom&gt; Janonymous: the #1 feature of anonymity or security software: snake oil.</p>
<p>14:58 &lt; jrandom&gt; 0.4.2?  sometime this month</p>
<p>14:58 &lt; jrandom&gt; prolly near the end</p>
<p>14:58 &lt; Janonymous&gt; heheh. </p>
<p>14:58 &lt; jrandom&gt; 0.4.1.3 will prolly be out later this week or the weekend</p>
<p>14:58 &lt; deer&gt; &lt;cervantes&gt; Jake: that would never work, we'll juist think you've poisoned his dog</p>
<p>14:58 &lt; deer&gt; &lt;cervantes&gt; *just</p>
<p>14:58 &lt; Janonymous&gt; I should be back on the net in a week or two</p>
<p>14:59 &lt; jrandom&gt; r0x0r</p>
<p>14:59 &lt; jrandom&gt; ok, anyone else have something to bring up?</p>
<p>14:59 &lt; deer&gt; &lt;Jake&gt; cervantes :)</p>
<p>15:00 &lt; jrandom&gt; if not..</p>
<p>15:00  * jrandom winds up</p>
<p>15:00  * jrandom *baf*s the meeting closed</p>
</div>
{% endblock %}