{% extends "_layout.html" %}
{% block title %}Pages/meeting77.html{% endblock %}
{% block content %}<h3>Tuesday, Feb 10, 2004 22:00:00 CET</h3>
<div class="irclog">
<p>[22:00] &lt;jrand0m&gt; &lt;incoming&gt;</p>
<p>[22:00] &lt;jrand0m&gt; 0) hi</p>
<p>[22:00] &lt;jrand0m&gt; 1) testnet status</p>
<p>[22:00] &lt;jrand0m&gt; 2) naming in i2p</p>
<p>[22:00] &lt;jrand0m&gt; 3) minwww and i2cp</p>
<p>[22:00] &lt;jrand0m&gt; 4) i2p.net website</p>
<p>[22:00] &lt;jrand0m&gt; 5) ???</p>
<p>[22:00] &lt;dm&gt; I was thinking the other day, that we could make a .NET interface to I2P. Anyway.. </p>
<p>[22:00] &lt;FireRabbit&gt; well there will be one</p>
<p>[22:00] &lt;madman-away&gt; hello</p>
<p>[22:00] &lt;jrand0m&gt; -1) .net interface would be cool</p>
<p>[22:00] &lt;jrand0m&gt; 0) hi</p>
<p>[22:00] * madman-away is now known as madman2003</p>
<p>[22:00] &lt;jrand0m&gt; hey y'all</p>
<p>[22:00] &lt;wilde&gt; hi</p>
<p>[22:00] &lt;FireRabbit&gt; &lt;-- will write a .net interface</p>
<p>[22:00] &lt;FireRabbit&gt; anyway hi</p>
<p>[22:00] &lt;jrand0m&gt; r0x0r.</p>
<p>[22:00] &lt;dm&gt; awesome</p>
<p>[22:01] &lt;jrand0m&gt; welcome to the 70somethingth meeting</p>
<p>[22:01] &lt;FireRabbit&gt; &lt;-- needs that URL with the client protocol</p>
<p>[22:01] * ion has joined #i2p</p>
<p>[22:01] &lt;jrand0m&gt; i2p.net/ has links to the wiki, you'll probably want to use the tunnelManager</p>
<p>[22:01] &lt;FireRabbit&gt; ok</p>
<p>[22:01] &lt;jrand0m&gt; (people should review http://i2p.dnsalias.net/pipermail/i2p/2004-February/000142.html for this weeks status update)</p>
<p>[22:01] &lt;FireRabbit&gt; and that works good in the latest release?</p>
<p>[22:02] &lt;jrand0m&gt; yup, aum uses it (and i just fixed a bug he was running into a few hours ago)</p>
<p>[22:02] &lt;jrand0m&gt; (specs @ http://wiki.invisiblenet.net/iip-wiki?I2PTunnelManager)</p>
<p>[22:02] &lt;jrand0m&gt; ok, movin' on</p>
<p>[22:02] &lt;jrand0m&gt; 1) testnet status</p>
<p>[22:02] &lt;FireRabbit&gt; okc ool yes,</p>
<p>[22:03] &lt;jrand0m&gt; i hate sounding like a broken record here, but... testnet is making progress.  </p>
<p>[22:04] &lt;jrand0m&gt; we're still not there, but we have multihour sessions without hiccup on the latest build</p>
<p>[22:04] &lt;jrand0m&gt; some setups aren't giving that level of reliability, but some are.  so, we're working on making them all up to speed</p>
<p>[22:04] &lt;FireRabbit&gt; excellent</p>
<p>[22:04] &lt;baffled&gt; We're at least populating the net with animals</p>
<p>[22:05] &lt;jrand0m&gt; hehe</p>
<p>[22:05] &lt;jrand0m&gt; dog, cat, mouse, duck...</p>
<p>[22:05] * wiht has joined #i2p</p>
<p>[22:05] &lt;FireRabbit&gt; rabbit!</p>
<p>[22:05] &lt;baffled&gt; maybe I should become a bafflo</p>
<p>[22:05] &lt;human&gt; human!</p>
<p>[22:05] &lt;jrand0m&gt; !!</p>
<p>[22:05] &lt;jrand0m&gt; #animalfarm</p>
<p>[22:06] &lt;dm&gt; dm</p>
<p>[22:06] &lt;jrand0m&gt; but, yeah, thats basically what i've got to say about the testnet status (beyond whats in that status email)</p>
<p>[22:06] &lt;wilde&gt; people will read the logs offline so stay on topic please</p>
<p>[22:06] &lt;jrand0m&gt; heh sorry dad ;)</p>
<p>[22:07] &lt;jrand0m&gt; i think we're still on track for the roadmap</p>
<p>[22:07] &lt;wiht&gt; How many more testnet releases do you plan to distribute?</p>
<p>[22:07] &lt;jrand0m&gt; (plus i've been getting some future things done while running tests, such as the &gt;2 hop tunnels)</p>
<p>[22:07] &lt;jrand0m&gt; wiht&gt; as many as it takes</p>
<p>[22:08] &lt;jrand0m&gt; we're quite close to being done with this round of the testnet though, in my opinion</p>
<p>[22:08] &lt;dm&gt; isn't &gt;2 hop tunnels just a setting?</p>
<p>[22:08] &lt;jrand0m&gt; yes</p>
<p>[22:08] &lt;jrand0m&gt; but in the past it wasn't well tested</p>
<p>[22:08] &lt;dm&gt; cool</p>
<p>[22:09] &lt;jrand0m&gt; while the testnet has been going on, i've had my own seperate testnet on my laptop doing other things</p>
<p>[22:09] * human is open to suggestions to make the ircmonitor more useful</p>
<p>[22:09] &lt;jrand0m&gt; &lt;dreaming&gt;an http listener to render .png on demand?&lt;/dreaming&gt;</p>
<p>[22:09] &lt;jrand0m&gt; (or just a /msg cat renderPNG)</p>
<p>[22:10] &lt;human&gt; jrand0m: ok, it should be feasible</p>
<p>[22:10] &lt;baffled&gt; I'd still like to see text summaries.</p>
<p>[22:10] &lt;jrand0m&gt; human++</p>
<p>[22:10] &lt;baffled&gt; on the ircmonitor.</p>
<p>[22:10] &lt;jrand0m&gt; yes, (text summaries)++ too</p>
<p>[22:10] &lt;human&gt; jrand0m: i was still thinking to make it use gnuplot to generate graphs (instead of gnu plotutils)</p>
<p>[22:11] &lt;jrand0m&gt; potato, potato</p>
<p>[22:11] &lt;jrand0m&gt; (ah, the glory of accents on irc)</p>
<p>[22:11] &lt;FireRabbit&gt; lol</p>
<p>[22:11] &lt;human&gt; jrand0m, baffled: could you give me an example of a text summary?</p>
<p>[22:11] &lt;baffled&gt; If you leave it with me a bit.</p>
<p>[22:11] * dm read that as "potato, potato"</p>
<p>[22:12] &lt;jrand0m&gt; period: 4 hours avg latency: 5.3s missed messages: 95 missed message frequency: 1 every 49 seconds</p>
<p>[22:12] &lt;jrand0m&gt; (perhaps max &amp; min latency)</p>
<p>[22:12] &lt;human&gt; jrand0m: oh, ok</p>
<p>[22:12] &lt;jrand0m&gt; if thats possible / not too much trouble</p>
<p>[22:13] &lt;jrand0m&gt; (at least thats what i think of when i hear text summary)</p>
<p>[22:13] &lt;wilde&gt; max latency, min latency</p>
<p>[22:13] &lt;mihi&gt; human: look @ the summary i give for the ping tester</p>
<p>[22:13] &lt;mihi&gt; hmm, anyone running an echo server this week?</p>
<p>[22:13] &lt;jrand0m&gt; not to my knowledge</p>
<p>[22:14] &lt;human&gt; jrand0m: it should be feasible - i'll basically make the ircmonitor log more raw data, and then i'll create some utility scripts to generate graphs and/or text summaries</p>
<p>[22:14] &lt;jrand0m&gt; kickass</p>
<p>[22:14] &lt;baffled&gt; Sorry mihi, I've been meaning to set yours up but keep forgetting.</p>
<p>[22:14] &lt;jrand0m&gt; i think this will be a good part of the overall functional testing that will grow with us</p>
<p>[22:15] &lt;jrand0m&gt; ok, do we have anything else for the testnet discussion?</p>
<p>[22:16] * jrand0m moves on to 2) naming in i2p</p>
<p>[22:16] &lt;wilde&gt; what's the biggest issue with testnet right now?</p>
<p>[22:16] &lt;jrand0m&gt; biggest issue in testnet is two fold -</p>
<p>[22:16] &lt;jrand0m&gt; 1) finding and fixing the cause of router disconnect</p>
<p>[22:17] &lt;jrand0m&gt; 2) determining the cause of the frequent inter-ircd disconnects</p>
<p>[22:17] &lt;mihi&gt; 1b) coping w/ the fact that routers may disconnect sometimes</p>
<p>[22:17] &lt;jrand0m&gt; right</p>
<p>[22:17] &lt;jrand0m&gt; well, thats not really part of this testnet.</p>
<p>[22:17] &lt;jrand0m&gt; 0.3.x is a series of updates to deal with unreliable routers</p>
<p>[22:18] &lt;jrand0m&gt; thats really why i've been limiting the # of routers that run on the testnet - I know it acts poorly when routers aren't up most of the time</p>
<p>[22:18] &lt;wiht&gt; So you are assuming reliable routers for now, right?</p>
<p>[22:18] &lt;jrand0m&gt; in the 0.2.3.6 testnet, yes</p>
<p>[22:18] &lt;jrand0m&gt; (it recovers from failure, but not quickly enough)</p>
<p>[22:19] &lt;jrand0m&gt; (more graceful recovery will be with multiple leases per destination, increased peer profiling, replay prevention, and retries on alternate lease targets)</p>
<p>[22:20] &lt;jrand0m&gt; ok, moving towards 2) naming in i2p</p>
<p>[22:21] &lt;jrand0m&gt; wiht brings up the core of the issue - global names are really useful, and people like them</p>
<p>[22:21] &lt;jrand0m&gt; (people who arent familiar with this discussion should review http://i2p.dnsalias.net/pipermail/i2p/2004-February/000135.html and the subsequent replies)</p>
<p>[22:22] &lt;wiht&gt; People are used to them, perhaps more than to local names (such as your ICQ analogy).</p>
<p>[22:22] &lt;jrand0m&gt; i'm not sure.</p>
<p>[22:22] &lt;jrand0m&gt; lets say for instance that my name is John.</p>
<p>[22:22] &lt;jrand0m&gt; John isn't global.</p>
<p>[22:22] &lt;jrand0m&gt; not even John Q. Random is global.</p>
<p>[22:22] &lt;jrand0m&gt; nor is John Q. Random born in 1942 in Argentina.</p>
<p>[22:23] &lt;human&gt; well, it has been said that the naming system could have more than one flavor</p>
<p>[22:23] &lt;jrand0m&gt; thats true </p>
<p>[22:23] &lt;human&gt; people could choose a trusted "registration authority" to pick unique names from</p>
<p>[22:23] &lt;jrand0m&gt; absolutely.</p>
<p>[22:24] &lt;jrand0m&gt; though there is the danger there</p>
<p>[22:24] &lt;wiht&gt; The scheme I originally proposed allows for multiple certification authorities, as I recall.</p>
<p>[22:24] &lt;human&gt; jrand0m: of course, it's the tradeoff between comfort and security</p>
<p>[22:24] &lt;FireRabbit&gt; i think someone should write up a quick "centrlized" dns system for the time being then worry about security</p>
<p>[22:24] &lt;human&gt; jrand0m: :-)</p>
<p>[22:24] &lt;FireRabbit&gt; just to make testing easyer</p>
<p>[22:25] &lt;jrand0m&gt; multiple CAs works more easily without the global naming</p>
<p>[22:25] &lt;wiht&gt; jrand0m: Going back to your example, if you are the first to register jrandom.i2p, another John Random would have to register as jrandom2.i2p, for example.</p>
<p>[22:25] &lt;baffled&gt; There isn't really any problem until a conflict occures right?</p>
<p>[22:25] &lt;jrand0m&gt; FireRabbit&gt; I have a strong feeling that what we start with will stay in place for 12+ months.</p>
<p>[22:25] &lt;jrand0m&gt; correct baffled, in any of the plans</p>
<p>[22:25] &lt;wiht&gt; baffled: That is the problem, yes.</p>
<p>[22:25] &lt;jrand0m&gt; wiht&gt; not if there are multiple CAs</p>
<p>[22:25] &lt;FireRabbit&gt; suppose</p>
<p>[22:25] &lt;wilde&gt; eepsites will be a mess if there is local naming, links will not work</p>
<p>[22:25] &lt;baffled&gt; so you only need an authority in the case of conflict resolution.</p>
<p>[22:26] &lt;jrand0m&gt; yes they will wilde</p>
<p>[22:26] &lt;jrand0m&gt; names to be shared and used by others should be fully qualified - self certified - names</p>
<p>[22:26] &lt;wiht&gt; jrand0m: Could you give an example of a self-certified name?</p>
<p>[22:27] &lt;jrand0m&gt; from my email -   http://i2pref/[base64 of the NameReference]</p>
<p>[22:27] &lt;wilde&gt; so when I link to your site, and there are three jrandoms out there...which one will be used?</p>
<p>[22:28] * human thinks that a decentralized NS without global naming is Good(TM), because it makes people understand the risks of delegating hostname verification and certification</p>
<p>[22:28] &lt;jrand0m&gt; you link with the fully qualified name - which includes the actual Destination *in it*.</p>
<p>[22:28] &lt;jrand0m&gt; (the NameReference structure from my email)</p>
<p>[22:28] &lt;wilde&gt; so it's like base64 linking</p>
<p>[22:28] &lt;jrand0m&gt; right human - it gets rid of that attack point</p>
<p>[22:28] &lt;wiht&gt; So people will have to type many characters again? That seems self-defeating.</p>
<p>[22:28] * madman2003 has quit IRC (EOF From client)</p>
<p>[22:29] &lt;jrand0m&gt; no one types base64 names</p>
<p>[22:29] &lt;jrand0m&gt; (well, maybe mihi does)</p>
<p>[22:29] &lt;jrand0m&gt; &lt;a href="http://i2pref/[base64 of the NameReference]"&gt;jrandom's page&lt;/a&gt;</p>
<p>[22:29] &lt;wiht&gt; Oh. That makes sense.</p>
<p>[22:30] * mihi does not *type* anything he can copy&amp;paste</p>
<p>[22:30] &lt;jrand0m&gt; :)</p>
<p>[22:30] &lt;wilde&gt; ok but basically it's long URLS</p>
<p>[22:30] &lt;jrand0m&gt; within eepsites, yes</p>
<p>[22:30] * dm has quit IRC (Ping timeout)</p>
<p>[22:30] &lt;wilde&gt; k that was the question</p>
<p>[22:30] &lt;jrand0m&gt; there are several other scenarios worth looking at though</p>
<p>[22:31] &lt;jrand0m&gt; such as when people want to browse or search for new sites</p>
<p>[22:31] &lt;jrand0m&gt; those are situations where having servers that contain a lot of name references is useful</p>
<p>[22:31] &lt;baffled&gt; Could I propose the idea of a history server rather than an authority.</p>
<p>[22:31] &lt;jrand0m&gt; history server?</p>
<p>[22:32] &lt;jrand0m&gt; ah, so whoever was first "gets it"?</p>
<p>[22:32] &lt;baffled&gt; If someone adopts a new domain which is used the history server sends a note to that person outlining the original holder and how to contact them.</p>
<p>[22:32] &lt;human&gt; maybe an archive to see how a domain name changed during time?</p>
<p>[22:32] &lt;baffled&gt; The conflict can then be resolved by the two parties providing they are both available.</p>
<p>[22:33] &lt;wiht&gt; baffled: What if the new domain's operator is sleazy and continues to hold that already-taken domain name?</p>
<p>[22:33] &lt;baffled&gt; If one party is not available the the conflict goes o the available party in some amount of time.</p>
<p>[22:33] &lt;human&gt; of course it implies to give some trust to the server operator</p>
<p>[22:33] &lt;wilde&gt; that's just authority but in another way</p>
<p>[22:33] &lt;jrand0m&gt; right</p>
<p>[22:34] &lt;baffled&gt; Any arbitrator is either going to act as an authority.</p>
<p>[22:34] &lt;human&gt; well, using non-global names will make people understand that everything built on top of them will ease their life, but possibly make it less secure</p>
<p>[22:34] &lt;jrand0m&gt; right, right</p>
<p>[22:34] &lt;baffled&gt; I don't expect it will become a major problem.</p>
<p>[22:34] &lt;jrand0m&gt; (but why do we need an arbitrator?  can't there be two johns in the world?)</p>
<p>[22:35] &lt;jrand0m&gt; if i2p is used for commerce or other such activities, I expect the names to be heavily attacked</p>
<p>[22:35] &lt;baffled&gt; If I want jrandom.i2p and jr won't give it up I can always chose jrandom.i3p or put out a contract.</p>
<p>[22:35] &lt;wilde&gt; I vote for the cryptic nameref solution´</p>
<p>[22:35] &lt;wiht&gt; Again, that would be fine, as long as _new_ users would understand the implications and which John they want to contact.</p>
<p>[22:35] &lt;jrand0m&gt; (since someone would be able to hijack and get money, etc)</p>
<p>[22:36] &lt;jrand0m&gt; right - its likely we're always going to bundle some name references with the software</p>
<p>[22:36] &lt;jrand0m&gt; (ala the current hosts.txt)</p>
<p>[22:36] &lt;wiht&gt; One idea we should keep, though, is MrEcho's idea of attaching a timed lease to a reference. That way, domain names can expire.</p>
<p>[22:37] &lt;jrand0m&gt; why would domain names want to expire again?</p>
<p>[22:37] &lt;baffled&gt; They're tired of life?</p>
<p>[22:37] &lt;jrand0m&gt; oh, to replace the Destination included?</p>
<p>[22:37] &lt;jrand0m&gt; heh</p>
<p>[22:38] &lt;wiht&gt; Some because the operators want their domain names for just a day or a month. Others, if domain ownership is transferred to a different destination.</p>
<p>[22:38] &lt;jrand0m&gt; hmm, but without uniqueness, there really isnt such a thing as ownership</p>
<p>[22:38] &lt;jrand0m&gt; its not scarce</p>
<p>[22:38] &lt;jrand0m&gt; and if someone wants to change the dest they listen at, they sign a note with their dest saying "hey, I'm moving over here"</p>
<p>[22:39] &lt;wilde&gt; so the nameref is protected by one key, the destination is another</p>
<p>[22:39] &lt;jrand0m&gt; the nameref is signed by the destination's signing key</p>
<p>[22:40] &lt;wilde&gt; you may want another key just for namerefs if possible</p>
<p>[22:40] &lt;jrand0m&gt; hm, i understand and agree, but that'd mean Destination gets yet another 1024bit segment</p>
<p>[22:40] &lt;wilde&gt; so even if a machine gets compromised you can keep the nameref key on a paper</p>
<p>[22:41] * wiht has quit IRC (Ping timeout)</p>
<p>[22:41] &lt;jrand0m&gt; (and Destination is used all over the place)</p>
<p>[22:41] &lt;jrand0m&gt; hmm not sure I follow the compromised part?</p>
<p>[22:42] &lt;wilde&gt; the destination privkey is on the machine all the time</p>
<p>[22:42] &lt;jrand0m&gt; ah right right</p>
<p>[22:42] &lt;wilde&gt; the nameref private key doesn't to be, they can be kept on paper in the wallet</p>
<p>[22:43] &lt;jrand0m&gt; thats a good point.  perhaps the comment block could be used for that (containing a PGP signature surrounding the Destination's hash)?</p>
<p>[22:43] &lt;wilde&gt; but that maybe overkill</p>
<p>[22:43] &lt;wilde&gt; i just don't like keeping the most valuable keys on the machine if isn't necessary</p>
<p>[22:44] &lt;jrand0m&gt; right - we need the Destination signing key and the destination decryption key, but nothing else, functionally.</p>
<p>[22:44] &lt;jrand0m&gt; hmm</p>
<p>[22:45] &lt;jrand0m&gt; perhaps the name reference could have a 1024bit public key on it as well</p>
<p>[22:45] &lt;jrand0m&gt; and we'd use that to verify via DSA</p>
<p>[22:45] &lt;jrand0m&gt; rather than the destination's public key</p>
<p>[22:45] &lt;jrand0m&gt; yeah, that'd fly</p>
<p>[22:45] &lt;jrand0m&gt; additional 32bytes, but only for nameReference, not for Destination</p>
<p>[22:46] * jrand0m doesnt know why I thought that'd imply it goes in the Destination</p>
<p>[22:46] &lt;wilde&gt; lots of keys :) but extra security and flexibility</p>
<p>[22:46] &lt;jrand0m&gt; right</p>
<p>[22:46] &lt;jrand0m&gt; (though, c'mon, we know everyone is going to keep their key in the same dir)</p>
<p>[22:46] &lt;jrand0m&gt; ((but maybe commerce shops wont))</p>
<p>[22:47] &lt;wilde&gt; you can hand over a "domain" but not the destination, or change to someone elses destination</p>
<p>[22:47] &lt;jrand0m&gt; well, ok.  i wish MrEcho and wiht were here</p>
<p>[22:47] &lt;jrand0m&gt; right</p>
<p>[22:48] &lt;jrand0m&gt; well, this is all fine and good, and I think it'll fly</p>
<p>[22:48] &lt;jrand0m&gt; but it needs to get coded :)</p>
<p>[22:49] &lt;jrand0m&gt; so, well, perhaps we'll have additional discussions about it later, but until that time, hosts.txt it is</p>
<p>[22:49] &lt;wilde&gt; hire some indians</p>
<p>[22:50] * jrand0m /dcc gets a grant to hire a team of 80 to work on i2p</p>
<p>[22:51] &lt;wilde&gt; :)</p>
<p>[22:51] &lt;jrand0m&gt; ok, do we have anything else for naming, or for the time being are we covered?</p>
<p>[22:51] &lt;baffled&gt; Skip on brother.</p>
<p>[22:52] * wiht has joined #i2p</p>
<p>[22:52] * jrand0m does a hop, skip, and a jump to 3) minwww and i2cp</p>
<p>[22:52] &lt;jrand0m&gt; d'oh, wb wiht</p>
<p>[22:52] &lt;baffled&gt; 1, 2, 5 uh 3 sitr.</p>
<p>[22:52] &lt;wiht&gt; I had trouble getting back on IIP network. I will read logs later.</p>
<p>[22:53] &lt;jrand0m&gt; cool wiht, and we can continue later on the list, etc</p>
<p>[22:54] &lt;jrand0m&gt; ok the other day I finally wrote up why I think i2cp is worth looking into using directly, and sketched up a minimal web system for use in i2p (and for proxying outside web pages through i2p)</p>
<p>[22:54] &lt;jrand0m&gt; (reference the wiki at http://wiki.invisiblenet.net/iip-wiki?MinWWW )</p>
<p>[22:56] &lt;jrand0m&gt; for HTTP, the cost of establishing and tearing down TCP/IP connections is small, but over I2P, the difference is between 10 destination to destination messages vs 2</p>
<p>[22:56] * sheer has joined #i2p</p>
<p>[22:56] &lt;duck&gt; did the meeting already start?</p>
<p>[22:57] &lt;jrand0m&gt; yeah, 56 mins ago</p>
<p>[22:57] * jrand0m sends duck to the corner</p>
<p>[22:57] &lt;duck&gt; so I am right on time</p>
<p>[22:57] * wilde has quit IRC (Ping timeout)</p>
<p>[22:57] &lt;jrand0m&gt; heh</p>
<p>[22:57] &lt;baffled&gt; No doubt about it, he's gotta get a new clock.</p>
<p>[22:58] &lt;jrand0m&gt; one part of minwww that I wasn't sure about was whether minwww proxies should automatically also be external gateways as well?</p>
<p>[22:58] * wiht has quit IRC (Ping timeout)</p>
<p>[22:59] &lt;jrand0m&gt; that'd increase the number of outproxies available, decreasing the load</p>
<p>[22:59] &lt;jrand0m&gt; plus with a round robin algorithm tied to the 64/128KB limit, there isn't much likelihood people would use it for large file sharing</p>
<p>[22:59] * wiht has joined #i2p</p>
<p>[23:00] &lt;jrand0m&gt; or should we just have something like a small set list of outproxies (thats periodically updated)?</p>
<p>[23:01] &lt;jrand0m&gt; (or is the idea not worth looking too much into?)</p>
<p>[23:01] * wilde has joined #i2p</p>
<p>[23:02] &lt;jrand0m&gt; (or i've timed out and no one can read anything i've said)</p>
<p>[23:02] &lt;wilde&gt; jrand0m: can see</p>
<p>[23:02] &lt;jrand0m&gt; 'k coo'</p>
<p>[23:02] &lt;baffled&gt; I'll need to understand it better but for now I have another appointment in ten minutes so I'll bbl.</p>
<p>[23:02] &lt;jrand0m&gt; word, l8r</p>
<p>[23:03] &lt;jrand0m&gt; yeah, there's still the absolutely key functionality of i2ptunnel to handle 8bit clean streams</p>
<p>[23:03] &lt;jrand0m&gt; thats necessary for e.g. irc over i2p and such</p>
<p>[23:03] &lt;mihi&gt; jrand0m: don't forget ss[lh]</p>
<p>[23:04] &lt;jrand0m&gt; but for message oriented protocols, such as http, smtp, bittorrent, etc, i2cp may be more appropriate</p>
<p>[23:04] &lt;jrand0m&gt; right, absolutely</p>
<p>[23:04] &lt;jrand0m&gt; (well, more like 'telnet', since ssh over i2p is a bit of an overkill)</p>
<p>[23:04] &lt;wilde&gt; ssh -X</p>
<p>[23:05] &lt;jrand0m&gt; true</p>
<p>[23:05] &lt;jrand0m&gt; (plus certs, etc)</p>
<p>[23:05] &lt;wilde&gt; there is never too much crypto</p>
<p>[23:05] &lt;jrand0m&gt; but if we're pulling web pages through squid in 5-10s, using i2cp would drop that to .5-2s</p>
<p>[23:06] &lt;jrand0m&gt; (without any subsequent tuning of the network, and would reduce overal network load)</p>
<p>[23:06] &lt;wilde&gt; how many man hours does it take to make i2cp?</p>
<p>[23:07] &lt;jrand0m&gt; imho, i2cp has a fairly simple API, bundled into the java i2p SDK</p>
<p>[23:07] &lt;jrand0m&gt; mihi can more fairly say how much effort it is to use / learn it</p>
<p>[23:08] * wiht has quit IRC (Ping timeout)</p>
<p>[23:08] &lt;mihi&gt; it's a bit confusing sometimes (when you have to put a value to the constructor and when to a method after calling default constructor, but w/ i2ptunnel and atalk as examples it should be not too hard.</p>
<p>[23:09] * ion has quit IRC (Ping timeout)</p>
<p>[23:09] &lt;jrand0m&gt; we can obviously improve upon the sdk, i just based it off the JMS api</p>
<p>[23:10] &lt;jrand0m&gt; (and i'd be more than willing to help out anyone who wanted to hack around with it to get familiar)</p>
<p>[23:11] &lt;jrand0m&gt; ok, do we have anything else on the minwww/i2cp?</p>
<p>[23:11] &lt;jrand0m&gt; if not, moving on to 4) i2p.net website</p>
<p>[23:11] &lt;jrand0m&gt; (and there was much rejoicing)</p>
<p>[23:11] &lt;jrand0m&gt; ok</p>
<p>[23:12] &lt;duck&gt; about search functionality</p>
<p>[23:12] &lt;duck&gt; wikipedia uses google for search functionality</p>
<p>[23:12] &lt;jrand0m&gt; thats true. and we're already the #1 result for i2p :)</p>
<p>[23:13] &lt;duck&gt; so a nifty thing might not be needed for searching.</p>
<p>[23:13] &lt;mihi&gt; duck: atm yes ;)</p>
<p>[23:13] &lt;duck&gt; I mean for internal searching</p>
<p>[23:13] &lt;mihi&gt; #1 is www.crestron.com/company_info/i2p/ </p>
<p>[23:13] &lt;jrand0m&gt; ah yeah, i forgot to bribe the pigeons this week</p>
<p>[23:14] &lt;duck&gt; LeaseSet site:wiki.invisiblenet.net</p>
<p>[23:14] &lt;jrand0m&gt; nice</p>
<p>[23:14] &lt;jrand0m&gt; yeah, absolutely.</p>
<p>[23:14] &lt;wilde&gt; drupal has internal search, and you can filter on content types</p>
<p>[23:15] &lt;wilde&gt; it's also VERY google friendly with the clean urls, no index.php?Zillions of arguments</p>
<p>[23:15] &lt;wilde&gt; everything looks like directories</p>
<p>[23:16] * ion has joined #i2p</p>
<p>[23:16] &lt;wilde&gt; ok I've played around with different CMS:s so far and Drupal is my current favourite</p>
<p>[23:16] &lt;duck&gt; I prefer Ian's home-baked solution</p>
<p>[23:16] &lt;duck&gt; :)</p>
<p>[23:16] &lt;jrand0m&gt; what does it use for a backend?  mysql/bdb/txt/?</p>
<p>[23:16] &lt;wilde&gt; it's used by http://kerneltrap.org/ http://www.debianplanet.org/ http://www.linuxgazette.com/</p>
<p>[23:16] &lt;wilde&gt; for example</p>
<p>[23:17] &lt;wilde&gt; it can take heavy loads</p>
<p>[23:17] &lt;wilde&gt; their designs sucks though</p>
<p>[23:17] &lt;wilde&gt; but a nice CSS stylesheet fixes that</p>
<p>[23:17] &lt;wilde&gt; here some other somewhat better looking ones:</p>
<p>[23:17] &lt;duck&gt; The Drupal core platform, additional plug-in modules, and many theme templates are freely available for download under the GNU GPL. Drupal, written in PHP and using either MySQL, PostgreSQL or mSQL as the database backend, can run on many platforms, including Apache or Microsoft IIS web servers.</p>
<p>[23:17] &lt;wilde&gt; http://www.sudden-thoughts.com/</p>
<p>[23:17] &lt;jrand0m&gt; thats an important point - we need to make sure the underlying software can support the design (and the design can be workable on the underlying software)</p>
<p>[23:18] &lt;wilde&gt; http://www.codemonkeyx.net/</p>
<p>[23:18] &lt;wilde&gt; http://www.disguast.org/index.php</p>
<p>[23:18] &lt;wilde&gt; http://trip.ee/</p>
<p>[23:18] &lt;wilde&gt; http://www.blainepeterson.com/image</p>
<p>[23:18] &lt;wilde&gt; .</p>
<p>[23:19] * jrand0m gets the feeling wilde is a raving drupal fan :)</p>
<p>[23:19] &lt;wilde&gt; I'm starting to become that yes, as I like the information management ideas behind it</p>
<p>[23:19] &lt;wilde&gt; everything is a node</p>
<p>[23:20] &lt;wilde&gt; great taxonomy system</p>
<p>[23:20] &lt;wilde&gt; you can create vocabularies for Geographic location, content type, language, etc</p>
<p>[23:20] &lt;wilde&gt; and create custom urls that filters on content those</p>
<p>[23:21] &lt;jrand0m&gt; could it essentially include two blog sections on the homepage?  e.g. one small blog area containing titles of the most recent dev blogs, and the main large seperate blog area containing the most recent i2p announcements?</p>
<p>[23:21] &lt;wilde&gt; and it's updated often and the changes are good</p>
<p>[23:21] &lt;duck&gt; in other words we are stupid that we dont have drupal already</p>
<p>[23:21] &lt;wilde&gt; we have duck</p>
<p>[23:21] &lt;wilde&gt; drupal.i2p.net</p>
<p>[23:21] &lt;jrand0m&gt; :)</p>
<p>[23:21] &lt;wilde&gt; you're so in the 90:s duck</p>
<p>[23:22] &lt;duck&gt; that is good</p>
<p>[23:22] &lt;wilde&gt; the design sucks of course</p>
<p>[23:22] &lt;duck&gt; cause that design is so in the 80:s</p>
<p>[23:22] &lt;jrand0m&gt; lol</p>
<p>[23:22] * wilde mud wrestles with duck</p>
<p>[23:22] &lt;jrand0m&gt; right, there are 3 different things that need to get worked out - the tech, the IA, and the graphic design</p>
<p>[23:23] &lt;wilde&gt; you could try the user interface</p>
<p>[23:23] &lt;wilde&gt; login: test pw: test</p>
<p>[23:23] &lt;duck&gt; warning: Bad arguments to implode() in /var/www/html/i2p/modules/project/issue.inc on line 360.</p>
<p>[23:23] &lt;duck&gt; user error: You have an error in your SQL syntax near ') AND (p.state = 1 OR p.state = 2) ' at line 1</p>
<p>[23:23] &lt;duck&gt; query: SELECT COUNT(*) FROM project_issues p LEFT JOIN node n USING (nid) WHERE n.status = 1 AND () AND (p.state = 1 OR p.state = 2)  in /var/www/html/i2p/includes/database.mysql.inc on line 90.</p>
<p>[23:23] &lt;jrand0m&gt; search still doesn't work wilde, right?</p>
<p>[23:24] &lt;duck&gt; user error: You have an error in your SQL syntax near ') AND (p.state = 1 OR p.state = 2) ORDER BY n.changed DESC LIMIT 0, 20' at line 1</p>
<p>[23:24] &lt;jrand0m&gt; oh nice1 duck</p>
<p>[23:24] &lt;duck&gt; query: SELECT n.nid FROM project_issues p LEFT JOIN node n USING (nid) WHERE n.status = 1 AND () AND (p.state = 1 OR p.state = 2) ORDER BY n.changed DESC LIMIT 0, 20 in /var/www/htm</p>
<p>[23:24] &lt;duck&gt; sucky</p>
<p>[23:24] &lt;jrand0m&gt;  AND () AND</p>
<p>[23:24] &lt;wilde&gt; whoops, i had some problems with search i must admint</p>
<p>[23:25] &lt;duck&gt; .</p>
<p>[23:25] &lt;wilde&gt; there is some full text indexing cron script not yet configured</p>
<p>[23:25] &lt;wilde&gt; 2 minutes and duck crashed my life work</p>
<p>[23:25] &lt;jrand0m&gt; (!hi5 duck)</p>
<p>[23:26] &lt;jrand0m&gt; but i do think its worth looking at</p>
<p>[23:26] &lt;wilde&gt; what did you do duck?</p>
<p>[23:26] &lt;jrand0m&gt; i don't know if we're at the point where we want to commit to some CMS yet</p>
<p>[23:26] &lt;wilde&gt; no</p>
<p>[23:26] &lt;jrand0m&gt; (s/some/some specific/)</p>
<p>[23:27] &lt;duck&gt; jrand0m did already make an overview of the requires features didnt he</p>
<p>[23:27] &lt;jrand0m&gt; http://i2p.dnsalias.net/pipermail/i2p/2004-February/000133.html</p>
<p>[23:27] &lt;duck&gt; so now all parties should come with proposals and the price</p>
<p>[23:28] &lt;duck&gt; ofcourse the winning solution will be paid in i2p stocks</p>
<p>[23:28] &lt;jrand0m&gt; which, let me tell you, is quite valuable</p>
<p>[23:28] &lt;jrand0m&gt; *cough*</p>
<p>[23:29] &lt;jrand0m&gt; you'll get your own @i2p.net email</p>
<p>[23:29] &lt;jrand0m&gt; and chicks will love you</p>
<p>[23:29] &lt;jrand0m&gt; (or guys, whatever)</p>
<p>[23:30] &lt;wilde&gt; we had some CMS options</p>
<p>[23:30] &lt;wilde&gt; we should go for some CMS</p>
<p>[23:30] &lt;wilde&gt; and wiki isn't really a long term solution</p>
<p>[23:30] &lt;jrand0m&gt; yeah some listed in point 4 @ http://i2p.dnsalias.net/pipermail/i2p/2004-February/000142.html</p>
<p>[23:30] &lt;jrand0m&gt; agreed, for the website itself</p>
<p>[23:31] &lt;jrand0m&gt; a wiki based section of the site might be good though, perhaps for the user guide / hackers guides</p>
<p>[23:31] &lt;jrand0m&gt; (but not for everything)</p>
<p>[23:32] &lt;wilde&gt; what about the hosting?</p>
<p>[23:32] &lt;jrand0m&gt; there's always the 53 entries at http://dmoz.org/Computers/Software/Internet/Site_Management/Content_Management/Open_Source/</p>
<p>[23:32] &lt;wilde&gt; it should survive a slashdot</p>
<p>[23:32] &lt;jrand0m&gt; hosting?  </p>
<p>[23:32] &lt;jrand0m&gt; ah, right.</p>
<p>[23:33] &lt;jrand0m&gt; thats actually a really huge draw of plain HTML in and of itself</p>
<p>[23:33] &lt;jrand0m&gt; (dirt easy to mirror)</p>
<p>[23:33] &lt;wilde&gt; and on</p>
<p>[23:33] &lt;wilde&gt; http://www.oscom.org/</p>
<p>[23:33] &lt;jrand0m&gt; i2p.net is at a colo that is used by several large sites</p>
<p>[23:34] &lt;jrand0m&gt; ah right</p>
<p>[23:34] * jrand0m would love if people would keep at it and find the Right solution</p>
<p>[23:35] &lt;wilde&gt; http://www.opencms.org/ is interesting</p>
<p>[23:35] &lt;wilde&gt; but's maybe too corporate</p>
<p>[23:35] &lt;wilde&gt; with workflows, projects, etc</p>
<p>[23:35] &lt;wilde&gt; I really liked, used it for one project</p>
<p>[23:36] &lt;jrand0m&gt; interesting</p>
<p>[23:36] &lt;wilde&gt; but its java ;)</p>
<p>[23:36] &lt;jrand0m&gt; hmm, and xml</p>
<p>[23:36] &lt;wilde&gt; jsp templates etc</p>
<p>[23:36] &lt;wilde&gt; tomcat</p>
<p>[23:36] &lt;jrand0m&gt; (or jetty)</p>
<p>[23:36] &lt;jrand0m&gt; ((or resin))</p>
<p>[23:37] &lt;duck&gt; (((lisp)))</p>
<p>[23:37] &lt;wilde&gt; I would never use if for this project, it's really too heavy</p>
<p>[23:37] &lt;jrand0m&gt; wilde&gt; would you be willing to look over the main CMSes and map out pros and cons?</p>
<p>[23:38] &lt;wilde&gt; i have :), and chose Drupal ;)</p>
<p>[23:38] * jrand0m should have known</p>
<p>[23:38] &lt;wilde&gt; I've tried about ten of the major ones</p>
<p>[23:38] &lt;wilde&gt; for some earlier projects</p>
<p>[23:38] &lt;wilde&gt; different CMS works for different projects</p>
<p>[23:39] &lt;duck&gt; so say drupal is used</p>
<p>[23:39] &lt;wilde&gt; Zope and friends are nice too</p>
<p>[23:39] &lt;duck&gt; is the structure clear?</p>
<p>[23:39] &lt;duck&gt; is the next step doing the gui?</p>
<p>[23:40] &lt;wilde&gt; it's really just a CSS template that's needed for the gui, some changes to the xtemplate to prettify things</p>
<p>[23:41] &lt;wilde&gt; www.csszengarden.com could be an inspiration</p>
<p>[23:41] &lt;jrand0m&gt; wilde&gt;  could it essentially include two blog sections on the homepage?  e.g. one small blog area containing titles of the most recent dev blogs, and the main large seperate blog area containing the most recent i2p announcements?</p>
<p>[23:41] &lt;jrand0m&gt; basically I want to avoid dev blog entries pushing news &amp; announcements off the main stage</p>
<p>[23:42] &lt;wilde&gt; jrand0m: don't know, gonna check, blogs doesn't have to go front page, i configured it that way</p>
<p>[23:42] &lt;jrand0m&gt; ah cool</p>
<p>[23:42] &lt;wilde&gt; we can change to just stories go front page</p>
<p>[23:42] &lt;wilde&gt; everything that is a node could be frontpage, polls, stories, book pages, articles etc,</p>
<p>[23:43] &lt;jrand0m&gt; would it be possible to have stories at the top, with latest N blog entries below?</p>
<p>[23:43] * jrand0m stops micromanaging</p>
<p>[23:43] &lt;wilde&gt; blogs are linked to the bottom left right now,</p>
<p>[23:44] * godmode0 has joined #i2p</p>
<p>[23:44] &lt;wilde&gt; there are nice galleries as plugin, good for screenshots</p>
<p>[23:44] &lt;jrand0m&gt; word</p>
<p>[23:44] &lt;wilde&gt; the filestore plugin would be nice too</p>
<p>[23:45] &lt;wilde&gt; and more cvs, developer plugins too</p>
<p>[23:45] &lt;wilde&gt; and mailinglist</p>
<p>[23:45] &lt;jrand0m&gt; I'm no CMS expert, and it sounds like you've done your homework and are enthusiastic about it</p>
<p>[23:45] &lt;jrand0m&gt; w0ah nice</p>
<p>[23:45] &lt;wilde&gt; jrand0m: i need people pulling the brake for me sometimes :)</p>
<p>[23:46] &lt;wilde&gt; but the design really must be fixed, who are the design gurus here?</p>
<p>[23:46] * wilde can't stand poor design, wikis and current drupal kills him</p>
<p>[23:46] * jrand0m points at DrWoo and frontier</p>
<p>[23:46] &lt;wilde&gt; anyone here now?</p>
<p>[23:47] &lt;duck&gt; no, I left</p>
<p>[23:47] * jrand0m stares at the lurkers</p>
<p>[23:47] &lt;wilde&gt; so what should the site communicate?</p>
<p>[23:47] &lt;duck&gt; http://i2p.dnsalias.net/pipermail/i2p/2004-February/000133.html</p>
<p>[23:47] &lt;wilde&gt; this is a bit broader, we have marketing and donations to think of</p>
<p>[23:48] &lt;jrand0m&gt; (what duck said)</p>
<p>[23:48] &lt;wilde&gt; yeah i've read that, but we are more people here :)</p>
<p>[23:48] &lt;jrand0m&gt; :)</p>
<p>[23:48] &lt;duck&gt; but the puny humans dont matter!</p>
<p>[23:48] * wilde attaches to the borg collective</p>
<p>[23:49] &lt;jrand0m&gt; obviously one of the things I'd like the web site to communicate is "hey, this is a kickass project, you devs should join us and work for the revolution"</p>
<p>[23:49] &lt;duck&gt; ok; I am falling asleep</p>
<p>[23:49] &lt;duck&gt; enjoy</p>
<p>[23:49] &lt;jrand0m&gt; heh cool duck, g'night</p>
<p>[23:49] &lt;duck&gt; wilde: cool work on the CMS stuff</p>
<p>[23:49] * wilde remembers the thing about 80:s design, 5 months of work!</p>
<p>[23:50] &lt;jrand0m&gt; well, good thing we have 2 months then ;)</p>
<p>[23:50] &lt;wilde&gt; night duck</p>
<p>[23:50] &lt;duck&gt; oh yes, the design should BEG for peer reviews and useful comment</p>
<p>[23:50] * ion has quit IRC (Ping timeout)</p>
<p>[23:50] &lt;jrand0m&gt; agreed</p>
<p>[23:50] &lt;wilde&gt; about the toopie</p>
<p>[23:51] &lt;jrand0m&gt; i like 'im, he's humorous, simple, and topical</p>
<p>[23:51] &lt;wilde&gt; doesn't toopie look a bit ... hmm... stupid </p>
<p>[23:51] &lt;jrand0m&gt; (and he can serve as an icon with nearly any purpose)</p>
<p>[23:51] * ion has joined #i2p</p>
<p>[23:51] &lt;wilde&gt; he squints</p>
<p>[23:52] &lt;jrand0m&gt; heh i think we can wrestle up a top-left-logo-quality toopie</p>
<p>[23:52] &lt;jrand0m&gt; there've been a lot of revs going around for different purposes</p>
<p>[23:53] &lt;wilde&gt; i like him, but he must meet a personality consultant</p>
<p>[23:53] * jrand0m suggests bouncing some ideas off DrWoo, both for the design and toopie stuff</p>
<p>[23:54] &lt;wilde&gt; agreed</p>
<p>[23:54] &lt;wilde&gt; ok maybe we should leave it there</p>
<p>[23:54] &lt;jrand0m&gt; there's no rush, lots to digest and churn through</p>
<p>[23:54] &lt;wilde&gt; but please it you find this new kickass CMS, scream out</p>
<p>[23:54] &lt;duck&gt; can we have this as background: http://www.artchive.com/artchive/B/bruegel/death.jpg</p>
<p>[23:55] &lt;jrand0m&gt; but I agree with duck, nice work setting up a drupal to work off</p>
<p>[23:55] &lt;jrand0m&gt; that is so going straight to my desktop</p>
<p>[23:55] &lt;jrand0m&gt; wow I wonder what text over that would look like</p>
<p>[23:55] &lt;wilde&gt; cool picture</p>
<p>[23:55] &lt;jrand0m&gt; actually, on that note, 5) ???</p>
<p>[23:56] &lt;jrand0m&gt; anyone have anything else to add?</p>
<p>[23:56] * jrand0m prods the peanut gallery</p>
<p>[23:56] &lt;wilde&gt; it's been very quiet in here today</p>
<p>[23:56] &lt;wilde&gt; everyone comes here to listen to messiah Jrandom</p>
<p>[23:57] &lt;duck&gt; 2h is a bit longish</p>
<p>[23:57] &lt;mihi&gt; *ggg*</p>
<p>[23:57] * jrand0m is just here for the beer</p>
<p>[23:57] &lt;duck&gt; maybe you could try 2 weekly meetings of 30 min each</p>
<p>[23:57] &lt;wilde&gt; nah</p>
<p>[23:57] &lt;duck&gt; and then the layoffs at friday afternoon</p>
<p>[23:57] &lt;wilde&gt; that's too often</p>
<p>[23:58] &lt;jrand0m&gt; i do think 2h meetings are very excessive</p>
<p>[23:58] &lt;jrand0m&gt; (unless they're specifically topical.  e.g. a meeting discussing the web page design, or some router functionality, etc)</p>
<p>[23:58] &lt;jrand0m&gt; (hey look, we're meta)</p>
<p>[23:59] &lt;jrand0m&gt; perhaps I should shut up more and limit it to 1h?</p>
<p>[23:59] &lt;jrand0m&gt; or perhaps the bulk of the 'meeting' should go to the mailing list, with #i2p for discussion?</p>
<p>[23:59] * godmode0 has quit IRC (Ping timeout)</p>
<p>[23:59] &lt;wilde&gt; the mailinglist could be used more for discussions</p>
<p>Session Time: Wed Feb 11 00:00:00 2004</p>
<p>[00:00] &lt;duck&gt; I think that the heavy email pre-logs are already good</p>
<p>[00:01] &lt;jrand0m&gt; so maybe the weekly meetings turn more into "ok guys, whats up?  anyone have anything to discuss?"</p>
<p>[00:01] &lt;jrand0m&gt; (but open ended meetings like that are a danger in and of themselves)</p>
<p>[00:01] * godmode0 has joined #i2p</p>
<p>[00:02] &lt;jrand0m&gt; ok, maybe we can move this meta to the list or to later</p>
<p>[00:02] &lt;jrand0m&gt; we've already broken the 2h mark</p>
<p>[00:02] &lt;jrand0m&gt; so...</p>
<p>[00:02] * jrand0m winds up...</p>
<p>[00:02] &lt;fidd&gt; :)</p>
<p>[00:02] * jrand0m *baf*s the meeting closed</p>
</div>
{% endblock %}