{% extends "_layout.html" %}
{% block title %}Monotone{% endblock %}
{% block content %}<p>The I2P sourcecode is kept in several distributed monotone repositories.
See the
<a href="http://www.monotone.ca/">Monotone website</a> for information
on monotone.
See
<a href="http://forum.i2p.net/viewtopic.php?t=2524">this forum post on i2p monotone</a>
for more information on how to get started and check out the source anonymously.
</p>

<p>
If you want to get the source non-anonymously, pull from the public server mtn.welterde.de.
The i2p source code branch is "i2p.i2p".
</p>

<h2>Guide</h2>
<pre>
  {% include "transition-guide.txt" %}
</pre>

{% endblock %}
