{% extends "_layout_it.html" %}
{% block title %}New Developer's Guide{% endblock %}
{% block content %}
Semplice guida per iniziare.
<ul>
<li>
Non siete pronti ancora per lavorare sul codice?
Provate, prima a <a href="getinvolved.html">getting involved</a>.

<li>
Per iniziare a sviluppare i2p router o applicazioni integrate,
imparate il Java, amate il Java :)

<li>
Leggete <a href="how_intro.html">l'introduzione del funzionamento</a>,
anche <a href="how.html">altri documenti</a>,
anche <a href="techintro.html">introduzione tecnica</a>,
e tutti gli altri documenti associati.

<li>
Per iniziare a sviluppare i2p router o applicazioni integrate,
procuratevi la repository sorgente dal server monotone - Istruzioni:
<ul>
<li>Installate <a href="http://www.monotone.ca/">monotone (la pagina è in inglese)</a>
<li>Abilitate un tunnel, tramite i2ptunnel, alla porta 8998 che punta all'indirizzo mtn.i2p2.i2p
<li>tramite la console scrivete: mtn -d i2p.mtn db init
<li>tramite la console scrivete: mtn -d i2p.mtn pull 127.0.0.1:8998 i2p.i2p
<li>tramite la console scrivete: mtn -d i2p.mtn co --branch=i2p.i2p
</ul>
Accesso non-anonimo: mtn.i2p2.de:4691 o mtn.i2p-projekt.de:4691
<br>
"Ramo" del sito: usate i2p.www al posto di i2p.i2p.
<br>
Lista completa dei rami: controllate <a href="http://stats.i2p/cgi-bin/viewmtn/">questo</a> indirizzo.
<br>
Versione completa della guida: controllate questa <a href="monotone.html">pagina</a>.

<li>
Per compliare il codice, avete bisogno del Sun Java Development Kit 5 o maggiore, o un JDK equivalente
(<a href="http://java.sun.com/javase/downloads/index.jsp">Sun JDK 6</a> fortemente raccomandato) e
<a href="http://ant.apache.org/">Apache ant</a>
versione 1.7.0 o maggiore.

<li>
Per creare o lavorare sulle traduzione della console, avete bisogno
di xgettext, msgfmt, e msgmerge tools, che potete prelevare da
<a href="http://www.gnu.org/software/gettext/">questa pagina</a>.

<li>
Per sviluppare nuove applicazioni,
leggete la<a href="applications">guida su come creare nuove applicazioni</a>.

<li>
Guardate <a href="http://zzz.i2p/forums/3">zzz's TODO lists</a>, 
<a href="todo.html">TODO list di questo sito</a> o
<a href="http://trac.i2p2.de/report/2">Trac</a> 
per idee.

<li>
Salutate gli sviluppatori nel canale irc #i2p

<li>
Controllate il seguente <a href="licenses.html">link</a> per
conoscere i requisit per ricevere i privilegi di commit.

<li>
Versione corta su come creare le chiavi che avete intenzioni di usare per eseguire i commit:
<ul>
<li>mtn genkey yourname-transport@mail.i2p <i>(non usate nessuna passphrase)</i>
<li>mtn genkey yourname@mail.i2p <i>(usate una passphrase)</i>
<li>mtn pubkey yourname-transport@mail.i2p <i>(<a href="mailto:mtn@welterde.de">send</a> this to a mtn repo operator to get push privileges)</i>
<li>mtn pubkey yourname@mail.i2p <i>(inviatela a un release manager per ricevere i privilegi di commit)</i>
<li>mtn ci -k yourname@mail.i2p <i>(check in usando questa chiave)</i>
<li>mtn sync -k yourname-transport@mail.i2p <i>(per eseguire il push/pull/sync usate questa chiave)</i>
</ul>
Versione completa della guida: controllate questa <a href="monotone.html">pagina</a>.


</ul>
{% endblock %}
