{% extends "_layout_de.html" %}
{% block title %}Namensgebung der Packete{% endblock %}
{% block content %}
<p>H&auml;lt einen Standardweg zum Abfragen des lokalen Namensgebungsservices
bereit, um einen Namen in eine {@link net.i2p.data.Destination} aufzul&ouml;en
(ohne die Komplexit&auml;t von JNDI).  
Die Standardimplementation ist ein einfaches System aus einer hosts.txt Datei,
wobei dieses &uuml;bergangen werden kann, in dem man die Umgebungsvariable
"i2p.naming.impl" auf den entsprechenden Klassennamen setzt.</p>
{% endblock %}
