{% extends "_layout_de.html" %}
{% block title %}Datagram Package{% endblock %}
{% block content %}
<p>H&auml;lt einen Standardweg zum Lesen und Schreiben von &uuml;ber I2P
transportierten Nachrichten bereit, damit der Empf&auml;nger einen 
authentifizierten Mechanismus zum Beantworten derselben hat. Dieses
ist notwendig, da die Standard I2P Nachrichten, die &uuml;ber 
{@link net.i2p.client.I2PSession#sendMessage} gesendet werden, keine 
"von" Adresse haben. Und das hinzuf&uuml;gen einer Klartext "von" Adresse
ist unsicher, da dieses manipuliert werden kann. Eine Anwendung, die 
sicher wissen muss, von wem eine Nachricht stammt, sollte die 
{@link net.i2p.client.datagram.I2PDatagramDissector} nutzen um die von
{@link net.i2p.client.I2PSession} empfangenen Klartext Nachricht zu
bearbeiten und mit der Ausgabe die {@link net.i2p.client.datagram.I2PDatagramMaker}
nutzen zum bauen einer Nachricht, die geparst werden kann. </p>

<p>Das hier implementierte Datagramm Format inkludiert die {@link net.i2p.data.Destination}
des Senders, die Nutzdaten und einen Hash der Nutzdaten (signiert mit dem 
{@link net.i2p.data.SigningPrivateKey} des Senders).</p>
{% endblock %}
