{% extends "_layout_de.html" %}
{% block title %}Protokoll Schichten{% endblock %}
{% block content %}

<p>
hier ist der Aufbau der Protokollschichten f&uuml;r I2P.
<p>

<table border=1>
<tr>
<td>Standardanwendungen
<td>Jetty, Apache, Monotone, CVS, browsers
<td>&nbsp;

<tr>
<td>Andere I2P Anwendungen
<td align="center">Syndie, EepGet
<td>&nbsp;

<tr>
<td>SAM/BOB Anwendungen
<td>
<td align="center">IMule, i2p-bt, i2prufus, Robert

<tr>
<td>Proxy Anwendungen
<td align="center">HTTP Klient/Server, IRC Klient, SOCKS
<td>Streamr

<tr>
<td>Interface Anwendungen
<td align="center"><a href="i2ptunnel_de.html">I2PTunnel</a>
<td align="center"><a href="sam_de.html">SAM</a>
/
<a href="samv2_de.html">SAMv2</a>
/
<a href="samv3.html">SAMv3</a>
(*), BOB

<tr>
<td>Java Anwendungen
<td align="center">i2psnark, Syndie, i2phex
<td>&nbsp;

<tr>
<td>End-to-End Transport
<td align="center"><a href="streaming_de.html">Streaming Bibliothek</a>
<td align="center"><a href="datagrams_de.html">Datagramme</a>

<tr>
<td>Client Protokoll
<td align="center" colspan=2><a href="i2cp_de.html">I2CP</a>

<tr>
<td>Network Protokoll
<td align="center" colspan=2><a href="i2np_de.html">I2NP</a>

<tr>
<td>Garlic Verschl&uuml;sselung
<td align="center" colspan=2><a href="how_elgamalaes_de">ElGamal/AES+SessionTag</a>

<tr>
<td>Tunnel Nachrichten
<td align="center" colspan=2><a href="tunnel-alt.html#tunnel.preprocessing">Tunnel Nachrichten</a>

<tr>
<td>Tunnel Nachicht Verschl&uuml;sselung
<td align="center" colspan=2><a href="techintro.html#op.crypto">AES256/CBC</a>

<tr>
<td>Transport
<td align="center"><a href="ntcp_de.html">NTCP</a>
<td align="center"><a href="udp_de.html">SSU</a>

<tr>
<td>Transport Verschl&uuml;sselung
<td align="center" colspan=2><a href="techintro.html#op.crypto">AES256/CBC</a>

<tr>
<td>
<td align="center">Java NIO TCP
<td align="center" rowspan=2>UDP

<tr>
<td>OS
<td align="center">TCP

</table>
<p>
* Hinweis: SAM/SAMv2 kann sowohl die Streaming Bibliothek als auch Datagramme nutzen.

{% endblock %}
