{% extends "_layout.html" %}
{% block title %}0.9.8.1 Release{% endblock %}
{% block content %}

<p>0.9.8.1 fixes a problem with updating to 0.9.8 on Windows for some people.
New installs and non-Windows platforms are not affected, however all platforms
will automatically update even if running 0.9.8.
See the <a href="http://trac.i2p2.de/ticket/1056">trac ticket</a> for details and workarounds
(<a href="http://trac.i2p2.i2p/ticket/1056">I2P link</a>).
See <a href="release-0.9.8.html">the 0.9.8 release notes</a> for information on IPv6 and other changes.
</p>
<p>
Due to recent attacks, logins are disabled on <a href="http://trac.i2p2.de/">trac</a> and new registrations are disabled on
<a href="http://zzz.i2p/">zzz.i2p</a>. Until those services are restored, please report all bugs on IRC freenode or IRC2P #i2p-dev.
</p>

<b>
SHA256 Checksums:
</b>
<pre>

   e4a0a5929f20a5e176aad1ba4fe85d6c321c06fbc802cd715970ec380bb9e4fe  i2pinstall_0.9.8.1_windows.exe
   8b933d55622743e3692585d09a1393a898dfd3d8c8f4c7f489adc23981273d30  i2pinstall_0.9.8.1.jar
   315072afc19b254a67062affe8b4515198ff64ecfcb4292b5f58b83975b3a1c3  i2psource_0.9.8.1.tar.bz2
   a340f84b5893ba0f193ec86e09f15c0ef724735eafb4c67c090f23be020b24ab  i2pupdate_0.9.8.1.zip
   15d135f9923337df2092e42b9c5aa6ba5904b39c5ff403eef235843b1957b942  i2pupdate.su2
   d9902504d63556fa63a503fd088185dbbf3ace8b80e14dd4482b30e56b11f8d6  i2pupdate.sud

</pre>

{% endblock %}
