{% extends "_layout.html" %}
{% block title %}0.6.1.32 Release{% endblock %}
{% block content %}
<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

I2P release 0.6.1.32
=====================

The 0.6.1.32 release contains several bugfixes,
a new tunnel build algorithm from zzz which regulates
the intensity of tunnel building according to previous levels
of tunnel build success, and other performance improvements.

This release is backward compatible, and if you already have
0.6.1.31 installed, it will recognize the signature
on the signed update file (so you can update automatically).

However, to ensure better distribution of load
between our 3 signed update servers, I recommend that you
perform the following optional check:

* Open the update configuration page on:
http://localhost:7657/configupdate.jsp

* If you see 3 update URLs, no action is needed.
If you see one update URL, open the advanced configuration
page on http://localhost:7657/configadvanced.jsp
and delete the configuration entry beginning with
"router.updateURL=". Then click "Apply", and default
configuration should take effect for update URLs.

* Please note that since 0.6.1.31, configuration entries
may span multiple lines, so please double-check
where the next entry begins, to avoid damaging it!

As customary, for people who don't have the option
of checking GPG signatures, supplied below are the
SHA1 hashes of released files: 

dec477401dc4f5ac98a5e50e107fe2ccc1431ce5 i2pinstall-0.6.1.32.exe
a385d6456df6835d4dc6aec146a51e266e91fbe6 i2pheadless-0.6.1.32.tar.bz2
0c2eac42c21bdbc7c877dfc0b4e9430a34f7457f i2psource-0.6.1.32.tar.bz2
5b3157096ac5a7af81e9b0555aadc7738c22d79d i2pupdate-0.6.1.32.zip
c8300278277e5769d542864b821045c5e9285da2 i2pupdate.sud

Best wishes,
Complication.
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1.4.6 (GNU/Linux)

iD8DBQFH0uMZ+h38a3n8zjMRAu11AJ4zcKwS7flj2aGEJOhA/uuvzfE7OgCfdZZD
E+npcvwX3Y4q5oAD4t9RUBI=
=EaFf
-----END PGP SIGNATURE-----
</pre>
{% endblock %}
