{% extends "_layout_fr.html" %}
{% block title %}Version 0.8.6{% endblock %}
{% block content %}
Traduction de mai 2011. <a href="release-0.8.6.html">Version anglaise actuelle</a>
<p>
Cette version 0.8.6 apporte plus de protections pour la sélection des pairs en vue de résister aux attaquants dotés de 
moyens élevés, ainsi que des ajustements pour prendre en compte la récente croissance rapide du réseau.
La mise à jour est recommandée.
</p><p>
Merci de participer à la croissance du réseau.
<a href="http://www.i2p2.de/getinvolved_fr.html">Engagez-vous</a>,
passez le mot,
et <a href="http://www.i2p2.de/donate_fr.html">faites un petit geste</a>!
Si vous trouvez un bogue, merci d'enregistrer un rapport sur <a href="http://trac.i2p2.de/report/1">trac</a>.
Nous cherchons toujours de l'aide pour la traduction. Merci de vous signaler sur IRC #i2p-dev.
</p>

<p>Les fichiers sont disponibles <a href="/download_fr.html">ici.</a></p>

<p>
<b>Détails de cette version:</b>


<p>* Troncature des blanc de fin des réponses UPnP malformées des appareils
<br />* Correction du défaut de créations excessives de tunnels
<br />* Modifications de l'organisation et de la sélection des pairs pour résister à l'énumération et à la manipulation du 
groupe des pairs rapides par les attaquants
<br />* Augmentation du groupe des diffuseurs et diminution du temps d'expiration de 'router info' pour prendre en compte 
la récente croissance du réseau</p>





<p>
<b>
Sommes de contrôle SHA256:
</b>
<pre>
    0bd9927d607d2ac9986732b29b1c4b15a0fbb3521b2fa14dded10d5a57333efc  i2pinstall_0.8.6.exe
    d784ab7ccfdf60f7ad71d625cd88c88c9290d3aeecfa419e03a7930e3faa72d0  i2psource_0.8.6.tar.bz2
    e7153b4635c79b5c2592adb7597e4c4fd8bc38c87fb34925fad6a965f4d83de8  i2pupdate_0.8.6.zip
    28af7bc483e6ae91325771ce368ba28cb65ccdafef739336454720578864f326  i2pupdate.su2
    dcff98e499122b7b6fc4e7dd7fddb1d8a45684460246da5b4eb5eeb3b1ed351f  i2pupdate.sud


</pre>
</p>
{% endblock %}
