{% extends "_layout.html" %}
{% block title %}0.7.8 发布{% endblock %}
{% block content %}
<p>
0.7.8 控制台增加包括中文在内的多语言支持，调整
FloodFill支持更大的网络规模，对于新装用户，安装时(升级除外)随机选择初始端口，更多性能改进降低内存与CPU消耗，另外修复了一些错
误。</p><p>
推荐用户尤其是 0.7.6 及更早版本的用户尽快升级。
反馈请到 IRC #i2p 或论坛 <a href="http://forum.i2p2.de/">forum.i2p</a>
欢迎 <a href="http://www.i2p2.de/getinvolved.html">参与</a>
或 <a href="http://www.i2p2.de/donate.html">捐助</a>!
我们也在寻找翻译志愿者，有兴趣请来IRC #i2p.
</p>

<p>
详细信息:

<p><strong>网络数据库</strong></p>

<p>- 部分的在网络数据库重新引入Kademlia
<br />- 调整种子路由限制
<br />- 修复RouterInfo验证</p>

<p><strong>控制台多语言支持</strong></p>

<p>- 支持以PO文件为基础的界面翻译，初期字符串标记工作由Walking完成.

<br />- 支持HTTP错误页面翻译.
<br />- 添加中文翻译(感谢"walking")
<br />- 添加法语翻译(感谢"neutron")
<br />- 德语翻译(感谢"echelon")
<br />- 附属程序的翻译(i2psnark, i2ptunnel, susimail, susidns)将在未来的版本中完成
<br />- 期待更多语言的加入</p>

<p><strong>流支持</strong></p>

<p>- 改进ACK请求的处理，帮助改善速度.</p>

<p><strong>节点信息</strong></p>

<p>- 保存netdb性能统计
<br />- 减少非种子节点的储存降低2MB内存</p>

<p><strong>传输</strong></p>

<p>- 新装I2P的端口设置将使用9000-32000范围内的随机端口。老用户建议修改设置使用8887以外的端口.</p>

<p><strong>I2PSnark(BT客户端)</strong></p>

<p>- 分片体积由1MB增至2MB</p>

<p><strong>其他</strong></p>

<p>- 代码清理减小安装包体积与内存占用
<br />- 控制台清理</p>


<p>
SHA256 校验值:
<pre>
e0a3efbcba2e58aed97e7246fe3a604809ebf90ecdc3b274e000401fd743adc0  i2pinstall_0.7.8.exe
12df213cc9602f646d81f66103aed9e5d7123373d90302611fc29711c2e81cec  i2psource_0.7.8.tar.bz2
13f5659f59f3f6bd3a8fcd803c39074583ef169454d28e10665285af1adfb445  i2pupdate_0.7.8.zip
94b805afb93f659e2896ed3b1607133bd5fcc9568198acc6c5970b3d2bb53481  i2pupdate.sud
</pre>
</p>
{% endblock %}
