{% extends "_layout.html" %}
{% block title %}0.6.5 Release{% endblock %}
{% block content %}
<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

I2P release 0.6.5
=====================

The 0.6.5 release introduces new components,
drops some old ones (like the old TCP transport)
and has been optimized to perform better.

The BOB (Basic Open Bridge) protocol is introduced,
for use by client applications which cannot import
I2CP libraries directly. This deprecates the old
SAM protocol which was previously used in such cases.
For now however, BOB is not started automatically yet on
new installations, and SAM remains active on old installations.

Improved code should be better at preventing congestion
by probabalistically dropping participating traffic,
and likewise behave better when congestion occurs.
The floodfill NetDB should operate more reliably,
the streaming library should choose better message sizes,
offer a socket timeout function, and work proceeds
on the "hidden" mode of operation for I2P routers.

- From this release onward, I2P requires Java 1.5 or higher.
If you are uncertain about your Java version, you can verify
by opening a terminal window or command prompt, and entering
the command "java -version". If you have an older Java installed,
please update it first!

This release is backward compatible: if you already have
0.6.1.31 or greater installed, it will recognize the signature
on the signed update file, and you can update automatically.

As customary, for people who don't have the option
of checking GPG signatures, supplied below are the
SHA1 hashes of released files:

ba37303108297601614468643dc3886683a5cf07 i2pheadless-0.6.5.tar.bz2
a161f3e8ab3fc4a25d216b331173fbf76e68c102 i2pinstall-0.6.5.exe
0c135d8ad96401d38285cb931a8bf0f248ba74fc i2psource-0.6.5.tar.bz2
f04c095da352a4e8b938db4a9f820902cf1f1614 i2pupdate-0.6.5.zip
c66465d614b9e669ccda155b8098052d74c90024 i2pupdate.sud

Best wishes,
Complication.
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1.4.9 (GNU/Linux)

iEYEARECAAYFAkkzOqQACgkQ+h38a3n8zjNSlACfUsxikszaXu/opRpwMmPBbAQq
clQAnRbuoYUa8qPiea7fCxOsGKsJMMCL
=STLb
-----END PGP SIGNATURE-----
</pre>
{% endblock %}
