{% extends "_layout.html" %}
{% block title %}0.6.2 Release{% endblock %}
{% block content %}
<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

I2P release 0.6.2
=====================

The 0.6.2 release delivers performance and anonymity improvements.
LeaseSet data is no longer added to every end-to-end message,
reducing protocol overhead.

Unreachable peers are avoided as inbound tunnel gateways,
which helps reliability and makes it possible to use
persistent Lease selection, which in turn helps performance
by reducing out-of-order message delivery.

The sequence of peers in a tunnel is now kept in a strict order
according to XOR distance from a random value, to make it harder
for an adversary to gather statistics for a predecessor attack.
Improvements to applications like I2PSnark and the Router Console
are also introduced.

This release is backward compatible: if you already have
0.6.1.31 or greater installed, it will recognize the signature
on the signed update file, and you can update automatically.

As customary, for people who don't have the option
of checking GPG signatures, supplied below are the
SHA1 hashes of released files:

9eb2558c484c56fa3f2623e473327ffee19b8b87 i2pheadless-0.6.2.tar.bz2
2161705ea9d57c05806b312179be524029ad8c92 i2pinstall-0.6.2.exe
ef73b46d080ca5467eb5792f3fca62ed86852f85 i2psource-0.6.2.tar.bz2
455bc05cd20df32ce60174c796d32234f72155cd i2pupdate-0.6.2.zip
7da3777591f7f9f00d9e24182e973408484aee6e i2pupdate.sud

Best wishes,
Complication.
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1.4.6 (GNU/Linux)

iD8DBQFISwCz+h38a3n8zjMRAvg6AJ0cM526cZK1jus2MGGlkxW73cWeHwCfU88Z
AqL1Wz/jN7hRUPXLRhPJTGw=
=u9me
-----END PGP SIGNATURE-----
</pre>
{% endblock %}
