{% extends "_layout.html" %}
{% block title %}0.7.10 Release{% endblock %}
{% block content %}
<p>
0.7.10 closes some recently-discovered vulnerabilities related to the
way routers communicate with floodfill peers.
Network database stores and verifies are moved from exploratory to client tunnels, and are encrypted.
</p><p>
Also, to improve anonymity, router's fast peer set is now limited to a maximum of 30.
The release also fixes a bug causing Windows installs to fail when the install or user path
contained a "\r" or "\n".
Upgrading is recommended.
Please give the
developers feedback on IRC #i2p or <a href="http://forum.i2p2.de/">forum.i2p2.de</a>
and <a href="http://www.i2p2.de/getinvolved.html">get involved</a>
or <a href="http://www.i2p2.de/donate.html">donate</a>!
We are still looking for help on new and existing translations.
Please volunteer on IRC #i2p.
</p>


<p>
SHA256 Checksums:
<pre>
c003efa3e66e0a874246376fa7213b4309b8472207c43ec9a307cc0c19a8f114  i2pinstall_0.7.10.exe
221a8decc37e846f0883b9f1442595dfd64a2eaf9c80e84f3600ccf8a316bd32  i2psource_0.7.10.tar.bz2
2ce3f9e733f39e014219a3760859ed623de8aaa39d736ba10670faf5071172fe  i2pupdate_0.7.10.zip
47dce43bb793f11c8206d0f39cbda1b49b28d535b51d878a7f4c61e4f8a74c71  i2pupdate.sud
</pre>
</p>
{% endblock %}
