{% extends "_layout.html" %}
{% block title %}0.7.5 Release{% endblock %}
{% block content %}
<pre>
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

I2P release 0.7.5
=====================

I2P version 0.7.5 foremost addresses network stability issues
by adjusting how exploratory tunnels are built if a router nears
its connection limit, and also by distinguishing between
connected peers and other non-failing peers while picking them
for inclusion in tunnels.

This version also delivers fixes to installer behaviour on Windows,
to the Router Console, NTCP transport and UPnP mechanism.

Additionally, version 0.7.5 changes the "news.xml" file location
where I2P routers check whether a new version is available.
Instead of the old URL (http://complication.i2p/news.xml)
a new location (http://echelon.i2p/i2p/news.xml) will be used.
If your router uses default updater settings, it will start using
the new URL automatically. If not, you will need to visit
"configupdate.jsp" on the Router Console, and change it manually.

For a while after this update, the old news.xml location
also redirects all HTTP requests to the new one.
This is because I need to withdraw from the I2P projest.

The reasons for my withdrawal have nothing to do with I2P,
and I wish the very best to you all. Oppositely,
the reasons have everything to do with my "real-life"
identity, events which I could not foresee (neither good
nor bad, but unavoidable) and my plans for future.

This update removes my public key from the list of trusted
release signing keys, and the next release will be signed
by zzz instead. If you have non-default updater settings
in force, you may want to remove my key manually.
This is easily accomplished by visiting "configupdate.jsp"
on the Router Console, and removing the key line
starting with the characters "JHFA".

As customary, for people who don't have the option
of checking GPG signatures, supplied below are the
SHA1 hashes of released files. Please note that the
"i2pheadless" installer is no longer generated:

14c0e89f9d3e980607e6eb2cbea2a61bafcf4e5c i2pinstall-0.7.5.exe
9137ef908a68145e558a21e8411435867e8daa2f i2psource-0.7.5.tar.bz2
5b3fed888e5236f1c555d36e1e8c23003e6b5d64 i2pupdate-0.7.5.zip
d783a091024ec87e48aad83d1e12f0d9fc1d58c7 i2pupdate.sud

It was nice working together with you, and best of luck.
I'm sorry that I need to go absent like this,
but I need to rearrange my life more than slightly.

Complication.
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1.4.9 (GNU/Linux)

iEYEARECAAYFAkpIHP4ACgkQ+h38a3n8zjMhdQCfegkBXuUUp/omeEUUNE2I5OaC
gk8AoIU30WJSxJmFo5FTDYRDc605HBgw
=5I+4
-----END PGP SIGNATURE-----
</pre>
{% endblock %}
