{% extends "_layout.html" %}
{% block title %}0.9.7.1 Release{% endblock %}
{% block content %}

<p>This unscheduled release disables the RouterInfo verification messages that were used in the
attack published in the UCSB paper, which should make correlating a LeaseSet and a Router much more difficult.
We have also included a limited number of other fixes listed below.
Our 0.9.8 release, which will include IPv6 support, is still on-schedule for late September.
</p>
<p>
As usual, we recommend that all users update to this release.
</p>


<p><strong>RELEASE DETAILS</strong></p>

<p><strong>Anonymity Improvements</strong></p>

<p>- Disable RouterInfo verification messages
</p>

<p><strong>Other</strong></p>

<p>- Extend inbound tunnel expiration
<br />- i2prouter: bashism fix
<br />- i2psnark: increase max piece size, mime type updates
<br />- New reseed host
<br />- New update hosts, thanks Meeh and dg
<br />- Streaming: RTO changes
<br />- Updater: Increase update-via-torrent to 30%
<br />- UPnP fix for some hardware
</p>

<b>
SHA256 Checksums:
</b>
<pre>

   293f445196a2f35c4d580f65b548135399e1f4443450b5ecf1cc53b1203fdad1  i2pinstall_0.9.7.1_windows.exe
   9fae874a4d680f50f5efd7be70cfcf55f2f4687e011bde9c4b4899bafb002e97  i2pinstall_0.9.7.1.jar
   7b73bdb23c53798054741cbaa4e7d8cce832ee566fbb17df0c803d0c22d099e1  i2psource_0.9.7.1.tar.bz2
   69ca22a77a2de87f726d86555317f8688891d31f5312cf71d5a43febe2729b38  i2pupdate_0.9.7.1.zip
   f59c9c80349c328b3e912113a3842146f647ff22ae323cef6b1e56a23f8c8cf1  i2pupdate.su2
   52d1f32e2a72091da10312853e5df6bced12cb97770ba20732f2d9d6c4d2f5fe  i2pupdate.sud

</pre>

{% endblock %}
