{% extends "_layout_de.html" %}
{% block title %}Zeitplan{% endblock %}
{% block content %}

<h2 id="0.7">0.7</h2>
4. Quartal 2008
<ul>
<li>Diverse <a href="how_networkdatabase.html#todo">Floodfill Probleme</a> beheben</li>
<li>Nachforschen und verbessern des <a href="i2np.html">Nachrichten Priorit&auml;tssystems</a></li>
<li>Nachforschen und verbessern/korrigieren der <a href="udp.html">SSU Introducer</a></li>
<li>Erreichbarkeitsmatrix / teilweise erreichbare Knoten h&auml;ndeln / erweitern der 
<a href="todo.html#fullRestrictedRoutes">restricted Routes</a></li>
<li>K&uuml;rzen der <a href="how_peerselection.html">Peerprofil</a>gr&ouml;sse, bessere Ausgaberoutine
entwicklen</li>
<li>Zuverl&auml;ssliche Verbindungen, vern&uuml;nftige Performance</li>
<li>Verteilte / erweiterte i2pupdate Verteilung, Standardeinstellung auf Download setzen</li>
<li>Verbesserte Einsteiger- und Benutzerfreundlichkeit sowie besserer Schutz vor Fehlbedienung (bessere Anleitungen, 
bessere Standardeinstellungen auf langsamen PCs)</li>
<li>Test mit gr&ouml;sserer Benutzerbasis, fixen von Problemen</li>
<li>Aktuelle, korrekte Website</li>
<li><a href="how_threatmodel.html#blocklist">Blocklisten</a>?</li>
<li>Einf&uuml;gen von Seeddaten in die Distribution, damit kein zentrales Reseed Verzeichnis
mehr ben&ouml;tigt wird?
</ul>

<h2 id="1.0">1.0</h2>
<ul>
<li>Volle &Uuml;berpr&uuml;fung auf Schwachstellen in der Anonymit&auml;t und weitere Schwachstellen</li>
<li>Reduzierung des Speicherverbrauchs, entfernen der Debuginformationen, I2P auf langsamen und 
embedded PC besser lauff&auml;hig machen</li>
<li>Anleitungen und Dokumente</li>
</ul>

<h2 id="2.0">2.0</h2>
<ul>
<li>Volle beschr&auml;nkte Routen</li>
</ul>

<h2 id="3.0">3.0</h2>
<ul>
<li>Tunnel mixen und padding</li>
<li>Anwenderdefinierte Verz&ouml;gerung in den Tunneln</li>
</ul>

<p>Bitte schaue auf der <a href="todo_de">Todo</a>liste nach nach detaillierteren
Informationen zu diesen Aufgaben.</p>
{% endblock %}
