{% extends "_layout.html" %}
{% block title %}Roadmap{% endblock %}
{% block content %}

<h2 id="0.8">0.8</h2>
July 2010
<ul>
<li>Further research and improve the <a href="i2np.html">Message Priority System</a></li>
<li>Reduce <a href="how_peerselection.html">peer profile</a> size, implement better ejection strategy </li>
<li>Expand and rework the floodfill pool, bring back simplified Kademlia searches and stores for the pool</li>
<li>Distributed / enhanced i2pupdate distribution, set default to download</li>
<li>Better better docs and website</li>
</ul>

<h2 id="0.9">0.9</h2>
<ul>
<li>Include some seed data in the distribution so a central reseed location isn't required?
<li>Reachability Mapping / handle peers partially reachable / enhanced <a href="todo.html#fullRestrictedRoutes">restricted routes</a></li>
<li>Improve help pages and website</li>
<li>More translations</li>
<li>SSU disconnect message</li>
<li>Iterative floodfill lookups</li>
</ul>

<h2 id="1.0">1.0</h2>
<ul>
<li>Full review of anonymity issues and other vulnerabilities</li>
<li>Reduce memory usage, remove debugging overhead, make it run better on slow and embedded machines</li>
<li>Docs</li>
</ul>

<h2 id="2.0">2.0</h2>
<ul>
<li>Full restricted routes</li>
</ul>

<h2 id="3.0">3.0</h2>
<ul>
<li>Tunnel mixing and padding</li>
<li>User defined message delays</li>
</ul>

<p>Please see the <a href="todo">TODO</a> list for more detailed info about some of these tasks.</p>
{% endblock %}
