{% extends "_layout.html" %}
{% block title %}I2P Status Notes for 2006-03-07{% endblock %}
{% block content %}<h3>I2P Status Notes for 2006-03-07</h3>
<pre>Hey y'all, a brief weekly update this time

* Index
1) Net status
2) ???

* 1) Net status

The past week has been doing quite well, as with 90+% of the network
on 0.6.1.12, the tunnel build success rates have been pretty good,
and the peer selection and end to end throughput I've seen have been
on an upward track.  There are still some throttling issues I'm
working through in CVS, as well as some optimizations to reduce
unnecessary breadth in peer communication, but those are looking
quite promising.  There'll be an update as 0.6.1.13 sometime, but
its not imminent.

* 2) ???

We've got a short set of status notes today, but that's not because
there isn't much to talk about, but mostly because my laptop is out of
commission at the moment.  Its undergoing some emergency hardware
replacement, and will hopefully be fixed later this week.  In the
meantime, I'm using a friend's machine to keep tabs on things and work
through changes remotely (which is why this message isn't signed).

I've seen some neat stuff from zzz coming down the pipeline too (no
pun intended), so swing on by zzz.i2p for more info, and maybe we'll
get an update on those during the meeting.

Anyway, thats about it for the moment.  Swing on by #i2p for the
meeting to say hey!

=jr


</pre>
{% endblock %}
