{% extends "_layout.html" %}
{% block title %}I2P Status Notes for 2006-01-24{% endblock %}
{% block content %}<h3>I2P Status Notes for 2006-01-24</h3>
<pre>-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

Hi y'all, tuesday keeps coming back...

* Index
1) Net status
2) New build process
3) ???

* 1) Net status

The past week hasn't brought many changes to the network, with most
users (77%) up on the latest release.  Still, there are some hefty
changes coming down the path, related to the new tunnel building
process, and these changes will cause some bumps for those helping
to test the unrelease builds.  On the whole, however, those using
the releases should continue to have a fairly reliable level of
service.

* 2) New build process

As part of the tunnel revamp for 0.6.2, we're changing the procedure
used within the router to better adapt to changing conditions, and
to more cleanly deal with load.  This is a precursor to integrating
the new peer selection strategies and the new tunnel creation
crypto, and is fully backwards compatible.  However, along the way
we're cleaning up some of the quirks in the tunnel build process,
and while some of these quirks have helped glaze over some
reliability issues, they may have made a less-than-optimal anonymity
vs. reliability tradeoff.  Specifically, they'd use fallback 1 hop
tunnels under catastrophic failures - the new process will instead
prefer unreachability rather than using fallback tunnels, which
means that people will see more reliability problems.  At least,
they'll be visible until the source of the tunnel reliability issue
is addressed.

Anyway, at the moment the build process does not afford acceptable
reliability, but once it does we'll push it out to y'all in a
release.

* 3) ???

I know a few others are working on different related activities, but
I'll leave it up to them to give us the news when they feel its
appropriate.  In any case, see y'all at the meeting in a few
minutes!

=jr
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1.4.1 (GNU/Linux)

iD8DBQFD1odsWYfZ3rPnHH0RAknzAJ4vABAtUWVMu/dcuG3nNdV5eWNXpgCfU8ix
MYP0IunumxNqgO2jfYaVq+M=
=CBcf
-----END PGP SIGNATURE-----


</pre>
{% endblock %}
