{% extends "_layout.html" %}
{% block title %}I2P Status Notes for 2004-10-26{% endblock %}
{% block content %}<h3>I2P Status Notes for 2004-10-26</h3>
<pre>-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

Hi y'all, weekly update time

* Index
1) Net status
2) Streaming lib
3) mail.i2p progress
4) ???

* 1) Net status

I don't want to jinx it, but for the last week the network has been
pretty much as before - fairly stable for irc, eepsites loading
reliably, though large files still often require resuming.  Basically
nothing new to report, beyond the fact that there's
nothing new to report.

Oh, one thing we found was that while Jetty supports HTTP resume, it
only does so for HTTP 1.1.  Thats fine for most browsers and
download tools, *except* wget - wget sends the resume request as HTTP
1.0.  So, for downloading large files, use curl or some other HTTP
1.1 resume-capable tool (thanks to duck and ardvark for digging in
and finding a solution!)

* 2) Streaming lib

Since the network has been fairly stable, nearly all of my time has
been spent working on the new streaming lib.  While its not done yet,
there has been a lot of progress - the basic scenarios all work fine,
the sliding windows are doing well for self-clocking, and the new lib
works as a drop-in replacement for the old one, from the client's
perspective (the two streaming libs can't talk to each other though).


The last few days I've been working through some more interesting
scenarios.  The most important one is the laggy network, which we
simulate by injecting delays on messages received - either a simple
0-30s random delay or a tiered delay (80% of the time have a 0-10s
lag, 10% @ 10-20s lag, 5% @ 20-30s, 3% @ 30-40s, 4% @ 40-50s).
Another important test has been the random dropping of messages -
this shouldn't be common on I2P, but we should be able to deal with
it.

The overall performance has been pretty good, but there is still a
lot of work to do before we can deploy this on the live net.  This
update will be 'dangerous' in that it is tremendously powerful - if
done horribly wrong, we can DDoS ourselves in a heartbeat, but if
done right, well, let me just say there's a lot of potential
(underpromise and overdeliver).

So, that said, and since the network is fairly 'steady state', I'm in
no rush to push out something not sufficiently tested.  More news
when there's more news.

* 3) mail.i2p progress

postman &amp; gang have been working hard for mail over i2p (see
www.postman.i2p), and there is some exciting stuff coming down the
line - perhaps postman has an update for us?

As an aside, I do understand and relate to the calls for a webmail
interface, but postman is swamped doing some neat stuff on the
back end of the mail system.  An alternative however is to install a
webmail interface *locally* in your own webserver - there are webmail
JSP/servlet things out there.  That would let you run your own local
webmail interface at e.g. <a  rel="nofollow" href="http://localhost:7657/mail/">http://localhost:7657/mail/</a>

I know there are some open source scripts out there for accessing
pop3 accounts, which gets us halfway there - perhaps someone could
look around for some that supports pop3 and authenticated SMTP?
c'mon, you know you want to!

* 4) ???

Ok, thats all I've got to say atm - swing on by the meeting in a few
minutes and let us know whats going on.

=jr

-----BEGIN PGP SIGNATURE-----
Version: PGP 8.1

iQA/AwUBQX66GBpxS9rYd+OGEQJBmQCdEmOFuBtd0muoaqwibMvdO+P0bLQAoNNT
zFtdHN6Y54VUcfsFl6+5W/3B
=195H
-----END PGP SIGNATURE-----


</pre>
{% endblock %}
