{% extends "_layout.html" %}
{% block title %}Ticket 919/920 fix{% endblock %}
{% block content %}
<p>The issue described on this page only affects some Windows systems upgrading from an earlier version to 0.9.8.
Other operating systems are not affected.
</p>
<p>This issue has been corrected as of the <a href="http://mirror.i2p2.de/i2pinstall_0.9.8.1_windows.exe">0.9.8.1 release</a>.</p>


There are two possible ways to resolve this problem.

<h2>Option 1</h2>

<ol>
	<li>Stop I2P</li>
	<li>Browser to <code>%APPDATA%\I2P</code> or wherever your I2P data dir is</li>
	<li>Delete the files <code>router.info</code> and <code>router.keys</code></li>
	<li>Start I2P</li>
</ol>

<h2>Option 2</h2>

Upgrade your I2P installation to to <a href="download#update">0.9.8.1</a> by following the instructions <a href="download#update">here</a>.
{% endblock %}
