{% extends "global/layout.html" %}
{% block title %}Debian/Ubuntu{% endblock %}
{% block content %}
<h1>{{ _('Debian I2P Packages') }}</h1>

<h2 id="bionic">{{ _('Debian Sid, Ubuntu Bionic 18.04') }}</h2>
{% trans -%}
I2P is available in the official repositories for Ubuntu Bionic 18.04 and Debian Sid.
Install the "i2p" package using your package manager, as you would any other package.  The instructions below are not required.
{%- endtrans %}

<h2 id="others">{{ _('Debian Stretch and older, Ubuntu Artful 17.10 and older') }}</h2>
{% trans -%}
The Debian packages
have been tested and <em>should </em>work on x86/x86_64 platforms running:
{%- endtrans %}
<ul>
  <li>{% trans %}<a href="#ubuntu">Ubuntu</a> (Precise <em>12.04</em> and newer){% endtrans %}</li>
  <li><a href="#ubuntu">Mint</a></li>
  <li>{% trans %}<a href="#debian">Debian Linux</a> (Wheezy and newer){% endtrans %}</li>
  <li><a href="#debian">Knoppix</a></li>
</ul>

{% trans trac='http://trac.i2p2.de/newticket?component=package/debian&owner=killyourtv&cc=killyourtv@mail.i2p' -%}
The I2P packages <em>may</em> work on systems not listed above. Please report any issues
with these packages on <a href="{{ trac }}">Trac</a> at
<a href="{{ trac }}">https://trac.i2p2.de</a>.
{%- endtrans %}
<ul>
  <li>{% trans %}Option 1: <a href="#ubuntu">Recent versions</a> of Ubuntu and its derivatives (<em>Try this if you're not using Debian)</em>{% endtrans %}</li>
  <li>{% trans %}Option 2: <a href="#debian">Debian</a> (including Debian-derivatives){% endtrans %}</li>
</ul>

<h2 id="ubuntu">{{ _('Instructions for Ubuntu and derivatives like Linux Mint &amp; Trisquel') }}</h2>
<h5>{{ _('Adding the PPA via the command line and installing I2P') }}</h5>
<ol>
  <li>
    {% trans %}Open a terminal and enter:{% endtrans %}<br />
    <code>&nbsp;&nbsp;&nbsp; sudo apt-add-repository ppa:i2p-maintainers/i2p</code><br />
{% trans -%}
This command will add the PPA to /etc/apt/sources.list.d and fetch the
gpg key that the repository has been signed with. The GPG key ensures
that the packages have not been tampered with since being built.
{%- endtrans %}
  </li>
  <li>
    {% trans %}Notify your package manager of the new PPA by entering:{% endtrans %}<br />
    <code>&nbsp;&nbsp;&nbsp; sudo apt-get update</code><br />
{% trans -%}
This command will retrieve the latest list of software from each
repository that is enabled on your system, including the I2P PPA that
was added with the earlier command.
{%- endtrans %}
  </li>
  <li>{% trans %}You are now ready to install I2P!{% endtrans %}<br />
    <code>&nbsp;&nbsp;&nbsp;&nbsp;sudo apt-get install i2p</code></li>
</ol>

<h5>{{ _('Adding the PPA Using Synaptic') }}</h5>
<ol>
  <li>
    {% trans -%}
    Open Synaptic (System -&gt; Administration -&gt; Synaptic Package Manager).
    {%- endtrans %}
  </li>
  <li>
    {% trans -%}
    Once Synaptic opens, select <em>Repositories</em> from the <em>Settings</em> menu.
    {%- endtrans %}
  </li>
  <li>
    {% trans -%}
    Click the <em>Other Sources</em> tab and click <em>Add</em>. Paste <code>ppa:i2p-maintainers/i2p</code> into the APT-line field and click <em>Add Source</em>. Click the <em>Close</em> button then <em>Reload</em>.
    {%- endtrans %}
  </li>
  <li>
    {% trans -%}
    In the Quick Filter box, type in <code>i2p</code> and press enter. When <code>i2p</code> is returned in the results list, right click <code>i2p</code> and select <em>Mark for Installation</em>. After doing so you may see a <em>Mark additional required changes?</em> popup. If so, click <em>Mark</em> then <em>Apply</em>.
    {%- endtrans %}
  </li>
</ol>

{% trans -%}
After the installation process completes you can move on to the next
part of <a href="#Post-install_work">starting I2P</a> and configuring it for your system.
{%- endtrans %}

<h2 id="debian">{{ _('Instructions for Debian') }}</h2>

<em>{% trans -%}Currently supported architectures include amd64, i386, armel, armhf (for Raspbian).{%- endtrans %}</em>

<p>{% trans -%}
Note: The steps below should be performed with root access (i.e., switching
user to root with <code>su</code> or by prefixing each command with <code>sudo</code>).
{%- endtrans %}</p>
<ol>
  <li>{% trans -%}Ensure that <code>apt-transport-https</code> and <code>curl</code> are installed.{%- endtrans %}
    <pre>
    <code>
    sudo apt-get update
    sudo apt-get install apt-transport-https curl</code>
    </pre>
  </li>
  <li>{% trans file='/etc/apt/sources.list.d/i2p.list',file2='/etc/debian_version' %}
    Check which version of Debian you are using on this page at the <a href="https://wiki.debian.org/LTS/" target="_blank">Debian wiki</a> 
    and verify with <code>{{ file2 }}</code> on your system.
    Then, add lines like the following to <code>{{ file }}</code>.{% endtrans %}<br>
<br />
For Stretch (stable):<br />
<pre>
    <code>deb https://deb.i2p2.de/ stretch main
    deb-src https://deb.i2p2.de/ stretch main</code>
</pre>

<br />
For Jessie (old-stable):<br />
<pre>
    <code>deb https://deb.i2p2.de/ jessie main
    deb-src https://deb.i2p2.de/ jessie main</code>
</pre>

<br />
For Wheezy (obsolete):<br>
<pre>
    <code>deb https://deb.i2p2.de/ wheezy main
    deb-src https://deb.i2p2.de/ wheezy main</code>
</pre>
<br />

{% trans -%}Note: If you are running Debian Sid (testing), then you can install I2P directly from Debian's main repository{%- endtrans %}:
  <pre>
  <code>sudo apt-get install i2p</code>
  </pre>

  </li>

  <li>{% trans repokey=url_for('static', filename='i2p-debian-repo.key.asc') -%}
Download <a href="{{ repokey }}">the  key used to sign the repository</a>:{%- endtrans %}
<pre>
<code>
  curl -o i2p-debian-repo.key.asc {{ repokey }}</code>
</pre>
  </li>

  <br />

  <li>
    {% trans -%}Check the fingerprint and owner of the key without importing anything{%- endtrans %}:<br />
    <pre>
    <code>
  gpg -n --import --import-options import-show i2p-debian-repo.key.asc</code>
    </pre>
  </li>

  <li>
    {% trans -%} Add the key to APT's keyring{%- endtrans %}:<br />
    <pre>
    <code>
  sudo apt-key add i2p-debian-repo.key.asc</code>
    </pre>
  </li>

  <li>
    {% trans %}Notify your package manager of the new repository by entering{% endtrans %}<br />
    <pre>
    <code>
  sudo apt-get update</code>
    </pre>
{% trans -%}
This command will retrieve the latest list of software from every
repository enabled on your system, including the I2P repository added in step
1.
{%- endtrans %}
  </li><br />
  <li>{% trans -%}
You are now ready to install I2P! Installing the <code>i2p-keyring</code>
package will ensure that you receive updates to the repository's GPG key.
{%- endtrans %}<br />
<pre>
    <code>
  sudo apt-get install i2p i2p-keyring</code>
  </pre></li>
</ol>
<p>
{% trans -%}
After the installation process completes you can move on to the next part of <a href="#Post-install_work">starting I2P</a> and configuring it for your system.
{%- endtrans %}
</p>

<h2 id="Post-install_work">{{ _('Post-install work') }}</h2>

{% trans -%}
Using these I2P packages the I2P router can be started in the following
three ways:
{%- endtrans %}
<ul>
  <li>
    {% trans -%}
    &quot;on demand&quot; using the i2prouter script. Simply run &quot;<code>i2prouter
start</code>&quot; from a command prompt. (Note: Do <strong><u>not</u></strong> use
sudo or run it as root!)
    {%- endtrans %}
  </li>
  <li>
    {% trans -%}
    &quot;on demand&quot; without the <a href="http://wrapper.tanukisoftware.com/">java service wrapper</a>
(needed on non-Linux/non-x86 systems) by running "<code>i2prouter-nowrapper</code>".
(Note: Do <strong><u>not</u></strong>
use sudo or run it as root!)
    {%- endtrans %}
  </li>
  <li>
    {% trans -%}
    as a service that automatically runs when your system boots, even
before logging in. The service can be enabled with "<code>dpkg-reconfigure
i2p</code>" as root or using sudo. This is the recommended means of operation.
    {%- endtrans %}
  </li>
</ul>

<p>{% trans -%}
When installing for the first time, please remember to <b>adjust your NAT/firewall</b>
if you can. The ports to forward can be found on the <a href="http://127.0.0.1:7657/confignet">
network configuration page</a> in the router console. If guidance with respect to forwarding ports is needed,
you may find <a href="http://portforward.com">portforward.com</a> to be helpful.
{%- endtrans %}</p>

<p>{% trans -%}
Please review and <b>adjust the bandwidth settings</b> on the
<a href="http://127.0.0.1:7657/config.jsp">configuration page</a>,
as the default settings of 96 KB/s down / 40 KB/s up are fairly conservative.
{%- endtrans %}</p>

<p>{% trans browserconfig=site_url('about/browser-config') -%}
If you want to reach eepsites via your browser, have a look on the <a href="{{ browserconfig }}">browser proxy setup</a> page for an easy howto.
{%- endtrans %}</p>

{% endblock %}
