{% extends "global/layout.html" %}
{%- from "downloads/macros" import package_outer with context -%}
{% block title %}Firefox Profile{% endblock %}
{% block content %}
<h1>{{ _('I2P Firefox Browser Profile') }}</h1>
<p>{% trans -%}
Now that you have joined the I2P network, you will want to see I2P sites and and 
other content that is hosted on the network. The Firefox browser is 
pre-configured to allow you to access the content available on the network. It 
also keeps your I2P search activity separate from your internet search activity.
{%- endtrans %}</p>
<p>{% trans -%}
This browser also includes both the NoScrpt and HTTPSEverywhere plugin for
better protection Javascript based attacks and HTTPS support where available.
{%- endtrans %}</p>

{%- set name     = 'Windows' -%}
{%- set icon     = 'images/download/windows.png' -%}
{%- set filename = 'I2P-Profile-Installer-%s.exe' -%}
{%- set hash     = '0e69cd51143a0e75cd089ebd838b038e85270be1d3c20a05a81d989316868f05' -%}

{% call package_outer('windows', name, icon) %}
    <div class = "file">
	    <a class = "default" href="{{ url_for('downloads_redirect', version=pver(), net=def_mirror.net, protocol=def_mirror.protocol, domain=def_mirror.domain, file=pver(filename) )}}">
		    <span class = "name">{{ pver(filename) }}</span><br/>
		    <span class="mirror">{{ _('Mirror:') }} <img src="{{ url_for('static', filename='images/flags/'+def_mirror.country+'.png') }}" /> {{ def_mirror.org }}</span>
	    </a>
	    <a class="mirrors" href="{{ get_url('downloads_select', version=pver(), file=pver(filename)) }}">{{ _('select alternate mirror') }}</a>
    </div>
    <div class="meta">
	    <div class="hash">
		    <code>{{ hash }}</code>
	    </div>
    </div>
    <p>{% trans -%}
    Download that file and run it.
    {%- endtrans %}</p>
{% endcall %}

{% trans signer='zlatinb',
signingkey=url_for('static', filename='zlatinb.key.crt') -%}
The files are signed by {{ signer }},
<a href="{{ signingkey }}">whose key is here</a>.
{%- endtrans %}

{% endblock %}
