{% extends "global/layout.html" %}
{%- from "downloads/macros" import package, package_outer with context -%}
{% block title %}Firefox Profile{% endblock %}
{% block content %}

<h1>{{ _('I2P Easy Install Bundle (Beta) for Windows') }}</h1>
<p>{% trans nsis="/nsis" -%}
The I2P Firefox Browser Profile has been expanded into the new I2P Easy Install
Bundle, which is in Beta. If you already have an I2P Router installed, it is
still safe to use this installer to configure your I2P Browser. Your existing
I2P Settings will be left untouched. If you do not have an I2P router installed,
then you do not need to install I2P. This package will install I2P at the same
time it installs the browser profile. This page has been kept to document the
motivations and design of the included Firefox profile. To learn more about the
new bundle, visit <a href="{{ nsis }}">The Easy Install Bundle Page</a>.
{%- endtrans %}</p>
{% endblock %}
