{% extends "global/layout.html" %}
{%- from "downloads/macros" import package_outer with context -%}
{% block title %}I2P Lab{% endblock %}
{% block content %}
<h1>{{ _('I2P Laboratory') }}</h1>
<p>
{% trans -%}
Welcome to the I2P Laboratory!
This is the home of various experimental projects that are not yet ready to go live.
We invite you to look around and give them a try, but we do not offer support for them.
Any of these projects may be discontinued at any time.
{%- endtrans %}
</p>
<p>
{% trans forum='https://i2pforum.net/viewforum.php?f=36' -%}
We welcome your feedback at the <a href="{{ forum }}">I2P Forum</a>.
{%- endtrans %}
<p>

<hr>

<h3>{{ _('Current Projects') }}</h3>
<div class = "labproject" >
<h5>{{ _('Zero-Dependency installer') }}</h5>
<p>
{% trans %}
This is an I2P installer for Windows that does not depend on an existing Java installation.
It includes all required dependencies.
{%- endtrans %}
</p>
{% trans %}
Status: Proof-Of-Concept
{%- endtrans %}

{%- set name     = 'Windows' -%}
{%- set icon     = 'images/download/windows.png' -%}
{%- set filename = 'Zero-I2P0.9.38-JRE11.0.2-INST0.1.exe' -%}
{%- set hash     = 'ff1172a785e2aa2e823b90ce2fbc09ad7503864bcd4e30093d22cffa4d955a31' -%}
{% call package_outer('windows', name, icon) %}
<div class = "file">
	<a class = "default" href="https://download.i2p2.de/experimental/Zero-I2P0.9.38-JRE11.0.2-INST0.1.exe">
		<span class = "name">{{ filename }}</span>
	</a>
</div>
<div class = "meta">
	<div class = "hash">
		<code>{{ hash }}</code>
	</div>
</div>
<p>{% trans -%}
Download that file and run it.
{%- endtrans %}</p>
{% endcall %}
</div>
<!--
{% trans signer='zlatinb',
signingkey=url_for('static', filename='zlatinb.key.crt') -%}
The files are signed by {{ signer }},
<a href="{{ signingkey }}">whose key is here</a>.
{%- endtrans %}
-->
{% endblock %}
