{% extends "global/layout.html" %}
{%- from "downloads/macros" import package_outer with context -%}
{% block title %}I2P Lab{% endblock %}
{% block content %}
<h1>{{ _('I2P Laboratory') }}</h1>
<p>
{% trans -%}
Welcome to the I2P Laboratory!
This is the home of various experimental projects that are not yet ready to go live.
We invite you to look around and give them a try, but we do not offer support for them.
Any of these projects may be discontinued at any time.
{%- endtrans %}
</p>
<p>
{% trans forum='https://i2pforum.net/viewforum.php?f=36' -%}
We welcome your feedback at the <a href="{{ forum }}">I2P Forum</a>.
{%- endtrans %}
<p>

<hr>

<h3>{{ _('Current Projects') }}</h3>
<div class = "labproject" >
<h5>{{ _('Zero-Dependency installer') }}</h5>
<p>
{% trans %}
This is an I2P installer for Windows that does not depend on an existing Java installation.
It includes all required dependencies.
{%- endtrans %}
</p>
{% trans %}
Status: Proof-Of-Concept
{%- endtrans %}

{%- set name     = 'Windows' -%}
{%- set icon     = 'images/download/windows.png' -%}
{%- set filename = 'Zero-I2P0.9.39-JRE11.0.2-INST0.1.exe' -%}
{%- set hash     = 'e8bd18d6dfde3251e9e5b5d0b3262f0943f9eaf00e042a9c6348fd2a5ebde023' -%}
{% call package_outer('windows', name, icon) %}
<div class = "file">
	<a class = "default" href="https://download.i2p2.de/experimental/Zero-I2P0.9.39-JRE11.0.2-INST0.1.exe">
		<span class = "name">{{ filename }}</span>
	</a>
</div>
<div class = "meta">
	<div class = "hash">
		<code>{{ hash }}</code>
	</div>
</div>
<p>{% trans -%}
Download that file and run it.
{%- endtrans %}</p>
{% endcall %}
</div>
<!--
{% trans signer='zlatinb',
signingkey=url_for('static', filename='zlatinb.key.crt') -%}
The files are signed by {{ signer }},
<a href="{{ signingkey }}">whose key is here</a>.
{%- endtrans %}
-->


<div class = "labproject" >
  <h5>{{ _('I2P Browser') }}</h5>
  <p>
  {% trans %}
  This is an I2P Browser which is preconfigured to work with I2P and which has privacy focused patches and configuration. Currently we only provide binaries for 64bit systems.
  {%- endtrans %}
  </p>
  {% trans %}
  Status: Proof-Of-Concept
  {%- endtrans %}

  {%- set name     = 'Windows' -%}
  {%- set icon     = 'images/download/windows.png' -%}
  {%- set filename = 'i2pbrowser-install-win64-8.5a7_en-US.exe' -%}
  {%- set hash     = '672d099d6840b9eb6f9fdbb481a495ed3d936a6a658e18e8f5b4111bd1803f37' -%}
  {% call package_outer('windows', name, icon) %}
  <div class = "file">
    <a class = "default" href="https://download.i2p2.de/experimental/i2pbrowser/windows64/i2pbrowser-install-win64-8.5a7_en-US.exe">
      <span class = "name">{{ filename }}</span>
    </a>
  </div>
  <div class = "meta">
    <div class = "hash">
      <code>{{ hash }}</code>
    </div>
  </div>
  <p>{% trans -%}
  The default is to download the english version, however it's also built for some other languages,
  please check out the link below
  if you want to see if we have the browser in your language.
  {%- endtrans %}</p>
  <a href="https://download.i2p2.de/experimental/i2pbrowser/windows64/">https://download.i2p2.de/experimental/i2pbrowser/windows64/</a>
  {% endcall %}

  {%- set name     = 'Mac OS X' -%}
  {%- set icon     = 'images/download/mac-osx.png' -%}
  {%- set filename = 'I2PBrowser-8.5a7-osx64_en-US.dmg' -%}
  {%- set hash     = '3703e5c4f6ec9abd804af27daee3613d316a86031ad4685d59b1df14b5454133' -%}
  {% call package_outer('mac-osx', name, icon) %}
  <div class = "file">
    <a class = "default" href="https://download.i2p2.de/experimental/i2pbrowser/macosx/I2PBrowser-8.5a7-osx64_en-US.dmg">
      <span class = "name">{{ filename }}</span>
    </a>
  </div>
  <div class = "meta">
    <div class = "hash">
      <code>{{ hash }}</code>
    </div>
  </div>
  <p>{% trans -%}
  The default is to download the english version, however it's also built for some other languages,
  please check out the link below
  if you want to see if we have the browser in your language.
  {%- endtrans %}</p>
  <a href="https://download.i2p2.de/experimental/i2pbrowser/macosx/">https://download.i2p2.de/experimental/i2pbrowser/macosx/</a>
  {% endcall %}

  {%- set name     = 'Linux' -%}
  {%- set icon     = 'images/download/freebsd-tux.png' -%}
  {%- set filename = 'i2p-browser-linux64-8.5a7_en-US.tar.xz' -%}
  {%- set hash     = '1aa6ea8e32b27bae1f765f69fe79387ab41ebe7177a8c7ffa6306e3f1bc23ea7' -%}
  {% call package_outer('freebsd-tux', name, icon) %}
  <div class = "file">
    <a class = "default" href="https://download.i2p2.de/experimental/i2pbrowser/linux64/i2p-browser-linux64-8.5a7_en-US.tar.xz">
      <span class = "name">{{ filename }}</span>
    </a>
  </div>
  <div class = "meta">
    <div class = "hash">
      <code>{{ hash }}</code>
    </div>
  </div>
  <p>{% trans -%}
  The default is to download the english version, however it's also built for some other languages,
  please check out the link below
  if you want to see if we have the browser in your language.
  {%- endtrans %}</p>
  <a href="https://download.i2p2.de/experimental/i2pbrowser/linux64">https://download.i2p2.de/experimental/i2pbrowser/linux64</a>
  {% endcall %}

</div>

<div class = "labproject" >
  <h5>{{ _('Docker image') }}</h5>
  <p>
  {% trans %}
  This is an I2P Docker image for those that prefers containers.
  It includes all required dependencies.
  {%- endtrans %}
  </p>
  {% trans %}
  Status: Proof-Of-Concept
  {%- endtrans %}

  {%- set name     = 'Linux' -%}
  {%- set icon     = 'images/download/freebsd-tux.png' -%}
  {% call package_outer('freebsd-tux', name, icon) %}
  <div class = "file">
    <a class = "default" href="https://hub.docker.com/r/meeh/i2p.i2p">
      <span class = "name">docker pull meeh/i2p.i2p</span>
    </a>
  </div>
  <p>{% trans -%}
  Run the command to pull from docker hub.
  {%- endtrans %}</p>
  {% endcall %}
</div>


{% endblock %}
