{% extends "global/layout.html" %}
{% block title %}Microsoft Windows{% endblock %}
{% block content %}
<h1>{{ _('Installing I2P, its dependencies, and recommended external software on Windows 10') }}</h1>

<p>{% trans -%}This is a detailed, step-by-step guide to installing and configuring I2P, including
all dependencies and setting up a browser, on a new Windows 10 system. Many users
will be able to skip steps if they already have Java 8 or Firefox installed.{%- endtrans %}</p>

<h2>{{ _('So what are we going to do here?') }}</h2>

<p>{% trans -%}We're going to finish four tasks. We are going to:{%- endtrans %}</p>

<ol>
<li><a href="#part-one-install-java">{% trans -%}Install Java{%- endtrans %}</a></li>
<li><a href="#part-two-install-i2p">{% trans -%}Install I2P{%- endtrans %}</a></li>
<li><a href="#part-three-install-a-real-browserfirefox">{% trans -%}Install a Better Browser(Firefox){%- endtrans %}</a></li>
<li><a href="#part-four-configure-i2p-bandwidth">{% trans -%}Configure I2P Bandwidth{%- endtrans %}</a></li>
</ol>

<h3 id="part-one-install-java">{{ _('Part One: Install Java') }}</h3>

<p>{% trans -%}In order to use I2P, you will need a suitable Java environment. On Windows, users should
probably choose Oracle's Java 8 implementation. Please install it by following the
instructions below:{%- endtrans %}</p>

<p>{% trans -%}If you already have Java installed, you may{%- endtrans %} <a href="#part-two-install-i2p">Skip This Step</a></p>

<ol>
<li>{% trans -%}I2P requires Java to run, if you don't have Java installed, you will get an error
that looks like this:{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/nojava.png" alt="Uh oh, no Java yet" title="" /></li>
</ul></li>
<li>{% trans -%}We appreciate that you have a wide range of choices in Java software, but the Oracle
Java software is the easiest to install and use with I2P on Windows.{%- endtrans %} <a href="https://java.com/en/download/">Please use this version from Oracle</a>.
<ul>
<li><img src="/_static/images/download/windows/oraclejava.png" alt="You need Oracle Java for Windows" title="" /></li>
</ul></li>
<li>{% trans -%}Download it from{%- endtrans %} <a href="https://java.com/en/download/">here</a>:
<ul>
<li><img src="/_static/images/download/windows/getjava.png" alt="So download it" title="" /></li>
</ul></li>
<li>{% trans -%}Double-click the Java Installer you just downloaded. Don't set a custom path, just
use the default one.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/startjava.png" alt="Start installing Java" title="" /></li>
</ul></li>
<li>{% trans -%}Java will show you some information about what it is and where it runs while you
wait for it to finish installing.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/installjava.png" alt="Step one" title="" /></li>
</ul></li>
<li>{% trans -%}When you see this, Java is almost installed.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/installjava2.png" alt="Step two" title="" /></li>
</ul></li>
<li>{% trans -%}Java is now installed!{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/installedjava.png" alt="You're done!" title="" /></li>
</ul></li>
</ol>

<h3 id="part-two-install-i2p">{{ _('Part Two: Install I2P') }}</h3>

<ol>
<li>{% trans -%}Download I2P from{%- endtrans %} <a href="https://geti2p.net">{% trans -%}https://geti2p.net{%- endtrans %}</a>.
<ul>
<li><img src="/_static/images/download/windows/geti2p.png" alt="Download I2P" title="" /></li>
</ul></li>
<li>{% trans -%}'I2P is available in many languages. Pick one that is familiar to you.'{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/i2plang.png" alt="Select your Language" title="" /></li>
</ul></li>
<li>{% trans -%}On the first screen, we introduce our software.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/i2pnext.png" alt="Introduction" title="" /></li>
</ul></li>
<li>{% trans -%}I2P is mostly public domain software, with permissive licenses and a small amount of GPL2'ed
Free Software.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/i2plicense.png" alt="Accept the License Agreement(or mostly lack thereof)" title="" /></li>
</ul></li>
<li>{% trans -%}You should probably leave I2P installed at the default path, as it is easiest to work with this
way.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/i2ppath.png" alt="Select the path to install to" title="" /></li>
</ul></li>
<li>{% trans -%}Don't bother running it as a Windows service for now, an easy-to-use shortcut will be added to
the start menu for you to control I2P with.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/installbase.png" alt="Select Components" title="" /></li>
</ul></li>
<li>{% trans -%}I2P will copy it's files into the install location.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/installrun.png" alt="Wait a moment" title="" /></li>
</ul></li>
<li>{% trans -%}I2P is now installed! You can start it using the "Start I2P" entries in your Start Menu and on your Desktop.{%- endtrans %} <img src="/_static/images/download/windows/installed.png" alt="Finish it up" title="" /></li>
</ol>

<h3 id="part-three-install-a-real-browserfirefox">{{ _('Part Three: Install a Better Browser(Firefox or Tor Browser)') }}</h3>

<p>{% trans -%}If you already have either Firefox or Tor Browser installed, skip the first 2 steps.{%- endtrans %}</p>

<p>{% trans -%}Unfortunately for Windows users, Microsoft Edge does not have proxy settings that are safe to use with I2P. The browser
that is easiest to configure with I2P in a reasonably good way is Firefox(Although Chrome is possible, this procedure
is only recommended for experts). I2P participants who want to browse I2P Sites can follow these steps to install
and configure Firefox for I2P.{%- endtrans %} </p>

<p>{% trans -%}If you already have Firefox installed, you may{%- endtrans %} <a href="#install-the-i2p-firefox-profile">Skip This Step</a></p>

<ol>
<li>{% trans -%}Get Firefox from{%- endtrans %} <a href="https://mozilla.org">htps://mozilla.org</a>.
<ul>
<li><img src="/_static/images/download/windows/firefox.png" alt="Get Firefox" title="" /></li>
</ul></li>
<li>{% trans -%}Run the installer.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/firefox-installer.png" alt="Run the installer" title="" /></li>
</ul></li>
</ol>

<h4>{{ _('Install the I2P Firefox Profile') }}</h4>

<ol>
<li>{% trans -%}Download the Firefox Profile Bundle from the I2P Web Site.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/profile.png" alt="Grab the Firefox Profile" title="" /></li>
</ul></li>
<li>{% trans -%}Select the language you want to use for the install process.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/profilelang.png" alt="Select your language" title="" /></li>
</ul></li>
<li>{% trans -%}The Profile Bundle incorporates lots of external software, so it has a detailed license 
document. All of the external software is Free and Open Source, with the license included.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/profilelicense.png" alt="Accpt the License Agreement" title="" /></li>
</ul></li>
<li>{% trans -%}You now have a browser ready for I2P!{%- endtrans %} <img src="/_static/images/download/windows/profiledone.png" alt="Now your browser is configured" title="" /></li>
</ol>

<h3 id="part-four-configure-i2p-bandwidth">{{ _('Part Four: Configure I2P Bandwidth') }}</h3>

<ol>
<li>{% trans -%}When you visit the I2P router console for the first time, it will automatically direct you to the bandwidth
configuration wizard.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/bwintro.png" alt="Start the bandwidth wizard" title="" /></li>
</ul></li>
<li>{% trans -%}During the bandwidth test, we'll need to connect to the external M-Lab Service, which makes{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/bwdisclaimer.png" alt="Let the participant know what the bandwidth test entails" title="" /></li>
</ul></li>
<li>{% trans -%}The bandwidth test takes about a minute to run completely.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/bwtest.png" alt="Run the bandwidth test" title="" /></li>
</ul></li>
<li>{% trans -%}Here we have an overview of the applications.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/bwbrowser.png" alt="Suggest browser and application configuration" title="" /></li>
</ul></li>
<li>{% trans -%}Now you have your bandwidth configured to efficiently contribute to I2P.{%- endtrans %}
<ul>
<li><img src="/_static/images/download/windows/bwdone.png" alt="Welcome to the Invisible Internet" title="" /></li>
</ul></li>
</ol>

<p>{% trans -%}If you want to re-run the welcome wizard after completing it, you can visit the page
on{%- endtrans %} <a href="http://localhost:7657/welcome">your router console</a>.</p>

<p>{% trans -%}That's it! You're now ready to use I2P. You can browse I2P sites, download files, host services,
e-mail and chat anonymously. Visit the <a href="https://localhost:7657/home">router console homepage</a> to
get started.{%- endtrans %}</p>

{% endblock %}
