{% extends "global/layout.html" %}
{% block title %}{% trans %}The Invisible Internet Project{% endtrans %}{% endblock %}
{% block content_outer %}
<div class="main">
  <h1>{% trans %}What does I2P do for you?{% endtrans %}</h1>
  <p>{% trans %}The I2P network provides strong privacy protections for communication over the Internet. Many activities that would risk your privacy on the public Internet can be conducted anonymously on I2P.{% endtrans %}</p>
  <a class="get-i2p" href="{{ url_for('downloads_list', lang=g.lang) }}">{% trans version=ver() %}Get I2P {{ version }}{% endtrans %}</a>
</div>
<div class="aside-wrap">
  <div class="aside">
    <h1>{% trans %}Who Uses I2P?{% endtrans %}</h1>
    <p>{% trans %}I2P is used by many people who care about their privacy, as well as those in high-risk situations such as:{% endtrans %}</p>
    <ul>
      <li><a href='#'>{{ _('Activists') }}</a></li>
      <li><a href='#'>{{ _('Oppressed People') }}</a></li>
      <li><a href='#'>{{ _('Journalists') }}</a></li>
      <li><a href='#'>{{ _('Whistleblowers') }}</a></li>
      <li><a href='#'>{{ _('The Privacy-Conscious') }}</a></li>
    </ul>
  </div>
  <div class="aside">
    <h1>{{ _('What can you do with I2P?') }}</h1>
    <ul>
      <li>
      <a href="{{ site_url('docs/applications/supported') }}#email">Email</a> Integrated web mail interface, plugin for serverless email.
      </li>
      <li>
      <a href="{{ site_url('docs/applications/supported') }}#web-browsing">Web browsing</a> Anonymous websites, gateways to and from the public Internet.
      </li>
      <li>
      <a href="{{ site_url('docs/applications/supported') }}#blogging-and-forums">Blogging and forums</a> Blogging and Syndie plugins.
      </li>
      <li>
      <a href="{{ site_url('docs/applications/supported') }}#website-hosting">Website hosting</a> Integrated anonymous web server.
      </li>
      <li>
      <a href="{{ site_url('docs/applications/supported') }}#real-time-chat">Real-time chat</a> Instant messaging and IRC clients.
      </li>
      <li>
      <a href="{{ site_url('docs/applications/supported') }}#file-sharing">File sharing</a> ED2K and Gnutella clients, integrated BitTorrent client.
      </li>
      <li>
      <a href="{{ site_url('docs/applications/supported') }}#decentralized-file-storage">Decentralized file storage</a> Tahoe-LAFS distributed filesystem plugin.
      </li>
      <li>
      <a href="{{ site_url('docs/applications/supported') }}"><em>More supported applications&hellip;</em></a>
      </li>
    </ul>
  </div>
  <div class="aside">
    <h1>{% trans %}News &amp; Updates{% endtrans %}</h1>
      {% include "blog/latest.html" %}
  </div>
</div>
{% endblock %}
