{% extends "global/layout.html" %}
{% block title_outer %}{{ _('I2P Anonymous Network') }}{% endblock %}
{% block title %}{{ _('The Invisible Internet Project') }}{% endblock %}
{% block metadesc %}{{ _('Anonymous peer-to-peer distributed communication layer built with open source tools and designed to run any traditional Internet service such as email, IRC or web hosting.') }}{% endblock %}
{% block content_outer %}
<div class="main">
  <img src="{{ url_for('static', filename='images/undraw_group_chat_v059.svg') }}" class="home_splash_image" />
  <h1>{{ _('What does I2P do for you?') }}</h1>
  <p>{% trans %}The I2P network provides strong privacy protections for communication over the Internet. Many activities that would risk your privacy on the public Internet can be conducted anonymously inside I2P.{% endtrans %}</p>
  <a class="get-i2p" href="{{ url_for('downloads_list', lang=g.lang) }}">{% trans version=ver() %}Get I2P {{ version }}{% endtrans %}</a>
</div>
<div class="aside-wrap">
  <div class="aside">
    <h1>{% trans %}What is I2P?{% endtrans %}</h1>
    <ul>
      <li>{% trans -%}I2P is an anonymizing network, offering a simple layer that identity-sensitive applications can use to securely communicate.
{% endtrans %}</li>
      <li>{% trans -%}I2P is used by many people who care about their privacy: activists, oppressed people, journalists and whistleblowers, as well as people with nothing to hide.
{% endtrans %}</li>
      <li>{% trans -%}All data is wrapped with several layers of encryption, and the network is both distributed and dynamic, with no trusted parties.
{% endtrans %}</li>
      <li>{% trans -%}It is intended to protect communication and resist monitoring by third parties such as ISPs.
{% endtrans %}</li>
      <li>
        <a href="{{ site_url('about/intro') }}"><em>{% trans %}Read more&hellip;{% endtrans %}</em></a>
      </li>
    </ul>
  </div>
  <div class="aside">
    <a href="{{ url_for('blog_atom', lang=g.lang) }}" class="feed-icon" title="{{ _('I2P Blog ATOM Feed') }}">{{ _('I2P Blog ATOM Feed') }}</a>
    <h1>{% trans %}News &amp; Updates{% endtrans %}</h1>
      {% include "blog/latest.html" %}
  </div>
  <div class="aside">
    <h1>{% trans %}Conferences Calendar 2019{% endtrans %}</h1>
      <p>I2P Developers will be visiting these conferences this year:</p>
      <ul>
        <li>RightsCon ( 11-14 June 2019, Tunis, Tunisia)</li>
        <li>Internet Freed Festival( 1- 5 April 2019, Valencia, Spain)</li>
        <li>DEF CON 27 (August 8-11, Hollywood, Las Vegas)</li>
      </ul>
  </div>
</div>
{% endblock %}
