body {
	font-family: "Lucida Sans Unicode", Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 10pt;
	color: #fff;
	margin: 1em 0em;
	padding: 0em;
	text-align: center;
	background-color: #002;
/*	background-image: url("/_static/images/bg1.png"); */
	background-repeat: repeat;
	background-position: top center;
/*	color: black;*/
}

a:link{color:#99f}
a:visited{color:#606}
a:hover{color:#ff6600}
a:active{color:#900}

.hide {
	display: none;
}

img {
	border: none
}

div.logo {
	float: left;
/*	left: 1em;
	top: 1em;
	margin: 0em; */
	left: 10px;
	top: 0px;
/*	padding: .5em;*/
  padding: 7px 10px 0px 20px;
	text-align: left;
  font-color: #fff;
}

div.menu {
	/* width: 8em; */
	/* height: 5em; */
	/* position: fixed; */
 	float: left;
	/* left: 1em; */
	/* top: 1em; */
	/*margin: 0em;*/
/*	padding: .5em;*/
	margin: 0px 20px 20px 0px;
	padding: 5px 20px 20px 20px;
	text-align: left;
	border: 1px solid #99f;
	border-top: 1px solid #99f;
	border-left: 0px;
	background-color: #003;
	color: white;
	font-size: 8pt;
	clear: left; /* fixes a bug in Opera */
	-moz-border-radius: 0px 0px 4px 0px;
/*  -moz-box-shadow: 0 2px 2px 1px #bbbbff; */
}

/*
div.menu a:link {
border:1px solid #000022;
border-left: 3px solid #000022;
margin: 10px 0;
padding: 2px 5px;
text-decoration: none;
line-height: 240%;
-moz-border-radius: 3px 3px 3px 3px;
background-color: #9999ff;
}
*/

/*
div.menu a:link{color:#99f;margin: 15px 0;padding: 0px 5px 0px 10px; border-left: 5px solid #99f;line-height: 240%; text-decoration: none;}
*/
div.menu a:link{color:#99f;}
div.menu a:visited{color:#60f}
div.menu a:hover{color:#ff6600;}
/* div.menu a:hover{color:#ff6600;border-left: 5px solid #fff;}*/
div.menu a:active{color:#900}

div.warning {
	margin: 0em 1em 1em 12em;
	padding: .5em 1em;
	background-color: #FEE;
	border: medium solid #FBB;
	text-align: left;
	color: inherit;
}

div.main {
	margin: 0px 0px 0px 0px;
	padding: 25px 40px 20px 190px;
	background-color: #001;
	text-align: justify;
	color: #eeeeff;
	border-top: 1px solid #99f;
	border-bottom: 1px solid #99f;
}

div.main h1 {
	text-align: left;
	color: #99f;
	padding-left: 10px;
	margin-bottom: 20px;
	margin-top: 5px;
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0.06em;
	text-shadow: 0px 0px 1px rgba(0, 0, 176, 0.9);
  white-space: normal; 
	background-color: #002;
  /* -moz-box-shadow: 0 2px 2px 1px #ccccff; */
	/*	background-image: url(/_static/images/dots.png);
	background-position: right center;
	background-repeat:  no-repeat;*/
	border: 1px solid #99f;
}

.links {

}

.links ul {
list-style-image: url(/_static/images/link_dark.png);
margin: 0 5px 0 0px;
padding: 0px 5px;
}

.links ul li {
list-style-image: url(/_static/images/link_dark.png);
margin: 0 5px 0 40px;
padding: 0px 5px;
}

/*
li.gap {
	margin-top: 1em;
	margin-bottom: 1em;
} */

li {
  padding: 5px 0px 5px 0px;
	margin: 0px 10px;
}

li.gap {
	margin: 10px 10px;
}

span.permalink {
	font-size: x-small;
}

ul {
  margin: 10px 20px 15px 20px;
  padding: 5px 0px 5px 20px;
/*	-moz-border-radius: 4px 4px 4px 4px; */
  /* border: 1px solid #00033; */
  /* background-color: #000029; */
}

.irclog p {
	font-size: small;
	margin: 0 0 0 4em;
	text-indent: -4em;
}
 
h1 {
  color: #9999ff;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.9);
	text-align: right;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-style: italic;
	font-size: 22pt;
	font-weight: lighter;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	white-space: nowrap; 
	-moz-border-radius: 4px 4px 4px 4px; 
	/*
	border: 1px solid #000022;
	background-color: #000022; */
}  


h2{
  color: #099f;
	text-shadow: 0px 0px 1px rgba(0, 0, 128, 0.9);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #99f;
	padding-bottom: 5px;
}  


h3{
  color: #099f;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #99f;
	padding-bottom: 3px;
	text-shadow: 0px 0px 1px rgba(0, 0, 176, 0.9);
	font-size: 11pt;
}


a.fade img {
filter:alpha(opacity=100); 
-moz-opacity: 1; 
opacity: 1;
/*padding: 5px 0px;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;*/
}

a.fade:hover img {
filter:alpha(opacity=50);   
-moz-opacity: 0.5;   
opacity: 0.5;
/*padding: 5px 0px;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;*/
}

.news {
	margin: 0px 5px 0px 5px;
	padding: 10px 15px 15px 15px;
	border: 1px solid #99f;
	background-color: #000033;
	color: white;
	-moz-border-radius: 4px 4px 4px 4px;
 /* -moz-box-shadow: 0 2px 2px 1px #bbbbff; */
  float: left;
	width: auto;
  text-align: left;
}

.version {
	margin: 0px 20px 30px 5px;
	padding: 10px 15px 15px 15px;
	border: 1px solid #99f;
	background-color: #000055;
	color: white;
	-moz-border-radius: 4px 4px 4px 4px;
 /* -moz-box-shadow: 0 2px 2px 1px #bbbbff; */
  float: left;
	width: auto;
	text-align: left;
}

.box {
	margin: 30px 0px 5px 0px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #000022;
	background-color: #ffffff;
	color: black;
	font-size: 8pt;
	-moz-border-radius: 4px 4px 4px 4px;
	/* -moz-box-shadow: 0 2px 2px 1px #bbbbff; */
	clear: both;
	width:auto;
	align: center;
	}
	
	.underline {
	 border-bottom: 1px solid #99f;
	 padding: 5px 0px 5px 0px;
	 margin: 0px 0px 10px 0px;
	 -moz-border-radius: 4px 4px 4px 4px;
	 }
	  
	 pre {
	 /*width: 100px;*/
	 white-space: pre-wrap;
	 font-size: 9pt;
	 }
	 
	 table {
	border-collapse: collapse;
	width: 100%;
  border: 1px solid #000022;
	margin: 10px 0px 10px 0px;
	cell-padding: 5px;
	}
	
table.invisible {
	border-collapse: collapse;
	width: 100%;
  border: 0px none #eeeeff;
	margin: 10px 0px 10px 0px;
	background-color: #000011;
	}

th {
	padding: 0 10px;
	text-align: left;
	}

tr.invisible td {
	background: #000011;}

tr:first-child {
  background-color: #ff6600;
	}
		
td {
	border: 1px solid #99f;
	padding: 10px 10px;
	background: #000011;
	}

td.invisible {
	border: 1px solid #000011;
	padding: 10px 10px;
	background: #001;
	}

td:first-child {
  background-color: #001;
	padding: 10px 10px;
	}
	
td+td {
	border: 1px solid #99f;
	text-align: left;
  background-color: #001;	
	}

tr {
	background-color: #001;
	}
	
	.lang {
	padding: 0 5px 0 5px;
	}
	
	.langbox {
	margin: 10px 0px 10px 0px;
	padding: 7px 0 5px 0;
	border: 1px solid #99f;
	background-color: #003;
	color: black;
	font-size: 8pt;
	-moz-border-radius: 4px 4px 4px 4px;
	/* -moz-box-shadow: 0 2px 2px 1px #bbbbff; */
	clear: both;
	width:auto;
	align: center;
	}

		.themebox {
	  margin: 4px 0px 10px 0px;
	  padding: 5px 0 3px 0;
	  border: 1px solid #99f;
	  background-color: #003;
	  color: black;
	  font-size: 8pt;
	  -moz-border-radius: 4px 4px 4px 4px;
/*  -moz-box-shadow: 0 2px 2px 1px #bbbbff; */
	  clear: both;
	  width:auto;
	  align: center;
	}

.footer {
	font-size: 8pt;
	text-align: center;
	padding: 8px 0 0 0;
	}
	
.toc {
	border: 1px solid #bbbbff;
	font-size: 8pt;
	background-color: #bbbbff;
	word-wrap: none;
	text-indent: 10px;
	padding: 0px;

}
.contentlist {
	line-height: 40%;
	list-style-type: square;
}

.helplist {
	list-style-image: url(/_static/images/help_dark.png);
}