body {
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	margin: 1em 0em;
	padding: 0em;
	text-align: center;
	background-color: #EEE;
	color: black;
}
a:link{color:#007}
a:visited{color:#606}
a:hover{color:#720}
a:active{color:#900}

.hide {
	display: none;
}

img {
	border: none;
}

div.logo {
	float: left;
	left: 1em;
	top: 1em;
	margin: 0em;
	padding: .5em;
	text-align: left;
}

div.menu {
	/* width: 8em; */
	/* height: 5em; */
	/* position: fixed; */
	float: left;
	/* left: 1em; */
	/* top: 1em; */
	margin: 0em;
	padding: .5em;
	text-align: left;
	border: medium solid #DDF;
	background-color: #EEF;
	color: inherit;
	font-size: small;
	clear: left; /* fixes a bug in Opera */
}

div.warning {
	margin: 0em 1em 1em 12em;
	padding: .5em 1em;
	background-color: #FEE;
	border: medium solid #FBB;
	text-align: left;
	color: inherit;
}

div.main {
	margin: 0em 1em 1em 12em;
	padding: .5em 1em;
	background-color: #FFE;
	border: medium solid #FFC;
	text-align: left;
	color: inherit;
}

li.gap {
	margin-top: 1em;
	margin-bottom: 1em;
}

span.permalink {
	font-size: x-small;
}

.irclog p {
	font-size: small;
	margin: 0 0 0 4em;
	text-indent: -4em;
}
